@use '../../global/scss/tools' as nsw;

.nsw-back-to-top {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  inset-inline-end: 1rem;
  inset-block-end: 1rem;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  text-decoration: none;

  @include nsw.breakpoint('md') {
    flex-direction: row;
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &.nsw-button {
    padding: 1rem;
    border: 0;

    @include nsw.breakpoint('md') {
      padding: 0.625rem 1.375rem;
    }

    .nsw-material-icons:last-child {
      margin-inline-start: 0;

      @include nsw.breakpoint('md') {
        letter-spacing: -0.25rem;
      }
    }
  }
}
