<button type="button" class="nsw-button nsw-button--dark nsw-button--flex nsw-back-to-top js-back-to-top">
  <span>Back to top</span>
  <span class="material-icons nsw-material-icons" title="back to top" focusable="false" aria-hidden="true">north</span>
</button>