<button type="button" class="nsw-button nsw-button--dark nsw-back-to-top js-back-to-top" data-offset="400">
  <span>Back to top</span>
  <span class="material-icons nsw-material-icons">north</span>
</button>