// sass-lint:disable no-color-hex

// Base font size
$base-font-size: 16px;

// unit used for all type and grid calculations
$unit: 4 !default;

// primary font stack
$font-stack: 'Montserrat', Arial, sans-serif !default;
$font-weight-regular: 400 !default;
$font-weight-heading: 600 !default;

//Font sizes presets (mobile, desktop)
$font-sizes: (
  xs:   (14px, 14px),
  sm:   (16px, 16px),
  md:   (18px, 20px),
  lg:   (20px, 24px),
  xl:   (24px, 28px),
  xxl:  (26px, 32px),
  xxxl: (32px, 56px)
) !default;

$font-size-reponsive-breakpoint: 'md';

// Lineheight mapping
$line-height: (
  nospace:  1,
  default:  1.25,
) !default;

$transition-base:           all 0.25s ease-in-out !default;
$border-radius:             4px !default;
$border-width:              1px !default;
$accent-width-small:        2px !default;
$accent-width-large:        6px !default;
$outline-width:             2px !default;
$outline-width-borderless:  3px !default;

$stroke-widths: (
  xs: 8px,    //0.5rem
  sm: 16px,   //1rem
  md: 24px,   //1.5rem
  lg: 36px,   //2.25rem
) !default;

// Spacing
$spacing: (
  none: 0,
  xs:   8px,    //0.5rem
  sm:   16px,   //1rem
  md:   24px,   //1.5rem
  lg:   36px,   //2.25rem
  xl:   60px,   //3.75rem
  xxl:  88px   //5.5rem
) !default;

// Predefined Colours and their names

// Brand
$nsw-primary-blue:      #002664 !default;
$nsw-primary-highlight: #d7153a !default;
$nsw-secondary-blue:    #2e5299 !default;
$nsw-tertiary-blue:     #00abe6 !default;

// Shades
$dark80:  #333333 !default;
$dark70: 	#4c4f55 !default;
$dark60: 	#6d7079 !default;
$light40: #a0a5ae !default;
$light20: #e4e4e6 !default;
$light10: #f4f4f7 !default;
$white:   #ffffff !default;

// Notifications
$info-blue:      #2e5299 !default;
$success-green:  #00a908 !default;
$warning-orange: #dc5800 !default;
$error-red:      #b81237 !default;

$focus-color: $nsw-tertiary-blue !default;
$hover-colour: rgba($nsw-tertiary-blue, 0.2);

//Links
$link-color: $nsw-primary-blue;
$link-hover--outline-color: rgba($nsw-tertiary-blue, 0.2);

// Breakpoints
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
) !default;

$icon-colors: (
  error: $error-red,
  success: $success-green,
  info: $info-blue,
  warning: $warning-orange,
  default: $nsw-primary-blue,
) !default;

// Container
$container-offset: 16px;
$container-max-width: 1200px;

// Grid
$grid-gutters: 8px;
$grid-container-offset: -($grid-gutters);
$grid-margins: (
  xs: 8px,
  sm: 8px,
  md: 8px,
  lg: 32px,
);
$grid-margin-top: 16px;

$grid-col-sizes: (
  xs: (
    half: 50%,
  ),
  sm: (
    third: 33.3%,
    two-thirds: 66.6%,
    quarter: 50%,
    three-quarters: 50%
  ),
  md: (
    quarter: 25%,
    three-quarters: 75%
  )
)
