---
title: Graphic elements
order: 70
no-blank: true
directory: graphic elements
core: true
intro: Give your product a distinctly NSW look and feel
---


<p>Graphic elements are small design details which make your work recognisable as NSW Government. Because they play an important role creating consistency across NSW Government, they're required to meet digital branding.</p>

<h2>Logo positioning</h2>
<p>Position the NSW Government logo in the top left, and use a clear space equal to half the size of the 'N'. From 1st December 2021, don't use 'lock up' logos with a line and department name.</p>
<p><img src="assets/images/waratah-spacing.png" height="200" width="527" alt="Waratah logo spacing diagram"></p>


<p>Using the <a href="components/header/index.html">header component</a> will automatically give you a brand compliant logo.</p>

<h2>Border radius</h2>
<p>Use a 4px border radius on clickable objects, such as:</p>
<ul>
    <li>Cards</li>
    <li>Buttons</li>
    <li>Form fields</li>
    <li>Checkboxes</li>
</ul>

<h2>Drop shadow</h2>
<p>Use a drop shadow for 'floating' objects which are dismissable, such as:</p>
<ul>
    <li>Mega menu navigation</li>
    <li>Predictive list</li>
    <li>Dialogues</li>
</ul>

<h2>The "Line System"</h2>
<p>The NSW brand line is a solid border on one side of an object or container. It's width can be 2px, 4px or 6px depending on where it is being used. You can use it to:</p>
<ul>
    <li>aid information hierarchy</li>
    <li>support navigational structure</li>
    <li>highlight an active nav item</li>
    <li>segment sections of content</li>
    <li>separate blocks of content</li>
</ul>

<p>Examples of the brand line adding visual consistency can be seen in the <a href="components/tabs/">tabs</a>, <a href="components/card/index.html">card</a>, and <a href="components/in-page-nav/index.html">in-page navigation</a> components.</p>

<p><a href="core/section/index.html">Sections</a> and banners can also be used to apply the line system to segment content. </p>
