---
title: Graphic elements
order: 70
no-blank: true
directory: graphic elements
core: true
intro: Give your product a distinctly NSW look and feel
meta-description: NSW Design System graphic elements that make digital products and services recognisable as NSW Government.
meta-index: true
---


<p>Graphic elements are small design details which make your work recognisable as NSW Government. They play an important role creating consistency across interactions and hierarchy, and are required to meet digital branding.</p>

<h2>Logo positioning</h2>
<p>Position the NSW Government logo in the top left, and use a clear space equal to 100% of the width of the ‘N’. From 1st December 2021, don't use 'lock up' logos with a line and department name.</p>
<p>Full requirements can be found in the <a href="/core/logo/index.html">Logo</a> guidance. Using the <a href="/components/header/index.html">header component</a> will automatically give you a brand compliant logo.</p>
<p><img src="/assets/images/logo-clear-space.png" height="200"  alt="Waratah logo spacing diagram" ></p>


<h2>Border radius</h2>
<p>Use a 4px border radius on clickable containers and inputs. This reinforces to the user that the element is interactive, such as:</p>
<ul>
    <li><a href="/components/card/index.html">Cards</a></li>
    <li><a href="/components/button/index.html">Buttons</a></li>
    <li><a href="/components/form/index.html">Form fields</a></li>
    <li><a href="/components/form/index.html">Checkboxes</a></li>
</ul>

{{#>_docs-example simple="true" showcode="false" separated="true"}}
  <div class="nsw-grid">
    <div class="nsw-col nsw-col-lg-6">
      <div class="nsw-card nsw-card--headline">
        <div class="nsw-card__content">
          <h2 class="nsw-card__title">
            <a href="#" class="nsw-card__link">Health and care</a>
          </h2>
          <span class="material-symbols-outlined nsw-material-symbols-outlined nsw-card__icon" focusable="false" aria-hidden="true">east</span>
        </div>
      </div>
    </div>
  </div>
  <div class="nsw-form__group">
    <label class="nsw-form__label" for="form-text-1">Name</label>
    <input class="nsw-form__input" type="text" id="form-text-1" name="form-text-1">
  </div>
{{/_docs-example}}



<h2>Drop shadow</h2>
<p>Use a drop shadow for 'floating' objects which are dismissable, such as:</p>
<ul>
    <li><a href="/components//main-nav/index.html">Mega menu navigation</a></li>
    <li><a href="/components/form/index.html">Predictive list</a></li>
    <li>Dialogues</li>
</ul>

<h3>Application</h3>

<div class="nsw-section nsw-section--white nsw-block nsw-p-sm">
  <div class="nsw-table nsw-table--bordered nsw-table--valign-top">
    <table>
      <tbody>
        <tr>
          <th style="width: 33%">
            <div>
              <p>Specs</p>
            </div>
          </th>
          <th style="width: 33%">
            <div>
              <p>Figma</p>
            </div>
          </th>
          <th style="width: 33%">
            <div>
              <p>Class</p>
            </div>
          </th>
        </tr>
        <tr>
          <td>
            <p>X: 0<br />
            Y: 4<br />
            Blur: 12<br />
            Spread: 0<br />
            Colour: Black (#000000)<br />
            Opacity: 15%</p>
          </td>
          <td>
            <p>Select element and apply <strong>Floating drop shadow</strong> style under Effects. </p>
            <p><img src="/assets/images/graphic-elements-drop-shadow.png" width="100%"  alt="Figma screenshot of drop shadow style displayed under Effects" ></p>
          </td>
          <td>
            <p><code>nsw-box-shadow</code></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h3>Examples</h3>

{{#>_docs-example simple="true" showcode="false" separated="true"}}
  <div class="nsw-form__group">
    <label class="nsw-form__label" for="form-predictive-text-1">Suburb</label>
    <div class="nsw-form__predictive">
      <input class="nsw-form__input" type="text" id="form-predictive-text-1" name="form-predictive-text-1" value="Horn" aria-autocomplete="list" autocomplete="off">
      <ul class="nsw-form__predictive-list">
        <li><a href="#"><span>Horn</span>sby</a></li>
        <li><a href="#"><span>Horn</span>sby Heights</a></li>
        <li><a href="#"><span>Horn</span>ingsea Park</a></li>
      </ul>
    </div>
  </div>
  <br><br><br><br><br><br>
{{/_docs-example}}

<h2>The "Line System"</h2>
<p>The NSW brand line is a consistent use of the line system to aid hierarchy and navigation in digital. It's applied as a solid border on one side of an object or container. It's width can be 2px, 4px or 6px depending on where it is being used. You can use it to:</p>
<ul>
    <li>aid information hierarchy</li>
    <li>support navigational structure</li>
    <li>highlight an active nav item</li>
    <li>segment sections of content</li>
    <li>separate blocks of content</li>
</ul>

<h3>Application</h3>

<div class="nsw-section nsw-section--white nsw-block nsw-p-sm">
  <div class="nsw-table nsw-table--bordered nsw-table--valign-top">
    <table>
      <tbody>
        <tr>
          <th style="width: 33%">
            <div>
              <p>Specs</p>
            </div>
          </th>
          <th style="width: 33%">
            <div>
              <p>Class</p>
            </div>
          </th>
        </tr>
        <tr>
          <td>
            <p>Width: 2px, 4px or 6px<br/>
              Colour: Brand Accent<br/>
              Minimum padding from text: 16px</p>
          </td>
          <td>
            <p><a href="/docs/content/utilities/borders.html">View Helper classes</a></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h3>Examples</h3>

<p>Examples of the brand line adding visual consistency can be seen in the <a href="/components/tabs/">tabs</a>, <a href="/components/card/index.html">card</a>, and <a href="/components/in-page-nav/index.html">in-page navigation</a> components.</p>

{{#>_docs-example simple="true" showcode="false" separated="true"}}
  <div class="nsw-tabs js-tabs">
  <ul class="nsw-tabs__list">
    <li><a href="#section1">Vacant land</a></li>
    <li><a href="#section2">New and existing homes</a></li>
    <li><a href="#section3">Knockdown rebuild</a></li>
  </ul>
  <section id="section1" class="nsw-tabs__content">
    <h2>Vacant land</h2> <p>The FHBAS applies to vacant land on which you plan to build your home.</p><p>You won’t pay any <a href='https://www.revenue.nsw.gov.au/taxes-duties-levies-royalties/transfer-duty'>transfer duty</a> if your land is valued at less than $350,000. For land valued between $350,000 and $450,000, you’ll receive a concessional rate.</p>
  </section>
  <section id="section2" class="nsw-tabs__content">
    <h2>New and existing homes</h2><p>As a first home buyer, you may be eligible for a <a href='https://www.revenue.nsw.gov.au/taxes-duties-levies-royalties/transfer-duty'>transfer duty</a> concession or exemption.</p><ul><li>If your home is valued at less than $650,000, you can apply for a full exemption so that you don’t have to pay transfer duty.</li><li>If the value of your home is between $650,000 and $800,000, you can apply for a concessional rate of transfer duty. The amount you’ll have to pay will be based on the value of your home.</li></ul>
  </section>
  <section id="section3" class="nsw-tabs__content">
    <h2>Knockdown rebuild</h2> <p>If you’re like many Sydney homeowners, you wish you had a more spacious and luxurious home. The problem is, you don’t want to give up your prized location!<br/>KnockDown Rebuild by Metricon gives you the best of both worlds.</p>
  </section>
  <br/>
    <nav class="nsw-in-page-nav" aria-labelledby="in-page-nav">
        <div id="in-page-nav" class="nsw-in-page-nav__title">On this page</div>
        <ul>
            <li>
            <a href="#">First home buyer grant and assistance</a>
            </li>
            <li>
            <a href="#">Buying and selling property</a>
            </li>
            <li>
            <a href="#">Building or renovating a home</a>
            </li>
        </ul>
    </nav>
</div>
{{/_docs-example}}

<p><a href="/core/section/index.html">Sections</a> and banners can also be used to apply the line system to segment content. </p>
