.nsw-popover {
  display: none;
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 260px;
  max-width: 260px;
  border-radius: var(--nsw-border-radius);
  box-shadow: var(--nsw-box-shadow);
  line-height: var(--nsw-line-height-md-desktop);
  background-color: var(--nsw-white);
  color: var(--nsw-text-dark);

  @include z-index('upper');
  @include font-size('xs');

  &:focus,
  &:active {
    @include nsw-focus(false);
  }

  &.active {
    display: inline-block;
  }
}
