@use '../../global/scss/tools' as nsw;

.nsw-popover {
  display: none;
  inline-size: max-content;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  min-inline-size: nsw.rem(280px);
  max-inline-size: nsw.rem(280px);
  border-radius: var(--nsw-border-radius);
  box-shadow: var(--nsw-box-shadow);
  background-color: var(--nsw-white);

  @include nsw.z-index('upper');

  &:focus,
  &:active {
    @include nsw.nsw-focus(false);
  }

  &.active {
    display: inline-block;
  }
}
