@use '../../global/scss/base/functions' as functions;
@use '../../global/scss/base/mixins' as mixins;

.nsw-popover {
  display: none;
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  min-width: functions.rem(280px);
  max-width: functions.rem(280px);
  border-radius: var(--nsw-border-radius);
  box-shadow: var(--nsw-box-shadow);
  background-color: var(--nsw-white);

  @include mixins.z-index('upper');

  &:focus,
  &:active {
    @include mixins.nsw-focus(false);
  }

  &.active {
    display: inline-block;
  }
}
