---
title: Popover
width: narrow
page: true
---

{{#>_layout-container}}
<h3>Top</h3>

<div class="nsw-list nsw-list--8">
  {{#each model.top}}
{{>_popover style="dark" icon="expand_less" icon-after="true" text=this id=@index position=@key gap="10"}}
  {{/each}}
</div>

<h3>Right</h3>

<div class="nsw-list nsw-list--8">
  {{#each model.right}}
{{>_popover style="dark" icon="chevron_right" icon-after="true" text=this id=@index position=@key gap="10"}}
  {{/each}}
</div>

<h3>Bottom</h3>

<div class="nsw-list nsw-list--8">
  {{#each model.bottom}}
{{>_popover style="dark" icon="expand_more" icon-after="true" text=this id=@index position=@key gap="10"}}
  {{/each}}
</div>

<h3>Left</h3>

<div class="nsw-list nsw-list--8">
  {{#each model.left}}
{{>_popover style="dark" icon="expand_more" icon-after="true" text=this id=@index position=@key gap="10"}}
  {{/each}}
</div>
{{/_layout-container}}