@import './src/main';

$content-width: 768px;

.nsw-docs {
  :not(pre) code {
    padding: 0.2rem;
    background: var(--nsw-grey-04);
    border-radius: var(--nsw-border-radius);
  }

  &--light {
    .nsw-docs__main {
      background-color: var(--nsw-white);
    }
  }

  &__wrapper {
    @include breakpoint('xl') {
      display: flex;
    }
  }

  &__nav {
    display: none;
    min-width: rem(300px);
    max-width: rem(300px);

    @include breakpoint('xl') {
      display: block;
    }
  }

  &__main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--nsw-off-white);

    .nsw-docs__example {
      padding: rem(16px);
      background-color: var(--nsw-white);
    }

    &--narrow,
    &--menu {
      .nsw-docs__demo {
        max-width: rem($content-width + 32px);

        @include breakpoint('xl') {
          max-width: rem($content-width + 104px);
        }
      }
    }

    &--wide {
      .nsw-docs__demo {
        max-width: calc(var(--nsw-container-width) + #{rem(32px)});

        @include breakpoint('xl') {
          max-width: calc(var(--nsw-container-width) + #{rem(104px)});
        }
      }
    }

    &--menu {
      .nsw-docs__component {
        max-width: rem(336px);
      }
    }
  }

  &__container {
    max-width: rem($content-width + 32px);

    @include breakpoint('xl') {
      max-width: rem($content-width + 104px);
    }
  }

  &__intro {
    background-color: var(--nsw-white);

    .nsw-docs__container {
      padding: rem(24px) rem(16px);

      @include breakpoint('xl') {
        padding: rem(48px) rem(52px);
      }
    }

    &--tabs {
      margin-bottom: rem(-48px);

      .nsw-docs__container {
        padding-bottom: rem(78px);

        @include breakpoint('xl') {
          padding-bottom: rem(88px);
        }
      }
    }
  }

  &__tabs {
    flex-grow: 1;
  }

  &__content {
    padding: rem(24px) rem(16px);
    flex-grow: 1;

    @include breakpoint('xl') {
      padding: rem(48px) rem(52px);
    }
  }

  &__example {
    &--hidden {
      display: none;
    }

    &.nsw-docs__example--dark {
      background-color: var(--nsw-grey-01);
    }
  }

  &__demo {
    > h3 {
      padding: rem(16px) 0;

      &:first-child {
        padding-top: 0;
      }

      + p {
        margin-top: rem(-12px);
        padding-bottom: rem(16px);
      }

      + h4 {
        padding-top: 0;
      }
    }

    > h4 {
      padding: rem(16px) 0;
    }
  }

  &__component {
    &::after {
      content: '';
      clear: both;
      display: table;
    }
  }

  &__back {
    display: flex;
    padding: rem(24px) rem(16px);

    @include breakpoint('xl') {
      display: none;
    }

    a {
      font-weight: var(--nsw-font-bold);
      font-size: rem(14px);
      color: var(--nsw-brand-dark);
      border: 0;
      text-decoration: none;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        @include nsw-hover;
      }

      &:focus {
        @include nsw-focus;
      }

      span {
        text-decoration: underline;
      }

      i {
        font-size: rem(16px);
        margin-right: rem(4px);
      }
    }
  }

  &__external-link {
    padding-top: rem(8px);
    display: flex;
  }

  &__external {
    font-weight: var(--nsw-font-bold);
    font-size: rem(14px);
    color: var(--nsw-brand-dark);
    border: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
      @include nsw-hover;
    }

    &:focus {
      @include nsw-focus;
    }

    span {
      text-decoration: underline;
    }

    i {
      font-size: rem(16px);
      margin-left: rem(4px);
    }
  }

  &__list {
    margin: rem(16px) 0 0 0;
    padding: 0;
    list-style-type: none;

    &--4 {
      column-gap: rem(36px);
      column-count: 2;

      @include breakpoint('lg') {
        column-count: 4;
      }
    }

    &--2 {
      @include breakpoint('lg') {
        column-gap: rem(36px);
        column-count: 2;
      }
    }

    li {
      padding: rem(2px) 0;
    }
  }

  &__box {
    background-color: var(--nsw-grey-03);
    min-height: rem(56);

    &--large {
      min-height: rem(150);
    }
  }

  &__section {
    &--dark {
      background-color: var(--nsw-grey-01);
      padding: rem(8px);
      margin: rem(8px) rem(-8px) 0 rem(-8px);
    }

    &--light {
      padding: rem(8px);
      margin: rem(8px) rem(-8px) 0 rem(-8px);
    }

    &--spaced {
      @include component-spacing();
    }
  }
}

.nsw-docs-code {
  position: relative;

  &__button {
    @include link;
    font-weight: var(--nsw-font-bold);
    font-size: rem(14px);
    background: transparent;
    border: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: rem(24px);
    cursor: pointer;
    padding: 0;

    span {
      text-decoration: underline;
    }

    i {
      font-size: rem(20px);
      margin-left: rem(2px);
    }

    &.open {
      i {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    position: relative;
    display: none;
    margin-top: rem(24px);
    max-width: rem(800px);

    &.open {
      display: block;
    }

    pre {
      margin: 0;
    }

    .hljs {
      padding: rem(16px);
      overflow: visible;
      background-color: transparent;
    }
  }

  &__wrapper {
    min-height: rem(68px);
    max-width: rem(800px);
    max-height: rem(400px);
    overflow: auto;
    background-color: var(--nsw-white);
  }

  &__copy {
    border-radius: var(--nsw-border-radius);
    font-weight: var(--nsw-font-bold);
    font-size: rem(14px);
    background-color: var(--nsw-white);
    color: var(--nsw-brand-dark);
    border: 1px solid var(--nsw-brand-dark);
    text-decoration: none;
    display: flex;
    align-items: center;
    position: absolute;
    top: rem(16px);
    right: rem(16px);
    padding: rem(8px);

    &:hover {
      background-color: var(--nsw-grey-04);
    }

    &:focus {
      @include nsw-focus;
    }

    i {
      font-size: rem(16px);
      margin-left: rem(4px);
    }
  }
}

.nsw-docs-nav {
  @include z-index('upper');
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: rem(300px);
  overflow-y: auto;
  border-right: 1px solid var(--nsw-grey-04);
  background-color: var(--nsw-white);

  &__logo {
    padding-bottom: rem(40px);

    img {
      max-width: rem(168px);
      max-height: rem(55px);
    }
  }

  &__wrapper {
    padding: rem(30px) rem(16px);
  }

  &__title {
    a,
    button {
      @include font-size('sm');
      background: transparent;
      border: 0;
      border-bottom: solid 1px var(--nsw-grey-04);
      display: block;
      width: 100%;
      padding: rem(8px);
      text-align: left;
      color: var(--nsw-text-dark);
      text-decoration: none;

      &:hover {
        @include nsw-hover;
      }

      &:focus {
        @include nsw-focus;
      }

      &.active {
        font-weight: var(--nsw-font-bold);
      }
    }

    &--main {
      a,
      button {
        font-weight: var(--nsw-font-bold);
        border-bottom: solid 2px var(--nsw-brand-dark);
      }
    }

    button {
      display: flex;
      align-items: center;
      color: var(--nsw-text-dark);

      &.open {
        .nsw-material-icons {
          transform: rotate(180deg);
        }
      }

      &.active {
        font-weight: var(--nsw-font-bold);
      }

      span {
        width: 100%;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: solid 1px var(--nsw-grey-04);
    display: none;

    &.open {
      display: block;
    }

    li {
      padding: 0;
      margin: 0;
    }

    a {
      font-weight: var(--nsw-font-normal);
      display: block;
      color: var(--nsw-text-dark);
      text-decoration: none;
      padding: rem(8px) rem(16px);
      border-left: rem(4px) solid transparent;

      &:hover,
      &.active {
        background-color: var(--nsw-off-white);
        border-color: var(--nsw-brand-accent);
      }
    }
  }

  &__link {
    display: block;
    color: var(--nsw-text-dark);
    text-decoration: none;
    background-color: var(--nsw-white);
    padding: rem(16px);
  }
}

.nsw-docs-tabs {
  >.nsw-tabs__list-wrapper {
    background-color: transparent;
    padding: 0 rem(16px);

    @include breakpoint('xl') {
      padding: 0 rem(52px);
    }
  }

  >.nsw-tabs__content {
    padding: 0;
    border-bottom: 0;
    border-color: var(--nsw-white);

    &:focus {
      outline: none;
    }

    .nsw-docs__container,
    .nsw-docs__demo {
      padding: rem(24px) rem(16px);

      @include breakpoint('xl') {
        padding: rem(48px) rem(52px);
      }
    }
  }

  .nsw-docs__external-link {
    padding: 0 0 rem(24px) 0;
  }
}

.nsw-docs-footer {
  .nsw-container {
    margin: 0;
    padding: 0 rem(16px);

    @include breakpoint('xl') {
      padding: 0 rem(52px);
    }
  }

  .nsw-footer__lower {
    padding: rem(16px) 0;
  }
}
