@import './src/main';

$content-width: 768px;
$nav-width: 300px;
$header-height: 151px;

.nsw-palette {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0 0;
  grid-template-areas:
    '. . . . . . . . . . . .'
    '. . . . . . . . . . . .'
    '. . . . . . . . . . . .'
    '. . . . . . . . . . . .';

  font-size: var(--nsw-font-size-xxs-desktop);
  color: var(--nsw-text-light);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  > div {
    padding: rem(8px);
  }
}

.nsw-docs {
  :not(pre) code {
    padding: rem(3px);
    background: var(--nsw-grey-04);
    border-radius: var(--nsw-border-radius);
  }

  // fix to offset height of fixed nav to trick anchor links' positioning

  :target::before {

    @include breakpoint($nsw-desktop-breakpoint) {
      content: '';
      display: block;
      height: rem($header-height);
      margin: rem(-$header-height) 0 0;
    }
  }

  &--light {
    .nsw-docs__main {
      background-color: var(--nsw-white);
    }
  }

  &__header {
    @include breakpoint($nsw-desktop-breakpoint) {
      height: rem($header-height);
    }

    &-wrapper {
      @include breakpoint($nsw-desktop-breakpoint) {
        @include z-index('upper');
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: var(--nsw-white);
      }
    }

    .nsw-container,
    .nsw-header__container {
      margin: 0;
    }

    @include breakpoint($nsw-desktop-breakpoint) {
      .nsw-container,
      .nsw-header__container {
        max-width: rem($content-width + $nav-width + 172px);
      }

      .nsw-header__container .nsw-header__inner {
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  &__wrapper {
    @include breakpoint($nsw-desktop-breakpoint) {
      display: flex;
    }
  }

  &__nav {
    @include breakpoint($nsw-desktop-breakpoint) {
      min-width: rem($nav-width);
      max-width: rem($nav-width);
    }

    &-wrapper {
      @include breakpoint($nsw-desktop-breakpoint) {
        @include z-index('upper');
        position: fixed;
        top: rem($header-height);
        bottom: 0;
        left: 0;
        width: rem($nav-width);
        overflow-y: auto;
        border-right: 1px solid var(--nsw-grey-04);
        background-color: var(--nsw-white);
        padding: rem(16px);
      }
    }

    /* stylelint-disable max-nesting-depth */

    .nsw-main-nav__sub-nav a {
      .nsw-brand {
        margin-right: rem(-8px);
      }
    }

    @include breakpoint($nsw-desktop-breakpoint) {
      .nsw-main-nav {
        background-color: transparent;

        li {
          border-top: 1px solid var(--nsw-grey-04);

          &:nth-last-child(-n+3) {
            box-shadow: none;
          }
        }

        a {
          font-weight: var(--nsw-font-normal);

          &.active {
            font-weight: var(--nsw-font-bold);
          }

          &.current-section {
            font-weight: var(--nsw-font-bold);
            border-left: 2px solid var(--nsw-brand-accent);

            &:hover {
              background-color: var(--nsw-text-hover);
            }
          }

          &.current {
            background-color: var(--nsw-off-white);
          }
        }

        &__list {
          max-width: none;
          margin: 0;
          flex-direction: column;

          > li {
            &:first-child {
              border-top: 0;
            }
          }

          > li > a {      
            @include breakpoint($nsw-desktop-breakpoint) {      
              &.active {
                box-shadow: none;
              }
            }
          }
        }

        &__sub-nav {
          position: relative;
          top: auto;
          left: auto;
          max-width: none;
          margin: 0;
          padding: 0;
          box-shadow: none;
          display: none;

          &.active {
            display: block;
            transform: none;
            left: auto;
          }

          &.current-section {
            border-left: 2px solid var(--nsw-brand-accent);
          }

          ul {
            margin: 0;
            flex-direction: column;
          }

          li {
            width: auto;
            margin: 0;
            border-bottom: 0;
          }

          a {
            padding-left: rem(24px);
            color: var(--nsw-text-dark);
          }
        }
      }
    }

    /* stylelint-enable max-nesting-depth */

  }

  &__main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--nsw-off-white);

    .nsw-docs__example {
      padding: rem(16px);
      background-color: var(--nsw-white);
    }

    &--narrow,
    &--menu {
      .nsw-docs__demo {
        max-width: rem($content-width + 32px);

        @include breakpoint($nsw-desktop-breakpoint) {
          max-width: rem($content-width + 104px);
        }
      }
    }

    &--wide {
      .nsw-docs__demo {
        max-width: calc(var(--nsw-container-width) + #{rem(32px)});

        @include breakpoint($nsw-desktop-breakpoint) {
          max-width: calc(var(--nsw-container-width) + #{rem(104px)});
        }
      }
    }

    &--menu {
      .nsw-docs__component {
        max-width: rem(336px);
      }
    }
  }

  &__container {
    max-width: rem($content-width + 32px);

    @include breakpoint($nsw-desktop-breakpoint) {
      max-width: rem($content-width + 104px);
    }
  }

  &__intro {
    background-color: var(--nsw-white);

    .nsw-docs__container {
      padding: rem(24px) rem(16px);

      @include breakpoint($nsw-desktop-breakpoint) {
        padding: rem(48px) rem(52px);
      }
    }

    &--tabs {
      margin-bottom: rem(-48px);

      .nsw-docs__container {
        padding-bottom: rem(78px);

        @include breakpoint($nsw-desktop-breakpoint) {
          padding-bottom: rem(88px);
        }
      }
    }
  }

  &__tabs {
    flex-grow: 1;
  }

  &__content {
    padding: rem(24px) rem(16px);
    flex-grow: 1;

    @include breakpoint($nsw-desktop-breakpoint) {
      padding: rem(48px) rem(16px) rem(48px) rem(52px);
    }
  }

  &__example {
    &--hidden {
      display: none;
    }

    &.nsw-docs__example--dark {
      background-color: var(--nsw-grey-01);
    }

    &.nsw-docs__example--light {
      background-color: var(--nsw-grey-04);
    }
  }

  &__iframe {
    width: 100%;
    height: 500px;
    background-color: var(--nsw-white);
  }

  &__demo {
    > h3 {
      padding: rem(16px) 0;

      &:first-child {
        padding-top: 0;
      }

      + p {
        margin-top: rem(-12px);
        padding-bottom: rem(16px);
      }

      + h4 {
        padding-top: 0;
      }
    }

    > h4 {
      padding: rem(16px) 0;
    }
  }

  &__component {
    &::after {
      content: '';
      clear: both;
      display: table;
    }
  }

  &__external {
    padding-top: rem(8px);
  }

  &__list {
    padding: 0;
    list-style-type: none;

    &--4 {
      column-gap: rem(36px);
      column-count: 2;

      @include breakpoint($nsw-desktop-breakpoint) {
        column-count: 4;
      }
    }

    &--3 {
      column-gap: rem(36px);
      column-count: 2;

      @include breakpoint($nsw-desktop-breakpoint) {
        column-count: 3;
      }
    }

    &--2 {
      @include breakpoint($nsw-desktop-breakpoint) {
        column-gap: rem(36px);
        column-count: 2;
      }
    }

    li {
      margin: 0;
    }

    a {
      position: relative;
      display: inline-block;
      margin: rem(4px) 0;
    }

    .nsw-brand {
      position: absolute;
      right: rem(-24px);
    }
  }

  &__box {
    background-color: var(--nsw-grey-03);
    min-height: rem(56);

    &--large {
      min-height: rem(150);
    }
  }

  &__section {
    &--white,
    &--light,
    &--dark {
      padding: rem(8px);
      margin: rem(8px) rem(-8px) 0 rem(-8px);
    }

    &--dark {
      background-color: var(--nsw-grey-01);
    }

    &--light {
      background-color: var(--nsw-grey-04);
    }

    &--spaced {
      @include component-spacing();
    }
  }

  &__swatch {
    margin: 0 auto;
    background-color: var(--nsw-brand-dark);
    width: rem(40px);
    height: rem(40px);
    border-radius: 100%;
  }

  &__loader {
    @include z-index('upper');
    height: 100%;
    max-height: 100vh;
    overflow-y: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(var(--nsw-white-rgb), 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nsw-in-page-alert + h1 {
    margin-top: rem(24px);

    @include breakpoint($nsw-desktop-breakpoint) {
      margin-top: rem(48px);
    }
  }

  .nsw-card {
    .nsw-brand {
      margin-left: rem(8px);
    }
  }
}

.nsw-docs-code {
  position: relative;

  > button {
    margin-top: rem(24px);

    &.active {
      .nsw-material-icons {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    position: relative;
    display: none;
    margin-top: rem(24px);
    max-width: rem(872px);

    &.active {
      display: block;
    }

    pre {
      margin: 0;
    }

    .hljs {
      padding: rem(16px);
      overflow: visible;
      background-color: transparent;
    }

    > button {
      position: absolute;
      top: rem(16px);
      right: rem(16px);
    }
  }

  &__copy {
    padding: 0;
    border: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    display: none;
  }

  &__wrapper {
    min-height: rem(68px);
    max-width: rem(872px);
    max-height: rem(400px);
    overflow: auto;
    background-color: var(--nsw-white);
  }
}

.nsw-docs-tabs {
  >.nsw-tabs__list-wrapper {
    background-color: transparent;
    padding: 0 rem(16px);

    @include breakpoint($nsw-desktop-breakpoint) {
      padding: 0 rem(52px);
    }
  }

  >.nsw-tabs__content {
    padding: 0;
    border-bottom: 0;
    border-color: var(--nsw-white);

    &:focus {
      outline: none;
    }

    .nsw-docs__container,
    .nsw-docs__demo {
      padding: rem(24px) rem(16px);

      @include breakpoint($nsw-desktop-breakpoint) {
        padding: rem(48px) rem(52px);
      }
    }
  }

  .nsw-docs__external {
    padding: 0 0 rem(24px) 0;
  }
}

.nsw-docs-footer {
  .nsw-container {
    margin: 0;
    padding: 0 rem(16px);

    @include breakpoint($nsw-desktop-breakpoint) {
      padding: 0 rem(52px);
    }
  }

  .nsw-footer__lower {
    padding: rem(16px) 0;
  }
}

.nsw-docs__version {
  @include font-size('xs');
  font-weight: var(--nsw-font-normal);
  padding: rem(2px) rem(16px);
  border: solid 1px var(--nsw-brand-dark);
  border-radius: rem(24px);
  color: var(--nsw-brand-dark);
  text-decoration: none;
  display: inline-block;
  margin-left: rem(16px);
}

.nsw-docs__element {
  height: 100%;
}

.nsw-autocomplete {
  .nsw-material-icons {
    font-size: 2.25rem;
  }

  &__item {
    cursor: pointer;
    transition: 0.2s;
    padding-left: 0;
    margin-top: 0;

    &.nsw-autocomplete__no-results {
      padding: 0.5rem 0.75rem;

      @include media-breakpoint-up(md) {
        padding: 0.75rem 1.125rem;
      }
    }

    > *:first-child,
    > *:last-child {
      margin-top: 0;
    }

    a {
      display: block;
      width: 100%;
      margin: 0;
      padding: 0.5rem 0.75rem;
      font-weight: 400;
      color: var(--nsw-text-dark);

      @include media-breakpoint-up(md) {
        padding: 0.75rem 1.125rem;
      }
    }
  }

  &__results {
    position: absolute;
    z-index: 5;
    width: 100%;
    left: 0;
    top: calc(100% + 3px);
    transform: translateY(4px);
    background-color: var(--nsw-white);
    box-shadow: var(--nsw-box-shadow);
    border-radius: 0.25em;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s 0.3s, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    overflow: hidden;
  }

  &.active {
    .nsw-autocomplete__results {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s, transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translateY(0);
    }
  }

  &__list {
    list-style: none;
    padding-left: 0;
    max-height: 250px;
    overflow: auto;
  }
}
