@import './src/main';

$content-width: 768px;

.nsw-palette {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0 0;
  grid-template-areas:
    '. . . . . . . . . . . .'
    '. . . . . . . . . . . .'
    '. . . . . . . . . . . .'
    '. . . . . . . . . . . .';

  font-size: var(--nsw-font-size-xxs-desktop);
  color: var(--nsw-text-light);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  > div {
    padding: rem(8px);
  }
}

.nsw-docs {
  :not(pre) code {
    padding: rem(3px);
    background: var(--nsw-grey-04);
    border-radius: var(--nsw-border-radius);
  }

  &--light {
    .nsw-docs__main {
      background-color: var(--nsw-white);
    }
  }

  &__header {
    @include breakpoint($nsw-desktop-breakpoint) {
      height: rem(115px);
    }

    &-wrapper {      
      @include breakpoint($nsw-desktop-breakpoint) {
        @include z-index('upper');
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: var(--nsw-white);
      }
    }

    .nsw-header__waratah svg {
      @include breakpoint($nsw-desktop-breakpoint) {
        height: rem(56px);
      }
    }

    .nsw-container,
    .nsw-header__container {
      margin: 0;
    }
  }

  &__wrapper {
    @include breakpoint($nsw-desktop-breakpoint) {
      display: flex;
    }
  }

  &__nav {
    @include breakpoint($nsw-desktop-breakpoint) {
      min-width: rem(300px);
      max-width: rem(300px);
    }

    &-wrapper {  
      @include breakpoint($nsw-desktop-breakpoint) {    
        @include z-index('upper');
        position: fixed;
        top: rem(115px);
        bottom: 0;
        left: 0;
        width: rem(300px);
        overflow-y: auto;
        border-right: 1px solid var(--nsw-grey-04);
        background-color: var(--nsw-white);
        padding: rem(16px);
      }
    }

    /* stylelint-disable max-nesting-depth */

    .nsw-main-nav__sub-nav a {
      .nsw-material-icons {
        display: block;
        color: var(--nsw-brand-accent);
        font-size: rem(map-get($nsw-icon-sizes, 20));
        margin-right: rem(-6px);
      }
    }

    @include breakpoint($nsw-desktop-breakpoint) { 
      .nsw-main-nav {
        background-color: transparent;

        li {
          border-top: 1px solid var(--nsw-grey-04);    
        }

        a {
          font-weight: var(--nsw-font-normal);

          &.active {
            font-weight: var(--nsw-font-bold);
          }

          &.current-section {
            font-weight: var(--nsw-font-bold);
            border-left: 2px solid var(--nsw-brand-accent);

            &:hover {
              background-color: var(--nsw-text-hover);
            }
          }

          &.current {
            background-color: var(--nsw-off-white);
          }
        } 

        &__list {
          max-width: none;
          margin: 0;
          flex-direction: column;

          > li {            
            &:first-child {
              border-top: 0;
            }  
          }        
        }

        &__sub-nav {
          position: relative;
          top: auto;
          left: auto;
          max-width: none;
          margin: 0;
          padding: 0;
          box-shadow: none;
          display: none;

          &.active {
            display: block;
            transform: none;
            left: auto;
          }

          &.current-section {
            border-left: 2px solid var(--nsw-brand-accent);
          }

          ul {
            margin: 0;
            flex-direction: column;
          }

          li {
            width: auto;
            margin: 0;
            border-bottom: 0;
          }

          a {
            padding-left: rem(24px);
            color: var(--nsw-text-dark);
          }
        }
      }
    }

    /* stylelint-enable max-nesting-depth */

  }

  &__main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--nsw-off-white);

    .nsw-docs__example {
      padding: rem(16px);
      background-color: var(--nsw-white);
    }

    &--narrow,
    &--menu {
      .nsw-docs__demo {
        max-width: rem($content-width + 32px);

        @include breakpoint($nsw-desktop-breakpoint) {
          max-width: rem($content-width + 104px);
        }
      }
    }

    &--wide {
      .nsw-docs__demo {
        max-width: calc(var(--nsw-container-width) + #{rem(32px)});

        @include breakpoint($nsw-desktop-breakpoint) {
          max-width: calc(var(--nsw-container-width) + #{rem(104px)});
        }
      }
    }

    &--menu {
      .nsw-docs__component {
        max-width: rem(336px);
      }
    }
  } 

  &__container {
    max-width: rem($content-width + 32px);

    @include breakpoint($nsw-desktop-breakpoint) {
      max-width: rem($content-width + 104px);
    }
  }

  &__intro {
    background-color: var(--nsw-white);

    .nsw-docs__container {
      padding: rem(24px) rem(16px);

      @include breakpoint($nsw-desktop-breakpoint) {
        padding: rem(48px) rem(52px);
      }
    }

    &--tabs {
      margin-bottom: rem(-48px);

      .nsw-docs__container {
        padding-bottom: rem(78px);

        @include breakpoint($nsw-desktop-breakpoint) {
          padding-bottom: rem(88px);
        }
      }
    }
  }

  &__tabs {
    flex-grow: 1;
  }

  &__content {
    padding: rem(24px) rem(16px);
    flex-grow: 1;

    @include breakpoint($nsw-desktop-breakpoint) {
      padding: rem(48px) rem(52px);
    }
  }

  &__example {
    &--hidden {
      display: none;
    }

    &.nsw-docs__example--dark {
      background-color: var(--nsw-grey-01);
    }
  }

  &__iframe {
    width: 100%;
    height: 500px;
    background-color: var(--nsw-white);
  }

  &__demo {
    > h3 {
      padding: rem(16px) 0;

      &:first-child {
        padding-top: 0;
      }

      + p {
        margin-top: rem(-12px);
        padding-bottom: rem(16px);
      }

      + h4 {
        padding-top: 0;
      }
    }

    > h4 {
      padding: rem(16px) 0;
    }
  }

  &__component {
    &::after {
      content: '';
      clear: both;
      display: table;
    }
  }

  &__external-link {
    padding-top: rem(8px);
    display: flex;
  }

  &__external {
    font-weight: var(--nsw-font-bold);
    font-size: rem(14px);
    color: var(--nsw-brand-dark);
    border: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
      @include nsw-hover;
    }

    &:focus {
      @include nsw-focus;
    }

    span {
      text-decoration: underline;
    }

    i {
      font-size: rem(16px);
      margin-left: rem(4px);
    }
  }

  &__list {
    margin: rem(16px) 0 0 0;
    padding: 0;
    list-style-type: none;

    &--4 {
      column-gap: rem(36px);
      column-count: 2;

      @include breakpoint($nsw-desktop-breakpoint) {
        column-count: 4;
      }
    }

    &--2 {
      @include breakpoint($nsw-desktop-breakpoint) {
        column-gap: rem(36px);
        column-count: 2;
      }
    }

    li {
      padding: rem(2px) 0;
    }

    .nsw-material-icons {
      color: var(--nsw-brand-accent);
      font-size: rem(map-get($nsw-icon-sizes, 20));
      line-height: rem(10px);
      position: relative;
      bottom: rem(-5px);
      margin-left: rem(4px);
    }
  }

  &__box {
    background-color: var(--nsw-grey-03);
    min-height: rem(56);

    &--large {
      min-height: rem(150);
    }
  }

  &__section {
    &--dark {
      background-color: var(--nsw-grey-01);
      padding: rem(8px);
      margin: rem(8px) rem(-8px) 0 rem(-8px);
    }

    &--light {
      padding: rem(8px);
      margin: rem(8px) rem(-8px) 0 rem(-8px);
    }

    &--spaced {
      @include component-spacing();
    }
  }

  &__swatch {
    margin: 0 auto;
    background-color: var(--nsw-brand-dark);
    width: rem(40px);
    height: rem(40px);
    border-radius: rem(20px);
  }

  .nsw-in-page-note + h1 {
    margin-top: rem(24px);

    @include breakpoint($nsw-desktop-breakpoint) {
      margin-top: rem(48px);
    }
  } 

  .nsw-card {
    .nsw-material-icons + .nsw-material-icons {
      color: var(--nsw-brand-accent);
      left: auto;
      right: rem(16px);
      bottom: rem(19px);
      font-size: rem(map-get($nsw-icon-sizes, 24));

      @include breakpoint('lg') {
        right: rem(32px);
        bottom: rem(35px);
      }
    }

    &:hover {
      .nsw-material-icons + .nsw-material-icons {
        color: var(--nsw-text-light);
      }
    }
  }
}

.nsw-docs-code {
  position: relative;

  &__button {
    @include link;
    font-weight: var(--nsw-font-bold);
    font-size: rem(14px);
    background: transparent;
    border: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: rem(24px);
    cursor: pointer;
    padding: 0;

    span {
      text-decoration: underline;
    }

    i {
      font-size: rem(20px);
      margin-left: rem(2px);
    }

    &.open {
      i {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    position: relative;
    display: none;
    margin-top: rem(24px);
    max-width: rem(800px);

    &.open {
      display: block;
    }

    pre {
      margin: 0;
    }

    .hljs {
      padding: rem(16px);
      overflow: visible;
      background-color: transparent;
    }
  }

  &__wrapper {
    min-height: rem(68px);
    max-width: rem(800px);
    max-height: rem(400px);
    overflow: auto;
    background-color: var(--nsw-white);
  }

  &__copy {
    border-radius: var(--nsw-border-radius);
    font-weight: var(--nsw-font-bold);
    font-size: rem(14px);
    background-color: var(--nsw-white);
    color: var(--nsw-brand-dark);
    border: 1px solid var(--nsw-brand-dark);
    text-decoration: none;
    display: flex;
    align-items: center;
    position: absolute;
    top: rem(16px);
    right: rem(16px);
    padding: rem(8px);

    &:hover {
      background-color: var(--nsw-grey-04);
    }

    &:focus {
      @include nsw-focus;
    }

    i {
      font-size: rem(16px);
      margin-left: rem(4px);
    }
  }
}

.nsw-docs-tabs {
  >.nsw-tabs__list-wrapper {
    background-color: transparent;
    padding: 0 rem(16px);

    @include breakpoint($nsw-desktop-breakpoint) {
      padding: 0 rem(52px);
    }
  }

  >.nsw-tabs__content {
    padding: 0;
    border-bottom: 0;
    border-color: var(--nsw-white);

    &:focus {
      outline: none;
    }

    .nsw-docs__container,
    .nsw-docs__demo {
      padding: rem(24px) rem(16px);

      @include breakpoint($nsw-desktop-breakpoint) {
        padding: rem(48px) rem(52px);
      }
    }
  }

  .nsw-docs__external-link {
    padding: 0 0 rem(24px) 0;
  }
}

.nsw-docs-footer {
  .nsw-container {
    margin: 0;
    padding: 0 rem(16px);

    @include breakpoint($nsw-desktop-breakpoint) {
      padding: 0 rem(52px);
    }
  }

  .nsw-footer__lower {
    padding: rem(16px) 0;
  }
}
