---
title: Tags
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Use tags to help label or categorise content for users using keywords or phrases. They can also be interactive and help users search for and navigate to content quickly and easily.</p>
<h3>Tag types</h3>
<ul>
  <li><strong>Links</strong> - Link to category content </li>
  <li><strong>Text</strong> - Non interactive content category</li>
  <li><strong>Checkboxes</strong> - Make selections or filter results</li>
</ul>

<h3>When to avoid</h3>
<p>Do not:</p>
<ul>
  <li>use to initiate an action, consider buttons</li>
  <li>use to link to page content, consider text links</li>
  <li>over use as this can cause confuse or create visual noise</li>
</ul>

<h2>Accessibility</h2>
<p>All components are responsive and designed to comply with WCAG 2.2 AA accessibility standards. Full compliance depends on using and configuring the components correctly.</p>
