---
title: Tags
width: narrow
tabs: true
directory: tag
intro: A tag is an interactive element containing a keyword or phrase used to categorise content. 
figma: https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=264%3A11969
react: https://digitalnsw.github.io/nsw-design-system-react/?path=/docs/content-tags--tags
model:
  link: json/tag-link.json
  text: json/tag-text.json
  checkbox: json/tag-checkbox.json
---

<h3>Links</h3>
{{#>_docs-example}}
<div class="nsw-list nsw-list--8">
  {{>_tag model.link}}
</div>
{{/_docs-example}}

<h3>Text</h3>
{{#>_docs-example}}
<div class="nsw-list nsw-list--8">
  {{>_tag model.text}}
</div>
{{/_docs-example}}

<h3>Checkboxes</h3>
{{#>_docs-example}}
<div class="nsw-list nsw-list--8">
  {{>_tag model.checkbox}}
</div>
{{/_docs-example}}
