---
title: Tags
width: narrow
tabs: true
directory: tag
intro: Tags visually label or categorise content.
theme: true
figma: https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=21298%3A24998
model:
  link: json/tag-link.json
  text: json/tag-text.json
  checkbox: json/tag-checkbox.json
meta-description: Tags visually label or categorise content.
meta-index: true
---

<h3>Link</h3>
{{#>_docs-example}}
<div class="nsw-list nsw-list--8">
  {{>_tag model.link}}
</div>
{{/_docs-example}}

<h3>Text</h3>
{{#>_docs-example}}
<div class="nsw-list nsw-list--8">
  {{>_tag model.text}}
</div>
{{/_docs-example}}

<h3>Toggle checkbox</h3>
{{#>_docs-example}}
<div class="nsw-list nsw-list--8">
  {{>_tag model.checkbox}}
</div>
{{/_docs-example}}
