<!doctype html>
<html lang="en" class="no-js">
<head>
  <title>NSW Digital Design System - Select</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex" />
  <link rel="icon" href="/nsw-design-system/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone" rel="stylesheet">
  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TMEHXHFJXJ"></script>
<script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","G-TMEHXHFJXJ");</script>
</head>

<body>
<div class="nsw-container nsw-p-y-sm">
  <div class="nsw-layout">
    <main class="nsw-layout__main">
  		
  		<div class="nsw-form">
  		
  		  <div class="nsw-form__group">
  		    <label class="nsw-form__label" for="select-all-regions-1">Region</label>
  		      <select class="nsw-form__select" name="select-all-regions-1" id="select-all-regions-1"><option value="">Please select</option>
  		        <option value="Central Coast">Central Coast</option>
  		        <option value="Central West &amp; Orana">Central West &amp; Orana</option>
  		        <option value="Far West">Far West</option>
  		        <option value="Hunter">Hunter</option>
  		        <option value="Illawarra-Shoalhaven">Illawarra-Shoalhaven</option>
  		        <option value="New England &amp; North West">New England &amp; North West</option>
  		        <option value="North Coast">North Coast</option>
  		        <option value="Riverina Murray">Riverina Murray</option>
  		      </select>
  		  </div>
  		
  		  <div class="nsw-form__group">
  		    <label class="nsw-form__label" for="select-all-savings-programs-1">Savings programs you would like to claim</label>
  		    <div class="nsw-multi-select js-multi-select" data-selection-text="savings programs">
  		      <select name="select-all-savings-programs-1" id="select-all-savings-programs-1" multiple>
  		        <option value="Stay NSW voucher">Stay NSW voucher</option>
  		        <option value="Regional seniors travel card">Regional seniors travel card</option>
  		        <option value="Toll relief">Toll relief</option>
  		        <option value="First lap swimming voucher">First lap swimming voucher</option>
  		        <option value="Active kids voucher">Active kids voucher</option>
  		        <option value="Creative kids voucher">Creative kids voucher</option>
  		        <option value="Energy made easy">Energy made easy</option>
  		      </select>
  		    </div>
  		  </div>
  		
  		  <div class="nsw-form__group">
  		    <label class="nsw-form__label" for="select-all-regions-2">Region</label>
  		    <span class="nsw-form__helper" id="select-all-regions-2-helper-text">Your region of residence</span>
  		      <select class="nsw-form__select" name="select-all-regions-2" id="select-all-regions-2" aria-describedby="select-all-regions-2-helper-text"><option value="">Please select</option>
  		        <option value="Central Coast">Central Coast</option>
  		        <option value="Central West &amp; Orana">Central West &amp; Orana</option>
  		        <option value="Far West">Far West</option>
  		        <option value="Hunter">Hunter</option>
  		        <option value="Illawarra-Shoalhaven">Illawarra-Shoalhaven</option>
  		        <option value="New England &amp; North West">New England &amp; North West</option>
  		        <option value="North Coast">North Coast</option>
  		        <option value="Riverina Murray">Riverina Murray</option>
  		      </select>
  		  </div>
  		
  		  <div class="nsw-form__group">
  		    <label class="nsw-form__label" for="select-all-savings-programs-2">Savings programs you would like to claim</label>
  		    <span class="nsw-form__helper" id="select-all-savings-programs-2-helper-text">Select all that apply</span>
  		    <div class="nsw-multi-select js-multi-select" data-selection-text="savings programs">
  		      <select name="select-all-savings-programs-2" id="select-all-savings-programs-2" aria-describedby="select-all-savings-programs-2-helper-text" multiple>
  		        <option value="Stay NSW voucher">Stay NSW voucher</option>
  		        <option value="Regional seniors travel card">Regional seniors travel card</option>
  		        <option value="Toll relief">Toll relief</option>
  		        <option value="First lap swimming voucher">First lap swimming voucher</option>
  		        <option value="Active kids voucher">Active kids voucher</option>
  		        <option value="Creative kids voucher">Creative kids voucher</option>
  		        <option value="Energy made easy">Energy made easy</option>
  		      </select>
  		    </div>
  		  </div>
  		
  		  <div class="nsw-form__group">
  		    <label class="nsw-form__label nsw-form__required" for="select-all-regions-3">Region<span class="sr-only"> (required)</span></label>
  		      <select class="nsw-form__select" name="select-all-regions-3" id="select-all-regions-3" aria-invalid="true"><option value="">Please select</option>
  		        <option value="Central Coast">Central Coast</option>
  		        <option value="Central West &amp; Orana">Central West &amp; Orana</option>
  		        <option value="Far West">Far West</option>
  		        <option value="Hunter">Hunter</option>
  		        <option value="Illawarra-Shoalhaven">Illawarra-Shoalhaven</option>
  		        <option value="New England &amp; North West">New England &amp; North West</option>
  		        <option value="North Coast">North Coast</option>
  		        <option value="Riverina Murray">Riverina Murray</option>
  		      </select>
  		    <span id="select-all-regions-3-error-text" class="nsw-form__helper nsw-form__helper--error"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>Please select a region of residence</span>
  		  </div>
  		
  		  <div class="nsw-form__group">
  		    <label class="nsw-form__label nsw-form__required" for="select-all-savings-programs-3">Savings programs you would like to claim<span class="sr-only"> (required)</span></label>
  		    <div class="nsw-multi-select js-multi-select" data-selection-text="savings programs">
  		      <select name="select-all-savings-programs-3" id="select-all-savings-programs-3" aria-invalid="true" multiple>
  		        <option value="Stay NSW voucher">Stay NSW voucher</option>
  		        <option value="Regional seniors travel card">Regional seniors travel card</option>
  		        <option value="Toll relief">Toll relief</option>
  		        <option value="First lap swimming voucher">First lap swimming voucher</option>
  		        <option value="Active kids voucher">Active kids voucher</option>
  		        <option value="Creative kids voucher">Creative kids voucher</option>
  		        <option value="Energy made easy">Energy made easy</option>
  		      </select>
  		    </div>
  		    <span id="select-all-savings-programs-3-error-text" class="nsw-form__helper nsw-form__helper--error"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>Please select the savings programs you would like to claim</span>
  		  </div>
  		
  		  <div class="nsw-form__group">
  		    <label class="nsw-form__label" for="select-all-regions-4">Region</label>
  		      <select class="nsw-form__select" name="select-all-regions-4" id="select-all-regions-4"><option value="">Please select</option>
  		        <option value="Central Coast">Central Coast</option>
  		        <option value="Central West &amp; Orana">Central West &amp; Orana</option>
  		        <option value="Far West">Far West</option>
  		        <option value="Hunter">Hunter</option>
  		        <option value="Illawarra-Shoalhaven">Illawarra-Shoalhaven</option>
  		        <option value="New England &amp; North West">New England &amp; North West</option>
  		        <option value="North Coast">North Coast</option>
  		        <option value="Riverina Murray">Riverina Murray</option>
  		      </select>
  		    <span id="select-all-regions-4-valid-text" class="nsw-form__helper nsw-form__helper--valid"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">check_circle</span>Your region is eligible for savings benefits</span>
  		  </div>
  		
  		  <div class="nsw-form__group">
  		    <label class="nsw-form__label" for="select-all-savings-programs-4">Savings programs you would like to claim</label>
  		    <div class="nsw-multi-select js-multi-select" data-selection-text="savings programs">
  		      <select name="select-all-savings-programs-4" id="select-all-savings-programs-4" multiple>
  		        <option value="Stay NSW voucher">Stay NSW voucher</option>
  		        <option value="Regional seniors travel card">Regional seniors travel card</option>
  		        <option value="Toll relief">Toll relief</option>
  		        <option value="First lap swimming voucher">First lap swimming voucher</option>
  		        <option value="Active kids voucher">Active kids voucher</option>
  		        <option value="Creative kids voucher">Creative kids voucher</option>
  		        <option value="Energy made easy">Energy made easy</option>
  		      </select>
  		    </div>
  		    <span id="select-all-savings-programs-4-valid-text" class="nsw-form__helper nsw-form__helper--valid"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">check_circle</span>The programs you have selected are available</span>
  		  </div>
  		</div>
  		
  	</main>
  	<div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
  </div>
</div>


  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
