<!doctype html>
<html lang="en" class="no-js">
<head><script async src="https://www.googletagmanager.com/gtag/js?id=G-49T9M12F86"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-49T9M12F86');
</script>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P2NKBBJZ');</script>
  
  <title>NSW Digital Design System - Select</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://designsystem.digital.nsw.gov.au/nsw-og-image.jpg">
  <meta name="robots" content="noindex" />
  <link rel="icon" href="https://designsystem.digital.nsw.gov.au//favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone" rel="stylesheet">
  <link rel="stylesheet" href="https://designsystem.digital.nsw.gov.au//docs/css/docs.css">
  <!-- Hotjar Tracking Code for NSW Design System -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:5063548,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
</head>

<body><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2NKBBJZ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    


<section class="nsw-section">
  <div class="nsw-container nsw-p-y-sm">
    <div class="nsw-layout">
      <main class="nsw-layout__main">
        <div class="nsw-form">
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="select-all-regions-1">Region</label>
              <select class="nsw-form__select" name="select-all-regions-1" id="select-all-regions-1"><option value="">Please select</option>
                <option value="Central Coast">Central Coast</option>
                <option value="Central West &amp; Orana">Central West &amp; Orana</option>
                <option value="Far West">Far West</option>
                <option value="Hunter">Hunter</option>
                <option value="Illawarra-Shoalhaven">Illawarra-Shoalhaven</option>
                <option value="New England &amp; North West">New England &amp; North West</option>
                <option value="North Coast">North Coast</option>
                <option value="Riverina Murray">Riverina Murray</option>
              </select>  </div>
        
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="select-all-savings-programs-1">Savings programs you would like to claim</label>
            <div class="nsw-multi-select js-multi-select" data-select-text="Select savings programs" data-multi-select-text="{n} savings programs selected" data-n-multi-select="2">
              <select name="select-all-savings-programs-1" id="select-all-savings-programs-1" multiple>
                <option value="Stay NSW voucher">Stay NSW voucher</option>
                <option value="Regional seniors travel card">Regional seniors travel card</option>
                <option value="Toll relief">Toll relief</option>
                <option value="First lap swimming voucher">First lap swimming voucher</option>
                <option value="Active kids voucher">Active kids voucher</option>
                <option value="Creative kids voucher">Creative kids voucher</option>
                <option value="Energy made easy">Energy made easy</option>
              </select>
            </div>  </div>
        
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="select-all-regions-2">Region</label>
            <span class="nsw-form__helper" id="select-all-regions-2-helper-text">Your region of residence</span>
              <select class="nsw-form__select" name="select-all-regions-2" id="select-all-regions-2" aria-describedby="select-all-regions-2-helper-text"><option value="">Please select</option>
                <option value="Central Coast">Central Coast</option>
                <option value="Central West &amp; Orana">Central West &amp; Orana</option>
                <option value="Far West">Far West</option>
                <option value="Hunter">Hunter</option>
                <option value="Illawarra-Shoalhaven">Illawarra-Shoalhaven</option>
                <option value="New England &amp; North West">New England &amp; North West</option>
                <option value="North Coast">North Coast</option>
                <option value="Riverina Murray">Riverina Murray</option>
              </select>  </div>
        
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="select-all-savings-programs-2">Savings programs you would like to claim</label>
            <span class="nsw-form__helper" id="select-all-savings-programs-2-helper-text">Select all that apply</span>
            <div class="nsw-multi-select js-multi-select" data-select-text="Select savings programs" data-multi-select-text="{n} savings programs selected" data-n-multi-select="2">
              <select name="select-all-savings-programs-2" id="select-all-savings-programs-2" aria-describedby="select-all-savings-programs-2-helper-text" multiple>
                <option value="Stay NSW voucher">Stay NSW voucher</option>
                <option value="Regional seniors travel card">Regional seniors travel card</option>
                <option value="Toll relief">Toll relief</option>
                <option value="First lap swimming voucher">First lap swimming voucher</option>
                <option value="Active kids voucher">Active kids voucher</option>
                <option value="Creative kids voucher">Creative kids voucher</option>
                <option value="Energy made easy">Energy made easy</option>
              </select>
            </div>  </div>
        
          <div class="nsw-form__group">
            <label class="nsw-form__label nsw-form__required" for="select-all-regions-3">Region<span class="sr-only"> (required)</span></label>
              <select class="nsw-form__select" name="select-all-regions-3" id="select-all-regions-3" aria-invalid="true"><option value="">Please select</option>
                <option value="Central Coast">Central Coast</option>
                <option value="Central West &amp; Orana">Central West &amp; Orana</option>
                <option value="Far West">Far West</option>
                <option value="Hunter">Hunter</option>
                <option value="Illawarra-Shoalhaven">Illawarra-Shoalhaven</option>
                <option value="New England &amp; North West">New England &amp; North West</option>
                <option value="North Coast">North Coast</option>
                <option value="Riverina Murray">Riverina Murray</option>
              </select>
            <span id="select-all-regions-3-error-text" class="nsw-form__helper nsw-form__helper--error"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>Please select a region of residence</span>  </div>
        
          <div class="nsw-form__group">
            <label class="nsw-form__label nsw-form__required" for="select-all-savings-programs-3">Savings programs you would like to claim<span class="sr-only"> (required)</span></label>
            <div class="nsw-multi-select js-multi-select" data-select-text="Select savings programs" data-multi-select-text="{n} savings programs selected" data-n-multi-select="2">
              <select name="select-all-savings-programs-3" id="select-all-savings-programs-3" aria-invalid="true" multiple>
                <option value="Stay NSW voucher">Stay NSW voucher</option>
                <option value="Regional seniors travel card">Regional seniors travel card</option>
                <option value="Toll relief">Toll relief</option>
                <option value="First lap swimming voucher">First lap swimming voucher</option>
                <option value="Active kids voucher">Active kids voucher</option>
                <option value="Creative kids voucher">Creative kids voucher</option>
                <option value="Energy made easy">Energy made easy</option>
              </select>
            </div>
            <span id="select-all-savings-programs-3-error-text" class="nsw-form__helper nsw-form__helper--error"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>Please select the savings programs you would like to claim</span>  </div>
        
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="select-all-regions-4">Region</label>
              <select class="nsw-form__select" name="select-all-regions-4" id="select-all-regions-4"><option value="">Please select</option>
                <option value="Central Coast">Central Coast</option>
                <option value="Central West &amp; Orana">Central West &amp; Orana</option>
                <option value="Far West">Far West</option>
                <option value="Hunter">Hunter</option>
                <option value="Illawarra-Shoalhaven">Illawarra-Shoalhaven</option>
                <option value="New England &amp; North West">New England &amp; North West</option>
                <option value="North Coast">North Coast</option>
                <option value="Riverina Murray">Riverina Murray</option>
              </select>
            <span id="select-all-regions-4-valid-text" class="nsw-form__helper nsw-form__helper--valid"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">check_circle</span>Your region is eligible for savings benefits</span>  </div>
        
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="select-all-savings-programs-4">Savings programs you would like to claim</label>
            <div class="nsw-multi-select js-multi-select" data-select-text="Select savings programs" data-multi-select-text="{n} savings programs selected" data-n-multi-select="2">
              <select name="select-all-savings-programs-4" id="select-all-savings-programs-4" multiple>
                <option value="Stay NSW voucher">Stay NSW voucher</option>
                <option value="Regional seniors travel card">Regional seniors travel card</option>
                <option value="Toll relief">Toll relief</option>
                <option value="First lap swimming voucher">First lap swimming voucher</option>
                <option value="Active kids voucher">Active kids voucher</option>
                <option value="Creative kids voucher">Creative kids voucher</option>
                <option value="Energy made easy">Energy made easy</option>
              </select>
            </div>
            <span id="select-all-savings-programs-4-valid-text" class="nsw-form__helper nsw-form__helper--valid"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">check_circle</span>The programs you have selected are available</span>  </div>
        </div>
      </main>
      <div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
    </div>
  </div>
</section>

<section class="nsw-section nsw-section--brand-dark nsw-section--invert">
  <div class="nsw-container nsw-p-y-sm">
    <div class="nsw-layout">
      <main class="nsw-layout__main">
        <div class="nsw-form">
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="select-all-regions-11">Region</label>
              <select class="nsw-form__select" name="select-all-regions-11" id="select-all-regions-11"><option value="">Please select</option>
                <option value="Central Coast">Central Coast</option>
                <option value="Central West &amp; Orana">Central West &amp; Orana</option>
                <option value="Far West">Far West</option>
                <option value="Hunter">Hunter</option>
                <option value="Illawarra-Shoalhaven">Illawarra-Shoalhaven</option>
                <option value="New England &amp; North West">New England &amp; North West</option>
                <option value="North Coast">North Coast</option>
                <option value="Riverina Murray">Riverina Murray</option>
              </select>  </div>
        
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="select-all-savings-programs-11">Savings programs you would like to claim</label>
            <div class="nsw-multi-select js-multi-select" data-select-text="Select savings programs" data-multi-select-text="{n} savings programs selected" data-n-multi-select="2">
              <select name="select-all-savings-programs-11" id="select-all-savings-programs-11" multiple>
                <option value="Stay NSW voucher">Stay NSW voucher</option>
                <option value="Regional seniors travel card">Regional seniors travel card</option>
                <option value="Toll relief">Toll relief</option>
                <option value="First lap swimming voucher">First lap swimming voucher</option>
                <option value="Active kids voucher">Active kids voucher</option>
                <option value="Creative kids voucher">Creative kids voucher</option>
                <option value="Energy made easy">Energy made easy</option>
              </select>
            </div>  </div>
        
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="select-all-regions-12">Region</label>
            <span class="nsw-form__helper" id="select-all-regions-12-helper-text">Your region of residence</span>
              <select class="nsw-form__select" name="select-all-regions-12" id="select-all-regions-12" aria-describedby="select-all-regions-12-helper-text"><option value="">Please select</option>
                <option value="Central Coast">Central Coast</option>
                <option value="Central West &amp; Orana">Central West &amp; Orana</option>
                <option value="Far West">Far West</option>
                <option value="Hunter">Hunter</option>
                <option value="Illawarra-Shoalhaven">Illawarra-Shoalhaven</option>
                <option value="New England &amp; North West">New England &amp; North West</option>
                <option value="North Coast">North Coast</option>
                <option value="Riverina Murray">Riverina Murray</option>
              </select>  </div>
        
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="select-all-savings-programs-12">Savings programs you would like to claim</label>
            <span class="nsw-form__helper" id="select-all-savings-programs-12-helper-text">Select all that apply</span>
            <div class="nsw-multi-select js-multi-select" data-select-text="Select savings programs" data-multi-select-text="{n} savings programs selected" data-n-multi-select="2">
              <select name="select-all-savings-programs-12" id="select-all-savings-programs-12" aria-describedby="select-all-savings-programs-12-helper-text" multiple>
                <option value="Stay NSW voucher">Stay NSW voucher</option>
                <option value="Regional seniors travel card">Regional seniors travel card</option>
                <option value="Toll relief">Toll relief</option>
                <option value="First lap swimming voucher">First lap swimming voucher</option>
                <option value="Active kids voucher">Active kids voucher</option>
                <option value="Creative kids voucher">Creative kids voucher</option>
                <option value="Energy made easy">Energy made easy</option>
              </select>
            </div>  </div>
        
          <div class="nsw-form__group">
            <label class="nsw-form__label nsw-form__required" for="select-all-regions-13">Region<span class="sr-only"> (required)</span></label>
              <select class="nsw-form__select" name="select-all-regions-13" id="select-all-regions-13" aria-invalid="true"><option value="">Please select</option>
                <option value="Central Coast">Central Coast</option>
                <option value="Central West &amp; Orana">Central West &amp; Orana</option>
                <option value="Far West">Far West</option>
                <option value="Hunter">Hunter</option>
                <option value="Illawarra-Shoalhaven">Illawarra-Shoalhaven</option>
                <option value="New England &amp; North West">New England &amp; North West</option>
                <option value="North Coast">North Coast</option>
                <option value="Riverina Murray">Riverina Murray</option>
              </select>
            <span id="select-all-regions-13-error-text" class="nsw-form__helper nsw-form__helper--error"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>Please select a region of residence</span>  </div>
        
          <div class="nsw-form__group">
            <label class="nsw-form__label nsw-form__required" for="select-all-savings-programs-13">Savings programs you would like to claim<span class="sr-only"> (required)</span></label>
            <div class="nsw-multi-select js-multi-select" data-select-text="Select savings programs" data-multi-select-text="{n} savings programs selected" data-n-multi-select="2">
              <select name="select-all-savings-programs-13" id="select-all-savings-programs-13" aria-invalid="true" multiple>
                <option value="Stay NSW voucher">Stay NSW voucher</option>
                <option value="Regional seniors travel card">Regional seniors travel card</option>
                <option value="Toll relief">Toll relief</option>
                <option value="First lap swimming voucher">First lap swimming voucher</option>
                <option value="Active kids voucher">Active kids voucher</option>
                <option value="Creative kids voucher">Creative kids voucher</option>
                <option value="Energy made easy">Energy made easy</option>
              </select>
            </div>
            <span id="select-all-savings-programs-13-error-text" class="nsw-form__helper nsw-form__helper--error"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>Please select the savings programs you would like to claim</span>  </div>
        
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="select-all-regions-14">Region</label>
              <select class="nsw-form__select" name="select-all-regions-14" id="select-all-regions-14"><option value="">Please select</option>
                <option value="Central Coast">Central Coast</option>
                <option value="Central West &amp; Orana">Central West &amp; Orana</option>
                <option value="Far West">Far West</option>
                <option value="Hunter">Hunter</option>
                <option value="Illawarra-Shoalhaven">Illawarra-Shoalhaven</option>
                <option value="New England &amp; North West">New England &amp; North West</option>
                <option value="North Coast">North Coast</option>
                <option value="Riverina Murray">Riverina Murray</option>
              </select>
            <span id="select-all-regions-14-valid-text" class="nsw-form__helper nsw-form__helper--valid"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">check_circle</span>Your region is eligible for savings benefits</span>  </div>
        
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="select-all-savings-programs-14">Savings programs you would like to claim</label>
            <div class="nsw-multi-select js-multi-select" data-select-text="Select savings programs" data-multi-select-text="{n} savings programs selected" data-n-multi-select="2">
              <select name="select-all-savings-programs-14" id="select-all-savings-programs-14" multiple>
                <option value="Stay NSW voucher">Stay NSW voucher</option>
                <option value="Regional seniors travel card">Regional seniors travel card</option>
                <option value="Toll relief">Toll relief</option>
                <option value="First lap swimming voucher">First lap swimming voucher</option>
                <option value="Active kids voucher">Active kids voucher</option>
                <option value="Creative kids voucher">Creative kids voucher</option>
                <option value="Energy made easy">Energy made easy</option>
              </select>
            </div>
            <span id="select-all-savings-programs-14-valid-text" class="nsw-form__helper nsw-form__helper--valid"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">check_circle</span>The programs you have selected are available</span>  </div>
        </div>
      </main>
      <div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
    </div>
  </div>
</section>
  <script src="https://designsystem.digital.nsw.gov.au//js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
