<!doctype html>
<html lang="en" class="no-js">
<head>
  <title>NSW Digital Design System - Select</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex" />
  <link rel="icon" href="/nsw-design-system/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone" rel="stylesheet">
  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TMEHXHFJXJ"></script>
<script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","G-TMEHXHFJXJ");</script>
</head>

<body>
<div class="nsw-container nsw-p-y-sm">
  <div class="nsw-layout">
    <main class="nsw-layout__main">
  		
  		<form id="form" class="nsw-form">
  		  <div class="nsw-form__group nsw-m-bottom-sm">
  		    <label class="nsw-form__label" for="select-all-savings-programs-test">Savings programs you would like to claim</label>
  		    <div class="nsw-multi-select js-multi-select" data-selection-text="savings programs">
  		      <select name="select-all-savings-programs-test" id="select-all-savings-programs-test" multiple>
  		        <option value="Stay NSW voucher">Stay NSW voucher</option>
  		        <option value="Regional seniors travel card">Regional seniors travel card</option>
  		        <option value="Toll relief">Toll relief</option>
  		        <option value="First lap swimming voucher">First lap swimming voucher</option>
  		        <option value="Active kids voucher">Active kids voucher</option>
  		        <option value="Creative kids voucher">Creative kids voucher</option>
  		        <option value="Energy made easy">Energy made easy</option>
  		      </select>
  		    </div>
  		  </div>
  		
  		  <div class="nsw-form__group">
  		    <fieldset class="nsw-form__fieldset">
  		      <legend>
  		        <span class="nsw-form__legend">Category</span>
  		      </legend>
  		      <input class="nsw-form__checkbox-input" type="checkbox" name="form-checkbox-multi-1" id="form-checkbox-multi-1-a">
  		      <label class="nsw-form__checkbox-label" for="form-checkbox-multi-1-a">Customer Service</label>
  		      <input class="nsw-form__checkbox-input" type="checkbox" name="form-checkbox-multi-1" id="form-checkbox-multi-1-b">
  		      <label class="nsw-form__checkbox-label" for="form-checkbox-multi-1-b">Communities and Justice</label>
  		    </fieldset>
  		
  		    <div class="nsw-form__group nsw-m-bottom-sm">
  		      <label class="nsw-form__label" for="select-all-regions-1">Region</label>
  		        <select class="nsw-form__select" name="select-all-regions-1" id="select-all-regions-1"><option value="">Please select</option>
  		          <option value="Central Coast">Central Coast</option>
  		          <option value="Central West &amp; Orana">Central West &amp; Orana</option>
  		          <option value="Far West">Far West</option>
  		          <option value="Hunter">Hunter</option>
  		          <option value="Illawarra-Shoalhaven">Illawarra-Shoalhaven</option>
  		          <option value="New England &amp; North West">New England &amp; North West</option>
  		          <option value="North Coast">North Coast</option>
  		          <option value="Riverina Murray">Riverina Murray</option>
  		        </select>
  		    </div>
  		  </div>
  		
  		  <div class="nsw-form__group">
  		    <label for="pet-select">Choose a pet:</label>
  		
  		    <select name="pets" id="pet-select">
  		      <option value="">--Please choose an option--</option>
  		      <option value="dog">Dog</option>
  		      <option value="cat">Cat</option>
  		      <option value="hamster">Hamster</option>
  		      <option value="parrot">Parrot</option>
  		      <option value="spider">Spider</option>
  		      <option value="goldfish">Goldfish</option>
  		    </select>
  		  </div>
  		
  		  <div class="nsw-form__group nsw-m-bottom-sm">
  		    <fieldset class="nsw-form__fieldset">
  		      <legend>
  		        <span class="nsw-form__legend">Choose your monster's features:</span>
  		      </legend>
  		
  		      <div>
  		        <input type="checkbox" id="scales" name="scales">
  		        <label for="scales">Scales</label>
  		      </div>
  		
  		      <div>
  		        <input type="checkbox" id="horns" name="horns">
  		        <label for="horns">Horns</label>
  		      </div>
  		
  		      <div>
  		        <input type="checkbox" id="tentacles" name="tentacles">
  		        <label for="tentacles">Tentacles</label>
  		      </div>
  		
  		      <div>
  		        <input type="checkbox" id="wings" name="wings">
  		        <label for="wings">Wings</label>
  		      </div>
  		    </fieldset>
  		  </div>
  		
  		  <input type="submit" class="nsw-button nsw-button--dark" value="Submit">
  		
  		  <p id="log"></p>
  		</form>
  		
  		<script>
  		function logSubmit(event) {
  		  event.preventDefault();
  		  const formData = new FormData(form);
  		
  		  for (const [key, value] of formData) {
  		    log.innerHTML += `<pre>${key}: ${value}</pre>\n`;
  		  }
  		}
  		
  		const form = document.querySelector("form");
  		const log = document.getElementById("log");
  		form.addEventListener("submit", logSubmit);
  		</script>
  		
  	</main>
  	<div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
  </div>
</div>


  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
