<div class="nsw-container nsw-layout nsw-wysiwyg-content">
  <main class="nsw-layout__content">
    <div class="nsw-ds-example-container">
      <h2>Full width - Main content area</h2>
      {{>_grid}}
    </div>
  </main>
</div>

<div class="nsw-container nsw-layout nsw-layout--sidebar-left nsw-wysiwyg-content">
  <div class="nsw-layout__sidebar nsw-layout__sidebar--nav">
    <div class="nsw-ds-example-container">
      <h2>Side nav area</h2>
      <p>Whole</p>
      <div class="nsw-ds-example-box"></div>
    </div>
  </div>
  <main class="nsw-layout__content">
    <div class="nsw-ds-example-container">
      <h2>Two column - Main content area</h2>
      {{>_grid}}
    </div>
  </main>
</div>

<div class="nsw-container nsw-layout nsw-layout--sidebar-right nsw-wysiwyg-content">
  <main class="nsw-layout__content">
    <div class="nsw-ds-example-container">
      <h2>Two column - Main content area</h2>
      {{>_grid}}
    </div>
  </main>
  <div class="nsw-layout__sidebar">
    <div class="nsw-ds-example-container">
      <h2>Sidebar area</h2>
      <p>Whole</p>
      <div class="nsw-ds-example-box"></div>
    </div>
  </div>
</div>