<div class="nsw-container nsw-wysiwyg-content">
  <div class="nsw-page-layout">
    <main class="nsw-page-layout__main">
      <div class="nsw-ds-example-container">
        <h2>Full width - Main content area</h2>
        {{>_grid-basic}}
      </div>
    </main>
  </div>
</div>

<div class="nsw-container nsw-wysiwyg-content">
  <div class="nsw-page-layout">
    <div class="nsw-page-layout__sidebar nsw-page-layout__sidebar--desktop">
      <div class="nsw-ds-example-container">
        <h2>Side nav area</h2>
        <div class="nsw-ds-example-box"></div>
      </div>
    </div>
    <main class="nsw-page-layout__main">
      <div class="nsw-ds-example-container">
        <h2>Two column - Main content area</h2>
        {{>_grid-basic}}
      </div>
    </main>
  </div>
</div>

<div class="nsw-container nsw-wysiwyg-content">
  <div class="nsw-page-layout">  
    <main class="nsw-page-layout__main">
      <div class="nsw-ds-example-container">
        <h2>Two column - Main content area</h2>
        {{>_grid-basic}}
      </div>
    </main>
    <div class="nsw-page-layout__sidebar">
      <div class="nsw-ds-example-container">
        <h2>Sidebar area</h2>
        <div class="nsw-ds-example-box"></div>
      </div>
    </div>
  </div>
</div>