<div class="nsw-page-layout">
  <main class="nsw-page-layout__main">
    <p>Full width - Main content area</p>
    <div class="nsw-ds-example-container"></div>
  </main>
</div>

<div class="nsw-page-layout">  
  <div class="nsw-page-layout__sidebar nsw-page-layout__sidebar--desktop">
    <p>Side nav area</p>
    <div class="nsw-ds-example-container"></div>
  </div>
  <main class="nsw-page-layout__main">
    <p>Two column - Main content area</p>
    <div class="nsw-ds-example-container"></div>
  </main>
</div>

<div class="nsw-page-layout">  
  <main class="nsw-page-layout__main">
    <p>Two column - Main content area</p>
    <div class="nsw-ds-example-container"></div>
  </main>
  <div class="nsw-page-layout__sidebar">
    <p>Sidebar area</p>
    <div class="nsw-ds-example-container"></div>
  </div>
</div>