<div class="nsw-page-layout">
  {{#if-equals side "left"}}
  <div class="nsw-page-layout__sidebar{{#if desktop}} nsw-page-layout__sidebar--desktop{{/if}}">
    <!-- START: Left sidebar content -->
    <div class="nsw-docs__box nsw-docs__box--large"></div>
    <!-- END: Left sidebar content -->
  </div>
  {{/if-equals}}
  <main class="nsw-page-layout__main">
    <!-- START: Main content -->
    <div class="nsw-docs__box nsw-docs__box--large"></div>
    <!-- END: Main content -->
  </main>
  {{#if-equals side "right"}}
  <div class="nsw-page-layout__sidebar{{#if desktop}} nsw-page-layout__sidebar--desktop{{/if}}">
    <!-- START: Right sidebar content -->
    <div class="nsw-docs__box nsw-docs__box--large"></div>
    <!-- END: Right sidebar content -->
  </div>
  {{/if-equals}}
</div>