---
title: Layout
layout: blank-layout.hbs
---

<h2>Layout guidance</h2>
<p>Not about a grid, but about the page layout. When to use full width or to have column on the left or right.</p>
<p>Do's:</p>
<ul>
	<li>Use layout</li>
</ul>
<p>Dont's:</p>
<ul>
	<li>Don't do left and right column at the same time</li>
</ul>
<h3>Also something about container</h3>
<p>Adding containers and layout classes allow us to implement consistent and clean layouts. A container has a max-width of 1200px and the page layout acts as a wrapper to align the spacing inside the content.</p>