---
title: Layout
example: true
---

<main>
  <div class="nsw-bg-white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <h1 class="nsw-section-title">Layout</h1>
	  		</div>
	  	</div>

			{{>_layout}}
			{{>_grid-overlay}}
	  </div>
	</div>
</main>
