---
title: Layout
width: wide
blank: true
---

<h3>Full width - Main content area</h3>
{{#>_docs-example}}
{{>_layout}}
{{/_docs-example}}

<h3>Two column - Left side desktop only</h3>
{{#>_docs-example}}
{{>_layout side="left" desktop="true"}}
{{/_docs-example}}


<h3>Two column - Right side</h3>
{{#>_docs-example}}
{{>_layout side="right"}}
{{/_docs-example}}