---
title: Layout
order: 40
width: wide
tabs: true
directory: layout
---

<h3>Full width - Main content area</h3>
{{#>_docs-example}}
<div class="nsw-container"> 
  {{>_layout}}
</div>
{{/_docs-example}}

<h3>Two column - Left side desktop only</h3>
{{#>_docs-example}}
<div class="nsw-container"> 
  {{>_layout side="left" desktop="true"}}
</div>
{{/_docs-example}}


<h3>Two column - Right side</h3>
{{#>_docs-example}}
<div class="nsw-container"> 
  {{>_layout side="right"}}
</div>
{{/_docs-example}}