---
title: Cookie banner
tabs: true
directory: cookie-banner
intro: Global alerts display across the top of an entire site to show important information to users.
figma: https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=21298%3A24823
model: json/cookie-banner.json
meta-description: Global alerts display across the top of an entire site to show important information to users.
meta-index: true
---

<h3>Information</h3>
{{#>_docs-example}}{{>_cookie-banner model}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_cookie-banner model link="true"}}{{/_docs-example}}

<h3>Light</h3>
{{#>_docs-example}}{{>_cookie-banner model type="light"}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_cookie-banner model link="true" type="light"}}{{/_docs-example}}

<h3>Critical</h3>
{{#>_docs-example}}{{>_cookie-banner model type="critical"}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_cookie-banner model link="true" type="critical"}}{{/_docs-example}}
