<!doctype html>
<html lang="en" class="no-js">
<head><script async data-category="analytics" src="https://www.googletagmanager.com/gtag/js?id=G-49T9M12F86"></script>
<script data-category="analytics">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-49T9M12F86');
</script>
  <script data-category="analytics">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P2NKBBJZ');</script>
  
  <title>NSW Digital Design System - Pagination</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://designsystem.nsw.gov.au/nsw-og-image.jpg">
  <meta name="robots" content="noindex" />
  <link rel="icon" href="https://designsystem.nsw.gov.au/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone" rel="stylesheet">
  <link rel="stylesheet" href="https://designsystem.nsw.gov.au/docs/css/docs.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css">
  <!-- Hotjar Tracking Code for NSW Design System -->
  <script data-category="analytics">
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
      h._hjSettings = { hjid: 5063548, hjsv: 6 };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script'); r.async = 1; 
      r.setAttribute('data-category', 'analytics');
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>
  <script
    type="text/plain"
    data-category="foo">
    alert('This is a test to show that the cookie consent preferences are working. Manage cookie preferences in the footer to turn off.');
  </script>
  <script src="https://designsystem.nsw.gov.au/cookie-consent-config.js"></script>
</head>

<body><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2NKBBJZ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    

<header class="nsw-header">
  <div class="nsw-header__container">
    <div class="nsw-header__inner">
      <div class="nsw-color-swatches js-color-swatches">
        <legend class="nsw-color-swatches__legend" aria-live="polite" aria-atomic="true"><span class="nsw-color-swatches__color js-color-swatches__color">Blue 01</span></legend>
        <select class="js-color-swatches__select" aria-label="Select a color"></select>
      </div>
    </div>
  </div>
</header>


<section class="nsw-section">
  <div class="nsw-container nsw-p-y-sm">
    <div class="nsw-layout">
      <main class="nsw-layout__main">
        <nav class="nsw-pagination" aria-label="Pagination">
          <ul>
            <li>
              <a class="nsw-icon-button" href="#">
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_left</span>
                <span class="sr-only">Previous</span>
              </a>  
            </li>
            <li><a href="#"><span class="sr-only">Page </span>1</a></li>
            <li><a href="#"><span class="sr-only">Page </span>2</a></li>
            <li><a href="#"><span class="sr-only">Page </span>3</a></li>
            <li><a href="#"><span class="sr-only">Page </span>4</a></li>
            <li><a class="active" href="#"><span class="sr-only">Page </span>5</a></li>
            <li><a href="#"><span class="sr-only">Page </span>6</a></li>
            <li><a href="#"><span class="sr-only">Page </span>7</a></li>
            <li><a href="#"><span class="sr-only">Page </span>8</a></li>
            <li><span>&hellip;</span></li>
            <li><a href="#"><span class="sr-only">Page </span>12</a></li>  
            <li>
              <a class="nsw-icon-button" href="#">
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_right</span>
                <span class="sr-only">Next</span>
              </a>  
            </li>
          </ul>
        </nav>
        <nav class="nsw-pagination" aria-label="Pagination">
          <ul>
            <li>
              <a class="nsw-icon-button disabled" href="#" aria-disabled="true">
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_left</span>
                <span class="sr-only">Previous</span>
              </a>  
            </li>
            <li><a class="active" href="#"><span class="sr-only">Page </span>1</a></li>
            <li><a href="#"><span class="sr-only">Page </span>2</a></li>
            <li><a href="#"><span class="sr-only">Page </span>3</a></li>
            <li><a href="#"><span class="sr-only">Page </span>4</a></li>
            <li><a href="#"><span class="sr-only">Page </span>5</a></li>
            <li><a href="#"><span class="sr-only">Page </span>6</a></li>
            <li><a href="#"><span class="sr-only">Page </span>7</a></li>
            <li><a href="#"><span class="sr-only">Page </span>8</a></li>
            <li><span>&hellip;</span></li>
            <li><a href="#"><span class="sr-only">Page </span>12</a></li>  
            <li>
              <a class="nsw-icon-button" href="#">
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_right</span>
                <span class="sr-only">Next</span>
              </a>  
            </li>
          </ul>
        </nav>
      </main>
      <div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
    </div>
  </div>
</section>

<section class="nsw-section nsw-section--brand-dark nsw-section--invert">
  <div class="nsw-container nsw-p-y-sm">
    <div class="nsw-layout">
      <main class="nsw-layout__main">
        <nav class="nsw-pagination" aria-label="Pagination">
          <ul>
            <li>
              <a class="nsw-icon-button" href="#">
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_left</span>
                <span class="sr-only">Previous</span>
              </a>  
            </li>
            <li><a href="#"><span class="sr-only">Page </span>1</a></li>
            <li><a href="#"><span class="sr-only">Page </span>2</a></li>
            <li><a href="#"><span class="sr-only">Page </span>3</a></li>
            <li><a href="#"><span class="sr-only">Page </span>4</a></li>
            <li><a class="active" href="#"><span class="sr-only">Page </span>5</a></li>
            <li><a href="#"><span class="sr-only">Page </span>6</a></li>
            <li><a href="#"><span class="sr-only">Page </span>7</a></li>
            <li><a href="#"><span class="sr-only">Page </span>8</a></li>
            <li><span>&hellip;</span></li>
            <li><a href="#"><span class="sr-only">Page </span>12</a></li>  
            <li>
              <a class="nsw-icon-button" href="#">
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_right</span>
                <span class="sr-only">Next</span>
              </a>  
            </li>
          </ul>
        </nav>
        <nav class="nsw-pagination" aria-label="Pagination">
          <ul>
            <li>
              <a class="nsw-icon-button disabled" href="#" aria-disabled="true">
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_left</span>
                <span class="sr-only">Previous</span>
              </a>  
            </li>
            <li><a class="active" href="#"><span class="sr-only">Page </span>1</a></li>
            <li><a href="#"><span class="sr-only">Page </span>2</a></li>
            <li><a href="#"><span class="sr-only">Page </span>3</a></li>
            <li><a href="#"><span class="sr-only">Page </span>4</a></li>
            <li><a href="#"><span class="sr-only">Page </span>5</a></li>
            <li><a href="#"><span class="sr-only">Page </span>6</a></li>
            <li><a href="#"><span class="sr-only">Page </span>7</a></li>
            <li><a href="#"><span class="sr-only">Page </span>8</a></li>
            <li><span>&hellip;</span></li>
            <li><a href="#"><span class="sr-only">Page </span>12</a></li>  
            <li>
              <a class="nsw-icon-button" href="#">
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_right</span>
                <span class="sr-only">Next</span>
              </a>  
            </li>
          </ul>
        </nav>
      </main>
      <div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
    </div>
  </div>
</section>
<script src="https://designsystem.nsw.gov.au/docs/js/docs.js"></script>

  <script src="https://designsystem.nsw.gov.au/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
