---
title: Pagination
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Pagination allows users to see total number of pages, which page they are viewing, and how to navigate to other pages.</p>
<p>Use pagination to separate large lists of content, such as search results, into smaller lists that are easier to interact with. Showing content on several pages prevents your content from becoming too long and overwhelming.</p>
<p>Consider using pagination when a listing exceeds 10 results. Letting the user know on which page a particular piece of information is available makes it easier for them to find it again.  </p>

<h2>How this component works</h2>
<p><strong>Placement</strong></p>
<p>Pagination is placed at the bottom of the content list to give users visibility and flexibility to move throughout the pages.  </p>
<p><strong>Controls</strong></p>
<p>The next and back controls allow users to easily move forward and backward through the pages and selecting a page number takes a user to that page. The first and last page number should always show and a user’s current page is always highlighted.</p>
<p><strong>Disabled and active states</strong></p>
<p>Pagination links are customizable for different circumstances. Use <code>.disabled</code> for links that appear un-clickable and <code>.active</code> to indicate the current page.</p>

<h2>Accessibility</h2>
<p>All components are responsive and designed to comply with WCAG 2.2 AA accessibility standards. Full compliance depends on using and configuring the components correctly.</p>
