---
title: Pagination
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Pagination allows users to see how many pages there are, which page you are currently viewing, and how to navigate to other pages. </p>
<p>Use pagination to separate large lists of content, such as search results into smaller lists that are easier to interact with. Showing content on several pages prevents your content from becoming too long and overwhelming. Consider using pagination when a listing exceeds 10 results</p>
<p>Pagination works best where users are looking for specific pieces of content. Letting the user know on which page a particular piece of information is available makes it easier for them to find it again. </p>

<h2>How this component works</h2>
<p><strong>Placement</strong></p>
<p>Place at the bottom of the content to give users visibility and flexibility to move throughout the pages. </p>
<p><strong>Controls</strong></p>
<p>The Next and Back controls allow users to easily move forward and backward through the pages. While selecting a page number allows a user to go directly to that page. The first and last page number should always show, and a user’s current page is always highlighted. </p>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>