<nav class="nsw-pagination" aria-label="Pagination">
  <ul>
    <li>
      <a class="nsw-icon-button" href="#">
        <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_left</span>
        <span class="sr-only">Back</span>
      </a>  
    </li>
    <li><a href="#"><span class="sr-only">Page </span>1</a></li>
    <li><a href="#"><span class="sr-only">Page </span>2</a></li>
    <li><a class="active" href="#"><span class="sr-only">Page </span>3</a></li>
    <li><a href="#"><span class="sr-only">Page </span>4</a></li>
    <li><span>&hellip;</span></li>
    <li><a href="#"><span class="sr-only">Page </span>12</a></li>
    <li>
      <a class="nsw-icon-button" href="#">
        <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_right</span>
        <span class="sr-only">Next</span>
      </a>  
    </li>
  </ul>
</nav>
