.nsw-pagination {
  @include component-spacing();

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
  }

  li {
    margin: 0;

    > span {
      padding: rem(4px);
    }
  }

  a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: rem(4px);
    min-width: rem(30px);
    border-radius: var(--nsw-border-radius);

    &:hover {
      outline: none;
    }

    &.active {
      position: relative;
      color: var(--nsw-text-dark);

      &:hover {
        background-color: transparent;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: rem(4px);
        right: rem(4px);
        height: 2px;
        background-color: var(--nsw-brand-accent);        
      }
    }    
  }
}
