.nsw-pagination {
  @include component-spacing();

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
  }

  li {
    margin: 0;

    &:first-child {
      .nsw-link {
        margin-right: rem(4px);
      }
    }

    &:last-child {
      .nsw-link {
        margin-left: rem(4px);
      }
    }

    > span {
      padding: rem(4px);
    }
  }

  a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: rem(4px);
    min-width: rem(30px);

    &:hover {
      outline: none;
    }

    &.active {
      position: relative;
      color: var(--nsw-text-dark);

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: rem(4px);
        right: rem(4px);
        height: 2px;
        background-color: var(--nsw-brand-accent);        
      }
    }    
  }

  &__text {
    vertical-align: middle;
  }

  .nsw-link {
    padding: rem(4px) rem(8px);
    text-decoration: none;
  }
}
