<nav class="nsw-pagination" aria-label="Pagination">
  <ul>
    <li>
      <a class="nsw-icon-button{{#if disabled}} disabled{{/if}}" href="#"{{#if disabled}} aria-disabled="true"{{/if}}>
        <span class="material-symbols-outlined nsw-material-symbols-outlined" focusable="false" aria-hidden="true">keyboard_arrow_left</span>
        <span class="sr-only">Previous</span>
      </a>  
    </li>
    {{#each list}}
    <li><a{{#if-equals ../active this}} class="active"{{/if-equals}} href="#"><span class="sr-only">Page </span>{{this}}</a></li>
    {{/each}}
    <li><span>&hellip;</span></li>
    <li><a href="#"><span class="sr-only">Page </span>12</a></li>  
    <li>
      <a class="nsw-icon-button" href="#">
        <span class="material-symbols-outlined nsw-material-symbols-outlined" focusable="false" aria-hidden="true">keyboard_arrow_right</span>
        <span class="sr-only">Next</span>
      </a>  
    </li>
  </ul>
</nav>
