<div class="nsw-notification{{#if type}} nsw-notification--{{type}}{{/if}}"{{#if isAlert}} role="alert"{{/if}}>
  {{#if icon}}<i class="material-icons nsw-material-icons nsw-notification__icon" focusable="false" aria-hidden="true">{{icon}}</i>{{/if}}
  <div class="nsw-notification__content">
    <h4 class="nsw-notification__title">{{heading}}</h4>
    <p>{{copy}}</p>
  </div>
</div>
