//Variations
$notification: (
  info: (
    border: var(--nsw-notification-info-blue),
    background: var(--nsw-notification-info-blue-bg),
    fill: var(--nsw-notification-info-blue),
  ),
  success: (
    border: var(--nsw-notification-success-green),
    background: var(--nsw-notification-success-green-bg),
    fill: var(--nsw-notification-success-green),
  ),
  warning: (
    border: var(--nsw-notification-warning-orange),
    background: var(--nsw-notification-warning-orange-bg),
    fill: var(--nsw-notification-warning-orange),
  ),
  error: (
    border: var(--nsw-notification-error-red),
    background: var(--nsw-notification-error-red-bg),
    fill: var(--nsw-notification-error-red),
  ),
);

.nsw-notification {
  @include component-spacing();
  @include nsw-spacing(padding, md);
  font-family: var(--nsw-font-family);
  background: transparent;
  position: relative;
  border-left: solid 6px transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  @include breakpoint('md') {
    @include nsw-spacing(padding, lg lg lg md);
  }

  &__icon {
    flex: 0 0 auto;
    font-size: rem(38px);
    position: relative;
    top: rem(-3px);
    left: rem(-3px);
    margin-right: rem(10px);

    &.nsw-icon {
      @include nsw-spacing(margin-right, md);
      width: rem(24px);
      height: rem(24px);
      position: static;
    }

    @include breakpoint('md') {
      &.nsw-icon {
        width: rem(32px);
        height: rem(32px);
      }
    }
  }

  &__content {
    p:not([class]) {
      @include nsw-spacing(margin, sm none none none);
    }

    .nsw-text-link {
      @include nsw-spacing(margin-top, sm);
    }
  }

  &__title {
    font-weight: var(--nsw-font-bold);
    margin: 0;
  }

  @each $color, $variant in $notification {
    &--#{"" + $color} {
      background-color: map-get($variant, background);
      border-color: map-get($variant, border);

      .nsw-notification__icon {
        color: map-get($variant, fill);

        &.nsw-icon {
          fill: map-get($variant, fill);
        }
      }
    }
  }
}
