---
title: In-page notification
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Use in-page notifications to attract the user's attention. Notifications are often displayed following a user interaction or system event. The level of attention is dependent on the importance of the notification. </p>
<p>Do:</p>
<ul>
  <li>use clear, concise easy to understand language, to minimise cognitive load</li>
  <li>display the notifications in context and at an appropriate time</li>
  <li>avoid using multiple notifications on a single screen (if multiple are required, display them by importance; critical, warning, success then information).</li>
  <li>use the appropriate notification for the task at hand.</li>
</ul>
<p>Do not:</p>
<ul>
  <li>overuse notifications as this will erode their effectiveness</li>
  <li>use for global alerts which are required on all pages.</li>
</ul>

<h3>In-page notification states</h3>
<p>In-page notification are styled according to their purpose:</p>
<p><strong>Information notification</strong></p>
<p>Designed to be less intrusive or interruptive than other levels of notification:</p>
<ul>
  <li>use for information the user should know, but is not critical</li>
  <li>use for tips or information which the user can benefit from</li>
  <li>use for messages which don't require too much attention or action</li>
  <li>don't use in response to a user action.</li>
</ul>
<p><strong>Success notification</strong></p>
<ul>
  <li>use to inform the user that an action was performed successfully (e.g. submitting a form or registering an account).</li>
</ul>
<p><strong>Warning notification</strong></p>
<ul>
  <li>use to warn the user of a possible negative outcome (e.g. password expiry)</li>
  <li>provide sufficient information to avoid the problem</li>
  <li>use for an action that is out of the ordinary or might not be desired.</li>
</ul>
<p><strong>Critical notification</strong></p>
<ul>
  <li>use where a system event has failed</li>
  <li>use when the user has made an error</li>
  <li>use where the user is blocked until the issue is resolved, or the issue needs resolving immediately</li>
  <li>provide sufficient information on the issue and resolution to fix the issue</li>
  <li>don't use for validation or validation summary.</li>
</ul>

<h3>How this component works</h3>
<p>The family of notifications is designed with a consistent layout to aid comprehension of what they are and how they work.</p>
<p>They are designed to look 'not always present', to draw the user's attention.</p>
<p>The type and urgency of the notification is conveyed through colour and the icon used.</p>
<p>The icons used are industry standard, with the exception of the warning and critical icons which are somewhat interchangeable. Both the warning and critical icons are perceived as more important to aid the user's comprehension.</p>
<p>The notifications are not dismissible.</p>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>
