---
title: In-page notification
width: narrow
guidance: https://digitalnsw.github.io/nsw-design-system-docs/components/notification/index.html
model:
  info: json/notification-info.json
  error: json/notification-error.json
  warning: json/notification-warning.json
  success: json/notification-success.json
---

<h3>Information</h3>
{{#>_docs-example}}{{>_notification model.info}}{{/_docs-example}}

<h3>Critical</h3>
{{#>_docs-example}}{{>_notification model.error}}{{/_docs-example}}

<h3>Warning</h3>
{{#>_docs-example}}{{>_notification model.warning}}{{/_docs-example}}

<h3>Success</h3>
{{#>_docs-example}}{{>_notification model.success}}{{/_docs-example}}
