---
title: In-page notification
model:
  info: notification-info.json
  error: notification-error.json
  warning: notification-warning.json
  success: notification-success.json
---

<div class="nsw-container">
	{{>_notification model.info}}
</div>
<div class="nsw-container">
	{{>_notification model.error}}
</div>
<div class="nsw-container">
	{{>_notification model.warning}}
</div>
<div class="nsw-container">
	{{>_notification model.success}}
</div>
