---
title: Full width - Hero banner [featured list]
page: true
model:
  header: ../../components/header/json/header-customer-service.json
  nav: ../../components/main-navigation/json/main-navigation-customer-service.json
  banner: ../../components/banner/json/banner.json
  breadcrumbs: ../../components/breadcrumbs/json/breadcrumbs.json
  footer: ../../components/footer/json/footer.json
---

{{>_header model.header}}
{{>_main-navigation model.nav}}

{{>_banner 
  wide=false 
  dark=false 
  heading="NSW Department of Customer Service" 
  copy="We are making it easier to deal with government by driving improvements in customer service."
  links-title="Key coronavirus links"
  links=(split "COVIDSafe App;Current COVID-19 case locations;Travel to and from NSW;Health and wellbeing;Business and work;COVID-19 testing centres")
}}

<main id="content">
  <section class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
              {{>_card 
                heading= "Dine & Discover NSW"
                copy="Encouraging the community to get out and about, supporting dining, arts and tourism businesses."
                img="https://picsum.photos/id/431/400/200"
              }}
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
              {{>_card 
                heading= "Creative kids"
                copy="The $100 voucher encourges school-aged children to enrol in  creative and cultural activities."
                img="https://picsum.photos/id/534/400/200"
              }}
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
              {{>_card 
                heading= "Active kids"
                copy="The $100 voucher encourges school-aged children to enrol in sport, fitness or active recreation programs."
                img="https://picsum.photos/id/73/400/200"
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nsw-section--light-10">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <h2 class="nsw-section-title">Our services</h2>
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
              {{>_card 
                heading="Health"
                content=true
              }}
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
              {{>_card 
                heading="Housing and property"
                content=true
              }}
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
              {{>_card 
                heading="Education"
                content=true
              }}
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
              {{>_card 
                heading="Transport"
                content=true
              }}
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
              {{>_card 
                heading="Living in NSW"
                content=true
              }}
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
              {{>_card 
                heading="Environment"
                content=true
              }}
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
              {{>_card 
                heading="Planning"
                content=true
              }}
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
              {{>_card 
                heading="Spatial"
                content=true
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid nsw-grid--spaced">
            <div class="nsw-col nsw-col-lg-6">
              {{>_content-block 
                heading="COVID-19 support"
                copy="There are important changes to government support services due to the outbreak of COVID-19 (coronavirus). Read the full information about <a href='#'>Changes to government support services</a>"
              }}
            </div>
            <div class="nsw-col nsw-col-lg-6">
              {{>_content-block 
                heading="Contact us"
                copy="If you would like to get in contact with us, or have any other questions, email us at  <a href='mailto:digital@customerservice.nsw.gov.au'>digital@customerservice.nsw.gov.au</a>. We can organise a time to meet up.  "
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{{>_footer model.footer}}
