<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Tags</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="/nsw-design-system/">
  <link rel="icon" href="/nsw-design-system/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
</head>

<body class="nsw-body-content">
<div class="nsw-container nsw-p-y-sm">
  <div class="nsw-page-layout">
    <main class="nsw-page-layout__main">
  		<div class="nsw-docs__section nsw-docs__section--spaced"> 
  		<div class="nsw-tags">
  		  <a href="/nsw-design-system" class="nsw-tag">Digital</a>
  		  <a href="/nsw-design-system" class="nsw-tag">Digital Design System</a>
  		  <a href="/nsw-design-system" class="nsw-tag">Transformation</a>
  		</div>
  		</div>
  		<div class="nsw-docs__section nsw-docs__section--spaced"> 
  		<div class="nsw-tags">
  		  <span class="nsw-tag">Pre-discovery</span>
  		  <span class="nsw-tag">Discovery</span>
  		  <span class="nsw-tag">Alpha</span>
  		  <span class="nsw-tag">Beta</span>
  		  <span class="nsw-tag">Live</span>
  		</div>
  		</div>
  		<div class="nsw-docs__section nsw-docs__section--spaced"> 
  		<div class="nsw-tags">
  		  <div class="nsw-tag nsw-tag--checkbox">
  		    <input type="checkbox" id="checkbox-1" name="tagInput">
  		    <label for="checkbox-1">Accessibility</label>
  		  </div>
  		  <div class="nsw-tag nsw-tag--checkbox">
  		    <input type="checkbox" id="checkbox-2" name="tagInput">
  		    <label for="checkbox-2">Capability</label>
  		  </div>
  		  <div class="nsw-tag nsw-tag--checkbox">
  		    <input type="checkbox" id="checkbox-3" name="tagInput">
  		    <label for="checkbox-3">Policy</label>
  		  </div>
  		  <div class="nsw-tag nsw-tag--checkbox">
  		    <input type="checkbox" id="checkbox-4" name="tagInput">
  		    <label for="checkbox-4">Transformation</label>
  		  </div>
  		</div>
  		</div>
  	</main>
  	<div class="nsw-page-layout__sidebar nsw-page-layout__sidebar--desktop"></div>
  </div>
</div>

  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
