<!doctype html>
<html lang="en" class="no-js">
<head><script async src="https://www.googletagmanager.com/gtag/js?id=G-49T9M12F86"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-49T9M12F86');
</script>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P2NKBBJZ');</script>
  
  <title>NSW Digital Design System - Card carousel</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://designsystem.nsw.gov.au/nsw-og-image.jpg">
  <meta name="robots" content="noindex" />
  <link rel="icon" href="https://designsystem.nsw.gov.au/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone" rel="stylesheet">
  <link rel="stylesheet" href="https://designsystem.nsw.gov.au/docs/css/docs.css">
  <!-- Hotjar Tracking Code for NSW Design System -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:5063548,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
</head>

<body><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2NKBBJZ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    

<header class="nsw-header">
  <div class="nsw-header__container">
    <div class="nsw-header__inner">
      <div class="nsw-color-swatches js-color-swatches">
        <legend class="nsw-color-swatches__legend" aria-live="polite" aria-atomic="true"><span class="nsw-color-swatches__color js-color-swatches__color">Blue 01</span></legend>
        <select class="js-color-swatches__select" aria-label="Select a color"></select>
      </div>
    </div>
  </div>
</header>


<section class="nsw-section">
  <div class="nsw-container nsw-p-y-sm">
    <div class="nsw-layout">
      <main class="nsw-layout__main">
        <h3>5 cards</h3>
        <div class="nsw-carousel js-carousel" data-description="Highlighted latest news" data-drag="on">
          <p class="sr-only">Carousel items</p>
          <div class="nsw-carousel__wrapper js-carousel__wrapper">
            <ol class="nsw-carousel__list">
              <li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/292/400/200" alt="1. Nominations open for Green Globe Awards 2019">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">1. Nominations open for Green Globe Awards 2019</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/28/400/200" alt="2. Quality green spaces and a million more trees for NSW">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">2. Quality green spaces and a million more trees for NSW</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will create more quality green spaces and increase ther tree canopy in Sydney bt 2022.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/268/400/200" alt="3. New Premier&#x27;s Priority to lift literacy and numeracy standards">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">3. New Premier&#x27;s Priority to lift literacy and numeracy standards</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will redouble its efforts to lift literacy and numeracy standards across NSW public schools to ensure students are given every opportunity to be their best.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/222/400/200" alt="4. Nominations open for Green Globe Awards 2019">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">4. Nominations open for Green Globe Awards 2019</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/238/400/200" alt="5. Quality green spaces and a million more trees for NSW">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">5. Quality green spaces and a million more trees for NSW</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will create more quality green spaces and increase ther tree canopy in Sydney bt 2022.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li>
            </ol>
          </div>
          <nav>
            <ul>
              <li>
                <button aria-controls="nsw-carousel__list" aria-label="Show previous items" class="nsw-carousel__control nsw-carousel__control--prev js-carousel__control">
                  <svg class="nsw-icon" viewBox="0 0 20 20">
                    <title>Show previous items</title>
                    <polyline points="13 2 5 10 13 18" fill="none" stroke="currentColor" stroke-linecap="square" stroke-linejoin="square" stroke-width="2" />
                  </svg>
                </button>
              </li>
              <li>
                <button aria-controls="nsw-carousel__list" aria-label="Show next items" class="nsw-carousel__control nsw-carousel__control--next js-carousel__control">
                  <svg class="nsw-icon" viewBox="0 0 20 20">
                    <title>Show next items</title>
                    <polyline points="7 2 15 10 7 18" fill="none" stroke="currentColor" stroke-linecap="square" stroke-linejoin="square" stroke-width="2" />
                  </svg>
                </button>
              </li>
            </ul>
          </nav>
        </div>
        <h3>9 cards</h3>
        <div class="nsw-carousel js-carousel" data-description="Highlighted latest news" data-drag="on">
          <p class="sr-only">Carousel items</p>
          <div class="nsw-carousel__wrapper js-carousel__wrapper">
            <ol class="nsw-carousel__list">
              <li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/292/400/200" alt="1. Nominations open for Green Globe Awards 2019">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">1. Nominations open for Green Globe Awards 2019</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/28/400/200" alt="2. Quality green spaces and a million more trees for NSW">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">2. Quality green spaces and a million more trees for NSW</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will create more quality green spaces and increase ther tree canopy in Sydney bt 2022.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/268/400/200" alt="3. New Premier&#x27;s Priority to lift literacy and numeracy standards">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">3. New Premier&#x27;s Priority to lift literacy and numeracy standards</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will redouble its efforts to lift literacy and numeracy standards across NSW public schools to ensure students are given every opportunity to be their best.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/222/400/200" alt="4. Nominations open for Green Globe Awards 2019">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">4. Nominations open for Green Globe Awards 2019</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/238/400/200" alt="5. Quality green spaces and a million more trees for NSW">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">5. Quality green spaces and a million more trees for NSW</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will create more quality green spaces and increase ther tree canopy in Sydney bt 2022.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/208/400/200" alt="6. New Premier&#x27;s Priority to lift literacy and numeracy standards">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">6. New Premier&#x27;s Priority to lift literacy and numeracy standards</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will redouble its efforts to lift literacy and numeracy standards across NSW public schools to ensure students are given every opportunity to be their best.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/282/400/200" alt="7. Nominations open for Green Globe Awards 2019">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">7. Nominations open for Green Globe Awards 2019</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/287/400/200" alt="8. Quality green spaces and a million more trees for NSW">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">8. Quality green spaces and a million more trees for NSW</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will create more quality green spaces and increase ther tree canopy in Sydney bt 2022.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/238/400/200" alt="9. New Premier&#x27;s Priority to lift literacy and numeracy standards">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">9. New Premier&#x27;s Priority to lift literacy and numeracy standards</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will redouble its efforts to lift literacy and numeracy standards across NSW public schools to ensure students are given every opportunity to be their best.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li>
            </ol>
          </div>
          <nav>
            <ul>
              <li>
                <button aria-controls="nsw-carousel__list" aria-label="Show previous items" class="nsw-carousel__control nsw-carousel__control--prev js-carousel__control">
                  <svg class="nsw-icon" viewBox="0 0 20 20">
                    <title>Show previous items</title>
                    <polyline points="13 2 5 10 13 18" fill="none" stroke="currentColor" stroke-linecap="square" stroke-linejoin="square" stroke-width="2" />
                  </svg>
                </button>
              </li>
              <li>
                <button aria-controls="nsw-carousel__list" aria-label="Show next items" class="nsw-carousel__control nsw-carousel__control--next js-carousel__control">
                  <svg class="nsw-icon" viewBox="0 0 20 20">
                    <title>Show next items</title>
                    <polyline points="7 2 15 10 7 18" fill="none" stroke="currentColor" stroke-linecap="square" stroke-linejoin="square" stroke-width="2" />
                  </svg>
                </button>
              </li>
            </ul>
          </nav>
        </div>
        <h3>Pagination</h3>
        <div class="nsw-carousel js-carousel" data-description="Highlighted latest news" data-navigation-pagination="on">
          <p class="sr-only">Carousel items</p>
          <div class="nsw-carousel__wrapper js-carousel__wrapper">
            <ol class="nsw-carousel__list">
              <li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/292/400/200" alt="1. Nominations open for Green Globe Awards 2019">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">1. Nominations open for Green Globe Awards 2019</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/28/400/200" alt="2. Quality green spaces and a million more trees for NSW">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">2. Quality green spaces and a million more trees for NSW</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will create more quality green spaces and increase ther tree canopy in Sydney bt 2022.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/268/400/200" alt="3. New Premier&#x27;s Priority to lift literacy and numeracy standards">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">3. New Premier&#x27;s Priority to lift literacy and numeracy standards</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will redouble its efforts to lift literacy and numeracy standards across NSW public schools to ensure students are given every opportunity to be their best.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/222/400/200" alt="4. Nominations open for Green Globe Awards 2019">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">4. Nominations open for Green Globe Awards 2019</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/238/400/200" alt="5. Quality green spaces and a million more trees for NSW">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">5. Quality green spaces and a million more trees for NSW</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will create more quality green spaces and increase ther tree canopy in Sydney bt 2022.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/208/400/200" alt="6. New Premier&#x27;s Priority to lift literacy and numeracy standards">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">6. New Premier&#x27;s Priority to lift literacy and numeracy standards</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will redouble its efforts to lift literacy and numeracy standards across NSW public schools to ensure students are given every opportunity to be their best.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/282/400/200" alt="7. Nominations open for Green Globe Awards 2019">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">7. Nominations open for Green Globe Awards 2019</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/287/400/200" alt="8. Quality green spaces and a million more trees for NSW">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">8. Quality green spaces and a million more trees for NSW</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will create more quality green spaces and increase ther tree canopy in Sydney bt 2022.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/238/400/200" alt="9. New Premier&#x27;s Priority to lift literacy and numeracy standards">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">9. New Premier&#x27;s Priority to lift literacy and numeracy standards</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will redouble its efforts to lift literacy and numeracy standards across NSW public schools to ensure students are given every opportunity to be their best.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li>
            </ol>
          </div>
          <nav>
            <ul>
              <li>
                <button aria-controls="nsw-carousel__list" aria-label="Show previous items" class="nsw-carousel__control nsw-carousel__control--prev js-carousel__control">
                  <svg class="nsw-icon" viewBox="0 0 20 20">
                    <title>Show previous items</title>
                    <polyline points="13 2 5 10 13 18" fill="none" stroke="currentColor" stroke-linecap="square" stroke-linejoin="square" stroke-width="2" />
                  </svg>
                </button>
              </li>
              <li>
                <button aria-controls="nsw-carousel__list" aria-label="Show next items" class="nsw-carousel__control nsw-carousel__control--next js-carousel__control">
                  <svg class="nsw-icon" viewBox="0 0 20 20">
                    <title>Show next items</title>
                    <polyline points="7 2 15 10 7 18" fill="none" stroke="currentColor" stroke-linecap="square" stroke-linejoin="square" stroke-width="2" />
                  </svg>
                </button>
              </li>
            </ul>
          </nav>
        </div>
      </main>
      
    </div>
  </div>
</section>

<section class="nsw-section nsw-section--brand-dark nsw-section--invert">
  <div class="nsw-container nsw-p-y-sm">
    <div class="nsw-layout">
      <main class="nsw-layout__main">
        <h3>5 cards</h3>
        <div class="nsw-carousel js-carousel" data-description="Highlighted latest news" data-drag="on">
          <p class="sr-only">Carousel items</p>
          <div class="nsw-carousel__wrapper js-carousel__wrapper">
            <ol class="nsw-carousel__list">
              <li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/292/400/200" alt="1. Nominations open for Green Globe Awards 2019">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">1. Nominations open for Green Globe Awards 2019</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/28/400/200" alt="2. Quality green spaces and a million more trees for NSW">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">2. Quality green spaces and a million more trees for NSW</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will create more quality green spaces and increase ther tree canopy in Sydney bt 2022.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/268/400/200" alt="3. New Premier&#x27;s Priority to lift literacy and numeracy standards">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">3. New Premier&#x27;s Priority to lift literacy and numeracy standards</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will redouble its efforts to lift literacy and numeracy standards across NSW public schools to ensure students are given every opportunity to be their best.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/222/400/200" alt="4. Nominations open for Green Globe Awards 2019">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">4. Nominations open for Green Globe Awards 2019</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/238/400/200" alt="5. Quality green spaces and a million more trees for NSW">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">5. Quality green spaces and a million more trees for NSW</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will create more quality green spaces and increase ther tree canopy in Sydney bt 2022.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li>
            </ol>
          </div>
          <nav>
            <ul>
              <li>
                <button aria-controls="nsw-carousel__list" aria-label="Show previous items" class="nsw-carousel__control nsw-carousel__control--prev js-carousel__control">
                  <svg class="nsw-icon" viewBox="0 0 20 20">
                    <title>Show previous items</title>
                    <polyline points="13 2 5 10 13 18" fill="none" stroke="currentColor" stroke-linecap="square" stroke-linejoin="square" stroke-width="2" />
                  </svg>
                </button>
              </li>
              <li>
                <button aria-controls="nsw-carousel__list" aria-label="Show next items" class="nsw-carousel__control nsw-carousel__control--next js-carousel__control">
                  <svg class="nsw-icon" viewBox="0 0 20 20">
                    <title>Show next items</title>
                    <polyline points="7 2 15 10 7 18" fill="none" stroke="currentColor" stroke-linecap="square" stroke-linejoin="square" stroke-width="2" />
                  </svg>
                </button>
              </li>
            </ul>
          </nav>
        </div>
        <h3>9 cards</h3>
        <div class="nsw-carousel js-carousel" data-description="Highlighted latest news" data-drag="on">
          <p class="sr-only">Carousel items</p>
          <div class="nsw-carousel__wrapper js-carousel__wrapper">
            <ol class="nsw-carousel__list">
              <li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/292/400/200" alt="1. Nominations open for Green Globe Awards 2019">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">1. Nominations open for Green Globe Awards 2019</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/28/400/200" alt="2. Quality green spaces and a million more trees for NSW">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">2. Quality green spaces and a million more trees for NSW</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will create more quality green spaces and increase ther tree canopy in Sydney bt 2022.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/268/400/200" alt="3. New Premier&#x27;s Priority to lift literacy and numeracy standards">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">3. New Premier&#x27;s Priority to lift literacy and numeracy standards</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will redouble its efforts to lift literacy and numeracy standards across NSW public schools to ensure students are given every opportunity to be their best.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/222/400/200" alt="4. Nominations open for Green Globe Awards 2019">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">4. Nominations open for Green Globe Awards 2019</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/238/400/200" alt="5. Quality green spaces and a million more trees for NSW">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">5. Quality green spaces and a million more trees for NSW</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will create more quality green spaces and increase ther tree canopy in Sydney bt 2022.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/208/400/200" alt="6. New Premier&#x27;s Priority to lift literacy and numeracy standards">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">6. New Premier&#x27;s Priority to lift literacy and numeracy standards</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will redouble its efforts to lift literacy and numeracy standards across NSW public schools to ensure students are given every opportunity to be their best.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/282/400/200" alt="7. Nominations open for Green Globe Awards 2019">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">7. Nominations open for Green Globe Awards 2019</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/287/400/200" alt="8. Quality green spaces and a million more trees for NSW">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">8. Quality green spaces and a million more trees for NSW</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will create more quality green spaces and increase ther tree canopy in Sydney bt 2022.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/238/400/200" alt="9. New Premier&#x27;s Priority to lift literacy and numeracy standards">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">9. New Premier&#x27;s Priority to lift literacy and numeracy standards</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will redouble its efforts to lift literacy and numeracy standards across NSW public schools to ensure students are given every opportunity to be their best.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li>
            </ol>
          </div>
          <nav>
            <ul>
              <li>
                <button aria-controls="nsw-carousel__list" aria-label="Show previous items" class="nsw-carousel__control nsw-carousel__control--prev js-carousel__control">
                  <svg class="nsw-icon" viewBox="0 0 20 20">
                    <title>Show previous items</title>
                    <polyline points="13 2 5 10 13 18" fill="none" stroke="currentColor" stroke-linecap="square" stroke-linejoin="square" stroke-width="2" />
                  </svg>
                </button>
              </li>
              <li>
                <button aria-controls="nsw-carousel__list" aria-label="Show next items" class="nsw-carousel__control nsw-carousel__control--next js-carousel__control">
                  <svg class="nsw-icon" viewBox="0 0 20 20">
                    <title>Show next items</title>
                    <polyline points="7 2 15 10 7 18" fill="none" stroke="currentColor" stroke-linecap="square" stroke-linejoin="square" stroke-width="2" />
                  </svg>
                </button>
              </li>
            </ul>
          </nav>
        </div>
        <h3>Pagination</h3>
        <div class="nsw-carousel js-carousel" data-description="Highlighted latest news" data-navigation-pagination="on">
          <p class="sr-only">Carousel items</p>
          <div class="nsw-carousel__wrapper js-carousel__wrapper">
            <ol class="nsw-carousel__list">
              <li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/292/400/200" alt="1. Nominations open for Green Globe Awards 2019">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">1. Nominations open for Green Globe Awards 2019</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/28/400/200" alt="2. Quality green spaces and a million more trees for NSW">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">2. Quality green spaces and a million more trees for NSW</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will create more quality green spaces and increase ther tree canopy in Sydney bt 2022.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/268/400/200" alt="3. New Premier&#x27;s Priority to lift literacy and numeracy standards">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">3. New Premier&#x27;s Priority to lift literacy and numeracy standards</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will redouble its efforts to lift literacy and numeracy standards across NSW public schools to ensure students are given every opportunity to be their best.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/222/400/200" alt="4. Nominations open for Green Globe Awards 2019">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">4. Nominations open for Green Globe Awards 2019</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/238/400/200" alt="5. Quality green spaces and a million more trees for NSW">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">5. Quality green spaces and a million more trees for NSW</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will create more quality green spaces and increase ther tree canopy in Sydney bt 2022.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/208/400/200" alt="6. New Premier&#x27;s Priority to lift literacy and numeracy standards">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">6. New Premier&#x27;s Priority to lift literacy and numeracy standards</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will redouble its efforts to lift literacy and numeracy standards across NSW public schools to ensure students are given every opportunity to be their best.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/282/400/200" alt="7. Nominations open for Green Globe Awards 2019">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">7. Nominations open for Green Globe Awards 2019</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/287/400/200" alt="8. Quality green spaces and a million more trees for NSW">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">8. Quality green spaces and a million more trees for NSW</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will create more quality green spaces and increase ther tree canopy in Sydney bt 2022.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li><li class="nsw-carousel__item">
              <div class="nsw-card nsw-card--headline">
                <div class="nsw-card__image">
                  <img src="https://picsum.photos/id/238/400/200" alt="9. New Premier&#x27;s Priority to lift literacy and numeracy standards">
                </div>
                <div class="nsw-card__content">
                  <div class="nsw-card__title">
                    <a href="https://www.digital.nsw.gov.au">9. New Premier&#x27;s Priority to lift literacy and numeracy standards</a>
                  </div>
                  <div class="nsw-card__copy">
                    <p>The NSW Government will redouble its efforts to lift literacy and numeracy standards across NSW public schools to ensure students are given every opportunity to be their best.</p>
                  </div>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </div>
              </div>
              </li>
            </ol>
          </div>
          <nav>
            <ul>
              <li>
                <button aria-controls="nsw-carousel__list" aria-label="Show previous items" class="nsw-carousel__control nsw-carousel__control--prev js-carousel__control">
                  <svg class="nsw-icon" viewBox="0 0 20 20">
                    <title>Show previous items</title>
                    <polyline points="13 2 5 10 13 18" fill="none" stroke="currentColor" stroke-linecap="square" stroke-linejoin="square" stroke-width="2" />
                  </svg>
                </button>
              </li>
              <li>
                <button aria-controls="nsw-carousel__list" aria-label="Show next items" class="nsw-carousel__control nsw-carousel__control--next js-carousel__control">
                  <svg class="nsw-icon" viewBox="0 0 20 20">
                    <title>Show next items</title>
                    <polyline points="7 2 15 10 7 18" fill="none" stroke="currentColor" stroke-linecap="square" stroke-linejoin="square" stroke-width="2" />
                  </svg>
                </button>
              </li>
            </ul>
          </nav>
        </div>      </main>
      
    </div>
  </div>
</section>
<script src="https://designsystem.nsw.gov.au/docs/js/docs.js"></script>

  <script src="https://designsystem.nsw.gov.au/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
