<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - {{title}}</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-light.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/xml.min.js"></script>  <script>
    // SVG Sprite Loader
    var svgAjax = new XMLHttpRequest();
    svgAjax.open("GET", "../../assets/svg/sprite.svg", true);
    svgAjax.send();
    svgAjax.onload = function(e) {
      var fragment = document.createRange().createContextualFragment(svgAjax.responseText);
      var svg = fragment.querySelector('svg')
      svg.setAttribute('aria-hidden', true);
      svg.style.cssText = 'position: absolute; width: 0; height: 0; overflow: hidden;'
      document.body.insertBefore(fragment, document.body.childNodes[0]);
    };
    // Replace 'no-js' with 'js' on the html tag
    (function(e){e.className=e.className.replace(/\bno-js\b/,'js')})(document.documentElement);
  </script>
  <style>
    .ui-dev-demo pre {
      display: none;
    }
  </style>
</head>

<body {{#if example}}class="nsw-ds-example"{{/if}}>
  {{>_header-digital-full}}
  <div class="nsw-grid nsw-m-none" style="margin:0; /* helpers don't override grid */">
    <div class="nsw-col-3 nsw-col">
      {{>_side-navigation-docs}}
    </div>
    <div class="nsw-p-none nsw-col-9 nsw-col" style="padding:0; /* helpers don't override grid */">
      <div class="nsw-docs-content-header nsw-bg--light-10 nsw-p-x-md nsw-p-y-xs">
          <h1>{{ title }}</h1>
          {{#if component.description}}
            <p>{{ component.description }}</p>
          {{/if}}
      </div>
      <div>
{{>_tabbed-content-docs}}
      </div>
    </div>
  </div>
  {{>_footer-docs}}
  <script src="/js/main.js"></script>
  <script>
    window.NSW.initSite()
    hljs.initHighlightingOnLoad();
    document.addEventListener('click', function (event) {
      if (!event.target.matches('.showHTML')) return;
      event.preventDefault();
      console.log(event.target);
      event.target.nextElementSibling.style.display = 'block';
      event.target.style.display = 'none';
    }, false)
</script>
</body>
</html>
