<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - {{title}}</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-light.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/xml.min.js"></script>
</head>

<body {{#if example}}class="nsw-ds-example"{{/if}}>
  {{>_header-digital-full}}
  <div class="nsw-grid nsw-m-none" style="margin:0; /* helpers don't override grid */">
    <div class="nsw-col-3 nsw-col nsw-show-lg">
      {{>_side-navigation-docs}}
    </div>
    <div class="nsw-col-12 nsw-hide-lg nsw-bg--light-10 nsw-p-left-md">
        <a class="nsw-direction-link" href="#">
          <svg class="nsw-icon nsw-icon--rotate-180" focusable="false" aria-hidden="true">
            <use xlink:href="#arrow"></use>
          </svg>
          <span class="nsw-direction-link__text">Back <span class="sr-only">to home screen</span>
          </span>
        </a>
    </div>
    <div class="nsw-p-none nsw-col-12 nsw-col-lg-9 nsw-col " style="padding:0; /* helpers don't override grid */">
      <div class="nsw-docs-content-header nsw-bg--light-10 nsw-p-x-md nsw-p-y-xs">
          <h1>{{ title }}</h1>
          {{#if component.description}}
            <p>{{ component.description }}</p>
          {{/if}}
      </div>
    <div>
{{>_tabbed-content-docs}}
      </div>
    </div>
  </div>
  {{>_footer-docs}}
  <script src="/js/main.js"></script>
  <script src="/docs/js/docs.js"></script>
  <script>
    window.NSW.initSite()
    hljs.initHighlightingOnLoad();
    </script>
</body>
</html>
