.nsw-global-alert {
  padding: rem(24px) 0;
  background-color: var(--nsw-status-info);
  color: var(--nsw-text-light);

  &__close {
    width: rem(36px);
    height: rem(36px);
    position: absolute;
    top: 0;
    right: rem(16px);
    background: none;
    border: 0;
    padding: 0;
    color: var(--nsw-text-light);

    &:hover {
      @include nsw-hover;
      background-color: var(--nsw-text-hover-light);
    }

    &:focus {
      @include nsw-focus($color: var(--nsw-text-light));
    }

    .nsw-material-icons {
      font-size: rem(map-get($nsw-icon-sizes, 36));
    }
  }

  &__wrapper {
    @include container;
    position: relative;
  }

  &__title {
    @include font-size('md');
    font-weight: var(--nsw-font-bold);
  }

  &__content {
    margin-right: rem(48px);

    a {
      @include link-light;
    }
  }

  .nsw-button {
    margin-right: 0;
  }

  &--critical {
    background-color: var(--nsw-status-error);
  }

  &--light {
    background-color: var(--nsw-status-info-bg);
    color: var(--nsw-text-dark);

    .nsw-global-alert__content a {
      @include link-dark;
    }

    .nsw-global-alert__close {
      color: var(--nsw-brand-dark);

      &:hover {
        background-color: var(--nsw-text-hover);
      }

      &:focus {
        outline-color: var(--nsw-focus);
      }
    }
  }
}
