---
title: Global alert
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Global alerts are designed to capture the attention of the user in a deliberately intrusive way. They persist over a session but are user dismissible, and are purposefully created and not initiated by a user interaction or system event.</p>
<p>Use global alerts:</p>
<ul>
  <li>to attract the attention of the user for important messages, or to encourage an action</li>
  <li>for messages or actions that are relevant to the entire product or system, not just a feature or page</li>
</ul>
<p>Do:</p>
<ul>
  <li>use clear, concise easy to understand language, to minimise cognitive load</li>
  <li>use a button or link text in the description to provide users with more information or to complete an action</li>
  <li>use at the upper most part of the screen, before the masthead</li>
  <li>reserve the use of the critical alert for circumstances which warrant it</li>
</ul>

<h3>Global alert states</h3>
<p>Global alerts are styled according to their purpose:</p>
<ul>
  <li><strong>Default alert</strong> - used to show non-critical important information</li>
  <li><strong>Critical alert</strong> - used to show critical information</li>
  <li><strong>Light alert</strong> - used as an alternative to the blue default on sites where blue features prominently.</li>
</ul>

<h3>When to avoid</h3>
<p>Do not display in response to an action initiated by a user interaction or system event.</p>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>
