---
title: Global alert
tabs: true
directory: global-alert
intro: Global alerts display across the top of an entire site to show important information to users. 
figma: https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=21298%3A24823
react: https://digitalnsw.github.io/nsw-design-system-react/?path=/docs/content-globalalert--info
model: json/global-alert.json
---

<h3>Information</h3>
{{#>_docs-example}}{{>_global-alert model}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_global-alert model link="true"}}{{/_docs-example}}

<h3>Light</h3>
{{#>_docs-example}}{{>_global-alert model type="light"}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_global-alert model link="true" type="light"}}{{/_docs-example}}

<h3>Critical</h3>
{{#>_docs-example}}{{>_global-alert model type="critical"}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_global-alert model link="true" type="critical"}}{{/_docs-example}}
