---
title: Loader
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Loaders should be shown when content is loading or an action is being processed. They reassure the user that their request is being fulfilled. Once the process is complete the loader should fade and be replaced by the loaded content.</p>
<p>Use loaders when the the wait time is unknown or anticipated to be longer than one seconds. When showing the loader as part of a state (writing or validating data), no delay should be used.</p>
<p>Do</p>
<ul>
  <li>place the loader centered in the area the data is loading</li>
  <li>only show a spinner if the expected wait time is more than one second</li>
  <li>only show one loader on a page at a time. If mulitple sections are loading, consider using a large loader for the entire section instead of individual ones</li>
</ul>
<h2>When to avoid</h2>
<p>Do not use loaders if the loading process is less than one second.</p>

<h2>How this component works</h2>
<h3>Explain why the user is waiting</h3>
<p>To further reduce a user’s uncertainty, offer the reason they are waiting by customising the label. For example, “Your payment is being processed” or “Loading results”.</p>
<h3>Sizes</h3>
<p>Loaders are available in different sizes to cater for different use cases. For example:</p>
<ul>
  <li><strong>Small:</strong> 24px -  use for text labels or inside other UI elements, like a button.</li>
  <li><strong>Medium:</strong> 32px - use for larger visual elements, like cards.</li>
  <li><strong>Large:</strong> 48px, use for larer sections of a page, like charts or maps.</li>
  <li><strong>Extra large:</strong> 64px, use for whole page loading.</li>
</ul>

<h2>Accessibility</h2>
<p>All components are responsive and designed to comply with WCAG 2.2 AA accessibility standards. Full compliance depends on using and configuring the components correctly.</p>
