<div class="nsw-loader">
  <span aria-hidden="true" class="nsw-loader__circle{{#if size}} nsw-loader__circle--{{size}}{{/if}}"></span>
  <span role="status" class="nsw-loader__label">Loading</span>
</div>
