//Variations
$nsw-loaders: (
  sm: (
    size: rem(24px),
    border-width: 3px,
  ),
  md: (
    size: rem(32px),
    border-width: 3px,
  ),
  lg: (
    size: rem(48px),
    border-width: 4px,
  )
);

.nsw-loader {
  text-align: center;

  &__circle {
    position: relative;
    display: inline-flex;
    border-radius: 50%;
    border-style: solid;
    animation-name: nsw-loader-animation-rotate;
    animation-duration: 1.4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    width: rem(64px);
    height: rem(64px);
    border-width: 4px;
    border-color: var(--nsw-grey-03);
    border-top-color: var(--nsw-brand-accent);

    @each $size, $variant in $nsw-loaders {
      &--#{"" + $size} {
        width: map-get($variant, size);
        height: map-get($variant, size);
        border-width: map-get($variant, border-width);
      }
    }
  }

  &__label {
    display: block;    
  }
}

@keyframes nsw-loader-animation-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
