{{#each size}}
  <div class="nsw-loader">
    <span aria-hidden="true" class="nsw-loader__circle nsw-loader__circle--{{this}}"></span>
    <span role="status" class="nsw-loader__label">Loading</span>
  </div>
{{/each}}
