//Variations
$nsw-loaders: (
  sm: (
    width: rem(24px),
    height: rem(24px),
    border-width: 3px,
    transform-origin: 50% 50% calc((1.5rem / 2) + 3px)
  ),
  md: (
    width: rem(32px),
    height: rem(32px),
    border-width: 3px,
    transform-origin: 50% 50% calc((2rem / 2) + 3px)
  ),
  lg: (
    width: rem(48px),
    height: rem(48px),
    border-width: 4px,
    transform-origin: 50% 50% calc((3rem / 2) + 4px)
  ),
  xl: (
    width: rem(64px),
    height: rem(64px),
    border-width: 4px,
    transform-origin: 50% 50% calc((4rem / 2) + 4px)
  ),
);

.nsw-loader {
  text-align: center;

  &__circle {
    position: relative;
    display: inline-flex;
    border-radius: 50%;
    border-style: solid;
    margin: 0 auto;
    animation-name: nsw-loader-animation-rotate;
    animation-duration: 1.4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    width: rem(32px);
    height: rem(32px);
    border-width: 3px;
    transform-origin: 50% 50% calc((rem(24px) / 2) + 3px);
    border-color: var(--nsw-grey-03);
    border-top-color: var(--nsw-brand-accent);

    @each $size, $variant in $nsw-loaders {
      &--#{"" + $size} {
        width: map-get($variant, width);
        height: map-get($variant, height);
        border-width: map-get($variant, border-width);
        transform-origin: map-get($variant, transform-origin);
      }
    }
  }

  &__label {
    display: block;    
  }
}

@keyframes nsw-loader-animation-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
