---
title: Loader
width: narrow
page: true
---

{{#>_layout-container}}
  <div class="nsw-list nsw-list--16">
    {{>_loader}}
    {{>_loader size="lg"}}
    {{>_loader size="md"}}
    {{>_loader size="sm"}}
  </div>
{{/_layout-container}}

{{#>_layout-container brand-dark="true" invert="true"}}
  <div class="nsw-list nsw-list--16">
    {{>_loader}}
    {{>_loader size="lg"}}
    {{>_loader size="md"}}
    {{>_loader size="sm"}}
  </div>
{{/_layout-container}}
