---
title: Loader
width: narrow
tabs: true
directory: loader
intro: Loaders indicate to the user that data is loading.
meta-description: Loaders indicate to the user that data is loading.
meta-index: true
---

{{#>_docs-example}}
<div class="nsw-list nsw-list--16">
  {{>_loader}}
  {{>_loader size="lg"}}
  {{>_loader size="md"}}
  {{>_loader size="sm"}}
</div>
{{/_docs-example}}