---
title: Full width - Hero banner
model:
  nav-basic: ../../components/main-navigation/main-navigation.json
  nav-mega: ../../components/main-navigation/mega-navigation.json
  hero-banner: ../../components/hero-banner/hero-banner.json
  breadcrumbs: ../../components/breadcrumbs/breadcrumbs.json
  card-media-1: ../../components/card/json/card-media-1.json
  card-media-2: ../../components/card/json/card-media-2.json
  card-media-3: ../../components/card/json/card-media-3.json
  card-simple-1: ../../components/card/json/card-simple-1.json
  card-simple-2: ../../components/card/json/card-simple-2.json
  card-simple-3: ../../components/card/json/card-simple-3.json
  card-simple-4: ../../components/card/json/card-simple-4.json
  card-news-1: ../../components/card/json/card-news-1.json
  card-news-2: ../../components/card/json/card-news-2.json
  card-news-3: ../../components/card/json/card-news-3.json
  footer: ../../components/footer/footer.json
---

{{>_header}}
{{>_main-navigation model.nav-basic}}

{{>_hero-banner model.hero-banner}}

<main>
  <div class="nsw-bg-white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-md-4">
              {{>_card model.card-media-1}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_card model.card-media-2}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_card model.card-media-3}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nsw-bg-light-10">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <h2 class="nsw-section-title">Energy and utilities</h2>
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
              {{>_card model.card-simple-1}}
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
              {{>_card model.card-simple-2}}
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
              {{>_card model.card-simple-3}}
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
              {{>_card model.card-simple-4}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nsw-bg-white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <h2 class="nsw-section-title">Latest updates</h2>
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-md-4">
              {{>_card model.card-news-1}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_card model.card-news-2}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_card model.card-news-3}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{{>_footer model.footer}}
