---
title: Two column - Sidebar on the right [empty]
page: true
model:
  header: ../../components/header/json/header-premier-and-cabinet.json
  nav-basic: ../../components/main-navigation/json/main-navigation.json
  nav-mega: ../../components/main-navigation/json/mega-navigation.json
  breadcrumbs: ../../components/breadcrumbs/json/breadcrumbs.json
  card-media-1: ../../components/card/json/card-media-1.json
  card-media-2: ../../components/card/json/card-media-2.json
  card-media-3: ../../components/card/json/card-media-3.json
  footer: ../../components/footer/json/footer.json
---

{{>_header model.header}}
{{>_main-navigation model.nav-basic}}
<div class="nsw-container nsw-p-bottom-xs">
  {{>_breadcrumbs model.breadcrumbs}}
</div>

<div class="nsw-container nsw-p-top-sm nsw-p-bottom-lg">
  <div class="nsw-page-layout">
    <main id="content" class="nsw-page-layout__main">
      <h1>Contact us</h1>
      <p>We welcome your feedback, questions, comments and <a href="#">complaints</a>. We keep customers at the heart of what we do, and use your feedback to improve what we do and how we do it.</p>
      <p>Including all the information requested will allow us to respond to your query more quickly and accurately.</p>
      <p>Answer all questions unless they are marked as (optional).</p>
      <form class="nsw-form">
        <div class="nsw-form-group">
          {{>_select
            id="contact-type"
            label="Type of feedback:"
            helper-text="Choose the category that best suits your feedback"
            option-1="Complaints"
            option-2="Compliments"
            option-3="Other enquiry"
          }}
        </div>
        <div class="nsw-form-group">
          {{>_textarea
            id="contact-feedback"
            label="Give us your feedback:"
            helper-text="The more information you provide, the better we'll be able to action your feedback"
          }}
        </div>
        <h2>Personal details</h2>
        <div class="nsw-form-group">
          {{>_text-input
            id="contact-first-name"
            label="First name"
          }}
        </div>
        <div class="nsw-form-group">
          {{>_text-input
            id="contact-last-name"
            label="Last name"
          }}
        </div>
        <div class="nsw-form-group">
          {{>_text-input
            id="contact-email"
            type="email"
            label="Email address"
          }}
        </div>
        <div class="nsw-form-group">
          {{>_text-input
            id="contact-phone"
            type="tel"
            label="Phone number (optional)"
          }}
        </div>
        {{>_button-input type="submit" style="primary" text="Submit"}}
      </form>
    </main>
    <div class="nsw-page-layout__sidebar">
    </div>
  </div>
</div>

<div class="nsw-section--light-10">
  <div class="nsw-container">
    <div class="nsw-page-layout">
      <div class="nsw-page-layout__main">
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-md-4">
            {{>_card model.card-media-1}}
          </div>
          <div class="nsw-col nsw-col-md-4">
            {{>_card model.card-media-2}}
          </div>
          <div class="nsw-col nsw-col-md-4">
            {{>_card model.card-media-3}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{>_footer model.footer}}
