$nsw-global-alert: (
  default: (
    text-color: var(--nsw-text-light),
    background: var(--nsw-status-info-blue),
  ),
  light: (
    text-color: var(--nsw-text-dark),
    background: var(--nsw-status-info-blue-bg),
  ),
  critical: (
    text-color: var(--nsw-text-light),
    background: var(--nsw-status-error-red),
  )
);

.nsw-sitewide-message,
.nsw-global-alert {
  @include nsw-spacing(padding, lg none);
  font-family: var(--nsw-font-family);
  position: relative;

  @each $color, $variant in $nsw-global-alert {
    @if($color == default) {
      background-color: map-get($variant, background);
      color: map-get($variant, text-color);
    } @else {
      &--#{"" + $color} {
        background-color: map-get($variant, background);
        color: map-get($variant, text-color);
      }
    }
  }

  &__close {
    position: absolute;
    top: rem(-12px);
    right: rem(8px);
    background: none;
    border: 0;
    width: rem(40px);
    height: rem(40px);
    padding: 0;

    &:hover {
      @include nsw-hover;
    }

    &:focus {
      @include nsw-focus($color: var(--nsw-text-light));
    }

    .nsw-icon {
      fill: var(--nsw-text-light);
      width: rem(24px);
      height: rem(24px);
    }

    .nsw-material-icons {
      color: var(--nsw-text-light);
      font-size: 40px;
    }
  }

  &__wrapper {
    @include container;
    position: relative;
  }

  &__title {
    @include font-size('md');
    @include nsw-spacing(margin-top, none);
    font-weight: var(--nsw-font-bold);
  }

  &__link {
    color: var(--nsw-text-light);
    text-decoration: underline;
    font-weight: var(--nsw-font-bold);

    &:hover {
      text-decoration: none;
    }

    &:focus {
      @include nsw-focus($color: var(--nsw-text-light));
    }
  }

  &__content {
    @include nsw-spacing(margin-right, xxl);

    p {
      margin: 0;
    }

    * + p {
      @include nsw-spacing(margin-top, md);
    }
  }

  .nsw-button {
    @include button-variant(map-get($button-variations, white));
    display: block;
    margin-right: 0;

    &:focus {
      @include nsw-focus($color: var(--nsw-text-light));
    }

    @include breakpoint('md') {
      display: inline-block;
    }
  }

  &--dark {
    .nsw-button {
      @include button-variant(map-get($button-variations, white));
    }

    .nsw-sitewide-message__close .nsw-icon {
      fill: var(--nsw-text-light);
    }

    .nsw-sitewide-message__close .nsw-material-icons {
      color: var(--nsw-text-light);
    }
  }

  &--light,
  &--alert {
    .nsw-button {
      @include button-variant(map-get($button-variations, dark));

      &:focus {
        @include nsw-focus;
      }
    }

    .nsw-sitewide-message__close {
      &:focus {
        @include nsw-focus;
      }

      .nsw-icon {
        fill: var(--nsw-brand-dark);
      }

      .nsw-material-icons {
        color: var(--nsw-brand-dark);
      }
    }
  }

  &--light {
    .nsw-sitewide-message__link {
      color: var(--nsw-brand-dark);

      &:focus {
        @include nsw-focus();
      }
    }
  }
}
