---
title: Global alert
guidance: https://digitalnsw.github.io/nsw-design-system-docs/components/site-wide-message/index.html
blank: true
model: json/site-wide-message.json
---

<h3>Default</h3>
{{#>_docs-example}}{{>_site-wide-message model}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_site-wide-message model link="true"}}{{/_docs-example}}

<h3>Light</h3>
{{#>_docs-example}}{{>_site-wide-message model type="light"}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_site-wide-message model link="true" type="light"}}{{/_docs-example}}

<h3>Critical</h3>
{{#>_docs-example}}{{>_site-wide-message model type="critical"}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_site-wide-message model link="true" type="critical"}}{{/_docs-example}}
