---
title: Global alert
tabs: true
directory: site-wide-message
intro: Global alerts display across the top of an entire site to convey important information to users. 
figma: https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=0%3A1320
react: https://digitalnsw.github.io/nsw-design-system-react/?path=/docs/content-globalalert--info
model: json/site-wide-message.json
---

<h3>Information</h3>
{{#>_docs-example}}{{>_site-wide-message model}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_site-wide-message model link="true"}}{{/_docs-example}}

<h3>Light</h3>
{{#>_docs-example}}{{>_site-wide-message model type="light"}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_site-wide-message model link="true" type="light"}}{{/_docs-example}}

<h3>Critical</h3>
{{#>_docs-example}}{{>_site-wide-message model type="critical"}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_site-wide-message model link="true" type="critical"}}{{/_docs-example}}
