{{#if-equals type "banner"}}
<a href="#" class="js-open-banner-cookie-consent" aria-haspopup="dialog">Trigger consent banner</a>
{{/if-equals}}

{{#if-equals type "dialog"}}
<a href="#" class="js-open-dialog-cookie-consent-preferences" aria-haspopup="dialog">Trigger cookie preferences</a>
{{/if-equals}}
