@use '../../global/scss/tools' as nsw;

.nsw-cookie-banner {
  padding: nsw.rem(24px) 0;
  background-color: var(--nsw-brand-light);

  .nsw-icon-button {
    position: absolute;
    inset-block-start: nsw.rem(-8px);
    inset-inline-end: nsw.rem(4px);

    &:hover {
      background-color: var(--nsw-hover-light);

      @include nsw.nsw-hover;
    }

    &:focus {
      @include nsw.nsw-focus($color: var(--nsw-text-light));
    }
  }

  &__wrapper {
    position: relative;
    
    @include nsw.container;
  }

  &__title {
    font-weight: var(--nsw-font-bold);

    @include nsw.font-size('md');
  }

  &__content {
    margin: nsw.rem(16px) nsw.rem(36px) nsw.rem(24px) 0;
  }

  &__buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: nsw.rem(16px);
    margin-block-start: nsw.rem(16px);
    flex-direction: column;

    @include nsw.breakpoint('md') {
      flex-direction: row;
    }
  }

  &__cta-group {
    display: flex;
    gap: nsw.rem(16px);

    button {
      flex: 1 auto;
  
      @include nsw.breakpoint('md') {
        flex: unset;
      }
    }
  }

  &--light {
    background-color: var(--nsw-status-info-bg);
    color: var(--nsw-text-dark);

    .nsw-cookie-banner__content a {
      @include nsw.link-dark;
    }

    .nsw-icon-button {
      color: var(--nsw-brand-dark);

      &:hover {
        background-color: var(--nsw-hover);
      }

      &:focus {
        outline-color: var(--nsw-focus);
      }
    }
  }
}

.nsw-cookie-dialog {
  z-index: 1100;

  .nsw-dialog__container {
    overflow-y: hidden;
  }

  .nsw-dialog__top {
    z-index: 1101;
    position: sticky;
    inset-block-start: 0;
    background: var(--nsw-white);
    border-radius: var(--nsw-border-radius);
  }

  .nsw-dialog__content {
    padding-block-start: nsw.rem(16px);
    padding-block-end: nsw.rem(72px);

    @include nsw.breakpoint('md') {
      padding-block-start: nsw.rem(16px);
      padding-block-end: nsw.rem(4px);
    }
  }

  &__bottom {
    border-block-start: 1px solid var(--nsw-grey-04);
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    display: flex;
    flex-direction: column;
    padding: nsw.rem(16px);
    gap: nsw.rem(16px);

    @include nsw.breakpoint('md') {
      flex-direction: row;
      justify-content: space-between;
    }

    @include nsw.breakpoint('lg') {
      padding: nsw.rem(32px);
    }

    button {
      @include nsw.breakpoint('md') {
        margin-block-end: 0;
      }

      &:last-child {
        margin-block-end: 0;

        @include nsw.breakpoint('md') {
          margin-inline-start: 0;
        }
      }
    }
  }

  &__cta-group {
    display: flex;
    gap: nsw.rem(16px);
    
    @include nsw.breakpoint('md') {
      flex-direction: row;
    }

    button {
      flex: 1;

      @include nsw.breakpoint('md') {
        flex: unset;
      }
    }
  }

  &__content-wrapper {
    padding: nsw.rem(8px);
    overflow: scroll;
    max-block-size: 280px;

    &::-webkit-scrollbar {
      inline-size: 8px;
    }
    
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: var(--nsw-grey-03);
      box-shadow: 0 0 1px var(--nsw-grey-03);
    }
  }
 
  .nsw-tabs__content {
    -webkit-overflow-scrolling: auto;
    padding: nsw.rem(12px) 0 nsw.rem(8px) nsw.rem(8px);
    border-block-end: 0;

    @include nsw.breakpoint('md') {
      max-block-size: 320px;
    }

    &:focus-visible {
      outline: 2px solid var(--nsw-brand-dark);
    }

    &:focus {
      outline: none;
    }
  }
  
  &__list {
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;
    gap: nsw.rem(8px);
  }
  
  &__list-item {
    display: flex;
    flex-direction: column;
    gap: nsw.rem(8px);

    label {
      font-weight: var(--nsw-font-bold);
      cursor: pointer;

      @include nsw.font-size('md');
    }

    &:not(:nth-child(1)) {
      border-block-start: 1px solid var(--nsw-grey-04);
      padding-block-start: nsw.rem(24px);
    }
  }

  &__cookie-details {
    margin-inline-start: 48px;
  }
}
