---
title: Cookie consent
tabs: true
theme: true
directory: cookie-consent
intro: Global alerts display across the top of an entire site to show important information to users.
figma: https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=21298%3A24823
meta-description: Global alerts display across the top of an entire site to show important information to users.
meta-index: true
model: 
  cookie-consent-1: json/cookie-consent-1.json
  cookie-consent-4: json/cookie-consent-4.json
---

<h3>Consent Banner</h3>
{{#>_docs-example}}{{>_cookie-consent model.cookie-consent-1 type="banner"}}{{/_docs-example}}

<h3>Preferences Dialog</h3>
{{#>_docs-example}}{{>_cookie-consent model.cookie-consent-4 type="dialog"}}{{/_docs-example}}

