---
title: Cookie consent
tabs: true
theme: true
directory: cookie-consent
intro: Cookie consent is managed through a banner and a preferences dialog, allowing users to control their cookie settings and privacy choices.
meta-description: Cookie consent is managed through a banner and a preferences dialog, allowing users to control their cookie settings and privacy choices.
meta-index: true
model: 
  cookie-consent-1: json/cookie-consent-1.json
  cookie-consent-4: json/cookie-consent-4.json
---

<h3>Consent banner</h3>
{{#>_docs-example}}{{>_cookie-consent model.cookie-consent-1 type="banner"}}{{/_docs-example}}

<h3>Preferences dialog</h3>
{{#>_docs-example}}{{>_cookie-consent model.cookie-consent-4 type="dialog"}}{{/_docs-example}}

