---
title: Cookie consent
page: true
model: 
  cookie-consent-1: json/cookie-consent-1.json
  cookie-consent-4: json/cookie-consent-4.json
---

{{#>_theme}}
<p>
{{>_cookie-consent model.cookie-consent-1 type="banner"}}
</p>
<p>
{{>_cookie-consent model.cookie-consent-4 type="dialog"}}
</p>
{{/_theme}}