---
title: List items
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>When displaying results, consider what information is important to the user and display what they require to make an informed decision. This will depend largely on your product or service and your user needs.</p>
<p>Do:</p>
<ul>
  <li>ensure results are tested and return accurate and relevant results</li>
  <li>truncate descriptions as appropriate, recommend 150 words</li>
  <li>use results bar above a listing to indicate the number of results in a list and allow a user to sort by their preferred option</li>
  <li>use pagination when more than 10 results are returned if there are no results, clearly communicate if there are no matching results and provide suggestions or follow up actions</li>
</ul>
<p>Content in result listings can include:</p>
<ul>
  <li><strong>Headline</strong> - use to identify the title of page or result</li>
  <li><strong>Description</strong> - use to give the user a snapshot to the content</li>
  <li><strong>URL</strong> - use to indicate when content is located on a different site</li>
  <li><strong>Label/Category</strong> - use to indicate the result topic or identifier when this will give greater context over the result type or content.</li>
  <li><strong>Date</strong> - use when it brings value to the user to know this information and be clear on their relation to the content (for example “Last updated”).</li>
  <li><strong>Image</strong> - use when the image directly represents the listing content and can further support the text. Avoid using for decorative purposes and hide on smaller screens.</li>
</ul>

<h3>No results</h3>
<p>If no results are returned, clearly communicate there are no matching results and allow the user to continue their journey by providing tips to improve or widen their results.</p>
<p>Some ways to do this are by:</p>
<ul>
  <li>suggest alternative keyword if current keyword is not found or a spelling mistake is detected (if possible)</li>
  <li>tips to improve or widen the results</li>
  <li>contact information or other ways to navigate the site</li>
</ul>
