@use '../../global/scss/tools' as nsw;

.nsw-list-item {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: nsw.rem(24px) 0;
  border-block-end: 1px solid var(--nsw-grey-04);

  &:first-child {
    border-block-start: 1px solid var(--nsw-grey-04);
  }

  &__title {
    font-weight: var(--nsw-font-bold);
    
    @include nsw.font-size('md');
  }

  &__content {
    inline-size: 100%;
  }

  &__label,
  &__info,
  &__title,
  &__copy,
  &__tags {
    margin-block-start: nsw.rem(8px);

    &:first-child {
      margin: 0;
    }
  }

  &__label,
  &__info {
    @include nsw.font-size('xs');
  }

  &__label {
    font-weight: var(--nsw-font-bold);
  }

  &__image {
    min-inline-size: nsw.rem(250px);
    inline-size: nsw.rem(250px);
    margin: 0 0 0 nsw.rem(24px);
    display: none;

    @include nsw.breakpoint('lg') {
      display: block;
    }

    img {
      inline-size: 100%;
      block-size: 100%;
      object-fit: cover;      
    }
  }

  &--block {
    &:focus-within {
      @include nsw.nsw-focus($offset: false);

      .nsw-section--invert & {   
        @include nsw.nsw-focus($color: var(--nsw-focus-light));
      }
    }

    .nsw-list-item__title a {
      @include nsw.pseudo-clickable-block;

      &:focus {
        outline: none;
      }
    }
  }

  &--reversed {
    flex-direction: row-reverse;

    .nsw-list-item__image {
      margin: 0 nsw.rem(24px) 0 0;
    }
  }
}
