---
title: List items
width: narrow
model:
  list-item: ../../components/list-item/json/list-item.json
  list-item-url: ../../components/list-item/json/list-item-url.json
  list-item-label-date: ../../components/list-item/json/list-item-label-date.json
  list-item-label-tags: ../../components/list-item/json/list-item-label-tags.json
  list-item-image: ../../components/list-item/json/list-item-image.json
---

<h3>Default</h3>
{{#>_docs-example}}{{>_list-item model.list-item}}{{/_docs-example}}

<h3>URL</h3>
{{#>_docs-example}}{{>_list-item model.list-item-url}}{{/_docs-example}}

<h3>Label and Date</h3>
{{#>_docs-example}}{{>_list-item model.list-item-label-date}}{{/_docs-example}}

<h3>Multiple categories</h3>
{{#>_docs-example}}{{>_list-item model.list-item-label-tags}}{{/_docs-example}}

<h3>Image</h3>
{{#>_docs-example}}{{>_list-item model.list-item-image}}{{/_docs-example}}

<h3>Image on the left</h3>
{{#>_docs-example}}{{>_list-item model.list-item-image reversed="true"}}{{/_docs-example}}
