.nsw-tabs {
  @include component-spacing();

  &__list-wrapper {
    overflow: hidden;
    height: rem(48px);
    background-color: $light10;

    @include breakpoint('md') {
      background-color: transparent;
    }
  }

  &__list {
    margin: 0;
    padding: 0 0 rem(20px) 0;
    list-style: none;
    display: flex;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }

  &__link {
    @include nsw-spacing(padding, sm md);
    @include font-stack;
    z-index: 1;
    display: block;
    position: relative;
    text-decoration: none;
    color: $nsw-primary-blue;
    height: 100%;

    &:hover {
      @include nsw-hover;
    }

    &:focus {
      @include nsw-focus;
      outline-offset: -3px;
    }

    .is-selected & {
      @include font-stack(heading);
      color: $dark80;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        border-bottom: solid 4px $nsw-primary-highlight;
      }
    }
  }

  &__content {
    @include nsw-spacing(padding, lg md);
    border-bottom: solid 1px $light20;
    border-top: solid 2px $light20;
    margin-top: -2px;

    &:focus {
      @include nsw-focus;
    }
  }
}
