<div class="nsw-tabs js-tabs">
  <ul class="nsw-tabs__list">
    {{#each tabitems}}
    <li class="nsw-tabs__list-item">
      <a href="#{{urlHash}}" class="nsw-tabs__link">{{title}}</a>
    </li>
    {{/each}}
  </ul>
  {{#each tabitems}}
  <section id="{{urlHash}}" class="nsw-tabs__content">
    {{{content}}}
  </section>
  {{/each}}
</div>
