.nsw-tabs {
  @include component-spacing();

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    position: relative;
  }

  &__link {
    @include nsw-spacing(padding, sm md);
    @include font-stack;
    @include z-index('middle');
    display: block;
    position: relative;
    text-decoration: none;
    color: $nsw-primary-blue;

    &:hover {
      @include nsw-hover;
    }

    &:focus {
      @include nsw-focus;
    }

    .is-selected & {
      @include font-stack(heading);
      color: $dark80;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        border-bottom: solid 4px $nsw-primary-highlight;
      }
    }
  }

  &__content {
    @include nsw-spacing(padding, lg md);
    border-bottom: solid 1px $light20;
    border-top: solid 2px $light20;
    margin-top: -2px;

    &:focus {
      @include nsw-focus;
    }
  }
}
