<!doctype html>
<html lang="en" class="no-js">
<head><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P2NKBBJZ');</script>

  <title>NSW Digital Design System - Date picker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://digitalnsw.github.io/nsw-design-system/nsw-og-image.jpg">
  <meta name="robots" content="noindex" />
  <link rel="icon" href="/nsw-design-system/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone" rel="stylesheet">
  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
  <!-- Hotjar Tracking Code for NSW Design System -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:5063548,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
</head>

<body><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2NKBBJZ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  

<header class="nsw-header">
  <div class="nsw-header__container">
    <div class="nsw-header__inner">
      <div class="nsw-header__main">
        <div class="nsw-header__waratah">
          <br>
          <br>
          <br>
        </div>
      </div>
      <div class="nsw-color-swatches js-color-swatches">
        <legend class="nsw-color-swatches__legend" aria-live="polite" aria-atomic="true"><span class="nsw-color-swatches__color js-color-swatches__color">Blue 01</span></legend>
        <select class="js-color-swatches__select" aria-label="Select a color"></select>
      </div>
    </div>
  </div>
</header>


<section class="nsw-section">
  <div class="nsw-container nsw-p-y-sm">
    <div class="nsw-layout">
      <main class="nsw-layout__main">
        
        <div class="nsw-date-input js-date-input">
          <legend>
            <label for="date-input-1" class="nsw-form__label">Select date</label>
            <span id="date-input-1-helper-text" class="nsw-form__helper">Use dd/mm/yyyy format. For example 28 10 2024</span>
          </legend>
          
          <div class="nsw-date-input__wrapper nsw-form__input-group nsw-form__input-group--icon">
            <input type="text" class="nsw-form__input js-date-input__text" autocomplete="off" id="date-input-1">
            
            <button class="nsw-button nsw-button--dark nsw-button--flex js-date-input__trigger" type="button">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">calendar_today</span>
            </button>
          </div>
        </div>
        <br>
        <br>
        
        <div class="nsw-date-input js-date-input" data-min-date="02/01/2024" data-max-date="28/01/2024" data-dates-disabled="18/01/2024 19/01/2024 20/01/2024">
          <legend>
            <label for="date-input-2" class="nsw-form__label">Select date</label>
            <span id="date-input-2-helper-text" class="nsw-form__helper">Use dd/mm/yyyy format. For example 28 10 2024</span>
          </legend>
          
          <div class="nsw-date-input__wrapper nsw-form__input-group nsw-form__input-group--icon">
            <input type="text" class="nsw-form__input js-date-input__text" autocomplete="off" id="date-input-2" value="12/01/2024">
            
            <button class="nsw-button nsw-button--dark nsw-button--flex js-date-input__trigger" type="button">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">calendar_today</span>
            </button>
          </div>
        </div>
        <br>
        <br>
        
        
        <fieldset class="nsw-form__date nsw-date-input js-date-input">
          <legend>
            <span class="nsw-form__label">Start date</span>
            <span id="form-date-3-helper-text" class="nsw-form__helper">For example 28 10 2024</span>
          </legend>
          <div class="nsw-form__date-wrapper nsw-date-input__wrapper js-date-input-multiple">
            <div class="nsw-form__date-input">
              <label for="form-date-3-day" class="nsw-form__label nsw-form__label--small">Day</label>
              <input type="text" maxlength="2" id="form-date-3-day" name="form-date-3-day" autocomplete="bday-day" class="nsw-form__input js-date-picker-date">
            </div>
            <div class="nsw-form__date-input">
              <label for="form-date-3-month" class="nsw-form__label nsw-form__label--small">Month</label>
              <input type="text" maxlength="2" id="form-date-3-month" name="form-date-3-month" autocomplete="bday-month" class="nsw-form__input js-date-picker-month">
            </div>
            <div class="nsw-form__date-input nsw-form__date-input--large">
              <label for="form-date-3-year" class="nsw-form__label nsw-form__label--small">Year</label>
              <input type="text" maxlength="4" id="form-date-3-year" name="form-date-3-year" autocomplete="bday-year" class="nsw-form__input js-date-picker-year">
            </div>
            <div class="nsw-date-input__button">
              <button class="nsw-button nsw-button--dark nsw-button--flex js-date-input__trigger" type="button">
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">calendar_today</span>
              </button>
            </div>
          </div>
        </fieldset>
        
      </main>
      <div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
    </div>
  </div>
</section>

<section class="nsw-section nsw-section--brand-dark nsw-section--invert">
  <div class="nsw-container nsw-p-y-sm">
    <div class="nsw-layout">
      <main class="nsw-layout__main">
        
        <div class="nsw-date-input js-date-input">
          <legend>
            <label for="date-input-1" class="nsw-form__label">Select date</label>
            <span id="date-input-1-helper-text" class="nsw-form__helper">Use dd/mm/yyyy format. For example 28 10 2024</span>
          </legend>
          
          <div class="nsw-date-input__wrapper nsw-form__input-group nsw-form__input-group--icon">
            <input type="text" class="nsw-form__input js-date-input__text" autocomplete="off" id="date-input-1">
            
            <button class="nsw-button nsw-button--dark nsw-button--flex js-date-input__trigger" type="button">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">calendar_today</span>
            </button>
          </div>
        </div>
        <br>
        <br>
        
        <div class="nsw-date-input js-date-input" data-min-date="02/01/2024" data-max-date="28/01/2024" data-dates-disabled="18/01/2024 19/01/2024 20/01/2024">
          <legend>
            <label for="date-input-2" class="nsw-form__label">Select date</label>
            <span id="date-input-2-helper-text" class="nsw-form__helper">Use dd/mm/yyyy format. For example 28 10 2024</span>
          </legend>
          
          <div class="nsw-date-input__wrapper nsw-form__input-group nsw-form__input-group--icon">
            <input type="text" class="nsw-form__input js-date-input__text" autocomplete="off" id="date-input-2" value="12/01/2024">
            
            <button class="nsw-button nsw-button--dark nsw-button--flex js-date-input__trigger" type="button">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">calendar_today</span>
            </button>
          </div>
        </div>
        <br>
        <br>
        
        
        <fieldset class="nsw-form__date nsw-date-input js-date-input">
          <legend>
            <span class="nsw-form__label">Start date</span>
            <span id="form-date-3-helper-text" class="nsw-form__helper">For example 28 10 2024</span>
          </legend>
          <div class="nsw-form__date-wrapper nsw-date-input__wrapper js-date-input-multiple">
            <div class="nsw-form__date-input">
              <label for="form-date-3-day" class="nsw-form__label nsw-form__label--small">Day</label>
              <input type="text" maxlength="2" id="form-date-3-day" name="form-date-3-day" autocomplete="bday-day" class="nsw-form__input js-date-picker-date">
            </div>
            <div class="nsw-form__date-input">
              <label for="form-date-3-month" class="nsw-form__label nsw-form__label--small">Month</label>
              <input type="text" maxlength="2" id="form-date-3-month" name="form-date-3-month" autocomplete="bday-month" class="nsw-form__input js-date-picker-month">
            </div>
            <div class="nsw-form__date-input nsw-form__date-input--large">
              <label for="form-date-3-year" class="nsw-form__label nsw-form__label--small">Year</label>
              <input type="text" maxlength="4" id="form-date-3-year" name="form-date-3-year" autocomplete="bday-year" class="nsw-form__input js-date-picker-year">
            </div>
            <div class="nsw-date-input__button">
              <button class="nsw-button nsw-button--dark nsw-button--flex js-date-input__trigger" type="button">
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">calendar_today</span>
              </button>
            </div>
          </div>
        </fieldset>
        
      </main>
      <div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
    </div>
  </div>
</section>
<script src="/nsw-design-system/docs/js/docs.js"></script>

  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
