<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Filters</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="../../favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../css/docs.css">
</head>

<body class="nsw-body-content">

<div class="nsw-container nsw-p-y-sm">
  <div class="nsw-page-layout">
  	<div class="nsw-page-layout__sidebar">
  		<div class="nsw-docs__section nsw-docs__section--spaced"> 
  		<div class="nsw-filters nsw-filters--instant">
  		  <div class="nsw-filters__wrapper">
  		    <div class="nsw-filters__title">Filter results</div>
  		    <div class="nsw-filters__list">
  		      <div class="nsw-filters__item">
  		        <label class="nsw-form__label" for="filters-instant-regions">Region</label>
  		        <select class="nsw-form__select" id="filters-instant-regions" name="filters-instant-regions">
  		          <option value="">Please select</option>  
  		          <option value="Central Coast">Central Coast</option>
  		          <option value="Central West &amp; Orana">Central West &amp; Orana</option>
  		          <option value="Far West">Far West</option>
  		          <option value="Hunter">Hunter</option>
  		          <option value="Illawarra-Shoalhaven">Illawarra-Shoalhaven</option>
  		          <option value="New England &amp; North West">New England &amp; North West</option>
  		          <option value="North Coast">North Coast</option>
  		          <option value="Riverina Murray">Riverina Murray</option>
  		        </select>
  		      </div>
  		      <div class="nsw-filters__item">
  		        <fieldset class="nsw-form__fieldset">
  		          <legend class="nsw-form__legend">Categories</legend>
  		          <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-categories" value="Customer Service" id="filters-instant-categories-1">
  		          <label class="nsw-form__checkbox-label" for="filters-instant-categories-1">Customer Service</label>
  		          <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-categories" value="Communities and Justice" id="filters-instant-categories-2">
  		          <label class="nsw-form__checkbox-label" for="filters-instant-categories-2">Communities and Justice</label>
  		          <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-categories" value="Education" id="filters-instant-categories-3">
  		          <label class="nsw-form__checkbox-label" for="filters-instant-categories-3">Education</label>
  		          <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-categories" value="Health" id="filters-instant-categories-4">
  		          <label class="nsw-form__checkbox-label" for="filters-instant-categories-4">Health</label>
  		          <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-categories" value="Planning" id="filters-instant-categories-5">
  		          <label class="nsw-form__checkbox-label" for="filters-instant-categories-5">Planning</label>
  		        </fieldset>
  		      </div>
  		    </div>
  		    <div class="nsw-filters__cancel">
  		      <button type="reset">Clear all filters</button>
  		    </div>
  		  </div>
  		</div>
  		</div>
  		<div class="nsw-docs__section nsw-docs__section--spaced"> 
  		<form class="nsw-filters nsw-filters--fixed js-filters">
  		  <div class="nsw-filters__controls">
  		    <button>
  		      <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">tune</i>
  		      <span>Filter results</span>
  		    </button>
  		  </div>
  		  <div class="nsw-filters__wrapper">
  		    <div class="nsw-filters__back">
  		      <button>
  		        <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_left</i>
  		        <span>Back</span>
  		      </button>
  		    </div>
  		    <div class="nsw-filters__title">Filter results</div>
  		    <div class="nsw-filters__list">
  		      <div class="nsw-filters__item">
  		        <label class="nsw-form__label" for="filters-batch-keyword">Keyword</label>
  		        <input class="nsw-form__input" type="text" id="filters-batch-keyword" name="filters-keyword">
  		      </div>
  		      <div class="nsw-filters__item">
  		        <label class="nsw-form__label" for="filters-batch-regions">Region</label>
  		        <select class="nsw-form__select" id="filters-batch-regions" name="filters-batch-regions">
  		          <option value="">Please select</option>  
  		          <option value="Central Coast">Central Coast</option>
  		          <option value="Central West &amp; Orana">Central West &amp; Orana</option>
  		          <option value="Far West">Far West</option>
  		          <option value="Hunter">Hunter</option>
  		          <option value="Illawarra-Shoalhaven">Illawarra-Shoalhaven</option>
  		          <option value="New England &amp; North West">New England &amp; North West</option>
  		          <option value="North Coast">North Coast</option>
  		          <option value="Riverina Murray">Riverina Murray</option>
  		        </select>
  		      </div>
  		      <div class="nsw-filters__item">
  		        <fieldset class="nsw-form__fieldset">
  		          <legend class="nsw-form__legend">Categories</legend>
  		          <input class="nsw-form__checkbox-input" type="checkbox" name="filters-batch-categories" value="Customer Service" id="filters-batch-categories-1">
  		          <label class="nsw-form__checkbox-label" for="filters-batch-categories-1">Customer Service</label>
  		          <input class="nsw-form__checkbox-input" type="checkbox" name="filters-batch-categories" value="Communities and Justice" id="filters-batch-categories-2">
  		          <label class="nsw-form__checkbox-label" for="filters-batch-categories-2">Communities and Justice</label>
  		          <input class="nsw-form__checkbox-input" type="checkbox" name="filters-batch-categories" value="Education" id="filters-batch-categories-3">
  		          <label class="nsw-form__checkbox-label" for="filters-batch-categories-3">Education</label>
  		        </fieldset>
  		      </div>
  		    </div>
  		    <div class="nsw-filters__accept">
  		      <button type="submit" class="nsw-button nsw-button--dark nsw-button--full-width" disabled>Apply filters</button>
  		    </div>
  		    <div class="nsw-filters__cancel">
  		      <button type="reset">Clear all filters</button>
  		    </div>
  		  </div>
  		</form>
  		</div>
  		<div class="nsw-docs__section nsw-docs__section--spaced"> 
  		<form class="nsw-filters nsw-filters--fixed js-filters">
  		  <div class="nsw-filters__controls nsw-filters__controls--active">
  		    <button>
  		      <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">tune</i>
  		      <span>Filter results  (4)</span>
  		    </button>
  		  </div>
  		  <div class="nsw-filters__wrapper">
  		    <div class="nsw-filters__back">
  		      <button>
  		        <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_left</i>
  		        <span>Back</span>
  		      </button>
  		    </div>
  		    <div class="nsw-filters__title">Filter results</div>
  		    <div class="nsw-filters__list">
  		      <div class="nsw-filters__item">
  		        <label class="nsw-form__label" for="filters-all-keyword">Keyword</label>
  		        <input class="nsw-form__input" type="text" id="filters-all-keyword" name="filters-keyword" value="Digital Design System">
  		      </div>
  		      <div class="nsw-filters__item">
  		        <label class="nsw-form__label" for="filters-all-regions">Region</label>
  		        <select class="nsw-form__select" id="filters-all-regions" name="filters-all-regions">
  		          <option value="">Please select</option>  
  		          <option value="Central Coast">Central Coast</option>
  		          <option value="Central West &amp; Orana">Central West &amp; Orana</option>
  		          <option value="Far West">Far West</option>
  		          <option value="Hunter">Hunter</option>
  		          <option value="Illawarra-Shoalhaven">Illawarra-Shoalhaven</option>
  		          <option value="New England &amp; North West">New England &amp; North West</option>
  		          <option value="North Coast">North Coast</option>
  		          <option value="Riverina Murray">Riverina Murray</option>
  		        </select>
  		      </div>
  		      <div class="nsw-filters__item">
  		        <fieldset class="nsw-form__fieldset">
  		          <legend class="nsw-form__legend">Categories</legend>
  		          <input class="nsw-form__checkbox-input" type="checkbox" name="filters-all-categories" value="Customer Service" id="filters-all-categories-1">
  		          <label class="nsw-form__checkbox-label" for="filters-all-categories-1">Customer Service</label>
  		          <input class="nsw-form__checkbox-input" type="checkbox" name="filters-all-categories" value="Communities and Justice" id="filters-all-categories-2" checked>
  		          <label class="nsw-form__checkbox-label" for="filters-all-categories-2">Communities and Justice</label>
  		          <input class="nsw-form__checkbox-input" type="checkbox" name="filters-all-categories" value="Education" id="filters-all-categories-3" checked>
  		          <label class="nsw-form__checkbox-label" for="filters-all-categories-3">Education</label>
  		          <input class="nsw-form__checkbox-input" type="checkbox" name="filters-all-categories" value="Health" id="filters-all-categories-4">
  		          <label class="nsw-form__checkbox-label" for="filters-all-categories-4">Health</label>
  		          <div class="nsw-filters__all hidden">
  		            <input class="nsw-form__checkbox-input" type="checkbox" name="filters-all-categories" value="Planning" id="filters-all-categories-5">
  		            <label class="nsw-form__checkbox-label" for="filters-all-categories-5">Planning</label>
  		            <input class="nsw-form__checkbox-input" type="checkbox" name="filters-all-categories" value="Premier and Cabinet" id="filters-all-categories-6">
  		            <label class="nsw-form__checkbox-label" for="filters-all-categories-6">Premier and Cabinet</label>
  		            <input class="nsw-form__checkbox-input" type="checkbox" name="filters-all-categories" value="Regional NSW" id="filters-all-categories-7">
  		            <label class="nsw-form__checkbox-label" for="filters-all-categories-7">Regional NSW</label>
  		            <input class="nsw-form__checkbox-input" type="checkbox" name="filters-all-categories" value="Transport" id="filters-all-categories-8">
  		            <label class="nsw-form__checkbox-label" for="filters-all-categories-8">Transport</label>
  		            <input class="nsw-form__checkbox-input" type="checkbox" name="filters-all-categories" value="Treasury" id="filters-all-categories-9">
  		            <label class="nsw-form__checkbox-label" for="filters-all-categories-9">Treasury</label>
  		          </div>
  		          <button class="nsw-filters__more">Show all categories (9)</button>
  		        </fieldset>
  		      </div>
  		      <div class="nsw-filters__item">
  		        <div class="nsw-form__group">
  		          <fieldset class="nsw-form__date">
  		            <legend class="nsw-form__label">Date published from:</legend>
  		            <div class="nsw-form__date-wrapper">
  		              <div class="nsw-form__date-input">
  		                <label class="nsw-form__label nsw-form__label--small" for="filters-all-date-from-day">Day</label>
  		                <input class="nsw-form__input" type="text" maxlength="2" id="filters-all-date-from-day" name="filters-all-date-from-day">
  		              </div>
  		              <div class="nsw-form__date-input">
  		                <label class="nsw-form__label nsw-form__label--small" for="filters-all-date-from-month">Month</label>
  		                <input class="nsw-form__input" type="text" maxlength="2" id="filters-all-date-from-month" name="filters-all-date-from-month">
  		              </div>
  		              <div class="nsw-form__date-input nsw-form__date-input--large">
  		                <label class="nsw-form__label nsw-form__label--small" for="filters-all-date-from-year">Year</label>
  		                <input class="nsw-form__input" type="text" maxlength="4" id="filters-all-date-from-year" name="filters-all-date-from-year">
  		              </div>
  		            </div>
  		          </fieldset>
  		        </div>
  		        <div class="nsw-form__group">
  		          <fieldset class="nsw-form__date">
  		            <legend class="nsw-form__label">Date published to:</legend>
  		            <div class="nsw-form__date-wrapper">
  		              <div class="nsw-form__date-input">
  		                <label class="nsw-form__label nsw-form__label--small" for="filters-all-date-to-day">Day</label>
  		                <input class="nsw-form__input" type="text" maxlength="2" id="filters-all-date-to-day" name="filters-all-date-to-day">
  		              </div>
  		              <div class="nsw-form__date-input">
  		                <label class="nsw-form__label nsw-form__label--small" for="filters-all-date-to-month">Month</label>
  		                <input class="nsw-form__input" type="text" maxlength="2" id="filters-all-date-to-month" name="filters-all-date-to-month">
  		              </div>
  		              <div class="nsw-form__date-input nsw-form__date-input--large">
  		                <label class="nsw-form__label nsw-form__label--small" for="filters-all-date-to-year">Year</label>
  		                <input class="nsw-form__input" type="text" maxlength="4" id="filters-all-date-to-year" name="filters-all-date-to-year">
  		              </div>
  		            </div>
  		          </fieldset>
  		        </div>
  		      </div>
  		    </div>
  		    <div class="nsw-filters__accept">
  		      <button type="submit" class="nsw-button nsw-button--dark nsw-button--full-width">Apply filters</button>
  		    </div>
  		    <div class="nsw-filters__cancel">
  		      <button type="reset">Clear all filters</button>
  		    </div>
  		  </div>
  		</form>
  		</div>
  	</div>
  </div>
</div>

  <script src="../../js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
