---
title: Full width - Hero Search
model:
    nav-basic: ../../components/main-navigation/main-navigation.json
    nav-mega: ../../components/main-navigation/mega-navigation.json
    hero-search: ../../components/hero-search/hero-search.json
    breadcrumbs: ../../components/breadcrumbs/breadcrumbs.json
    footer: ../../patterns/footer/footer.json
example: true
---
{{>_header}}
{{>_main-navigation model.nav-basic}}
{{>_hero-search model.hero-search}}
<main>
  <div class="nsw-container">
    <div class="nsw-grid">
      <div class="nsw-col">
        <!-- ### START OF CONTENT AREA - REPLACE CODE BELOW ### -->
        full width content area
        <!-- ### END OF CONTENT AREA ### -->
      </div>
    </div>
  </div>
  <div class="nsw-container">
    <div class="nsw-grid">
      <div class="nsw-col nsw-col--half">
        <!-- ### START OF GRID CONTENT AREA - REPLACE CODE BELOW ### -->
        half content area
        <!-- ### END OF GRID CONTENT AREA ### -->
      </div>
      <div class="nsw-col nsw-col--half">
        <!-- ### START OF GRID CONTENT AREA - REPLACE CODE BELOW ### -->
        half content area
        <!-- ### END OF GRID CONTENT AREA ### -->
      </div>
    </div>
  </div>
  <div class="nsw-container">
    <div class="nsw-grid">
      <div class="nsw-col nsw-col--two-thirds">
        <!-- ### START OF GRID CONTENT AREA - REPLACE CODE BELOW ### -->
        two thirds content area
        <!-- ### END OF GRID CONTENT AREA ### -->
      </div>
      <div class="nsw-col nsw-col--third">
        <!-- ### START OF GRID CONTENT AREA - REPLACE CODE BELOW ### -->
        one third content area
        <!-- ### END OF GRID CONTENT AREA ### -->
      </div>
    </div>
  </div>
  <div class="nsw-container">
    <div class="nsw-grid">
      <div class="nsw-col nsw-col--third">
        <!-- ### START OF GRID CONTENT AREA - REPLACE CODE BELOW ### -->
        one third content area
        <!-- ### END OF GRID CONTENT AREA ### -->
      </div>
      <div class="nsw-col nsw-col--two-thirds">
        <!-- ### START OF GRID CONTENT AREA - REPLACE CODE BELOW ### -->
        two thirds content area
        <!-- ### END OF GRID CONTENT AREA ### -->
      </div>
    </div>
  </div>
  <div class="nsw-container">
    <div class="nsw-grid">
      <div class="nsw-col nsw-col--third">
        <!-- ### START OF GRID CONTENT AREA - REPLACE CODE BELOW ### -->
        one third content area
        <!-- ### END OF GRID CONTENT AREA ### -->
      </div>
      <div class="nsw-col nsw-col--third">
        <!-- ### START OF GRID CONTENT AREA - REPLACE CODE BELOW ### -->
        one third content area
        <!-- ### END OF GRID CONTENT AREA ### -->
      </div>
      <div class="nsw-col nsw-col--third">
        <!-- ### START OF GRID CONTENT AREA - REPLACE CODE BELOW ### -->
        one third content area
        <!-- ### END OF GRID CONTENT AREA ### -->
      </div>
    </div>
  </div>
  <div class="nsw-container">
    <div class="nsw-grid">
      <div class="nsw-col nsw-col--three-quarters">
        <!-- ### START OF GRID CONTENT AREA - REPLACE CODE BELOW ### -->
        three quarter content area
        <!-- ### END OF GRID CONTENT AREA ### -->
      </div>
      <div class="nsw-col nsw-col--quarter">
        <!-- ### START OF GRID CONTENT AREA - REPLACE CODE BELOW ### -->
        one quarter content area
        <!-- ### END OF GRID CONTENT AREA ### -->
      </div>
    </div>
  </div>
  <div class="nsw-container">
    <div class="nsw-grid">
      <div class="nsw-col nsw-col--quarter">
        <!-- ### START OF GRID CONTENT AREA - REPLACE CODE BELOW ### -->
        one quarter content area
        <!-- ### END OF GRID CONTENT AREA ### -->
      </div>
      <div class="nsw-col nsw-col--three-quarters">
        <!-- ### START OF GRID CONTENT AREA - REPLACE CODE BELOW ### -->
        three quarter content area
        <!-- ### END OF GRID CONTENT AREA ### -->
      </div>
    </div>
  </div>
  <div class="nsw-container">
    <div class="nsw-grid">
      <div class="nsw-col nsw-col--quarter">
        <!-- ### START OF GRID CONTENT AREA - REPLACE CODE BELOW ### -->
        one quarter content area
        <!-- ### END OF GRID CONTENT AREA ### -->
      </div>
      <div class="nsw-col nsw-col--quarter">
        <!-- ### START OF GRID CONTENT AREA - REPLACE CODE BELOW ### -->
        one quarter content area
        <!-- ### END OF GRID CONTENT AREA ### -->
      </div>
      <div class="nsw-col nsw-col--quarter">
        <!-- ### START OF GRID CONTENT AREA - REPLACE CODE BELOW ### -->
        one quarter content area
        <!-- ### END OF GRID CONTENT AREA ### -->
      </div>
      <div class="nsw-col nsw-col--quarter">
        <!-- ### START OF GRID CONTENT AREA - REPLACE CODE BELOW ### -->
        one quarter content area
        <!-- ### END OF GRID CONTENT AREA ### -->
      </div>
    </div>
  </div>

</main>

{{>_footer model.footer}}
