---
title: Full width - Hero search
page: true
model:
  header: ../../components/header/json/header-nsw.json
  nav: ../../components/main-navigation/json/main-navigation-nsw.json
  hero-search: ../../components/hero-search/json/hero-search.json
  breadcrumbs: ../../components/breadcrumbs/json/breadcrumbs.json
  footer: ../../components/footer/json/footer.json
---

{{>_header model.header}}
{{>_main-navigation model.nav}}

<section class="nsw-section--image" style="background-image: url(https://picsum.photos/id/1057/2000/1250);">
  {{>_hero-search model.hero-search}}
</section>

<main id="content">
  <section class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid nsw-m-bottom-md">
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
              {{>_card 
                heading= "Working and business"
                copy="Start or grow a business, export or import goods, or find information on employment and jobs, industries and doing business in NSW."
              }}
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
              {{>_card 
                heading= "Education and training"
                copy="Year 12 school leavers can access free Summer Skills training courses across  and get a head start on 2021."
              }}
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
              {{>_card 
                heading= "Roads and transport"
                copy="Find out about NSW driving and boating licences, vehicle or vessel registration."
              }}
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
              {{>_card 
                heading= "Housing and property"
                copy="Diverse housing, economic activities, public spaces, sustainable water services for NSW."
              }}
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
              {{>_card 
                heading= "Environment and energy"
                copy="Working with the community, we care for and protect NSW’s environment and energy."
              }}
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
              {{>_card 
                heading= "Water"
                copy="Diverse economic activities, public spaces, sustainable and resilient water services for NSW."
              }}
            </div>
          </div>

          <hr class="nsw-section-separator" />

          <h2 class="nsw-section-title">Supporting the community</h2>
          <p class="nsw-section-text">Advice and support to help you make the right decisions for you.</p>

          <div class="nsw-grid nsw-grid--spaced">
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
              {{>_content-block 
                heading="COVID-19 (coronavirus)"
                copy="Stay up to date with news, rules and case locations. Find a testing clinics and make your business COVID Safe"
                img="https://picsum.photos/id/820/400/200"
                link="View more"
                list=(split "Current COVID-19 case locations;COVID-19 testing clincs;Health and wellbeing;Latest rules and regulation updates")
              }}
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
              {{>_content-block 
                heading="Bushfire customer care"
                copy="Delivering bushfire recovery assistance to help people and businesses impacted by bushfires."
                img="https://picsum.photos/id/1028/400/200"
                link="View more"
                list=(split "Customer care plan;Business support;Mobile service centres;NSW Rural Fire Service (RFS)")
              }}
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
              {{>_content-block 
                heading="Wellbeing support program"
                copy="Support is available if you’re affected by COVID-19 and experiencing financial difficulty."
                img="https://picsum.photos/id/338/400/200"
                link="View more"
                list=(split "Pandemic Leave Disaster Payment;If you're unemployed because of COVID-19;Help for renters and homeowners;Government payments, services and support")
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{{>_footer model.footer}}
