---
title: Full width - Hero search
model:
  nav-basic: ../../components/main-navigation/json/main-navigation.json
  nav-mega: ../../components/main-navigation/json/mega-navigation.json
  hero-search: ../../components/hero-search/json/hero-search.json
  breadcrumbs: ../../components/breadcrumbs/json/breadcrumbs.json
  card-headline-1: ../../components/card/json/card-headline-1.json
  card-headline-2: ../../components/card/json/card-headline-2.json
  card-headline-3: ../../components/card/json/card-headline-3.json
  card-headline-4: ../../components/card/json/card-headline-4.json
  card-headline-5: ../../components/card/json/card-headline-5.json
  card-headline-6: ../../components/card/json/card-headline-6.json
  card-simple-1: ../../components/card/json/card-simple-1.json
  card-simple-2: ../../components/card/json/card-simple-2.json
  card-simple-3: ../../components/card/json/card-simple-3.json
  card-news-1: ../../components/card/json/card-news-1.json
  card-news-2: ../../components/card/json/card-news-2.json
  card-news-3: ../../components/card/json/card-news-3.json
  footer: ../../components/footer/json/footer.json
---

{{>_header content="#content" nav="#main-navigation"}}
{{>_main-navigation model.nav-mega}}

<section class="nsw-section--image" style="background-image: url(https://picsum.photos/id/199/2000/1250);">
  {{>_hero-search model.hero-search}}
</section>

<main id="content">
  <section class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid nsw-m-bottom-md">
            <div class="nsw-col nsw-col-md-4">
              {{>_card model.card-headline-1}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_card model.card-headline-2}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_card model.card-headline-3}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_card model.card-headline-4}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_card model.card-headline-5}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_card model.card-headline-6}}
            </div>
          </div>

          <h2 class="nsw-section-title">Energy and utilities</h2>
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-md-4">
              {{>_card model.card-simple-1}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_card model.card-simple-2}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_card model.card-simple-3}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nsw-section--light-10">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <h2 class="nsw-section-title">Latest updates</h2>
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-md-4">
              {{>_card model.card-news-1}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_card model.card-news-2}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_card model.card-news-3}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{{>_footer model.footer}}
