---
title: Search results - No results
order: 9
page: true
model:
  nav: ../../components/main-navigation/json/mega-navigation-digital-nsw.json
  breadcrumbs: ../../components/breadcrumbs/json/breadcrumbs-search.json
  list-item: ../../components/list-item/json/list-item.json
  footer: ../../components/footer/json/footer.json
---

{{>_header content="#content" nav="#main-navigation"}}
{{>_main-navigation model.nav}}
<div class="nsw-container nsw-p-bottom-xs">
  {{>_breadcrumbs model.breadcrumbs}}
</div>

<div class="nsw-container nsw-p-top-sm nsw-p-bottom-lg">
  <div class="nsw-page-layout">
    <main id="content" class="nsw-page-layout__main">
      <h1>Search</h1>

      <div class="nsw-m-y-lg">
        {{>_input-group
          id="search-input"
          label="Search"
        }}
      </div>

      {{>_results-bar empty="true"}}

      <div class="nsw-block">
        <hr>
        <br>
        <h4>Didn’t find what you were looking for?</h4>
        <ul>
          <li>Try using different or fewer keywords </li>
          <li>Check your spelling</li>
          <li>Try broader or general search terms</li>
        </ul>

        <br>
        <h4>Contact us</h4>
        <p>Call 13 33 33 to find your local office or email <a href="mailto:help@customerservice.nsw.gov.au">help@customerservice.nsw.gov.au</a>. </p>
      </div>
    </main>
    <div class="nsw-page-layout__sidebar">
    </div>
  </div>
</div>

{{>_footer model.footer}}
