---
title: Acknowledgements list
layout: blank-layout.hbs
---

<div class="nsw-in-page-alert nsw-in-page-alert--info">
  <span class="material-icons nsw-material-icons nsw-in-page-alert__icon"
     focusable="false" aria-hidden="true">info</span>
  <div class="nsw-in-page-alert__content">
    <h4>Brand requirements</h4>
    <p>Elements required for NSW branding include the use and implementation of descriptors and logos. View the <a href="https://branding.nsw.gov.au" target="_blank">Sponsorship and Partnership Brand Guidelines</a> for full requirements specific to your brand classification.</p>
  </div>
</div>

<h2 id="usage">Usage</h2>
<p>Use when highlighting NSW Government and external organisations that have generously provided support including sponsorship, partnership, or funding.</p>

<h3 id="placement-and-spacing">Placement and spacing</h3>
<p>Place above the footer, or above the additional footer links section if this is used.</p>
<p>When the NSW Government logo is displayed next to another logo or Masterbrand descriptor, it should be vertically centered and separated by a minimum distance of 40px.</p>

<h2 id="nsw-government-waratah-logo">NSW Government Waratah logo</h2>
<p>Each brand classification has specific requirements for the inclusion of the NSW Government Waratah logo.</p>

<div class="nsw-grid">
  <div class="nsw-col nsw-col-sm-6">
    <figure class="nsw-media nsw-media--transparent nsw-m-bottom-xs">
      <p><strong>Masterbrand or Co-brand</strong><br/><br/>Do not require the Waratah logo as it's already included in the header. Use a 'NSW Government' text label as the first element, on a separate line, before any Masterbrand descriptor.<br/>
      </p>
      <img class="nsw-p-top-md" src="/assets/images/sponsorship-partnership-standard-waratah-requirements.png" alt="Endorsed exmaple with logo coupled in header">
    </figure>
  </div>
  <div class="nsw-col nsw-col-sm-6">
    <figure class="nsw-media nsw-media--transparent nsw-m-bottom-xs">
      <p><strong>Endorsed, Independent and Stand-alone</strong><br/><br/>In cases where the NSW Government Waratah is not included in the header, position as the first element among the support logos.<br/><br/>
      </p>
      <img class="nsw-p-top-md" src="/assets/images/sponsorship-partnership-decoupled-waratah-requirements.png" alt="Endorsed exmaple with logo decoupled in footer">
    </figure>
  </div>
</div>

<h3 id="sizing">Sizing</h3>
<p>The NSW Government Waratah logo should be 76px in height on large screens (≥ 992px), and 48px in height on small screens (< 991px) and should never be smaller than the support logos.</p>
<p>For full NSW Government Waratah logo requirements for your brand classification view the <a href="https://branding.nsw.gov.au/" target="_blank">Sponsorship and Partnership Brand Guidelines</a>.</p>

<h2 id="masterbrand-descriptors">Masterbrand descriptors</h2>
<p>Use Masterbrand descriptors when Masterbrand agencies need to be recognised, as text-only links.</p>

<h4>Example with NSW Government Waratah logo:</h4>
<figure class="nsw-media nsw-media--transparent nsw-m-bottom-xs">
  <img src="/assets/images/sponsorship-partnership-masterbrand-descriptors.png" alt="Masterbrand sponsor list example layout">
</figure>

<h4 class="nsw-m-top-lg">Example without NSW Government Waratah logo (with NSW Government text label):</h4>
<figure class="nsw-media nsw-media--transparent nsw-m-bottom-xs">
  <img src="/assets/images/sponsorship-partnership-masterbrand-descriptors-government-label.png" alt="Masterbrand sponsor list example layout">
</figure>

<p class="nsw-m-top-lg">For full Masterbrand descriptor requirements for your brand classification view the <a href="https://branding.nsw.gov.au/" target="_blank">Sponsorship and Partnership Brand Guidelines</a>.</p>

<h2 id="support-logos">Support logos</h2>

<h3 id="arrangement">Arrangement</h3>
<p>Order is based on hierarchy of the NSW Government Brand Framework:</p>
<ol>
  <li>Masterbrand (used as a text-only link descriptor)</li>
  <li>Co-brand</li>
  <li>Endorsed</li>
  <li>Independent</li>
  <li>Stand-alone</li>
</ol>
<p>External brand logos can also be included after the NSW Government logos.</p>
<p>The arrangement of logos follows the hierarchy of the NSW Government Brand Framework, however when necessary, they can be re-ordered  based on the scale of funding or contribution.</p>
<p>For more information on support logo arrangement requirements for your brand classification view the <a href="https://branding.nsw.gov.au/" target="_blank">Sponsorship and Partnership Brand Guidelines</a>.</p>

<h3>Sizing</h3>
<p>The support logos should be 76px in height on large screens (≥ 992px), and maintain the 76px in height on small screens (< 991px), displayed in two equal columns.</p>
<p>These logos have been designed to ensure accessibility and clarity at all sizes.</p>
<p>For full logo requirements for your brand classification view the <a href="https://branding.nsw.gov.au/" target="_blank">Sponsorship and Partnership Brand Guidelines</a>.</p>

<h4>Example with NSW Government Waratah logo:</h4>
<figure class="nsw-media nsw-media--transparent nsw-m-bottom-xs">
  <img src="/assets/images/sponsorship-partnership-masterbrand-support-logos-w-waratah.png" alt="Example with NSW Government Waratah logo">
</figure>

<h4 class="nsw-m-top-lg">Example with NSW Government Waratah logo:</h4>
<figure class="nsw-media nsw-media--transparent nsw-m-bottom-xs">
  <img src="/assets/images/sponsorship-partnership-masterbrand-support-logos-without-waratah.png" alt="Example without NSW Government Waratah logo">
</figure>