---
title: Acknowledgements list
layout: blank-layout.hbs
---

<div class="nsw-in-page-alert nsw-in-page-alert--info">
  <span class="material-icons nsw-material-icons nsw-in-page-alert__icon"
     focusable="false" aria-hidden="true">info</span>
  <div class="nsw-in-page-alert__content">
    <h4>Brand requirements</h4>
    <p>Elements required for NSW branding include the use and implementation of descriptors and logos. View the <a href="https://branding.nsw.gov.au" target="_blank">Sponsorship and Partnership Brand Guidelines</a> for full requirements specific to your brand classification.</p>
  </div>
</div>

<h2 id="usage">Usage</h2>
<p>Use when highlighting NSW Government and external organisations that have generously provided support including sponsorship, partnership, or funding.</p>

<h3 id="placement-and-spacing">Placement and spacing</h3>
<p>Place above the footer, or above the additional footer links section if this is used.</p>
<p>When the NSW Government logo is displayed next to another logo or Masterbrand descriptor, it should be vertically centered and separated by a minimum distance of 40px.</p>

<h2 id="nsw-government-waratah-logo">NSW Government Waratah logo</h2>
<p>Each brand classification has specific requirements for the inclusion of the NSW Government Waratah logo.</p>

<h3 id="masterbrand-or-co-brand">Masterbrand or Co-brand</h3>
<p>Do not require the Waratah logo as it's already included in the header. Use a 'NSW Government' text label as the first element, on a separate line, before any Masterbrand descriptor.</p>

<h3 id="endorsed-independent-stand-alone">Endorsed, Independent and Stand-alone</h3>
<p>In cases where the NSW Government Waratah is not included in the header, position as the first element among the support logos.</p>

<h3 id="sizing-master-brand">Sizing</h3>
<p>The NSW Government Waratah logo should be 76px in height on large screens (≥ 992px), and 48px in height on small screens (< 991px) and should never be smaller than the support logos.</p>

<h2 id="masterbrand-descriptors">Masterbrand descriptors</h3>
<p>Use Masterbrand descriptors when Masterbrand agencies need to be recognised, as text-only links.</p>
<p>In cases where the NSW Government Waratah logo is not used in the support section, display a 'NSW Government' text label instead.</p>

<h2 id="support-logos">Support logos</h2>

<h3 id="arrangement">Arrangement</h3>
<p>Order is based on hierarchy of the NSW Government Brand Framework:</p>
<ol>
  <li>Masterbrand (used as a text-only link descriptor)</li>
  <li>Co-brand</li>
  <li>Endorsed</li>
  <li>Independent</li>
  <li>Stand-alone</li>
</ol>
<p>External brand logos can also be included after the NSW Government logos.</p>
<p>The arrangement of logos follows the hierarchy of the NSW Government Brand Framework, however when necessary, they can be re-ordered  based on the scale of funding or contribution.</p>
<p>For more information on support logo arrangement requirements for your brand classification view the <a href="https://branding.nsw.gov.au/" target="_blank">Sponsorship and Partnership Brand Guidelines</a>.</p>

<h3 id="sizing-support">Sizing</h3>
<p>The support logos should be 76px in height on large screens (≥ 992px), and 48px in height on small screens (< 991px).</p>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>