---
title: Acknowledgement list
width: wide
tabs: true
directory: acknowledgement-list
intro: Recognising support from NSW government and external organisations.
theme: true
figma: https://www.figma.com/design/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=18830-13455
meta-description: Highlights NSW Government and external organisations that have provided support including sponsorship, partnership, or funding.
meta-index: true
model:
  list-1: ../../components/acknowledgement-list/json/acknowledgement-list-1.json
  list-2: ../../components/acknowledgement-list/json/acknowledgement-list-2.json
  list-3: ../../components/acknowledgement-list/json/acknowledgement-list-3.json
---

<h3>Masterbrand descriptors</h3>
{{#>_docs-example}}
{{>_acknowledgement-list model.list-1  includeWaratah="true"}}
{{/_docs-example}}

<h3>Masterbrand descriptors with label</h3>
{{#>_docs-example}}
{{>_acknowledgement-list model.list-2 }}
{{/_docs-example}}

<h3>Support logos</h3>
{{#>_docs-example}}
{{>_acknowledgement-list model.list-3 includeWaratah="true" }}
{{/_docs-example}}