<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Cards</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="/nsw-design-system/">
  <link rel="icon" href="/nsw-design-system/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
</head>

<body class="nsw-body-content">
<div class="nsw-container nsw-p-y-sm">
  <div class="nsw-page-layout">
    <main class="nsw-page-layout__main">
  		<div class="nsw-grid">
  		  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
  		    <div class="nsw-card nsw-card--headline nsw-card--content">
  		      <div class="nsw-card__content">
  		        <h2 class="nsw-card__title">
  		          <a href="/nsw-design-system" class="nsw-card__link">Health and care</a>
  		        </h2>
  		        <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  		      </div>
  		    </div>
  		  </div>
  		  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
  		    <div class="nsw-card nsw-card--headline nsw-card--content nsw-card--light">
  		      <div class="nsw-card__content">
  		        <h2 class="nsw-card__title">
  		          <a href="/nsw-design-system" class="nsw-card__link">Boating, fishing and outdoors</a>
  		        </h2>
  		        <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  		      </div>
  		    </div>
  		  </div>
  		  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
  		    <div class="nsw-card nsw-card--headline nsw-card--content nsw-card--dark">
  		      <div class="nsw-card__content">
  		        <h2 class="nsw-card__title">
  		          <a href="/nsw-design-system" class="nsw-card__link">Business, industries and employment</a>
  		        </h2>
  		        <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  		      </div>
  		    </div>
  		  </div>
  		</div>
  		
  		<div class="nsw-grid">
  		  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
  		    <div class="nsw-card nsw-card--headline">
  		      <div class="nsw-card__content">
  		        <h2 class="nsw-card__title">
  		          <a href="/nsw-design-system" class="nsw-card__link">Health and care</a>
  		        </h2>
  		        <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  		      </div>
  		    </div>
  		  </div>
  		</div>
  		
  		<div class="nsw-grid">
  		  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
  		    <div class="nsw-card nsw-card--content">
  		      <div class="nsw-card__content">
  		        <h2 class="nsw-card__title">
  		          <a href="/nsw-design-system" class="nsw-card__link">Energy save</a>
  		        </h2>
  		        <p class="nsw-card__copy">Helps you compare electricity and gas and switch providers.</p>
  		        <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  		      </div>
  		    </div>
  		  </div>
  		  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
  		    <div class="nsw-card nsw-card--content nsw-card--light">
  		      <div class="nsw-card__content">
  		        <h2 class="nsw-card__title">
  		          <a href="/nsw-design-system" class="nsw-card__link">Family rebate</a>
  		        </h2>
  		        <p class="nsw-card__copy">Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
  		        <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  		      </div>
  		    </div>
  		  </div>
  		  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
  		    <div class="nsw-card nsw-card--content nsw-card--dark">
  		      <div class="nsw-card__content">
  		        <h2 class="nsw-card__title">
  		          <a href="/nsw-design-system" class="nsw-card__link">Appliance save</a>
  		        </h2>
  		        <p class="nsw-card__copy">Concession card holders may be able to save on a new fridge or television.</p>
  		        <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  		      </div>
  		    </div>
  		  </div>
  		</div>
  		
  		<div class="nsw-grid">
  		  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
  		    <div class="nsw-card">
  		      <div class="nsw-card__content">
  		        <h2 class="nsw-card__title">
  		          <a href="/nsw-design-system" class="nsw-card__link">Energy save</a>
  		        </h2>
  		        <p class="nsw-card__copy">Helps you compare electricity and gas and switch providers.</p>
  		        <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  		      </div>
  		    </div>
  		  </div>
  		</div>
  		
  		<div class="nsw-grid">
  		  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
  		    <div class="nsw-card nsw-card--content">
  		      <div class="nsw-card__content">
  		        <h2 class="nsw-card__title">
  		          <a href="/nsw-design-system" class="nsw-card__link">Energy switch</a>
  		        </h2>
  		        <p class="nsw-card__tag">Business</p>
  		        <p class="nsw-card__date">
  		          <time datetime="2020-10-16">16 Oct 2020</time>
  		        </p>
  		        <p class="nsw-card__copy">Save money by comparing electricity and gas plans.</p>
  		        <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  		      </div>
  		    </div>
  		  </div>
  		  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
  		    <div class="nsw-card nsw-card--content nsw-card--light">
  		      <div class="nsw-card__content">
  		        <h2 class="nsw-card__title">
  		          <a href="/nsw-design-system" class="nsw-card__link">Creative kids</a>
  		        </h2>
  		        <p class="nsw-card__tag">Family</p>
  		        <p class="nsw-card__date">
  		          <time datetime="2020-09-14">14 Sep 2020</time>
  		        </p>
  		        <p class="nsw-card__copy">$100 voucher for children&#x27;s creative and cultural activities.</p>
  		        <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  		      </div>
  		    </div>
  		  </div>
  		  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
  		    <div class="nsw-card nsw-card--content nsw-card--dark">
  		      <div class="nsw-card__content">
  		        <h2 class="nsw-card__title">
  		          <a href="/nsw-design-system" class="nsw-card__link">Active kids</a>
  		        </h2>
  		        <p class="nsw-card__tag">Family</p>
  		        <p class="nsw-card__date">
  		          <time datetime="2020-09-02">2 Sep 2020</time>
  		        </p>
  		        <p class="nsw-card__copy">$100 voucher for children&#x27;s sport, fitness and recreation.</p>
  		        <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  		      </div>
  		    </div>
  		  </div>
  		</div>
  		
  		<div class="nsw-grid">
  		  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
  		    <div class="nsw-card">
  		      <div class="nsw-card__content">
  		        <h2 class="nsw-card__title">
  		          <a href="/nsw-design-system" class="nsw-card__link">Energy switch</a>
  		        </h2>
  		        <p class="nsw-card__tag">Business</p>
  		        <p class="nsw-card__date">
  		          <time datetime="2020-10-16">16 Oct 2020</time>
  		        </p>
  		        <p class="nsw-card__copy">Save money by comparing electricity and gas plans.</p>
  		        <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  		      </div>
  		    </div>
  		  </div>
  		</div>
  		
  		<div class="nsw-grid">
  		  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
  		    <div class="nsw-card nsw-card--content">
  		      <div class="nsw-card__content">
  		        <h2 class="nsw-card__title">
  		          <a href="/nsw-design-system" class="nsw-card__link">Nominations open for Green Globe Awards 2019</a>
  		        </h2>
  		        <p class="nsw-card__tag">Community</p>
  		        <p class="nsw-card__date">
  		          <time datetime="2019-03-09">09 March 2019</time>
  		        </p>
  		        <p class="nsw-card__copy">The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
  		        <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  		      </div>
  		      <div class="nsw-card__image-area">
  		        <img src="https://picsum.photos/id/292/400/200" alt="" class="nsw-card__image">
  		      </div>
  		    </div>
  		  </div>
  		  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
  		    <div class="nsw-card nsw-card--content nsw-card--light">
  		      <div class="nsw-card__content">
  		        <h2 class="nsw-card__title">
  		          <a href="/nsw-design-system" class="nsw-card__link">Quality green spaces and a million more trees for NSW</a>
  		        </h2>
  		        <p class="nsw-card__tag">Environment</p>
  		        <p class="nsw-card__date">
  		          <time datetime="2019-03-01">01 March 2019</time>
  		        </p>
  		        <p class="nsw-card__copy">The NSW Government will create more quality green spaces and increase ther tree canopy in Sydney bt 2022.</p>
  		        <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  		      </div>
  		      <div class="nsw-card__image-area">
  		        <img src="https://picsum.photos/id/28/400/200" alt="" class="nsw-card__image">
  		      </div>
  		    </div>
  		  </div>
  		  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
  		    <div class="nsw-card nsw-card--content nsw-card--dark">
  		      <div class="nsw-card__content">
  		        <h2 class="nsw-card__title">
  		          <a href="/nsw-design-system" class="nsw-card__link">New Premier&#x27;s Priority to lift literacy and numeracy standards</a>
  		        </h2>
  		        <p class="nsw-card__tag">Education</p>
  		        <p class="nsw-card__date">
  		          <time datetime="2019-02-20">20 February 2019</time>
  		        </p>
  		        <p class="nsw-card__copy">The NSW Government will redouble its efforts to lift literacy and numeracy standards across NSW public schools to ensure students are given every opportunity to be their best.</p>
  		        <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  		      </div>
  		      <div class="nsw-card__image-area">
  		        <img src="https://picsum.photos/id/24/400/200" alt="" class="nsw-card__image">
  		      </div>
  		    </div>
  		  </div>
  		</div>
  		
  		<div class="nsw-grid">
  		  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
  		    <div class="nsw-card">
  		      <div class="nsw-card__content">
  		        <h2 class="nsw-card__title">
  		          <a href="/nsw-design-system" class="nsw-card__link">Nominations open for Green Globe Awards 2019</a>
  		        </h2>
  		        <p class="nsw-card__tag">Community</p>
  		        <p class="nsw-card__date">
  		          <time datetime="2019-03-09">09 March 2019</time>
  		        </p>
  		        <p class="nsw-card__copy">The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
  		        <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  		      </div>
  		      <div class="nsw-card__image-area">
  		        <img src="https://picsum.photos/id/292/400/200" alt="" class="nsw-card__image">
  		      </div>
  		    </div>
  		  </div>
  		</div>
  	</main>
  	
  </div>
</div>

  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
