<!doctype html>
<html lang="en" class="no-js">
<head><script async data-category="analytics" src="https://www.googletagmanager.com/gtag/js?id=G-49T9M12F86"></script>
<script data-category="analytics">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-49T9M12F86');
</script>
  <script data-category="analytics">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P2NKBBJZ');</script>
  
  <title>NSW Digital Design System - Cards</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://designsystem.nsw.gov.au/nsw-og-image.jpg">
  <meta name="robots" content="noindex" />
  <link rel="icon" href="https://designsystem.nsw.gov.au/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone" rel="stylesheet">
  <link rel="stylesheet" href="https://designsystem.nsw.gov.au/docs/css/docs.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css">
  <!-- Hotjar Tracking Code for NSW Design System -->
  <script data-category="analytics">
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
      h._hjSettings = { hjid: 5063548, hjsv: 6 };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script'); r.async = 1; 
      r.setAttribute('data-category', 'analytics');
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>
  <script src="https://designsystem.nsw.gov.au/cookie-consent-config.js"></script>
</head>

<body><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2NKBBJZ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    

<header class="nsw-header">
  <div class="nsw-header__container">
    <div class="nsw-header__inner">
      <div class="nsw-color-swatches js-color-swatches">
        <legend class="nsw-color-swatches__legend" aria-live="polite" aria-atomic="true"><span class="nsw-color-swatches__color js-color-swatches__color">Blue 01</span></legend>
      </div>
    </div>
  </div>
</header>


<section class="nsw-section">
  <div class="nsw-container nsw-p-y-sm">
    <div class="nsw-layout">
      <main class="nsw-layout__main">
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--headline">
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Health and care</a>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--headline nsw-card--light">
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Boating, fishing and outdoors</a>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--headline nsw-card--dark">
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Business, industries and employment</a>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--headline nsw-card--highlight">
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Transport and Infrastructure</a>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card">
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Energy save</a>
                </div>
                <div class="nsw-card__copy">
                  <p>Helps you compare electricity and gas and switch providers.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--light">
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Family rebate</a>
                </div>
                <div class="nsw-card__copy">
                  <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--dark">
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Appliance save</a>
                </div>
                <div class="nsw-card__copy">
                  <p>Concession card holders may be able to save on a new fridge or television.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--highlight">
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Low Income Household Rebate</a>
                </div>
                <div class="nsw-card__copy">
                  <p>Eligible customers can receive a rebate on their electricity bills to help with energy costs.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card">
              <div class="nsw-card__content">
                <div class="nsw-card__tag">Business</div>
                <div class="nsw-card__date">
                  <time datetime="2020-10-16">16 October 2020</time>
                </div>
                <div class="nsw-card__title">
                  <a href="#">Energy switch</a>
                </div>
                <div class="nsw-card__copy">
                  <p>Save money by comparing electricity and gas plans.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--light">
              <div class="nsw-card__content">
                <div class="nsw-card__tag">Family, Public spaces</div>
                <div class="nsw-card__date">
                  <time datetime="2020-09-14">14 September 2020</time>
                </div>
                <div class="nsw-card__title">
                  <a href="#">Creative kids</a>
                </div>
                <div class="nsw-card__copy">
                  <p>$100 voucher for children&#x27;s creative and cultural activities.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--dark">
              <div class="nsw-card__content">
                <div class="nsw-card__tag">Family</div>
                <div class="nsw-card__date">
                  <time datetime="2020-09-02">2 September 2020</time>
                </div>
                <div class="nsw-card__title">
                  <a href="#">Active kids</a>
                </div>
                <div class="nsw-card__copy">
                  <p>$100 voucher for children&#x27;s sport, fitness and recreation.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--highlight">
              <div class="nsw-card__content">
                <div class="nsw-card__tag">Family, Safety, Health</div>
                <div class="nsw-card__date">
                  <time datetime="2021-01-10">10 January 2021</time>
                </div>
                <div class="nsw-card__title">
                  <a href="#">Learn to Swim</a>
                </div>
                <div class="nsw-card__copy">
                  <p>Voucher to help cover the cost of swimming lessons for kids aged 3-6 years.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/381/400/200" alt="Nominations open for Green Globe Awards 2019">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__tag">Community</div>
                <div class="nsw-card__date">
                  <time datetime="2019-03-09">9 March 2019</time>
                </div>
                <div class="nsw-card__title">
                  <a href="#">Nominations open for Green Globe Awards 2019</a>
                </div>
                <div class="nsw-card__copy">
                  <p>The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--light">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/28/400/200" alt="Quality green spaces and a million more trees for NSW">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__tag">Environment, Sustainability</div>
                <div class="nsw-card__date">
                  <time datetime="2019-03-01">1 March 2019</time>
                </div>
                <div class="nsw-card__title">
                  <a href="#">Quality green spaces and a million more trees for NSW</a>
                </div>
                <div class="nsw-card__copy">
                  <p>The NSW Government will create more quality green spaces and increase ther tree canopy in Sydney by 2022.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--dark">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/24/400/200" alt="New Premier&#x27;s Priority to lift literacy and numeracy standards">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__tag">Education</div>
                <div class="nsw-card__date">
                  <time datetime="2019-02-20">20 February 2019</time>
                </div>
                <div class="nsw-card__title">
                  <a href="#">New Premier&#x27;s Priority to lift literacy and numeracy standards</a>
                </div>
                <div class="nsw-card__copy">
                  <p>The NSW Government will redouble its efforts to lift literacy and numeracy standards across NSW public schools to ensure students are given every opportunity to be their best.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--highlight">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/192/400/200" alt="Boost to school infrastructure funding">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__tag">Education, Infrastructure</div>
                <div class="nsw-card__date">
                  <time datetime="2019-05-15">15 May 2019</time>
                </div>
                <div class="nsw-card__title">
                  <a href="#">Boost to school infrastructure funding</a>
                </div>
                <div class="nsw-card__copy">
                  <p>An additional $500 million has been allocated to upgrade and build new public schools across NSW.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-lg-6">
            <div class="nsw-card nsw-card--horizontal">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/3/400/200" alt="Energy switch">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Energy switch</a>
                </div>
                <div class="nsw-card__copy">
                  <p>Save money by comparing electricity and gas plans.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-lg-6">
            <div class="nsw-card nsw-card--horizontal nsw-card--light">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/531/400/200" alt="Creative kids">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Creative kids</a>
                </div>
                <div class="nsw-card__copy">
                  <p>$100 voucher for children&#x27;s creative and cultural activities.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-lg-6">
            <div class="nsw-card nsw-card--horizontal nsw-card--dark">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/646/400/200" alt="Active kids">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Active kids</a>
                </div>
                <div class="nsw-card__copy">
                  <p>$100 voucher for children&#x27;s sport, fitness and recreation.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-lg-6">
            <div class="nsw-card nsw-card--highlight nsw-card--horizontal">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/92/400/200" alt="First Lap">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">First Lap</a>
                </div>
                <div class="nsw-card__copy">
                  <p>$100 voucher for swimming lessons for children aged 3-6 years.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--border">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/381/400/200" alt="Nominations open for Green Globe Awards 2019">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__tag">Community</div>
                <div class="nsw-card__date">
                  <time datetime="2019-03-09">9 March 2019</time>
                </div>
                <div class="nsw-card__title">
                  <a href="#">Nominations open for Green Globe Awards 2019</a>
                </div>
                <div class="nsw-card__copy">
                  <p>The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--light nsw-card--border">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/28/400/200" alt="Quality green spaces and a million more trees for NSW">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__tag">Environment, Sustainability</div>
                <div class="nsw-card__date">
                  <time datetime="2019-03-01">1 March 2019</time>
                </div>
                <div class="nsw-card__title">
                  <a href="#">Quality green spaces and a million more trees for NSW</a>
                </div>
                <div class="nsw-card__copy">
                  <p>The NSW Government will create more quality green spaces and increase ther tree canopy in Sydney by 2022.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--dark nsw-card--border">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/24/400/200" alt="New Premier&#x27;s Priority to lift literacy and numeracy standards">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__tag">Education</div>
                <div class="nsw-card__date">
                  <time datetime="2019-02-20">20 February 2019</time>
                </div>
                <div class="nsw-card__title">
                  <a href="#">New Premier&#x27;s Priority to lift literacy and numeracy standards</a>
                </div>
                <div class="nsw-card__copy">
                  <p>The NSW Government will redouble its efforts to lift literacy and numeracy standards across NSW public schools to ensure students are given every opportunity to be their best.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--highlight nsw-card--border">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/192/400/200" alt="Boost to school infrastructure funding">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__tag">Education, Infrastructure</div>
                <div class="nsw-card__date">
                  <time datetime="2019-05-15">15 May 2019</time>
                </div>
                <div class="nsw-card__title">
                  <a href="#">Boost to school infrastructure funding</a>
                </div>
                <div class="nsw-card__copy">
                  <p>An additional $500 million has been allocated to upgrade and build new public schools across NSW.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-lg-6">
            <div class="nsw-card nsw-card--horizontal nsw-card--border">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/3/400/200" alt="Energy switch">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Energy switch</a>
                </div>
                <div class="nsw-card__copy">
                  <p>Save money by comparing electricity and gas plans.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-lg-6">
            <div class="nsw-card nsw-card--horizontal nsw-card--light nsw-card--border">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/531/400/200" alt="Creative kids">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Creative kids</a>
                </div>
                <div class="nsw-card__copy">
                  <p>$100 voucher for children&#x27;s creative and cultural activities.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-lg-6">
            <div class="nsw-card nsw-card--horizontal nsw-card--dark nsw-card--border">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/646/400/200" alt="Active kids">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Active kids</a>
                </div>
                <div class="nsw-card__copy">
                  <p>$100 voucher for children&#x27;s sport, fitness and recreation.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-lg-6">
            <div class="nsw-card nsw-card--highlight nsw-card--horizontal nsw-card--border">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/92/400/200" alt="First Lap">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">First Lap</a>
                </div>
                <div class="nsw-card__copy">
                  <p>$100 voucher for swimming lessons for children aged 3-6 years.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
      </main>
      
    </div>
  </div>
</section>

<section class="nsw-section nsw-section--brand-dark nsw-section--invert">
  <div class="nsw-container nsw-p-y-sm">
    <div class="nsw-layout">
      <main class="nsw-layout__main">
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--headline">
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Health and care</a>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--headline nsw-card--light">
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Boating, fishing and outdoors</a>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--headline nsw-card--dark">
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Business, industries and employment</a>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--headline nsw-card--highlight">
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Transport and Infrastructure</a>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card">
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Energy save</a>
                </div>
                <div class="nsw-card__copy">
                  <p>Helps you compare electricity and gas and switch providers.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--light">
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Family rebate</a>
                </div>
                <div class="nsw-card__copy">
                  <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--dark">
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Appliance save</a>
                </div>
                <div class="nsw-card__copy">
                  <p>Concession card holders may be able to save on a new fridge or television.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--highlight">
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Low Income Household Rebate</a>
                </div>
                <div class="nsw-card__copy">
                  <p>Eligible customers can receive a rebate on their electricity bills to help with energy costs.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card">
              <div class="nsw-card__content">
                <div class="nsw-card__tag">Business</div>
                <div class="nsw-card__date">
                  <time datetime="2020-10-16">16 October 2020</time>
                </div>
                <div class="nsw-card__title">
                  <a href="#">Energy switch</a>
                </div>
                <div class="nsw-card__copy">
                  <p>Save money by comparing electricity and gas plans.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--light">
              <div class="nsw-card__content">
                <div class="nsw-card__tag">Family, Public spaces</div>
                <div class="nsw-card__date">
                  <time datetime="2020-09-14">14 September 2020</time>
                </div>
                <div class="nsw-card__title">
                  <a href="#">Creative kids</a>
                </div>
                <div class="nsw-card__copy">
                  <p>$100 voucher for children&#x27;s creative and cultural activities.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--dark">
              <div class="nsw-card__content">
                <div class="nsw-card__tag">Family</div>
                <div class="nsw-card__date">
                  <time datetime="2020-09-02">2 September 2020</time>
                </div>
                <div class="nsw-card__title">
                  <a href="#">Active kids</a>
                </div>
                <div class="nsw-card__copy">
                  <p>$100 voucher for children&#x27;s sport, fitness and recreation.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--highlight">
              <div class="nsw-card__content">
                <div class="nsw-card__tag">Family, Safety, Health</div>
                <div class="nsw-card__date">
                  <time datetime="2021-01-10">10 January 2021</time>
                </div>
                <div class="nsw-card__title">
                  <a href="#">Learn to Swim</a>
                </div>
                <div class="nsw-card__copy">
                  <p>Voucher to help cover the cost of swimming lessons for kids aged 3-6 years.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/381/400/200" alt="Nominations open for Green Globe Awards 2019">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__tag">Community</div>
                <div class="nsw-card__date">
                  <time datetime="2019-03-09">9 March 2019</time>
                </div>
                <div class="nsw-card__title">
                  <a href="#">Nominations open for Green Globe Awards 2019</a>
                </div>
                <div class="nsw-card__copy">
                  <p>The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--light">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/28/400/200" alt="Quality green spaces and a million more trees for NSW">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__tag">Environment, Sustainability</div>
                <div class="nsw-card__date">
                  <time datetime="2019-03-01">1 March 2019</time>
                </div>
                <div class="nsw-card__title">
                  <a href="#">Quality green spaces and a million more trees for NSW</a>
                </div>
                <div class="nsw-card__copy">
                  <p>The NSW Government will create more quality green spaces and increase ther tree canopy in Sydney by 2022.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--dark">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/24/400/200" alt="New Premier&#x27;s Priority to lift literacy and numeracy standards">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__tag">Education</div>
                <div class="nsw-card__date">
                  <time datetime="2019-02-20">20 February 2019</time>
                </div>
                <div class="nsw-card__title">
                  <a href="#">New Premier&#x27;s Priority to lift literacy and numeracy standards</a>
                </div>
                <div class="nsw-card__copy">
                  <p>The NSW Government will redouble its efforts to lift literacy and numeracy standards across NSW public schools to ensure students are given every opportunity to be their best.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--highlight">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/192/400/200" alt="Boost to school infrastructure funding">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__tag">Education, Infrastructure</div>
                <div class="nsw-card__date">
                  <time datetime="2019-05-15">15 May 2019</time>
                </div>
                <div class="nsw-card__title">
                  <a href="#">Boost to school infrastructure funding</a>
                </div>
                <div class="nsw-card__copy">
                  <p>An additional $500 million has been allocated to upgrade and build new public schools across NSW.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-lg-6">
            <div class="nsw-card nsw-card--horizontal">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/3/400/200" alt="Energy switch">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Energy switch</a>
                </div>
                <div class="nsw-card__copy">
                  <p>Save money by comparing electricity and gas plans.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-lg-6">
            <div class="nsw-card nsw-card--horizontal nsw-card--light">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/531/400/200" alt="Creative kids">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Creative kids</a>
                </div>
                <div class="nsw-card__copy">
                  <p>$100 voucher for children&#x27;s creative and cultural activities.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-lg-6">
            <div class="nsw-card nsw-card--horizontal nsw-card--dark">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/646/400/200" alt="Active kids">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Active kids</a>
                </div>
                <div class="nsw-card__copy">
                  <p>$100 voucher for children&#x27;s sport, fitness and recreation.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-lg-6">
            <div class="nsw-card nsw-card--highlight nsw-card--horizontal">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/92/400/200" alt="First Lap">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">First Lap</a>
                </div>
                <div class="nsw-card__copy">
                  <p>$100 voucher for swimming lessons for children aged 3-6 years.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--border">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/381/400/200" alt="Nominations open for Green Globe Awards 2019">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__tag">Community</div>
                <div class="nsw-card__date">
                  <time datetime="2019-03-09">9 March 2019</time>
                </div>
                <div class="nsw-card__title">
                  <a href="#">Nominations open for Green Globe Awards 2019</a>
                </div>
                <div class="nsw-card__copy">
                  <p>The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--light nsw-card--border">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/28/400/200" alt="Quality green spaces and a million more trees for NSW">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__tag">Environment, Sustainability</div>
                <div class="nsw-card__date">
                  <time datetime="2019-03-01">1 March 2019</time>
                </div>
                <div class="nsw-card__title">
                  <a href="#">Quality green spaces and a million more trees for NSW</a>
                </div>
                <div class="nsw-card__copy">
                  <p>The NSW Government will create more quality green spaces and increase ther tree canopy in Sydney by 2022.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--dark nsw-card--border">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/24/400/200" alt="New Premier&#x27;s Priority to lift literacy and numeracy standards">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__tag">Education</div>
                <div class="nsw-card__date">
                  <time datetime="2019-02-20">20 February 2019</time>
                </div>
                <div class="nsw-card__title">
                  <a href="#">New Premier&#x27;s Priority to lift literacy and numeracy standards</a>
                </div>
                <div class="nsw-card__copy">
                  <p>The NSW Government will redouble its efforts to lift literacy and numeracy standards across NSW public schools to ensure students are given every opportunity to be their best.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--highlight nsw-card--border">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/192/400/200" alt="Boost to school infrastructure funding">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__tag">Education, Infrastructure</div>
                <div class="nsw-card__date">
                  <time datetime="2019-05-15">15 May 2019</time>
                </div>
                <div class="nsw-card__title">
                  <a href="#">Boost to school infrastructure funding</a>
                </div>
                <div class="nsw-card__copy">
                  <p>An additional $500 million has been allocated to upgrade and build new public schools across NSW.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-lg-6">
            <div class="nsw-card nsw-card--horizontal nsw-card--border">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/3/400/200" alt="Energy switch">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Energy switch</a>
                </div>
                <div class="nsw-card__copy">
                  <p>Save money by comparing electricity and gas plans.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-lg-6">
            <div class="nsw-card nsw-card--horizontal nsw-card--light nsw-card--border">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/531/400/200" alt="Creative kids">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Creative kids</a>
                </div>
                <div class="nsw-card__copy">
                  <p>$100 voucher for children&#x27;s creative and cultural activities.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-lg-6">
            <div class="nsw-card nsw-card--horizontal nsw-card--dark nsw-card--border">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/646/400/200" alt="Active kids">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">Active kids</a>
                </div>
                <div class="nsw-card__copy">
                  <p>$100 voucher for children&#x27;s sport, fitness and recreation.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-lg-6">
            <div class="nsw-card nsw-card--highlight nsw-card--horizontal nsw-card--border">
              <div class="nsw-card__image">
                <img src="https://picsum.photos/id/92/400/200" alt="First Lap">
              </div>
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="#">First Lap</a>
                </div>
                <div class="nsw-card__copy">
                  <p>$100 voucher for swimming lessons for children aged 3-6 years.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
      </main>
      
    </div>
  </div>
</section>
<script src="https://designsystem.nsw.gov.au/docs/js/docs.js"></script>

  <script src="https://designsystem.nsw.gov.au/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
