<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Layout</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="/nsw-design-system/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
</head>

<body class="nsw-body-content">

<div class="nsw-container">
  <div class="nsw-page-layout">
    <main class="nsw-page-layout__main">
      <!-- START: Main content -->
      <div class="nsw-docs__box nsw-docs__box--large"></div>
      <!-- END: Main content -->
    </main>
  </div>
  <div class="nsw-page-layout">
    <div class="nsw-page-layout__sidebar nsw-page-layout__sidebar--desktop">
      <!-- START: Left sidebar content -->
      <div class="nsw-docs__box nsw-docs__box--large"></div>
      <!-- END: Left sidebar content -->
    </div>
    <main class="nsw-page-layout__main">
      <!-- START: Main content -->
      <div class="nsw-docs__box nsw-docs__box--large"></div>
      <!-- END: Main content -->
    </main>
  </div>
  <div class="nsw-page-layout">
    <main class="nsw-page-layout__main">
      <!-- START: Main content -->
      <div class="nsw-docs__box nsw-docs__box--large"></div>
      <!-- END: Main content -->
    </main>
    <div class="nsw-page-layout__sidebar">
      <!-- START: Right sidebar content -->
      <div class="nsw-docs__box nsw-docs__box--large"></div>
      <!-- END: Right sidebar content -->
    </div>
  </div>
</div>
<div class="nsw-grid-overlay">
  <div class="nsw-container">
    <div class="nsw-grid">
      <div class="nsw-col nsw-col-1">
        <div class="nsw-docs__box"></div>
      </div>
      <div class="nsw-col nsw-col-1">
        <div class="nsw-docs__box"></div>
      </div>
      <div class="nsw-col nsw-col-1">
        <div class="nsw-docs__box"></div>
      </div>
      <div class="nsw-col nsw-col-1">
        <div class="nsw-docs__box"></div>
      </div>
      <div class="nsw-col nsw-col-1">
        <div class="nsw-docs__box"></div>
      </div>
      <div class="nsw-col nsw-col-1">
        <div class="nsw-docs__box"></div>
      </div>
      <div class="nsw-col nsw-col-1">
        <div class="nsw-docs__box"></div>
      </div>
      <div class="nsw-col nsw-col-1">
        <div class="nsw-docs__box"></div>
      </div>
      <div class="nsw-col nsw-col-1">
        <div class="nsw-docs__box"></div>
      </div>
      <div class="nsw-col nsw-col-1">
        <div class="nsw-docs__box"></div>
      </div>
      <div class="nsw-col nsw-col-1">
        <div class="nsw-docs__box"></div>
      </div>
      <div class="nsw-col nsw-col-1">
        <div class="nsw-docs__box"></div>
      </div>
    </div>
  </div>
</div>

  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
