<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Layout</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="../../favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-light.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/xml.min.js"></script>
</head>

<body class="nsw-body-content nsw-docs">
  <div class="nsw-docs__wrapper">
    <div class="nsw-docs__nav">
      <nav class="nsw-docs-nav">
        <div class="nsw-docs-nav__wrapper">
          <div class="nsw-docs-nav__title nsw-docs-nav__title--main">
            <a class="nsw-docs-nav__title-link" href="/">NSW Digital Design System</a>
          </div>
      
          <div class="nsw-docs-nav__title">
            <button>
              <span>Design</span>
              <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
            </button>
          </div>
          <ul class="nsw-docs-nav__list">
              <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/docs/content/design/getting-started.html">Getting Started</a></li>
              <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/docs/content/design/figma-ui-kit.html">Figma UI Kit</a></li>
              <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/docs/content/design/extending.html">Extending</a></li>
              <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/docs/content/design/theming.html">Theming</a></li>
          </ul>
          <div class="nsw-docs-nav__title">
            <button>
              <span>Develop</span>
              <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
            </button>
          </div>
          <ul class="nsw-docs-nav__list">
              <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/docs/content/develop/getting-started.html">Getting Started</a></li>
              <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/docs/content/develop/theming.html">Theming</a></li>
              <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/docs/content/develop/migration.html">Migration</a></li>
              <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/docs/content/develop/helpers.html">Utility Classes</a></li>
          </ul>
          <div class="nsw-docs-nav__title">
            <button>
              <span>Core styles</span>
              <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
            </button>
          </div>
          <ul class="nsw-docs-nav__list">
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/styles/colour/index.html">Colour</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/styles/typography/index.html">Typography</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/styles/iconography/index.html">Iconography</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/styles/grid/index.html">Grid</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/styles/layout/index.html">Layout</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/styles/section/index.html">Section</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/styles/spacing/index.html">Spacing</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/styles/graphic-elements/index.html">Graphic elements</a></li>
          </ul>
      
          <div class="nsw-docs-nav__title">
            <button>
              <span>Components</span>
              <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
            </button>
          </div>
          <ul class="nsw-docs-nav__list">
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/accordion/index.html">Accordion</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/breadcrumbs/index.html">Breadcrumbs</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/button/index.html">Buttons</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/callout/index.html">Callout</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/card/index.html">Cards</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/content-block/index.html">Content blocks</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/filters/index.html">Filters</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/footer/index.html">Footer</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/forms/index.html">Forms</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/site-wide-message/index.html">Global alert</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/header/index.html">Header</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/banner/index.html">Hero banner</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/hero-search/index.html">Hero search</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/in-page-navigation/index.html">In-page navigation</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/notification/index.html">In-page notification</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/link-list/index.html">Link list</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/list-item/index.html">List items</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/main-navigation/index.html">Main navigation</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/masthead/index.html">Masthead</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/media/index.html">Media</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/pagination/index.html">Pagination</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/progress-indicator/index.html">Progress Indicator</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/results-bar/index.html">Results bar</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/side-navigation/index.html">Side navigation</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/social-bar/index.html">Social bar</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/tables/index.html">Tables</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/tab-navigation/index.html">Tabs</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/tags/index.html">Tags</a></li>
          </ul>
      
          <div class="nsw-docs-nav__title">
            <a class="class="nsw-docs-nav__link" href="/nsw-design-system/templates/index.html">
              <span>Example pages</span>
            </a>
          </div>
        </div>
      </nav>
    </div>
    <div class="nsw-docs__main nsw-docs__main--wide">
      <div class="nsw-docs__back">
        <a href="/" class="nsw-docs__link">
          <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_left</i>
          <span>Home</span>
        </a>
      </div>
      <div class="nsw-docs__intro">
        <div class="nsw-docs__container">
          <h1>Layout</h1>
          <p class="nsw-intro">Layouts are common page composition patterns that offer ways of structuring components and content.</p>
          
          <div class="nsw-docs__external-link">
            <a target="_blank" href="blank.html" class="nsw-docs__external">
              <span>View in new window</span>
              <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">launch</i>
            </a>
          </div>
          
        </div>
      </div>
      <div class="nsw-docs__content">
        <div class="nsw-docs__container">

<h2>Page layouts</h2>
<p>There are then 3 standard page layouts that can be used to enclose your grid:</p>
<ul>
  <li>Full width <a target="_blank" href="/templates/homepage-hero-banner/index.html">(Demo)</a></li>
  <li>Two column - Left side desktop only <a target="_blank" href="/templates/content-page-side-nav/index.html">(Demo)</a></li>
  <li>Two column - Right side <a target="_blank" href="/templates/article/index.html">(Demo)</a></li>
</ul>

<h2>Usage</h2>
<p>A <code>nsw-container</code> keeps a container width of 1200px and the
  <code>nsw-page-layout</code> acts as a wrapper to align the content's spacing.</p>

<h3>Full width - Main content area</h3>
<p>Displays main content area the full width of the container.</p>
<div class="nsw-docs__example nsw-m-top-md">
  <div class="nsw-docs__component">
      <div class="nsw-container">
        <div class="nsw-page-layout">
          <main class="nsw-page-layout__main">
            <!-- START: Main content -->
            <div class="nsw-docs__box nsw-docs__box--large"></div>
            <!-- END: Main content -->
          </main>
        </div>
      </div>
  </div>
</div>
<div class="nsw-docs-code">
	<button class="nsw-docs-code__button">
		<span>Show code</span>
		<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
	</button>
	<div class="nsw-docs-code__content">
		<button class="nsw-docs-code__copy">
			<span>Copy</span>
			<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">content_copy</i>
		</button>
		<div class="nsw-docs-code__wrapper">
<pre><code class="html"><script>
	  function escapeHtml(unsafe) {
	    return unsafe
	     .replace(/&/g, "&amp;")
	     .replace(/</g, "&lt;")
	     .replace(/>/g, "&gt;")
	     .replace(/"/g, "&quot;")
	     .replace(/'/g, "&#039;");
	  }
	  document.write(escapeHtml(`  <div class="nsw-container">
    <div class="nsw-page-layout">
      <main class="nsw-page-layout__main">
        <!-- START: Main content -->
        <div class="nsw-docs__box nsw-docs__box--large"></div>
        <!-- END: Main content -->
      </main>
    </div>
  </div>
`));
</script></code></pre>
		</div>
	</div>
</div>

<h3>Two column - Left side desktop only</h3>
<p>Displays a left hand sidebar that is visible on 992px+ viewports, with a main content area that is always visible. (Recommended for side navigation).</p>
<div class="nsw-docs__example nsw-m-top-md">
  <div class="nsw-docs__component">
      <div class="nsw-container">
        <div class="nsw-page-layout">
          <div class="nsw-page-layout__sidebar nsw-page-layout__sidebar--desktop">
            <!-- START: Left sidebar content -->
            <div class="nsw-docs__box nsw-docs__box--large"></div>
            <!-- END: Left sidebar content -->
          </div>
          <main class="nsw-page-layout__main">
            <!-- START: Main content -->
            <div class="nsw-docs__box nsw-docs__box--large"></div>
            <!-- END: Main content -->
          </main>
        </div>
      </div>
  </div>
</div>
<div class="nsw-docs-code">
	<button class="nsw-docs-code__button">
		<span>Show code</span>
		<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
	</button>
	<div class="nsw-docs-code__content">
		<button class="nsw-docs-code__copy">
			<span>Copy</span>
			<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">content_copy</i>
		</button>
		<div class="nsw-docs-code__wrapper">
<pre><code class="html"><script>
	  function escapeHtml(unsafe) {
	    return unsafe
	     .replace(/&/g, "&amp;")
	     .replace(/</g, "&lt;")
	     .replace(/>/g, "&gt;")
	     .replace(/"/g, "&quot;")
	     .replace(/'/g, "&#039;");
	  }
	  document.write(escapeHtml(`  <div class="nsw-container">
    <div class="nsw-page-layout">
      <div class="nsw-page-layout__sidebar nsw-page-layout__sidebar--desktop">
        <!-- START: Left sidebar content -->
        <div class="nsw-docs__box nsw-docs__box--large"></div>
        <!-- END: Left sidebar content -->
      </div>
      <main class="nsw-page-layout__main">
        <!-- START: Main content -->
        <div class="nsw-docs__box nsw-docs__box--large"></div>
        <!-- END: Main content -->
      </main>
    </div>
  </div>
`));
</script></code></pre>
		</div>
	</div>
</div>


<h3>Two column - Right side</h3>
<p>Displays a right hand sidebar that stacks on 0 - 991px viewports, with main content area that is always visible. </p>
<div class="nsw-docs__example nsw-m-top-md">
  <div class="nsw-docs__component">
      <div class="nsw-container">
        <div class="nsw-page-layout">
          <main class="nsw-page-layout__main">
            <!-- START: Main content -->
            <div class="nsw-docs__box nsw-docs__box--large"></div>
            <!-- END: Main content -->
          </main>
          <div class="nsw-page-layout__sidebar">
            <!-- START: Right sidebar content -->
            <div class="nsw-docs__box nsw-docs__box--large"></div>
            <!-- END: Right sidebar content -->
          </div>
        </div>
      </div>
  </div>
</div>
<div class="nsw-docs-code">
	<button class="nsw-docs-code__button">
		<span>Show code</span>
		<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
	</button>
	<div class="nsw-docs-code__content">
		<button class="nsw-docs-code__copy">
			<span>Copy</span>
			<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">content_copy</i>
		</button>
		<div class="nsw-docs-code__wrapper">
<pre><code class="html"><script>
	  function escapeHtml(unsafe) {
	    return unsafe
	     .replace(/&/g, "&amp;")
	     .replace(/</g, "&lt;")
	     .replace(/>/g, "&gt;")
	     .replace(/"/g, "&quot;")
	     .replace(/'/g, "&#039;");
	  }
	  document.write(escapeHtml(`  <div class="nsw-container">
    <div class="nsw-page-layout">
      <main class="nsw-page-layout__main">
        <!-- START: Main content -->
        <div class="nsw-docs__box nsw-docs__box--large"></div>
        <!-- END: Main content -->
      </main>
      <div class="nsw-page-layout__sidebar">
        <!-- START: Right sidebar content -->
        <div class="nsw-docs__box nsw-docs__box--large"></div>
        <!-- END: Right sidebar content -->
      </div>
    </div>
  </div>
`));
</script></code></pre>
		</div>
	</div>
</div>

        </div>
      </div>
      <footer class="nsw-footer nsw-docs-footer">
        <div class="nsw-footer__lower">
          <div class="nsw-container">
            <p>We pay respect to the Traditional Custodians and First Peoples of NSW, and acknowledge their continued connection to their country and culture.</p>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
  <script src="/nsw-design-system/docs/js/docs.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
</body>
</html>
