<div class="nsw-block">
  <div class="nsw-block__content">
    <h2 class="nsw-block__title">{{heading}}</h2>
    {{#if copy}}<p class="nsw-block__copy">{{copy}}</p>{{/if}}
    {{#if list}}
    <ul class="nsw-block__list">
      {{#each list}}
      <li><a href="#">{{this}}</a></li>
      {{/each}}
    </ul>
    {{/if}}
    {{#if link}}<div class="nsw-block__link"><a href="#">View more</a></div>{{/if}}
  </div>
  {{#if img}}
  <div class="nsw-block__image-area">
      <img src="{{img}}" alt="" class="nsw-block__image">
  </div>
  {{/if}}
</div>
