---
title: Content blocks
model:
  block-text-1: ../../components/block/json/block-text-1.json
  block-text-2: ../../components/block/json/block-text-2.json
  block-text-3: ../../components/block/json/block-text-3.json
  block-icon-1: ../../components/block/json/block-icon-1.json
  block-icon-2: ../../components/block/json/block-icon-2.json
  block-icon-3: ../../components/block/json/block-icon-3.json
  block-image-1: ../../components/block/json/block-image-1.json
  block-image-2: ../../components/block/json/block-image-2.json
  block-image-3: ../../components/block/json/block-image-3.json
  block-content-1: ../../components/block/json/block-content-1.json
  block-content-2: ../../components/block/json/block-content-2.json
  block-content-3: ../../components/block/json/block-content-3.json
---

<main>
  <div class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <h2 class="nsw-section-title">Text block</h2>
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-md-4">
              {{>_block model.block-text-1}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_block model.block-text-2}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_block model.block-text-3}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nsw-section--light-10">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <h2 class="nsw-section-title">Icon block</h2>
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-md-4">
              {{>_block model.block-icon-1}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_block model.block-icon-2}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_block model.block-icon-3}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <h2 class="nsw-section-title">Image block</h2>
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-md-4">
              {{>_block model.block-image-1}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_block model.block-image-2}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_block model.block-image-3}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nsw-section--light-10">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-md-4">
              {{>_block model.block-content-1}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_block model.block-content-2}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_block model.block-content-3}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
