---
title: Search & Filters
width: narrow
no-blank: true
order: 10
---

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi tincidunt ornare massa eget. Nisl rhoncus mattis rhoncus urna neque viverra justo. Ipsum consequat nisl vel pretium lectus quam id. Feugiat pretium nibh ipsum consequat. Sed viverra ipsum nunc aliquet bibendum enim facilisis gravida neque. Duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam. Volutpat blandit aliquam etiam erat velit scelerisque in dictum non. Lobortis scelerisque fermentum dui faucibus in ornare. Pulvinar etiam non quam lacus suspendisse faucibus. Non consectetur a erat nam. Eget felis eget nunc lobortis mattis aliquam. Lacus viverra vitae congue eu consequat ac felis donec et. Aliquet nec ullamcorper sit amet. Lacus viverra vitae congue eu consequat. Fermentum et sollicitudin ac orci phasellus.</p>

<p>Vulputate odio ut enim blandit volutpat maecenas. Molestie nunc non blandit massa. Ut placerat orci nulla pellentesque dignissim enim sit. Commodo odio aenean sed adipiscing diam donec adipiscing tristique risus. Amet dictum sit amet justo donec enim diam. Aliquet sagittis id consectetur purus ut faucibus. Ut sem nulla pharetra diam sit amet nisl suscipit adipiscing. Dolor magna eget est lorem. Morbi leo urna molestie at elementum eu facilisis sed odio. Accumsan lacus vel facilisis volutpat.</p>

<div class="nsw-grid">
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    <div class="nsw-card nsw-card--headline">
      <div class="nsw-card__content">
        <div class="nsw-card__title">
          <a target="_blank" href="templates/search/simple.html">Simple</a>
        </div>
        <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    <div class="nsw-card nsw-card--headline">
      <div class="nsw-card__content">
        <div class="nsw-card__title">
          <a target="_blank" href="templates/search/filters.html">Filters</a>
        </div>
        <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    <div class="nsw-card nsw-card--headline">
      <div class="nsw-card__content">
        <div class="nsw-card__title">
          <a target="_blank" href="templates/search/no-results.html">No results</a>
        </div>
        <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
</div>