---
title: Search & Filters
width: narrow
no-blank: true
order: 10
intro: Search allow users to explore products and services using keywords or phrases.
meta-description: NSW Design System search and filters method help users find content quickly by returning results based on a specific keyword or phrase.  
meta-index: true
---


<h2 id="Usage">When to use</h2>
<p>Search results help users find content quickly by returning results based on a specific keyword or phrase.</p>
<p>Use the search results pattern for:</p>
<ul>
  <li>Global searches</li>
  <li>Result listings where primary search is by keyword</li>
</ul>
<p>Do:</p>
<ul>
  <li>where possible, account for typos and synonyms in search queries</li>
  <li>trigger the search if a user hits the Enter key when typing in the search field</li>
  <li>always display the search bar with the user's last searched term</li>
</ul>
<h3 id="When-to-avoid">When to avoid</h3>
<p>Do not use when filtering results by categories is the primary user need, consider using filtering pattern.</p>

<h2 id="How-it-works">How it works</h2>
<h3 id="Results">Results</h3>
<p>By default, search results should be sorted by relevance. If there is a user need, offer a sort function to allow users to order the results based on supplementary criteria.</p>
<p>Do:</p>
<ul>
  <li>ensure search results are tested and return accurate and relevant results</li>
  <li>allow users to sort the content by the factors that are most important to them</li>
  <li>show the number of results returned, and update the count each time filters are updated</li>
  <li>where possible, bold the matching keyword or term in the result description</li>
  <li>use pagination when more than 10 results are returned</li>
</ul>
<p>When displaying results, consider what information is important to the user and display what they require to make an informed decision.</p>
<p>Content options can include:</p>
<ul>
<li><strong>Headline </strong>- use to identify the title of page or result</li>
<li><strong>Description </strong>- use to give the user a snapshot to the content (metadata)</li>
<li><strong>URL </strong>- use to indicate when content is located on a different site</li>
<li><strong>Label </strong>- use to indicate the result category when this will give greater context over the result type or content. For example, the file type if it differs from a webpage.</li>
<li><strong>Date </strong>- use when it brings value to the user to know this information and be clear on their relation to the content (for example &ldquo;Last updated&rdquo;).</li>
</ul>
<p>If no results are returned, clearly communicate there are no matching results and allow the user to continue their journey by providing tips to improve or widen their results.</p>
<p>Some ways to do this are by:</p>
<ul>
  <li>Suggesting alternative keyword if current keyword is not found or a spelling mistake is detected (if possible)</p></li>
  <li>Tips to improve or widen the results</p></li>
  <li>Contact information or other ways to navigate the site</li>
</ul>
<h3 id="Filtering">Filtering</h3>
<p>Adding filters can help users narrow down their search results.</p>
<h3 id="Predictive-search">Predictive search</h3>
<p>Assist users by providing suggestions as they type. This can speed up search times, reduce no results being returned and surface content the user may not be aware of. Ensure suggestions are relevant and match your user's need.</p>
<hr>
<h2>Example pages</h2>
<div class="nsw-grid">
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    <div class="nsw-card nsw-card--headline">
      <div class="nsw-card__content">
        <div class="nsw-card__title">
          <a target="_blank" href="/templates/search/simple.html">Simple</a>
        </div>
        <span class="material-symbols-outlined nsw-material-symbols-outlined" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    <div class="nsw-card nsw-card--headline">
      <div class="nsw-card__content">
        <div class="nsw-card__title">
          <a target="_blank" href="/templates/search/filters.html">Filters</a>
        </div>
        <span class="material-symbols-outlined nsw-material-symbols-outlined" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    <div class="nsw-card nsw-card--headline">
      <div class="nsw-card__content">
        <div class="nsw-card__title">
          <a target="_blank" href="/templates/search/no-results.html">No results</a>
        </div>
        <span class="material-symbols-outlined nsw-material-symbols-outlined" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
</div>
