---
title: Sponsor list
order: 80
no-blank: true
directory: logo
intro: Allows internal partners or external agencies to showcase NSW government and  external organisation logos.
figma: https://www.figma.com/file/nJOsPzjVMG609Cs3Ng8xaw/V3.0-NSW-Design-System?node-id=4319%3A24995
meta-description: NSW Design System sponsrs list usage and application for NSW Government digital products and services. 
meta-index: true
---

<h2 id="usage">Usage</h2>
<p>Use a sponsors list section to highlight NSW government and external organisations that have generously provided support through sponsorship, partnership, or funding. These can be displayed through text-only links for Masterbrand support relationships and image logos for other brand support relationships.</p>

<h3>Placement</h3>
<p>Above the footer at the bottom of the page or above the footer optional section links.</p>

<h3>NSW Government Waratah logo</h3>
<p>Each brand classification has specific requirements for the inclusion of the NSW Government Waratah logo.</p>

<p><strong>Example:</strong></p>
<figure class="nsw-media nsw-media--transparent nsw-m-bottom-xs">
  <img src="/assets/images/sponsor-list-example-1.png" alt="Masterbrand sponsor list example layout">
</figure>

<div class="nsw-grid">
  <div class="nsw-col nsw-col-sm-6">
    <figure class="nsw-media nsw-media--transparent nsw-m-bottom-xs">
      <p><strong>Masterbrand and Co-brand</strong><br/><br/>Do not require the Waratah logo as it's already included in the header.<br/><br/>
      </p>
      <img class="nsw-p-top-sm" src="/assets/images/sponsor-list-standard-waratah-requirements.png" alt="Endorsed exmaple with logo coupled in header">
    </figure>
  </div>
  <div class="nsw-col nsw-col-sm-6">
    <figure class="nsw-media nsw-media--transparent nsw-m-bottom-xs">
      <p><strong>Decoupled in footer (minimum requirement)</strong><br/><br/>In cases where the Waratah is not included in the header, position the NSW Government Waratah logo as the first element among the support logos.
      </p>
      <img class="nsw-p-top-sm" src="/assets/images/sponsor-list-decoupled-waratah-requirements.png" alt="Endorsed exmaple with logo  decoupled in footer">
    </figure>
  </div>
</div>

<h4>Sizing</h4>
<p>The NSW Government Waratah logo should be 76px in height on large screens (≥ 992px), and 48px in height on small screens (< 991px) and never be smaller than the support logos.</p>
<p>These logos have been designed to ensure accessibility and clarity at all sizes.</p>
<p>For full NSW Government Waratah logo requirements for your brand classification view the <a href="https://branding.nsw.gov.au/" target="_blank">NSW Government Visual identity system</a>.</p>

<h3>Masterbrand descriptors</h3>
<p>Use Masterbrand descriptors where Masterbrand support relationship are necessary, as text-only links. They should be accompanied by a 'NSW Government:' text label as the first element, before any other NSW Government support logos.</p>
<p>For full Masterbrand descriptor requirements for your brand classification view the <a href="https://branding.nsw.gov.au/" target="_blank">NSW Government Visual identity system</a>.</p>
<p><strong>Example:</strong></p>
<figure class="nsw-media nsw-media--transparent nsw-m-bottom-xs">
  <img src="/assets/images/sponsor-list-masterbrand-descriptors.png" alt="Masterbrand sponsor list example layout">
</figure>

<h4>Sponsors logos</h4>
<h3>Arrangement</h3>
<p>Order is based on hierarchy of the NSW Government Brand Framework:</p>
<ol>
  <li>Masterbrand (used as a text text-only descriptor)</li>
  <li>Co-brand</li>
  <li>Endorsed</li>
  <li>Independent</li>
  <li>Stand-alone</li>
</ol>
<p>External brand logos can also be included after the NSW government brand logos.</p>
<p>The arrangement of logos follows the hierarchy of the NSW Government Brand Framework, however when necessary, they can be re-ordered  based on the scale of funding or contribution.</p>
<p>For more information on sponsors logo arrangement requirements for your brand classification view the <a href="https://branding.nsw.gov.au/" target="_blank">NSW Government Visual identity system</a>.</p>
<h4>Sizing</h4>
<p>The support logos should be 76px in height on large screens (≥ 992px), and 76px in height on small screens (< 991px).</p>
<p>These logos have been designed to ensure accessibility and clarity at all sizes.</p>
<p>For full logo requirements for your brand classification view the</p>
<h3>Desktop to large tablet screen size example</h3>
<figure class="nsw-media nsw-media--transparent nsw-m-bottom-xs">
  <img src="/assets/images/sponsor-list-desktop-example.png" alt="Desktop example layout">
</figure>
<h3>Small tablet to mobile screen size example</h3>
<div class="nsw-grid">
  <div class="nsw-col nsw-col-sm-6">
    <figure class="nsw-media nsw-media--transparent">
      <img src="/assets/images/sponsor-list-mobile-example.png" alt="Mobile example layout">
    </figure>
  </div>
</div>
