---
title: Sponsorship and partnership acknowledgement
order: 80
no-blank: true
directory: sponsorship and partnership acknowledgement
intro: Recognising support for NSW government and external organisations.
figma: https://www.figma.com/file/nJOsPzjVMG609Cs3Ng8xaw/V3.0-NSW-Design-System?node-id=4319%3A24995
meta-description: NSW Design System sponsorship and partnership acknowledgement usage and application for NSW Government digital products and services. 
meta-index: true
---

<h2 id="when-to-use">When to use</h2>
<p>Use when highlighting NSW government and external organisations that have generously provided support including sponsorship, partnership, or funding. These  can be displayed through text-only descriptors for Masterbrand support relationships and image logos for other brand support relationships.</p>
<p>For full information, view the <a href="https://branding.nsw.gov.au/" target="_blank">Sponsorship and Partnership Brand Guidelines</a>.</p>

<h3>Placement and spacing</h3>
<p>Place above the footer or above the footer optional section links at the bottom of the page.</p>
<p>When the NSW Government logo is displayed next to another logo or Masterbrand descriptor, it should be vertically centered and separated by a minimum distance equal to twice the width of the 'N' in NSW.</p>

<h3>NSW Government Waratah logo</h3>
<p>Each brand classification has specific requirements for the inclusion of the NSW Government Waratah logo.</p>

<p><strong>Example:</strong></p>
<figure class="nsw-media nsw-media--transparent nsw-m-bottom-xs">
  <img src="/assets/images/sponsorship-partnership-logo-example-1.png" alt="Masterbrand sponsorship and partnership acknowledgment example layout">
</figure>

<figure class="nsw-media nsw-media--transparent nsw-m-bottom-xs">
  <img src="/assets/images/sponsorship-partnership-logo-example-2.png" alt="Masterbrand sponsorship and partnership acknowledgment example layout">
</figure>

<div class="nsw-grid">
  <div class="nsw-col nsw-col-sm-6">
    <figure class="nsw-media nsw-media--transparent nsw-m-bottom-xs">
      <p><strong>Masterbrand and Co-brand</strong><br/><br/>Do not require the Waratah logo as it's already included in the header.<br/><br/>
      </p>
      <img class="nsw-p-top-sm" src="/assets/images/sponsorship-partnership-standard-waratah-requirements.png" alt="Endorsed exmaple with logo coupled in header">
    </figure>
  </div>
  <div class="nsw-col nsw-col-sm-6">
    <figure class="nsw-media nsw-media--transparent nsw-m-bottom-xs">
      <p><strong>Endorsed, Independent and other brand classifications</strong><br/><br/>In cases where the NSW Government Waratah is not included in the header, position as the first element among the support logos.
      </p>
      <img class="nsw-p-top-sm" src="/assets/images/sponsorship-partnership-decoupled-waratah-requirements.png" alt="Endorsed exmaple with logo decoupled in footer">
    </figure>
  </div>
</div>

<h4>Sizing</h4>
<p>The NSW Government Waratah logo should be 76px in height on large screens (≥ 992px), and 48px in height on small screens (< 991px) and never be smaller than the support logos.</p>
<p>For full NSW Government Waratah logo requirements for your brand classification view the <a href="https://branding.nsw.gov.au/" target="_blank">Sponsorship and Partnership Brand Guidelines</a>.</p>

<h2>Masterbrand descriptors</h2>
<p>Use Masterbrand descriptors where Masterbrand support relationship are necessary, as text-only links.</p>
<p><strong>Example:</strong></p>
<figure class="nsw-media nsw-media--transparent nsw-m-bottom-xs">
  <img src="/assets/images/sponsorship-partnership-masterbrand-descriptors.png" alt="Masterbrand sponsor list example layout">
</figure>

<h3>NSW Government label</h3>
<p>In cases where the NSW Government Waratah is not included in the support section, include a 'NSW Government' text label as the first element, on a separate line, before any Masterbrand descriptor.</p>
<p><strong>Example:</strong></p>
<figure class="nsw-media nsw-media--transparent nsw-m-bottom-xs">
  <img src="/assets/images/sponsorship-partnership-masterbrand-descriptors-government-label.png" alt="Masterbrand sponsor list example layout">
</figure>

<p>For full Masterbrand descriptor requirements for your brand classification view the <a href="https://branding.nsw.gov.au/" target="_blank">Sponsorship and Partnership Brand Guidelines</a>.</p>

<h2>Sponsors logos</h2>

<h3>Arrangement</h3>
<p>Order is based on hierarchy of the NSW Government Brand Framework:</p>
<ol>
  <li>Masterbrand (used as a text text-only descriptor)</li>
  <li>Co-brand</li>
  <li>Endorsed</li>
  <li>Independent</li>
  <li>Stand-alone</li>
</ol>
<p>External brand logos can also be included after the NSW government brand logos.</p>
<p>The arrangement of logos follows the hierarchy of the NSW Government Brand Framework, however when necessary, they can be re-ordered  based on the scale of funding or contribution.</p>
<p>For more information on sponsors logo arrangement requirements for your brand classification view the <a href="https://branding.nsw.gov.au/" target="_blank">Sponsorship and Partnership Brand Guidelines</a>.</p>

<h3>Sizing</h3>
<p>The support logos should be 76px in height on large screens (≥ 992px), and maintain the 76px in height on small screens (< 991px), displayed in two equal columns.</p>
<p>These logos have been designed to ensure accessibility and clarity at all sizes.</p>
<p>For full logo requirements for your brand classification view the <a href="https://branding.nsw.gov.au/" target="_blank">Sponsorship and Partnership Brand Guidelines</a>.</p>

<h3>Large screen examples</h3>
<a class="js-link nsw-m-top-md" href="/assets/images/sponsorship-partners-masterbrand-descriptors-waratah-large.png">
  <span class="material-icons nsw-material-icons" title="download file">file_download</span><span>Masterbrand descriptors with Waratah</span>
</a><br />
<a class="js-link nsw-m-top-md" href="/assets/images/sponsorship-partners-masterbrand-descriptors-without-waratah-large.png">
  <span class="material-icons nsw-material-icons" title="download file">file_download</span><span>Masterbrand descriptors without Waratah</span>
</a><br />
<a class="js-link nsw-m-top-md" href="/assets/images/sponsorship-partners-logos-waratah-large.png">
  <span class="material-icons nsw-material-icons" title="download file">file_download</span><span>Logos with Waratah</span>
</a><br />
<a class="js-link nsw-m-top-md" href="/assets/images/sponsorship-partners-logos-without-waratah-large.png">
  <span class="material-icons nsw-material-icons" title="download file">file_download</span><span>Logos without Waratah</span>
</a><br />


<h3>Small screen examples</h3>
<a class="js-link nsw-m-top-md" href="/assets/images/sponsorship-partners-masterbrand-descriptors-waratah-small.png">
  <span class="material-icons nsw-material-icons" title="download file">file_download</span><span>Masterbrand descriptors with Waratah</span>
</a><br />
<a class="js-link nsw-m-top-md" href="/assets/images/sponsorship-partners-masterbrand-descriptors-without-waratah-small.png">
  <span class="material-icons nsw-material-icons" title="download file">file_download</span><span>Masterbrand descriptors without Waratah</span>
</a><br />
<a class="js-link nsw-m-top-md" href="/assets/images/sponsorship-partners-logos-waratah-small.png">
  <span class="material-icons nsw-material-icons" title="download file">file_download</span><span>Logos with Waratah</span>
</a><br />
<a class="js-link nsw-m-top-md" href="/assets/images/sponsorship-partners-logos-without-waratah-small.png">
  <span class="material-icons nsw-material-icons" title="download file">file_download</span><span>Logos without Waratah</span>
</a><br />

<div class="nsw-in-page-alert nsw-in-page-alert--info nsw-m-y-lg">
  <span class="material-icons nsw-material-icons nsw-in-page-alert__icon" focusable="false" aria-hidden="true">info</span>
  <div class="nsw-in-page-alert__content">
    <p class="nsw-h5">Looking for a ready-made component?</p>
    <p>You can view the full size examples below. If you have any questions reach out to us at <a href='mailto:digital@customerservice.nsw.gov.au'>digital@customerservice.nsw.gov.au</a>.</p>
  </div>
</div>