---
title: You are here
width: narrow
no-blank: true
order: 40
intro: Help a user orientate themselves in your product or service. 
---
<h2>When to use</h2>

<p>Users may come to you from a number of sources (ie. search engine, related links etc), so any page could be the first one they land on. Therefore it's important that each page not only shows them where they are, but what else is available. This can be achieved through content and visual cues to make it easy for users to identify who is speaking, where they are and where they can go.</p>

<h2>How it works</h2>

<h3>Who is speaking</h3>
<p>The masthead identifies your site as part of the NSW Government, located in a prominent and consistent position for users. The brand logo also shows ownership of the content and has a consistent placement based on your brand classification. </p>
<p>A site descriptor is the title or name of your site, product or service. It can also communicate the agency or department from which the content is coming from within NSW Government. A secondary descriptor can be used where further context is required by the user to identify the associated department or agency.</p>

<p><strong>Building the experience:</strong></p>

<ul>
    <li><a href="/components/masthead/index.html">Masthead</a>: must be displayed on all NSW Government masterbrand and co-brand digital products and services, with pre-built variants based on your classification.</p></li>
    <li><p><a href="/components/header/index.html">Header</a>: helps you meet logo and site descriptor requirements, with brand approved spacing and typography styles. Header layouts can be adapted, and in some cases combined with the main navigation. In all cases the logo and descriptor requirements must be met. </p></li>
</ul>

<h3>Where am I</h3>

<p>Page titles and introduction text identify a users location and summarise the content. This should be short, descriptive, and distinct from the page content. 
<p>Elements like breadcrumbs expose the hierarchy prior to the current location to help a user understand where they are within a website's structure. </p>

<p><strong>Building the experience:</strong></p>

<ul>
    <li><a href="/core/typography/index.html">Typography styles</a>: applies hierarchy to page titles and can be used alongside other UI elements (such as background colours and borders) to create visual separation.</li>
    <li><a href="/components/hero-banner/index.html">Hero banner</a>: help draw attention and give context to a product, service or page. Homepages can utilise a larger area, where landing or category pages should only utilise a small area as not to over use the component or create banner-blindness.</li>
    <li><a href="/components/breadcrumbs/index.html">Breadcrumbs</a>: display in the top left of the main content area above the page title exposing the parent-level page titles allowing users to move between the multiple levels of a website.</li>
</ul>


<h3>Where can I go</h3>

<p>Your site navigation surfaces available levels of content for users to explore and navigate through. You can also feature functions of the site or additional actions within your navigation that can be taken by the user (ie. Login, Language etc) to further customise their experience.</p>

<p>Search allows users another way to explore and find desired content.</p>

<p><strong>Building the experience:</strong></p>

<ul>
    <li><a href="/components/main-nav/index.html">Main navigation</a>: shows users the top level of your IA and access to deeper levels via the mega menu. Smaller navigation that doesn't require its own section can also be displayed in the header if spacing allows. Be sure to test your navigation across multiple viewports to ensure options are readable and accessible on small devices.</li>
    <li><a href="/components/side-nav/index.html">Side navigation</a>: use to show sibling pages or expand to expose deeper levels of content.</li>
</ul>
