---
title: Buttons
layout: blank-layout.hbs
---

<h2>Usage</h2>   
<p>Buttons should be used when the user performs an action, and should describe what happens when pressed. Examples of button contexts include:  
</p> 
<ul>
  <li>submitting a form</li>   
  <li>cancelling a transaction</li>   
  <li>saving information</li>   
  <li>making a payment</li> 
</ul>   

<h3>Buttons vs. links</h3>   
<p>Buttons should be used if there is an <em>action</em> performed. For navigating users to different pages, use a text link instead.</p> 
<h3>Button states</h3> 
<p>Buttons are styled according to their purpose:</p> 
<ul> 
  <li><strong>Brand</strong> buttons are for the page's primary user action (call to action). Brand dark should be used as the primary Brand button and Brand light should be used when the background requires a light variant button.</li> 
  <li><strong>Outlined</strong> buttons are used for secondary call to actions.</li> 
  <li><strong>Danger</strong> buttons are NSW Brand Highlight and used to confirm a destructive action, such as delete. </li> 
  <li><strong>Disabled</strong> buttons can be used if research shows that it helps users understand the screen. Avoid them if possible as they do have low contrast and can confuse users.</li> 
</ul> 

<h3>Icons</h3>   
<p>Icons can be added to support the action. Avoid using an icon as standalone as they may be interpreted differently by different users. It is important to ensure where an icon is used it matches the intended action.</p> 

<h3>Tips</h3> 
<ul> 
  <li>Disabled buttons can be harder to see, so avoid using them where possible</li> 
  <li>Consider the GOV.UK guidance on how to <a target="_blank" href="https://design-system.service.gov.uk/components/button/#stop-users-from-accidentally-sending-information-more-than-once">stop users from accidentally sending information more than once</a></li> 
  <li>Overusing buttons and button-style links makes them less noticable</li> 
  <li>A comprehensive review of buttons vs. links is available from Indiana University - <a target="_blank" href="https://ux.iu.edu/writings/buttons-vs-links-basic/">Buttons &amp; Links - the Basics</a></li> 
</ul>