---
title: Buttons
width: narrow
page: true
---
{{#>_layout-container}}
<div class="nsw-docs__section"> 
{{>_button-link url="#" style="dark" text="Link"}}
{{>_button type="button" style="dark" text="Button"}}
{{>_button-input type="button" style="dark" text="Input"}}
{{>_button-input type="button" style="dark" text="Disabled" isDisabled=true}}
{{>_button type="button" style="dark" text="Full Width" isFullWidth=true}}
</div>
<div class="nsw-docs__section"> 
{{>_button-link url="#" style="dark-outline" text="Link"}}
{{>_button type="button" style="dark-outline" text="Button"}}
{{>_button-input type="button" style="dark-outline" text="Input"}}
{{>_button-input type="button" style="dark-outline" text="Disabled" isDisabled=true}}
{{>_button type="button" style="dark-outline" text="Full Width" isFullWidth=true}}
</div>
<div class="nsw-docs__section nsw-docs__section--dark"> 
{{>_button-link url="#" style="light" text="Link"}}
{{>_button type="button" style="light" text="Button"}}
{{>_button-input type="button" style="light" text="Input"}}
{{>_button-input type="button" style="light" text="Disabled" isDisabled=true}}
{{>_button type="button" style="light" text="Full Width" isFullWidth=true}}
</div>
<div class="nsw-docs__section nsw-docs__section--dark"> 
{{>_button-link url="#" style="light-outline" text="Link"}}
{{>_button type="button" style="light-outline" text="Button"}}
{{>_button-input type="button" style="light-outline" text="Input"}}
{{>_button-input type="button" style="light-outline" text="Disabled" isDisabled=true}}
{{>_button type="button" style="light-outline" text="Full Width" isFullWidth=true}}
</div>
<div class="nsw-docs__section nsw-docs__section--dark"> 
{{>_button-link url="#" style="white" text="Link"}}
{{>_button type="button" style="white" text="Button"}}
{{>_button-input type="button" style="white" text="Input"}}
{{>_button-input type="button" style="white" text="Disabled" isDisabled=true}}
{{>_button type="button" style="white" text="Full Width" isFullWidth=true}}
</div>
<div class="nsw-docs__section"> 
{{>_button-link url="#" style="danger" text="Link"}}
{{>_button type="button" style="danger" text="Button"}}
{{>_button-input type="button" style="danger" text="Input"}}
{{>_button-input type="button" style="danger" text="Disabled" isDisabled=true}}
{{>_button type="button" style="danger" text="Full Width" isFullWidth=true}}
</div>
{{/_layout-container}}
