---
title: Buttons
width: narrow
tabs: true
directory: button
intro: Buttons provide users with the ability to submit an action.
figma: https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=0%3A1127
react: https://digitalnsw.github.io/nsw-design-system-react/?path=/docs/transaction-button--primary
---

<h3>Primary Dark</h3>
{{#>_docs-example}}
{{>_button-link url="#" style="dark" text="Link"}}
{{>_button type="button" style="dark" text="Button"}}
{{>_button-input type="button" style="dark" text="Input"}}
{{>_button-input type="button" style="dark" text="Disabled" isDisabled=true}}
{{>_button type="button" style="dark" text="Full Width" isFullWidth=true}}
{{/_docs-example}}

<h3>Primary Dark Outline</h3>
{{#>_docs-example}}
{{>_button-link url="#" style="dark-outline" text="Link"}}
{{>_button type="button" style="dark-outline" text="Button"}}
{{>_button-input type="button" style="dark-outline" text="Input"}}
{{>_button-input type="button" style="dark-outline" text="Disabled" isDisabled=true}}
{{>_button type="button" style="dark-outline" text="Full Width" isFullWidth=true}}
{{/_docs-example}}

<h3>Primary Light</h3>
{{#> _docs-example dark="true"}}
{{>_button-link url="#" style="light" text="Link"}}
{{>_button type="button" style="light" text="Button"}}
{{>_button-input type="button" style="light" text="Input"}}
{{>_button-input type="button" style="light" text="Disabled" isDisabled=true}}
{{>_button type="button" style="light" text="Full Width" isFullWidth=true}}
{{/_docs-example}}

<h3>Primary Light Outline</h3>
{{#> _docs-example dark="true"}}
{{>_button-link url="#" style="light-outline" text="Link"}}
{{>_button type="button" style="light-outline" text="Button"}}
{{>_button-input type="button" style="light-outline" text="Input"}}
{{>_button-input type="button" style="light-outline" text="Disabled" isDisabled=true}}
{{>_button type="button" style="light-outline" text="Full Width" isFullWidth=true}}
{{/_docs-example}}

<h3>White</h3>
{{#> _docs-example dark="true"}}
{{>_button-link url="#" style="white" text="Link"}}
{{>_button type="button" style="white" text="Button"}}
{{>_button-input type="button" style="white" text="Input"}}
{{>_button-input type="button" style="white" text="Disabled" isDisabled=true}}
{{>_button type="button" style="white" text="Full Width" isFullWidth=true}}
{{/_docs-example}}

<h3>Danger</h3>
{{#>_docs-example}}
{{>_button-link url="#" style="danger" text="Link"}}
{{>_button type="button" style="danger" text="Button"}}
{{>_button-input type="button" style="danger" text="Input"}}
{{>_button-input type="button" style="danger" text="Disabled" isDisabled=true}}
{{>_button type="button" style="danger" text="Full Width" isFullWidth=true}}
{{/_docs-example}}