---
title: Buttons
width: wide
guidance: https://digitalnsw.github.io/nsw-design-system-docs/components/button/index.html
---

<h3>Primary</h3>
{{#>_docs-example}}
{{>_button-link url="#" style="primary" text="Link"}}
{{>_button type="button" style="primary" text="Button"}}
{{>_button type="submit" style="primary" text="Submit Button"}}
{{>_button type="reset" style="primary" text="Reset Button"}}
{{>_button-input type="button" style="primary" text="Input"}}
{{>_button-input type="submit" style="primary" text="Input Submit"}}
{{>_button-input type="reset" style="primary" text="Input Reset"}}
{{/_docs-example}}

<h3>Secondary</h3>
{{#>_docs-example}}
{{>_button-link url="#" style="secondary" text="Link"}}
{{>_button type="button" style="secondary" text="Button"}}
{{>_button type="submit" style="secondary" text="Submit Button"}}
{{>_button type="reset" style="secondary" text="Reset Button"}}
{{>_button-input type="button" style="secondary" text="Input"}}
{{>_button-input type="submit" style="secondary" text="Input Submit"}}
{{>_button-input type="reset" style="secondary" text="Input Reset"}}
{{/_docs-example}}

<h3>Danger</h3>
{{#>_docs-example}}
{{>_button-link url="#" style="danger" text="Link"}}
{{>_button type="button" style="danger" text="Button"}}
{{>_button type="submit" style="danger" text="Submit Button"}}
{{>_button type="reset" style="danger" text="Reset Button"}}
{{>_button-input type="button" style="danger" text="Input"}}
{{>_button-input type="submit" style="danger" text="Input Submit"}}
{{>_button-input type="reset" style="danger" text="Input Reset"}}
{{/_docs-example}}

<h3>White</h3>
{{#> _docs-example dark="true"}}
{{>_button-link url="#" style="white" text="Link"}}
{{>_button type="button" style="white" text="Button"}}
{{>_button type="submit" style="white" text="Submit Button"}}
{{>_button type="reset" style="white" text="Reset Button"}}
{{>_button-input type="button" style="white" text="Input"}}
{{>_button-input type="submit" style="white" text="Input Submit"}}
{{>_button-input type="reset" style="white" text="Input Reset"}}
{{/_docs-example}}

<h3>Disabled</h3>
<p class="nsw-docs__note"><strong>Note:</strong> It is not possible to disable links, therefore attribute "disabled" should only be applied to buttons and inputs.</p>
{{#>_docs-example}}
{{>_button type="button" style="primary" text="Button" isDisabled=true}}
{{>_button type="submit" style="primary" text="Submit Button" isDisabled=true}}
{{>_button type="reset" style="primary" text="Reset Button" isDisabled=true}}
{{>_button-input type="button" style="primary" text="Input" isDisabled=true}}
{{>_button-input type="submit" style="primary" text="Input Submit" isDisabled=true}}
{{>_button-input type="reset" style="primary" text="Input Reset" isDisabled=true}}
{{/_docs-example}}

<h3>Full width</h3>
<p class="nsw-docs__note"><strong>Note:</strong> Full width buttons will stretch to 100% on mobile but will revert back to usual behaviour on desktop.</p>
{{#>_docs-example}}
{{>_button-link url="#" style="primary" text="Link" isFullWidth=true}}
{{>_button type="button" style="primary" text="Button" isFullWidth=true}}
{{>_button type="submit" style="primary" text="Submit Button" isFullWidth=true}}
{{>_button type="reset" style="primary" text="Reset Button" isFullWidth=true}}
{{>_button-input type="button" style="primary" text="Input" isFullWidth=true}}
{{>_button-input type="submit" style="primary" text="Input Submit" isFullWidth=true}}
{{>_button-input type="reset" style="primary" text="Input Reset" isFullWidth=true}}
{{/_docs-example}}