.nsw-acknowledgements-list {
  @include font-size('xs');
  margin-top: rem(24px);

  &__header {
    padding-bottom: rem(8px);
    border-bottom: solid 2px var(--nsw-brand-dark);
  }

  &__container &__logos {
    margin-top: rem(24px);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__container {
    @include font-size('xs');

    @include breakpoint($nsw-desktop-breakpoint) {
      margin-top: rem(40px);
      gap: 40px;
    }
  }

  &__item {
    max-height: rem(48px);
    width: 100%;
  }

  &__gov-departments {
    display: flex;
    flex-direction: row;
    gap: 40px;
    
    &__items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
    }

    &__text {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }
  }



  &__waratah {
    padding: rem(12px) rem(48px);
    display: flex;

    @include breakpoint($nsw-desktop-breakpoint) {
      padding: 0;
    }

    svg {
      height: rem(48px);
      display: block;

      @include breakpoint($nsw-desktop-breakpoint) {
        height: rem(76px);
      }
    }
  }

  .nsw-section--invert & {    
    &__header {
      border-color: var(--nsw-white);
    }
  }
}

