---
title: Acknowledgements list
width: wide
tabs: true
directory: acknowledgements-list
intro: Acknowledgements list highlights NSW Government and external organisations that have provided support including sponsorship, partnership, or funding.
theme: true
figma: https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=21298%3A25038
meta-description: Acknowledgements list highlights NSW Government and external organisations that have provided support including sponsorship, partnership, or funding.
meta-index: true
model:
  list-1: ../../components/acknowledgements-list/json/acknowledgements-list-1.json
  list-2: ../../components/acknowledgements-list/json/acknowledgements-list-2.json
  list-3: ../../components/acknowledgements-list/json/acknowledgements-list-3.json
---

{{#>_docs-example}}
{{>_acknowledgements-list model}}
{{/_docs-example}}

<h3>Disabled and active states</h3>
{{#>_docs-example}}
{{>_acknowledgements-list model.list-1 disabled="true" active="1"}}
{{/_docs-example}}a