<!doctype html>
<html lang="en" class="no-js">
<head><script async src="https://www.googletagmanager.com/gtag/js?id=G-49T9M12F86"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-49T9M12F86');
</script>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P2NKBBJZ');</script>
  
  <title>NSW Digital Design System - Dialog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://designsystem.nsw.gov.au/nsw-og-image.jpg">
  <meta name="robots" content="noindex" />
  <link rel="icon" href="https://designsystem.nsw.gov.au/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone" rel="stylesheet">
  <link rel="stylesheet" href="https://designsystem.nsw.gov.au/docs/css/docs.css">
  <!-- Hotjar Tracking Code for NSW Design System -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:5063548,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
</head>

<body><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2NKBBJZ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    


<section class="nsw-section">
  <div class="nsw-container nsw-p-y-sm">
    <div class="nsw-layout">
      <main class="nsw-layout__main">
        <div class="nsw-block">
          <button class="nsw-button nsw-button--dark js-open-dialog-transactional" aria-haspopup="dialog">Launch transactional dialog</button>
        </div>
        
        <div class="nsw-dialog js-dialog" id="transactional" role="dialog" aria-labelledby="transactional-title">
          <div class="nsw-dialog__wrapper">
            <div class="nsw-dialog__container">
              <div class="nsw-dialog__top">
                <div class="nsw-dialog__title">
                  <h2 id="transactional-title">Your submission was successful</h2>
                </div>
                </div>
              <div class="nsw-dialog__content">
                <p>Thank you for your submission, it has been successfully received. We aim to respond within 3 business days by your preferred contact method. You can now make another submission or view your active submission.</p>
              </div>
            </div>
            <div class="nsw-dialog__bottom">
              <button class="nsw-button nsw-button--dark js-close-dialog">Make new submission</button>
              <button class="nsw-button nsw-button--dark-outline-solid js-close-dialog">View submissions</button>
            </div>
          </div>
        </div>
        <div class="nsw-block">
          <button class="nsw-button nsw-button--dark js-open-dialog-single-cta" aria-haspopup="dialog">Launch single CTA dialog</button>
        </div>
        
        <div class="nsw-dialog nsw-dialog--single-action js-dialog js-dialog-dismiss" id="single-cta" role="dialog" aria-labelledby="single-cta-title">
          <div class="nsw-dialog__wrapper">
            <div class="nsw-dialog__container">
              <div class="nsw-dialog__top">
                <div class="nsw-dialog__title">
                  <h2 id="single-cta-title">Changing how we design services</h2>
                </div>
                <div class="nsw-dialog__close">
                  <button class="nsw-icon-button js-close-dialog">
                    <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
                    <span class="sr-only">Close</span>
                  </button>
                </div>
                </div>
              <div class="nsw-dialog__content">
                <p>A service is any activity that helps someone complete a task. With that in mind, all public servants – whether they work in digital, communications, policy or operations – are involved in designing services.</p><p>Services are groups of transactions, activities or information that work together. They might take place online or offline.</p><p>Government services often require people to go through the service in the way that government designs it, and often this design is not simple or easy to follow.</p><p>A service may need smaller products to meet user needs. If these products are delivered by different parts of government that are working in different ways it can make it harder for the user to do what they need to do.</p><p>This is why we need to design together to deliver the whole experience.</p><p>Proceeding with the service design process will help your team build services that solve a real customer need, based on evidence. </p>
              </div>
            </div>
            <div class="nsw-dialog__bottom">
              <button class="nsw-button nsw-button--dark js-close-dialog">Continue</button>
            </div>
          </div>
        </div>
        <div class="nsw-block">
          <button class="nsw-button nsw-button--dark js-open-dialog-danger" aria-haspopup="dialog">Launch danger dialog</button>
        </div>
        
        <div class="nsw-dialog js-dialog" id="danger" role="dialog" aria-labelledby="danger-title">
          <div class="nsw-dialog__wrapper">
            <div class="nsw-dialog__container">
              <div class="nsw-dialog__top">
                <div class="nsw-dialog__title">
                  <h2 id="danger-title">Delete file permanently?</h2>
                </div>
                </div>
              <div class="nsw-dialog__content">
                <p>If you delete this file, you will not be able to recover it. Do you want to delete?</p>
              </div>
            </div>
            <div class="nsw-dialog__bottom">
              <button class="nsw-button nsw-button--dark nsw-button--danger js-close-dialog">Delete</button>
              <button class="nsw-button nsw-button--dark-outline-solid js-close-dialog">Cancel</button>
            </div>
          </div>
        </div>
        <div class="nsw-block">
          <button class="nsw-button nsw-button--dark js-open-dialog-dismissible" aria-haspopup="dialog">Launch dismissible dialog</button>
        </div>
        
        <div class="nsw-dialog js-dialog js-dialog-dismiss" id="dismissible" role="dialog" aria-labelledby="dismissible-title">
          <div class="nsw-dialog__wrapper">
            <div class="nsw-dialog__container">
              <div class="nsw-dialog__top">
                <div class="nsw-dialog__title">
                  <h2 id="dismissible-title">Changes will be lost</h2>
                </div>
                <div class="nsw-dialog__close">
                  <button class="nsw-icon-button js-close-dialog">
                    <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
                    <span class="sr-only">Close</span>
                  </button>
                </div>
                </div>
              <div class="nsw-dialog__content">
                <p>This form contains unsaved changes. By exiting, all unsaved changes will be permanently lost. If you wish to save your changes, return to form and follow the prompts to save your progress. If you do not wish to keep any unsaved changes you can proceed to exit the form. </p>
              </div>
            </div>
            <div class="nsw-dialog__bottom">
              <button class="nsw-button nsw-button--dark nsw-button--danger js-close-dialog">Exit form</button>
              <button class="nsw-button nsw-button--dark-outline-solid js-close-dialog">Return to form</button>
            </div>
          </div>
        </div>
      </main>
      <div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
    </div>
  </div>
</section>

<section class="nsw-section nsw-section--brand-dark nsw-section--invert">
  <div class="nsw-container nsw-p-y-sm">
    <div class="nsw-layout">
      <main class="nsw-layout__main">
        <div class="nsw-block">
          <button class="nsw-button nsw-button--dark js-open-dialog-transactional-dark" aria-haspopup="dialog">Launch transactional dialog</button>
        </div>
        
        <div class="nsw-dialog js-dialog" id="transactional-dark" role="dialog" aria-labelledby="transactional-dark-title">
          <div class="nsw-dialog__wrapper">
            <div class="nsw-dialog__container">
              <div class="nsw-dialog__top">
                <div class="nsw-dialog__title">
                  <h2 id="transactional-dark-title">Your submission was successful</h2>
                </div>
                </div>
              <div class="nsw-dialog__content">
                <p>Thank you for your submission, it has been successfully received. We aim to respond within 3 business days by your preferred contact method. You can now make another submission or view your active submission.</p>
              </div>
            </div>
            <div class="nsw-dialog__bottom">
              <button class="nsw-button nsw-button--dark js-close-dialog">Make new submission</button>
              <button class="nsw-button nsw-button--dark-outline-solid js-close-dialog">View submissions</button>
            </div>
          </div>
        </div>
        <div class="nsw-block">
          <button class="nsw-button nsw-button--dark js-open-dialog-single-cta-dark" aria-haspopup="dialog">Launch single CTA dialog</button>
        </div>
        
        <div class="nsw-dialog nsw-dialog--single-action js-dialog js-dialog-dismiss" id="single-cta-dark" role="dialog" aria-labelledby="single-cta-dark-title">
          <div class="nsw-dialog__wrapper">
            <div class="nsw-dialog__container">
              <div class="nsw-dialog__top">
                <div class="nsw-dialog__title">
                  <h2 id="single-cta-dark-title">Changing how we design services</h2>
                </div>
                <div class="nsw-dialog__close">
                  <button class="nsw-icon-button js-close-dialog">
                    <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
                    <span class="sr-only">Close</span>
                  </button>
                </div>
                </div>
              <div class="nsw-dialog__content">
                <p>A service is any activity that helps someone complete a task. With that in mind, all public servants – whether they work in digital, communications, policy or operations – are involved in designing services.</p><p>Services are groups of transactions, activities or information that work together. They might take place online or offline.</p><p>Government services often require people to go through the service in the way that government designs it, and often this design is not simple or easy to follow.</p><p>A service may need smaller products to meet user needs. If these products are delivered by different parts of government that are working in different ways it can make it harder for the user to do what they need to do.</p><p>This is why we need to design together to deliver the whole experience.</p><p>Proceeding with the service design process will help your team build services that solve a real customer need, based on evidence. </p>
              </div>
            </div>
            <div class="nsw-dialog__bottom">
              <button class="nsw-button nsw-button--dark js-close-dialog">Continue</button>
            </div>
          </div>
        </div>
        <div class="nsw-block">
          <button class="nsw-button nsw-button--dark js-open-dialog-danger-dark" aria-haspopup="dialog">Launch danger dialog</button>
        </div>
        
        <div class="nsw-dialog js-dialog" id="danger-dark" role="dialog" aria-labelledby="danger-dark-title">
          <div class="nsw-dialog__wrapper">
            <div class="nsw-dialog__container">
              <div class="nsw-dialog__top">
                <div class="nsw-dialog__title">
                  <h2 id="danger-dark-title">Delete file permanently?</h2>
                </div>
                </div>
              <div class="nsw-dialog__content">
                <p>If you delete this file, you will not be able to recover it. Do you want to delete?</p>
              </div>
            </div>
            <div class="nsw-dialog__bottom">
              <button class="nsw-button nsw-button--dark nsw-button--danger js-close-dialog">Delete</button>
              <button class="nsw-button nsw-button--dark-outline-solid js-close-dialog">Cancel</button>
            </div>
          </div>
        </div>
        <div class="nsw-block">
          <button class="nsw-button nsw-button--dark js-open-dialog-dismissible-dark" aria-haspopup="dialog">Launch dismissible dialog</button>
        </div>
        
        <div class="nsw-dialog js-dialog js-dialog-dismiss" id="dismissible-dark" role="dialog" aria-labelledby="dismissible-dark-title">
          <div class="nsw-dialog__wrapper">
            <div class="nsw-dialog__container">
              <div class="nsw-dialog__top">
                <div class="nsw-dialog__title">
                  <h2 id="dismissible-dark-title">Changes will be lost</h2>
                </div>
                <div class="nsw-dialog__close">
                  <button class="nsw-icon-button js-close-dialog">
                    <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
                    <span class="sr-only">Close</span>
                  </button>
                </div>
                </div>
              <div class="nsw-dialog__content">
                <p>This form contains unsaved changes. By exiting, all unsaved changes will be permanently lost. If you wish to save your changes, return to form and follow the prompts to save your progress. If you do not wish to keep any unsaved changes you can proceed to exit the form. </p>
              </div>
            </div>
            <div class="nsw-dialog__bottom">
              <button class="nsw-button nsw-button--dark nsw-button--danger js-close-dialog">Exit form</button>
              <button class="nsw-button nsw-button--dark-outline-solid js-close-dialog">Return to form</button>
            </div>
          </div>
        </div>
      </main>
      <div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
    </div>
  </div>
</section>
  <script src="https://designsystem.nsw.gov.au/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
