---
title: Example pages
home: true
---

<h1>Templates</h1>
<p class="nsw-m-top-sm">Here are some sample templates using the design system
  components and style to help you build pages.</p>
<div class="nsw-grid">
  {{#each collections.templatesnav}}
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-6">
      <div class="nsw-card nsw-card--content">
        <div class="nsw-card__content">
          <h2 class="nsw-card__title">
            <a href="/{{change-extention path}}" target="_blank"
               class="nsw-card__link">{{title}}</a>
          </h2>
          <i class="material-icons nsw-material-icons nsw-card__icon"
             focusable="false" aria-hidden="true">east</i>
        </div>
      </div>
    </div>
  {{/each}}
</div>
