---
title: Example pages
home: true
---

<h1>Templates</h1>
<p class="nsw-m-top-sm">Here are some sample templates using the design system components and style to help you build pages.</p>

<h2>Homepage</h2>
<div class="nsw-grid">
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    <div class="nsw-card nsw-card--headline">
      <div class="nsw-card__content">
        <div class="nsw-card__title">
          <a target="_blank" href="templates/homepage/hero-banner.html">Hero banner</a>
        </div>
        <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    <div class="nsw-card nsw-card--headline">
      <div class="nsw-card__content">
        <div class="nsw-card__title">
          <a target="_blank" href="templates/homepage/featured-list.html">Featured list</a>
        </div>
        <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    <div class="nsw-card nsw-card--headline">
      <div class="nsw-card__content">
        <div class="nsw-card__title">
          <a target="_blank" href="templates/homepage/hero-search.html">Hero search</a>
        </div>
        <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
</div>

<h2>Content</h2>
<div class="nsw-grid">
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    <div class="nsw-card nsw-card--headline">
      <div class="nsw-card__content">
        <div class="nsw-card__title">
          <a target="_blank" href="templates/content/side-nav.html">Side navigation</a>
        </div>
        <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    <div class="nsw-card nsw-card--headline">
      <div class="nsw-card__content">
        <div class="nsw-card__title">
          <a target="_blank" href="templates/content/article.html">Article</a>
        </div>
        <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    <div class="nsw-card nsw-card--headline">
      <div class="nsw-card__content">
        <div class="nsw-card__title">
          <a target="_blank" href="templates/content/filters.html">Filters</a>
        </div>
        <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    <div class="nsw-card nsw-card--headline">
      <div class="nsw-card__content">
        <div class="nsw-card__title">
          <a target="_blank" href="templates/content/form.html">Form</a>
        </div>
        <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
</div>

<h2>Search</h2>
<div class="nsw-grid">
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    <div class="nsw-card nsw-card--headline">
      <div class="nsw-card__content">
        <div class="nsw-card__title">
          <a target="_blank" href="templates/search/simple.html">Simple</a>
        </div>
        <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    <div class="nsw-card nsw-card--headline">
      <div class="nsw-card__content">
        <div class="nsw-card__title">
          <a target="_blank" href="templates/search/filters.html">Filters</a>
        </div>
        <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    <div class="nsw-card nsw-card--headline">
      <div class="nsw-card__content">
        <div class="nsw-card__title">
          <a target="_blank" href="templates/search/no-results.html">No results</a>
        </div>
        <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
</div>

<h2>Map</h2>
<div class="nsw-grid">
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    <div class="nsw-card nsw-card--headline">
      <div class="nsw-card__content">
        <div class="nsw-card__title">
          <a target="_blank" href="templates/map/location-filters.html">Location primary with sub filters</a>
        </div>
        <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    <div class="nsw-card nsw-card--headline">
      <div class="nsw-card__content">
        <div class="nsw-card__title">
          <a target="_blank" href="templates/map/equal-filters.html">Equal value filters</a>
        </div>
        <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    <div class="nsw-card nsw-card--headline">
      <div class="nsw-card__content">
        <div class="nsw-card__title">
          <a target="_blank" href="templates/map/location-only.html">Location based only</a>
        </div>
        <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
</div>