<h3>Inactive</h3>

<h4>Text Fields</h4>
{{#>_docs-example separated=true}}
<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_text-input
      id="form-text-3"
      label="Name"
      helper-text="As it appears on your identity document"
      inactive="true"
    }}
  </div>
  <div class="nsw-form__group">
    {{>_textarea
      id="form-textarea-3"
      label="Comment"
      helper-text="Maximum 500 characters"
      inactive="true"
    }}
  </div>
</div>
{{/_docs-example}}

<h4>Date</h4>
{{#>_docs-example separated=true}}
<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_date
      id="form-date-3"
      label="Date of birth"
      helper-text="For example 08 12 1990"
      inactive="true"
    }}
  </div>
</div>
{{/_docs-example}}

<h4>Select</h4>
{{#>_docs-example separated=true}}
<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_select model.select
      id="form-select-3"
      helper-text="Your region of residence"
      inactive="true"
    }}
  </div>
</div>
{{/_docs-example}}

<h4>Checkboxes</h4>
{{#>_docs-example separated=true}}
<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_checkbox
      id="form-checkbox-3"
      name="form-checkbox-3"
      label="I agree to terms and conditions"
      inactive="true"
    }}
  </div>
  <div class="nsw-form__group">
    <fieldset class="nsw-form__fieldset">
      <legend>
        <span class="nsw-form__legend">Category</span>
        <span class="nsw-form__helper">Select all that applies to you</span>
      </legend>
      {{>_checkbox
        id="form-checkbox-multi-3-a"
        name="form-checkbox-multi-3"
        label="Customer Service"
        inactive="true" 
      }}
      {{>_checkbox
        id="form-checkbox-multi-3-b"
        name="form-checkbox-multi-3"
        label="Communities and Justice"
        inactive="true"
      }}
    </fieldset>
  </div>
</div>
{{/_docs-example}}

<h4>Radio buttons</h4>
{{#>_docs-example separated=true}}
<div class="nsw-form">
  <div class="nsw-form__group">
    <fieldset class="nsw-form__fieldset">
      <legend>
        <span class="nsw-form__legend">Topic</span>
        <span class="nsw-form__helper">Select closest match</span>
      </legend>
      {{>_radio
        id="form-radio-3-a"
        name="form-radio-3"
        label="NSW Government"
        inactive="true"
      }}
      {{>_radio
        id="form-radio-3-b"
        name="form-radio-3"
        label="Business and Economy"
        inactive="true"
      }}
    </fieldset>
  </div>
</div>
{{/_docs-example}}