<h3>Helper text</h3>

<h4>Text Fields</h4>
{{#>_docs-example separated=true}}
<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_text-input
      id="form-text-2"
      label="Name"
      helper-text="As it appears on your identity document"
    }}
  </div>
  <div class="nsw-form__group">
    {{>_textarea
      id="form-textarea-2"
      label="Comment"
      helper-text="Maximum 500 characters"
    }}
  </div>
</div>
{{/_docs-example}}

<h4>Date</h4>
{{#>_docs-example separated=true}}
<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_date
      id="form-date-2"
      label="Date of birth"
      helper-text="For example 08 12 1990"
    }}
  </div>
</div>
{{/_docs-example}}

<h4>Select</h4>
{{#>_docs-example separated=true}}
<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_select model.select
      id="form-select-2"
      label="Region"
      helper-text="Your region of residence"
    }}
  </div>
</div>
{{/_docs-example}}

<h4>Checkboxes</h4>
{{#>_docs-example separated=true}}
<div class="nsw-form">
  <div class="nsw-form__group">
    <fieldset class="nsw-form__fieldset">
      <legend>
        <span class="nsw-form__legend">Category</span>
        <span class="nsw-form__helper">Select all that applies to you</span>
      </legend>
      {{>_checkbox
        id="form-checkbox-multi-2-a"
        name="form-checkbox-multi-2"
        label="Customer Service"
      }}
      {{>_checkbox
        id="form-checkbox-multi-2-b"
        name="form-checkbox-multi-2"
        label="Communities and Justice"
      }}
    </fieldset>
  </div>
</div>
{{/_docs-example}}

<h4>Radio buttons</h4>
{{#>_docs-example separated=true}}
<div class="nsw-form">
  <div class="nsw-form__group">
    <fieldset class="nsw-form__fieldset">
      <legend>
        <span class="nsw-form__legend">Topic</span>
        <span class="nsw-form__helper">Select closest match</span>
      </legend>
      {{>_radio
        id="form-radio-2-a"
        name="form-radio-2"
        label="NSW Government"
      }}
      {{>_radio
        id="form-radio-2-b"
        name="form-radio-2"
        label="Business and Economy"
      }}
    </fieldset>
  </div>
</div>
{{/_docs-example}}