<h3>Error</h3>

<h4>Text Fields</h4>
{{#>_docs-example}}
<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_text-input
      id="form-text-3"
      label="Name"
      required=true
      error-text="This field is required"
    }}
  </div>
  <div class="nsw-form__group">
    {{>_textarea
      id="form-textarea-3"
      label="Comment"
      required=true
      error-text="This field is required"
    }}
  </div>
</div>
{{/_docs-example}}

<h4>Date</h4>
{{#>_docs-example}}
<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_date
      id="form-date-3"
      label="Date of birth"
      required=true
      error-text="This field is required"
    }}
  </div>
</div>
{{/_docs-example}}

<h4>Dropdown</h4>
{{#>_docs-example}}
<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_select
      id="form-select-3"
      label="Region"
      option-1="Central Coast"
      option-2="North Coast"
      option-3="New England & North West"
      required=true
      error-text="This field is required"
    }}
  </div>
</div>
{{/_docs-example}}

<h4>Checkboxes</h4>
{{#>_docs-example}}
<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_checkbox
      id="form-checkbox-3"
      name="form-checkbox-3"
      label="I agree to terms and conditions"
      required=true
      error-text="This field is required"
    }}
  </div>
  <div class="nsw-form__group">
    <fieldset class="nsw-form__fieldset">
      <legend>
        <span class="nsw-form__legend nsw-form__required">Category<span class="sr-only"> (required)</span></span>
        <span class="nsw-form__helper nsw-form__helper--error"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>This field is required</span>
      </legend>
      {{>_checkbox
        id="form-checkbox-multi-3-a"
        name="form-checkbox-multi"
        label="Customer Service"
      }}
      {{>_checkbox
        id="form-checkbox-multi-3-b"
        name="form-checkbox-multi"
        label="Communities and Justice"
      }}
    </fieldset>
  </div>
</div>
{{/_docs-example}}

<h4>Radio buttons</h4>
{{#>_docs-example}}
<div class="nsw-form">
  <div class="nsw-form__group">
    <fieldset class="nsw-form__fieldset">
      <legend>
        <span class="nsw-form__legend nsw-form__required">Topic<span class="sr-only"> (required)</span></span>
        <span class="nsw-form__helper nsw-form__helper--error"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>This field is required</span>
      </legend>
      {{>_radio
        id="form-radio-3-a"
        name="form-radio"
        label="NSW Government"
      }}
      {{>_radio
        id="form-radio-3-b"
        name="form-radio"
        label="Business and Economy"
      }}
    </fieldset>
  </div>
</div>
{{/_docs-example}}