---
title: Forms
layout: blank-layout.hbs
---

<h2>Using forms</h2>
<p>Forms comprise of the form itself and multiple form inputs. Each form is broken down into one or more fieldsets that groups the form elements into logical chunks that make sense to the user, for example, a delivery address.  </p>
<p>Form elements are split into two key input types:</p>
<p><strong>Freeform inputs</strong> - Free form text inputs are the most used components in forms. Use text fields and text areas for freeform entry. Text fields are used to input a short (single line) amount of freeform text. Text areas are used to input multiple lines of text, for example, a comments field. Use text areas when you expect longer entries.</p>
<p><strong>Selection inputs</strong> - Selection inputs are used to select an option from a predefined list of available options. Selection options may be single-select or multi-select. Use a radio button list or dropdowns for single selections and checkboxes for multi-selections.  </p>
<p>Do:</p>
<ul>
  <li>keep it one column - multiple columns easily disrupt a user’s vertical momentum</li>
  <li>use field length input constraints - employ this for fields that have a defined character count like phone numbers and postcodes</li>
  <li>mark required vs. optional form fields - you should always mark your form fields as “required” or “optional”. You can do this by writing “required” or “optional” in a small font next to your field, or by placing an asterisk next to your required fields</li>
  <li>use top align labels - users complete top aligned labeled forms at a much higher rate than left-aligned labels. Top aligned labels also translate well on mobile.</li>
  <li>make CTAs descriptive, state the intent of the action</li>
  <li>specify errors inline, show the user where the error occurred and provide a reason.</li>
</ul>
<p>Do not:</p>
<ul>
  <li>use all caps</li>
  <li>hide helper text</li>
</ul>

<h3>Dropdown</h3>
<p>The dropdown pattern, also referred to as a drop list or select list, allows users to select a single option from a list of available options.</p>

<h3>Single checkbox</h3>
<p>Single checkboxes are used to confirm a user's selection or preference like agreeing to terms and conditions or registering for an option.</p>

<h3>Checkbox list</h3>
<p>Checkbox lists provide the user with a list of available items to choose from. The number of items a user can select should be indicated to the user on the page. Checkbox lists are used where multiple selections are permitted. Checkbox lists are wrapped in a fieldset to make them one logical group.</p>

<h3>Radio list</h3>
<p>Radio lists provide the user with a list of all available items from which a single selection is made. Radio lists are wrapped in a fieldset to make them one logical group.</p>

<h2>How this component works</h2>
<p><strong>Help text</strong></p>
<p>Help text allows form designers to provide users with help to fill in a form element. Use help text to provide additional context, information or as an example to complete a field input.</p>
<p><strong>Validation</strong></p>
<p>Validation is used to let the user know when there is an issue with the data they have input. The validation that you input needs to clearly explain to the user what the issue is and what they need to do to address the error.</p>
<p><strong>Organising form elements</strong></p>
<ul>
  <li>Differentiate primary from secondary actions</li>
  <li>Group related information to ensure the user makes sense of the form faster</li>
  <li>Enable autofill and autocorrect based on common attributes or responses, such as name and email, previously provided on the site or in the browser</li>
  <li>Use multi-step forms in situations where there are multiple form fields, several of which could be split up into categories (such as “personal”, “shipping”, “billing”, and “payment review”).</li>
</ul>

<h2>Accessibility</h2>
<p>All components are responsive and designed to comply with WCAG 2.2 AA accessibility standards, except where compliance is achieved through correct usage and configuration.</p>

<h3>Ensuring compliance through usage</h3>

<h4>Redundant entry</h4>

<p>To ensure WCAG 2.2 AA compliance for a full array of filter components, correct usage and configuration are vital. While each component provides a foundation for accessibility, it's essential to minimise redundant entry by retaining previously selected or entered filter values if a user revisits the page or refines their search. Ensure all filter options are clearly labelled and provide instructions where needed, so users understand the available choices and input formats. Additionally, allow users to modify their filter selections easily without resetting other filters.</p>

<h4>Consistent help</h4>

<p>Ensure each input, whether it's a text field, checkbox, radio button, dropdown, or date input, is clearly labelled with descriptive text to communicate its purpose. Consistent error messaging and validation feedback are crucial; provide users with clear, actionable instructions if errors occur, without requiring them to re-enter data unnecessarily. Keyboard navigation should be maintained across all inputs, with each respective field focus indicator allowing users to move easily between fields clearly.</p>

<p>Following these practices will help create accessible, user-friendly forms that offer a seamless experience across various input types.</p>