---
title: Forms
width: narrow
tabs: true
directory: form
core: true
intro: Forms are used to capture data from users.
theme: true
model:
  select: ../../components/select/json/select-region.json
figma: https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=21298%3A21918
react: https://digitalnsw.github.io/nsw-design-system-react/?path=/docs/transaction-checkboxes--group
meta-description: Forms are used to capture data from users.
meta-index: true
---

<div class="nsw-tabs js-tabs">

  <ul class="nsw-tabs__list">
    <li><a href="#default" class="js-tabs-fixed">Default</a></li>
    <li><a href="#error" class="js-tabs-fixed">Error</a></li>
    <li><a href="#success" class="js-tabs-fixed">Success</a></li>
  </ul>

  <section id="default" class="nsw-tabs__content nsw-tabs__content--side-flush">
{{>_form-default}}
  </section>

    <section id="error" class="nsw-tabs__content nsw-tabs__content--side-flush">
{{>_form-error}}
  </section>

  <section id="success" class="nsw-tabs__content nsw-tabs__content--side-flush">
{{>_form-success}}
  </section>

</div>