---
title: Link list
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Use list links to present users with a list of suitable next best actions or content. Link lists can surface related content or options for a user to also explore based on the current context. </p>
<p>Do:</p>
<ul>
	<li>keep links short and intuitive for users to scan</li>
	<li>use the <a target="_blank" href="https://www.digital.nsw.gov.au/digital-service-toolkit/guides/content-101">writing guide</a> to ensure you keep the tone active.</li>
</ul>

<h3>When to avoid</h3>
<p>Do not use:</p>
<ul>
	<li>for pages that aren't related as this is likely to confuse users</li>
	<li>in a transactional service or a form</li>
	<li>to link to content on the same page, consider in-page navigation</li>
</ul>


<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>
