---
title: Link list
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Use link lists to display a list of navigation items to provide a quick way for users to navigate to a content area.</p>
<p>Do:</p>
<ul>
	<li>keep links short and intuitive. Links that are too long (more than 1 line) make it difficult for users to scan.</li>
	<li>use the <a href="https://www.digital.nsw.gov.au/digital-service-toolkit/guides/content-101">writing guide</a> to ensure you keep the tone active.</li>
</ul>

<h2>When to avoid</h2>
<p>Do not use:</p>
<ul>
	<li>for pages that aren't related as this is likely to confuse users</li>
	<li>in a transactional service or a form</li>
	<li>as an on-page navigation pattern.</li>
</ul>

<h2>How this component works</h2>
<p>Navigation items are separated from each other by a fine line, grouping related links, but keeping the individual links separate.</p>
<p>Forward arrows are used to help suggest that each of the list items is a link.</p>
<p>The entire row is clickable.</p>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>
