.nsw-link-list {
  @include font-stack('heading');
  @include component-spacing();

  &__title {
    @include font-size('lg');
    @include nsw-spacing(padding-bottom, md);
    
    @include breakpoint('md') {
      @include nsw-spacing(padding-bottom, lg);
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    border-top: 1px solid $light20;

    &:last-child {
      border-bottom: 1px solid $light20;
    }

    a {
      @include nsw-spacing(padding, md);
      color: $nsw-primary-blue;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        @include nsw-hover;
      }

      &:focus {
        @include nsw-focus;
      }

      span {
        text-decoration: underline;
      }
    }

    a:not([class]) {
      text-decoration: none;

      &:visited {
        color: $nsw-primary-blue;
      }

      &:active {
        background-color: $hover-colour;
        color: $nsw-primary-blue;
      }
    }

    .nsw-link-list__link {
      text-decoration: underline;
    }
  }

  &__icon {
    @include nsw-spacing(margin-left, md);
    flex: none;
    font-size: rem(20px);
    position: relative;
    right: -2px;

    &.nsw-icon {
      width: rem(16px);
      height: rem(16px);
      position: static;
    }
  }
}
