<div class="nsw-link-list">
  {{#if title}}
  <div class="nsw-link-list__title">{{title}}</div>
  {{/if}}
  <ul>
    {{#each list}}
    <li>
      <a href="#">
        <span>{{this}}</span>
        <span class="material-symbols-outlined nsw-material-symbols-outlined" focusable="false" aria-hidden="true">east</span>
      </a>
    </li>
    {{/each}}
    {{#if ext}}
    <li>
      <a class="js-link" href="#">
        <span>
          <span>Stay safe in NSW national parks</span><span class="material-symbols-outlined nsw-material-symbols-outlined" title="(opens in new window)">open_in_new</span>
        </span>
        <span class="material-symbols-outlined nsw-material-symbols-outlined" focusable="false" aria-hidden="true">east</span>
      </a>
    </li>
    {{/if}}
  </ul>
</div>