<div class="nsw-link-list">
  {{#if title}}
  <div class="nsw-link-list__title">{{title}}</div>
  {{/if}}
  <ul class="nsw-link-list__list">
    {{#each linkList}}
    <li class="nsw-link-list__item" >
      <a href="{{url}}">
        <span>{{text}}</span>
        <i class="material-icons nsw-material-icons nsw-link-list__icon" focusable="false" aria-hidden="true">east</i>
      </a>
    </li>
    {{/each}}
  </ul>
</div>