<div class="nsw-in-page-alert{{#if type}} nsw-in-page-alert--{{type}}{{/if}}">
  {{#if icon}}<span class="material-icons nsw-material-icons nsw-in-page-alert__icon" focusable="false" aria-hidden="true">{{icon}}</span>{{/if}}
  <div class="nsw-in-page-alert__content">
    <h4>{{heading}}</h4>
    <p>{{{copy}}}</p>
  </div>
</div>
