---
title: In-page alert
width: narrow
tabs: true
directory: in-page-alert
intro: In-page alerts are used to contextually inform users of important information or status of an interaction.
figma: https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=21298%3A24935
react: https://digitalnsw.github.io/nsw-design-system-react/?path=/docs/content-in-page-alert--info
model:
  info: json/in-page-alert-info.json
  error: json/in-page-alert-error.json
  warning: json/in-page-alert-warning.json
  success: json/in-page-alert-success.json
meta-description: In-page alerts are used to contextually inform users of important information or status of an interaction.
meta-index: true
---

<h3>Information</h3>
{{#>_docs-example}}{{>_in-page-alert model.info}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_in-page-alert compact="true" type="info" icon="info" copy="<strong>Rockdale Agency will close on 9 March 2018 and re-open in April.</strong> Please visit <a href='#'>Kogarah Service Centre</a> during this closure."}}{{/_docs-example}}

<h3>Critical</h3>
{{#>_docs-example}}{{>_in-page-alert model.error}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_in-page-alert compact="true" type="error" icon="cancel" copy="<strong>It looks like there was a problem.</strong> Please contact your service desk for further assistance."}}{{/_docs-example}}

<h3>Warning</h3>
{{#>_docs-example}}{{>_in-page-alert model.warning}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_in-page-alert compact="true" type="warning" icon="error" copy="<strong>Password expiring soon.</strong> Your password is expiring in 4 days. Please change your password."}}{{/_docs-example}}

<h3>Success</h3>
{{#>_docs-example}}{{>_in-page-alert model.success}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_in-page-alert compact="true" type="success" icon="check_circle" copy="<strong>Your application has been received.</strong> We will be in contact within 5 business days."}}{{/_docs-example}}
