---
title: In-page alert
width: narrow
page: true
model:
  info: json/in-page-alert-info.json
  error: json/in-page-alert-error.json
  warning: json/in-page-alert-warning.json
  success: json/in-page-alert-success.json
---

{{#>_theme}}
{{#>_layout-container}}
{{>_in-page-alert model.info}}
{{>_in-page-alert compact="true" type="info" icon="info" copy="<strong>Rockdale Agency will close on 9 March 2018 and re-open in April.</strong> Please visit <a href='#'>Kogarah Service Centre</a> during this closure."}}
{{>_in-page-alert model.error}}
{{>_in-page-alert compact="true" type="error" icon="cancel" copy="<strong>It looks like there was a problem.</strong> Please contact your service desk for further assistance."}}
{{>_in-page-alert model.warning}}
{{>_in-page-alert compact="true" type="warning" icon="error" copy="<strong>Password expiring soon.</strong> Your password is expiring in 4 days. Please change your password."}}
{{>_in-page-alert model.success}}
{{>_in-page-alert compact="true" type="success" icon="check_circle" copy="<strong>Your application has been received.</strong> We will be in contact within 5 business days."}}
{{/_layout-container}}

{{#>_layout-container brand-dark="true" invert="true"}}
{{>_in-page-alert model.info}}
{{>_in-page-alert compact="true" type="info" icon="info" copy="<strong>Rockdale Agency will close on 9 March 2018 and re-open in April.</strong> Please visit <a href='#'>Kogarah Service Centre</a> during this closure."}}
{{>_in-page-alert model.error}}
{{>_in-page-alert compact="true" type="error" icon="cancel" copy="<strong>It looks like there was a problem.</strong> Please contact your service desk for further assistance."}}
{{>_in-page-alert model.warning}}
{{>_in-page-alert compact="true" type="warning" icon="error" copy="<strong>Password expiring soon.</strong> Your password is expiring in 4 days. Please change your password."}}
{{>_in-page-alert model.success}}
{{>_in-page-alert compact="true" type="success" icon="check_circle" copy="<strong>Your application has been received.</strong> We will be in contact within 5 business days."}}
{{/_layout-container}}
{{/_theme}}
