---
title: Tags
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Tags help classify content for your users using keywords or phrases. They can also help users search for and find related content quickly and easily.</p>
<p>Use tags to:</p>
<ul>
  <li>categorise content</li>
  <li>link to related content</li>
  <li>filter results</li>
</ul>
<p>Users often confuse tags as buttons. Conduct user testing to make sure the way you use them is not causing confusion.</p>

<h3>When to avoid</h3>
<p>Do not:</p>
<ul>
  <li>Use to initiate an action, consider buttons</li>
  <li>Use to link to page content, consider text links</li>
</ul>

<h3>How this component works</h3>
<p>Each tag links users to a listing of all the content, or filters content, with that specific keyword or phrase.</p>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>
