<div class="nsw-content nsw-container">
	<h1>Tags</h1>
    <div class="nsw-tags-list">
      <button type="button" class="nsw-tags-list__tag">Tag</button>
      <button type="button" class="nsw-tags-list__tag">LongTag</button>
      <button type="button" class="nsw-tags-list__tag">Tag</button>
      <button type="button" class="nsw-tags-list__tag">Tag</button>
      <button type="button" class="nsw-tags-list__tag">Tag</button>
      <button type="button" class="nsw-tags-list__tag selected">Tag</button>
    </div>
</div>