.nsw-tags-list {
  @include nsw-spacing(margin, lg none );

  &__tag {
    @include font-stack('body');
    @include nsw-spacing(margin, none xs xs none);
    @include nsw-spacing(padding, xs sm );
    @include font-size('sm');
    border: 2px solid $light40;
    border-radius: $border-radius;
    background-color: $white;
  }

  &__tag:hover{
    @include nsw-hover;
    }

  &__tag:focus{
    @include nsw-focus;
    }

  &__tag.selected{
    background-color: $nsw-primary-blue;
    border-color: $nsw-primary-blue;
    color: $white;
    }
}