.nsw-tag:not(.nsw-tag--checkbox),
.nsw-tag label {
  @include font-stack;
  @include font-size('xs');
  @include border-radius('tag');
  @include nsw-spacing(padding-left, md);
  @include nsw-spacing(padding-right, md);
  border: solid 1px $nsw-secondary-blue;
  padding-top: 2px;
  padding-bottom: 2px;
  color: $nsw-secondary-blue;
  text-decoration: none;
  display: inline-block;
  background-color: $white;
}

a.nsw-tag,
button.nsw-tag {
  &:hover {
    @include nsw-hover;
  }

  &:focus {
    @include nsw-focus;
  }
}

.button.nsw-tag {
  .is-selected {
    background-color: $nsw-secondary-blue;
    color: $white;
  }
}

.nsw-tag--checkbox {
  display: inline-block;

  input {
    position: absolute;
    opacity: 0;

    &:hover + label {
      @include nsw-hover;
    }

    &:focus + label {
      @include nsw-focus;
    }

    &:checked + label {
      background-color: $nsw-secondary-blue;
      color: $white;
    }
  }
}

.nsw-tags {
  display: flex;
  flex-wrap: wrap;
  margin: rem(-16px) rem(-8px) 0 0;

  .nsw-tag {
    margin: rem(16px) rem(8px) 0 0;
  }
}
