{{#if-equals type "link"}}<a href="#" class="nsw-tag">Link</a>{{/if-equals}}
{{#if-equals type "text"}}<span class="nsw-tag">Text</span>{{/if-equals}}
{{#if-equals type "checkbox"}}
<div class="nsw-tag nsw-tag--checkbox">
  <input type="checkbox" id="skljhs789js" name="tagInput">
  <label for="skljhs789js">Checkbox</label>
</div>
{{/if-equals}}
