.nsw-tag:not(.nsw-tag--checkbox),
.nsw-tag label {
  @include font-size('xs');
  @include border-radius('tag');
  @include nsw-spacing(padding-left, md);
  @include nsw-spacing(padding-right, md);  
  font-family: var(--nsw-font-family);
  border: solid 1px var(--nsw-primary-dark);
  padding-top: 2px;
  padding-bottom: 2px;
  color: var(--nsw-primary-dark);
  text-decoration: none;
  display: inline-block;
  background-color: $white;
}

a.nsw-tag,
button.nsw-tag {
  font-family: var(--nsw-font-family);

  &:hover {
    @include nsw-hover;
  }

  &:focus {
    @include nsw-focus;
  }
}

.button.nsw-tag {
  font-family: var(--nsw-font-family);

  .is-selected {
    background-color: var(--nsw-primary-dark);
    color: $white;
  }
}

.nsw-tag--checkbox {
  display: inline-block;

  input {
    position: absolute;
    opacity: 0;

    &:hover + label {
      @include nsw-hover;
    }

    &:focus + label {
      @include nsw-focus;
    }

    &:checked + label {
      background-color: var(--nsw-primary-dark);
      color: $white;
    }
  }
}

.nsw-tags {
  font-family: var(--nsw-font-family);
  display: flex;
  flex-wrap: wrap;
  margin: rem(-16px) rem(-8px) 0 0;

  .nsw-tag {
    margin: rem(16px) rem(8px) 0 0;
  }
}
