---
title: Tags
width: narrow
page: true
model:
  link: json/tags-link.json
  text: json/tags-text.json
  checkbox: json/tags-checkbox.json
---
{{#>_layout-container}}
<h3>Links</h3>
{{>_tags model.link}}

<h3>Text</h3>
{{>_tags model.text}}

<h3>Checkboxes</h3>
{{>_tags model.checkbox}}
{{/_layout-container}}
