---
title: Tags
width: narrow
guidance: https://digitalnsw.github.io/nsw-design-system-docs/components/tags/index.html
model:
  link: json/tags-link.json
  text: json/tags-text.json
  checkbox: json/tags-checkbox.json
---

<h3>Links</h3>
{{#>_docs-example}}{{>_tags model.link}}{{/_docs-example}}

<h3>Text</h3>
{{#>_docs-example}}{{>_tags model.text}}{{/_docs-example}}

<h3>Checkboxes</h3>
{{#>_docs-example}}{{>_tags model.checkbox}}{{/_docs-example}}
