---
title: Tags
model:
  link: json/tags-link.json
  text: json/tags-text.json
  checkbox: json/tags-checkbox.json
---

<div class="nsw-container">
	<h2>Links</h2>
    {{>_tags model.link}}

	<h2>Text</h2>
    {{>_tags model.text}}

	<h2>Checkboxes</h2>
    {{>_tags model.checkbox}}
</div>
