@use '../../global/scss/tools' as nsw;

.nsw-sticky-container {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: var(--nsw-layer-sticky, 1000);
  display: block;
  background: transparent;
}

.js-sticky-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: block;
  z-index: var(--nsw-layer-sticky, 1000);
}

@media print {
  .nsw-sticky-container,
  .js-sticky-container {
    position: static;
  }
}
