@use '../../global/scss/tools' as nsw;

.nsw-content-block {
  --nsw-icon-colour-dark: var(--nsw-text-dark);
  --nsw-icon-colour-accent: var(--nsw-brand-supplementary);

  &__title {
    font-weight: var(--nsw-font-bold);
    
    @include nsw.font-size('lg');
  }

  &__list {
    padding: 0;
    list-style-type: none;

    li {
      margin: 0;
      padding: nsw.rem(8px) 0 nsw.rem(8px) nsw.rem(14px);
      position: relative;

      &::before {
        content: '';
        position: absolute;
        inline-size: nsw.rem(4px);
        block-size: nsw.rem(4px);
        border-radius: 100%;
        background-color: var(--nsw-text-dark);
        inset-block-start: nsw.rem(18px);
        inset-inline-start: 0;
      
        .nsw-section--invert & {    
          background-color: var(--nsw-text-light);
        }
      }
    }
  }

  &__link {
    margin-block-start: nsw.rem(16px);
  }

  &__image {
    max-block-size: nsw.rem(200px);
    margin-block-end: nsw.rem(24px);

    img {
      inline-size: 100%;
      block-size: nsw.rem(200px);
      object-fit: cover;      
    }
  }

  &__icon {
    max-inline-size: nsw.rem(64px);
    max-block-size: nsw.rem(64px);

    svg {
      max-inline-size: nsw.rem(64px);
      max-block-size: nsw.rem(64px);

      .nsw-section--invert & {
        --nsw-icon-colour-dark: var(--nsw-text-light);
      }
    }
  }
}
