---
title: Content blocks
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Use content blocks where a user needs to be presented with multiple pieces of information or actions to deep dive into content.</p>
<p>Do:</p>
<ul>
  <li>consider and choose text and visual elements carefully. Test content blocks with the minimal content and only add additional content or graphics where they give needed context to the user</li>
  <li>use when content requires in-line or multiple links</li>
  <li>use headlines and links that set clear expectations about the content being linked to</li>
  <li>outline the main idea with the minimal possible information, don't overload with information where you link the user to more detail</li>
</ul>

<h3>Content block types</h3>
<p>Content bocks are styled according to their purpose:</p>
<ul>
  <li><strong>Text block</strong> - Use to present multiple pieces of information or actions to users.</li>
  <li><strong>Icon block</strong> - Simple and recognisable icons can be added to help users scan and easily identify information quickly.</li>
  <li><strong>Image block</strong> - Images can be added to re-enforce the content and and provide more context to the user.</li>
</ul>

<h3>When to avoid</h3>
<p>Content blocks should only display enough information to give a user context.</p>
<p>Do not:</p>
<ul>
  <li>use to group related content, consider cards</li>
  <li>use when content only has one call to action, consider cards</li>
  <li>use when a large amount of text is needed to give users context </li>
</ul>

<h2>How this component works</h2>
<p><strong>User interaction</strong></p>
<p>Content blocks use the text link style to indicate clickable elements.</p>
<p><strong>Keep content concise</strong></p>
<p>Content blocks allow users to scan content in order to find their required information quickly, therefore it is important to make the content concise. Ensure the headlines are brief and explicit, and the link clearly indicate the content they link to.</p>
<p><strong>Content elements</strong></p>
<p>Test your blocks with the minimal content and only add additional content where they give needed context to the user. Content types in content blocks include:</p>
<ul>
  <li>Headline - Provides snapshot of the content.</li>
  <li>Copy - Provides brief summary of the content.</li>
  <li>Link list - Highlights important or priority content within section for user to deep dive.</li>
  <li>Section link - Links user to view all options within section.</li>
</ul>
<p><strong>Icons and images</strong></p>
<p>Using icons and images in content blocks allow for different content to stand out on a page and provide additional context. It helps users visualise different pieces of information and quickly distinguish between content to find information easily.</p>
<p>Choose your visual components carefully:</p>
<ul>
  <li>only use icons or images where the graphic supports and re-enforces the content to the user</li>
  <li>only use pictograms or images when they can clearly show the difference in topics and can be easily identified</li>
  <li>do not use for decorative purposes only</li>
</ul>

<h2>Accessibility</h2>
<p>All components are responsive and designed to comply with WCAG 2.2 AA accessibility standards. Full compliance depends on using and configuring the components correctly.</p>
