---
title: Content blocks
model:
  content-block-text-1: ../../components/content-block/json/content-block-text-1.json
  content-block-text-2: ../../components/content-block/json/content-block-text-2.json
  content-block-text-3: ../../components/content-block/json/content-block-text-3.json
  content-block-icon-1: ../../components/content-block/json/content-block-icon-1.json
  content-block-icon-2: ../../components/content-block/json/content-block-icon-2.json
  content-block-icon-3: ../../components/content-block/json/content-block-icon-3.json
  content-block-image-1: ../../components/content-block/json/content-block-image-1.json
  content-block-image-2: ../../components/content-block/json/content-block-image-2.json
  content-block-image-3: ../../components/content-block/json/content-block-image-3.json
  content-block-1: ../../components/content-block/json/content-block-1.json
  content-block-2: ../../components/content-block/json/content-block-2.json
  content-block-3: ../../components/content-block/json/content-block-3.json
  content-block-4: ../../components/content-block/json/content-block-4.json
  content-block-5: ../../components/content-block/json/content-block-5.json
  content-block-6: ../../components/content-block/json/content-block-6.json
---

<main>
  <div class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <h2 class="nsw-section-title">Text block</h2>
          <div class="nsw-grid nsw-grid--spaced">
            <div class="nsw-col nsw-col-md-4">
              {{>_content-block model.content-block-text-1}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_content-block model.content-block-text-2}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_content-block model.content-block-text-3}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nsw-section--light-10">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <h2 class="nsw-section-title">Icon block</h2>
          <div class="nsw-grid nsw-grid--spaced">
            <div class="nsw-col nsw-col-md-4">
              {{>_content-block model.content-block-icon-1}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_content-block model.content-block-icon-2}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_content-block model.content-block-icon-3}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <h2 class="nsw-section-title">Image block</h2>
          <div class="nsw-grid nsw-grid--spaced">
            <div class="nsw-col nsw-col-md-4">
              {{>_content-block model.content-block-image-1}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_content-block model.content-block-image-2}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_content-block model.content-block-image-3}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nsw-section--light-10">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <h2 class="nsw-section-title">Text block [without list]</h2>
          <div class="nsw-grid nsw-grid--spaced">
            <div class="nsw-col nsw-col-md-6">
              {{>_content-block model.content-block-1}}
            </div>
            <div class="nsw-col nsw-col-md-6">
              {{>_content-block model.content-block-2}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <h2 class="nsw-section-title">Text block [without link]</h2>
          <div class="nsw-grid nsw-grid--spaced">
            <div class="nsw-col nsw-col-md-3">
              {{>_content-block model.content-block-3}}
            </div>
            <div class="nsw-col nsw-col-md-3">
              {{>_content-block model.content-block-4}}
            </div>
            <div class="nsw-col nsw-col-md-3">
              {{>_content-block model.content-block-5}}
            </div>
            <div class="nsw-col nsw-col-md-3">
              {{>_content-block model.content-block-6}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
