<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Social bar</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="../../favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-light.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/xml.min.js"></script>
</head>

<body class="nsw-body-content nsw-docs">
  <div class="nsw-docs__wrapper">
    <div class="nsw-docs__nav">
      <nav class="nsw-docs-nav">
        <div class="nsw-docs-nav__wrapper">
          <div class="nsw-docs-nav__title nsw-docs-nav__title--main">
            <a class="nsw-docs-nav__title-link" href="/">NSW Digital Design System</a>
          </div>
      
          <div class="nsw-docs-nav__title">
            <button>
              <span>Design</span>
              <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
            </button>
          </div>
          <ul class="nsw-docs-nav__list">
              <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/docs/content/design/getting-started.html">Getting Started</a></li>
              <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/docs/content/design/figma-ui-kit.html">Figma UI Kit</a></li>
              <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/docs/content/design/extending.html">Extending</a></li>
              <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/docs/content/design/theming.html">Theming</a></li>
          </ul>
          <div class="nsw-docs-nav__title">
            <button>
              <span>Develop</span>
              <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
            </button>
          </div>
          <ul class="nsw-docs-nav__list">
              <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/docs/content/develop/getting-started.html">Getting Started</a></li>
              <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/docs/content/develop/theming.html">Theming</a></li>
              <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/docs/content/develop/migration.html">Migration</a></li>
              <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/docs/content/develop/helpers.html">Utility Classes</a></li>
          </ul>
          <div class="nsw-docs-nav__title">
            <button>
              <span>Core styles</span>
              <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
            </button>
          </div>
          <ul class="nsw-docs-nav__list">
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/styles/colour/index.html">Colour</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/styles/typography/index.html">Typography</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/styles/iconography/index.html">Iconography</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/styles/grid/index.html">Grid</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/styles/layout/index.html">Layout</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/styles/section/index.html">Section</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/styles/spacing/index.html">Spacing</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/styles/graphic-elements/index.html">Graphic elements</a></li>
          </ul>
      
          <div class="nsw-docs-nav__title">
            <button>
              <span>Components</span>
              <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
            </button>
          </div>
          <ul class="nsw-docs-nav__list">
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/accordion/index.html">Accordion</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/breadcrumbs/index.html">Breadcrumbs</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/button/index.html">Buttons</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/callout/index.html">Callout</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/card/index.html">Cards</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/content-block/index.html">Content blocks</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/filters/index.html">Filters</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/footer/index.html">Footer</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/forms/index.html">Forms</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/site-wide-message/index.html">Global alert</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/header/index.html">Header</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/banner/index.html">Hero banner</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/hero-search/index.html">Hero search</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/in-page-navigation/index.html">In-page navigation</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/notification/index.html">In-page notification</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/link-list/index.html">Link list</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/list-item/index.html">List items</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/main-navigation/index.html">Main navigation</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/masthead/index.html">Masthead</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/media/index.html">Media</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/pagination/index.html">Pagination</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/progress-indicator/index.html">Progress Indicator</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/results-bar/index.html">Results bar</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/side-navigation/index.html">Side navigation</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/social-bar/index.html">Social bar</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/tables/index.html">Tables</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/tab-navigation/index.html">Tabs</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/tags/index.html">Tags</a></li>
          </ul>
      
          <div class="nsw-docs-nav__title">
            <a class="class="nsw-docs-nav__link" href="/nsw-design-system/templates/index.html">
              <span>Example pages</span>
            </a>
          </div>
        </div>
      </nav>
    </div>
    <div class="nsw-docs__main nsw-docs__main--narrow">
      <div class="nsw-docs__back">
        <a href="/" class="nsw-docs__link">
          <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_left</i>
          <span>Home</span>
        </a>
      </div>
      <div class="nsw-docs__intro nsw-docs__intro--tabs">
        <div class="nsw-docs__container">
          <h1>Social bar</h1>
          <p class="nsw-intro">The social bar allows users to share something of interest via social media.</p>
          
          <p>
            <a target="_blank" href="https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id&#x3D;0%3A1678" class="nsw-icon-link"><span>
              <svg width="11" height="16" viewBox="0 0 33 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.003 48c4.416 0 8-3.584 8-8v-8h-8c-4.416 0-8 3.584-8 8s3.584 8 8 8z" fill="#0ACF83"/><path d="M.003 24c0-4.416 3.584-8 8-8h8v16h-8c-4.416 0-8-3.584-8-8z" fill="#A259FF"/><path d="M.003 8c0-4.416 3.584-8 8-8h8v16h-8c-4.416 0-8-3.584-8-8z" fill="#F24E1E"/><path d="M16.003 0h8c4.416 0 8 3.584 8 8s-3.584 8-8 8h-8V0z" fill="#FF7262"/><path d="M32.003 24c0 4.416-3.584 8-8 8s-8-3.584-8-8 3.584-8 8-8 8 3.584 8 8z" fill="#1ABCFE"/></svg>Figma
            </span></a>
          </p>
        </div>
      </div>
<div class="nsw-docs__tabs">
  <div class="nsw-tabs js-tabs nsw-docs-tabs">
    <ul class="nsw-tabs__list">
      <li class="nsw-tabs__list-item">
        <a href="#section-guidance" class="nsw-tabs__link js-tabs-fixed">Guidance</a>
      </li>
      <li class="nsw-tabs__list-item">
        <a href="#section-interactive-demo" class="nsw-tabs__link js-tabs-fixed">Demo &amp; Code</a>
      </li>
    </ul>
    <section id="section-guidance" class="nsw-tabs__content">
      <div class="nsw-docs__container">
        
<h2>Usage</h2>
<p>Use to encourage the sharing of links to pages that may be of interest to the user's social network.</p>
<p>Do:</p>
<ul>
  <li>ensure URLs are shareable and will return the user to the relevant page</li>
  <li>make sure the shareable web address is readable and reflects the content.</li>
</ul>

<h2>How this component works</h2>
<p>The social bar encourages users to share links to pages via 3 popular social mediums and email. Easily recognisable icons are used to show users how they can share the page they are currently on.</p>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>

      </div>
    </section>
    <section id="section-interactive-demo" class="nsw-tabs__content">
      <div class="nsw-docs__demo">
        <div class="nsw-docs__external-link">
          <a target="_blank" href="blank.html" class="nsw-docs__external">
            <span>View in new window</span>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">launch</i>
          </a>
        </div>

<div class="nsw-docs__example">
  <div class="nsw-docs__component">
    <section aria-label="Page tools">
      <ul class="nsw-socials">
        <li class="nsw-socials__item">
          <a class="nsw-socials__link js-share-this" href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.service.nsw.gov.au" target="_blank" rel="noopener">
            <svg class="nsw-socials__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#1578f2" d="M32 16.098C32 7.207 24.837 0 16 0S0 7.207 0 16.098C0 24.133 5.851 30.793 13.5 32V20.751H9.437v-4.653H13.5v-3.547c0-4.035 2.389-6.263 6.043-6.263 1.751 0 3.582.314 3.582.314v3.962h-2.018c-1.988 0-2.607 1.241-2.607 2.514v3.02h4.438l-.709 4.653h-3.728V32c7.649-1.208 13.5-7.867 13.5-15.902z"/></svg>
            <span class="sr-only">Facebook</span>
          </a>
        </li>
        <li class="nsw-socials__item">
          <a class="nsw-socials__link js-share-this" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.service.nsw.gov.au" target="_blank" rel="noopener">
            <svg class="nsw-socials__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#0966c2" d="M27.263 27.269h-4.739v-7.425c0-1.771-.036-4.049-2.469-4.049-2.471 0-2.848 1.927-2.848 3.919v7.556h-4.739V12.001h4.552v2.081h.061c.636-1.2 2.183-2.467 4.493-2.467 4.801 0 5.689 3.16 5.689 7.273v8.381h-.001zM7.116 9.911a2.75 2.75 0 01-2.751-2.753 2.752 2.752 0 112.751 2.753zm2.376 17.358H4.74V12h4.752v15.269zM29.633 0H2.361C1.056 0 0 1.032 0 2.305v27.389c0 1.275 1.056 2.305 2.361 2.305h27.268c1.304 0 2.371-1.031 2.371-2.305V2.305C32 1.032 30.933 0 29.629 0h.004z"/></svg>
            <span class="sr-only">LinkedIn</span>
          </a>
        </li>
        <li class="nsw-socials__item">
          <a class="nsw-socials__link js-share-this" href="https://twitter.com/intent/tweet/?url=https%3A%2F%2Fwww.service.nsw.gov.au" target="_blank" rel="noopener">
            <svg class="nsw-socials__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37 32"><path fill="#059ff5" d="M33.474 8c.049.205.073.538.073 1 0 3.692-.851 7.256-2.552 10.692-1.75 3.641-4.205 6.538-7.365 8.692-3.451 2.41-7.413 3.615-11.885 3.615-4.278 0-8.191-1.205-11.74-3.615.535.051 1.142.077 1.823.077 3.549 0 6.733-1.154 9.552-3.462-1.701 0-3.196-.526-4.484-1.577S4.721 21.05 4.235 19.46c.486.051.948.077 1.385.077.681 0 1.361-.077 2.042-.231-1.75-.41-3.208-1.359-4.375-2.846s-1.75-3.18-1.75-5.077v-.154a6.93 6.93 0 003.427 1.077c-1.021-.769-1.847-1.744-2.479-2.923s-.948-2.474-.948-3.885c0-1.41.365-2.756 1.094-4.038 1.896 2.513 4.217 4.513 6.964 6s5.675 2.308 8.786 2.462a11.838 11.838 0 01-.146-1.846c0-1.436.34-2.782 1.021-4.038s1.604-2.244 2.771-2.962a7.104 7.104 0 013.792-1.077c1.118 0 2.151.231 3.099.692s1.786 1.077 2.516 1.846c1.75-.359 3.378-1 4.885-1.923-.583 1.897-1.701 3.385-3.354 4.462 1.458-.205 2.917-.641 4.375-1.308a17.376 17.376 0 01-3.865 4.231z"/></svg>
            <span class="sr-only">Twitter</span>
          </a>
        </li>
        <li class="nsw-socials__item">
          <a class="nsw-socials__link " href="mailto:?body=https%3A%2F%2Fwww.service.nsw.gov.au" target="_self" rel="noopener">
            <svg class="nsw-socials__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 32"><path d="M36 0H4C1.8 0 .02 1.8.02 4L0 28c0 2.2 1.8 4 4 4h32c2.2 0 4-1.8 4-4V4c0-2.2-1.8-4-4-4zm0 8L20 18 4 8V4l16 10L36 4v4z"/></svg>
            <span class="sr-only">Email</span>
          </a>
        </li>
      </ul>
    </section>
  </div>
</div>
<div class="nsw-docs-code">
	<button class="nsw-docs-code__button">
		<span>Show code</span>
		<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
	</button>
	<div class="nsw-docs-code__content">
		<button class="nsw-docs-code__copy">
			<span>Copy</span>
			<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">content_copy</i>
		</button>
		<div class="nsw-docs-code__wrapper">
<pre><code class="html"><script>
	  function escapeHtml(unsafe) {
	    return unsafe
	     .replace(/&/g, "&amp;")
	     .replace(/</g, "&lt;")
	     .replace(/>/g, "&gt;")
	     .replace(/"/g, "&quot;")
	     .replace(/'/g, "&#039;");
	  }
	  document.write(escapeHtml(`<section aria-label="Page tools">
  <ul class="nsw-socials">
    <li class="nsw-socials__item">
      <a class="nsw-socials__link js-share-this" href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.service.nsw.gov.au" target="_blank" rel="noopener">
        <svg class="nsw-socials__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#1578f2" d="M32 16.098C32 7.207 24.837 0 16 0S0 7.207 0 16.098C0 24.133 5.851 30.793 13.5 32V20.751H9.437v-4.653H13.5v-3.547c0-4.035 2.389-6.263 6.043-6.263 1.751 0 3.582.314 3.582.314v3.962h-2.018c-1.988 0-2.607 1.241-2.607 2.514v3.02h4.438l-.709 4.653h-3.728V32c7.649-1.208 13.5-7.867 13.5-15.902z"/></svg>
        <span class="sr-only">Facebook</span>
      </a>
    </li>
    <li class="nsw-socials__item">
      <a class="nsw-socials__link js-share-this" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.service.nsw.gov.au" target="_blank" rel="noopener">
        <svg class="nsw-socials__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#0966c2" d="M27.263 27.269h-4.739v-7.425c0-1.771-.036-4.049-2.469-4.049-2.471 0-2.848 1.927-2.848 3.919v7.556h-4.739V12.001h4.552v2.081h.061c.636-1.2 2.183-2.467 4.493-2.467 4.801 0 5.689 3.16 5.689 7.273v8.381h-.001zM7.116 9.911a2.75 2.75 0 01-2.751-2.753 2.752 2.752 0 112.751 2.753zm2.376 17.358H4.74V12h4.752v15.269zM29.633 0H2.361C1.056 0 0 1.032 0 2.305v27.389c0 1.275 1.056 2.305 2.361 2.305h27.268c1.304 0 2.371-1.031 2.371-2.305V2.305C32 1.032 30.933 0 29.629 0h.004z"/></svg>
        <span class="sr-only">LinkedIn</span>
      </a>
    </li>
    <li class="nsw-socials__item">
      <a class="nsw-socials__link js-share-this" href="https://twitter.com/intent/tweet/?url=https%3A%2F%2Fwww.service.nsw.gov.au" target="_blank" rel="noopener">
        <svg class="nsw-socials__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37 32"><path fill="#059ff5" d="M33.474 8c.049.205.073.538.073 1 0 3.692-.851 7.256-2.552 10.692-1.75 3.641-4.205 6.538-7.365 8.692-3.451 2.41-7.413 3.615-11.885 3.615-4.278 0-8.191-1.205-11.74-3.615.535.051 1.142.077 1.823.077 3.549 0 6.733-1.154 9.552-3.462-1.701 0-3.196-.526-4.484-1.577S4.721 21.05 4.235 19.46c.486.051.948.077 1.385.077.681 0 1.361-.077 2.042-.231-1.75-.41-3.208-1.359-4.375-2.846s-1.75-3.18-1.75-5.077v-.154a6.93 6.93 0 003.427 1.077c-1.021-.769-1.847-1.744-2.479-2.923s-.948-2.474-.948-3.885c0-1.41.365-2.756 1.094-4.038 1.896 2.513 4.217 4.513 6.964 6s5.675 2.308 8.786 2.462a11.838 11.838 0 01-.146-1.846c0-1.436.34-2.782 1.021-4.038s1.604-2.244 2.771-2.962a7.104 7.104 0 013.792-1.077c1.118 0 2.151.231 3.099.692s1.786 1.077 2.516 1.846c1.75-.359 3.378-1 4.885-1.923-.583 1.897-1.701 3.385-3.354 4.462 1.458-.205 2.917-.641 4.375-1.308a17.376 17.376 0 01-3.865 4.231z"/></svg>
        <span class="sr-only">Twitter</span>
      </a>
    </li>
    <li class="nsw-socials__item">
      <a class="nsw-socials__link " href="mailto:?body=https%3A%2F%2Fwww.service.nsw.gov.au" target="_self" rel="noopener">
        <svg class="nsw-socials__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 32"><path d="M36 0H4C1.8 0 .02 1.8.02 4L0 28c0 2.2 1.8 4 4 4h32c2.2 0 4-1.8 4-4V4c0-2.2-1.8-4-4-4zm0 8L20 18 4 8V4l16 10L36 4v4z"/></svg>
        <span class="sr-only">Email</span>
      </a>
    </li>
  </ul>
</section>
`));
</script></code></pre>
		</div>
	</div>
</div>

      </div>
    </section>
  </div>
</div>
      <footer class="nsw-footer nsw-docs-footer">
        <div class="nsw-footer__lower">
          <div class="nsw-container">
            <p>We pay respect to the Traditional Custodians and First Peoples of NSW, and acknowledge their continued connection to their country and culture.</p>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
  <script src="/nsw-design-system/docs/js/docs.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
</body>
</html>
