<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Buttons</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="/nsw-design-system/">
  <link rel="icon" href="/nsw-design-system/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-TMEHXHFJXJ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TMEHXHFJXJ');
  </script>
</head>

<body>
<div class="nsw-container nsw-p-y-sm">
  <div class="nsw-layout">
    <main class="nsw-layout__main">
  		<div class="nsw-docs__section nsw-docs__section--white"> 
  		  <div class="nsw-list nsw-list--8">
  		    <a href="#" class="nsw-button nsw-button--dark">Link</a>
  		    <a href="#" class="nsw-button nsw-button--dark"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">upload</span><span>Link icon</span></a>
  		    <button type="button" class="nsw-button nsw-button--dark">Button</button>
  		    <button type="button" class="nsw-button nsw-button--dark"><span>Button link</span><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">download</span></button>
  		    <input type="button" class="nsw-button nsw-button--dark" value="Input">
  		    <input type="button" class="nsw-button nsw-button--dark" disabled value="Disabled">
  		    <button type="button" class="nsw-button nsw-button--dark nsw-button--full-width">Full Width</button>
  		  </div>
  		</div>
  		<div class="nsw-docs__section nsw-docs__section--light"> 
  		  <div class="nsw-list nsw-list--8">
  		    <a href="#" class="nsw-button nsw-button--dark-outline">Link</a>
  		    <a href="#" class="nsw-button nsw-button--dark-outline"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">upload</span><span>Link icon</span></a>
  		    <button type="button" class="nsw-button nsw-button--dark-outline">Button</button>
  		    <button type="button" class="nsw-button nsw-button--dark-outline"><span>Button link</span><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">download</span></button>
  		    <input type="button" class="nsw-button nsw-button--dark-outline" value="Input">
  		    <input type="button" class="nsw-button nsw-button--dark-outline" disabled value="Disabled">
  		    <button type="button" class="nsw-button nsw-button--dark-outline nsw-button--full-width">Full Width</button>
  		  </div>
  		</div>
  		<div class="nsw-docs__section nsw-docs__section--light"> 
  		  <div class="nsw-list nsw-list--8">
  		    <a href="#" class="nsw-button nsw-button--dark-outline-solid">Link</a>
  		    <a href="#" class="nsw-button nsw-button--dark-outline-solid"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">upload</span><span>Link icon</span></a>
  		    <button type="button" class="nsw-button nsw-button--dark-outline-solid">Button</button>
  		    <button type="button" class="nsw-button nsw-button--dark-outline-solid"><span>Button link</span><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">download</span></button>
  		    <input type="button" class="nsw-button nsw-button--dark-outline-solid" value="Input">
  		    <input type="button" class="nsw-button nsw-button--dark-outline-solid" disabled value="Disabled">
  		    <button type="button" class="nsw-button nsw-button--dark-outline-solid nsw-button--full-width">Full Width</button>
  		  </div>
  		</div>
  		<div class="nsw-docs__section nsw-docs__section--dark"> 
  		  <div class="nsw-list nsw-list--8">
  		    <a href="#" class="nsw-button nsw-button--light">Link</a>
  		    <a href="#" class="nsw-button nsw-button--light"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">upload</span><span>Link icon</span></a>
  		    <button type="button" class="nsw-button nsw-button--light">Button</button>
  		    <button type="button" class="nsw-button nsw-button--light"><span>Button link</span><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">download</span></button>
  		    <input type="button" class="nsw-button nsw-button--light" value="Input">
  		    <input type="button" class="nsw-button nsw-button--light" disabled value="Disabled">
  		    <button type="button" class="nsw-button nsw-button--light nsw-button--full-width">Full Width</button>
  		  </div>
  		</div>
  		<div class="nsw-docs__section nsw-docs__section--dark"> 
  		  <div class="nsw-list nsw-list--8">
  		    <a href="#" class="nsw-button nsw-button--light-outline">Link</a>
  		    <a href="#" class="nsw-button nsw-button--light-outline"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">upload</span><span>Link icon</span></a>
  		    <button type="button" class="nsw-button nsw-button--light-outline">Button</button>
  		    <button type="button" class="nsw-button nsw-button--light-outline"><span>Button link</span><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">download</span></button>
  		    <input type="button" class="nsw-button nsw-button--light-outline" value="Input">
  		    <input type="button" class="nsw-button nsw-button--light-outline" disabled value="Disabled">
  		    <button type="button" class="nsw-button nsw-button--light-outline nsw-button--full-width">Full Width</button>
  		  </div>
  		</div>
  		<div class="nsw-docs__section nsw-docs__section--dark"> 
  		  <div class="nsw-list nsw-list--8">
  		    <a href="#" class="nsw-button nsw-button--white">Link</a>
  		    <a href="#" class="nsw-button nsw-button--white"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">upload</span><span>Link icon</span></a>
  		    <button type="button" class="nsw-button nsw-button--white">Button</button>
  		    <button type="button" class="nsw-button nsw-button--white"><span>Button link</span><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">download</span></button>
  		    <input type="button" class="nsw-button nsw-button--white" value="Input">
  		    <input type="button" class="nsw-button nsw-button--white" disabled value="Disabled">
  		    <button type="button" class="nsw-button nsw-button--white nsw-button--full-width">Full Width</button>
  		  </div>
  		</div>
  		<div class="nsw-docs__section nsw-docs__section--white"> 
  		  <div class="nsw-list nsw-list--8">
  		    <a href="#" class="nsw-button nsw-button--danger">Link</a>
  		    <a href="#" class="nsw-button nsw-button--danger"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">upload</span><span>Link icon</span></a>
  		    <button type="button" class="nsw-button nsw-button--danger">Button</button>
  		    <button type="button" class="nsw-button nsw-button--danger"><span>Button link</span><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">download</span></button>
  		    <input type="button" class="nsw-button nsw-button--danger" value="Input">
  		    <input type="button" class="nsw-button nsw-button--danger" disabled value="Disabled">
  		    <button type="button" class="nsw-button nsw-button--danger nsw-button--full-width">Full Width</button>
  		  </div>
  		</div>
  	</main>
  	
  </div>
</div>

  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
