---
title: Tabs
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Tabs allow users to focus on specific content whilst remaining clear on the overall context of the screen. Use tabs to split long content into manageable chunks to avoid overwhelming the user.</p>
<p>Do:</p>
<ul>
  <li>use to conserve space on busy pages</li>
  <li>use to split related but discrete content within a single screen</li>
  <li>use between 2-5 tabs</li>
  <li>Use short (preferably single word), easily scannable, unique titles</li>
  <li>order the tabs by importance/relevance to the user, from left to right.</li>
</ul>
<p>Don't:</p>
<ul>
  <li>use tabs within tabs</li>
  <li>display disabled tabs.</li>
</ul>

<h2>When to avoid</h2>
<p>Do not:</p>
<ul>
  <li>use for very small (1 paragraph or equivalent) content, consider paragraphs</li>
  <li>use for very long content where the physical tabs become lost, consider breaking content into separate pages</li>
  <li>use for content where users are likely to want to compare information across multiple tabs, consider an accordion</li>
</ul>

<h2>How this component works</h2>
<p>The tab metaphor is based on filing cabinet tabs which are familiar to many users. They allow users to switch between different blocks of content and declutter the UI through progressive disclosure.</p>
<p>By default, the first tab is selected.</p>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>