---
title: Tabs
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Use tabs to organise content and allow users to move between related content sections or views at the same level of hierarchy. They allow users to focus on specific content whilst remaining clear on the overall context of the screen. </p>
<p>Do:</p>
<ul>
  <li>ensure each tab contains content that is distinct from the others</li>
  <li>use short (preferably single word), easily scannable, unique titles</li>
  <li>order the tabs by importance/relevance to the user, from left to right</li>
</ul>
<p>Don't:</p>
<ul>
  <li>use tabs within tabs</li>
  <li>display disabled tabs.</li>
</ul>

<h3>When to avoid</h3>
<p>Do not:</p>
<ul>
  <li>use where important information can be hidden and missed</li>
  <li>use with very short content, consider using lists or paragraphs</li>
  <li>use for very long content where the physical tabs become lost, consider breaking content into separate pages</li>
  <li>use for content where users are likely to want to compare information across multiple tabs</li>
</ul>

<h2>Accessibility</h2>
<p>All components are responsive and designed to comply with WCAG 2.2 AA accessibility standards. Full compliance depends on using and configuring the components correctly.</p>
