

$white: #ffffff !default;
$grey-50: #f2f2f2 !default;
$grey-100: #ebebeb !default;
$grey-200: #dcdfe1 !default;
$grey-300: #cdd3d6 !default;
$grey-400: #acb3b7 !default;
$grey-500: #8b9296 !default;
$grey-600: #6a7175 !default;
$grey-700: #495054 !default;
$grey-800: #363c40 !default;
$grey-900: #22272b !default;
$grey-950: #151a1e !default;
$black: #000000 !default;

$grey-a: #2d2d2d !default;
$grey-b: #555555 !default;
$grey-c: #ccc6c2 !default;
$grey-d: #e5e3e0 !default;

$green-a: #215834 !default;
$green-b: #78a146 !default;
$green-c: #b5cda4 !default;
$green-d: #dae6d1 !default;

$blue-a: #162953 !default;
$blue-b: #0d6791 !default;
$blue-c: #84c5d1 !default;
$blue-d: #c1e2e8 !default;

$purple-a: #472642 !default;
$purple-b: #9a5e93 !default;
$purple-c: #c99ac2 !default;
$purple-d: #e4cce0 !default;

$red-a: #950906 !default;
$red-b: #e1261c !default;
$red-c: #fbb4b3 !default;
$red-d: #fdd9d9 !default;

$orange-a: #882600 !default;
$orange-b: #ee6314 !default;
$orange-c: #f4aa7d !default;
$orange-d: #f9d4be !default;

$yellow-a: #694800 !default;
$yellow-b: #faaf05 !default;
$yellow-c: #fde79a !default;
$yellow-d: #fff4cf !default;

$brown-a: #552105 !default;
$brown-b: #9e5332 !default;
$brown-c: #d39165 !default;
$brown-d: #e9c8b2 !default;

$brand-colors: (
  'blue-a': $blue-a,
  'blue-b': $blue-b,
  'blue-c': $blue-c,
  'blue-d': $blue-d,
  'purple-a': $purple-a,
  'purple-b': $purple-b,
  'purple-c': $purple-c,
  'purple-d': $purple-d,
  'red-a': $red-a,
  'red-b': $red-b,
  'red-c': $red-c,
  'red-d': $red-d,
  'orange-a': $orange-a,
  'orange-b': $orange-b,
  'orange-c': $orange-c,
  'orange-d': $orange-d,
  'brown-a': $brown-a,
  'brown-b': $brown-b,
  'brown-c': $brown-c,
  'brown-d': $brown-d,
  'yellow-a': $yellow-a,
  'yellow-b': $yellow-b,
  'yellow-c': $yellow-c,
  'yellow-d': $yellow-d,
  'green-a': $green-a,
  'green-b': $green-b,
  'green-c': $green-c,
  'green-d': $green-d,
  'black': $black,
  'grey-a': $grey-a,
  'grey-b': $grey-b,
  'grey-c': $grey-c,
  'grey-d': $grey-d,
  'off-white': $grey-50,
  'white': $white
) !default;

$brand-colors-rgb: map-loop($brand-colors, to-rgb, '$value') !default;

:root {
  @each $color, $value in $brand-colors {
    --nsw-aboriginal-palette-#{$color}: #{$value};
  }

  @each $color, $value in $brand-colors-rgb {
    --nsw-aboriginal-palette-#{$color}-rgb: #{$value};
  }
}
