

$white: #ffffff !default;
$grey-50: #f2f2f2 !default;
$grey-100: #ebebeb !default;
$grey-200: #dcdfe1 !default;
$grey-300: #cdd3d6 !default;
$grey-400: #acb3b7 !default;
$grey-500: #8b9296 !default;
$grey-600: #6a7175 !default;
$grey-700: #495054 !default;
$grey-800: #363c40 !default;
$grey-900: #22272b !default;
$grey-950: #151a1e !default;
$black: #000000 !default;

// Grey palette
$charcoal-rock: #2d2d2d !default;
$emu-grey: #555555 !default;
$ash-grey: #ccc6c2 !default;
$smoky-grey: #e5e3e0 !default;

// Green palette
$bushland-green: #215834 !default;
$marshland-lime: #78a146 !default;
$saltbush-green: #b5cda4 !default;
$gumleaf-green: #dae6d1 !default;

// Blue palette
$river-blue: #162953 !default;
$saltwater-blue: #0d6791 !default;
$lightwater-blue: #84c5d1 !default;
$coastal-blue: #c1e2e8 !default;

// Purple palette
$bush-plum: #472642 !default;
$spirit-lilac: #9a5e93 !default;
$lilli-pilli: #c99ac2 !default;
$dusk-purple: #e4cce0 !default;

// Red palette
$red-earth: #950906 !default;
$lap-lap-red: #e1261c !default;
$coral-pink: #fbb4b3 !default;
$galah-pink: #fdd9d9 !default;

// Orange palette
$deep-orange: #882600 !default;
$ochre: #ee6314 !default;
$orange-clay: #f4aa7d !default;
$sunset-orange: #f9d4be !default;

// Yellow palette
$bush-honey: #694800 !default;
$sandstone-yellow: #faaf05 !default;
$golden-wattle: #fde79a !default;
$sunbeam: #fff4cf !default;

// Brown palette
$riverbed: #552105 !default;
$firewood: #9e5332 !default;
$claystone: #d39165 !default;
$macadamia: #e9c8b2 !default;

$brand-colors: (
  // Grey
  'charcoal-rock': $charcoal-rock,
  'emu-grey': $emu-grey,
  'ash-grey': $ash-grey,
  'smoky-grey': $smoky-grey,

  // Green
  'bushland-green': $bushland-green,
  'marshland-lime': $marshland-lime,
  'saltbush-green': $saltbush-green,
  'gumleaf-green': $gumleaf-green,

  // Blue
  'river-blue': $river-blue,
  'saltwater-blue': $saltwater-blue,
  'lightwater-blue': $lightwater-blue,
  'coastal-blue': $coastal-blue,

  // Purple
  'bush-plum': $bush-plum,
  'spirit-lilac': $spirit-lilac,
  'lilli-pilli': $lilli-pilli,
  'dusk-purple': $dusk-purple,

  // Red
  'red-earth': $red-earth,
  'lap-lap-red': $lap-lap-red,
  'coral-pink': $coral-pink,
  'galah-pink': $galah-pink,

  // Orange
  'deep-orange': $deep-orange,
  'ochre': $ochre,
  'orange-clay': $orange-clay,
  'sunset-orange': $sunset-orange,

  // Yellow
  'bush-honey': $bush-honey,
  'sandstone-yellow': $sandstone-yellow,
  'golden-wattle': $golden-wattle,
  'sunbeam': $sunbeam,

  // Brown
  'riverbed': $riverbed,
  'firewood': $firewood,
  'claystone': $claystone,
  'macadamia': $macadamia,

  // Keep Black, Off-white, White
  'black': $black,
  'off-white': $grey-50,
  'white': $white
) !default;

$brand-colors-rgb: map-loop($brand-colors, to-rgb, '$value') !default;

:root {
  @each $color, $value in $brand-colors {
    --nsw-aboriginal-palette-#{$color}: #{$value};
  }

  @each $color, $value in $brand-colors-rgb {
    --nsw-aboriginal-palette-#{$color}-rgb: #{$value};
  }
}
