:root {
  --nsw-palette-grey-01: #22272b;
  --nsw-palette-grey-02: #495054;
  --nsw-palette-grey-03: #cdd3d6;
  --nsw-palette-grey-04: #ebebeb;

  --nsw-palette-grey-01-rgb: 34, 39, 43;
  --nsw-palette-grey-02-rgb: 73, 80, 84;
  --nsw-palette-grey-03-rgb: 205, 211, 214;
  --nsw-palette-grey-04-rgb: 235, 235, 235;

  --nsw-palette-green-01: #004000;
  --nsw-palette-green-02: #00aa45;
  --nsw-palette-green-03: #a8edb3;
  --nsw-palette-green-04: #dbfadf;

  --nsw-palette-green-01-rgb: 0, 64, 0;
  --nsw-palette-green-02-rgb: 0, 170, 69;
  --nsw-palette-green-03-rgb: 168, 237, 179;
  --nsw-palette-green-04-rgb: 219, 250, 223;

  --nsw-palette-teal-01: #0b3f47;
  --nsw-palette-teal-02: #2e808e;
  --nsw-palette-teal-03: #8cdbe5;
  --nsw-palette-teal-04: #d1eeea;

  --nsw-palette-teal-01-rgb: 11, 63, 71;
  --nsw-palette-teal-02-rgb: 46, 128, 142;
  --nsw-palette-teal-03-rgb: 140, 219, 229;
  --nsw-palette-teal-04-rgb: 209, 238, 234;

  --nsw-palette-blue-01: #002664;
  --nsw-palette-blue-02: #146cfd;
  --nsw-palette-blue-03: #8ce0ff;
  --nsw-palette-blue-04: #cbedfd;

  --nsw-palette-blue-01-rgb: 0, 38, 100;
  --nsw-palette-blue-02-rgb: 20, 108, 253;
  --nsw-palette-blue-03-rgb: 140, 224, 255;
  --nsw-palette-blue-04-rgb: 203, 237, 253;

  --nsw-palette-purple-01: #441170;
  --nsw-palette-purple-02: #8055f1;
  --nsw-palette-purple-03: #cebfff;
  --nsw-palette-purple-04: #e6e1fd;

  --nsw-palette-purple-01-rgb: 68, 17, 112;
  --nsw-palette-purple-02-rgb: 128, 85, 241;
  --nsw-palette-purple-03-rgb: 206, 191, 255;
  --nsw-palette-purple-04-rgb: 230, 225, 253;

  --nsw-palette-fuchsia-01: #65004d;
  --nsw-palette-fuchsia-02: #d912ae;
  --nsw-palette-fuchsia-03: #f4b5e6;
  --nsw-palette-fuchsia-04: #fddef2;

  --nsw-palette-fuchsia-01-rgb: 101, 0, 77;
  --nsw-palette-fuchsia-02-rgb: 217, 18, 174;
  --nsw-palette-fuchsia-03-rgb: 244, 181, 230;
  --nsw-palette-fuchsia-04-rgb: 253, 222, 242;

  --nsw-palette-red-01: #630019;
  --nsw-palette-red-02: #d7153a;
  --nsw-palette-red-03: #ffb8c1;
  --nsw-palette-red-04: #ffe6ea;

  --nsw-palette-red-01-rgb: 99, 0, 25;
  --nsw-palette-red-02-rgb: 215, 21, 58;
  --nsw-palette-red-03-rgb: 255, 184, 193;
  --nsw-palette-red-04-rgb: 255, 230, 234;

  --nsw-palette-orange-01: #941b00;
  --nsw-palette-orange-02: #f3631b;
  --nsw-palette-orange-03: #ffce99;
  --nsw-palette-orange-04: #fdeddf;

  --nsw-palette-orange-01-rgb: 148, 27, 0;
  --nsw-palette-orange-02-rgb: 243, 99, 27;
  --nsw-palette-orange-03-rgb: 255, 206, 153;
  --nsw-palette-orange-04-rgb: 253, 237, 223;

  --nsw-palette-yellow-01: #694800;
  --nsw-palette-yellow-02: #faaf05;
  --nsw-palette-yellow-03: #fde79a;
  --nsw-palette-yellow-04: #fff4cf;

  --nsw-palette-yellow-01-rgb: 105, 72, 0;
  --nsw-palette-yellow-02-rgb: 250, 175, 5;
  --nsw-palette-yellow-03-rgb: 253, 231, 154;
  --nsw-palette-yellow-04-rgb: 255, 244, 207;

  --nsw-palette-brown-01: #523719;
  --nsw-palette-brown-02: #b68d5d;
  --nsw-palette-brown-03: #e8d0b5;
  --nsw-palette-brown-04: #ede3d7;

  --nsw-palette-brown-01-rgb: 82, 55, 25;
  --nsw-palette-brown-02-rgb: 182, 141, 93;
  --nsw-palette-brown-03-rgb: 232, 208, 181;
  --nsw-palette-brown-04-rgb: 237, 227, 215;

  --nsw-palette-black: #000000;
  --nsw-palette-white: #ffffff;
  --nsw-palette-off-white: #f2f2f2;

  --nsw-palette-black-rgb: 0, 0, 0;
  --nsw-palette-white-rgb: 255, 255, 255;
  --nsw-palette-off-white-rgb: 242, 242, 242;

  --nsw-palette-focus: #0085b3;
  --nsw-palette-visited: #551a8b;

  --nsw-palette-focus-rgb: 0, 133, 179;
  --nsw-palette-visited-rgb: 85, 26, 139;

  --nsw-palette-hover: rgba(var(--nsw-palette-blue-01-rgb), 0.1);
  --nsw-palette-hover-light: rgba(var(--nsw-palette-white-rgb), 0.2);

  --nsw-palette-info-blue: #2e5299;
  --nsw-palette-info-blue-bg: #eaedf4;
  --nsw-palette-success-green: #008a07;
  --nsw-palette-success-green-bg: #e5f6e6;
  --nsw-palette-warning-orange: #c95000;
  --nsw-palette-warning-orange-bg: #fbeee5;
  --nsw-palette-error-red: #b81237;
  --nsw-palette-error-red-bg: #f7e7eb;

  --nsw-palette-info-blue-rgb: 46, 82, 153;
  --nsw-palette-info-blue-bg-rgb: 234, 237, 244;
  --nsw-palette-success-green-rgb: 0, 138, 7;
  --nsw-palette-success-green-bg-rgb: 229, 246, 230;
  --nsw-palette-warning-orange-rgb: 201, 80, 0;
  --nsw-palette-warning-orange-bg-rgb: 251, 238, 229;
  --nsw-palette-error-red-rgb: 184, 18, 55;
  --nsw-palette-error-red-bg-rgb: 247, 231, 235;
}
