:root {
  --nsw-palette-grey-01: #22272b;
  --nsw-palette-grey-02: #495054;
  --nsw-palette-grey-03: #c0c6c9;
  --nsw-palette-grey-04: #e3e7eb;

  --nsw-palette-green-01: #003300;
  --nsw-palette-green-02: #00aa45;
  --nsw-palette-green-03: #8deb93;
  --nsw-palette-green-04: #d4fad8;

  --nsw-palette-teal-01: #0b3f47;
  --nsw-palette-teal-02: #2e808e;
  --nsw-palette-teal-03: #8dd6d9;
  --nsw-palette-teal-04: #caeee9;

  --nsw-palette-blue-01: #002664;
  --nsw-palette-blue-02: #146cfd;
  --nsw-palette-blue-03: #4ac6f3;
  --nsw-palette-blue-04: #c3ebfd;

  --nsw-palette-purple-01: #391170;
  --nsw-palette-purple-02: #8055f1;
  --nsw-palette-purple-03: #c7b9f5;
  --nsw-palette-purple-04: #e0d9fd;

  --nsw-palette-pink-01: #580043;
  --nsw-palette-pink-02: #d912ae;
  --nsw-palette-pink-03: #f4a9e4;
  --nsw-palette-pink-04: #fdd6ef;

  --nsw-palette-red-01: #5d0017;
  --nsw-palette-red-02: #d7153a;
  --nsw-palette-red-03: #f6acb6;
  --nsw-palette-red-04: #f3dbe0;

  --nsw-palette-orange-01: #672500;
  --nsw-palette-orange-02: #f3631b;
  --nsw-palette-orange-03: #f1c08c;
  --nsw-palette-orange-04: #fde9d7;

  --nsw-palette-yellow-01: #694800;
  --nsw-palette-yellow-02: #faaf05;
  --nsw-palette-yellow-03: #fde079;
  --nsw-palette-yellow-04: #fff2c7;
  
  --nsw-palette-brown-01: #523719;
  --nsw-palette-brown-02: #ba9266;
  --nsw-palette-brown-03: #d8bea2;
  --nsw-palette-brown-04: #ede0d0;

  --nsw-palette-black: #000000;
  --nsw-palette-white: #ffffff;
  --nsw-palette-off-white: #f2f2f2;

  --nsw-palette-focus: #0085b3;
  --nsw-palette-hover: #{rgba(#0085b3, 0.2)};
  --nsw-palette-visited: #551a8b;

  --nsw-palette-info-blue: #2e5299;
  --nsw-palette-info-blue-bg: #eaedf4;
  --nsw-palette-success-green: #00a908;
  --nsw-palette-success-green-bg: #e5f6e6;
  --nsw-palette-warning-orange: #dc5800;
  --nsw-palette-warning-orange-bg: #fbeee5;
  --nsw-palette-error-red: #b81237;
  --nsw-palette-error-red-bg: #f7e7eb;
}
