// Breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

//Breakpoint to switch to desktop view (Layout and Navigation)
$desktop-breakpoint: lg;

// Spacing - Used with margin and padding
$spacing-sizes: (
  none:   0,
  xs:     8px,
  sm:     12px,
  md:     16px,
  lg:     24px,
  xl:     32px,
  xxl:    48px,
  xxxl:   64px,
  xxxxl:  80px
) !default;

//Spacing in between components
$components-spacing: (
  mobile: 24px,
  desktop: 32px
);

// z-index
$z-index: (
  top: 900,
  upper: 300,
  middle: 200,
  base: 100,
  below: -100,
) !default;


// Container
$container-offset: 16px;
$container-max-width: 1200px;

// Layout
$layout-gap: 32px;
$layout-sidebar-minwidth: 224px;
$layout-sidebar-maxwidth: 25%;

// Grid
$grid-gutters: 8px;
$grid-col-sizes: (
  sm: (
    half: 50%,
  ),
  md: (
    third: 33.333%,
    two-thirds: 66.666%,
    quarter: 50%,
    three-quarters: 50%
  ),
  lg: (
    quarter: 25%,
    three-quarters: 75%
  )
);

$grid-columns: 12;

// Font
$font-size-reponsive-breakpoint: lg !default;

//Utilities
$focus-offset: 3px !default;

//Buttons settings are used across multiple components
$button-variations: (
  dark: (
    text-color: var(--nsw-text-light),
    text-color-hover: var(--nsw-text-light),
    background: var(--nsw-brand-dark),
    background-hover: var(--nsw-brand-dark),
    border: transparent,
    border-hover: transparent,
    hover: white
  ),
  dark-outline: (
    text-color: var(--nsw-text-dark),
    text-color-hover: var(--nsw-text-light),
    background: transparent,
    background-hover: var(--nsw-brand-dark),
    border: var(--nsw-brand-dark),
    border-hover: transparent
  ),
  light: (
    text-color: var(--nsw-text-dark),
    text-color-hover: var(--nsw-text-dark),
    background: var(--nsw-brand-light),
    background-hover: var(--nsw-brand-light),
    border: transparent,
    border-hover: transparent,
    hover: black
  ),
  light-outline: (
    text-color: var(--nsw-text-light),
    text-color-hover: var(--nsw-text-dark),
    background: transparent,
    background-hover: var(--nsw-brand-light),
    border: var(--nsw-brand-light),
    border-hover: transparent
  ),
  white: (
    text-color: var(--nsw-text-dark),
    text-color-hover: var(--nsw-text-dark),
    background: var(--nsw-white),
    background-hover: var(--nsw-white),
    border: transparent,
    border-hover: transparent,
    hover: black
  ),
  danger: (
    text-color: var(--nsw-text-light),
    text-color-hover: var(--nsw-text-light),
    background: var(--nsw-status-error),
    background-hover: var(--nsw-status-error),
    border: transparent,
    border-hover: transparent,
    hover: white
  ),
  primary: (
    text-color: var(--nsw-text-light),
    text-color-hover: var(--nsw-text-light),
    background: var(--nsw-brand-dark),
    background-hover: var(--nsw-brand-dark),
    border: transparent,
    border-hover: transparent,
    hover: white,
  ),
  secondary: (
    text-color: var(--nsw-text-dark),
    text-color-hover: var(--nsw-text-light),
    background: transparent,
    background-hover: var(--nsw-brand-dark),
    border: var(--nsw-brand-dark),
    border-hover: transparent
  ),
  outline: (
    text-color: var(--nsw-text-dark),
    text-color-hover: var(--nsw-text-light),
    background: transparent,
    background-hover: var(--nsw-brand-dark),
    border: var(--nsw-brand-dark),
    border-hover: transparent
  ),
  highlight: (
    text-color: var(--nsw-text-light),
    text-color-hover: var(--nsw-text-light),
    background: var(--nsw-status-error),
    background-hover: var(--nsw-status-error),
    border: transparent,
    border-hover: transparent,
    hover: white
  ),
);

$icons: (
  chevron-right: '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="32" viewBox="0 0 20 32"><path d="M20 16l-16-16-4 4 12 12-12 12 4 4 16-16z"></path></svg>',
  chevron-down: '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path d="M16 26l16-16-4-4-12 12-12-12-4 4 16 16z"></path></svg>',
  chevron-left: '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="32" viewBox="0 0 20 32"><path d="M0 16l16-16 4 4-12 12 12 12-4 4-16-16z"></path></svg>',
  chevron-up: '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path d="M16 6l16 16-4 4-12-12-12 12-4-4 16-16z"></path></svg>',
  tick: '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path d="M29.362 3.742l-18.867 19.204-7.857-7.997-2.638 2.685 9.175 9.34 1.319 1.284 1.318-1.284 20.187-20.547z"></path></svg>',
  error: '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path d="M16 32c4.243 0 8.313-1.686 11.314-4.686 3-3.001 4.686-7.070 4.686-11.314s-1.686-8.313-4.686-11.314c-3.001-3-7.070-4.686-11.314-4.686s-8.313 1.686-11.314 4.686c-3 3.001-4.686 7.070-4.686 11.314s1.686 8.313 4.686 11.314c3.001 3 7.070 4.686 11.314 4.686zM16 7c0.809 0 1.538 0.487 1.848 1.234s0.138 1.608-0.434 2.18c-0.572 0.572-1.432 0.744-2.18 0.434s-1.234-1.039-1.234-1.848c0-1.104 0.896-2 2-2zM14 14h4v11h-4v-11z"></path></svg>'
) !default;

/* Legacy start */

// Base font size
$base-font-size: 16px;
$base-line-height: 1.5;

// Brand font stack and weight
$font-stack: 'Montserrat', Arial, sans-serif !default;
$font-weight: (
  regular: 400,
  heading: 600,
) !default;

//Font sizes presets (mobile, desktop)
$font-sizes: (
  xs:   (14px, 14px),
  sm:   (16px, 16px),
  md:   (18px, 20px),
  lg:   (22px, 24px),
  xl:   (26px, 28px),
  xxl:  (28px, 32px),
  xxxl: (36px, 48px)
) !default;

// Lineheight mapping
$line-height: (
  xs:   (1.35, 1.35),
  sm:   (1.5, 1.5),
  md:   (1.33, 1.4),
  lg:   (1.25, 1.33),
  xl:   (1.25, 1.25),
  xxl:  (1.25, 1.25),
  xxxl: (1.25, 1.25)
) !default;

$transitions: (
  base: all 0.25s ease-in-out,
  card: box-shadow 0.25s ease-in-out
) !default;

$transition-duration: 0.15s ease-in-out !default;

$border-radii: (
  none: 0,
  default: 4px,
  tag: 13px,
  round: 50%,
) !default;

$border-width: (
  none: 0,
  sm: 1px,
  md: 2px,
  lg: 4px,
  highlight: 6px,
) !default;

// Predefined Colours and their names
// Brand
$nsw-primary-blue: var(--nsw-brand-dark) !default;
$nsw-primary-highlight: var(--nsw-brand-accent) !default;
$nsw-secondary-blue: var(--nsw-brand-supplementary) !default;

// Shades
$black: var(--nsw-black) !default;
$dark80: var(--nsw-grey-01) !default;
$dark70: var(--nsw-grey-02) !default;
$dark60: var(--nsw-grey-02) !default;

$light40: var(--nsw-grey-03) !default;
$light20: var(--nsw-grey-04) !default;
$light10: var(--nsw-off-white) !default;
$white: var(--nsw-white) !default;

// Utility colors
$danger: var(--nsw-status-error) !default;

$info: var(--nsw-status-info) !default;
$info-background: var(--nsw-status-info-bg) !default;

$success: var(--nsw-status-success) !default;
$success-background: var(--nsw-status-success-bg) !default;

$warning: var(--nsw-status-warning) !default;
$warning-background: var(--nsw-status-warning-bg) !default;

$critical: var(--nsw-status-error) !default;
$critical-background: var(--nsw-status-error-bg) !default;

$focus-color: var(--nsw-focus) !default;
$hover-colour: var(--nsw-text-hover);
$link-color: var(--nsw-brand-dark);
$link-visited: var(--nsw-text-visited);

$border-colors: (
  brand: $nsw-primary-blue,
  light: $light20,
  medium: $light40,
  dark: $dark80,
  highlight: $nsw-primary-highlight,
) !default;

//Box Shadows
$shadows: (
  menu: 0 4px 9px -5px rgba($black, 0.4),
  card: 0 4px 12px 0 rgba($black, 0.15),
  card-hover: 2px 6px 12px 0 rgba($black, 0.25),
) !default;

// Notification variations
$notification: (
  info: (
    border: $info,
    background: $info-background,
    fill: $info,
  ),
  success: (
    border: $success,
    background: $success-background,
    fill: $success,
  ),
  warning: (
    border: $warning,
    background: $warning-background,
    fill: $warning,
  ),
  error: (
    border: $critical,
    background: $critical-background,
    fill: $critical,
  ),
) !default;

// Overlays
$overlays: (
  light: rgba($white, 0.8),
  dark: rgba($black, 0.8)
) !default;

$icon-colors: (
  error: $critical,
  success: $success,
  info: $info,
  warning: $warning,
  default: $nsw-primary-blue,
) !default;

$sitewide-message: (
  default: (
    text-color: $white,
    background: $nsw-secondary-blue,
  ),
  light: (
    text-color: $dark80,
    background: $info-background,
  ),
  critical: (
    text-color: $white,
    background: $critical,
  ),
) !default;

/* Legacy end */
