// Breakpoints
$nsw-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

//Breakpoint to switch to desktop view (Layout and Navigation)
$nsw-desktop-breakpoint: lg;

//Spacing in between components
$nsw-components-spacing: (
  mobile: 24px,
  desktop: 32px
);

// z-index
$nsw-z-index: (
  top: 900,
  upper: 300,
  middle: 200,
  base: 100,
  below: -100,
) !default;

// Transitions
$nsw-transition-duration: 0.15s ease-in-out !default;

// Font
$nsw-base-font-size: 16px;
$nsw-font-size-reponsive-breakpoint: lg !default;

//Utilities
$nsw-focus-offset: 3px !default;

// Layout
$layout-gap: 32px;
$layout-sidebar-minwidth: 224px;
$layout-sidebar-maxwidth: 25%;

// Grid
$grid-gutters: 8px;
$grid-col-sizes: (
  sm: (
    half: 50%,
  ),
  md: (
    third: 33.333%,
    two-thirds: 66.666%,
    quarter: 50%,
    three-quarters: 50%
  ),
  lg: (
    quarter: 25%,
    three-quarters: 75%
  )
);

$grid-columns: 12;
