@use 'sass:color';

// Theme Colours
$brand-dark: $red-02 !default;
$brand-light: $red-04 !default;
$brand-supplementary: $blue-02 !default;
$brand-accent: $blue-02 !default;
$off-white: $grey-50 !default;

// Text Colours
$text-dark: $grey-01 !default;
$text-light: $white !default;

// Semantic Colours
$success: #008a07 !default;
$success-bg: #e5f6e6 !default;
$info: #2e5299 !default;
$info-bg: #eaedf4 !default;
$warning: #c95000 !default;
$warning-bg: #fbeee5 !default;
$error: #b81237 !default;
$error-bg: #f7e7eb !default;

$theme-colors: (
  'brand-dark': $brand-dark,
  'brand-light': $brand-light,
  'brand-supplementary': $brand-supplementary,
  'brand-accent': $brand-accent,
  'black': $black,
  'grey-01': $grey-01,
  'grey-02': $grey-02,
  'grey-03': $grey-03,
  'grey-04': $grey-04,
  'off-white': $off-white,
  'white': $white
) !default;

$theme-colors-rgb: map-loop($theme-colors, to-rgb, '$value') !default;

$text-colors: (
  'text-dark': $text-dark,
  'text-light': $text-light
) !default;

$text-colors-rgb: map-loop($text-colors, to-rgb, '$value') !default;

$semantic-colors: (
  'success': $success,
  'success-bg': $success-bg,
  'info': $info,
  'info-bg': $info-bg,
  'warning': $warning,
  'warning-bg': $warning-bg,
  'error': $error,
  'error-bg': $error-bg
) !default;

$semantic-colors-rgb: map-loop($semantic-colors, to-rgb, '$value') !default;

// State Colours
$link: $brand-dark !default;
$link-light: tint($brand-dark, 90%) !default;
$visited: a11y-color(lighten(desaturate(adjust-hue($brand-dark, 54), 31.52), 12.75), #ffffff) !default;
$visited-light: tint($visited, 80%) !default;
$hover: color.adjust($brand-dark, $alpha: -0.9) !default;
$hover-light: color.adjust($link-light, $alpha: -0.9) !default;
$active: color.adjust($brand-dark, $alpha: -0.8) !default;
$active-light: color.adjust($link-light, $alpha: -0.8) !default;
$focus: lighten(adjust-hue($brand-dark, -22), 15.49) !default;
$focus-light: tint($focus, 80%);
$disabled: tint($brand-dark, 50%) !default;

$state-colors: (
  'link': $link,
  'link-light': $link-light,
  'visited': $visited,
  'visited-light': $visited-light,
  'hover': $hover,
  'hover-light': $hover-light,
  'active': $active,
  'active-light': $active-light,
  'focus': $focus,
  'focus-light': $focus-light,
  'disabled': $disabled
) !default;

$state-colors-rgb: map-loop($state-colors, to-rgb, '$value') !default;

:root {
  @each $color, $value in $theme-colors {
    --nsw-#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors-rgb {
    --nsw-#{$color}-rgb: #{$value};
  }

  @each $color, $value in $text-colors {
    --nsw-#{$color}: #{$value};
  }

  @each $color, $value in $text-colors-rgb {
    --nsw-#{$color}-rgb: #{$value};
  }

  @each $color, $value in $state-colors {
    --nsw-#{$color}: #{$value};
  }

  @each $color, $value in $state-colors-rgb {
    --nsw-#{$color}-rgb: #{$value};
  }

  @each $color, $value in $semantic-colors {
    --nsw-status-#{$color}: #{$value};
  }

  @each $color, $value in $semantic-colors-rgb {
    --nsw-status-#{$color}-rgb: #{$value};
  }

  /* Deprecated */
  --nsw-text-hover: var(--nsw-hover);
  --nsw-text-hover-light: var(--nsw-hover-light);
  --nsw-text-link: var(--nsw-link);
  --nsw-text-link-hover: var(--nsw-hover);
  --nsw-text-link-hover-light: var(--nsw-hover-light);
  --nsw-text-visited: var(--nsw-visited);

  /* Font */
  --nsw-font-family: 'Public Sans', sans-serif;
  --nsw-font-size: 16px;
  --nsw-line-height: 1.5;
  --nsw-font-normal: 400;
  --nsw-font-bold: 700;

  --nsw-font-size-xxs-mobile: #{rem(12px)};
  --nsw-font-size-xxs-desktop: #{rem(12px)};
  --nsw-line-height-xxs-mobile: 1.5;
  --nsw-line-height-xxs-desktop: 1.5;

  --nsw-font-size-xs-mobile: #{rem(14px)};
  --nsw-font-size-xs-desktop: #{rem(14px)};
  --nsw-line-height-xs-mobile: 1.35;
  --nsw-line-height-xs-desktop: 1.35;

  --nsw-font-size-sm-mobile: #{rem(16px)};
  --nsw-font-size-sm-desktop: #{rem(16px)};
  --nsw-line-height-sm-mobile: 1.5;
  --nsw-line-height-sm-desktop: 1.5;

  --nsw-font-size-md-mobile: #{rem(18px)};
  --nsw-font-size-md-desktop: #{rem(20px)};
  --nsw-line-height-md-mobile: 1.33;
  --nsw-line-height-md-desktop: 1.4;

  --nsw-font-size-lg-mobile: #{rem(22px)};
  --nsw-font-size-lg-desktop: #{rem(24px)};
  --nsw-line-height-lg-mobile: 1.25;
  --nsw-line-height-lg-desktop: 1.33;

  --nsw-font-size-xl-mobile: #{rem(28px)};
  --nsw-font-size-xl-desktop: #{rem(32px)};
  --nsw-line-height-xl-mobile: 1.25;
  --nsw-line-height-xl-desktop: 1.25;

  --nsw-font-size-xxl-mobile: #{rem(36px)};
  --nsw-font-size-xxl-desktop: #{rem(48px)};
  --nsw-line-height-xxl-mobile: 1.25;
  --nsw-line-height-xxl-desktop: 1.25;

  /* Borders */
  --nsw-border-width: 1px;
  --nsw-border-style: solid;
  --nsw-border-color: var(--nsw-brand-accent);
  --nsw-border-radius: #{rem(4px)};

  /* Shadows */
  --nsw-box-shadow: 0 #{rem(4px)} #{rem(12px)} 0 rgba(var(--nsw-black-rgb), 0.15);

  /* Maximum width of container */
  --nsw-container-width: #{rem(1200px)};
}
