:root {
  /* Colours */
  --nsw-brand-dark: var(--nsw-palette-blue-01);
  --nsw-brand-light: var(--nsw-palette-blue-04);
  --nsw-brand-accent: var(--nsw-palette-red-02);
  --nsw-brand-supplementary: var(--nsw-palette-blue-02);

  --nsw-text-dark: var(--nsw-palette-grey-01);
  --nsw-text-light: var(--nsw-palette-white);
  ---nsw-focus: var(--nsw-palette-focus);
  --nsw-text-hover: var(--nsw-palette-hover);
  --nsw-text-visited: var(--nsw-palette-visited);

  --nsw-black: var(--nsw-palette-black);
  --nsw-white: var(--nsw-palette-white);
  --nsw-off-white: var(--nsw-palette-off-white);
  --nsw-grey-01: var(--nsw-palette-grey-01);
  --nsw-grey-02: var(--nsw-palette-grey-01);
  --nsw-grey-03: var(--nsw-palette-grey-01);
  --nsw-grey-04: var(--nsw-palette-grey-01);

  --nsw-shade-dark: #000000;
  --nsw-shade-dark-5: #0d0d0d;
  --nsw-shade-dark-10: #1a1a1a;
  --nsw-shade-dark-20: #333333;

  --nsw-shade-light: #ffffff;
  --nsw-shade-light-5: #f2f2f2;
  --nsw-shade-light-10: #e5e5e5;
  --nsw-shade-light-20: #cccccc;

  --nsw-status-info: var(--nsw-palette-info-blue);
  --nsw-status-info-bg: var(--nsw-palette-info-blue-bg);
  --nsw-status-success: var(--nsw-palette-success-green);
  --nsw-status-success-bg: var(--nsw-palette-success-green-bg);
  --nsw-status-warning: var(--nsw-palette-warning-orange);
  --nsw-status-warning-bg: var(--nsw-palette-warning-orange-bg);
  --nsw-status-error: var(--nsw-palette-error-red);
  --nsw-status-error-bg: var(--nsw-palette-error-red-bg);

  --nsw-shade-dark-rgb: 0, 0, 0;
  --nsw-shade-light-rgb: 255, 255, 255;

  /* Font */
  --nsw-font-family: 'Public Sans', sans-serif;
  --nsw-font-size: 16px;
  --nsw-line-height: 1.5;
  --nsw-font-normal: 400;
  --nsw-font-bold: 700;

  --nsw-font-size-xxs-mobile: #{rem(12px)};
  --nsw-font-size-xxs-desktop: #{rem(12px)};
  --nsw-line-height-xxs-mobile: 1.5;
  --nsw-line-height-xxs-desktop: 1.5;

  --nsw-font-size-xs-mobile: #{rem(14px)};
  --nsw-font-size-xs-desktop: #{rem(14px)};
  --nsw-line-height-xs-mobile: 1.35;
  --nsw-line-height-xs-desktop: 1.35;

  --nsw-font-size-sm-mobile: #{rem(16px)};
  --nsw-font-size-sm-desktop: #{rem(16px)};
  --nsw-line-height-sm-mobile: 1.5;
  --nsw-line-height-sm-desktop: 1.5;

  --nsw-font-size-md-mobile: #{rem(18px)};
  --nsw-font-size-md-desktop: #{rem(20px)};
  --nsw-line-height-md-mobile: 1.33;
  --nsw-line-height-md-desktop: 1.4;

  --nsw-font-size-lg-mobile: #{rem(22px)};
  --nsw-font-size-lg-desktop: #{rem(24px)};
  --nsw-line-height-lg-mobile: 1.25;
  --nsw-line-height-lg-desktop: 1.33;

  --nsw-font-size-xl-mobile: #{rem(28px)};
  --nsw-font-size-xl-desktop: #{rem(32px)};
  --nsw-line-height-xl-mobile: 1.25;
  --nsw-line-height-xl-desktop: 1.25;

  --nsw-font-size-xxl-mobile: #{rem(36px)};
  --nsw-font-size-xxl-desktop: #{rem(48px)};
  --nsw-line-height-xxl-mobile: 1.25;
  --nsw-line-height-xxl-desktop: 1.25;

  /* Borders */
  --nsw-border-radius: #{rem(4px)};
}
