// L3 / Campaign

$white: #ffffff;
$black: #000d1a;

$nsw-primary-highlight: #ff6700;
$nsw-primary-dark: #002233;
$nsw-primary-light: #2fd7f2;

$focus-color: #005555;

// Co-brand / Endorsed

$border-radii: (
  none: 0,
  default: 4px,
  tag: 13px,
  round: 50%,
  card: 0,
);

// Defaults

// $white: #ffffff;
// $black: #333333;
//
// $nsw-primary-highlight: #d7153a;
// $nsw-primary-dark: #0a2664;
// $nsw-primary-light: #ffffff;
