<div class="nsw-table-responsive" role="region" aria-labelledby="caption1" tabindex="0">
  <table class="nsw-table {{#if captionTop}}nsw-table--caption-top{{/if}} {{#if striped}}nsw-table--striped{{/if}} {{#if bordered}}nsw-table--bordered{{/if}}">
    <caption id="caption1">{{caption}}</caption>
    <thead>
      <tr>
        <th>One</th>
        <th>Two</th>
        <th >Three</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Donec velit neque, auctor sit amet aliquam</td>
        <td>Vestibulum ante ipsum primis</td>
        <td>Praesent sapien massa</td>
      </tr>
      <tr>
        <td>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</td>
        <td>convallis a pellentesque nec</td>
        <td>egestas non nisi</td>
      </tr>
      <tr>
        <td>Quisque velit nisi, pretium ut lacinia</td>
        <td>elementum id enim</td>
        <td>Donec velit neque, auctor sit amet aliquam</td>
      </tr>
      <tr>
        <td>Vestibulum ante ipsum primis</td>
        <td>Praesent sapien massa</td>
        <td>Vestibulum ante ipsum primis</td>
      </tr>
    </tbody>
  </table>
</div>
