.nsw-table {
  @include font-size('sm');
  border-radius: 0;
  font-family: var(--nsw-font-family);
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  caption-side: bottom;

  caption {
    @include nsw-spacing(padding, sm xs);
    text-align: left;
  }

  th,
  td {
    @include nsw-spacing(padding, sm xs);
    text-align: left;
    vertical-align: baseline;
    border-bottom: solid 1px var(--nsw-grey-01);
  }

  th,
  thead td,
  tfoot td {
    font-weight: var(--nsw-font-bold);
  }

  thead {
    border-bottom: solid 2px var(--nsw-grey-01);
  }
}

.nsw-table--caption-top {
  caption-side: top;
}

.nsw-table--striped {
  th,
  td {
    border-bottom: 0;
  }

  tbody tr:nth-of-type(even) {
    background-color: var(--nsw-off-white);
  }
}


.nsw-table--bordered {
  th,
  td {
    border: solid 1px var(--nsw-grey-01);
  }
}

.nsw-table-responsive {
  @include component-spacing();
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  &:focus {
    @include nsw-focus;
  }

  .nsw-table {
    min-width: rem(600);
  }
}
