---
title: Tables
width: narrow
page: true
model: json/tables.json
---
{{#>_layout-container}}
<h3>Default</h3>
{{>_tables model captionid="caption0"}}

<h3>Striped</h3>
{{>_tables model striped="true" captionid="caption1"}}

<h3>Caption Top</h3>
{{>_tables model captionTop="true" captionid="caption2"}}

<h3>Bordered</h3>
{{>_tables model bordered="true" captionid="caption3"}}

<h3>Stripe and Bordered</h3>
{{>_tables model striped="true" bordered="true" captionid="caption4"}}
{{/_layout-container}}
