---
title: Tables
width: narrow
tabs: true
directory: tables
intro: Tables provide a structured way to display information in rows and columns that make it easier for users to scan, sort and compare information. 
figma: https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=0%3A748
react: https://digitalnsw.github.io/nsw-design-system-react/?path=/docs/content-table--default
---

<h3>Default</h3>
{{#>_docs-example}}{{>_tables}}{{/_docs-example}}

<h3>Striped</h3>
{{#>_docs-example}}{{>_tables striped="true"}}{{/_docs-example}}

<h3>Caption Top</h3>
{{#>_docs-example}}{{>_tables captionTop="true"}}{{/_docs-example}}

<h3>Bordered</h3>
{{#>_docs-example}}{{>_tables bordered="true"}}{{/_docs-example}}

<h3>Stripe and Bordered</h3>
{{#>_docs-example}}{{>_tables striped="true" bordered="true"}}{{/_docs-example}}
