---
title: Tables
width: narrow
guidance: https://digitalnsw.github.io/nsw-design-system-docs/components/tables/index.html
model: json/tables.json
---

<h3>Default</h3>
{{#>_docs-example}}{{>_tables model captionid="caption0"}}{{/_docs-example}}

<h3>Striped</h3>
{{#>_docs-example}}{{>_tables model striped="true" captionid="caption1"}}{{/_docs-example}}

<h3>Caption Top</h3>
{{#>_docs-example}}{{>_tables model captionTop="true" captionid="caption2"}}{{/_docs-example}}

<h3>Bordered</h3>
{{#>_docs-example}}{{>_tables model bordered="true" captionid="caption3"}}{{/_docs-example}}

<h3>Stripe and Bordered</h3>
{{#>_docs-example}}{{>_tables model striped="true" bordered="true" captionid="caption4"}}{{/_docs-example}}
