---
title: Tables
model: tables.json
---

<main>
  <div class="nsw-bg-white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-lg-8 nsw-offset-lg-2">
              <div class="nsw-wysiwyg-content">
                <h2>Responsive Tables (scroll on mobile)</h2>
                {{>_tables model captionid="caption0"}}

                <h2>Striped</h2>
                {{>_tables model striped="true" captionid="caption1"}}

                <h2>Caption Top</h2>
                {{>_tables model captionTop="true" captionid="caption2"}}

                <h2>Bordered</h2>
                {{>_tables model bordered="true" captionid="caption3"}}

                <h2>Stripe and Bordered</h2>
                {{>_tables model striped="true" bordered="true" captionid="caption4"}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
