---
title: Tables
model:
  basic: tables.json
---

<div class="nsw-container nsw-layout nsw-wysiwyg-content">
  <div class="nsw-layout__content">
    <h1>Tables</h1>

    <h2>Responsive Tables (scroll on mobile)</h2>
    {{>_tables model.basic}}

    <h2>Striped</h2>
    {{>_tables model.basic striped="true"}}

    <h2>Caption Top</h2>
    {{>_tables model.basic captionTop="true"}}

    <h2>Bordered</h2>
    {{>_tables model.basic bordered="true"}}

    <h2>Stripe and Bordered</h2>
    {{>_tables model.basic striped="true" bordered="true"}}
  </div>
</div>
