<!doctype html>
<html lang="en" class="no-js">
<head><script async data-category="analytics" src="https://www.googletagmanager.com/gtag/js?id=G-49T9M12F86"></script>
<script data-category="analytics">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-49T9M12F86');
</script>
  <script data-category="analytics">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P2NKBBJZ');</script>
  
  <title>NSW Digital Design System - Date input</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://designsystem.nsw.gov.au/nsw-og-image.jpg">
  <meta name="robots" content="noindex" />
  <link rel="icon" href="https://designsystem.nsw.gov.au/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone" rel="stylesheet">
  <link rel="stylesheet" href="https://designsystem.nsw.gov.au/docs/css/docs.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css">
  <!-- Hotjar Tracking Code for NSW Design System -->
  <script data-category="analytics">
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
      h._hjSettings = { hjid: 5063548, hjsv: 6 };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script'); r.async = 1; 
      r.setAttribute('data-category', 'analytics');
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>
  <script src="https://designsystem.nsw.gov.au/cookie-consent-config.js"></script>
</head>

<body><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2NKBBJZ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    

<header class="nsw-header">
  <div class="nsw-header__container">
    <div class="nsw-header__inner">
      <div class="nsw-color-swatches js-color-swatches">
        <legend class="nsw-color-swatches__legend" aria-live="polite" aria-atomic="true"><span class="nsw-color-swatches__color js-color-swatches__color">Blue 01</span></legend>
        <select class="js-color-swatches__select" aria-label="Select a color"></select>
      </div>
    </div>
  </div>
</header>


<section class="nsw-section">
  <div class="nsw-container nsw-p-y-sm">
    <div class="nsw-layout">
      <main class="nsw-layout__main">
        
        <div class="nsw-form">
          <div class="nsw-form__group">
            <fieldset class="nsw-form__date">
              <legend>
                <span class="nsw-form__label">Date of birth</span>
                <span id="date-helper-text" class="nsw-form__helper">For example 08 12 1990</span>
              </legend>
              <div class="nsw-form__date-wrapper">
                <div class="nsw-form__date-input">
                  <label for="date-day" class="nsw-form__label nsw-form__label--small">Day</label>
                  <input type="text" maxlength="2" id="date-day" name="date-day" autocomplete="bday-day" class="nsw-form__input">
                </div>
                <div class="nsw-form__date-input">
                  <label for="date-month" class="nsw-form__label nsw-form__label--small">Month</label>
                  <input type="text" maxlength="2" id="date-month" name="date-month" autocomplete="bday-month" class="nsw-form__input">
                </div>
                <div class="nsw-form__date-input nsw-form__date-input--large">
                  <label for="date-year" class="nsw-form__label nsw-form__label--small">Year</label>
                  <input type="text" maxlength="4" id="date-year" name="date-year" autocomplete="bday-year" class="nsw-form__input">
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        
        <div class="nsw-form">
          <div class="nsw-form__group">
            <fieldset class="nsw-form__date">
              <legend>
                <span class="nsw-form__label nsw-form__required">Date of birth<span class="sr-only"> (required)</span></span>
                <span id="date-error-helper-text" class="nsw-form__helper">For example 08 12 1990</span>
              </legend>
              <div class="nsw-form__date-wrapper">
                <div class="nsw-form__date-input">
                  <label for="date-error-day" class="nsw-form__label nsw-form__label--small">Day</label>
                  <input type="text" maxlength="2" id="date-error-day" name="date-error-day" autocomplete="bday-day" class="nsw-form__input" aria-invalid="true">
                </div>
                <div class="nsw-form__date-input">
                  <label for="date-error-month" class="nsw-form__label nsw-form__label--small">Month</label>
                  <input type="text" maxlength="2" id="date-error-month" name="date-error-month" autocomplete="bday-month" class="nsw-form__input" aria-invalid="true">
                </div>
                <div class="nsw-form__date-input nsw-form__date-input--large">
                  <label for="date-error-year" class="nsw-form__label nsw-form__label--small">Year</label>
                  <input type="text" maxlength="4" id="date-error-year" name="date-error-year" autocomplete="bday-year" class="nsw-form__input" aria-invalid="true">
                </div>
              </div>
            </fieldset>
            <span id="date-error-error-text" class="nsw-form__helper nsw-form__helper--error"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>This field is required</span>
          </div>
        </div>
        
        <div class="nsw-form">
          <div class="nsw-form__group">
            <fieldset class="nsw-form__date">
              <legend>
                <span class="nsw-form__label">Date of birth</span>
                <span id="date-success-helper-text" class="nsw-form__helper">For example 08 12 1990</span>
              </legend>
              <div class="nsw-form__date-wrapper">
                <div class="nsw-form__date-input">
                  <label for="date-success-day" class="nsw-form__label nsw-form__label--small">Day</label>
                  <input type="text" maxlength="2" id="date-success-day" name="date-success-day" autocomplete="bday-day" class="nsw-form__input">
                </div>
                <div class="nsw-form__date-input">
                  <label for="date-success-month" class="nsw-form__label nsw-form__label--small">Month</label>
                  <input type="text" maxlength="2" id="date-success-month" name="date-success-month" autocomplete="bday-month" class="nsw-form__input">
                </div>
                <div class="nsw-form__date-input nsw-form__date-input--large">
                  <label for="date-success-year" class="nsw-form__label nsw-form__label--small">Year</label>
                  <input type="text" maxlength="4" id="date-success-year" name="date-success-year" autocomplete="bday-year" class="nsw-form__input">
                </div>
              </div>
            </fieldset>
            
            <span id="date-success-valid-text" class="nsw-form__helper nsw-form__helper--valid"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">check_circle</span>This field has been validated</span>
          </div>
        </div>
        
      </main>
      <div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
    </div>
  </div>
</section>

<section class="nsw-section nsw-section--brand-dark nsw-section--invert">
  <div class="nsw-container nsw-p-y-sm">
    <div class="nsw-layout">
      <main class="nsw-layout__main">
        
        <div class="nsw-form">
          <div class="nsw-form__group">
            <fieldset class="nsw-form__date">
              <legend>
                <span class="nsw-form__label">Date of birth</span>
                <span id="date-helper-text" class="nsw-form__helper">For example 08 12 1990</span>
              </legend>
              <div class="nsw-form__date-wrapper">
                <div class="nsw-form__date-input">
                  <label for="date-day" class="nsw-form__label nsw-form__label--small">Day</label>
                  <input type="text" maxlength="2" id="date-day" name="date-day" autocomplete="bday-day" class="nsw-form__input">
                </div>
                <div class="nsw-form__date-input">
                  <label for="date-month" class="nsw-form__label nsw-form__label--small">Month</label>
                  <input type="text" maxlength="2" id="date-month" name="date-month" autocomplete="bday-month" class="nsw-form__input">
                </div>
                <div class="nsw-form__date-input nsw-form__date-input--large">
                  <label for="date-year" class="nsw-form__label nsw-form__label--small">Year</label>
                  <input type="text" maxlength="4" id="date-year" name="date-year" autocomplete="bday-year" class="nsw-form__input">
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        
        <div class="nsw-form">
          <div class="nsw-form__group">
            <fieldset class="nsw-form__date">
              <legend>
                <span class="nsw-form__label nsw-form__required">Date of birth<span class="sr-only"> (required)</span></span>
                <span id="date-error-helper-text" class="nsw-form__helper">For example 08 12 1990</span>
              </legend>
              <div class="nsw-form__date-wrapper">
                <div class="nsw-form__date-input">
                  <label for="date-error-day" class="nsw-form__label nsw-form__label--small">Day</label>
                  <input type="text" maxlength="2" id="date-error-day" name="date-error-day" autocomplete="bday-day" class="nsw-form__input" aria-invalid="true">
                </div>
                <div class="nsw-form__date-input">
                  <label for="date-error-month" class="nsw-form__label nsw-form__label--small">Month</label>
                  <input type="text" maxlength="2" id="date-error-month" name="date-error-month" autocomplete="bday-month" class="nsw-form__input" aria-invalid="true">
                </div>
                <div class="nsw-form__date-input nsw-form__date-input--large">
                  <label for="date-error-year" class="nsw-form__label nsw-form__label--small">Year</label>
                  <input type="text" maxlength="4" id="date-error-year" name="date-error-year" autocomplete="bday-year" class="nsw-form__input" aria-invalid="true">
                </div>
              </div>
            </fieldset>
            <span id="date-error-error-text" class="nsw-form__helper nsw-form__helper--error"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>This field is required</span>
          </div>
        </div>
        
        <div class="nsw-form">
          <div class="nsw-form__group">
            <fieldset class="nsw-form__date">
              <legend>
                <span class="nsw-form__label">Date of birth</span>
                <span id="date-success-helper-text" class="nsw-form__helper">For example 08 12 1990</span>
              </legend>
              <div class="nsw-form__date-wrapper">
                <div class="nsw-form__date-input">
                  <label for="date-success-day" class="nsw-form__label nsw-form__label--small">Day</label>
                  <input type="text" maxlength="2" id="date-success-day" name="date-success-day" autocomplete="bday-day" class="nsw-form__input">
                </div>
                <div class="nsw-form__date-input">
                  <label for="date-success-month" class="nsw-form__label nsw-form__label--small">Month</label>
                  <input type="text" maxlength="2" id="date-success-month" name="date-success-month" autocomplete="bday-month" class="nsw-form__input">
                </div>
                <div class="nsw-form__date-input nsw-form__date-input--large">
                  <label for="date-success-year" class="nsw-form__label nsw-form__label--small">Year</label>
                  <input type="text" maxlength="4" id="date-success-year" name="date-success-year" autocomplete="bday-year" class="nsw-form__input">
                </div>
              </div>
            </fieldset>
            
            <span id="date-success-valid-text" class="nsw-form__helper nsw-form__helper--valid"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">check_circle</span>This field has been validated</span>
          </div>
        </div>
        
      </main>
      <div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
    </div>
  </div>
</section>
<script src="https://designsystem.nsw.gov.au/docs/js/docs.js"></script>

  <script src="https://designsystem.nsw.gov.au/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
