<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Hero search</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="../../favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../css/docs.css">
</head>

<body class="nsw-body-content">

<div class="nsw-section nsw-section--image" style="background-image: url(https://picsum.photos/id/199/2000/1250);">
  <div class="hero-search">
    <div class="nsw-container">
      <div class="hero-search__content">
        <h1 class="hero-search__title">NSW Government</h1>
        <p>Find information, access services and have your say.</p>
        <form role="search" class="hero-search__form">
          <div class="nsw-form__input-group nsw-form__input-group--icon nsw-form__input-group--large">
            <label class="sr-only" for="form-input-group-1">Search site for:</label>
            <input class="nsw-form__input" type="text" id="form-input-group-1" name="form-input-group-1" value="">
            <button class="nsw-button nsw-button--white nsw-button--flex" type="submit">
              <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">search</i>
              <span class="sr-only">Search</span>
            </button>
          </div>
        </form>
        <div class="hero-search__suggested">
          <ul>
            <li><a href="#">COVID-19 (coronavirus)</a></li>
            <li><a href="#">Water restrictions</a></li>
            <li><a href="#">Support for bushfire affected communities</a></li>
            <li><a href="#">Renew rego</a></li>
            <li><a href="#">Green slips</a></li>
            <li><a href="#">Driving, boating and transport</a></li>
            <li><a href="#">School and public holidays</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

  <script src="../../js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
