@use '../../global/scss/tools' as nsw;

.nsw-form {
  &__date {
    padding: 0;
    margin: 0;
    border: 0;

    legend {
      padding: 0;
    }

    &-wrapper {
      display: flex;
      inline-size: 100%;
      margin: 0 nsw.rem(-8px);

      > div {
        padding: 0 nsw.rem(8px);
      }
    }

    &-input {
      inline-size: nsw.rem(74px);

      &--large {
        inline-size: nsw.rem(116px);
      }
    }
  }
}
