@use '../../global/scss/base/functions' as functions;

.nsw-form {
  &__date {
    padding: 0;
    margin: 0;
    border: 0;

    legend {
      padding: 0;
    }

    &-wrapper {
      display: flex;
      width: 100%;
      margin: 0 functions.rem(-8px);

      > div {
        padding: 0 functions.rem(8px);
      }
    }

    &-input {
      width: functions.rem(74px);

      &--large {
        width: functions.rem(116px);
      }
    }
  }
}
