---
title: Date input
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p></p>
<p>Do:</p>
<ul>
  <li></li>
</ul>

<h3>When to avoid</h3>
<p></p>
<p>Do not:</p>
<ul>
  <li></li>
</ul>

<h2>How this component works</h2>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>
