---
title: Date input
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p></p>

<p>Use a date input:</p>
<ul>
  <li>when asking users for a date they already know, or can easily find, like their date of birth</li>
</ul>

<h3>When to avoid</h3>
<p></p>
<p>Don't use a date input:</p>
<ul>
  <li>when asking users for multiple dates, such as a range, or a start and finish date (use date picker instead)</li>
</ul>

<h2>How this component works</h2>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>
