<!doctype html>
<html lang="en" class="no-js">
<head>
  <title>NSW Digital Design System - List items</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex" />
  <link rel="icon" href="/nsw-design-system/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone" rel="stylesheet">

  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TMEHXHFJXJ"></script>
<script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","G-TMEHXHFJXJ");</script>
</head>

<body>

<div class="nsw-container nsw-p-y-sm">
  <div class="nsw-layout">
    <main class="nsw-layout__main">
  		<div class="nsw-list-item">
  		  <div class="nsw-list-item__content">
  		    <div class="nsw-list-item__title"><a href="#">Creating a Digital Design System for NSW Government</a></div>
  		    <div class="nsw-list-item__copy">A lot of exciting things are happening across the NSW Government in the digital space, but there’s currently no consistent approach for how we design digital services, reusable…</div>
  		  </div>
  		</div>
  		<div class="nsw-list-item nsw-list-item--block">
  		  <div class="nsw-list-item__content">
  		    <div class="nsw-list-item__title"><a href="#">Creating a Digital Design System for NSW Government</a></div>
  		    <div class="nsw-list-item__copy">A lot of exciting things are happening across the NSW Government in the digital space, but there’s currently no consistent approach for how we design digital services, reusable…</div>
  		  </div>
  		</div>
  		<div class="nsw-list-item nsw-list-item--block">
  		  <div class="nsw-list-item__content">
  		    <div class="nsw-list-item__title"><a href="#">Creating a Digital Design System for NSW Government</a></div>
  		    <div class="nsw-list-item__info">https://www.digital.nsw.gov.au/article/creating-digital-design-system-for-nsw-government</div>
  		    <div class="nsw-list-item__copy">A lot of exciting things are happening across the NSW Government in the digital space, but there’s currently no consistent approach for how we design digital services, reusable…</div>
  		  </div>
  		</div>
  		<div class="nsw-list-item">
  		  <div class="nsw-list-item__content">
  		    <div class="nsw-list-item__label">Stories</div>
  		    <div class="nsw-list-item__info">July 19, 2023</div>
  		    <div class="nsw-list-item__title"><a href="#">Creating a Digital Design System for NSW Government</a></div>
  		    <div class="nsw-list-item__copy">A lot of exciting things are happening across the NSW Government in the digital space, but there’s currently no consistent approach for how we design digital services, reusable…</div>
  		  </div>
  		</div>
  		<div class="nsw-list-item">
  		  <div class="nsw-list-item__content">
  		    <div class="nsw-list-item__label">Stories</div>
  		    <div class="nsw-list-item__title"><a href="#">Creating a Digital Design System for NSW Government</a></div>
  		    <div class="nsw-list-item__copy">A lot of exciting things are happening across the NSW Government in the digital space, but there’s currently no consistent approach for how we design digital services, reusable…</div>
  		    <div class="nsw-list-item__tags">
  		      <div class="nsw-list nsw-list--8">
  		        <span class="nsw-tag">Digital Design System</span>
  		        <span class="nsw-tag">Transformation</span>
  		      </div>
  		    </div>
  		  </div>
  		</div>
  		<div class="nsw-list-item nsw-list-item--block">
  		  <div class="nsw-list-item__content">
  		    <div class="nsw-list-item__label">Stories</div>
  		    <div class="nsw-list-item__info">July 19, 2023</div>
  		    <div class="nsw-list-item__title"><a href="#">Creating a Digital Design System for NSW Government</a></div>
  		    <div class="nsw-list-item__copy">A lot of exciting things are happening across the NSW Government in the digital space, but there’s currently no consistent approach for how we design digital services, reusable…</div>
  		  </div>
  		  <div class="nsw-list-item__image">
  		    <img src="https://picsum.photos/id/3/400/200" alt="">
  		  </div>
  		</div>
  		<div class="nsw-list-item nsw-list-item--reversed nsw-list-item--block">
  		  <div class="nsw-list-item__content">
  		    <div class="nsw-list-item__label">Stories</div>
  		    <div class="nsw-list-item__info">July 19, 2023</div>
  		    <div class="nsw-list-item__title"><a href="#">Creating a Digital Design System for NSW Government</a></div>
  		    <div class="nsw-list-item__copy">A lot of exciting things are happening across the NSW Government in the digital space, but there’s currently no consistent approach for how we design digital services, reusable…</div>
  		  </div>
  		  <div class="nsw-list-item__image">
  		    <img src="https://picsum.photos/id/3/400/200" alt="">
  		  </div>
  		</div>
  	</main>
  	<div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
  </div>
</div>

  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
