<!doctype html>
<html lang="en" class="no-js">
<head>
  <title>NSW Digital Design System - Steps</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex" />
  <link rel="icon" href="/nsw-design-system/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TMEHXHFJXJ"></script>
<script>window.dataLayer=window.dataLayer||[];functiongtag(){dataLayer.push(arguments);}gtag("js",newDate());gtag("config","G-TMEHXHFJXJ");</script>
</head>

<body>
<div class="nsw-container nsw-p-y-sm">
  <div class="nsw-layout">
    <main class="nsw-layout__main">
  		<div class="nsw-steps">
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Discovery</h2>
  		      <p>Understand your users, their challenges, and what motivates their behaviour.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Alpha</h2>
  		      <p>Test hypotheses and different approaches with users rapidly to determine how to best meet identified user needs.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Beta</h2>
  		      <p>Turn best-performing prototype into a working “minimum viable product” - the quickest and simplest version of a service to meet basic user needs and provide value.</p>
  		    </div>
  		  </div>
  		</div>
  		<div class="nsw-docs__section nsw-docs__section--light"> 
  		<div class="nsw-steps nsw-steps--dark">
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Discovery</h2>
  		      <p>Understand your users, their challenges, and what motivates their behaviour.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Alpha</h2>
  		      <p>Test hypotheses and different approaches with users rapidly to determine how to best meet identified user needs.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Beta</h2>
  		      <p>Turn best-performing prototype into a working “minimum viable product” - the quickest and simplest version of a service to meet basic user needs and provide value.</p>
  		    </div>
  		  </div>
  		</div>
  		</div>
  		<div class="nsw-docs__section nsw-docs__section--dark nsw-section--invert">
  		<div class="nsw-steps nsw-steps--light">
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Discovery</h2>
  		      <p>Understand your users, their challenges, and what motivates their behaviour.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Alpha</h2>
  		      <p>Test hypotheses and different approaches with users rapidly to determine how to best meet identified user needs.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Beta</h2>
  		      <p>Turn best-performing prototype into a working “minimum viable product” - the quickest and simplest version of a service to meet basic user needs and provide value.</p>
  		    </div>
  		  </div>
  		</div>
  		</div>
  		<div class="nsw-steps nsw-steps--supplementary">
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Discovery</h2>
  		      <p>Understand your users, their challenges, and what motivates their behaviour.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Alpha</h2>
  		      <p>Test hypotheses and different approaches with users rapidly to determine how to best meet identified user needs.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Beta</h2>
  		      <p>Turn best-performing prototype into a working “minimum viable product” - the quickest and simplest version of a service to meet basic user needs and provide value.</p>
  		    </div>
  		  </div>
  		</div>
  		<div class="nsw-steps">
  		  <div class="nsw-steps__item nsw-steps__item--fill">
  		    <div class="nsw-steps__content">
  		      <h2>Discovery</h2>
  		      <p>Understand your users, their challenges, and what motivates their behaviour.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Alpha</h2>
  		      <p>Test hypotheses and different approaches with users rapidly to determine how to best meet identified user needs.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Beta</h2>
  		      <p>Turn best-performing prototype into a working “minimum viable product” - the quickest and simplest version of a service to meet basic user needs and provide value.</p>
  		    </div>
  		  </div>
  		</div>
  		<div class="nsw-steps nsw-steps--fill">
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Discovery</h2>
  		      <p>Understand your users, their challenges, and what motivates their behaviour.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Alpha</h2>
  		      <p>Test hypotheses and different approaches with users rapidly to determine how to best meet identified user needs.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Beta</h2>
  		      <p>Turn best-performing prototype into a working “minimum viable product” - the quickest and simplest version of a service to meet basic user needs and provide value.</p>
  		    </div>
  		  </div>
  		</div>
  		<div class="nsw-docs__section nsw-docs__section--light"> 
  		<div class="nsw-steps nsw-steps--fill nsw-steps--dark">
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Discovery</h2>
  		      <p>Understand your users, their challenges, and what motivates their behaviour.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Alpha</h2>
  		      <p>Test hypotheses and different approaches with users rapidly to determine how to best meet identified user needs.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Beta</h2>
  		      <p>Turn best-performing prototype into a working “minimum viable product” - the quickest and simplest version of a service to meet basic user needs and provide value.</p>
  		    </div>
  		  </div>
  		</div>
  		</div>
  		<div class="nsw-docs__section nsw-docs__section--dark nsw-section--invert">
  		<div class="nsw-steps nsw-steps--fill nsw-steps--light">
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Discovery</h2>
  		      <p>Understand your users, their challenges, and what motivates their behaviour.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Alpha</h2>
  		      <p>Test hypotheses and different approaches with users rapidly to determine how to best meet identified user needs.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Beta</h2>
  		      <p>Turn best-performing prototype into a working “minimum viable product” - the quickest and simplest version of a service to meet basic user needs and provide value.</p>
  		    </div>
  		  </div>
  		</div>
  		</div>
  		<div class="nsw-steps nsw-steps--fill nsw-steps--supplementary">
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Discovery</h2>
  		      <p>Understand your users, their challenges, and what motivates their behaviour.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Alpha</h2>
  		      <p>Test hypotheses and different approaches with users rapidly to determine how to best meet identified user needs.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Beta</h2>
  		      <p>Turn best-performing prototype into a working “minimum viable product” - the quickest and simplest version of a service to meet basic user needs and provide value.</p>
  		    </div>
  		  </div>
  		</div>
  		<div class="nsw-steps nsw-steps--counters">
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Discovery</h2>
  		      <p>Understand your users, their challenges, and what motivates their behaviour.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Alpha</h2>
  		      <p>Test hypotheses and different approaches with users rapidly to determine how to best meet identified user needs.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Beta</h2>
  		      <p>Turn best-performing prototype into a working “minimum viable product” - the quickest and simplest version of a service to meet basic user needs and provide value.</p>
  		    </div>
  		  </div>
  		</div>
  		<div class="nsw-docs__section nsw-docs__section--light"> 
  		<div class="nsw-steps nsw-steps--counters nsw-steps--dark">
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Discovery</h2>
  		      <p>Understand your users, their challenges, and what motivates their behaviour.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Alpha</h2>
  		      <p>Test hypotheses and different approaches with users rapidly to determine how to best meet identified user needs.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Beta</h2>
  		      <p>Turn best-performing prototype into a working “minimum viable product” - the quickest and simplest version of a service to meet basic user needs and provide value.</p>
  		    </div>
  		  </div>
  		</div>
  		</div>
  		<div class="nsw-docs__section nsw-docs__section--dark nsw-section--invert">
  		<div class="nsw-steps nsw-steps--counters nsw-steps--light">
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Discovery</h2>
  		      <p>Understand your users, their challenges, and what motivates their behaviour.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Alpha</h2>
  		      <p>Test hypotheses and different approaches with users rapidly to determine how to best meet identified user needs.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Beta</h2>
  		      <p>Turn best-performing prototype into a working “minimum viable product” - the quickest and simplest version of a service to meet basic user needs and provide value.</p>
  		    </div>
  		  </div>
  		</div>
  		</div>
  		<div class="nsw-steps nsw-steps--counters nsw-steps--supplementary">
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Discovery</h2>
  		      <p>Understand your users, their challenges, and what motivates their behaviour.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Alpha</h2>
  		      <p>Test hypotheses and different approaches with users rapidly to determine how to best meet identified user needs.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Beta</h2>
  		      <p>Turn best-performing prototype into a working “minimum viable product” - the quickest and simplest version of a service to meet basic user needs and provide value.</p>
  		    </div>
  		  </div>
  		</div>
  		<div class="nsw-steps nsw-steps--counters">
  		  <div class="nsw-steps__item nsw-steps__item--fill">
  		    <div class="nsw-steps__content">
  		      <h2>Discovery</h2>
  		      <p>Understand your users, their challenges, and what motivates their behaviour.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Alpha</h2>
  		      <p>Test hypotheses and different approaches with users rapidly to determine how to best meet identified user needs.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Beta</h2>
  		      <p>Turn best-performing prototype into a working “minimum viable product” - the quickest and simplest version of a service to meet basic user needs and provide value.</p>
  		    </div>
  		  </div>
  		</div>
  		<div class="nsw-steps nsw-steps--fill nsw-steps--counters">
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Discovery</h2>
  		      <p>Understand your users, their challenges, and what motivates their behaviour.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Alpha</h2>
  		      <p>Test hypotheses and different approaches with users rapidly to determine how to best meet identified user needs.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Beta</h2>
  		      <p>Turn best-performing prototype into a working “minimum viable product” - the quickest and simplest version of a service to meet basic user needs and provide value.</p>
  		    </div>
  		  </div>
  		</div>
  		<div class="nsw-docs__section nsw-docs__section--light"> 
  		<div class="nsw-steps nsw-steps--fill nsw-steps--counters nsw-steps--dark">
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Discovery</h2>
  		      <p>Understand your users, their challenges, and what motivates their behaviour.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Alpha</h2>
  		      <p>Test hypotheses and different approaches with users rapidly to determine how to best meet identified user needs.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Beta</h2>
  		      <p>Turn best-performing prototype into a working “minimum viable product” - the quickest and simplest version of a service to meet basic user needs and provide value.</p>
  		    </div>
  		  </div>
  		</div>
  		</div>
  		<div class="nsw-docs__section nsw-docs__section--dark nsw-section--invert">
  		<div class="nsw-steps nsw-steps--fill nsw-steps--counters nsw-steps--light">
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Discovery</h2>
  		      <p>Understand your users, their challenges, and what motivates their behaviour.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Alpha</h2>
  		      <p>Test hypotheses and different approaches with users rapidly to determine how to best meet identified user needs.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Beta</h2>
  		      <p>Turn best-performing prototype into a working “minimum viable product” - the quickest and simplest version of a service to meet basic user needs and provide value.</p>
  		    </div>
  		  </div>
  		</div>
  		</div>
  		<div class="nsw-steps nsw-steps--fill nsw-steps--counters nsw-steps--supplementary">
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Discovery</h2>
  		      <p>Understand your users, their challenges, and what motivates their behaviour.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Alpha</h2>
  		      <p>Test hypotheses and different approaches with users rapidly to determine how to best meet identified user needs.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h2>Beta</h2>
  		      <p>Turn best-performing prototype into a working “minimum viable product” - the quickest and simplest version of a service to meet basic user needs and provide value.</p>
  		    </div>
  		  </div>
  		</div>
  		<div class="nsw-steps nsw-steps--medium">
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h3>Discovery</h3>
  		      <p>Understand your users, their challenges, and what motivates their behaviour.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h3>Alpha</h3>
  		      <p>Test hypotheses and different approaches with users rapidly to determine how to best meet identified user needs.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h3>Beta</h3>
  		      <p>Turn best-performing prototype into a working “minimum viable product” - the quickest and simplest version of a service to meet basic user needs and provide value.</p>
  		    </div>
  		  </div>
  		</div>
  		<div class="nsw-steps nsw-steps--small">
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h4>Discovery</h4>
  		      <p>Understand your users, their challenges, and what motivates their behaviour.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h4>Alpha</h4>
  		      <p>Test hypotheses and different approaches with users rapidly to determine how to best meet identified user needs.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-steps__item">
  		    <div class="nsw-steps__content">
  		      <h4>Beta</h4>
  		      <p>Turn best-performing prototype into a working “minimum viable product” - the quickest and simplest version of a service to meet basic user needs and provide value.</p>
  		    </div>
  		  </div>
  		</div>
  	</main>
  	<div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
  </div>
</div>

  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
