---
title: Spacing
order: 60
no-blank: true
directory: spacing
intro: A defined set of spacing units provides good alignment and consistent spacing relationships in components and layout.
---

<h2>Responsive spacing</h2>
<p>Spacing is recommended using an 8-pixel grid with pre-set responsive spacing units that can be used to create consistent spacing relationships across breakpoints.</p>
<div class="nsw-section nsw-section--white nsw-block nsw-p-x-sm nsw-p-top-sm">
  <div class="nsw-table nsw-table--valign-middle">
    <table>
      <tbody>
      <tr>
        <th>Spacing token</th>
        <th>0 - 767px</th>
        <th>768px +</th>
      </tr>
      <tr>
        <td>xs</td>
        <td>4px</td>
        <td>8px</td>
      </tr>
      <tr>
        <td>sm</td>
        <td>8px</td>
        <td>16px</td>
      </tr>
      <tr>
        <td>md</td>
        <td>16px</td>
        <td>32px</td>
      </tr>
      <tr>
        <td>lg</td>
        <td>24px</td>
        <td>48px</td>
      </tr>
      <tr>
        <td>xl</td>
        <td>32px</td>
        <td>64px</td>
      </tr>
      <tr>
        <td>xxl</td>
        <td>40px</td>
        <td>80px</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<h2>Helper classes</h2>
<p>Add responsive margin or padding values to entire element or its sides with shorthand classes.</p>
<p>The classes are named using the format <code>nsw-{property}-{sides}-{size}</code>.</p>
<p>Where <strong>property</strong> is one of:</p>
<ul>
  <li><strong>m</strong> - for classes that set margin</li>
  <li><strong>p</strong> - for classes that set padding</li>
</ul>
<p>Where <strong>sides</strong> is one of:</p>
<ul>
  <li><strong>top</strong> - for classes that set margin-top or padding-top</li>
  <li><strong>bottom</strong> - for classes that set margin-bottom or padding-bottom
  </li>
  <li><strong>left</strong> - for classes that set margin-left or padding-left
  </li>
  <li><strong>right</strong> - for classes that set margin-right or padding-right
  </li>
  <li><strong>x</strong> - for classes that set margin or padding on both left and right
  </li>
  <li><strong>y</strong> - for classes that set margin or padding on both top and bottom
  </li>
  <li><strong>blank</strong> - for classes that set a margin or padding on all 4 sides of the element
  </li>
</ul>
<p>Where <strong>size</strong> is one of the responsive spacing tokens: <strong>xs, sm, md, lg, xl, xxl</strong>. </p>
<p>Here is a demo of creating a banner component using utility classes alone:</p>

{{#>_docs-example simple="true" separated="true"}}
  <div class="nsw-section nsw-section--brand-dark nsw-p-x-md">
    <small>label</small>
    <h1 class="nsw-m-top-md">This is a heading</h1>
    <div class="nsw-m-bottom-lg">
      <p class="nsw-intro">This is a intro text with longer vertical space to the button</p>
    </div>
    <button class="nsw-button nsw-button--white">Button</button>
  </div>
{{/_docs-example}}
