<!doctype html>
<html lang="en" class="no-js">
<head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-49T9M12F86"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-49T9M12F86');
</script>

  <title>NSW Digital Design System - Forms</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://digitalnsw.github.io/nsw-design-system/nsw-og-image.jpg">
  <meta name="robots" content="noindex" />
  <link rel="icon" href="/nsw-design-system/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone" rel="stylesheet">
  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
  <!-- Hotjar Tracking Code for NSW Design System -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:5063548,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
</head>

<body>


<section class="nsw-section">
  <div class="nsw-container nsw-p-y-sm">
    <div class="nsw-layout">
      <main class="nsw-layout__main">
        <div class="nsw-form">
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="form-text-1">Name</label>
            <input class="nsw-form__input" type="text" id="form-text-1" name="form-text-1">
          </div>
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="form-textarea-1">Comment</label>
            <textarea class="nsw-form__input" name="textarea" id="form-textarea-1"></textarea>
          </div>
        
          <div class="nsw-form__group">
            <div class="nsw-form__input-group">
              <label class="sr-only" for="form-input-group-1">Search</label>
              <input class="nsw-form__input" type="text" id="form-input-group-1" name="form-input-group-1" value="">
              <button class="nsw-button nsw-button--dark nsw-button--flex" type="submit">Search</button>
            </div>
          </div>
          <div class="nsw-form__group">
            <div class="nsw-form__input-group nsw-form__input-group--icon">
              <label class="sr-only" for="form-input-group-icon-1">Search</label>
              <input class="nsw-form__input" type="text" id="form-input-group-icon-1" name="form-input-group-icon-1" value="">
              <button class="nsw-button nsw-button--dark nsw-button--flex" type="submit"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">search</span><span class="sr-only">Search</span></button>
            </div>
          </div>
          <div class="nsw-form__group">
            <div class="nsw-form__input-group nsw-form__input-group--icon">
              <label class="sr-only" for="form-input-group-icon-2">Search</label>
              <input class="nsw-form__input" type="text" id="form-input-group-icon-2" name="form-input-group-icon-2" value="">
              <button class="nsw-button nsw-button--white nsw-button--flex" type="submit"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">search</span><span class="sr-only">Search</span></button>
            </div>
          </div>
        
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="form-predictive-text-1">Suburb</label>
            <div class="nsw-form__predictive">
              <input class="nsw-form__input" type="text" id="form-predictive-text-1" name="form-predictive-text-1" value="Horn" aria-autocomplete="list" autocomplete="off">
              <ul class="nsw-form__predictive-list">
                <li><a href="#"><span>Horn</span>sby</a></li>
                <li><a href="#"><span>Horn</span>sby Heights</a></li>
                <li><a href="#"><span>Horn</span>ingsea Park</a></li>
              </ul>
            </div>
          </div>
          <br><br><br><br><br><br>
          <div class="nsw-form__group">
            <div class="nsw-form__predictive">
              <div class="nsw-form__input-group">
                <label class="sr-only" for="form-predictive-group-1">Search</label>
                <input class="nsw-form__input" type="text" id="form-predictive-group-1" name="form-predictive-group-1" value="Tran" aria-autocomplete="list" autocomplete="off">
                <button class="nsw-button nsw-button--dark nsw-button--flex" type="submit">Search</button>
              </div>
              <ul class="nsw-form__predictive-list">
                <li><a href="#"><span>Tran</span>sport</a></li>
                <li><a href="#">Road <span>Tran</span>sport</a></li>
                <li><a href="#">Public <span>Tran</span>sport</a></li>
              </ul>
            </div>
          </div>
          <br><br><br><br><br><br>
          <div class="nsw-form__group">
            <div class="nsw-form__predictive">
              <div class="nsw-form__input-group nsw-form__input-group--icon">
                <label class="sr-only" for="form-predictive-group-icon-1">Search</label>
                <input class="nsw-form__input" type="text" id="form-predictive-group-icon-1" name="form-predictive-group-icon-1" value="Govern" aria-autocomplete="list" autocomplete="off">
                <button class="nsw-button nsw-button--dark nsw-button--flex" type="submit"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">search</span><span class="sr-only">Search</span></button>
              </div>
              <ul class="nsw-form__predictive-list">
                <li><a href="#"><span>Govern</span>ment</a></li>
                <li><a href="#"><span>Govern</span>ment payments</a></li>
                <li><a href="#"><span>Govern</span>ance</a></li>
              </ul>
            </div>
          </div>
          <br><br><br><br><br><br>
        
          <div class="nsw-form__group">
            <fieldset class="nsw-form__date">
              <legend>
                <span class="nsw-form__label">Date of birth</span>
              </legend>
              <div class="nsw-form__date-wrapper">
                <div class="nsw-form__date-input">
                  <label for="form-date-1-day" class="nsw-form__label nsw-form__label--small">Day</label>
                  <input type="text" maxlength="2" id="form-date-1-day" name="form-date-1-day" class="nsw-form__input">
                </div>
                <div class="nsw-form__date-input">
                  <label for="form-date-1-month" class="nsw-form__label nsw-form__label--small">Month</label>
                  <input type="text" maxlength="2" id="form-date-1-month" name="form-date-1-month" class="nsw-form__input">
                </div>
                <div class="nsw-form__date-input nsw-form__date-input--large">
                  <label for="form-date-1-year" class="nsw-form__label nsw-form__label--small">Year</label>
                  <input type="text" maxlength="4" id="form-date-1-year" name="form-date-1-year" class="nsw-form__input">
                </div>
              </div>
            </fieldset>
          </div>
        
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="form-select-1">Region</label>
              <select class="nsw-form__select" name="form-select-1" id="form-select-1"><option value="">Please select</option>
                <option value="Central Coast">Central Coast</option>
                <option value="Central West &amp; Orana">Central West &amp; Orana</option>
                <option value="Far West">Far West</option>
                <option value="Hunter">Hunter</option>
                <option value="Illawarra-Shoalhaven">Illawarra-Shoalhaven</option>
                <option value="New England &amp; North West">New England &amp; North West</option>
                <option value="North Coast">North Coast</option>
                <option value="Riverina Murray">Riverina Murray</option>
              </select>  </div>
        
          <div class="nsw-form__group">
            <input class="nsw-form__checkbox-input" type="checkbox" name="form-checkbox-1" id="form-checkbox-1">
            <label class="nsw-form__checkbox-label" for="form-checkbox-1">I agree to terms and conditions</label>
          </div>
          <div class="nsw-form__group">
            <fieldset class="nsw-form__fieldset">
              <legend>
                <span class="nsw-form__legend">Category</span>
              </legend>
              <input class="nsw-form__checkbox-input" type="checkbox" name="form-checkbox-multi-1" id="form-checkbox-multi-1-a">
              <label class="nsw-form__checkbox-label" for="form-checkbox-multi-1-a">Customer Service</label>
              <input class="nsw-form__checkbox-input" type="checkbox" name="form-checkbox-multi-1" id="form-checkbox-multi-1-b" checked>
              <label class="nsw-form__checkbox-label" for="form-checkbox-multi-1-b">Communities and Justice</label>
            </fieldset>
          </div>
        
          <div class="nsw-form__group">
            <fieldset class="nsw-form__fieldset">
              <legend>
                <span class="nsw-form__legend">Topic</span>
              </legend>
              <input class="nsw-form__radio-input" type="radio" name="form-radio-1" id="form-radio-1-a" checked>
              <label class="nsw-form__radio-label" for="form-radio-1-a">NSW Government</label>
              <input class="nsw-form__radio-input" type="radio" name="form-radio-1" id="form-radio-1-b">
              <label class="nsw-form__radio-label" for="form-radio-1-b">Business and Economy</label>
            </fieldset>
          </div>
        </div>
        
        <div class="nsw-form">
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="form-text-2">Name</label>
            <span class="nsw-form__helper" id="form-text-2-helper-text">As it appears on your identity document</span>
            <input class="nsw-form__input" type="text" id="form-text-2" name="form-text-2" aria-describedby="form-text-2-helper-text">
          </div>
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="form-textarea-2">Comment</label>
            <span class="nsw-form__helper" id="form-textarea-2-helper-text">Maximum 500 characters</span>
            <textarea class="nsw-form__input" name="textarea" id="form-textarea-2" aria-describedby="form-textarea-2-helper-text"></textarea>
          </div>
        
          <div class="nsw-form__group">
            <fieldset class="nsw-form__date">
              <legend>
                <span class="nsw-form__label">Date of birth</span>
                <span id="form-date-2-helper-text" class="nsw-form__helper">For example 08 12 1990</span>
              </legend>
              <div class="nsw-form__date-wrapper">
                <div class="nsw-form__date-input">
                  <label for="form-date-2-day" class="nsw-form__label nsw-form__label--small">Day</label>
                  <input type="text" maxlength="2" id="form-date-2-day" name="form-date-2-day" class="nsw-form__input">
                </div>
                <div class="nsw-form__date-input">
                  <label for="form-date-2-month" class="nsw-form__label nsw-form__label--small">Month</label>
                  <input type="text" maxlength="2" id="form-date-2-month" name="form-date-2-month" class="nsw-form__input">
                </div>
                <div class="nsw-form__date-input nsw-form__date-input--large">
                  <label for="form-date-2-year" class="nsw-form__label nsw-form__label--small">Year</label>
                  <input type="text" maxlength="4" id="form-date-2-year" name="form-date-2-year" class="nsw-form__input">
                </div>
              </div>
            </fieldset>
          </div>
        
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="form-select-2">Region</label>
            <span class="nsw-form__helper" id="form-select-2-helper-text">Your region of residence</span>
              <select class="nsw-form__select" name="form-select-2" id="form-select-2" aria-describedby="form-select-2-helper-text"><option value="">Please select</option>
                <option value="Central Coast">Central Coast</option>
                <option value="Central West &amp; Orana">Central West &amp; Orana</option>
                <option value="Far West">Far West</option>
                <option value="Hunter">Hunter</option>
                <option value="Illawarra-Shoalhaven">Illawarra-Shoalhaven</option>
                <option value="New England &amp; North West">New England &amp; North West</option>
                <option value="North Coast">North Coast</option>
                <option value="Riverina Murray">Riverina Murray</option>
              </select>  </div>
        
          <div class="nsw-form__group">
            <fieldset class="nsw-form__fieldset">
              <legend>
                <span class="nsw-form__legend">Category</span>
                <span class="nsw-form__helper">Select all that applies to you</span>
              </legend>
              <input class="nsw-form__checkbox-input" type="checkbox" name="form-checkbox-multi-2" id="form-checkbox-multi-2-a">
              <label class="nsw-form__checkbox-label" for="form-checkbox-multi-2-a">Customer Service</label>
              <input class="nsw-form__checkbox-input" type="checkbox" name="form-checkbox-multi-2" id="form-checkbox-multi-2-b">
              <label class="nsw-form__checkbox-label" for="form-checkbox-multi-2-b">Communities and Justice</label>
            </fieldset>
          </div>
        
          <div class="nsw-form__group">
            <fieldset class="nsw-form__fieldset">
              <legend>
                <span class="nsw-form__legend">Topic</span>
                <span class="nsw-form__helper">Select closest match</span>
              </legend>
              <input class="nsw-form__radio-input" type="radio" name="form-radio-2" id="form-radio-2-a">
              <label class="nsw-form__radio-label" for="form-radio-2-a">NSW Government</label>
              <input class="nsw-form__radio-input" type="radio" name="form-radio-2" id="form-radio-2-b">
              <label class="nsw-form__radio-label" for="form-radio-2-b">Business and Economy</label>
            </fieldset>
          </div>
        </div>
        
        <div class="nsw-form">
          <div class="nsw-form__group">
            <label class="nsw-form__label nsw-form__required" for="form-text-3">Name<span class="sr-only"> (required)</span></label>
            <input class="nsw-form__input" type="text" id="form-text-3" name="form-text-3" aria-invalid="true">
            <span class="nsw-form__helper nsw-form__helper--error" id="form-text-3-error-text"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>This field is required</span>
          </div>
          <div class="nsw-form__group">
            <label class="nsw-form__label nsw-form__required" for="form-textarea-3">Comment<span class="sr-only"> (required)</span></label>
            <textarea class="nsw-form__input" name="textarea" id="form-textarea-3" aria-invalid="true"></textarea>
            <span class="nsw-form__helper nsw-form__helper--error" id="form-textarea-3-error-text"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>This field is required</span>
          </div>
        
          <div class="nsw-form__group">
            <fieldset class="nsw-form__date">
              <legend>
                <span class="nsw-form__label nsw-form__required">Date of birth<span class="sr-only"> (required)</span></span>
              </legend>
              <div class="nsw-form__date-wrapper">
                <div class="nsw-form__date-input">
                  <label for="form-date-3-day" class="nsw-form__label nsw-form__label--small">Day</label>
                  <input type="text" maxlength="2" id="form-date-3-day" name="form-date-3-day" class="nsw-form__input" aria-invalid="true">
                </div>
                <div class="nsw-form__date-input">
                  <label for="form-date-3-month" class="nsw-form__label nsw-form__label--small">Month</label>
                  <input type="text" maxlength="2" id="form-date-3-month" name="form-date-3-month" class="nsw-form__input" aria-invalid="true">
                </div>
                <div class="nsw-form__date-input nsw-form__date-input--large">
                  <label for="form-date-3-year" class="nsw-form__label nsw-form__label--small">Year</label>
                  <input type="text" maxlength="4" id="form-date-3-year" name="form-date-3-year" class="nsw-form__input" aria-invalid="true">
                </div>
              </div>
            </fieldset>
            <span id="form-date-3-error-text" class="nsw-form__helper nsw-form__helper--error"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>This field is required</span>
          </div>
        
          <div class="nsw-form__group">
            <label class="nsw-form__label nsw-form__required" for="form-select-3">Region<span class="sr-only"> (required)</span></label>
              <select class="nsw-form__select" name="form-select-3" id="form-select-3" aria-invalid="true"><option value="">Please select</option>
                <option value="Central Coast">Central Coast</option>
                <option value="Central West &amp; Orana">Central West &amp; Orana</option>
                <option value="Far West">Far West</option>
                <option value="Hunter">Hunter</option>
                <option value="Illawarra-Shoalhaven">Illawarra-Shoalhaven</option>
                <option value="New England &amp; North West">New England &amp; North West</option>
                <option value="North Coast">North Coast</option>
                <option value="Riverina Murray">Riverina Murray</option>
              </select>
            <span id="form-select-3-error-text" class="nsw-form__helper nsw-form__helper--error"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>This field is required</span>  </div>
        
          <div class="nsw-form__group">
            <input class="nsw-form__checkbox-input" type="checkbox" name="form-checkbox-3" id="form-checkbox-3" aria-describedby="form-checkbox-3-error-text" aria-invalid="true">
            <label class="nsw-form__checkbox-label" for="form-checkbox-3">I agree to terms and conditions<span class="nsw-form__required"></span><span class="sr-only"> (required)</span></label>
            <span id="form-checkbox-3-error-text" class="nsw-form__helper nsw-form__helper--error"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>This field is required</span>
          </div>
          <div class="nsw-form__group">
            <fieldset class="nsw-form__fieldset">
              <legend>
                <span class="nsw-form__legend nsw-form__required">Category<span class="sr-only"> (required)</span></span>
                <span class="nsw-form__helper nsw-form__helper--error"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>This field is required</span>
              </legend>
              <input class="nsw-form__checkbox-input" type="checkbox" name="form-checkbox-multi-3" id="form-checkbox-multi-3-a">
              <label class="nsw-form__checkbox-label" for="form-checkbox-multi-3-a">Customer Service</label>
              <input class="nsw-form__checkbox-input" type="checkbox" name="form-checkbox-multi-3" id="form-checkbox-multi-3-b">
              <label class="nsw-form__checkbox-label" for="form-checkbox-multi-3-b">Communities and Justice</label>
            </fieldset>
          </div>
        
          <div class="nsw-form__group">
            <fieldset class="nsw-form__fieldset">
              <legend>
                <span class="nsw-form__legend nsw-form__required">Topic<span class="sr-only"> (required)</span></span>
                <span class="nsw-form__helper nsw-form__helper--error"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>This field is required</span>
              </legend>
              <input class="nsw-form__radio-input" type="radio" name="form-radio-3" id="form-radio-3-a">
              <label class="nsw-form__radio-label" for="form-radio-3-a">NSW Government</label>
              <input class="nsw-form__radio-input" type="radio" name="form-radio-3" id="form-radio-3-b">
              <label class="nsw-form__radio-label" for="form-radio-3-b">Business and Economy</label>
            </fieldset>
          </div>
        </div>
        
        <div class="nsw-form">
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="form-text-4">Name</label>
            <input class="nsw-form__input" type="text" id="form-text-4" name="form-text-4">
            <span class="nsw-form__helper nsw-form__helper--valid" id="form-text-4-valid-text"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">check_circle</span>This field has been validated</span>
          </div>
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="form-textarea-4">Comment</label>
            <textarea class="nsw-form__input" name="textarea" id="form-textarea-4"></textarea>
            <span class="nsw-form__helper nsw-form__helper--valid" id="form-textarea-4-valid-text"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">check_circle</span>This field has been validated</span>
          </div>
        
          <div class="nsw-form__group">
            <fieldset class="nsw-form__date">
              <legend>
                <span class="nsw-form__label">Date of birth</span>
              </legend>
              <div class="nsw-form__date-wrapper">
                <div class="nsw-form__date-input">
                  <label for="form-date-4-day" class="nsw-form__label nsw-form__label--small">Day</label>
                  <input type="text" maxlength="2" id="form-date-4-day" name="form-date-4-day" class="nsw-form__input">
                </div>
                <div class="nsw-form__date-input">
                  <label for="form-date-4-month" class="nsw-form__label nsw-form__label--small">Month</label>
                  <input type="text" maxlength="2" id="form-date-4-month" name="form-date-4-month" class="nsw-form__input">
                </div>
                <div class="nsw-form__date-input nsw-form__date-input--large">
                  <label for="form-date-4-year" class="nsw-form__label nsw-form__label--small">Year</label>
                  <input type="text" maxlength="4" id="form-date-4-year" name="form-date-4-year" class="nsw-form__input">
                </div>
              </div>
            </fieldset>
            
            <span id="form-date-4-valid-text" class="nsw-form__helper nsw-form__helper--valid"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">check_circle</span>This field has been validated</span>
          </div>
        
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="form-select-4">Region</label>
              <select class="nsw-form__select" name="form-select-4" id="form-select-4"><option value="">Please select</option>
                <option value="Central Coast">Central Coast</option>
                <option value="Central West &amp; Orana">Central West &amp; Orana</option>
                <option value="Far West">Far West</option>
                <option value="Hunter">Hunter</option>
                <option value="Illawarra-Shoalhaven">Illawarra-Shoalhaven</option>
                <option value="New England &amp; North West">New England &amp; North West</option>
                <option value="North Coast">North Coast</option>
                <option value="Riverina Murray">Riverina Murray</option>
              </select>
            <span id="form-select-4-valid-text" class="nsw-form__helper nsw-form__helper--valid"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">check_circle</span>This field has been validated</span>  </div>
        
          <div class="nsw-form__group">
            <input class="nsw-form__checkbox-input" type="checkbox" name="form-checkbox-4" id="form-checkbox-4">
            <label class="nsw-form__checkbox-label" for="form-checkbox-4">I agree to terms and conditions</label>
            <span id="form-checkbox-4-valid-text" class="nsw-form__helper nsw-form__helper--valid"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">check_circle</span>This field has been validated</span>
          </div>
          <div class="nsw-form__group">
            <fieldset class="nsw-form__fieldset">
              <legend>
                <span class="nsw-form__legend">Category</span>
                <span class="nsw-form__helper nsw-form__helper--valid"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">check_circle</span>This field has been validated</span>
              </legend>
              <input class="nsw-form__checkbox-input" type="checkbox" name="form-checkbox-multi-4" id="form-checkbox-multi-4-a">
              <label class="nsw-form__checkbox-label" for="form-checkbox-multi-4-a">Customer Service</label>
              <input class="nsw-form__checkbox-input" type="checkbox" name="form-checkbox-multi-4" id="form-checkbox-multi-4-b">
              <label class="nsw-form__checkbox-label" for="form-checkbox-multi-4-b">Communities and Justice</label>
            </fieldset>
          </div>
        
          <div class="nsw-form__group">
            <fieldset class="nsw-form__fieldset">
              <legend>
                <span class="nsw-form__legend">Topic</span>
                <span class="nsw-form__helper nsw-form__helper--valid"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">check_circle</span>This field has been validated</span>
              </legend>
              <input class="nsw-form__radio-input" type="radio" name="form-radio-4" id="form-radio-4-a">
              <label class="nsw-form__radio-label" for="form-radio-4-a">NSW Government</label>
              <input class="nsw-form__radio-input" type="radio" name="form-radio-4" id="form-radio-4-b">
              <label class="nsw-form__radio-label" for="form-radio-4-b">Business and Economy</label>
            </fieldset>
          </div>
        </div>
      </main>
      <div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
    </div>
  </div>
</section>

<section class="nsw-section nsw-section--brand-dark nsw-section--invert">
  <div class="nsw-container nsw-p-y-sm">
    <div class="nsw-layout">
      <main class="nsw-layout__main">
        
        <div class="nsw-form">
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="form-text-11">Name</label>
            <input class="nsw-form__input" type="text" id="form-text-11" name="form-text-11">
          </div>
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="form-textarea-11">Comment</label>
            <textarea class="nsw-form__input" name="textarea" id="form-textarea-11"></textarea>
          </div>
        
          <div class="nsw-form__group">
            <div class="nsw-form__input-group">
              <label class="sr-only" for="form-input-group-11">Search</label>
              <input class="nsw-form__input" type="text" id="form-input-group-11" name="form-input-group-11" value="">
              <button class="nsw-button nsw-button--dark nsw-button--flex" type="submit">Search</button>
            </div>
          </div>
          <div class="nsw-form__group">
            <div class="nsw-form__input-group nsw-form__input-group--icon">
              <label class="sr-only" for="form-input-group-icon-11">Search</label>
              <input class="nsw-form__input" type="text" id="form-input-group-icon-11" name="form-input-group-icon-11" value="">
              <button class="nsw-button nsw-button--dark nsw-button--flex" type="submit"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">search</span><span class="sr-only">Search</span></button>
            </div>
          </div>
          <div class="nsw-form__group">
            <div class="nsw-form__input-group nsw-form__input-group--icon">
              <label class="sr-only" for="form-input-group-icon-12">Search</label>
              <input class="nsw-form__input" type="text" id="form-input-group-icon-12" name="form-input-group-icon-12" value="">
              <button class="nsw-button nsw-button--white nsw-button--flex" type="submit"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">search</span><span class="sr-only">Search</span></button>
            </div>
          </div>
        
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="form-predictive-text-11">Suburb</label>
            <div class="nsw-form__predictive">
              <input class="nsw-form__input" type="text" id="form-predictive-text-11" name="form-predictive-text-11" value="Horn" aria-autocomplete="list" autocomplete="off">
              <ul class="nsw-form__predictive-list">
                <li><a href="#"><span>Horn</span>sby</a></li>
                <li><a href="#"><span>Horn</span>sby Heights</a></li>
                <li><a href="#"><span>Horn</span>ingsea Park</a></li>
              </ul>
            </div>
          </div>
          <br><br><br><br><br><br>
          <div class="nsw-form__group">
            <div class="nsw-form__predictive">
              <div class="nsw-form__input-group">
                <label class="sr-only" for="form-predictive-group-11">Search</label>
                <input class="nsw-form__input" type="text" id="form-predictive-group-11" name="form-predictive-group-11" value="Tran" aria-autocomplete="list" autocomplete="off">
                <button class="nsw-button nsw-button--dark nsw-button--flex" type="submit">Search</button>
              </div>
              <ul class="nsw-form__predictive-list">
                <li><a href="#"><span>Tran</span>sport</a></li>
                <li><a href="#">Road <span>Tran</span>sport</a></li>
                <li><a href="#">Public <span>Tran</span>sport</a></li>
              </ul>
            </div>
          </div>
          <br><br><br><br><br><br>
          <div class="nsw-form__group">
            <div class="nsw-form__predictive">
              <div class="nsw-form__input-group nsw-form__input-group--icon">
                <label class="sr-only" for="form-predictive-group-icon-11">Search</label>
                <input class="nsw-form__input" type="text" id="form-predictive-group-icon-11" name="form-predictive-group-icon-11" value="Govern" aria-autocomplete="list" autocomplete="off">
                <button class="nsw-button nsw-button--dark nsw-button--flex" type="submit"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">search</span><span class="sr-only">Search</span></button>
              </div>
              <ul class="nsw-form__predictive-list">
                <li><a href="#"><span>Govern</span>ment</a></li>
                <li><a href="#"><span>Govern</span>ment payments</a></li>
                <li><a href="#"><span>Govern</span>ance</a></li>
              </ul>
            </div>
          </div>
          <br><br><br><br><br><br>
        
          <div class="nsw-form__group">
            <fieldset class="nsw-form__date">
              <legend>
                <span class="nsw-form__label">Date of birth</span>
              </legend>
              <div class="nsw-form__date-wrapper">
                <div class="nsw-form__date-input">
                  <label for="form-date-11-day" class="nsw-form__label nsw-form__label--small">Day</label>
                  <input type="text" maxlength="2" id="form-date-11-day" name="form-date-11-day" class="nsw-form__input">
                </div>
                <div class="nsw-form__date-input">
                  <label for="form-date-11-month" class="nsw-form__label nsw-form__label--small">Month</label>
                  <input type="text" maxlength="2" id="form-date-11-month" name="form-date-11-month" class="nsw-form__input">
                </div>
                <div class="nsw-form__date-input nsw-form__date-input--large">
                  <label for="form-date-11-year" class="nsw-form__label nsw-form__label--small">Year</label>
                  <input type="text" maxlength="4" id="form-date-11-year" name="form-date-11-year" class="nsw-form__input">
                </div>
              </div>
            </fieldset>
          </div>
        
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="form-select-11">Region</label>
              <select class="nsw-form__select" name="form-select-11" id="form-select-11"><option value="">Please select</option>
                <option value="Central Coast">Central Coast</option>
                <option value="Central West &amp; Orana">Central West &amp; Orana</option>
                <option value="Far West">Far West</option>
                <option value="Hunter">Hunter</option>
                <option value="Illawarra-Shoalhaven">Illawarra-Shoalhaven</option>
                <option value="New England &amp; North West">New England &amp; North West</option>
                <option value="North Coast">North Coast</option>
                <option value="Riverina Murray">Riverina Murray</option>
              </select>  </div>
        
          <div class="nsw-form__group">
            <input class="nsw-form__checkbox-input" type="checkbox" name="form-checkbox-11" id="form-checkbox-11">
            <label class="nsw-form__checkbox-label" for="form-checkbox-11">I agree to terms and conditions</label>
          </div>
          <div class="nsw-form__group">
            <fieldset class="nsw-form__fieldset">
              <legend>
                <span class="nsw-form__legend">Category</span>
              </legend>
              <input class="nsw-form__checkbox-input" type="checkbox" name="form-checkbox-multi-11" id="form-checkbox-multi-11-a">
              <label class="nsw-form__checkbox-label" for="form-checkbox-multi-11-a">Customer Service</label>
              <input class="nsw-form__checkbox-input" type="checkbox" name="form-checkbox-multi-11" id="form-checkbox-multi-11-b" checked>
              <label class="nsw-form__checkbox-label" for="form-checkbox-multi-11-b">Communities and Justice</label>
            </fieldset>
          </div>
        
          <div class="nsw-form__group">
            <fieldset class="nsw-form__fieldset">
              <legend>
                <span class="nsw-form__legend">Topic</span>
              </legend>
              <input class="nsw-form__radio-input" type="radio" name="form-radio-11" id="form-radio-11-a" checked>
              <label class="nsw-form__radio-label" for="form-radio-11-a">NSW Government</label>
              <input class="nsw-form__radio-input" type="radio" name="form-radio-11" id="form-radio-11-b">
              <label class="nsw-form__radio-label" for="form-radio-11-b">Business and Economy</label>
            </fieldset>
          </div>
        </div>
        
        <div class="nsw-form">
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="form-text-12">Name</label>
            <span class="nsw-form__helper" id="form-text-12-helper-text">As it appears on your identity document</span>
            <input class="nsw-form__input" type="text" id="form-text-12" name="form-text-12" aria-describedby="form-text-12-helper-text">
          </div>
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="form-textarea-12">Comment</label>
            <span class="nsw-form__helper" id="form-textarea-12-helper-text">Maximum 500 characters</span>
            <textarea class="nsw-form__input" name="textarea" id="form-textarea-12" aria-describedby="form-textarea-12-helper-text"></textarea>
          </div>
        
          <div class="nsw-form__group">
            <fieldset class="nsw-form__date">
              <legend>
                <span class="nsw-form__label">Date of birth</span>
                <span id="form-date-12-helper-text" class="nsw-form__helper">For example 08 1112 11990</span>
              </legend>
              <div class="nsw-form__date-wrapper">
                <div class="nsw-form__date-input">
                  <label for="form-date-12-day" class="nsw-form__label nsw-form__label--small">Day</label>
                  <input type="text" maxlength="2" id="form-date-12-day" name="form-date-12-day" class="nsw-form__input">
                </div>
                <div class="nsw-form__date-input">
                  <label for="form-date-12-month" class="nsw-form__label nsw-form__label--small">Month</label>
                  <input type="text" maxlength="2" id="form-date-12-month" name="form-date-12-month" class="nsw-form__input">
                </div>
                <div class="nsw-form__date-input nsw-form__date-input--large">
                  <label for="form-date-12-year" class="nsw-form__label nsw-form__label--small">Year</label>
                  <input type="text" maxlength="4" id="form-date-12-year" name="form-date-12-year" class="nsw-form__input">
                </div>
              </div>
            </fieldset>
          </div>
        
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="form-select-12">Region</label>
            <span class="nsw-form__helper" id="form-select-12-helper-text">Your region of residence</span>
              <select class="nsw-form__select" name="form-select-12" id="form-select-12" aria-describedby="form-select-12-helper-text"><option value="">Please select</option>
                <option value="Central Coast">Central Coast</option>
                <option value="Central West &amp; Orana">Central West &amp; Orana</option>
                <option value="Far West">Far West</option>
                <option value="Hunter">Hunter</option>
                <option value="Illawarra-Shoalhaven">Illawarra-Shoalhaven</option>
                <option value="New England &amp; North West">New England &amp; North West</option>
                <option value="North Coast">North Coast</option>
                <option value="Riverina Murray">Riverina Murray</option>
              </select>  </div>
        
          <div class="nsw-form__group">
            <fieldset class="nsw-form__fieldset">
              <legend>
                <span class="nsw-form__legend">Category</span>
                <span class="nsw-form__helper">Select all that applies to you</span>
              </legend>
              <input class="nsw-form__checkbox-input" type="checkbox" name="form-checkbox-multi-12" id="form-checkbox-multi-12-a">
              <label class="nsw-form__checkbox-label" for="form-checkbox-multi-12-a">Customer Service</label>
              <input class="nsw-form__checkbox-input" type="checkbox" name="form-checkbox-multi-12" id="form-checkbox-multi-12-b">
              <label class="nsw-form__checkbox-label" for="form-checkbox-multi-12-b">Communities and Justice</label>
            </fieldset>
          </div>
        
          <div class="nsw-form__group">
            <fieldset class="nsw-form__fieldset">
              <legend>
                <span class="nsw-form__legend">Topic</span>
                <span class="nsw-form__helper">Select closest match</span>
              </legend>
              <input class="nsw-form__radio-input" type="radio" name="form-radio-12" id="form-radio-12-a">
              <label class="nsw-form__radio-label" for="form-radio-12-a">NSW Government</label>
              <input class="nsw-form__radio-input" type="radio" name="form-radio-12" id="form-radio-12-b">
              <label class="nsw-form__radio-label" for="form-radio-12-b">Business and Economy</label>
            </fieldset>
          </div>
        </div>
        
        <div class="nsw-form">
          <div class="nsw-form__group">
            <label class="nsw-form__label nsw-form__required" for="form-text-13">Name<span class="sr-only"> (required)</span></label>
            <input class="nsw-form__input" type="text" id="form-text-13" name="form-text-13" aria-invalid="true">
            <span class="nsw-form__helper nsw-form__helper--error" id="form-text-13-error-text"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>This field is required</span>
          </div>
          <div class="nsw-form__group">
            <label class="nsw-form__label nsw-form__required" for="form-textarea-13">Comment<span class="sr-only"> (required)</span></label>
            <textarea class="nsw-form__input" name="textarea" id="form-textarea-13" aria-invalid="true"></textarea>
            <span class="nsw-form__helper nsw-form__helper--error" id="form-textarea-13-error-text"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>This field is required</span>
          </div>
        
          <div class="nsw-form__group">
            <fieldset class="nsw-form__date">
              <legend>
                <span class="nsw-form__label nsw-form__required">Date of birth<span class="sr-only"> (required)</span></span>
              </legend>
              <div class="nsw-form__date-wrapper">
                <div class="nsw-form__date-input">
                  <label for="form-date-13-day" class="nsw-form__label nsw-form__label--small">Day</label>
                  <input type="text" maxlength="2" id="form-date-13-day" name="form-date-13-day" class="nsw-form__input" aria-invalid="true">
                </div>
                <div class="nsw-form__date-input">
                  <label for="form-date-13-month" class="nsw-form__label nsw-form__label--small">Month</label>
                  <input type="text" maxlength="2" id="form-date-13-month" name="form-date-13-month" class="nsw-form__input" aria-invalid="true">
                </div>
                <div class="nsw-form__date-input nsw-form__date-input--large">
                  <label for="form-date-13-year" class="nsw-form__label nsw-form__label--small">Year</label>
                  <input type="text" maxlength="4" id="form-date-13-year" name="form-date-13-year" class="nsw-form__input" aria-invalid="true">
                </div>
              </div>
            </fieldset>
            <span id="form-date-13-error-text" class="nsw-form__helper nsw-form__helper--error"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>This field is required</span>
          </div>
        
          <div class="nsw-form__group">
            <label class="nsw-form__label nsw-form__required" for="form-select-13">Region<span class="sr-only"> (required)</span></label>
              <select class="nsw-form__select" name="form-select-13" id="form-select-13" aria-invalid="true"><option value="">Please select</option>
                <option value="Central Coast">Central Coast</option>
                <option value="Central West &amp; Orana">Central West &amp; Orana</option>
                <option value="Far West">Far West</option>
                <option value="Hunter">Hunter</option>
                <option value="Illawarra-Shoalhaven">Illawarra-Shoalhaven</option>
                <option value="New England &amp; North West">New England &amp; North West</option>
                <option value="North Coast">North Coast</option>
                <option value="Riverina Murray">Riverina Murray</option>
              </select>
            <span id="form-select-13-error-text" class="nsw-form__helper nsw-form__helper--error"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>This field is required</span>  </div>
        
          <div class="nsw-form__group">
            <input class="nsw-form__checkbox-input" type="checkbox" name="form-checkbox-13" id="form-checkbox-13" aria-describedby="form-checkbox-13-error-text" aria-invalid="true">
            <label class="nsw-form__checkbox-label" for="form-checkbox-13">I agree to terms and conditions<span class="nsw-form__required"></span><span class="sr-only"> (required)</span></label>
            <span id="form-checkbox-13-error-text" class="nsw-form__helper nsw-form__helper--error"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>This field is required</span>
          </div>
          <div class="nsw-form__group">
            <fieldset class="nsw-form__fieldset">
              <legend>
                <span class="nsw-form__legend nsw-form__required">Category<span class="sr-only"> (required)</span></span>
                <span class="nsw-form__helper nsw-form__helper--error"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>This field is required</span>
              </legend>
              <input class="nsw-form__checkbox-input" type="checkbox" name="form-checkbox-multi-13" id="form-checkbox-multi-13-a">
              <label class="nsw-form__checkbox-label" for="form-checkbox-multi-13-a">Customer Service</label>
              <input class="nsw-form__checkbox-input" type="checkbox" name="form-checkbox-multi-13" id="form-checkbox-multi-13-b">
              <label class="nsw-form__checkbox-label" for="form-checkbox-multi-13-b">Communities and Justice</label>
            </fieldset>
          </div>
        
          <div class="nsw-form__group">
            <fieldset class="nsw-form__fieldset">
              <legend>
                <span class="nsw-form__legend nsw-form__required">Topic<span class="sr-only"> (required)</span></span>
                <span class="nsw-form__helper nsw-form__helper--error"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>This field is required</span>
              </legend>
              <input class="nsw-form__radio-input" type="radio" name="form-radio-13" id="form-radio-13-a">
              <label class="nsw-form__radio-label" for="form-radio-13-a">NSW Government</label>
              <input class="nsw-form__radio-input" type="radio" name="form-radio-13" id="form-radio-13-b">
              <label class="nsw-form__radio-label" for="form-radio-13-b">Business and Economy</label>
            </fieldset>
          </div>
        </div>
        
        <div class="nsw-form">
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="form-text-14">Name</label>
            <input class="nsw-form__input" type="text" id="form-text-14" name="form-text-14">
            <span class="nsw-form__helper nsw-form__helper--valid" id="form-text-14-valid-text"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">check_circle</span>This field has been validated</span>
          </div>
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="form-textarea-14">Comment</label>
            <textarea class="nsw-form__input" name="textarea" id="form-textarea-14"></textarea>
            <span class="nsw-form__helper nsw-form__helper--valid" id="form-textarea-14-valid-text"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">check_circle</span>This field has been validated</span>
          </div>
        
          <div class="nsw-form__group">
            <fieldset class="nsw-form__date">
              <legend>
                <span class="nsw-form__label">Date of birth</span>
              </legend>
              <div class="nsw-form__date-wrapper">
                <div class="nsw-form__date-input">
                  <label for="form-date-14-day" class="nsw-form__label nsw-form__label--small">Day</label>
                  <input type="text" maxlength="2" id="form-date-14-day" name="form-date-14-day" class="nsw-form__input">
                </div>
                <div class="nsw-form__date-input">
                  <label for="form-date-14-month" class="nsw-form__label nsw-form__label--small">Month</label>
                  <input type="text" maxlength="2" id="form-date-14-month" name="form-date-14-month" class="nsw-form__input">
                </div>
                <div class="nsw-form__date-input nsw-form__date-input--large">
                  <label for="form-date-14-year" class="nsw-form__label nsw-form__label--small">Year</label>
                  <input type="text" maxlength="4" id="form-date-14-year" name="form-date-14-year" class="nsw-form__input">
                </div>
              </div>
            </fieldset>
            
            <span id="form-date-14-valid-text" class="nsw-form__helper nsw-form__helper--valid"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">check_circle</span>This field has been validated</span>
          </div>
        
          <div class="nsw-form__group">
            <label class="nsw-form__label" for="form-select-14">Region</label>
              <select class="nsw-form__select" name="form-select-14" id="form-select-14"><option value="">Please select</option>
                <option value="Central Coast">Central Coast</option>
                <option value="Central West &amp; Orana">Central West &amp; Orana</option>
                <option value="Far West">Far West</option>
                <option value="Hunter">Hunter</option>
                <option value="Illawarra-Shoalhaven">Illawarra-Shoalhaven</option>
                <option value="New England &amp; North West">New England &amp; North West</option>
                <option value="North Coast">North Coast</option>
                <option value="Riverina Murray">Riverina Murray</option>
              </select>
            <span id="form-select-14-valid-text" class="nsw-form__helper nsw-form__helper--valid"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">check_circle</span>This field has been validated</span>  </div>
        
          <div class="nsw-form__group">
            <input class="nsw-form__checkbox-input" type="checkbox" name="form-checkbox-14" id="form-checkbox-14">
            <label class="nsw-form__checkbox-label" for="form-checkbox-14">I agree to terms and conditions</label>
            <span id="form-checkbox-14-valid-text" class="nsw-form__helper nsw-form__helper--valid"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">check_circle</span>This field has been validated</span>
          </div>
          <div class="nsw-form__group">
            <fieldset class="nsw-form__fieldset">
              <legend>
                <span class="nsw-form__legend">Category</span>
                <span class="nsw-form__helper nsw-form__helper--valid"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">check_circle</span>This field has been validated</span>
              </legend>
              <input class="nsw-form__checkbox-input" type="checkbox" name="form-checkbox-multi-14" id="form-checkbox-multi-14-a">
              <label class="nsw-form__checkbox-label" for="form-checkbox-multi-14-a">Customer Service</label>
              <input class="nsw-form__checkbox-input" type="checkbox" name="form-checkbox-multi-14" id="form-checkbox-multi-14-b">
              <label class="nsw-form__checkbox-label" for="form-checkbox-multi-14-b">Communities and Justice</label>
            </fieldset>
          </div>
        
          <div class="nsw-form__group">
            <fieldset class="nsw-form__fieldset">
              <legend>
                <span class="nsw-form__legend">Topic</span>
                <span class="nsw-form__helper nsw-form__helper--valid"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">check_circle</span>This field has been validated</span>
              </legend>
              <input class="nsw-form__radio-input" type="radio" name="form-radio-14" id="form-radio-14-a">
              <label class="nsw-form__radio-label" for="form-radio-14-a">NSW Government</label>
              <input class="nsw-form__radio-input" type="radio" name="form-radio-14" id="form-radio-14-b">
              <label class="nsw-form__radio-label" for="form-radio-14-b">Business and Economy</label>
            </fieldset>
          </div>
        </div>
        
      </main>
      <div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
    </div>
  </div>
</section>
  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
