---
title: Two column - Side navigation left align (nav hides on mobile)
model:
    nav-basic: ../../components/main-navigation/main-navigation.json
    nav-mega: ../../components/main-navigation/mega-navigation.json
    breadcrumbs: ../../components/breadcrumbs/breadcrumbs.json
    side-navigation: ../../components/side-navigation/side-navigation.json
    card-media: ../../components/card/card-simple.json
    footer: ../../patterns/footer/footer.json
---

{{>_header content="#content" nav="#main-navigation"}}
{{>_main-navigation model.nav-basic}}
<div class="nsw-container">
  {{>_breadcrumbs model.breadcrumbs}}
</div>

<div class="nsw-container nsw-layout nsw-layout--sidebar-left">
  <div class="nsw-layout__sidebar nsw-layout__sidebar--nav">
    {{>_side-navigation model.side-navigation}}
  </div>
  <main class="nsw-layout__content">
    <div id="content" class="nsw-wysiwyg-content">
      <h1>Lorem Ipsum.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pharetra consequat massa, nec ullamcorper dolor tincidunt laoreet. Quisque at dolor vel eros vulputate mollis. Nunc massa nisi, mattis ac posuere a, efficitur quis libero. Ut ornare mauris vel diam accumsan dapibus. Curabitur congue porta dignissim. Nulla <a href="#">aliquet augue nec</a> posuere viverra. Mauris gravida augue sit amet sapien imperdiet, at fermentum felis fermentum. Curabitur interdum elit sit amet blandit iaculis. Mauris vulputate auctor leo et lobortis. Curabitur id neque vel ex efficitur pretium eget non odio.</p>
    </div>

    <div class="nsw-grid nsw-m-top-md">
      <div class="nsw-col nsw-col--third">{{>_card model.card-media}}</div>
      <div class="nsw-col nsw-col--third">{{>_card model.card-media}}</div>
      <div class="nsw-col nsw-col--third">{{>_card model.card-media}}</div>
    </div>

    <div class="nsw-wysiwyg-content nsw-m-top-md nsw-m-bottom-md">
      <h2>Curabitur congue porta dignissim.</h2>
      <p>Nunc massa nisi, mattis ac posuere a, efficitur quis libero. Ut ornare mauris vel diam accumsan dapibus. Curabitur congue porta dignissim. Nulla <a href="#">aliquet augue nec</a> posuere viverra. Mauris gravida augue sit amet sapien imperdiet, at fermentum felis fermentum. Curabitur interdum elit sit amet blandit iaculis. Mauris vulputate auctor leo et lobortis. Curabitur id neque vel ex efficitur pretium eget non odio.</p>
    </div>

    <div class="nsw-callout">
      <div class="nsw-callout__content">
      <h4 class="nsw-callout__title">Callout Heading</h4>
      <p>Filium morte multavit si sine causa, nollem me tamen laudandis maioribus meis corrupisti nec voluptas sit, amet, consectetur, adipisci velit.</p>
      </div>
    </div>
  </main>
</div>

{{>_footer model.footer}}
