<!doctype html>
<html lang="en" class="no-js">
<head>
  <title>NSW Digital Design System - Tables</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex" />
  <link rel="icon" href="/nsw-design-system/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TMEHXHFJXJ"></script>
<script>window.dataLayer=window.dataLayer||[];functiongtag(){dataLayer.push(arguments);}gtag("js",newDate());gtag("config","G-TMEHXHFJXJ");</script>
</head>

<body>
<div class="nsw-container nsw-p-y-sm">
  <div class="nsw-layout">
    <main class="nsw-layout__main">
  		<div class="nsw-table" tabindex="0">
  		  <table>
  		    <caption>Table caption for responsive scroll version</caption>
  		    <thead>
  		      <tr>
  		        <th width="20%">Method</th>
  		        <th width="40%">Description</th>
  		        <th width="40%">Purpose</th>
  		      </tr>
  		    </thead>
  		    <tbody>
  		      <tr>
  		        <td>
  		          <p><a href="#">Annotated prototypes</a></p>
  		        </td>
  		        <td>
  		          <p>Prototypes that include brief notes or comments that explain the rationale behind features and design choices.</p>
  		        </td>
  		        <td>
  		          <p>Help give context behind decisions and reminds team members why specific design elements were selected.</p>
  		        </td>
  		      </tr>
  		      <tr>
  		        <td>
  		          <p><a href="#">Storyboards</a></p>
  		        </td>
  		        <td>
  		          <p>Sequential images showing the main interactions or events that take place throughout a service.</p>
  		        </td>
  		        <td>
  		          <p>Help team members and stakeholders visualize the intended user experience.</p>
  		        </td>
  		      </tr>
  		      <tr>
  		        <td>
  		          <p><a href="#">Service blueprint</a></p>
  		        </td>
  		        <td>
  		          <p>A diagram that visualizes a new process or service and how the organization’s internal processes, people, systems and policies will support it.</p>
  		        </td>
  		        <td>
  		          <p>Helps organizations understand what will be needed for a successful implementation.</p>
  		        </td>
  		      </tr>
  		      <tr>
  		        <td>
  		          <p><a href="#">User stories</a></p>
  		        </td>
  		        <td>
  		          <p>Short sentences written from the perspective of users, describing their need and the reason behind.</p>
  		        </td>
  		        <td>
  		          <p>Help document the different needs that a service must address, shifting the focus from creating detailed requirements to discussing user needs within a specific context.</p>
  		        </td>
  		      </tr>
  		    </tbody>
  		  </table>
  		</div>
  		<div class="nsw-table nsw-table--striped" tabindex="0">
  		  <table>
  		    <caption>Table caption for responsive scroll version</caption>
  		    <thead>
  		      <tr>
  		        <th width="20%">Method</th>
  		        <th width="40%">Description</th>
  		        <th width="40%">Purpose</th>
  		      </tr>
  		    </thead>
  		    <tbody>
  		      <tr>
  		        <td>
  		          <p><a href="#">Annotated prototypes</a></p>
  		        </td>
  		        <td>
  		          <p>Prototypes that include brief notes or comments that explain the rationale behind features and design choices.</p>
  		        </td>
  		        <td>
  		          <p>Help give context behind decisions and reminds team members why specific design elements were selected.</p>
  		        </td>
  		      </tr>
  		      <tr>
  		        <td>
  		          <p><a href="#">Storyboards</a></p>
  		        </td>
  		        <td>
  		          <p>Sequential images showing the main interactions or events that take place throughout a service.</p>
  		        </td>
  		        <td>
  		          <p>Help team members and stakeholders visualize the intended user experience.</p>
  		        </td>
  		      </tr>
  		      <tr>
  		        <td>
  		          <p><a href="#">Service blueprint</a></p>
  		        </td>
  		        <td>
  		          <p>A diagram that visualizes a new process or service and how the organization’s internal processes, people, systems and policies will support it.</p>
  		        </td>
  		        <td>
  		          <p>Helps organizations understand what will be needed for a successful implementation.</p>
  		        </td>
  		      </tr>
  		      <tr>
  		        <td>
  		          <p><a href="#">User stories</a></p>
  		        </td>
  		        <td>
  		          <p>Short sentences written from the perspective of users, describing their need and the reason behind.</p>
  		        </td>
  		        <td>
  		          <p>Help document the different needs that a service must address, shifting the focus from creating detailed requirements to discussing user needs within a specific context.</p>
  		        </td>
  		      </tr>
  		    </tbody>
  		  </table>
  		</div>
  		<div class="nsw-table nsw-table--caption-top" tabindex="0">
  		  <table>
  		    <caption>Table caption for responsive scroll version</caption>
  		    <thead>
  		      <tr>
  		        <th width="20%">Method</th>
  		        <th width="40%">Description</th>
  		        <th width="40%">Purpose</th>
  		      </tr>
  		    </thead>
  		    <tbody>
  		      <tr>
  		        <td>
  		          <p><a href="#">Annotated prototypes</a></p>
  		        </td>
  		        <td>
  		          <p>Prototypes that include brief notes or comments that explain the rationale behind features and design choices.</p>
  		        </td>
  		        <td>
  		          <p>Help give context behind decisions and reminds team members why specific design elements were selected.</p>
  		        </td>
  		      </tr>
  		      <tr>
  		        <td>
  		          <p><a href="#">Storyboards</a></p>
  		        </td>
  		        <td>
  		          <p>Sequential images showing the main interactions or events that take place throughout a service.</p>
  		        </td>
  		        <td>
  		          <p>Help team members and stakeholders visualize the intended user experience.</p>
  		        </td>
  		      </tr>
  		      <tr>
  		        <td>
  		          <p><a href="#">Service blueprint</a></p>
  		        </td>
  		        <td>
  		          <p>A diagram that visualizes a new process or service and how the organization’s internal processes, people, systems and policies will support it.</p>
  		        </td>
  		        <td>
  		          <p>Helps organizations understand what will be needed for a successful implementation.</p>
  		        </td>
  		      </tr>
  		      <tr>
  		        <td>
  		          <p><a href="#">User stories</a></p>
  		        </td>
  		        <td>
  		          <p>Short sentences written from the perspective of users, describing their need and the reason behind.</p>
  		        </td>
  		        <td>
  		          <p>Help document the different needs that a service must address, shifting the focus from creating detailed requirements to discussing user needs within a specific context.</p>
  		        </td>
  		      </tr>
  		    </tbody>
  		  </table>
  		</div>
  		<div class="nsw-table nsw-table--bordered" tabindex="0">
  		  <table>
  		    <caption>Table caption for responsive scroll version</caption>
  		    <thead>
  		      <tr>
  		        <th width="20%">Method</th>
  		        <th width="40%">Description</th>
  		        <th width="40%">Purpose</th>
  		      </tr>
  		    </thead>
  		    <tbody>
  		      <tr>
  		        <td>
  		          <p><a href="#">Annotated prototypes</a></p>
  		        </td>
  		        <td>
  		          <p>Prototypes that include brief notes or comments that explain the rationale behind features and design choices.</p>
  		        </td>
  		        <td>
  		          <p>Help give context behind decisions and reminds team members why specific design elements were selected.</p>
  		        </td>
  		      </tr>
  		      <tr>
  		        <td>
  		          <p><a href="#">Storyboards</a></p>
  		        </td>
  		        <td>
  		          <p>Sequential images showing the main interactions or events that take place throughout a service.</p>
  		        </td>
  		        <td>
  		          <p>Help team members and stakeholders visualize the intended user experience.</p>
  		        </td>
  		      </tr>
  		      <tr>
  		        <td>
  		          <p><a href="#">Service blueprint</a></p>
  		        </td>
  		        <td>
  		          <p>A diagram that visualizes a new process or service and how the organization’s internal processes, people, systems and policies will support it.</p>
  		        </td>
  		        <td>
  		          <p>Helps organizations understand what will be needed for a successful implementation.</p>
  		        </td>
  		      </tr>
  		      <tr>
  		        <td>
  		          <p><a href="#">User stories</a></p>
  		        </td>
  		        <td>
  		          <p>Short sentences written from the perspective of users, describing their need and the reason behind.</p>
  		        </td>
  		        <td>
  		          <p>Help document the different needs that a service must address, shifting the focus from creating detailed requirements to discussing user needs within a specific context.</p>
  		        </td>
  		      </tr>
  		    </tbody>
  		  </table>
  		</div>
  		<div class="nsw-table nsw-table--striped nsw-table--bordered" tabindex="0">
  		  <table>
  		    <caption>Table caption for responsive scroll version</caption>
  		    <thead>
  		      <tr>
  		        <th width="20%">Method</th>
  		        <th width="40%">Description</th>
  		        <th width="40%">Purpose</th>
  		      </tr>
  		    </thead>
  		    <tbody>
  		      <tr>
  		        <td>
  		          <p><a href="#">Annotated prototypes</a></p>
  		        </td>
  		        <td>
  		          <p>Prototypes that include brief notes or comments that explain the rationale behind features and design choices.</p>
  		        </td>
  		        <td>
  		          <p>Help give context behind decisions and reminds team members why specific design elements were selected.</p>
  		        </td>
  		      </tr>
  		      <tr>
  		        <td>
  		          <p><a href="#">Storyboards</a></p>
  		        </td>
  		        <td>
  		          <p>Sequential images showing the main interactions or events that take place throughout a service.</p>
  		        </td>
  		        <td>
  		          <p>Help team members and stakeholders visualize the intended user experience.</p>
  		        </td>
  		      </tr>
  		      <tr>
  		        <td>
  		          <p><a href="#">Service blueprint</a></p>
  		        </td>
  		        <td>
  		          <p>A diagram that visualizes a new process or service and how the organization’s internal processes, people, systems and policies will support it.</p>
  		        </td>
  		        <td>
  		          <p>Helps organizations understand what will be needed for a successful implementation.</p>
  		        </td>
  		      </tr>
  		      <tr>
  		        <td>
  		          <p><a href="#">User stories</a></p>
  		        </td>
  		        <td>
  		          <p>Short sentences written from the perspective of users, describing their need and the reason behind.</p>
  		        </td>
  		        <td>
  		          <p>Help document the different needs that a service must address, shifting the focus from creating detailed requirements to discussing user needs within a specific context.</p>
  		        </td>
  		      </tr>
  		    </tbody>
  		  </table>
  		</div>
  	</main>
  	<div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
  </div>
</div>

  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
