---
title: Our ecosystem
width: narrow
no-blank: true
order: 30
meta-description: The NSW Design System ecosystem is built to be reusable and adaptable for different applications, whether building from scratch or updating existing products. 
meta-index: true
---

<p>The NSW Design System ecosystem is build to be reusable and adaptable for different applications. Depending on your requirements, you can use only what you need. This may be all elements when building from scratch or just the core when updating existing products to new requirements.</p>

<figure class="nsw-media">
  <img src="/assets/images/about-ecosystem-infographic.png" alt="Infographic of the NSW Design System layers">
</figure>

<p>Each element covers brand requirements and building consistent user experiences, ensuring you have:</p>
<ul>
    <li><strong>Built in accessibility:</strong> designed and tested to meet WCAG 2.1 AA web accessibility standards. </li>
    <li><strong>UX &amp; content guidance:</strong> each contains evidence based guidance, to identify when it should be used and how it meets user needs.</li>
    <li><strong>UI &amp; code starter kits:</strong> our starter kits can be used as a head-start on new projects for designers and developers.</li>
</ul>

<h3>Digital visual identity</h3>
<p>How NSW Government branding is applied to digital products, including logo, colour, font and visual design language. These are outlined in the <a href="https://www.nsw.gov.au/branding/nsw-government-visual-identity-system" target="_blank">NSW Government Visual identity system</a> for each classification.</p>

<h3>Core styles and components</h3>
<p>Raw ingredients of the design system that give familiarity across NSW channels. These styles and components build on the digital visual identity by creating practical styles for digital application. Elements indicated by the 🔹  blue diamond are needed for digital brand compliance.</p>

<h3>Components</h3>
<p>Pre-assembled building blocks that can be re-used and adapted (where required) to meet specific user needs while maintaining a consistent look and feel. These save time but can be replaced with your own components to suit your users' needs.</p>

<h3>Methods</h3>
<p>Guidance on implementing best practice design solutions to help users complete an action or access information. Supported by styles, components and templates, methods create consistent experiences across all products, channels and departments.</p>

<h3>Templates</h3>
<p>Constantly expanding library of adaptable pre-built layouts showcasing common design patterns and methods. Templates help teams save time removing the need to build layouts from scratch.</p>

<h2>Community</h2>
<p>The <a href="https://community.digital.nsw.gov.au/" target="_blank">Digital NSW Community</a> brings together like-minded digital creators to collaborate, share and leverage learnings to create better customer experiences.</p>
<p>We encourage you to ask questions, pose problems/solutions and share your work so we can grow the design system. </p>