---
title: Our ecosystem
width: narrow
no-blank: true
order: 30
---



<p>The NSW Design System has been build in layers to be reusable and adaptable for different applications. Allowing teams to adapt as required, from a base to align pre-exisiting digital platforms, to a full stack implementation solution.</p>

<figure class="nsw-media">
  <img src="/assets/images/about-ecosystem-infographic.png" alt="Infographic of the NSW Design System layers">
</figure>

<h2>Digital Visual Identity</h2>
<p>How NSW Government branding is applied to digital products, including logo, colour, font and visual design language. These are outlined in the NSW Government Visual identity system for each classification.</p>

<h2>Core styles and components</h2>
<p>Raw ingredients of the design system that give familiarity across NSW channels. They build on the digital visual identity by creating practical styles for digital application. Those indicated by the 🔹  blue diamond are needed for digital brand compliance.</p>

<h2>Components</h2>
<p>Pre-assembled components for content and forms which save you making your own. They are designed as building blocks to be re-used and adapted (where required) to meet specific user needs while maintaining a consistent look and feel. These save time but can be replaced with your own components to suit your users’ needs.</p>

<h2>Methods</h2>
<p>Guidance on implementing best practice design solutions to help users complete an action or access information. Supported by styles, components and templates to create consistent experiences across all products, channels and departments.</p>

<h2>Templates</h2>
<p>An always expanding library of adaptable pre-built layouts showcasing common design patterns and methods. Built to help teams save time removing the need to build layouts from scratch.</p>

<h2>Foundations</h2>
<p>Each layer cover requirements for brand and building consistent user experiences, ensuring you have:</p>
<ul>
    <li>Built in accessibility: Designed and tested to meet WCAG 2.1 web accessibility standards. </li>
    <li>UX &amp; content guidance: Each contains guidance, based on evidence, to help guide when it should be used and how it meets user needs. </li>
    <li>UI &amp; code starter kits: All can be found in our starter kits which can be used as a head-start on new projects for designers and developers.</li>
</ul>

<h2>Community</h2>
<p>The <a href="https://community.digital.nsw.gov.au/" target="_blank">Digital NSW Community</a> brings together like-minded digital creators to collaborate, share and leverage learnings to create better customer experiences.</p>
<p>We encourage you to ask questions, pose problems/solutions and share your work so we can grow the design system. </p>