---
title: Supporting different roles
width: narrow
no-blank: true
order: 20
---

<p>The NSW Design System can be used by any department and brand classification, to provide a consistent approach to UI and UX for designers and engineers. Even if you're not using the component kits, the design system ecosystem allows teams to identify and use only what they require.</p>

<p>While the out-of-the-box branding reflects masterbrand corporate, the in-built theming framework can be adapted for all masterbrand, co-brand and even independent classification levels. Endorsed and Standalone can also take advantage of the pre-built base to adapt their own brand identity.</p>

<nav class="nsw-in-page-nav" aria-labelledby="in-page-nav">
  <div id="in-page-nav" class="nsw-in-page-nav__title">On this page</div>
  <ul class="nsw-in-page-nav__list">
    <li>
      <a href="#product">Product Managers</a>
    </li>
    <li>
      <a href="#designers">Designers</a>
    </li>
    <li>
      <a href="#developers">Developers</a>
    </li>
  </ul>
</nav>

<h2 id="product">Product Managers</h2>
<p>Ensure your products are being built to brand, accessibility and development standards.</p>
<p>The Design System:</p>
<ul>
    <li>Speeds up your design process</li>
    <li>Takes the burden of accessibility compliance off you (WCAG 2.1AA)</li>
    <li>Means you're following NSW Government branding</li>
    <li>Gets your designers and developers working off a common base</li>
</ul>
<p>Component libraries:</p>
<ul>
    <li>Make your digital products responsive for mobile, tablet, and computers</li>
    <li>Dramatically speed up your development process</li>
    <li>Mean you can share components with teams who also used the Design System</li>
</ul>


<h2 id="designers">Designers</h2>
<p>Ideate and prototype faster with pre-built, accessible and tested assets. </p>
<p>The Design System:</p>
<ul>
    <li>One source of truth for all Digital Brand assets</li>
    <li>Detailed component and pattern UX guidance </li>
    <li>Connects you with a digital community for support and sharing</li>
</ul>
<p>Component libraries:</p>
<ul>
    <li>30+ reusable components styled to responsive breakpoints</li>
    <li>Brand and accessibility compliance (WCAG 2.1AA)</li>
    <li>State, colour, and content type variants</li>
    <li>Reusable page layout templates</li>
    <li>Like for like component kit with code</li>
</ul>

<h2 id="developers">Developers</h2>
<p>Build more in less time with a flexible and scalable code kits. </p>
<p>Component Libraries:</p>
<ul>
    <li>30+ reusable components plus core and helper classes</li>
    <li>Automated accessibility and visual tests</li>
    <li>Cross-browser compatibilit</li>
    <li>Modular (BEM), clean and reusable code</li>
</ul>
<p>Workflow: </p>
<ul>
    <li>Package Management</li>
    <li>Changelog and versioning</li>
    <li>Comprehensive documentation with Dev Toolkits (Drupal &amp; React)</li>
    <li>Automated release pipeline</li>
</ul>
