---
title: What's happening
width: narrow
no-blank: true
order: 40
---

<nav class="nsw-in-page-nav" aria-labelledby="in-page-nav">
  <div id="in-page-nav" class="nsw-in-page-nav__title">On this page</div>
  <ul class="nsw-in-page-nav__list">
    <li>
      <a href="#releases">Releases</a>
    </li>
    <li>
      <a href="#progress">Work in progress</a>
    </li>
    <li>
      <a href="#backlog">Backlog</a>
    </li>
    <li>
      <a href="#meetups">Meetups</a>
    </li>
  </ul>
</nav>

<h2 id="releases">Releases</h2>
<p>The latest release of the NSW Design System is v3.1.0.</p>
<div class="nsw-table">
    <table>
      <thead>
      <tr>
        <th>Release</th>
        <th>Date</th>
        <th>Overview</th>
        <th>Change logs</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>v3.1.0</td>
        <td>18 Feb 2022</td>
        <td>
            <ul>
                <li>New Hero banner variant</li>
                <li>New Steps component </li>
                <li>New You are here method</li>
                <li>Hero banner featured list accent line changed to Brand Light</li>
            </ul>
        </td>
        <td><a target="_blank" href="#">Github</a><br/><a target="_blank" href="https://github.com/digitalnsw/nsw-figma-archive/blob/main/release_notes.md#18-february-2022">Figma</a></td>
      </tr>
            <tr>
        <td>v3.0.9</td>
        <td>17 Dec 2021</td>
        <td>
            <ul>
                <li>Update to Header component </li>
            </ul>
        </td>
        <td><a target="_blank" href="#">Github</a><br/><a target="_blank" href="https://github.com/digitalnsw/nsw-figma-archive/blob/main/release_notes.md#17-december-2021">Figma</a></td>
      </tr>
      </tbody>
    </table>
</div>

<h2 id="progress">Work in progress</h2>
<p>Follow early concepts and contribute to components and patterns that are in progress. </p>

<div class="nsw-table">
    <table>
      <thead>
      <tr>
        <th width="30%">Component</th>
        <th width="30%">Status</th>
        <th width="40%">Contribute</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Dialogue</td>
        <td><span class="nsw-tag">In progress</span></td>
        <td><a target="_blank" href="https://community.digital.nsw.gov.au/t/collab-space-dialogue/807">Join the community thread</a></td>
      </tr>
      </tbody>
    </table>
</div>


<h2 id="backlog">Backlog</h2>
<p>Our backlog contains components and patterns that have been requested by our community. We also include elements that the Design System team have identified for potential use by digital creators.</p>

<div class="nsw-table">
    <table>
      <thead>
      <tr>
        <th width="30%">Component</th>
        <th width="30%">Status</th>
        <th width="40%">Contribute</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Landing page header section</td>
        <td><span class="nsw-tag">Not started</span></td>
        <td><a target="_blank" href="https://community.digital.nsw.gov.au/">Start a community thread</a></td>
      </tr>
      <tr>
        <td>File upload</td>
        <td><span class="nsw-tag">Not started</span></td>
        <td><a target="_blank" href="https://community.digital.nsw.gov.au/">Start a community thread</a></td>
      </tr>
      <tr>
        <td>Back to top</td>
        <td><span class="nsw-tag">Not started</span></td>
        <td><a target="_blank" href="https://community.digital.nsw.gov.au/">Start a community thread</a></td>
      </tr>
      </tbody>
    </table>
  </div>

<h2 id="meetups">Meetups</h2>
<p>Get involved in meetups happening around NSW Government. </p>

<div class="nsw-table">
    <table>
      <thead>
      <tr>
        <th>Type</th>
        <th>Date</th>
        <th>Time</th>
        <th>Register</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Human Centred Design Comprac</td>
        <td>10 Mar 2022</td>
        <td>11am - 12pm</td>
        <td><a href="mailto:digital@customerservice.nsw.gov.au" target="_blank">Email us</a></td>
      </tr>
      </tbody>
    </table>
  </div>