---
title: What's happening
width: narrow
no-blank: true
order: 40
meta-description: Stay up to date what the latest NSW Design System releases and contribute to in progress components and patterns. 
meta-index: true
---

<!--<nav class="nsw-in-page-nav" aria-labelledby="in-page-nav">
  <div id="in-page-nav" class="nsw-in-page-nav__title">On this page</div>
  <ul class="nsw-in-page-nav__list">
    <li>
      <a href="#releases">Releases</a>
    </li>
    <li>
      <a href="#progress">Work in progress</a>
    </li>
    <li>
      <a href="#backlog">Backlog</a>
    </li>
    <li>
      <a href="#meetups">Meetups</a>
    </li>
  </ul>
</nav>-->

<h2 id="releases">Releases</h2>
<div class="nsw-table">
    <table>
      <thead>
      <tr>
        <th>Version</th>
        <th>Date</th>
        <th style="padding-left: 2rem;">What's changed</th>
        <th>Change logs</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>v3.2.1</td> 
        <td>01.07.22</td>
        <td>
          <ul>
            <li>New <a href="/components/hero-banner/index.html">Hero banner</a> off-white variant</li>
            <li>New <a href="/components/footer/index.html">Footer</a> brand palette and social variants</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.2.1" target="_blank">Code kit</a><br/><a target="_blank" href="https://github.com/digitalnsw/nsw-figma-archive/blob/main/release_notes.md#1-july-2022" target="_blank">UI Kit</a></td>
      </tr>
      <tr>
        <td>v3.2.0</td> 
        <td>14.06.22</td>
        <td>
          <ul>
            <li>New <a href="/components/dialog/index.html">Dialog</a> Component</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.2.0" target="_blank">Code kit</a><br/><a target="_blank" href="https://github.com/digitalnsw/nsw-figma-archive/blob/main/release_notes.md#14-june-2022" target="_blank">UI Kit</a></td>
      </tr>

      <tr>
        <td>v3.1.0</td> 
        <td>18.02.22</td>
        <td>
          <ul>
            <li>New <a href="/components/hero-banner/index.html">Hero banner</a> variant using line system</li>
            <li><a href="/components/hero-banner/index.html">Hero banner</a> featured list accent line changed to Brand Light</li>
            <li>New <a href="/components/steps/index.html">Steps</a> component </li>
            <li>New <a href="/docs/content/methods/you-are-here.html">You are here</a> method</li>
            <li>Added <a href="/docs/content/develop/helpers.html">Ulitily classes</a> for box shadow and borders</li>
            <li>Updated guidance for <a href="/components/header/index.html">Header</a> and <a href="/components/breadcrumbs/index.html">Breadcrumbs</a> components</li>
            <li>Added design and dev application information to <a href="/core/graphic-elements/index.html">Graphic elements</a> page</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.1.0" target="_blank">Code kit</a><br/><a target="_blank" href="https://github.com/digitalnsw/nsw-figma-archive/blob/main/release_notes.md#18-february-2022" target="_blank">UI Kit</a></td>
      </tr>
      <tr>
        <td>v3.0.5</td>
        <td>17.12.21</td>
        <td>
          <ul>
            <li>Updated <a href="/components/header/index.html">Header</a> component logo, padding and line height</li>
            <li>New <a href="/components/header/index.html">Header</a> variant for rectangular co-branded logos </li>
            <li>Added option to invert colours for <a href="/core/section/index.html">dark sections</a></li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.0.5" target="_blank">Code kit</a><br/><a target="_blank" href="https://github.com/digitalnsw/nsw-figma-archive/blob/main/release_notes.md#17-december-2021" target="_blank">UI Kit</a></td>
      </tr>
       </tr>
            <tr>
        <td>v3.0.4</td>
        <td>10.12.21</td>
        <td>
          <ul>
            <li>Updated <a href="/components/header/index.html">Header</a> with new logo and added descriptor guidance</li>
            <li>Fixed <a href="/components/filters/index.html">Filters</a> component scrolling issues</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.0.4" target="_blank">Code kit</a></td>
      </tr>
       </tr>
            <tr>
        <td>v3.0.3</td>
        <td>02.12.21</td>
        <td>
          <ul>
            <li>Changed highlight bar width to be consistent across components</li>
            <li>Changed <a href="/components/global-alert/index.html">Global alert</a> button colour</li>
            <li>Added compact variant to <a href="/components/in-page-alert/index.html">In page alert</a> component</li>
            <li><a href="/components/callout/index.html">Callout</a> component UI update</li>
            <li>Updated HEX value for Red 04</li>
            <li>Added responsive font and line height <a href="/docs/content/develop/theming.html">CSS variables</a></li>
            <li>Updated guidance for <a href="/components/card/index.html">Card</a> component</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.0.3" target="_blank">Code kit</a><br/><a target="_blank" href="https://github.com/digitalnsw/nsw-figma-archive/blob/main/release_notes.md#29th-november-2021" target="_blank">UI Kit</a></td>
      </tr>
       </tr>
            <tr>
        <td>v3.0.2</td>
        <td>18.11.21</td>
        <td>
            <ul>
                <li>Changed new card modifier</li>
                <li>Form example names fix</li>
                <li>Header title changed to Brand dark</li>
                <li>In-page notifications renamed</li>
                <li>New row 3 palette colours</li>
                <li>New map demo pages</li>
            </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.0.2" target="_blank">Code kit</a></td>
      </tr>
      </tbody>
    </table>
</div><br/>

<h2 id="progress">Work in progress</h2>
<p>Follow early concepts and contribute to components and patterns that are in progress. </p>

<div class="nsw-table">
    <table>
      <thead>
      <tr>
        <th width="30%">Component</th>
        <th width="30%">Status</th>
        <th width="40%">Contribute</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>File upload</td>
        <td><span class="nsw-tag">In progress</span></td>
        <td><a target="_blank" href="https://community.digital.nsw.gov.au/t/collab-space-dialogue/807">Join the community thread</a></td>
      </tr>
      </tbody>
    </table>
</div><br/>

<h2 id="community">Consulting with community</h2>
<p>Shape the requirements of components and patterns by contributing feedback, learnings and insights.</p>

<div class="nsw-table">
    <table>
      <thead>
      <tr>
        <th width="30%">Component</th>
        <th width="30%">Status</th>
        <th width="40%">Contribute</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Passwords pattern</td>
        <td><span class="nsw-tag">In progress</span></td>
        <td><a target="_blank" href="https://community.digital.nsw.gov.au/t/passcode-condition/1143">Join the community thread</a></td>
      </tr>
      <tr>
        <td>Page loader/spinner</td>
        <td><span class="nsw-tag">In progress</span></td>
        <td><a target="_blank" href="https://community.digital.nsw.gov.au/t/suggest-a-pattern-page-loading/1151">Join the community thread</a></td>
      </tr>
      <tr>
        <td>Slider filter</td>
        <td><span class="nsw-tag">In progress</span></td>
        <td><a target="_blank" href="https://community.digital.nsw.gov.au/t/slider-design-to-exist-in-search-and-filtering/1160">Join the community thread</a></td>
      </tr>
      <tr>
        <td>Side navigation</td>
        <td><span class="nsw-tag">In progress</span></td>
        <td><a target="_blank" href="https://community.digital.nsw.gov.au/t/collab-space-side-navigation/1063">Join the community thread</a></td>
      </tr>
      </tbody>
    </table>
  </div><br/>


<h2 id="backlog">Backlog</h2>
<p>Components and patterns that have been requested by digital teams or identified by the Design System team for potential use by digital creators.</p>

<div class="nsw-table">
    <table>
      <thead>
      <tr>
        <th width="30%">Component</th>
        <th width="30%">Status</th>
        <th width="40%">Contribute</th>
      </tr>
      </thead>
      <tbody>
       <tr>
        <td>Tooltip/details</td>
        <td><span class="nsw-tag">Not started</span></td>
        <td><a target="_blank" href="https://community.digital.nsw.gov.au/">Start a community thread</a></td>
      </tr>
      <tr>
        <td>Back to top</td>
        <td><span class="nsw-tag">Not started</span></td>
        <td><a target="_blank" href="https://community.digital.nsw.gov.au/">Start a community thread</a></td>
      </tr>
      </tbody>
    </table>
  </div>

<!--<h2 id="meetups">Meetups</h2>
<p>Get involved in meetups happening around NSW Government. </p>

<div class="nsw-table">
    <table>
      <thead>
      <tr>
        <th>Type</th>
        <th>Date</th>
        <th>Time</th>
        <th>Register</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Human Centred Design Comprac</td>
        <td>10 Mar 2022</td>
        <td>11am - 12pm</td>
        <td><a href="mailto:digital@customerservice.nsw.gov.au" target="_blank">Email us</a></td>
      </tr>
      </tbody>
    </table>
  </div>-->