---
title: What's happening
width: narrow
no-blank: true
order: 40
---

<!--<nav class="nsw-in-page-nav" aria-labelledby="in-page-nav">
  <div id="in-page-nav" class="nsw-in-page-nav__title">On this page</div>
  <ul class="nsw-in-page-nav__list">
    <li>
      <a href="#releases">Releases</a>
    </li>
    <li>
      <a href="#progress">Work in progress</a>
    </li>
    <li>
      <a href="#backlog">Backlog</a>
    </li>
    <li>
      <a href="#meetups">Meetups</a>
    </li>
  </ul>
</nav>-->

<h2 id="releases">Releases</h2>
<div class="nsw-table">
    <table>
      <thead>
      <tr>
        <th>Version</th>
        <th>Date</th>
        <th>Overview</th>
        <th>Change logs</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>v3.1.0</td> 
        <td>18.02.22</td>
        <td>
            <ul>
                <li>New Hero banner variant using line system</li>
                <li>New Steps component </li>
                <li>New You are here method</li>
                <li>Hero banner featured list accent line changed to Brand Light</li>
                <li>In page nav code cleanup</li>
            </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.1.0" target="_blank">Code kit</a><br/><a target="_blank" href="https://github.com/digitalnsw/nsw-figma-archive/blob/main/release_notes.md#18-february-2022" target="_blank">UI Kit</a></td>
      </tr>
            <tr>
        <td>v3.0.5</td>
        <td>17.12.21</td>
        <td>
            <ul>
                <li>Updated Header component logo, padding and line height</li>
                <li>New Header variant for rectangular co-branded logos </li>
                <li>Inverted colours for dark sections</li>
            </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.0.5" target="_blank">Code kit</a><br/><a target="_blank" href="https://github.com/digitalnsw/nsw-figma-archive/blob/main/release_notes.md#17-december-2021" target="_blank">UI Kit</a></td>
      </tr>
       </tr>
            <tr>
        <td>v3.0.4</td>
        <td>10.12.21</td>
        <td>
            <ul>
                <li>XXXXX</li>
            </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.0.4" target="_blank">Code kit</a></td>
      </tr>
       </tr>
            <tr>
        <td>v3.0.3</td>
        <td>02.12.21</td>
        <td>
            <ul>
                <li>Callout highlight bar width updated </li>
                <li>Changed global alert button to info colour</li>
            </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.0.3" target="_blank">Code kit</a><br/><a target="_blank" href="https://github.com/digitalnsw/nsw-figma-archive/blob/main/release_notes.md#29th-november-2021" target="_blank">UI Kit</a></td>
      </tr>
       </tr>
            <tr>
        <td>v3.0.2</td>
        <td>18.11.21</td>
        <td>
            <ul>
                <li>Changed new card modifier</li>
                <li>Form example names fix</li>
                <li>Header title changed to Brand dark</li>
                <li>In-page notifications renamed</li>
                <li>New row 3 palette colours</li>
                <li>New map demo pages</li>
            </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.0.2" target="_blank">Code kit</a></td>
      </tr>
      </tbody>
    </table>
</div>

<h2 id="progress">Work in progress</h2>
<p>Follow early concepts and contribute to components and patterns that are in progress. </p>

<div class="nsw-table">
    <table>
      <thead>
      <tr>
        <th width="30%">Component</th>
        <th width="30%">Status</th>
        <th width="40%">Contribute</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Dialogue</td>
        <td><span class="nsw-tag">In progress</span></td>
        <td><a target="_blank" href="https://community.digital.nsw.gov.au/t/collab-space-dialogue/807">Join the community thread</a></td>
      </tr>
      </tbody>
    </table>
</div>


<h2 id="backlog">Backlog</h2>
<p>Our backlog contains components and patterns that have been requested by our community. We also include elements that the Design System team have identified for potential use by digital creators.</p>

<div class="nsw-table">
    <table>
      <thead>
      <tr>
        <th width="30%">Component</th>
        <th width="30%">Status</th>
        <th width="40%">Contribute</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Landing page header section</td>
        <td><span class="nsw-tag">Not started</span></td>
        <td><a target="_blank" href="https://community.digital.nsw.gov.au/">Start a community thread</a></td>
      </tr>
      <tr>
        <td>File upload</td>
        <td><span class="nsw-tag">Not started</span></td>
        <td><a target="_blank" href="https://community.digital.nsw.gov.au/">Start a community thread</a></td>
      </tr>
      <tr>
        <td>Back to top</td>
        <td><span class="nsw-tag">Not started</span></td>
        <td><a target="_blank" href="https://community.digital.nsw.gov.au/">Start a community thread</a></td>
      </tr>
      </tbody>
    </table>
  </div>

<h2 id="meetups">Meetups</h2>
<p>Get involved in meetups happening around NSW Government. </p>

<div class="nsw-table">
    <table>
      <thead>
      <tr>
        <th>Type</th>
        <th>Date</th>
        <th>Time</th>
        <th>Register</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Human Centred Design Comprac</td>
        <td>10 Mar 2022</td>
        <td>11am - 12pm</td>
        <td><a href="mailto:digital@customerservice.nsw.gov.au" target="_blank">Email us</a></td>
      </tr>
      </tbody>
    </table>
  </div>