---
title: What is Design System
width: narrow
no-blank: true
order: 10
meta-description: The NSW Design System is a single source of truth for the design and development of digital products and services in NSW Government. 
meta-index: true
---

<p>The NSW Design System is a single source of truth for the design and development of digital products and services in NSW Government. Our mission is to help teams build products and services that meet user needs and deliver great user experiences.</p>
<p>Our <a href="/docs/content/design/getting-started.html" aria-label="Link to get started from a designers's standpoint with the NSW Design System">design guidelines</a> and <a href="/docs/content/develop/getting-started.html" aria-label="Link to get started from a developer's standpoint with the NSW Design System">development documentation</a> guide you on how to use the NSW Design System. Embracing a code first approach, all parts of the design system have been built in alignment to deliver simple and consistent solutions.</p>
<p>Building from a single, best practice base ensures consistency with how our users engage and interact with NSW Government digitally. Resulting in easy to use products and services.</p>

<h2>Benefits</h2>

<h3>Build faster and at scale</h3>
<p>Save time and money with an <a href="/docs/content/about/our-ecosystem.html" aria-label="Link to information about NSW Design System system ecosystem information">ecosystem</a> that is made to work together. The design system features a library of styles, components and templates, and well as advice and guidance for how and when to use each one. Delivered in ready to go UI and code kits, say goodbye to building from scratch.</p>

<h3>Out-of-the-box brand and accessibility compliance</h3>
<p>Understand, apply and meet brand standards, with features required for brand compliance indicated with a 🔹 blue diamond. Supporting the <a href="https://www.nsw.gov.au/branding" aria-label="Link to the NSW Branding team website" target="_blank">NSW Government Brand Framework</a>, the Design System can be used by (and bring value) to any brand classification. Our Design System has been updated to align with WCAG 2.2 level AA standards, providing components designed to support accessibility and inclusivity.</p>
<p>While these components are built to meet accessibility guidelines, achieving compliance for your product will depend on how they are integrated and used. Accessibility is influenced by your implementation choices including content creation, customisation and interaction design.</p>

<p>To maximise compliance:</p>
<ul>
<li>Adhere to accessibility best practices when implementing components.</li>
<li>Test your product with diverse users, including those with disabilities.</li>
<li>Regularly review and update your product to maintain accessibility.</li>
</ul>

<p>For additional support, explore our <a href="https://www.digital.nsw.gov.au/delivery/accessibility-and-inclusivity-toolkit/courses" aria-label="Link to the Accessibility and Inclusivity Toolkit on the Digital NSW website" target="_blank">digital accessibility training resources</a>. Alternatively, contact <a href="mailto:digital@customerservice.nsw.gov.au">our team</a> for implementation advice.</p>

<h3>Design System Updates for WCAG 2.2 Compliance</h3>
<p>We've updated the components in the NSW Design System to achieve compliance with WCAG 2.2 Level AA. Please review your digital products to determine if adjustments are needed to align with these updates.</p>
<p>For detailed explanations of each <a href="https://www.w3.org/WAI/standards-guidelines/wcag/new-in-22/" aria-label="Link to WCAG 2.2 AA criteria on the WCAG website" target="_blank">WCAG 2.2 success criterion</a>, visit the W3C website.</p>

<div class="nsw-section nsw-section--white nsw-block nsw-p-x-sm nsw-p-top-sm">
<div class="nsw-table nsw-table--valign-middle">
<table>
  <tbody>
    <tr>
      <th>
        <p>Component</p>
      </th>
      <th>
        <p>Relevant WCAG 2.2 Criteria</p>
      </th>
    </tr>
    <tr>
      <td>
        <p><a href="/components/accordion/index.html" aria-label="Link to accordion component detail page on the NSW Design System" target="_blank">Accordion</a></p>
      </td>
      <td>
        <p>Target size (minimum)</p>
      </td>
    </tr>
    <tr>
      <td>
        <p><a href="/components/breadcrumbs/index.html" aria-label="Link to breadcrumbs component detail page on the NSW Design System" target="_blank">Breadcrumbs</a></p>
      </td>
      <td>
        <p>Target size (minimum)</p>
      </td>
    </tr>
    <tr>
      <td>
        <p><a href="/components/card-carousel/index.html" aria-label="Link to card carousel component detail page on the NSW Design System" target="_blank">Card carousel</a></p>
      </td>
      <td>
        <p>Target size (minimum), Dragging movements</p>
      </td>
    </tr>
    <tr>
      <td>
        <p><a href="/components/footer/index.html" aria-label="Link to footer component detail page on the NSW Design System" target="_blank">Footer</a></p>
      </td>
      <td>
        <p>Target size (minimum)</p>
      </td>
    </tr>
    <tr>
      <td>
        <p><a href="/components/hero-banner/index.html" aria-label="Link to hero banner component detail page on the NSW Design System" target="_blank">Hero banner</a></p>
      </td>
      <td>
        <p>Target size (minimum)</p>
      </td>
    </tr>
    <tr>
      <td>
        <p><a href="/components/hero-search/index.html" aria-label="Link to hero search component detail page on the NSW Design System" target="_blank">Hero search</a></p>
      </td>
      <td>
        <p>Target size (minimum), Redundant entry</p>
      </td>
    </tr>
    <tr>
      <td>
        <p><a href="/components/in-page-nav/index.html" aria-label="Link to in-page nav component detail page on the NSW Design System" target="_blank">In-page navigation</a></p>
      </td>
      <td>
        <p>Target size (minimum)</p>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>

<p>Keep an eye on this page for more updates, and <a href="https://confirmsubscription.com/h/i/73DE733140B743AF" aria-label="Link to sign up to the NSW Design System's mailing list" target="_blank">sign up to our mailing list</a> to hear from us about future events and updates.</p>

<h3>Consistent code and design language</h3>
<p>When using our foundations, components and themes, get access to fully synchronised UI and code kits for both designers and developers. This means everyone uses the same atomic components, with extended guidance also bridging the gap to help avoid design drift.</p>

<h3>Quality across all layers</h3>
<p>The design system provides full-stack foundations and base components which are engineered for a good user experience. They go beyond the look-and-feel to also include branding, UX guidance, and front-end components.</p>

<h2>Support</h2>
<h3>Questions</h3>
<p>If you have any questions or would like to chat to us further about using the NSW Design System reach out to us at <a href="mailto:digital@customerservice.nsw.gov.au">digital@customerservice.nsw.gov.au.</a></p>
<h3>Report issues</h3>
<p>View and raise issues and bugs through our <a href="https://github.com/digitalnsw/nsw-design-system/issues" aria-label="Link to view the current and/or resolve issues on Github for the NSW Design System" target="_blank">Issues tracker</a> on Github or via <a href="https://community.digital.nsw.gov.au/c/components/report-a-bug/27" aria-label="Link to engage with the NSW Design System community and report a bug" target="_blank">Report a bug</a> on the Community.</p>