---
title: What is Design System
width: narrow
no-blank: true
order: 10
meta-description: The NSW Design System is a single source of truth for the design and development of digital products and services in NSW Government. 
meta-index: true
---

<p>The NSW Design System is a single source of truth for the design and development of digital products and services in NSW Government. Our mission is to help teams build products and services that meet user needs and deliver great user experiences.</p>
<p>Embracing a code first approach, all parts of the design system have been built in alignment to deliver simple and consistent solutions.</p>
<p>Building from a single, best practice base ensures consistency with how our users engage and interact with NSW Government digitally. Resulting in easy to use products and services.</p>

<h2>Benefits</h2>

<h3>Build faster and at scale</h3>
<p>Save time and money with an <a href="/docs/content/about/our-ecosystem.html">ecosystem</a> that is made to work together. The design system features a library of styles, components and templates, and well as advice and guidance for how and when to use each one. Delivered in ready to go UI and code kits, say goodbye to building from scratch.</p>

<h3>Out-of-the-box brand and accessibility compliance</h3>
<p>Understand, apply and meet brand standards, with features required for brand compliance indicated with a 🔹 blue diamond. Supporting the <a href="https://www.nsw.gov.au/branding" target="_blank">NSW Government brand framework</a>, the design system can be used by, and bring value to any brand classification. All components and styles are also built and tested to WCAG 2.1 AA standards.</p>

<h3>Consistent code and design language</h3>
<p>When using our foundations, components and themes, get access to fully synchronised UI and code kits for both designers and developers. This means everyone uses the same atomic components, with extended guidance also bridging the gap to help avoid design drift.</p>

<h3>Quality across all layers</h3>
<p>The design system provides full-stack foundations and base components which are engineered for a good user experience. They go beyond the look-and-feel to also include branding, UX guidance, and front-end components.</p>

<h2>Support</h2>
<h3>Questions</h3>
<p>If you have any questions or would like to chat to us further about using the NSW Design System reach out to us at <a href="mailto:digital@customerservice.nsw.gov.au">digital@customerservice.nsw.gov.au.</a></p>
<h3>Report issues</h3>
<p>View and raise issues and bugs through our <a href="https://github.com/digitalnsw/nsw-design-system/issues" target="_blank">Issues tracker</a> on Github or via <a href="https://community.digital.nsw.gov.au/c/components/report-a-bug/27" target="_blank">Report a bug</a> on the Community.</p>