---
title: What's happening
width: narrow
no-blank: true
order: 40
meta-description: Stay up to date what the latest NSW Design System releases and contribute to in progress components and patterns.
meta-index: true
---

<!--<nav class="nsw-in-page-nav" aria-labelledby="in-page-nav">
  <div id="in-page-nav" class="nsw-in-page-nav__title">On this page</div>
  <ul class="nsw-in-page-nav__list">
    <li>
      <a href="#releases">Releases</a>
    </li>
    <li>
      <a href="#progress">Work in progress</a>
    </li>
    <li>
      <a href="#backlog">Backlog</a>
    </li>
    <li>
      <a href="#meetups">Meetups</a>
    </li>
  </ul>
</nav>-->

<h2 id="releases">Releases</h2>
<div class="nsw-table">
  <table>
    <thead>
      <tr>
        <th>Version</th>
        <th>Date</th>
        <th style="padding-left: 2rem;">What's changed</th>
        <th>Change logs</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>v3.14.0</td>
        <td>5.12.23</td>
        <td>
          <h4>Fixed</h4>
          <ul>
            <li><strong>Multiple select component:</strong> Fixed the absence of the nsw-multi-select__button element creation when an option was pre-selected onload.</li>
            <li><strong>Support for the HTML select multiple in the filters component:</strong> Updated the component's logic to recognise and manage multiple selections efficiently, providing users with enhanced filtering capabilities.</li>
          </ul>
          <h4>Added</h4>
          <ul>
            <li><strong>Utility list component:</strong> New <a href="/components/utility-list/index.html">Utility list</a> component giving users quick access to commonly used actions on content, including printing, downloading and sharing across different social media platforms.</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.13.0" target="_blank">Code kit</a></td>
      </tr>
      <tr>
        <td>v3.13.0</td>
        <td>20.11.23</td>
        <td>
          <h4>Added</h4>
          <ul>
            <li><strong>Contribution Criteria Page:</strong> Added a new page outlining the <a href="/docs/content/contribute/contribution-criteria.html">criteria for contributions</a>.</li>
            <li><strong>Propose a New Component Page:</strong> Added a new page to facilitate the submission of <a href="/docs/content/contribute/propose-a-new-component.html">new component proposals</a>.</li>
            <li><strong>Build a New Component Page:</strong> Added a new page to guide users through the <a href="/docs/content/contribute/build-a-new-component.html">process of building new components</a> to showcase our contribution process.</li>
          </ul>
          <h4>Fixed</h4>
          <ul>
            <li><strong>Tabs Accessibility Bug:</strong> Rectified the accessibility bug within tabs by including the <code>aria-owns</code> attribute to the <code>role="tablist"</code> element, ensuring improved accessibility for all users.</li>
            <li><strong>Collapsible Filters Icon:</strong> Fixed the size issue of the open/close icon for collapsible filters, enhancing visual consistency and user experience.</li>
          </ul>
          <h4>Added</h4>
          <ul>
            <li><strong>Back to top component:</strong> New <a href="/components/back-to-top/index.html">Back to top</a> component allowing users to navigate back to the top of the page for enhanced usability.</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.13.0" target="_blank">Code kit</a></td>
      </tr>
      <tr>
        <td>v3.12.0</td>
        <td>18.10.23</td>
        <td>
          <ul>
            <li>Implemented consistent open/close animations and transforms across the <a href="/components/main-nav/index.html">main-nav</a>, <a href="/components/filters/index.html">filters</a>, and <a href="/components/select/index.html">select</a> components for a unified user experience.</li>
            <li>Documented the skip link functionality on the <a href="/components/masthead/index.html">masthead page</a>, improving accessibility and navigation.</li>
            <li>Enabled <a href="/components/accordion/index.html">accordion open onload functionality</a>, enhancing user interaction by automatically displaying content upon page load.</li>
            <li>Increased the tap target size of the <a href="/components/footer/index.html">footer links</a> for improved usability and ease of navigation on various devices.</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.12.0" target="_blank">Code kit</a></td>
      </tr>

      <tr>
        <td>v3.11.0</td>
        <td>01.09.23</td>
        <td>
          <ul>
            <li>New <a href="/components/popover/index.html">Popover</a> component</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.11.0" target="_blank">Code kit</a></td>
      </tr>
      <tr>
        <td>v3.10.0</td>
        <td>22.08.23</td>
        <td>
          <ul>
            <li>Adds utility classes for <a href="/docs/content/utilities/background.html">Background</a>, <a href="/docs/content/utilities/borders.html">Borders</a>, <a href="/docs/content/utilities/box-shadow.html">Box Shadow</a>, <a href="/docs/content/utilities/display.html">Display</a>, <a href="/docs/content/utilities/flex.html">Flex</a>, <a href="/docs/content/utilities/float.html">Float</a>, <a href="/docs/content/utilities/overflow.html">Overflow</a>, <a href="/docs/content/utilities/position.html">Position</a>, <a href="/docs/content/utilities/svg.html">SVG</a>, <a href="/docs/content/utilities/text.html">Text</a>, <a href="/docs/content/utilities/vertical-align.html">Vertical align</a>, <a href="/docs/content/utilities/visibility.html">Visibility</a> and <a href="/docs/content/utilities/z-index.html">Z-index</a>.</li>
            <li>New <a href="/components/close-button/index.html">Close button</a> component documentation</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.10.0" target="_blank">Code kit</a></td>
      </tr>
      <tr>
        <td>v3.9.0</td>
        <td>20.07.23</td>
        <td>
          <ul>
            <li>New <a href="/components/link/index.html">Link</a> component documentation</li>
            <li>Added 'close on click outside' functionality to the <a href="/components/main-nav/index.html">Main navigation</a> component</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.9.0" target="_blank">Code kit</a></td>
      </tr>
      <tr>
        <td>v3.8.0</td>
        <td>10.07.23</td>
        <td>
          <ul>
            <li>Added new white outline <a href="/components/button/index.html">Button</a> variant</li>
            <li>Added pseudo content alternative text to <a href="/components/breadcrumbs/index.html">Breadcrumbs</a> right arrow icon to improve accessibility.</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.8.0" target="_blank">Code kit</a></td>
      </tr>
      <tr>
        <td>v3.7.0</td>
        <td>29.05.23</td>
        <td>
          <ul>
            <li>New <a href="/components/tooltip/index.html">Tooltip and Toggletip</a> component</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.7.0" target="_blank">Code kit</a></td>
      </tr>
      <tr>
        <td>v3.6.0</td>
        <td>08.05.23</td>
        <td>
          <ul>
            <li>New <a href="/templates/index.html">landing pages</a> templates</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.6.0" target="_blank">Code kit</a></td>
      </tr>
      <tr>
        <td>v3.5.3</td>
        <td>21.04.23</td>
        <td>
          <ul>
            <li>Added support for multiple select <a href="/components/filters/index.html">filtering</a> functionality</li>
            <li>Updated <a href="/components/filters/index.html">Filters</a> component documentation with new multiple select examples and use cases</li>
            <li>Fixed minor bugs related to the <a href="/components/select/index.html">multiple select</a> functionality</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.5.3" target="_blank">Code kit</a></td>
      </tr>
      <tr>
        <td>v3.5.2</td>
        <td>20.04.23</td>
        <td>
          <ul>
            <li>Added a disabled state to the <a href="/components/pagination/index.html">Pagination</a> component</li>
            <li>Updated the pink <a href="/core/colour/index.html">NSW Government colour palette</a> names to fuchsia for consistent brand naming. Fuchsia is a more specific and precise color name than pink, helping to avoid confusion and ensure that the NSW Government brand is consistently represented</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.5.2" target="_blank">Code kit</a></td>
      </tr>
      <tr>
        <td>v3.5.1</td>
        <td>19.04.23</td>
        <td>
          <ul>
            <li><a href="/components/callout/index.html">Callout</a> component heading level 4 changed to a paragraph tag with a <code>.nsw-h4</code> class to ensure that the heading structure follows a logical and hierarchical order</li>
            <li><a href="/components/in-page-alert/index.html">In-page alert</a> component heading level 5 changed to a paragraph tag with a <code>.nsw-h5</code> class to ensure that the heading structure follows a logical and hierarchical order</li>
            <li>Added a paragraph tag around text in <a href="/components/card/index.html">Cards</a> component to improve accessibility for users who rely on assistive technology to navigate.</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.5.1" target="_blank">Code kit</a></td>
      </tr>
      <tr>
        <td>v3.5.0</td>
        <td>06.04.23</td>
        <td>
          <ul>
            <li>Moved <a href="/components/select/index.html">Single select</a> component to separate page</li>
            <li>New <a href="/components/select/index.html">Multiple select</a> component</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.5.0" target="_blank">Code kit</a></td>
      </tr>
      <tr>
        <td>v3.4.0</td>
        <td>29.03.23</td>
        <td>
          <ul>
            <li>New <a href="/components/Status-labels/index.html">Status labels</a> component</li>
            <li>New <a href="/components/file-upload/index.html">File upload</a> component</li>
            <li>New <a href="/components/loader/index.html">Loader</a> component</li>
            <li>Updated HEX codes for the success green and warning orange <a href="/core/colour/index.html">status colours</a></li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.4.0" target="_blank">Code kit</a></td>
      </tr>
      <tr>
        <td>v3.3.0</td>
        <td>22.02.23</td>
        <td>
          <ul>
            <li>New <a href="/components/filters/index.html">Filters</a> variants for instant and batch filtering</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.3.0" target="_blank">Code kit</a></td>
      </tr>
      <tr>
        <td>v3.2.5</td>
        <td>21.02.23</td>
        <td>
          <ul>
            <li>New CSS variables for link <a href="/docs/content/develop/theming.html">theming</a> and updated link hover colour</li>
            <li>Bug fix for <a href="/components/tabs/index.html">Tabs</a> component</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.2.5" target="_blank">Code kit</a></td>
      </tr>
      <tr>
        <td>v3.2.4</td>
        <td>05.08.22</td>
        <td>
          <ul>
            <li>Fixed a bug on mobile version of <a href="/components/main-nav/index.html">main navigation</a></li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.2.4" target="_blank">Code kit</a></td>
      </tr>
      <tr>
        <td>v3.2.3</td>
        <td>05.08.22</td>
        <td>
          <ul>
            <li>Updated variants for <a href="/components/form/index.html">input group</a></li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.2.3" target="_blank">Code kit</a></td>
      </tr>
      <tr>
        <td>v3.2.2</td>
        <td>07.07.22</td>
        <td>
          <ul>
            <li>CSS syntax fix for <a href="/components/hero-banner/index.html">Hero banner</a> component</li>
            <li>Bug fix for <a href="/components/main-nav/index.html">Main navigation</a> component</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.2.2" target="_blank">Code kit</a></td>
      </tr>
      <tr>
        <td>v3.2.1</td>
        <td>01.07.22</td>
        <td>
          <ul>
            <li>New <a href="/components/hero-banner/index.html">Hero banner</a> off-white variant</li>
            <li>New <a href="/components/footer/index.html">Footer</a> brand palette and social variants</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.2.1" target="_blank">Code kit</a><br /><a target="_blank" href="https://github.com/digitalnsw/nsw-figma-archive/blob/main/release_notes.md#1-july-2022" target="_blank">UI Kit</a></td>
      </tr>
      <tr>
        <td>v3.2.0</td>
        <td>14.06.22</td>
        <td>
          <ul>
            <li>New <a href="/components/dialog/index.html">Dialog</a> Component</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.2.0" target="_blank">Code kit</a><br /><a target="_blank" href="https://github.com/digitalnsw/nsw-figma-archive/blob/main/release_notes.md#14-june-2022" target="_blank">UI Kit</a></td>
      </tr>

      <tr>
        <td>v3.1.0</td>
        <td>18.02.22</td>
        <td>
          <ul>
            <li>New <a href="/components/hero-banner/index.html">Hero banner</a> variant using line system</li>
            <li><a href="/components/hero-banner/index.html">Hero banner</a> featured list accent line changed to Brand Light</li>
            <li>New <a href="/components/steps/index.html">Steps</a> component </li>
            <li>New <a href="/docs/content/methods/you-are-here.html">You are here</a> method</li>
            <li>Added <a href="/docs/content/develop/helpers.html">Ulitily classes</a> for box shadow and borders</li>
            <li>Updated guidance for <a href="/components/header/index.html">Header</a> and <a href="/components/breadcrumbs/index.html">Breadcrumbs</a> components</li>
            <li>Added design and dev application information to <a href="/core/graphic-elements/index.html">Graphic elements</a> page</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.1.0" target="_blank">Code kit</a><br /><a target="_blank" href="https://github.com/digitalnsw/nsw-figma-archive/blob/main/release_notes.md#18-february-2022" target="_blank">UI Kit</a></td>
      </tr>
      <tr>
        <td>v3.0.5</td>
        <td>17.12.21</td>
        <td>
          <ul>
            <li>Updated <a href="/components/header/index.html">Header</a> component logo, padding and line height</li>
            <li>New <a href="/components/header/index.html">Header</a> variant for rectangular co-branded logos </li>
            <li>Added option to invert colours for <a href="/core/section/index.html">dark sections</a></li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.0.5" target="_blank">Code kit</a><br /><a target="_blank" href="https://github.com/digitalnsw/nsw-figma-archive/blob/main/release_notes.md#17-december-2021" target="_blank">UI Kit</a></td>
      </tr>
      </tr>
      <tr>
        <td>v3.0.4</td>
        <td>10.12.21</td>
        <td>
          <ul>
            <li>Updated <a href="/components/header/index.html">Header</a> with new logo and added descriptor guidance</li>
            <li>Fixed <a href="/components/filters/index.html">Filters</a> component scrolling issues</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.0.4" target="_blank">Code kit</a></td>
      </tr>
      </tr>
      <tr>
        <td>v3.0.3</td>
        <td>02.12.21</td>
        <td>
          <ul>
            <li>Changed highlight bar width to be consistent across components</li>
            <li>Changed <a href="/components/global-alert/index.html">Global alert</a> button colour</li>
            <li>Added compact variant to <a href="/components/in-page-alert/index.html">In page alert</a> component</li>
            <li><a href="/components/callout/index.html">Callout</a> component UI update</li>
            <li>Updated HEX value for Red 04</li>
            <li>Added responsive font and line height <a href="/docs/content/develop/theming.html">CSS variables</a></li>
            <li>Updated guidance for <a href="/components/card/index.html">Card</a> component</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.0.3" target="_blank">Code kit</a><br /><a target="_blank" href="https://github.com/digitalnsw/nsw-figma-archive/blob/main/release_notes.md#29th-november-2021" target="_blank">UI Kit</a></td>
      </tr>
      </tr>
      <tr>
        <td>v3.0.2</td>
        <td>18.11.21</td>
        <td>
          <ul>
            <li>Changed new card modifier</li>
            <li>Form example names fix</li>
            <li>Header title changed to Brand dark</li>
            <li>In-page notifications renamed</li>
            <li>New row 3 palette colours</li>
            <li>New map demo pages</li>
          </ul>
        </td>
        <td><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/releases/tag/v3.0.2" target="_blank">Code kit</a></td>
      </tr>
    </tbody>
  </table>
</div><br />

<!--
<h2 id="progress">Work in progress</h2>
<p>Follow early concepts and contribute to components and patterns that are in progress. </p>

<div class="nsw-table">
  <table>
    <thead>
      <tr>
        <th width="30%">Component</th>
        <th width="30%">Status</th>
        <th width="40%">Contribute</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Main navigation selected state</td>
        <td><span class="nsw-tag">In progress</span></td>
        <td><a target="_blank" href="https://community.digital.nsw.gov.au/t/collab-space-main-navigation-selected-state/1525">Join the community thread</a></td>
      </tr>
    </tbody>
  </table>
</div><br />


<h2 id="community">Consulting with community</h2>
<p>Shape the requirements of components and patterns by contributing feedback, learnings and insights.</p>

<div class="nsw-table">
  <table>
    <thead>
      <tr>
        <th width="30%">Component</th>
        <th width="30%">Status</th>
        <th width="40%">Contribute</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Side navigation</td>
        <td><span class="nsw-tag">In progress</span></td>
        <td><a target="_blank" href="https://community.digital.nsw.gov.au/t/collab-space-side-navigation-v2/1484">Join the community thread</a></td>
      </tr>
      <tr>
        <td>Main navigation</td>
        <td><span class="nsw-tag">In progress</span></td>
        <td><a target="_blank" href="#">Join the community thread</a></td>
      </tr>
    </tbody>
  </table>
</div><br />

<h2 id="backlog">Backlog</h2>
<p>Components and patterns that have been requested by digital teams or identified by the Design System team for potential use by digital creators.</p>

<div class="nsw-table">
  <table>
    <thead>
      <tr>
        <th width="30%">Component</th>
        <th width="30%">Status</th>
        <th width="40%">Contribute</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Social share/utility list</td>
        <td><span class="nsw-tag">Not started</span></td>
        <td><a target="_blank" href="https://community.digital.nsw.gov.au/">Start a community thread</a></td>
      </tr>
    </tbody>
  </table>
</div>

<h2 id="meetups">Meetups</h2>
<p>Get involved in meetups happening around NSW Government. </p>

<div class="nsw-table">
    <table>
      <thead>
      <tr>
        <th>Type</th>
        <th>Date</th>
        <th>Time</th>
        <th>Register</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Human Centred Design Comprac</td>
        <td>10 Mar 2022</td>
        <td>11am - 12pm</td>
        <td><a href="mailto:digital@customerservice.nsw.gov.au" target="_blank">Email us</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  
-->