---
title: Build a new component
width: narrow
no-blank: true
order: 30
meta-description: Build your component using styles and functionality that is distinctly NSW.
meta-index: true
---


<p>Build your component using styles and functionality that is distinctly NSW</p>

<p>All components must meet the <a href="/docs/content/contribute/contribution-criteria.html" title="Contribution criteria">contribution criteria</a> before it can be published.</p>

<p>To be considered for inclusion in the design system, all components must be <a href="/docs/content/contribute/contribution-criteria.html#suggested-components">useful and unique</a>.</p>

<p>Follow these 5 steps to build a new component for the design system:</p>

<div class="nsw-steps nsw-steps--fill nsw-steps--counters nsw-steps--accent">

  <div class="nsw-steps__item">
    <div class="nsw-steps__content">

      <h3>Check that it does not already exist</h3>

      <p>Your component could already exist or be in the process of development.</p>

      <p>Check existing components to be sure. You should also check for any research or discussion around a similar component in the <a href="https://community.digital.nsw.gov.au/c/components/15">Digital NSW community</a>.</p>

    </div>
  </div>

  <div class="nsw-steps__item">
    <div class="nsw-steps__content">

      <h3>Engage the community</h3>

      <p>Post your initial proposal, addressing how it is <a href="/docs/content/contribute/contribution-criteria.html#suggested-components">useful and unique</a>, along with any early wireframes or mockups to the Digital NSW community in the <a href="https://community.digital.nsw.gov.au/c/components/suggest-a-component/9">suggest a component</a> thread.</p>

      <p>This will help your process and the community by:</p>

      <ul>
        <li>Creating a forum to get continual feedback and support as you build your component.</li>
        <li>Providing a platform for teams to share their findings and research with you to assist with the development of the component.</li>
        <li>Visibility that the component is being worked on so there is no duplication of effort.</li>
      </ul>

    </div>
  </div>

  <div class="nsw-steps__item">
    <div class="nsw-steps__content">

      <h3>Build the component</h3>

      <p>Our design system has been purpose-built with styles and functionality that is distinctly NSW. Following these will ensure you meet the required design standards and maintain a high level of accessibility required for all NSW digital products and services.</p>

      <p>How to build your component:</p>

      <ul>
        <li>Ensure the component meets the <a href="/docs/content/contribute/contribution-criteria.html" title="Contribution criteria">contribution criteria</a></li>
        <li>Use our design system styles (colour, grid, typography etc)</li>
        <li>Use and modify existing components where possible (also available as a Figma UI Kit)</li>
        <li>Utilise existing design tokens and helper classes.</li>
        <li>Follow the css code style</li>
      </ul>
    </div>
  </div>
  <div class="nsw-steps__item">
    <div class="nsw-steps__content">

      <h3>Share progress with the community</h3>

      <p>As you create the component, post your progress and any developments including research, design decisions and use cases to keep the community up to date.</p>

      <p>This may be in the form of a code snippet, screenshots, sketch/figma files or written text on your research with references. This gives members of the community a chance to respond and share any work they may have done in the past on a similar component.</p>

    </div>
  </div>
  <div class="nsw-steps__item">
    <div class="nsw-steps__content">

      <h3>Get ready to go live</h3>

      <p>As you finalise your component, we'll work with you to review and build it into the design system. If your contribution is successful, it will become part of a backlog of components we are developing to support teams making services across NSW.</p>

    </div>
  </div>
</div>

<h2>Community</h2>

<p>The <a href="https://community.digital.nsw.gov.au" target="_blank">Digital NSW Community</a> brings together like-minded digital creators to collaborate, share and leverage learnings to create better customer experiences.</p>
<p>We encourage you to ask questions, pose problems/solutions and share your work so we can grow the design system. </p>