---
title: Propose a new component
width: narrow
no-blank: true
order: 3
meta-description: If you have an idea for a new component propose it.
meta-index: true
---

<p>Anyone can propose a new component for the design system.</p>

<p>To be successful, proposals need to show that the component being suggested would be <a href="/docs/content/contribute/contribution-criteria.html#suggested-components">useful and unique</a>.</p>

<p>Follow the 3 steps to propose a component or pattern for the design system.</p>

<div class="nsw-steps nsw-steps--fill nsw-steps--counters nsw-steps--accent">

  <div class="nsw-steps__item">
    <div class="nsw-steps__content">

      <h3>Check the community and backlog</h3>
      <p>Check the Community and backlog to ensure that your suggestion has not already been made.</p>
      <p>Then determine:</p>
      <ul>
        <li>If there is an existing component that will meet your needs</li>
        <li>If there is existing research or discussion around a similar component on the <a href="https://community.digital.nsw.gov.au/c/components/15">Digital NSW community</a></li>
      </ul>
    </div>
  </div>

  <div class="nsw-steps__item">
    <div class="nsw-steps__content">

      <h3>Propose your component</h3>
      <p>Propose your component along with evidence of the user need it will help solve, as well as any links to examples of it in use, or screenshots.</p>
      <ul>
        <li><strong>Digital NSW community platform</strong> - Post your component suggestion in the <a href="https://community.digital.nsw.gov.au/c/components/suggest-a-component/9">suggest a component</a> thread.</li>
        <li><strong>Email us</strong> - Email your component suggestion to <a href="mailto:digital@customerservice.nsw.gov.au">digital@customerservice.nsw.gov.au</a></li>
      </ul>
    </div>
  </div>

  <div class="nsw-steps__item">
    <div class="nsw-steps__content">

      <h3>Review</h3>
      <p>All proposals will be open for community feedback and further contribution.</p>

      <p>The design system team will assess your proposal and community input, and should it be successful, your component will be added to the backlog for development.</p>

    </div>
  </div>

</div>

<h2>Community</h2>
<p>The <a href="https://community.digital.nsw.gov.au" target="_blank">Digital NSW Community</a> brings together like-minded digital creators to collaborate, share and leverage learnings to create better customer experiences.</p>
<p>We encourage you to ask questions, pose problems/solutions and share your work so we can grow the design system. </p>