---
title: Propose a new component
width: narrow
no-blank: true
order: 3
meta-description: If you have an idea for a new component propose it.
meta-index: true
---

<p>Anyone can propose a new component for the design system.</p>

<p>To be successful, proposals need to show that the component being suggested would be <a href="/docs/content/contribute/contribution-criteria.html#suggested-components">useful and unique</a>.</p>

<p>Follow the 3 steps to propose a component or pattern for the design system.</p>

<div class="nsw-steps nsw-steps--fill nsw-steps--counters nsw-steps--accent">

  <div class="nsw-steps__item">
    <div class="nsw-steps__content">

      <h3>Check the backlog</h3>
      <p>Check the backlog to ensure that your suggestion has not already been made.</p>
      <p>Then determine:</p>
      <ul>
        <li>If there is an existing component that will meet your needs</li>
        <li>If there is existing research or discussion around a similar component</li>
      </ul>
    </div>
  </div>

  <div class="nsw-steps__item">
    <div class="nsw-steps__content">

      <h3>Propose your component</h3>
      <p>Propose your component along with evidence of the user need it will help solve, as well as any links to examples of it in use, or screenshots.</p>
      <ul>
        <li><strong>Email</strong> - Send your component suggestion to <a href="mailto:designsystem@customerservice.nsw.gov.au">designsystem@customerservice.nsw.gov.au</a>.</li>
      </ul>
    </div>
  </div>

  <div class="nsw-steps__item">
    <div class="nsw-steps__content">

      <h3>Review</h3>
      <p>All proposals will be open for community feedback and further contribution.</p>

      <p>The design system team will assess your proposal and community input, and should it be successful, your component will be added to the backlog for development.</p>

    </div>
  </div>

</div>

<h2>Community and support</h2>
<p>Share ideas, learn from other digital creators and get help proposing a component by contacting <a href="mailto:designsystem@customerservice.nsw.gov.au">designsystem@customerservice.nsw.gov.au</a>.</p>
<p>We encourage you to ask questions, pose problems/solutions and share your work so we can grow the design system. </p>
