@use '../../global/scss/base/functions' as functions;
@use '../../global/scss/base/mixins' as mixins;

.nsw-switch {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: functions.rem(12px);
  margin: 8px 0;

  &:focus-within,
  &:active {
    .nsw-switch__visual {      
      @include mixins.nsw-focus;
  
      .nsw-section--invert & {
        outline-color: var(--nsw-white);
      }
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
  }

  &__visual {
    display: inline-block;
    width: functions.rem(48px);
    height: functions.rem(28px);
    background-color: var(--nsw-brand-dark);
    border-radius: functions.rem(14px);
    position: relative;
    transition: background-color 0.3s ease;

    .nsw-section--invert & {
      box-shadow: inset 0 0 0 2px var(--nsw-brand-light);
    }
  }

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 4px;
    left: 4px;
    width: functions.rem(20px);
    height: functions.rem(20px);
    background: var(--nsw-white);
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;

    .nsw-section--invert & {
      background-color: var(--nsw-brand-light);
    }
  }

  &__off,
  &__on {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 16px;
      height: 16px;
      fill: none;
    }
  }

  &__on {
    color: var(--nsw-brand-light);
    opacity: 0;

    svg {
      stroke: var(--nsw-brand-light);
    }
  }

  &__off {
    color: var(--nsw-text-dark);
    opacity: 1;

    svg {
      stroke: var(--nsw-brand-dark);
    }
  }

  &__input:checked ~ .nsw-switch__visual {
    background-color: var(--nsw-brand-light);

    .nsw-switch__circle {
      transform: translateX(20px);
      background: var(--nsw-brand-dark);
    }

    .nsw-switch__on {
      opacity: 1;
    }

    .nsw-switch__off {
      opacity: 0;
    }
  }

  &__label {
    user-select: none;

    @include mixins.font-size('xs');
  }
}
