{{#if-equals type "toggle"}}
<label class="nsw-switch">
  <input type="checkbox" class="nsw-switch__input" id="{{id}}" name="tag-input" value="{{value}}"{{#if checked}} checked{{/if}}>
  <span class="nsw-switch__visual" aria-hidden="true">
    <span class="nsw-switch__circle">
      <span class="nsw-switch__off">
        <svg viewBox="0 0 24 24" stroke-width="3"><path d="M 19.5 4.5 L 4.5 19.5 M 4.5 4.501 L 19.5 19.5"></path></svg>
      </span>
      <span class="nsw-switch__on">
        <svg viewBox="0 0 24 24" stroke-width="3"><path d="M 3.572 13.406 L 8.281 18.115 L 20.428 5.885"></path></svg>
      </span>
    </span>
  </span>
  <span class="nsw-switch__label">{{label}}</span>
</label>
{{/if-equals}}
