---
title: Switch
width: narrow
page: true
model:
  switch: json/switch.json
---

{{#>_layout-container}}
<div class="nsw-switch nsw-switch--8">
  {{>_switch model.switch}}
</div>
{{/_layout-container}}
