---
title: Switch
width: narrow
page: true
model:
  booleon-right: json/booleon-right.json
  booleon-left: json/booleon-left.json
  binary-option: json/binary-option.json
---

{{#>_layout-container}}
<h3>Booleon toggle</h3>
<h4>Label right</h4>
{{>_switch model.booleon-right}}
<h4>Label left</h4>
{{>_switch model.booleon-left}}
<h3>Binary option switch</h3>
{{>_switch model.binary-option}}
{{/_layout-container}}

{{#>_layout-container brand-dark="true" invert="true"}}
<h3>Booleon toggle</h3>
<h4>Label right</h4>
{{>_switch model.booleon-right}}
<h4>Label left</h4>
{{>_switch model.booleon-left}}
<h3>Binary option switch</h3>
{{>_switch model.binary-option}}
{{/_layout-container}}

{{#>_layout-container brand-light="true"}}
<h3>Booleon toggle</h3>
<h4>Label right</h4>
{{>_switch model.booleon-right}}
<h4>Label left</h4>
{{>_switch model.booleon-left}}
<h3>Binary option switch</h3>
{{>_switch model.binary-option}}
{{/_layout-container}}
