---
title: Switch
width: narrow
page: true
model:
  binary-right: json/binary-right.json
  binary-left: json/binary-left.json
  booleon-option: json/booleon-option.json
---

{{#>_layout-container}}
<h3>Booleon toggle</h3>
<h4>Label right</h4>
{{>_switch model.binary-right}}
<h4>Label left</h4>
{{>_switch model.binary-left}}
<h3>Binary option switch</h3>
{{>_switch model.booleon-option}}
{{/_layout-container}}

{{#>_layout-container brand-dark="true" invert="true"}}
<h3>Booleon toggle</h3>
<h4>Label right</h4>
{{>_switch model.binary-right}}
<h4>Label left</h4>
{{>_switch model.binary-left}}
<h3>Binary option switch</h3>
{{>_switch model.booleon-option}}
{{/_layout-container}}

{{#>_layout-container brand-light="true"}}
<h3>Booleon toggle</h3>
<h4>Label right</h4>
{{>_switch model.binary-right}}
<h4>Label left</h4>
{{>_switch model.binary-left}}
<h3>Binary option switch</h3>
{{>_switch model.booleon-option}}
{{/_layout-container}}
