---
title: Switch
width: narrow
tabs: true
directory: switch
intro: A control that allows the user to toggle between checked and not checked.
theme: true
model:
  switch: json/switch.json
meta-description: A control that allows the user to toggle between checked and not checked.
meta-index: true
---

<h3>Switch</h3>
{{#>_docs-example}}
{{>_switch model.switch}}
{{/_docs-example}}
