---
title: Switch
width: narrow
tabs: true
directory: switch
intro: A control that allows the user to toggle between checked and not checked.
theme: true
model:
  binary-right: json/binary-right.json
  binary-left: json/binary-left.json
  booleon-option: json/booleon-option.json
meta-description: A control that allows the user to toggle between checked and not checked.
meta-index: true
---

<h3>Binary toggle</h3>
{{#>_docs-example}}
<h4>Label right</h4>
{{>_switch model.binary-right}}
<h4>Label left</h4>
{{>_switch model.binary-left}}
{{/_docs-example}}

<h3>Booleon option switch</h3>
{{#>_docs-example}}
{{>_switch model.booleon-option}}
{{/_docs-example}}
