---
title: Switch
width: narrow
page: true
model:
  switch: json/switch.json
---

{{#>_theme}}
{{#>_layout-container}}
<div class="nsw-switch nsw-m-top-sm">
  {{>_switch model.switch}}
</div>
{{/_layout-container}}
{{/_theme}}
