---
title: Show more
width: narrow
page: true
model: json/show-more.json
---

{{#>_theme}}
  {{#>_layout-container}}
    <h2>Supplementary content disclosure</h2>
    {{>_show-more model.supplementary}}
    <hr class="nsw-m-y-lg">
    <h2>Multiple supplementary disclosures with distinct context</h2>
    {{#each model.multiple}}
      <div class="nsw-m-y-md">
        {{>_show-more this}}
      </div>
    {{/each}}
  {{/_layout-container}}

  {{#>_layout-container brand-light="true"}}
    <h2>Supplementary content disclosure</h2>
    {{>_show-more model.supplementary}}
    <hr class="nsw-m-y-lg">
    <h2>Multiple supplementary disclosures with distinct context</h2>
    {{#each model.multiple}}
      <div class="nsw-m-y-md">
        {{>_show-more this}}
      </div>
    {{/each}}
  {{/_layout-container}}

  {{#>_layout-container brand-dark="true" invert="true"}}
    <h2>Supplementary content disclosure</h2>
    {{>_show-more model.supplementary}}
    <hr class="nsw-m-y-lg">
    <h2>Multiple supplementary disclosures with distinct context</h2>
    {{#each model.multiple}}
      <div class="nsw-m-y-md">
        {{>_show-more this}}
      </div>
    {{/each}}
  {{/_layout-container}}

  {{#>_layout-container brand-supplementary="true" invert="true"}}
    <h2>Supplementary content disclosure</h2>
    {{>_show-more model.supplementary}}
    <hr class="nsw-m-y-lg">
    <h2>Multiple supplementary disclosures with distinct context</h2>
    {{#each model.multiple}}
      <div class="nsw-m-y-md">
        {{>_show-more this}}
      </div>
    {{/each}}
  {{/_layout-container}}
{{/_theme}}
