---
title: Results bar
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Use results bar to indicate the number of results in a list and allow a user to sort by their preferred option.</p>

<h3>Results counter</h3>
<p>Update the count each time a search or filter criteria is changed.</p>

<h3>Sorting</h3>
<p>Allow users to sort the content by the factors that are most important to them. Results should be sorted by the option relevant to the content. Ie. Global search should be sorted by relevance to the searched term or phrase. Where as a News listing would be sorted by date order.</p>

<h3>No results</h3>
<p>If no results are returned, clearly communicate there are no matching results and allow the user to continue their journey by providing tips to improve or widen their results.</p>
<p>Some ways to do this are by:</p>
<ul>
  <li>suggest alternative keyword if current keyword is not found or a spelling mistake is detected (if possible)</li>
  <li>tips to improve or widen the results</li>
  <li>contact information or other ways to navigate the site</li>
</ul>

<h2>Accessibility</h2>
<p>All components are responsive and designed to comply with WCAG 2.2 AA accessibility standards, except where compliance is achieved through correct usage and configuration.</p>
