@use '../../global/scss/tools' as nsw;

.nsw-results-bar {
  margin: nsw.rem(24px) 0;

  @include nsw.breakpoint('lg') {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__sorting {
    display: flex;
    align-items: center;
    padding-block-start: nsw.rem(24px);

    @include nsw.breakpoint('lg') {
      padding-block-start: 0;
    }

    label {
      white-space: nowrap;
      margin-inline-end: nsw.rem(8px);
    }

    select {
      margin-block-start: 0;
      min-inline-size: nsw.rem(200px);
    }
  }
}
