<div class="nsw-results-bar">
  <div class="nsw-results-bar__info">{{#if empty}}Sorry, no results found for your search{{else}}Showing results 1 - 10 of 5917 results{{/if}}</div>{{#if sort}}
  <div class="nsw-results-bar__sorting">
    <label for="results-sort" class="nsw-form-label">Sort by:</label>
    <select id="results-sort" class="nsw-form-select">
      {{#each sort}}
      <option value="3">{{this}}</option>
      {{/each}}
    </select>
  </div>{{/if}}
</div>
