---
title: Results bar
width: narrow
model: json/results-bar.json
---

<h3>Default</h3>
{{#>_docs-example}}{{>_results-bar}}{{/_docs-example}}

<h3>Sorting</h3>
{{#>_docs-example}}{{>_results-bar model}}{{/_docs-example}}

<h3>Empty</h3>
{{#>_docs-example}}{{>_results-bar empty="true"}}{{/_docs-example}}
