---
title: Pictograms
order: 25
width: narrow
directory: pictograms
core: true
no-blank: true
intro: Pictograms represent a word or idea using simple and clean illustration.
meta-description: NSW Design System pictogram usage and application for NSW Government digital products and services.
meta-index: true
---

<nav class="nsw-in-page-nav" aria-labelledby="in-page-nav">
  <div class="nsw-in-page-nav__title">On this page</div>
  <ul class="nsw-in-page-nav__list">
    <li>
      <a href="#usage">Usage</a>
    </li>
        <li>
      <a href="#styling">Styling</a>
    </li>
    <!--<li>
      <a href="#application">Application</a>
    </li>-->
    <li>
      <a href="#designing">Designing</a>
    </li>
  </ul>
</nav>
<h2 id="usage">Usage</h2>
<p>Used pictograms to visually support and highlight content, making it quickly identifiable on the page.</p>
<div class="nsw-in-page-alert nsw-in-page-alert--info">
      <span class="material-icons nsw-material-icons nsw-in-page-alert__icon"
            focusable="false" aria-hidden="true">info</span>
  <div class="nsw-in-page-alert__content">
    <h4>Use SVG utility classes</h4>
    <p>Usability classes are available for developers to apply brand colours to SVGs. Use them  so that SVGs can be used across pages using different colour schemes. See <a href="/docs/content/develop/helpers.html">Utility classes</a> for names.</p>
  </div>
</div>
<h2 id="styling">Styling</h2>
<!--<h3>Sizing</h3>-->

<p>Pictograms are constructed on a 48 x 48px base grid. When creating pictograms, leave an empty padding of 3px. This provides a small buffer space. Our pictogram should be drawn to the edge of this padding where possible. </p>
<div class="nsw-section nsw-section--white nsw-block nsw-p-sm">
  <div class="nsw-table nsw-table--bordered nsw-table--valign-middle">
    <table>
      <tbody>
      <tr>
        <th>
          <p>Sizing</p>
        </th>
        <th>
          <p>Stroke</p>
        </th>
        <th>
          <p>Padding</p>
        </th>
        <th>
          <p>Live Area</p>
        </th>
      </tr>
      <tr>
        <td>
          <p>48px x 48px</p>
        </td>
        <td>1px</td>
        <td>
          <p>3px</p>
        </td>
        <td>
          <p>42px x 42px</p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="nsw-grid">
    <div class="nsw-col nsw-col-sm-4">
    <figure class="nsw-media nsw-media--light">
      <img src="/assets/images/pictogram-brand-padding.png" alt="icon padding"><br>
      <figcaption><strong>Padding</strong><br>
        3px of padding surrounds the live area.
      </figcaption>
    </figure>
  </div>
  <div class="nsw-col nsw-col-sm-4">
    <figure class="nsw-media nsw-media--light">
      <img src="/assets/images/pictogram-brand-live-area.png" alt="icon anatomy"><br/>
      <figcaption><strong>Live area</strong><br>
        Pictogram content should remain inside the 42px x 42px live area.
      </figcaption>
    </figure>
  </div>
</div>

    <div class="nsw-callout">
      <div class="nsw-callout__content">
        <h4>Pictogram Brand Styling</h4>
        <p>For full pictograms creation guidance, visit your relevant brand classification guidelines at the <a href="https://branding.nsw.gov.au" target="_blank">NSW Government Visual identity system</a>.</p>
      </div>
    </div>
  


<!--<p>Pictograms should be designed on a pixel-based grid of 64px x 64px with a live area of 60px x 60px, and can be scaled down linearly to half size if required. Pictogram content should remain inside of the live area, which is the region of an image that is unlikely to be hidden from view (such as when sidebars appear upon scrolling).</p>
<div class="nsw-section nsw-section--white nsw-block nsw-p-sm">
  <div class="nsw-table nsw-table--bordered nsw-table--valign-middle">
    <table>
      <tbody>
      <tr>
        <th>
          <p>Sizing</p>
        </th>
        <th>
          <p>Stroke</p>
        </th>
        <th>
          <p>Padding</p>
        </th>
        <th>
          <p>Live Area</p>
        </th>
      </tr>
      <tr>
        <td>
          <p>64px x 64px</p>
        </td>
        <td>2px</td>
        <td>
          <p>2px</p>
        </td>
        <td>
          <p>60px x 60px</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>32px x 32px</p>
        </td>
        <td>1px</td>
        <td>
          <p>1px</p>
        </td>
        <td>30px x 30px</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="nsw-grid">
  <div class="nsw-col nsw-col-sm-4">
    <figure class="nsw-media nsw-media--light">
      <img src="/assets/images/icon-sizing-live-area.png" alt="icon anatomy">
      <figcaption><strong>Live area</strong><br>
        Pictogram content should remain inside the 60px x 60px live area.
      </figcaption>
    </figure>
  </div>
  <div class="nsw-col nsw-col-sm-4">
    <figure class="nsw-media nsw-media--light">
      <img src="/assets/images/icon-sizing-padding.png" alt="icon padding">
      <figcaption><strong>Padding</strong><br>
        2px of padding surrounds the live area.
      </figcaption>
    </figure>
  </div>
</div>
<h3>Stroke</h3>
<p>Pictogram stroke is 2px to maintain consistency and a clear visual weight. If creating a smaller sized pictogram use it’s relevant stroke indicated in the table above. Don’t use inconsistent stroke weights. Open strokes should have rounded edges. Make sure to position “on pixel” by making the X and Y coordinates whole numbers, avoiding decimals.</p>
<div class="nsw-grid">
  <div class="nsw-col nsw-col-sm-4">
    <figure class="nsw-media nsw-media--light">
      <img src="/assets/images/icon-stroke-2px.png" alt="icon stroke">
      <figcaption><strong>2px stroke</strong>
      </figcaption>
    </figure>
  </div>
  <div class="nsw-col nsw-col-sm-4">
    <figure class="nsw-media nsw-media--light">
      <img src="/assets/images/icon-stroke-position.png" alt="position stoke">
      <figcaption><strong>Position stroke "on pixel"</strong>
      </figcaption>
    </figure>
  </div>
</div>
<h3>Padding</h3>
<p>The grid contains 2px padding. Pictograms should remain inside the live area and not cross over into the padding area.</p>
<div class="nsw-grid">
  <div class="nsw-col nsw-col-sm-4">
    <figure class="nsw-media nsw-media--light">
      <img src="/assets/images/icon-padding-do.png" alt="Correct padding">
    </figure>
  </div>
  <div class="nsw-col nsw-col-sm-4">
    <figure class="nsw-media nsw-media--light">
      <img src="/assets/images/icon-padding-dont.png" alt="Incorrect padding">
    </figure>
  </div>
</div>
<h3>Corner radius</h3>
<p>Corner radius should be 2px and increased where necessary to make rounded objects. Interior corners should be square.</p>


<div class="nsw-grid">
  <div class="nsw-col nsw-col-sm-4">
    <figure class="nsw-media nsw-media--light">
      <img src="/assets/images/icon-corner-radius.png" alt="Correct padding">
           <figcaption><strong>External corners with 2px radius and square internal corners.</strong>
    </figure>
  </div>
</div>
<h3>Colour</h3>
<p>Pictograms are two toned and can be designed using different colour combinations. If you change your Brand colours from the base palette ensure you choose the right combination that communicates your brand and has a distinguishable contrast ratio with the background colour.</p>
<div class="nsw-grid">
  <div class="nsw-col nsw-col-sm-3">
    <figure class="nsw-media nsw-media--light">
      <img src="/assets/images/grey-accent.png" alt="bulb and calendar icons in brand dark and accent colour">
      <figcaption><strong>Brand Dark + <br>Brand Accent</strong>
      </figcaption>
    </figure>
  </div>
  <div class="nsw-col nsw-col-sm-3">
    <figure class="nsw-media nsw-media--light">
      <img src="/assets/images/grey-supp.png" alt="bulb and calendar icons in brand dark and supplementary colour">
      <figcaption><strong>Brand Dark + <br>Brand Supplementary</strong>
      </figcaption>
    </figure>
  </div>
  <div class="nsw-col nsw-col-sm-3">
    <figure class="nsw-media nsw-media--light">
      <img src="/assets/images/dark-accent.png" alt="bulb and calendar icons in grey 01 and accent colour">
      <figcaption><strong>Grey 01 + <br>Brand Accent</strong>
      </figcaption>
    </figure>
  </div>
  <div class="nsw-col nsw-col-sm-3">
    <figure class="nsw-media nsw-media--light">
      <img src="/assets/images/dark-supp.png" alt="bulb and calendar icons in grey 01 and supplementary colour">
      <figcaption><strong>Grey 01 + <br>Brand Supplementary</strong>
      </figcaption>
    </figure>
  </div>
</div>

<h2 id="application">Application</h2>
<h3>Spacing and positioning</h3>
<p>Minimum spacing around pictograms should be 24px and wherever possible, size your spacing in multiples of 8 pixels.</p>
<div class="nsw-grid">
  <div class="nsw-col nsw-col-sm-6">
    <figure class="nsw-media">
      <img src="/assets/images/pictogram-spacing.png" alt="A component showing spacing">
    </figure>
  </div>
</div>
<h3>Alignment</h3>
<p>Visually centre pictogram and centre-align where it appears next to text.</p>
<div class="nsw-grid">
  <div class="nsw-col nsw-col-sm-5">
    <figure class="nsw-media nsw-media--light">
      <img src="/assets/images/vertical-centre.png" alt="An icon and text horizontally aligned">
    </figure>
  </div>
  <div class="nsw-col nsw-col-sm-7">
    <figure class="nsw-media nsw-media--light">
      <img src="/assets/images/horizontal-centre.png" alt="An icon and text horizontally aligned">
    </figure>
  </div>
</div>-->

<h2 id="designing">Designing</h2>
<h3>Creating SVGs</h3>
<p>The majority of design software allows you to create an SVG file by selecting this format when exporting.</p>
<p>Tips for creating SVGs:</p>
<ul>
  <li>Flatten and outline all elements</li>
  <li>Do not use masks</li>
  <li>Ensure white colour is intentionally white and transparent is intentionally transparent
  </li>
</ul>
<h3>Benefits of using SVGs</h3>
<p>SVGs are scalable vector graphics made up of points, lines and shapes which can easily be adapted in size making them an advantageous choice for responsive design. Other benefits of using SVG format over other raster formats (for example JPEG, GIF and PNG) include:</p>
<ul>
  <li>Ability to scale and graphic to any size without losing quality</li>
  <li>Smaller file sizes means your page will load faster</li>
  <li>Easily editable strokes and colours through CSS</li>
</ul>
