---
title: Easy Read category page
order: 22
page: true
directory: Easy Read
model:
  nav-basic: ../../components/main-nav/json/main-nav.json
  page: ../../docs/content/methods/json/easy-read-category.json
  footer: ../../components/footer/json/footer.json
---

{{>_masthead content="#content" nav="#main-nav"}}
{{>_header header-title="NSW Department"}}
{{>_main-nav model.nav-basic}}
<div class="nsw-container nsw-p-bottom-xs">
  {{>_breadcrumbs model.page.breadcrumbs}}
</div>

<div class="nsw-container nsw-p-top-sm nsw-p-bottom-lg">
  <div class="nsw-layout">
    <main id="content" class="nsw-layout__main nsw-easy-read-content">
      <h1>Health and wellbeing</h1>
      <p class="nsw-intro">Easy Read information to help you look after your health and get support.</p>

      {{>_easy-read-read-aloud}}

      {{#each model.page.groups}}
      <section id="{{id}}" class="nsw-easy-read-category-group nsw-block">
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-md-4">
            <img class="nsw-easy-read-category-group__image" src="{{img}}" alt="{{imgAlt}}">
          </div>
          <div class="nsw-col nsw-col-md-8 nsw-easy-read-category-group__content">
            <h2>{{heading}}</h2>
            {{>_link-list title=false list=links}}
          </div>
        </div>
      </section>
      {{/each}}

      <p class="nsw-m-top-lg"><a href="/templates/content/easy-read-landing.html">Back to all Easy Read topics</a></p>

      <hr class="nsw-m-y-lg">

      <div class="nsw-block nsw-p-bottom-md">
        {{>_easy-read-about model.page.about}}
      </div>
    </main>
  </div>
</div>

{{>_footer model.footer}}
