<table class="nsw-table {{#if captionTop}}nsw-table--caption-top{{/if}} {{#if striped}}nsw-table--striped{{/if}} {{#if borderd}}nsw-table--bordered{{/if}} js-responsive-table">
  <caption>Example html table caption</caption>
  <thead>
    <tr>
      <th>One</th>
      <th>Two</th>
      <th>Three</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Donec velit neque, auctor sit amet aliquam</td>
      <td>Vestibulum ante ipsum primis</td>
      <td>Praesent sapien massa</td>
    </tr>
    <tr>
      <td>Vestibulum ante ipsum primis in faucibus orci</td>
      <td>convallis a pellentesque nec</td>
      <td>egestas non nisi</td>
    </tr>
    <tr>
      <td>Quisque velit nisi, pretium ut lacinia</td>
      <td>elementum id enim</td>
      <td>Donec velit neque, auctor sit amet aliquam</td>
    </tr>
    <tr>
      <td>Vestibulum ante ipsum primis</td>
      <td>Praesent sapien massa</td>
      <td>Vestibulum ante ipsum primis</td>
    </tr>
  </tbody>
</table>
