<div class="nsw-content nsw-container">
	 <h1>Tables</h1>
	<h2>Tables</h2>

      <p>The following table has a caption. The first row and the first nsw-column
      contain table header cells (<code>th</code> elements) only; other cells
      are data cells (<code>td</code> elements), with <code>align="right"</code>
      attributes:</p>

      <TABLE summary=
      "Each row names a Nordic country and specifies its total area and land area, in square kilometers">
      <CAPTION>Sample table: Areas of the Nordic countries, in sq km</CAPTION>
      <TR><th scope="nsw-col">Country</th> <th scope="nsw-col">Total area</TH> <th scope="nsw-col">Land area</TH>
      <TR><th scope="row">Denmark</TH> <TD ALIGN=RIGHT> 43,070 </TD><TD ALIGN=RIGHT> 42,370</TR>
      <TR><th scope="row">Finland</TH> <TD ALIGN=RIGHT>337,030 </TD><TD ALIGN=RIGHT>305,470</TR>
      <TR><th scope="row">Iceland</TH> <TD ALIGN=RIGHT>103,000 </TD><TD ALIGN=RIGHT>100,250</TR>
      <TR><th scope="row">Norway</TH>  <TD ALIGN=RIGHT>324,220 </TD><TD ALIGN=RIGHT>307,860</TR>
      <TR><th scope="row">Sweden</TH>  <TD ALIGN=RIGHT>449,964 </TD><TD ALIGN=RIGHT>410,928</TR>
      </TABLE>

      
</div>