---
title: Tables
model:
  basic: tables.json
---
<div class="nsw-wysiwyg-content nsw-container">
  <h1>Responsive Tables (scroll on mobile)</h1>
  {{>_tables model.basic}}
</div>

<div class="nsw-wysiwyg-content nsw-container">
  <h1>Striped</h1>
  {{>_tables model.basic striped="true"}}
</div>

<div class="nsw-wysiwyg-content nsw-container">
  <h1>Caption Top</h1>
  {{>_tables model.basic captionTop="true"}}
</div>

<div class="nsw-wysiwyg-content nsw-container">
  <h1>Bordered</h1>
  {{>_tables model.basic bordered="true"}}
</div>

<div class="nsw-wysiwyg-content nsw-container">
  <h1>Stripe and Bordered</h1>
  {{>_tables model.basic striped="true" bordered="true"}}
</div>
