---
title: Search results - Filters
order: 32
page: true
model:
  nav: ../../components/main-nav/json/main-nav-digital-nsw.json
  breadcrumbs: ../../components/breadcrumbs/json/breadcrumbs-search.json
  results-bar: ../../components/results-bar/json/results-bar.json
  list-item: ../../components/list-item/json/list-item-label-date.json
  filters: ../../components/filters/json/options-1.json
  footer: ../../components/footer/json/footer.json
---

{{>_masthead content="#content" nav="#main-nav"}}
{{>_header header-title="digital.nsw" header-description="Department of Customer Service"}}
{{>_main-nav model.nav}}
<div class="nsw-container nsw-p-bottom-xs">
  {{>_breadcrumbs model.breadcrumbs}}
</div>

<main id="content" class="nsw-container nsw-p-top-sm nsw-p-bottom-lg">
  <div class="nsw-layout">
    <div class="nsw-layout__main">
      <h1>Search</h1>
      <p class="nsw-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      <div class="nsw-m-top-lg">
        {{>_input-group
          id="search-input"
          label="Search"
        }}
      </div>
    </div>
    <div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
  </div>
  <div class="nsw-layout">
    <div class="nsw-layout__sidebar">
      {{>_filters model.filters}}
    </div>
    <div class="nsw-layout__main">
      {{>_results-bar model.results-bar}}

      <div class="nsw-search-results">
        {{>_list-item model.list-item}}
        {{>_list-item model.list-item}}
        {{>_list-item model.list-item}}
        {{>_list-item model.list-item}}
        {{>_list-item model.list-item}}
        {{>_list-item model.list-item}}
        {{>_list-item model.list-item}}
        {{>_list-item model.list-item}}
        {{>_list-item model.list-item}}
        {{>_list-item model.list-item}}
      </div>

      <div class="nsw-block">
        {{>_pagination}}
      </div>
    </div>
  </div>
</main>

{{>_footer model.footer}}
