<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Side navigation</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="/nsw-design-system/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
</head>

<body class="nsw-body-content">
<div class="nsw-container nsw-p-y-sm">
  <div class="nsw-page-layout">
  	<div class="nsw-page-layout__sidebar">
  		<div class="nsw-docs__section nsw-docs__section--spaced"> 
  		<nav class="nsw-sidenav" aria-labelledby="sksm726ns side navigation">
  		  <div class="nsw-sidenav__header">
  		    <h2 id="sksm726ns" class="nsw-sidenav__heading">
  		      <a href="#" class="nsw-sidenav__heading-link">Agile Methodology</a>
  		    </h2>
  		  </div>
  		  <ul class="nsw-sidenav__list nsw-sidenav__list--level-1">
  		    <li class="nsw-sidenav__list-item">
  		      <a href="#" class="nsw-sidenav__link">Pre-discovery</a>
  		    </li>
  		    <li class="nsw-sidenav__list-item">
  		      <a href="#" class="nsw-sidenav__link">Discovery</a>
  		    </li>
  		    <li class="nsw-sidenav__list-item has-active-children">
  		      <a href="#" class="nsw-sidenav__link is-current" aria-current="page">Alpha</a>
  		    </li>
  		    <li class="nsw-sidenav__list-item">
  		      <a href="#" class="nsw-sidenav__link">Beta</a>
  		    </li>
  		    <li class="nsw-sidenav__list-item">
  		      <a href="#" class="nsw-sidenav__link">Live</a>
  		    </li>
  		  </ul>
  		</nav>
  		</div>
  		<div class="nsw-docs__section nsw-docs__section--spaced"> 
  		<nav class="nsw-sidenav" aria-labelledby="sksm7sss26ns side navigation">
  		  <div class="nsw-sidenav__header">
  		    <h2 id="sksm7sss26ns" class="nsw-sidenav__heading">
  		      <a href="#" class="nsw-sidenav__heading-link">About DPC</a>
  		    </h2>
  		  </div>
  		  <ul class="nsw-sidenav__list nsw-sidenav__list--level-1">
  		    <li class="nsw-sidenav__list-item">
  		      <a href="#" class="nsw-sidenav__link">About the Department</a>
  		    </li>
  		    <li class="nsw-sidenav__list-item">
  		      <a href="#" class="nsw-sidenav__link">Careers</a>
  		    </li>
  		    <li class="nsw-sidenav__list-item">
  		      <a href="#" class="nsw-sidenav__link">Accessing DPC information</a>
  		    </li>
  		    <li class="nsw-sidenav__list-item">
  		      <a href="#" class="nsw-sidenav__link">Premier and Cabinet cluster</a>
  		    </li>
  		    <li class="nsw-sidenav__list-item has-active-children">
  		      <a href="#" class="nsw-sidenav__link">NSW Digital Design System</a>
  		      <ul class="nsw-sidenav__list nsw-sidenav__list--level-2">
  		        <li class="nsw-sidenav__list-item">
  		          <a href="#" class="nsw-sidenav__link">Building a service</a>
  		        </li>
  		        <li class="nsw-sidenav__list-item">
  		          <a href="#" class="nsw-sidenav__link is-current" aria-current="page">Content design</a>
  		        </li>
  		        <li class="nsw-sidenav__list-item">
  		          <a href="#" class="nsw-sidenav__link">Using artefacts</a>
  		        </li>
  		        <li class="nsw-sidenav__list-item">
  		          <a href="#" class="nsw-sidenav__link">Experimenting</a>
  		        </li>
  		      </ul>
  		    </li>
  		  </ul>
  		</nav>
  		</div>
  		<div class="nsw-docs__section nsw-docs__section--spaced"> 
  		<nav class="nsw-sidenav" aria-labelledby="sksm7sss27ns side navigation">
  		  <div class="nsw-sidenav__header">
  		    <h2 id="sksm7sss27ns" class="nsw-sidenav__heading">
  		      <a href="#" class="nsw-sidenav__heading-link">Service Design</a>
  		    </h2>
  		  </div>
  		  <ul class="nsw-sidenav__list nsw-sidenav__list--level-1">
  		    <li class="nsw-sidenav__list-item">
  		      <a href="#" class="nsw-sidenav__link">What is Service Design</a>
  		    </li>
  		    <li class="nsw-sidenav__list-item">
  		      <a href="#" class="nsw-sidenav__link">Service Design methodologies</a>
  		    </li>
  		    <li class="nsw-sidenav__list-item has-active-children">
  		      <a href="#" class="nsw-sidenav__link">Agile Ways of working</a>
  		      <ul class="nsw-sidenav__list nsw-sidenav__list--level-2">
  		        <li class="nsw-sidenav__list-item">
  		          <a href="#" class="nsw-sidenav__link">Pre-discovery</a>
  		        </li>
  		        <li class="nsw-sidenav__list-item">
  		          <a href="#" class="nsw-sidenav__link">Discovery</a>
  		        </li>
  		        <li class="nsw-sidenav__list-item has-active-children">
  		          <a href="#" class="nsw-sidenav__link">Alpha</a>
  		          <ul class="nsw-sidenav__list nsw-sidenav__list--level-3">
  		            <li class="nsw-sidenav__list-item">
  		              <a href="#" class="nsw-sidenav__link">What is Alpha?</a>
  		            </li>
  		            <li class="nsw-sidenav__list-item">
  		              <a href="#" class="nsw-sidenav__link">Turning Research into design</a>
  		            </li>
  		            <li class="nsw-sidenav__list-item has-active-children">
  		              <a href="#" class="nsw-sidenav__link is-current" aria-current="page">Prototyping</a>
  		              <ul class="nsw-sidenav__list nsw-sidenav__list--level-4">
  		                <li class="nsw-sidenav__list-item">
  		                  <a href="#" class="nsw-sidenav__link">Low fidelity</a>
  		                </li>
  		                <li class="nsw-sidenav__list-item">
  		                  <a href="#" class="nsw-sidenav__link">High Fidelity</a>
  		                </li>
  		                <li class="nsw-sidenav__list-item">
  		                  <a href="#" class="nsw-sidenav__link">Prototyping tools</a>
  		                </li>
  		              </ul>
  		            </li>
  		          </ul>
  		        </li>
  		        <li class="nsw-sidenav__list-item">
  		          <a href="#" class="nsw-sidenav__link">Beta</a>
  		        </li>
  		        <li class="nsw-sidenav__list-item">
  		          <a href="#" class="nsw-sidenav__link">Live</a>
  		        </li>
  		      </ul>
  		    </li>
  		    <li class="nsw-sidenav__list-item">
  		      <a href="#" class="nsw-sidenav__link">Team roles</a>
  		    </li>
  		    <li class="nsw-sidenav__list-item">
  		      <a href="#" class="nsw-sidenav__link">Resources</a>
  		    </li>
  		  </ul>
  		</nav>
  		</div>
  	</div>
  </div>
</div>

  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
