---
title: Feature - Center
order: 3
page: true
model:
  nav: ../../components/main-nav/json/main-nav-digital-nsw.json
  footer: ../../components/footer/json/footer-landing.json
  card-simple-1: ../../components/card/json/card-simple-1.json
  card-news-1: ../../components/card/json/card-news-1.json
  card-media-1: ../../components/card/json/card-media-1.json
---


{{>_masthead content="#content" nav="#main-nav"}}
{{>_header header-title="digital.nsw"}}
{{>_main-nav model.nav}}

<section class="nsw-section nsw-section--brand-dark">
  <div class="nsw-container nsw-text-center">
    <div class="nsw-grid nsw-justify-content-center nsw-p-y-xl">
      <div class="nsw-col nsw-col-7">
        <h1>Helping you deliver great government services</h1>
        <p class="nsw-intro">Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance</p>
        <p><a href="#" class="nsw-button nsw-button--white">Digital Service Toolkit</a></p>
      </div>
    </div>
  </div>
</section>

<main id="content">

  <section class="nsw-section">
    <div class="nsw-container">
      <div class="nsw-grid nsw-justify-content-center nsw-p-y-xl nsw-text-center">
        <div class="nsw-col nsw-col-7">
          <h2 class="nsw-h2">The hub for all your communication.</h2>
          <p class="nsw-intro">Communicate with your team in public or private chats with individuals or groups.</p>
        </div>
      </div>

      <div class="nsw-grid">
        <div class="nsw-col nsw-col-md-6">
          {{>_card
          img="https://picsum.photos/id/29/200/200"
          horizontal=true
          heading="Update your details"
          copy="Help us keep your records accurate and up to date."
          }}
        </div>
        <div class="nsw-col nsw-col-md-6">
          {{>_card
          img="https://picsum.photos/id/28/800/800"
          horizontal=true
          heading="Rollover"
          copy="Rollover is the process of reviewing the transport services for all students at the end of each school year"
          }}
        </div>
        <div class="nsw-col nsw-col-md-6">
          {{>_card
          img="https://picsum.photos/id/27/800/800"
          horizontal=true
          heading="School safety"
          copy="Get up-to-date information on schools that have temporarily ceased operations."
          }}
        </div>
        <div class="nsw-col nsw-col-md-6">
          {{>_card
          img="https://picsum.photos/id/26/800/800"
          horizontal=true
          heading="Contact us"
          copy="Call 1300 338 278 (toll free) during our business hours, 8am to 5pm, Monday to Friday during school terms."
          }}
        </div>
      </div>

    </div>
  </section>

  <section class="nsw-section">
    <div class="nsw-container nsw-text-center">
      <hr>
      <div class="nsw-grid nsw-justify-content-center nsw-p-y-md">
        <div class="nsw-col nsw-col-7">
          <h2 class="nsw-h2">The hub for all your communication.</h2>
          <p class="nsw-intro">Communicate with your team in public or private chats with individuals or groups.</p>
        </div>
      </div>
      <div class="nsw-grid nsw-grid--spaced">
        <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
          <div class="nsw-content-block">
            <div class="nsw-content-block__image nsw-m-bottom-xs nsw-display-flex nsw-justify-content-center">
                <div class="nsw-content-block__icon nsw-width-xl nsw-height-xl">
                  <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                    <g data-name="Pictograms main colour">
                      <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="m29.97,38.5H7.5c-2.21,0-4-1.79-4-4V7.5c0-2.21,1.79-4,4-4h28c2.21,0,4,1.79,4,4v22.48"/>
                      <polyline fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" points="3.5 33.5 30.61 33.5 21.5 19.5 11.5 33.5"/>
                      <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="m3.5 11.5h21c2.21 0 4-1.79 4-4v-4"/>
                      <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="31" x2="39.5" y1="11.5" y2="11.5"/>
                      <polygon fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" points="14.5 11.5 11.5 11.5 11.5 17.5 14.5 20.5 17.5 17.5 17.5 11.5"/>
                      <circle fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" cx="38" cy="38" r="6.5"/>
                    </g>
                    <path fill="#002664" d="m34.24,36.34c.15-.22.35-.38.61-.49s.55-.16.87-.16c.34,0,.64.04.9.13.26.09.47.22.61.4.15.18.22.4.22.67,0,.47-.27.8-.82.99.27.07.49.2.67.38.17.18.26.42.26.7s-.08.53-.25.73-.39.35-.67.46c-.28.1-.59.16-.94.16s-.67-.06-.92-.17c-.26-.12-.45-.28-.59-.5-.14-.22-.21-.48-.21-.78h.87c.04.25.14.43.29.55.15.12.34.18.56.18.18,0,.34-.03.47-.08.13-.05.24-.13.31-.22.07-.1.11-.21.11-.33s-.04-.24-.11-.33c-.07-.09-.17-.17-.31-.22-.13-.05-.28-.08-.45-.08l-.43-.02v-.72l.38-.02c.16,0,.3-.04.42-.09.12-.05.22-.12.28-.21.07-.09.1-.19.1-.31,0-.11-.03-.2-.1-.28-.07-.08-.16-.15-.28-.19-.12-.05-.26-.07-.41-.07-.23,0-.42.06-.57.18-.15.12-.23.31-.25.56h-.86c0-.31.07-.58.22-.79Z"/>
                    <path fill="#002664" d="m38.74,35.76c.47,0,.79,0,.94,0,.79.02,1.38.22,1.76.6.38.38.57.92.57,1.61,0,.47-.09.88-.26,1.21-.17.34-.43.6-.78.78s-.79.27-1.31.27h-1.31v-4.48h.4Zm.93,3.75c.42,0,.75-.12,1.01-.37.26-.25.38-.64.38-1.17s-.12-.88-.36-1.12-.58-.36-1.02-.36h-.43v3.02h.42Z"/>
                  </svg>
                </div>
            </div>
            <div class="nsw-content-block__content">
              <div class="nsw-content-block__title">Concessions and rebates</div>
              <p class="nsw-content-block__copy">If you need help with the cost of living there are rebates and concessions you may be able to receive.</p>
              <div class="nsw-content-block__link">
                <a class="js-link" href="https://digital.nsw.gov.au">
                  <span>Get started</span><span class="material-icons nsw-material-icons" title="Get started">east</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
          <div class="nsw-content-block">
            <div class="nsw-content-block__image nsw-m-bottom-xs nsw-display-flex nsw-justify-content-center">
                <div class="nsw-content-block__icon nsw-width-xl nsw-height-xl">
                  <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                    <g data-name="Pictograms main colour">
                      <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="m29.97,38.5H7.5c-2.21,0-4-1.79-4-4V7.5c0-2.21,1.79-4,4-4h28c2.21,0,4,1.79,4,4v22.48"/>
                      <polyline fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" points="3.5 33.5 30.61 33.5 21.5 19.5 11.5 33.5"/>
                      <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="m3.5 11.5h21c2.21 0 4-1.79 4-4v-4"/>
                      <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="31" x2="39.5" y1="11.5" y2="11.5"/>
                      <polygon fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" points="14.5 11.5 11.5 11.5 11.5 17.5 14.5 20.5 17.5 17.5 17.5 11.5"/>
                      <circle fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" cx="38" cy="38" r="6.5"/>
                    </g>
                    <path fill="#002664" d="m34.24,36.34c.15-.22.35-.38.61-.49s.55-.16.87-.16c.34,0,.64.04.9.13.26.09.47.22.61.4.15.18.22.4.22.67,0,.47-.27.8-.82.99.27.07.49.2.67.38.17.18.26.42.26.7s-.08.53-.25.73-.39.35-.67.46c-.28.1-.59.16-.94.16s-.67-.06-.92-.17c-.26-.12-.45-.28-.59-.5-.14-.22-.21-.48-.21-.78h.87c.04.25.14.43.29.55.15.12.34.18.56.18.18,0,.34-.03.47-.08.13-.05.24-.13.31-.22.07-.1.11-.21.11-.33s-.04-.24-.11-.33c-.07-.09-.17-.17-.31-.22-.13-.05-.28-.08-.45-.08l-.43-.02v-.72l.38-.02c.16,0,.3-.04.42-.09.12-.05.22-.12.28-.21.07-.09.1-.19.1-.31,0-.11-.03-.2-.1-.28-.07-.08-.16-.15-.28-.19-.12-.05-.26-.07-.41-.07-.23,0-.42.06-.57.18-.15.12-.23.31-.25.56h-.86c0-.31.07-.58.22-.79Z"/>
                    <path fill="#002664" d="m38.74,35.76c.47,0,.79,0,.94,0,.79.02,1.38.22,1.76.6.38.38.57.92.57,1.61,0,.47-.09.88-.26,1.21-.17.34-.43.6-.78.78s-.79.27-1.31.27h-1.31v-4.48h.4Zm.93,3.75c.42,0,.75-.12,1.01-.37.26-.25.38-.64.38-1.17s-.12-.88-.36-1.12-.58-.36-1.02-.36h-.43v3.02h.42Z"/>
                  </svg>
                </div>
            </div>
            <div class="nsw-content-block__content">
              <div class="nsw-content-block__title">Concessions and rebates</div>
              <p class="nsw-content-block__copy">If you need help with the cost of living there are rebates and concessions you may be able to receive.</p>
              <div class="nsw-content-block__link">
                <a class="js-link" href="https://digital.nsw.gov.au">
                  <span>Get started</span><span class="material-icons nsw-material-icons" title="Get started">east</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
          <div class="nsw-content-block">
            <div class="nsw-content-block__image nsw-m-bottom-xs nsw-display-flex nsw-justify-content-center">
                <div class="nsw-content-block__icon nsw-width-xl nsw-height-xl">
                  <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                    <g data-name="Pictograms main colour">
                      <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="m29.97,38.5H7.5c-2.21,0-4-1.79-4-4V7.5c0-2.21,1.79-4,4-4h28c2.21,0,4,1.79,4,4v22.48"/>
                      <polyline fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" points="3.5 33.5 30.61 33.5 21.5 19.5 11.5 33.5"/>
                      <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="m3.5 11.5h21c2.21 0 4-1.79 4-4v-4"/>
                      <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="31" x2="39.5" y1="11.5" y2="11.5"/>
                      <polygon fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" points="14.5 11.5 11.5 11.5 11.5 17.5 14.5 20.5 17.5 17.5 17.5 11.5"/>
                      <circle fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" cx="38" cy="38" r="6.5"/>
                    </g>
                    <path fill="#002664" d="m34.24,36.34c.15-.22.35-.38.61-.49s.55-.16.87-.16c.34,0,.64.04.9.13.26.09.47.22.61.4.15.18.22.4.22.67,0,.47-.27.8-.82.99.27.07.49.2.67.38.17.18.26.42.26.7s-.08.53-.25.73-.39.35-.67.46c-.28.1-.59.16-.94.16s-.67-.06-.92-.17c-.26-.12-.45-.28-.59-.5-.14-.22-.21-.48-.21-.78h.87c.04.25.14.43.29.55.15.12.34.18.56.18.18,0,.34-.03.47-.08.13-.05.24-.13.31-.22.07-.1.11-.21.11-.33s-.04-.24-.11-.33c-.07-.09-.17-.17-.31-.22-.13-.05-.28-.08-.45-.08l-.43-.02v-.72l.38-.02c.16,0,.3-.04.42-.09.12-.05.22-.12.28-.21.07-.09.1-.19.1-.31,0-.11-.03-.2-.1-.28-.07-.08-.16-.15-.28-.19-.12-.05-.26-.07-.41-.07-.23,0-.42.06-.57.18-.15.12-.23.31-.25.56h-.86c0-.31.07-.58.22-.79Z"/>
                    <path fill="#002664" d="m38.74,35.76c.47,0,.79,0,.94,0,.79.02,1.38.22,1.76.6.38.38.57.92.57,1.61,0,.47-.09.88-.26,1.21-.17.34-.43.6-.78.78s-.79.27-1.31.27h-1.31v-4.48h.4Zm.93,3.75c.42,0,.75-.12,1.01-.37.26-.25.38-.64.38-1.17s-.12-.88-.36-1.12-.58-.36-1.02-.36h-.43v3.02h.42Z"/>
                  </svg>
                </div>
            </div>
            <div class="nsw-content-block__content">
              <div class="nsw-content-block__title">Concessions and rebates</div>
              <p class="nsw-content-block__copy">If you need help with the cost of living there are rebates and concessions you may be able to receive.</p>
              <div class="nsw-content-block__link">
                <a class="js-link" href="https://digital.nsw.gov.au">
                  <span>Get started</span><span class="material-icons nsw-material-icons" title="Get started">east</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="nsw-grid nsw-grid--spaced">
        <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
          <div class="nsw-content-block">
            <div class="nsw-content-block__image nsw-m-bottom-xs nsw-display-flex nsw-justify-content-center">
                <div class="nsw-content-block__icon nsw-width-xl nsw-height-xl">
                  <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                    <g data-name="Pictograms main colour">
                      <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="m29.97,38.5H7.5c-2.21,0-4-1.79-4-4V7.5c0-2.21,1.79-4,4-4h28c2.21,0,4,1.79,4,4v22.48"/>
                      <polyline fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" points="3.5 33.5 30.61 33.5 21.5 19.5 11.5 33.5"/>
                      <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="m3.5 11.5h21c2.21 0 4-1.79 4-4v-4"/>
                      <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="31" x2="39.5" y1="11.5" y2="11.5"/>
                      <polygon fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" points="14.5 11.5 11.5 11.5 11.5 17.5 14.5 20.5 17.5 17.5 17.5 11.5"/>
                      <circle fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" cx="38" cy="38" r="6.5"/>
                    </g>
                    <path fill="#002664" d="m34.24,36.34c.15-.22.35-.38.61-.49s.55-.16.87-.16c.34,0,.64.04.9.13.26.09.47.22.61.4.15.18.22.4.22.67,0,.47-.27.8-.82.99.27.07.49.2.67.38.17.18.26.42.26.7s-.08.53-.25.73-.39.35-.67.46c-.28.1-.59.16-.94.16s-.67-.06-.92-.17c-.26-.12-.45-.28-.59-.5-.14-.22-.21-.48-.21-.78h.87c.04.25.14.43.29.55.15.12.34.18.56.18.18,0,.34-.03.47-.08.13-.05.24-.13.31-.22.07-.1.11-.21.11-.33s-.04-.24-.11-.33c-.07-.09-.17-.17-.31-.22-.13-.05-.28-.08-.45-.08l-.43-.02v-.72l.38-.02c.16,0,.3-.04.42-.09.12-.05.22-.12.28-.21.07-.09.1-.19.1-.31,0-.11-.03-.2-.1-.28-.07-.08-.16-.15-.28-.19-.12-.05-.26-.07-.41-.07-.23,0-.42.06-.57.18-.15.12-.23.31-.25.56h-.86c0-.31.07-.58.22-.79Z"/>
                    <path fill="#002664" d="m38.74,35.76c.47,0,.79,0,.94,0,.79.02,1.38.22,1.76.6.38.38.57.92.57,1.61,0,.47-.09.88-.26,1.21-.17.34-.43.6-.78.78s-.79.27-1.31.27h-1.31v-4.48h.4Zm.93,3.75c.42,0,.75-.12,1.01-.37.26-.25.38-.64.38-1.17s-.12-.88-.36-1.12-.58-.36-1.02-.36h-.43v3.02h.42Z"/>
                  </svg>
                </div>
            </div>
            <div class="nsw-content-block__content">
              <div class="nsw-content-block__title">Concessions and rebates</div>
              <p class="nsw-content-block__copy">If you need help with the cost of living there are rebates and concessions you may be able to receive.</p>
              <div class="nsw-content-block__link">
                <a class="js-link" href="https://digital.nsw.gov.au">
                  <span>Get started</span><span class="material-icons nsw-material-icons" title="Get started">east</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
          <div class="nsw-content-block">
            <div class="nsw-content-block__image nsw-m-bottom-xs nsw-display-flex nsw-justify-content-center">
                <div class="nsw-content-block__icon nsw-width-xl nsw-height-xl">
                  <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                    <g data-name="Pictograms main colour">
                      <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="m29.97,38.5H7.5c-2.21,0-4-1.79-4-4V7.5c0-2.21,1.79-4,4-4h28c2.21,0,4,1.79,4,4v22.48"/>
                      <polyline fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" points="3.5 33.5 30.61 33.5 21.5 19.5 11.5 33.5"/>
                      <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="m3.5 11.5h21c2.21 0 4-1.79 4-4v-4"/>
                      <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="31" x2="39.5" y1="11.5" y2="11.5"/>
                      <polygon fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" points="14.5 11.5 11.5 11.5 11.5 17.5 14.5 20.5 17.5 17.5 17.5 11.5"/>
                      <circle fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" cx="38" cy="38" r="6.5"/>
                    </g>
                    <path fill="#002664" d="m34.24,36.34c.15-.22.35-.38.61-.49s.55-.16.87-.16c.34,0,.64.04.9.13.26.09.47.22.61.4.15.18.22.4.22.67,0,.47-.27.8-.82.99.27.07.49.2.67.38.17.18.26.42.26.7s-.08.53-.25.73-.39.35-.67.46c-.28.1-.59.16-.94.16s-.67-.06-.92-.17c-.26-.12-.45-.28-.59-.5-.14-.22-.21-.48-.21-.78h.87c.04.25.14.43.29.55.15.12.34.18.56.18.18,0,.34-.03.47-.08.13-.05.24-.13.31-.22.07-.1.11-.21.11-.33s-.04-.24-.11-.33c-.07-.09-.17-.17-.31-.22-.13-.05-.28-.08-.45-.08l-.43-.02v-.72l.38-.02c.16,0,.3-.04.42-.09.12-.05.22-.12.28-.21.07-.09.1-.19.1-.31,0-.11-.03-.2-.1-.28-.07-.08-.16-.15-.28-.19-.12-.05-.26-.07-.41-.07-.23,0-.42.06-.57.18-.15.12-.23.31-.25.56h-.86c0-.31.07-.58.22-.79Z"/>
                    <path fill="#002664" d="m38.74,35.76c.47,0,.79,0,.94,0,.79.02,1.38.22,1.76.6.38.38.57.92.57,1.61,0,.47-.09.88-.26,1.21-.17.34-.43.6-.78.78s-.79.27-1.31.27h-1.31v-4.48h.4Zm.93,3.75c.42,0,.75-.12,1.01-.37.26-.25.38-.64.38-1.17s-.12-.88-.36-1.12-.58-.36-1.02-.36h-.43v3.02h.42Z"/>
                  </svg>
                </div>
            </div>
            <div class="nsw-content-block__content">
              <div class="nsw-content-block__title">Concessions and rebates</div>
              <p class="nsw-content-block__copy">If you need help with the cost of living there are rebates and concessions you may be able to receive.</p>
              <div class="nsw-content-block__link">
                <a class="js-link" href="https://digital.nsw.gov.au">
                  <span>Get started</span><span class="material-icons nsw-material-icons" title="Get started">east</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
          <div class="nsw-content-block">
            <div class="nsw-content-block__image nsw-m-bottom-xs nsw-display-flex nsw-justify-content-center">
                <div class="nsw-content-block__icon nsw-width-xl nsw-height-xl">
                  <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                    <g data-name="Pictograms main colour">
                      <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="m29.97,38.5H7.5c-2.21,0-4-1.79-4-4V7.5c0-2.21,1.79-4,4-4h28c2.21,0,4,1.79,4,4v22.48"/>
                      <polyline fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" points="3.5 33.5 30.61 33.5 21.5 19.5 11.5 33.5"/>
                      <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="m3.5 11.5h21c2.21 0 4-1.79 4-4v-4"/>
                      <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="31" x2="39.5" y1="11.5" y2="11.5"/>
                      <polygon fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" points="14.5 11.5 11.5 11.5 11.5 17.5 14.5 20.5 17.5 17.5 17.5 11.5"/>
                      <circle fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" cx="38" cy="38" r="6.5"/>
                    </g>
                    <path fill="#002664" d="m34.24,36.34c.15-.22.35-.38.61-.49s.55-.16.87-.16c.34,0,.64.04.9.13.26.09.47.22.61.4.15.18.22.4.22.67,0,.47-.27.8-.82.99.27.07.49.2.67.38.17.18.26.42.26.7s-.08.53-.25.73-.39.35-.67.46c-.28.1-.59.16-.94.16s-.67-.06-.92-.17c-.26-.12-.45-.28-.59-.5-.14-.22-.21-.48-.21-.78h.87c.04.25.14.43.29.55.15.12.34.18.56.18.18,0,.34-.03.47-.08.13-.05.24-.13.31-.22.07-.1.11-.21.11-.33s-.04-.24-.11-.33c-.07-.09-.17-.17-.31-.22-.13-.05-.28-.08-.45-.08l-.43-.02v-.72l.38-.02c.16,0,.3-.04.42-.09.12-.05.22-.12.28-.21.07-.09.1-.19.1-.31,0-.11-.03-.2-.1-.28-.07-.08-.16-.15-.28-.19-.12-.05-.26-.07-.41-.07-.23,0-.42.06-.57.18-.15.12-.23.31-.25.56h-.86c0-.31.07-.58.22-.79Z"/>
                    <path fill="#002664" d="m38.74,35.76c.47,0,.79,0,.94,0,.79.02,1.38.22,1.76.6.38.38.57.92.57,1.61,0,.47-.09.88-.26,1.21-.17.34-.43.6-.78.78s-.79.27-1.31.27h-1.31v-4.48h.4Zm.93,3.75c.42,0,.75-.12,1.01-.37.26-.25.38-.64.38-1.17s-.12-.88-.36-1.12-.58-.36-1.02-.36h-.43v3.02h.42Z"/>
                  </svg>
                </div>
            </div>
            <div class="nsw-content-block__content">
              <div class="nsw-content-block__title">Concessions and rebates</div>
              <p class="nsw-content-block__copy">If you need help with the cost of living there are rebates and concessions you may be able to receive.</p>
              <div class="nsw-content-block__link">
                <a class="js-link" href="https://digital.nsw.gov.au">
                  <span>Get started</span><span class="material-icons nsw-material-icons" title="Get started">east</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nsw-section">
    <div class="nsw-container">
      <hr>
      <div class="nsw-layout">
        <div class="nsw-layout__main">
          <div class="nsw-grid nsw-align-items-center nsw-justify-content-center">
            <div class="nsw-col nsw-col-md-6">
              {{>_media
                image="https://picsum.photos/id/838/2000/1050"
                title="A picture of a black dog"
              }}
            </div>
            <div class="nsw-col nsw-col-md-6">
              <h2>NSW Government Data Strategy</h2>
              <p class="nsw-m-bottom-sm">The NSW Government Data Strategy sets a collaborative, coordinated, consistent and safe approach to using and sharing data and insights across government to inform decisions and actions to achieve the best possible outcomes for the people and businesses of NSW.</p>
              {{>_button-link url="#" style="dark" text="NSW Government Data Strategy"}}
            </div>
          </div>
          <div class="nsw-grid nsw-align-items-center nsw-justify-content-center">
            <div class="nsw-col nsw-col-md-6 nsw-order-lg-last">
              {{>_media
                image="https://picsum.photos/id/524/2000/1050"
                title="A picture of a black dog"
              }}
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-order-lg-first">
              <h2>NSW Connectivity Strategy</h2>
              <p class="nsw-m-bottom-sm">NSW Telco Authority has developed the NSW Connectivity Strategy to align and optimise state-wide programs and opportunities to ensure modern, high speed digital networks are available to all.</p>
              {{>_button-link url="#" style="dark" text="NSW Connectivity Strategy"}}
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </section>

  <section class="nsw-section nsw-p-top-0">
    <div class="nsw-container">
      <div class="nsw-layout">
        <div class="nsw-layout__main">
          <h2 class="nsw-section-title nsw-p-top-0">Latest podcasts</h2>
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-6">
              <figure class="nsw-media nsw-m-y-0">
                <img class="nsw-border-radius" src="https://picsum.photos/id/237/2000/1490" alt="A picture of a black dog">
              </figure>
              <div class="nsw-list-item nsw-list-item--block">
                <div class="nsw-list-item__content">
                  <div class="nsw-list-item__label">Stories</div>
                  <div class="nsw-list-item__info">October 31, 2023</div>
                  <div class="nsw-list-item__title"><a href="#">Creating a Digital Design System for NSW Government</a></div>
                  <div class="nsw-list-item__copy">A lot of exciting things are happening across the NSW Government in the digital space, but there’s currently no consistent approach for how we design digital services, reusable…</div>
                </div>
              </div>

            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-6 nsw-p-0 nsw-display-flex">
              <div class="nsw-grid">
                <div class="nsw-col nsw-col-md-12 nsw-p-bottom-0">
                  
                  <div class="nsw-list-item nsw-list-item--block">
                    <div class="nsw-list-item__content">
                      <div class="nsw-list-item__label">Stories</div>
                      <div class="nsw-list-item__info">October 31, 2023</div>
                      <div class="nsw-list-item__title"><a href="#">Creating a Digital Design System for NSW Government</a></div>
                      <div class="nsw-list-item__copy">A lot of exciting things are happening across the NSW Government in the digital space, but there’s currently no consistent approach for how we design digital services, reusable…</div>
                    </div>
                  </div>
                  <div class="nsw-list-item nsw-list-item--block">
                    <div class="nsw-list-item__content">
                      <div class="nsw-list-item__label">Stories</div>
                      <div class="nsw-list-item__info">October 31, 2023</div>
                      <div class="nsw-list-item__title"><a href="#">Creating a Digital Design System for NSW Government</a></div>
                      <div class="nsw-list-item__copy">A lot of exciting things are happening across the NSW Government in the digital space, but there’s currently no consistent approach for how we design digital services, reusable…</div>
                    </div>
                  </div>
                  <div class="nsw-list-item nsw-list-item--block">
                    <div class="nsw-list-item__content">
                      <div class="nsw-list-item__label">Stories</div>
                      <div class="nsw-list-item__info">October 31, 2023</div>
                      <div class="nsw-list-item__title"><a href="#">Creating a Digital Design System for NSW Government</a></div>
                      <div class="nsw-list-item__copy">A lot of exciting things are happening across the NSW Government in the digital space, but there’s currently no consistent approach for how we design digital services, reusable…</div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nsw-section nsw-section--off-white">
    <div class="nsw-container">
      <div class="nsw-layout">
        <div class="nsw-layout__main">
          <h2 class="nsw-section-title">Latest stories</h2>
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-6">
              {{>_card model.card-news-1}}
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-6 nsw-display-flex">
              <div class="nsw-grid">
                <div class="nsw-col nsw-col-md-12 nsw-p-y-0">
                  {{>_card model.card-media-1 horizontal=true}}
                </div>
                <div class="nsw-col nsw-col-md-12 nsw-p-bottom-0">
                  <div class="nsw-grid nsw-height-100">
                    <div class="nsw-col nsw-col-md-6 nsw-p-bottom-0">
                      {{>_card model.card-simple-1}}
                    </div>
                    <div class="nsw-col nsw-col-md-6 nsw-p-bottom-0">
                      {{>_card model.card-simple-1}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
              {{>_card model.card-news-1}}
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
              {{>_card model.card-news-1}}
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
              {{>_card model.card-news-1}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

{{>_footer model.footer}}