---
title: Feature - Service
order: 4
page: true
model:
  nav: ../../components/main-nav/json/main-nav-digital-nsw.json
  footer: ../../components/footer/json/footer-landing.json
  card-simple-1: ../../components/card/json/card-simple-1.json
  card-news-1: ../../components/card/json/card-news-1.json
  card-media-1: ../../components/card/json/card-media-1.json
---

{{>_masthead content="#content" nav="#main-nav"}}
{{>_header header-title="digital.nsw"}}
{{>_main-nav model.nav}}

<section class="nsw-section nsw-p-top-0 nsw-m-top-0">
  <div class="nsw-grid nsw-align-items-center">
    <div class="nsw-col nsw-col-md-6 nsw-p-y-0">
      <figure class="nsw-media nsw-m-y-0">
        <img src="https://picsum.photos/id/237/2000/1500" alt="A picture of a black dog">
      </figure>
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-p-y-0">
      <h1>Helping you deliver great government services</h1>
      <p class="nsw-intro nsw-m-bottom-md">Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance</p>
      <p><a href="#" class="nsw-button nsw-button--dark">Digital Service Toolkit</a></p>
    </div>
  </div>
</section>

<main id="content">

  <section class="nsw-section">
    <div class="nsw-container nsw-text-center">
      <div class="nsw-grid nsw-grid--spaced">
        <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
          <div class="nsw-content-block">
            <div class="nsw-content-block__image nsw-m-bottom-xs nsw-display-flex nsw-justify-content-center">
                <div class="nsw-content-block__icon nsw-width-xl nsw-height-xl">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                    <rect fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x="6.5" y="23.5" width="35" height="18" />
                    <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="24" y1="23.14" x2="24" y2="17" />
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="M21.84,12.34c0-1.2,2.16-3.85,2.16-3.85s2.16,2.65,2.16,3.85a2.16,2.16,0,0,1-4.32,0Z" />
                    <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="13.5" y1="23.14" x2="13.5" y2="17" />
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="M11.34,12.34c0-1.2,2.16-3.85,2.16-3.85s2.16,2.65,2.16,3.85a2.16,2.16,0,0,1-4.32,0Z" />
                    <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="34.5" y1="23.14" x2="34.5" y2="17" />
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="M32.34,12.34c0-1.2,2.16-3.85,2.16-3.85s2.16,2.65,2.16,3.85a2.16,2.16,0,0,1-4.32,0Z" />
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="M13.49,28.83a3.5,3.5,0,0,1-7,0" />
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="M20.51,28.83a3.5,3.5,0,0,1-7,0" />
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="M27.49,28.83a3.49,3.49,0,0,1-7,0" />
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="M34.51,28.83a3.49,3.49,0,0,1-7,0" />
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="M41.5,28.83a3.5,3.5,0,0,1-7,0" />
                    <rect fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x="3.51" y="41.53" width="40.99" height="2.97" />
                    <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="6.5" y1="37.51" x2="31.5" y2="37.51" />
                  </svg>
                </div>
            </div>
            <div class="nsw-content-block__content">
              <div class="nsw-content-block__title">Concessions and rebates</div>
              <p class="nsw-content-block__copy">If you need help with the cost of living there are rebates and concessions you may be able to receive.</p>
              <div class="nsw-content-block__link">
                <a class="js-link" href="https://digital.nsw.gov.au">
                  <span>Get started</span><span class="material-icons nsw-material-icons" title="Get started">east</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
          <div class="nsw-content-block">
            <div class="nsw-content-block__image nsw-m-bottom-xs nsw-display-flex nsw-justify-content-center">
                <div class="nsw-content-block__icon nsw-width-xl nsw-height-xl">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="M25.01,33.37c-.34,.02-.67,.06-1.01,.06"/>
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="M24,33.43c-.34,0-.67-.04-1.01-.06"/>
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="M24,14.57c.34,0,.67,.04,1.01,.06"/>
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="M22.99,14.63c.34-.02,.67-.06,1.01-.06"/>
                    <circle fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" cx="24" cy="24" r="20.5"/>
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="M25.01,14.63c-.33-.04-.67-.06-1.01-.06"/>
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="M22.99,14.63c.33-.04,.67-.06,1.01-.06"/>
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="M22.99,33.37c.33,.04,.67,.06,1.01,.06"/>
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="M24,33.43c.34,0,.68-.02,1.01-.06"/>
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="M22.99,14.63c-2.2,.23-4.18,1.22-5.66,2.71"/>
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="M25.01,14.63c4.73,.5,8.42,4.51,8.42,9.37,0,2.6-1.06,4.96-2.76,6.67"/>
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="M22.99,33.37c-4.73-.5-8.42-4.51-8.42-9.37,0-2.6,1.06-4.96,2.76-6.67"/>
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="M30.67,30.67c-1.48,1.48-3.46,2.47-5.66,2.71"/>
                    <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="26.72" y1="26.72" x2="30.67" y2="30.67"/>
                    <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="17.33" y1="17.33" x2="21.28" y2="21.28"/>
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="M22.99,33.37c-9.94-.58-17.85-9.37-17.85-9.37,0,0,4.55-5.07,11.09-7.77l-5.87-5.87"/>
                    <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="26.72" y1="26.72" x2="21.28" y2="21.28"/>
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="M37.64,37.64l-5.87-5.87c6.53-2.7,11.09-7.77,11.09-7.77,0,0-7.91-8.8-17.85-9.37"/>
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="M26.72,26.72c.7-.7,1.13-1.66,1.13-2.72,0-2.13-1.72-3.85-3.85-3.85-1.06,0-2.02,.43-2.72,1.13"/>
                    <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="14.6" y1="23.5" x2="23.25" y2="23.5"/>
                    <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="14.72" y1="25.5" x2="25.68" y2="25.5"/>
                    <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="17.25" y1="30.5" x2="30.58" y2="30.5"/>
                    <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="15.58" y1="28" x2="28.14" y2="28"/>
                  </svg>
                </div>
            </div>
            <div class="nsw-content-block__content">
              <div class="nsw-content-block__title">Concessions and rebates</div>
              <p class="nsw-content-block__copy">If you need help with the cost of living there are rebates and concessions you may be able to receive.</p>
              <div class="nsw-content-block__link">
                <a class="js-link" href="https://digital.nsw.gov.au">
                  <span>Get started</span><span class="material-icons nsw-material-icons" title="Get started">east</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
          <div class="nsw-content-block">
            <div class="nsw-content-block__image nsw-m-bottom-xs nsw-display-flex nsw-justify-content-center">
                <div class="nsw-content-block__icon nsw-width-xl nsw-height-xl">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="m20.5,14.5c0-2.76-2.24-5-5-5h0c-2.76,0-5,2.24-5,5"/>
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="m10.5,33.5c0,2.76,2.24,5,5,5h0c2.76,0,5-2.24,5-5"/>
                    <circle fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" cx="35" cy="9" r="3.5"/>
                    <circle fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" cx="35" cy="39" r="3.5"/>
                    <circle fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" cx="39" cy="24" r="3.5"/>
                    <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="35.5" y1="24.5" x2="26.5" y2="24.5"/>
                    <polyline fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" points="26.5 17.5 30.5 17.5 33.5 12.5"/>
                    <polyline fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" points="26.5 30.5 30.5 30.5 33.5 35.5"/>
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="m21.5,3.5c-2.76,0-5,2.24-5,5v1.1c-.32-.07-.66-.1-1-.1-2.76,0-5,2.24-5,5v3c-3.31,0-6,2.69-6,6s2.69,6,6,6v4c0,2.76,2.24,5,5,5,.34,0,.68-.04,1-.1v1.1c0,2.76,2.24,5,5,5s5-2.24,5-5V8.5c0-2.76-2.24-5-5-5Z"/>
                    <polyline fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" points="26.5 23.15 19.81 23.15 14.48 28.48"/>
                    <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="12.5" y1="19.5" x2="17.98" y2="24.98"/>
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="m21.5,3.5c2.74,0,5,2.26,5,5,0,1.87-1.04,3.58-2.7,4.44"/>
                    <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="m23.34,34.85c1.9.75,3.16,2.6,3.16,4.65"/>
                  </svg>
                </div>
            </div>
            <div class="nsw-content-block__content">
              <div class="nsw-content-block__title">Concessions and rebates</div>
              <p class="nsw-content-block__copy">If you need help with the cost of living there are rebates and concessions you may be able to receive.</p>
              <div class="nsw-content-block__link">
                <a class="js-link" href="https://digital.nsw.gov.au">
                  <span>Get started</span><span class="material-icons nsw-material-icons" title="Get started">east</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nsw-section nsw-section--off-white">
    <div class="nsw-container">
      <hr>
      <div class="nsw-grid nsw-justify-content-center nsw-p-y-md nsw-text-center">
        <div class="nsw-col nsw-col-7">
          <h2 class="nsw-h2">The hub for all your communication.</h2>
          <p class="nsw-intro">Communicate with your team in public or private chats with individuals or groups.</p>
        </div>
      </div>
      <div class="nsw-grid">
        <div class="nsw-col nsw-col-md-6 nsw-col-lg-6">
          {{>_card
          img="https://picsum.photos/id/29/200/200"
          horizontal=true
          heading="Update your details"
          copy="Help us keep your records accurate and up to date."
          }}
        </div>
        <div class="nsw-col nsw-col-md-6 nsw-col-lg-6">
          {{>_card
          img="https://picsum.photos/id/28/800/800"
          horizontal=true
          heading="Rollover"
          copy="Rollover is the process of reviewing the transport services for all students at the end of each school year"
          }}
        </div>
      </div>
      <div class="nsw-grid">
        <div class="nsw-col nsw-col-md-6 nsw-col-lg-6">
          {{>_card model.card-news-1}}
        </div>
        <div class="nsw-col nsw-col-md-6 nsw-col-lg-6 nsw-display-flex">
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-md-12 nsw-p-y-0">
              {{>_card model.card-media-1 horizontal=true}}
            </div>
            <div class="nsw-col nsw-col-md-12 nsw-p-bottom-0">
              <div class="nsw-grid nsw-height-100">
                <div class="nsw-col nsw-col-md-6 nsw-p-bottom-0">
                  {{>_card model.card-simple-1}}
                </div>
                <div class="nsw-col nsw-col-md-6 nsw-p-bottom-0">
                  {{>_card model.card-simple-1
                  heading= "Working and business"
                  copy="Start or grow a business or find information on industries and doing business in NSW." }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nsw-section">
    <div class="nsw-container">
      <div class="nsw-layout">
        <div class="nsw-layout__main">
          <div class="nsw-grid nsw-align-items-center nsw-justify-content-center">
            <div class="nsw-col nsw-col-md-6 nsw-order-lg-last">
              {{>_media
                image="https://picsum.photos/id/524/2000/1200"
                title="A picture of a black dog"
              }}
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-order-lg-first">
              <h2>NSW Connectivity Strategy</h2>
              <p class="nsw-m-bottom-sm">NSW Telco Authority has developed the NSW Connectivity Strategy to align and optimise state-wide programs and opportunities to ensure modern, high speed digital networks are available to all.</p>
              {{>_button-link url="#" style="dark" text="NSW Connectivity Strategy"}}
            </div>
          </div>
          <div class="nsw-grid nsw-grid--spaced nsw-text-center nsw-m-top-md">
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
              <div class="nsw-content-block">
                <div class="nsw-content-block__image nsw-m-bottom-xs nsw-display-flex nsw-justify-content-center">
                    <div class="nsw-content-block__icon nsw-width-xl nsw-height-xl">
                      <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                        <g data-name="Pictograms main colour">
                          <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="m29.97,38.5H7.5c-2.21,0-4-1.79-4-4V7.5c0-2.21,1.79-4,4-4h28c2.21,0,4,1.79,4,4v22.48"/>
                          <polyline fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" points="3.5 33.5 30.61 33.5 21.5 19.5 11.5 33.5"/>
                          <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="m3.5 11.5h21c2.21 0 4-1.79 4-4v-4"/>
                          <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="31" x2="39.5" y1="11.5" y2="11.5"/>
                          <polygon fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" points="14.5 11.5 11.5 11.5 11.5 17.5 14.5 20.5 17.5 17.5 17.5 11.5"/>
                          <circle fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" cx="38" cy="38" r="6.5"/>
                        </g>
                        <path fill="#002664" d="m34.24,36.34c.15-.22.35-.38.61-.49s.55-.16.87-.16c.34,0,.64.04.9.13.26.09.47.22.61.4.15.18.22.4.22.67,0,.47-.27.8-.82.99.27.07.49.2.67.38.17.18.26.42.26.7s-.08.53-.25.73-.39.35-.67.46c-.28.1-.59.16-.94.16s-.67-.06-.92-.17c-.26-.12-.45-.28-.59-.5-.14-.22-.21-.48-.21-.78h.87c.04.25.14.43.29.55.15.12.34.18.56.18.18,0,.34-.03.47-.08.13-.05.24-.13.31-.22.07-.1.11-.21.11-.33s-.04-.24-.11-.33c-.07-.09-.17-.17-.31-.22-.13-.05-.28-.08-.45-.08l-.43-.02v-.72l.38-.02c.16,0,.3-.04.42-.09.12-.05.22-.12.28-.21.07-.09.1-.19.1-.31,0-.11-.03-.2-.1-.28-.07-.08-.16-.15-.28-.19-.12-.05-.26-.07-.41-.07-.23,0-.42.06-.57.18-.15.12-.23.31-.25.56h-.86c0-.31.07-.58.22-.79Z"/>
                        <path fill="#002664" d="m38.74,35.76c.47,0,.79,0,.94,0,.79.02,1.38.22,1.76.6.38.38.57.92.57,1.61,0,.47-.09.88-.26,1.21-.17.34-.43.6-.78.78s-.79.27-1.31.27h-1.31v-4.48h.4Zm.93,3.75c.42,0,.75-.12,1.01-.37.26-.25.38-.64.38-1.17s-.12-.88-.36-1.12-.58-.36-1.02-.36h-.43v3.02h.42Z"/>
                      </svg>
                    </div>
                </div>
                <div class="nsw-content-block__content">
                  <div class="nsw-content-block__title">Concessions and rebates</div>
                  <p class="nsw-content-block__copy">If you need help with the cost of living there are rebates and concessions you may be able to receive.</p>
                </div>
              </div>
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
              <div class="nsw-content-block">
                <div class="nsw-content-block__image nsw-m-bottom-xs nsw-display-flex nsw-justify-content-center">
                    <div class="nsw-content-block__icon nsw-width-xl nsw-height-xl">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                        <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="m9.5,18.98v-3.04c0-3.76,3.14-6.41,7.02-6.41h14.96c3.87,0,7.02,2.65,7.02,6.41v3.04"/>
                        <polyline fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" points="40 18.5 44.5 18.5 44.5 23.51 3.5 23.51 3.5 18.5 8.01 18.5"/>
                        <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="13.02" y1="18.5" x2="34.98" y2="18.5"/>
                        <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="m27.49,9.6v-1.51c0-.88-.64-1.59-1.43-1.59h-4.13c-.79,0-1.43.71-1.43,1.59v1.51"/>
                        <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="m21.1,14c.21-1.41,1.43-2.49,2.9-2.49s2.69,1.08,2.9,2.49"/>
                        <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="24" y1="29.9" x2="24" y2="45"/>
                        <g>
                          <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="9.5" y1="25" x2="9.5" y2="45"/>
                          <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="38.5" y1="25" x2="38.5" y2="45"/>
                        </g>
                        <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="9.95" y1="29.51" x2="38.05" y2="29.51"/>
                        <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="9.99" y1="42.51" x2="38.09" y2="42.51"/>
                        <g>
                          <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="14.51" y1="26.51" x2="17.5" y2="26.51"/>
                          <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="18.51" y1="26.51" x2="21.5" y2="26.51"/>
                          <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="22.51" y1="26.51" x2="25.5" y2="26.51"/>
                          <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="26.51" y1="26.51" x2="29.49" y2="26.51"/>
                          <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="30.5" y1="26.51" x2="33.49" y2="26.51"/>
                        </g>
                      </svg>
                    </div>
                </div>
                <div class="nsw-content-block__content">
                  <div class="nsw-content-block__title">Concessions and rebates</div>
                  <p class="nsw-content-block__copy">If you need help with the cost of living there are rebates and concessions you may be able to receive.</p>
                </div>
              </div>
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
              <div class="nsw-content-block">
                <div class="nsw-content-block__image nsw-m-bottom-xs nsw-display-flex nsw-justify-content-center">
                    <div class="nsw-content-block__icon nsw-width-xl nsw-height-xl">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                        <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="m16.78,31.96c1.65,1.28,2.72,3.29,2.72,5.54,0,3.87-3.13,7-7,7s-7-3.13-7-7,3.13-7,7-7c.52,0,1.02.06,1.5.16"/>
                        <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="m42.36,39c-.65,3.19-3.48,5.5-6.86,5.5-3.87,0-7-3.13-7-7,0-2.14.98-4.22,2.5-5.5"/>
                        <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="m13.14,24.52l-4.96-2.63c-.94-.5-1.33-1.65-.88-2.61l5.31-11.37c.48-1.04,1.74-1.46,2.75-.92l4.96,2.63c.94.5,1.33,1.65.88,2.61l-5.31,11.37c-.48,1.04-1.74,1.46-2.75.92Z"/>
                        <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="11" y1="11.5" x2="19.5" y2="16"/>
                        <circle fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" cx="27" cy="7" r="3.5"/>
                        <path fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" d="m23.5,20l-2.08,3.85,4.13,2.03c.59.39.93,1.05.9,1.75l-.38,9.41c-.04,1.09-.94,1.96-2.04,1.96h0c-1.13,0-2.04-.91-2.04-2.04v-7.34c0-.38-.21-.73-.55-.89l-3.76-1.88c-1.48-.74-2.08-2.54-1.34-4.02l4.03-8.74c.82-1.8,3.13-2.33,4.65-1.06l2.98,2.98,5.06,1.45c1.08.31,1.72,1.42,1.45,2.51h0c-.28,1.13-1.43,1.8-2.55,1.51l-5.1-1.34-3.86-3.12"/>
                        <polyline fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" points="17 28 12 38 17.98 38"/>
                        <polyline fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" points="25 25.5 32.98 25.5 32.98 28.09"/>
                        <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="32.48" y1="23" x2="32.48" y2="25.09"/>
                        <rect fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x="32.5" y="28" width="9" height="10" rx="1" ry="1"/>
                        <line fill="none" stroke="#002664" stroke-linejoin="round" stroke-width="3%" x1="32.5" y1="32.5" x2="41.5" y2="32.5"/>
                      </svg>
                    </div>
                </div>
                <div class="nsw-content-block__content">
                  <div class="nsw-content-block__title">Concessions and rebates</div>
                  <p class="nsw-content-block__copy">If you need help with the cost of living there are rebates and concessions you may be able to receive.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nsw-section nsw-section--off-white">
    <div class="nsw-container nsw-text-center">
      <div class="nsw-grid nsw-justify-content-center nsw-p-y-md">
        <div class="nsw-col nsw-col-7">
          <h1>NSW Design System Components</h1>
          <p class="nsw-intro nsw-m-bottom-md">We can help you build a better experience faster. Tried and true systems for projects small and large.</p>
          <p><a href="#" class="nsw-button nsw-button--dark">Get started today</a></p>
        </div>
      </div>
    </div>
  </section>

</main>

{{>_footer model.footer}}