<!doctype html>
<html lang="en" class="no-js">
<head><script async src="https://www.googletagmanager.com/gtag/js?id=G-49T9M12F86"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-49T9M12F86');
</script>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P2NKBBJZ');</script>
  
  <title>NSW Digital Design System - Utility list</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://digitalnsw.github.io/nsw-design-system/nsw-og-image.jpg">
  <meta name="robots" content="noindex" />
  <link rel="icon" href="/nsw-design-system/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone" rel="stylesheet">
  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
  <!-- Hotjar Tracking Code for NSW Design System -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:5063548,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
</head>

<body><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2NKBBJZ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    


<section class="nsw-section">
  <div class="nsw-container nsw-p-y-sm">
    <div class="nsw-layout">
      <main class="nsw-layout__main">
        <div class="nsw-utility-list js-utility-list">
          <ul>
            <li class="nsw-utility-list__item js-copy-clipboard">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">link</span>
              Copy link
            </li>
            <li class="nsw-utility-list__item js-print-page">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">print</span>
              <span>Print this page</span>
            </li>
            <li class="nsw-utility-list__item js-download-page">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">download</span>
              <span>Download as PDF</span>
            </li>
            <li class="nsw-utility-list__item js-share" aria-controls="social-share-off-white-1" data-title="Social Sharing">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">share</span>
              <span data-anchor>Share this page</span>
              <div id="social-share-off-white-1" class="nsw-toggletip__element nsw-toggletip__element--light">
                <a class="nsw-icon-button" data-social="facebook" href="http://www.facebook.com/sharer.php">
                  <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M33 16.0978C33 7.20722 25.7771 0 16.8672 0C7.95732 0 0.734436 7.20722 0.734436 16.0978C0.734436 24.1326 6.63395 30.7924 14.3465 32V20.751H10.2503V16.0978H14.3465V12.5512C14.3465 8.51673 16.755 6.2882 20.4401 6.2882C22.2051 6.2882 24.0514 6.60261 24.0514 6.60261V10.5642H22.017C20.013 10.5642 19.388 11.8051 19.388 13.0781V16.0978H23.8623L23.147 20.751H19.388V32C27.1005 30.7924 33 24.1326 33 16.0978" fill="#1877F2"/></svg>
                </a>
                <a class="nsw-icon-button" data-social="linkedin" data-url="https://www.digital.nsw.gov.au"href="https://www.linkedin.com/shareArticle">
                  <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M29.7939 0H3.08695C1.62824 0 0.352905 1.05027 0.352905 2.49231V29.2576C0.352905 30.708 1.62824 32 3.08695 32H29.7855C31.2526 32 32.3529 30.6996 32.3529 29.2576V2.49231C32.3612 1.05027 31.2526 0 29.7939 0ZM10.2721 26.6736H5.68762V12.4199H10.2721V26.6736ZM8.13825 10.2527H8.10491C6.63787 10.2527 5.68762 9.16071 5.68762 7.79369C5.68762 6.40166 6.66287 5.33471 8.16326 5.33471C9.66365 5.33471 10.5806 6.39332 10.6139 7.79369C10.6139 9.16071 9.66365 10.2527 8.13825 10.2527ZM27.0265 26.6736H22.442V18.8799C22.442 17.0127 21.7751 15.7374 20.1164 15.7374C18.8494 15.7374 18.0992 16.596 17.7657 17.4295C17.6407 17.7296 17.6074 18.138 17.6074 18.5548V26.6736H13.0229V12.4199H17.6074V14.4037C18.2742 13.4535 19.3162 12.0865 21.7418 12.0865C24.7509 12.0865 27.0265 14.0703 27.0265 18.3464V26.6736V26.6736Z" fill="#0A66C2"/></svg>
                </a>
                <a class="nsw-icon-button" data-social="twitter" data-text="Hi there!"data-hashtags="#design, #system"data-username="@digital_nsw"href="https://twitter.com/intent/tweet"aria-label="Share on X (Twitter)">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>
                </a>
                <a class="nsw-icon-button" data-social="mail" data-subject="Email Subject"data-body="Content of my email."href="mailto:"aria-label="Share via Email">
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true" aria-label="Share via Email">email</span>
                </a>
              </div>
            </li>
          </ul>
        </div><div class="nsw-utility-list js-utility-list">
          <ul>
            <li class="nsw-utility-list__item js-copy-clipboard">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">link</span>
              Copy link
            </li>
            <li class="nsw-utility-list__item js-share" aria-controls="social-share-off-white-2" data-title="Social Sharing">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">share</span>
              <span data-anchor>Share this page</span>
              <div id="social-share-off-white-2" class="nsw-toggletip__element nsw-toggletip__element--light">
                <a class="nsw-icon-button" data-social="linkedin" data-url="https://www.digital.nsw.gov.au"href="https://www.linkedin.com/shareArticle">
                  <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M29.7939 0H3.08695C1.62824 0 0.352905 1.05027 0.352905 2.49231V29.2576C0.352905 30.708 1.62824 32 3.08695 32H29.7855C31.2526 32 32.3529 30.6996 32.3529 29.2576V2.49231C32.3612 1.05027 31.2526 0 29.7939 0ZM10.2721 26.6736H5.68762V12.4199H10.2721V26.6736ZM8.13825 10.2527H8.10491C6.63787 10.2527 5.68762 9.16071 5.68762 7.79369C5.68762 6.40166 6.66287 5.33471 8.16326 5.33471C9.66365 5.33471 10.5806 6.39332 10.6139 7.79369C10.6139 9.16071 9.66365 10.2527 8.13825 10.2527ZM27.0265 26.6736H22.442V18.8799C22.442 17.0127 21.7751 15.7374 20.1164 15.7374C18.8494 15.7374 18.0992 16.596 17.7657 17.4295C17.6407 17.7296 17.6074 18.138 17.6074 18.5548V26.6736H13.0229V12.4199H17.6074V14.4037C18.2742 13.4535 19.3162 12.0865 21.7418 12.0865C24.7509 12.0865 27.0265 14.0703 27.0265 18.3464V26.6736V26.6736Z" fill="#0A66C2"/></svg>
                </a>
                <a class="nsw-icon-button" data-social="mail" data-subject="Email Subject"data-body="Content of my email."href="mailto:"aria-label="Share via Email">
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true" aria-label="Share via Email">email</span>
                </a>
              </div>
            </li>
          </ul>
        </div><div class="nsw-utility-list js-utility-list nsw-utility-list--horizontal">
          <ul>
            <li class="nsw-utility-list__item js-copy-clipboard">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">link</span>
              Copy link
            </li>
            <li class="nsw-utility-list__item js-print-page">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">print</span>
              <span>Print this page</span>
            </li>
            <li class="nsw-utility-list__item js-download-page">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">download</span>
              <span>Download as PDF</span>
            </li>
            <li class="nsw-utility-list__item js-share" aria-controls="social-share-off-white-3" data-title="Social Sharing">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">share</span>
              <span data-anchor>Share this page</span>
              <div id="social-share-off-white-3" class="nsw-toggletip__element nsw-toggletip__element--light">
                <a class="nsw-icon-button" data-social="facebook" href="http://www.facebook.com/sharer.php">
                  <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M33 16.0978C33 7.20722 25.7771 0 16.8672 0C7.95732 0 0.734436 7.20722 0.734436 16.0978C0.734436 24.1326 6.63395 30.7924 14.3465 32V20.751H10.2503V16.0978H14.3465V12.5512C14.3465 8.51673 16.755 6.2882 20.4401 6.2882C22.2051 6.2882 24.0514 6.60261 24.0514 6.60261V10.5642H22.017C20.013 10.5642 19.388 11.8051 19.388 13.0781V16.0978H23.8623L23.147 20.751H19.388V32C27.1005 30.7924 33 24.1326 33 16.0978" fill="#1877F2"/></svg>
                </a>
                <a class="nsw-icon-button" data-social="linkedin" data-url="https://www.digital.nsw.gov.au"href="https://www.linkedin.com/shareArticle">
                  <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M29.7939 0H3.08695C1.62824 0 0.352905 1.05027 0.352905 2.49231V29.2576C0.352905 30.708 1.62824 32 3.08695 32H29.7855C31.2526 32 32.3529 30.6996 32.3529 29.2576V2.49231C32.3612 1.05027 31.2526 0 29.7939 0ZM10.2721 26.6736H5.68762V12.4199H10.2721V26.6736ZM8.13825 10.2527H8.10491C6.63787 10.2527 5.68762 9.16071 5.68762 7.79369C5.68762 6.40166 6.66287 5.33471 8.16326 5.33471C9.66365 5.33471 10.5806 6.39332 10.6139 7.79369C10.6139 9.16071 9.66365 10.2527 8.13825 10.2527ZM27.0265 26.6736H22.442V18.8799C22.442 17.0127 21.7751 15.7374 20.1164 15.7374C18.8494 15.7374 18.0992 16.596 17.7657 17.4295C17.6407 17.7296 17.6074 18.138 17.6074 18.5548V26.6736H13.0229V12.4199H17.6074V14.4037C18.2742 13.4535 19.3162 12.0865 21.7418 12.0865C24.7509 12.0865 27.0265 14.0703 27.0265 18.3464V26.6736V26.6736Z" fill="#0A66C2"/></svg>
                </a>
                <a class="nsw-icon-button" data-social="twitter" data-text="Hi there!"data-hashtags="#design, #system"data-username="@digital_nsw"href="https://twitter.com/intent/tweet"aria-label="Share on X (Twitter)">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>
                </a>
                <a class="nsw-icon-button" data-social="mail" data-subject="Email Subject"data-body="Content of my email."href="mailto:"aria-label="Share via Email">
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true" aria-label="Share via Email">email</span>
                </a>
              </div>
            </li>
          </ul>
        </div><div class="nsw-utility-list js-utility-list nsw-utility-list--horizontal">
          <ul>
            <li class="nsw-utility-list__item js-copy-clipboard">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">link</span>
              Copy link
            </li>
            <li class="nsw-utility-list__item js-share" aria-controls="social-share-off-white-4" data-title="Social Sharing">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">share</span>
              <span data-anchor>Share this page</span>
              <div id="social-share-off-white-4" class="nsw-toggletip__element nsw-toggletip__element--light">
                <a class="nsw-icon-button" data-social="linkedin" data-url="https://www.digital.nsw.gov.au"href="https://www.linkedin.com/shareArticle">
                  <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M29.7939 0H3.08695C1.62824 0 0.352905 1.05027 0.352905 2.49231V29.2576C0.352905 30.708 1.62824 32 3.08695 32H29.7855C31.2526 32 32.3529 30.6996 32.3529 29.2576V2.49231C32.3612 1.05027 31.2526 0 29.7939 0ZM10.2721 26.6736H5.68762V12.4199H10.2721V26.6736ZM8.13825 10.2527H8.10491C6.63787 10.2527 5.68762 9.16071 5.68762 7.79369C5.68762 6.40166 6.66287 5.33471 8.16326 5.33471C9.66365 5.33471 10.5806 6.39332 10.6139 7.79369C10.6139 9.16071 9.66365 10.2527 8.13825 10.2527ZM27.0265 26.6736H22.442V18.8799C22.442 17.0127 21.7751 15.7374 20.1164 15.7374C18.8494 15.7374 18.0992 16.596 17.7657 17.4295C17.6407 17.7296 17.6074 18.138 17.6074 18.5548V26.6736H13.0229V12.4199H17.6074V14.4037C18.2742 13.4535 19.3162 12.0865 21.7418 12.0865C24.7509 12.0865 27.0265 14.0703 27.0265 18.3464V26.6736V26.6736Z" fill="#0A66C2"/></svg>
                </a>
                <a class="nsw-icon-button" data-social="mail" data-subject="Email Subject"data-body="Content of my email."href="mailto:"aria-label="Share via Email">
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true" aria-label="Share via Email">email</span>
                </a>
              </div>
            </li>
          </ul>
        </div>      </main>
      <div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
    </div>
  </div>
</section>

<section class="nsw-section nsw-section--brand-dark nsw-section--invert">
  <div class="nsw-container nsw-p-y-sm">
    <div class="nsw-layout">
      <main class="nsw-layout__main">
        <div class="nsw-utility-list js-utility-list">
          <ul>
            <li class="nsw-utility-list__item js-copy-clipboard">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">link</span>
              Copy link
            </li>
            <li class="nsw-utility-list__item js-print-page">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">print</span>
              <span>Print this page</span>
            </li>
            <li class="nsw-utility-list__item js-download-page">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">download</span>
              <span>Download as PDF</span>
            </li>
            <li class="nsw-utility-list__item js-share" aria-controls="social-share-off-white-1" data-title="Social Sharing">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">share</span>
              <span data-anchor>Share this page</span>
              <div id="social-share-off-white-1" class="nsw-toggletip__element nsw-toggletip__element--light">
                <a class="nsw-icon-button" data-social="facebook" href="http://www.facebook.com/sharer.php">
                  <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M33 16.0978C33 7.20722 25.7771 0 16.8672 0C7.95732 0 0.734436 7.20722 0.734436 16.0978C0.734436 24.1326 6.63395 30.7924 14.3465 32V20.751H10.2503V16.0978H14.3465V12.5512C14.3465 8.51673 16.755 6.2882 20.4401 6.2882C22.2051 6.2882 24.0514 6.60261 24.0514 6.60261V10.5642H22.017C20.013 10.5642 19.388 11.8051 19.388 13.0781V16.0978H23.8623L23.147 20.751H19.388V32C27.1005 30.7924 33 24.1326 33 16.0978" fill="#1877F2"/></svg>
                </a>
                <a class="nsw-icon-button" data-social="linkedin" data-url="https://www.digital.nsw.gov.au"href="https://www.linkedin.com/shareArticle">
                  <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M29.7939 0H3.08695C1.62824 0 0.352905 1.05027 0.352905 2.49231V29.2576C0.352905 30.708 1.62824 32 3.08695 32H29.7855C31.2526 32 32.3529 30.6996 32.3529 29.2576V2.49231C32.3612 1.05027 31.2526 0 29.7939 0ZM10.2721 26.6736H5.68762V12.4199H10.2721V26.6736ZM8.13825 10.2527H8.10491C6.63787 10.2527 5.68762 9.16071 5.68762 7.79369C5.68762 6.40166 6.66287 5.33471 8.16326 5.33471C9.66365 5.33471 10.5806 6.39332 10.6139 7.79369C10.6139 9.16071 9.66365 10.2527 8.13825 10.2527ZM27.0265 26.6736H22.442V18.8799C22.442 17.0127 21.7751 15.7374 20.1164 15.7374C18.8494 15.7374 18.0992 16.596 17.7657 17.4295C17.6407 17.7296 17.6074 18.138 17.6074 18.5548V26.6736H13.0229V12.4199H17.6074V14.4037C18.2742 13.4535 19.3162 12.0865 21.7418 12.0865C24.7509 12.0865 27.0265 14.0703 27.0265 18.3464V26.6736V26.6736Z" fill="#0A66C2"/></svg>
                </a>
                <a class="nsw-icon-button" data-social="twitter" data-text="Hi there!"data-hashtags="#design, #system"data-username="@digital_nsw"href="https://twitter.com/intent/tweet"aria-label="Share on X (Twitter)">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>
                </a>
                <a class="nsw-icon-button" data-social="mail" data-subject="Email Subject"data-body="Content of my email."href="mailto:"aria-label="Share via Email">
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true" aria-label="Share via Email">email</span>
                </a>
              </div>
            </li>
          </ul>
        </div><div class="nsw-utility-list js-utility-list">
          <ul>
            <li class="nsw-utility-list__item js-copy-clipboard">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">link</span>
              Copy link
            </li>
            <li class="nsw-utility-list__item js-share" aria-controls="social-share-off-white-2" data-title="Social Sharing">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">share</span>
              <span data-anchor>Share this page</span>
              <div id="social-share-off-white-2" class="nsw-toggletip__element nsw-toggletip__element--light">
                <a class="nsw-icon-button" data-social="linkedin" data-url="https://www.digital.nsw.gov.au"href="https://www.linkedin.com/shareArticle">
                  <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M29.7939 0H3.08695C1.62824 0 0.352905 1.05027 0.352905 2.49231V29.2576C0.352905 30.708 1.62824 32 3.08695 32H29.7855C31.2526 32 32.3529 30.6996 32.3529 29.2576V2.49231C32.3612 1.05027 31.2526 0 29.7939 0ZM10.2721 26.6736H5.68762V12.4199H10.2721V26.6736ZM8.13825 10.2527H8.10491C6.63787 10.2527 5.68762 9.16071 5.68762 7.79369C5.68762 6.40166 6.66287 5.33471 8.16326 5.33471C9.66365 5.33471 10.5806 6.39332 10.6139 7.79369C10.6139 9.16071 9.66365 10.2527 8.13825 10.2527ZM27.0265 26.6736H22.442V18.8799C22.442 17.0127 21.7751 15.7374 20.1164 15.7374C18.8494 15.7374 18.0992 16.596 17.7657 17.4295C17.6407 17.7296 17.6074 18.138 17.6074 18.5548V26.6736H13.0229V12.4199H17.6074V14.4037C18.2742 13.4535 19.3162 12.0865 21.7418 12.0865C24.7509 12.0865 27.0265 14.0703 27.0265 18.3464V26.6736V26.6736Z" fill="#0A66C2"/></svg>
                </a>
                <a class="nsw-icon-button" data-social="mail" data-subject="Email Subject"data-body="Content of my email."href="mailto:"aria-label="Share via Email">
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true" aria-label="Share via Email">email</span>
                </a>
              </div>
            </li>
          </ul>
        </div><div class="nsw-utility-list js-utility-list nsw-utility-list--horizontal">
          <ul>
            <li class="nsw-utility-list__item js-copy-clipboard">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">link</span>
              Copy link
            </li>
            <li class="nsw-utility-list__item js-print-page">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">print</span>
              <span>Print this page</span>
            </li>
            <li class="nsw-utility-list__item js-download-page">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">download</span>
              <span>Download as PDF</span>
            </li>
            <li class="nsw-utility-list__item js-share" aria-controls="social-share-off-white-3" data-title="Social Sharing">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">share</span>
              <span data-anchor>Share this page</span>
              <div id="social-share-off-white-3" class="nsw-toggletip__element nsw-toggletip__element--light">
                <a class="nsw-icon-button" data-social="facebook" href="http://www.facebook.com/sharer.php">
                  <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M33 16.0978C33 7.20722 25.7771 0 16.8672 0C7.95732 0 0.734436 7.20722 0.734436 16.0978C0.734436 24.1326 6.63395 30.7924 14.3465 32V20.751H10.2503V16.0978H14.3465V12.5512C14.3465 8.51673 16.755 6.2882 20.4401 6.2882C22.2051 6.2882 24.0514 6.60261 24.0514 6.60261V10.5642H22.017C20.013 10.5642 19.388 11.8051 19.388 13.0781V16.0978H23.8623L23.147 20.751H19.388V32C27.1005 30.7924 33 24.1326 33 16.0978" fill="#1877F2"/></svg>
                </a>
                <a class="nsw-icon-button" data-social="linkedin" data-url="https://www.digital.nsw.gov.au"href="https://www.linkedin.com/shareArticle">
                  <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M29.7939 0H3.08695C1.62824 0 0.352905 1.05027 0.352905 2.49231V29.2576C0.352905 30.708 1.62824 32 3.08695 32H29.7855C31.2526 32 32.3529 30.6996 32.3529 29.2576V2.49231C32.3612 1.05027 31.2526 0 29.7939 0ZM10.2721 26.6736H5.68762V12.4199H10.2721V26.6736ZM8.13825 10.2527H8.10491C6.63787 10.2527 5.68762 9.16071 5.68762 7.79369C5.68762 6.40166 6.66287 5.33471 8.16326 5.33471C9.66365 5.33471 10.5806 6.39332 10.6139 7.79369C10.6139 9.16071 9.66365 10.2527 8.13825 10.2527ZM27.0265 26.6736H22.442V18.8799C22.442 17.0127 21.7751 15.7374 20.1164 15.7374C18.8494 15.7374 18.0992 16.596 17.7657 17.4295C17.6407 17.7296 17.6074 18.138 17.6074 18.5548V26.6736H13.0229V12.4199H17.6074V14.4037C18.2742 13.4535 19.3162 12.0865 21.7418 12.0865C24.7509 12.0865 27.0265 14.0703 27.0265 18.3464V26.6736V26.6736Z" fill="#0A66C2"/></svg>
                </a>
                <a class="nsw-icon-button" data-social="twitter" data-text="Hi there!"data-hashtags="#design, #system"data-username="@digital_nsw"href="https://twitter.com/intent/tweet"aria-label="Share on X (Twitter)">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>
                </a>
                <a class="nsw-icon-button" data-social="mail" data-subject="Email Subject"data-body="Content of my email."href="mailto:"aria-label="Share via Email">
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true" aria-label="Share via Email">email</span>
                </a>
              </div>
            </li>
          </ul>
        </div><div class="nsw-utility-list js-utility-list nsw-utility-list--horizontal">
          <ul>
            <li class="nsw-utility-list__item js-copy-clipboard">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">link</span>
              Copy link
            </li>
            <li class="nsw-utility-list__item js-share" aria-controls="social-share-off-white-4" data-title="Social Sharing">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">share</span>
              <span data-anchor>Share this page</span>
              <div id="social-share-off-white-4" class="nsw-toggletip__element nsw-toggletip__element--light">
                <a class="nsw-icon-button" data-social="linkedin" data-url="https://www.digital.nsw.gov.au"href="https://www.linkedin.com/shareArticle">
                  <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M29.7939 0H3.08695C1.62824 0 0.352905 1.05027 0.352905 2.49231V29.2576C0.352905 30.708 1.62824 32 3.08695 32H29.7855C31.2526 32 32.3529 30.6996 32.3529 29.2576V2.49231C32.3612 1.05027 31.2526 0 29.7939 0ZM10.2721 26.6736H5.68762V12.4199H10.2721V26.6736ZM8.13825 10.2527H8.10491C6.63787 10.2527 5.68762 9.16071 5.68762 7.79369C5.68762 6.40166 6.66287 5.33471 8.16326 5.33471C9.66365 5.33471 10.5806 6.39332 10.6139 7.79369C10.6139 9.16071 9.66365 10.2527 8.13825 10.2527ZM27.0265 26.6736H22.442V18.8799C22.442 17.0127 21.7751 15.7374 20.1164 15.7374C18.8494 15.7374 18.0992 16.596 17.7657 17.4295C17.6407 17.7296 17.6074 18.138 17.6074 18.5548V26.6736H13.0229V12.4199H17.6074V14.4037C18.2742 13.4535 19.3162 12.0865 21.7418 12.0865C24.7509 12.0865 27.0265 14.0703 27.0265 18.3464V26.6736V26.6736Z" fill="#0A66C2"/></svg>
                </a>
                <a class="nsw-icon-button" data-social="mail" data-subject="Email Subject"data-body="Content of my email."href="mailto:"aria-label="Share via Email">
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true" aria-label="Share via Email">email</span>
                </a>
              </div>
            </li>
          </ul>
        </div>      </main>
      <div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
    </div>
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/nsw-design-system/docs/js/docs.js"></script>

  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
