---
title: Select
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>A select field, also referred to as a dropdown, allows users to select single or multiple items from a list of available options. Consider dropdowns when the options exceed 8, or where it is not feasible to list all options as checkboxes or radio buttons. When using multislect, ensure you make it clear to the user that more than one option can be selected.</p>

<p>Do:</p>

<ul>
  <li>use descriptive labels, state the intent of the action</li>
  <li>use helper text to give further guidance to the user</li>
  <li>specify errors inline, show the user where the error occurred and provide a reason</li>
</ul>

<h3>When to avoid</h3>
<p>Don't use a select when there are fewer than 8 options or where there is benefit to the user seeing all available options up front. In these instances consider using checkboxes or radio buttons so all options are visible without additional clicking or scrolling. </p>

<h2>How this component works</h2>

<h3>Helper text</h3>

<p>Helper text provides users further guidance to make a selection. Use to provide additional context, information or as an example to complete a field input.</p>

<h3>Error messages</h3>
<p>Error messages inform the user when there is an issue with the data they have input. Provide helpful error messages to clearly explain to the user what the issue is and how they can effectively address the errors.</p>

<h2>Accessibility</h2>
<p>All components are responsive and designed to comply with WCAG 2.2 AA accessibility standards, except where compliance is achieved through correct usage and configuration.</p>

<h3>Ensuring compliance through usage</h3>

<h4>Redundant entry</h4>

<p>To ensure WCAG 2.2 AA compliance for a select component, it's essential to retain selected options if users revisit the form or make changes to other fields. This reduces redundant actions, allowing users to pick up where they left off. Ensure that users can adjust their selections without affecting other fields, supporting smooth navigation and a streamlined form experience.</p>

<h4>Consistent help</h4>

<p>For a seamless, accessible experience with the select component, focus on clear labelling and purpose-driven design, especially when combined with other inputs. Arrange options logically and in alignment with user needs to reduce cognitive load. If users are likely to revisit or adjust selections, aim to maintain their choices to prevent unnecessary re-selection. A consistently configured select component improves user interaction, supporting both accessibility and usability throughout the interface.</p>

<p>Following these practices supports a more inclusive, accessible experience in forms and flows, meeting compliance requirements effectively.</p>