@use '../../global/scss/base/functions' as functions;
@use '../../global/scss/base/mixins' as mixins;
@use '../../global/scss/settings/settings' as settings;

.nsw-form {
  &__select {
    padding: functions.rem(11px) functions.rem(16px);
    border-radius: var(--nsw-border-radius);
    background-color: var(--nsw-white);
    color: var(--nsw-text-dark);
    border: 1px solid var(--nsw-grey-01);
    vertical-align: middle;
    appearance: none;
    width: 100%;
    padding-right: functions.rem(48px);
    background: var(--nsw-white) functions.svg-url(settings.$nsw-form-chevron-down) no-repeat right functions.rem(16px) center;
    background-size: functions.rem(16px) auto;
    cursor: pointer;

    @include mixins.font-size('sm');

    &:hover:not(.nsw-multi-select__button) {
      background: functions.svg-url(settings.$nsw-form-chevron-down) no-repeat right functions.rem(16px) center, linear-gradient(var(--nsw-hover), var(--nsw-hover));
      background-size: functions.rem(16px) auto, auto;
      background-color: var(--nsw-white);
    }

    &:focus {
      @include mixins.nsw-focus;

      .nsw-section--invert & {   
        @include mixins.nsw-focus($color: var(--nsw-focus-light));
      }
    }

    &:disabled {
      background: var(--nsw-off-white) functions.svg-url(settings.$nsw-form-chevron-down) no-repeat right functions.rem(16px) center;
      background-size: functions.rem(16px) auto;
      border-color: var(--nsw-grey-03);
      color: var(--nsw-grey-03);
      cursor: not-allowed;
      opacity: 1;
    }

    &[aria-invalid='true'],
    &.has-error {
      border-color: var(--nsw-status-error);
      border-width: 2px;

      &:hover {
        background: var(--nsw-status-error-bg) functions.svg-url(settings.$nsw-form-chevron-down) no-repeat right functions.rem(16px) center;
        background-size: functions.rem(16px) auto;
      }
    }

    option {
      background-color: var(--nsw-white);
    }
  }

  &__label {
    + .nsw-multi-select {
      margin-top: 0.35rem;
    }
  }
}

.nsw-multi-select {
  position: relative;

  &__button {
    text-align: left;
    background: var(--nsw-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5rem;

    .nsw-material-icons {
      font-size: functions.rem(32px);
      line-height: 0.8;
      transform: rotate(0deg);
      transition: transform settings.$nsw-transition-duration, color settings.$nsw-transition-duration;
      width: 2rem;
    }

    &:hover {
      background: linear-gradient(var(--nsw-hover), var(--nsw-hover));
      background-color: var(--nsw-white);
    }

    &[aria-invalid='true'],
    &.has-error {
      border-color: var(--nsw-status-error);
      border-width: 2px;

      &:hover {
        background: var(--nsw-status-error-bg);
        background-size: revert;
      }
    }

    &[aria-expanded='true'] {
      + .nsw-multi-select__dropdown {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.2s;
      }

      .nsw-material-icons {
        transform: rotate(180deg);
      }
    }
  }

  &__clear-all-button {
    margin-top: functions.rem(20px);
    text-decoration: underline;
    cursor: pointer;
    background: 0;
    border: 0;
    padding: functions.rem(4px) functions.rem(4px) functions.rem(4px) 0;

    @include mixins.link;
    @include mixins.font-size('sm');
  
    &:focus {
      @include mixins.nsw-focus;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    .nsw-section--invert & {    
      color: var(--nsw-text-dark);
    }

    > li {
      &:first-child {
        margin-top: 0;
      }
    }

    &:not(:first-of-type) {
      padding-top: 0.25rem;
    }
    
    &:not(:last-of-type) {
      padding-bottom: 0.25rem;
    }
  }

  &__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  &__dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    min-width: functions.rem(200px);
    max-height: 1px;
    background-color: var(--nsw-white);
    box-shadow: var(--nsw-box-shadow);
    padding: 1rem;
    border-radius: 0.25em;
    z-index: 5;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s;

    &--right {
      right: 0;
      left: auto;
    }
    
    &--up {
      bottom: 100%;
      top: auto;
    }
  }

  &__term {
    + .nsw-multi-select__details::before {
      content: ': ';
    }
  }

  &__all {
    padding: functions.rem(4px) 0 functions.rem(4px) functions.rem(48px);
    min-height: functions.rem(32px);
    display: block;
    position: relative;
    border: 0;
    background: transparent;
    appearance: none;
    
    @include mixins.font-size('sm');
  
    &:focus {
      border: 0;
      outline: 0;
    }
  
    &::before {
      content: '';
      width: functions.rem(32px);
      height: functions.rem(32px);
      margin-right: functions.rem(16px);
      border: 1px var(--nsw-grey-01) solid;
      border-radius: var(--nsw-border-radius);
      background-color: var(--nsw-white);
      top: 0;
      left: 0;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
    }
  
    &::after {
      content: '';
      position: absolute;
      width: functions.rem(22px);
      height: functions.rem(22px);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: functions.rem(16px) auto;
      left: functions.rem(5px);
      top: functions.rem(5px);
    }
  
    &:focus::before {
      @include mixins.nsw-focus;
    }
  
    &.active {
      &:hover::before {
        background-image: linear-gradient(var(--nsw-hover), var(--nsw-hover));
      }
  
      &::after {
        background-image: functions.svg-url(settings.$nsw-form-tick);
        background-color: var(--nsw-brand-dark);
      }
  
      &:disabled {
        cursor: not-allowed;
  
        &::before,
        &::before {
          border-color: var(--nsw-grey-03);
          background-color: var(--nsw-off-white);
        }
  
        &::after,
        &::after {
          background-color: var(--nsw-grey-03);
        }
      }
  
      &[aria-invalid='true'],
      &.has-error {
        &:hover::before {
          background-image: linear-gradient(var(--nsw-status-error-bg), var(--nsw-status-error-bg));
        }
  
        &::before {
          border-width: 2px;
          border-color: var(--nsw-status-error);
        }
      }
    }
  }
}
