---
title: Select
width: narrow
page: true
model:
  region: ../../components/select/json/select-region.json
  savings-program: ../../components/select/json/select-savings-program.json
---
{{#>_layout-container}}
<div class="nsw-form">

  <div class="nsw-form__group">
    {{>_select model.region id="filters-all-regions-1" }}
  </div>

  <div class="nsw-form__group">
    {{>_select model.savings-program 
    id="filters-all-savings-programs-1"
    multiple="true"
    }}
  </div>

  <div class="nsw-form__group">
    {{>_select model.region
    id="filters-all-regions-2"
    helper-text="Your region of residence"
    }}
  </div>

  <div class="nsw-form__group">
    {{>_select model.savings-program
    id="filters-all-savings-programs-2"
    multiple="true"
    helper-text="Select all that apply"
    }}
  </div>

  <div class="nsw-form__group">
    {{>_select model.region
    id="filters-all-regions-3"
    required="true"
    error-text="Please select a region of residence"
    }}
  </div>

  <div class="nsw-form__group">
    {{>_select model.savings-program
    id="filters-all-savings-programs-3"
    multiple="true"
    required="true"
    error-text="Please select the savings programs you would like to claim"
    }}
  </div>

  <div class="nsw-form__group">
    {{>_select model.region
    id="filters-all-regions-4"
    valid-text="Your region is eligible for savings benefits"
    }}
  </div>

  <div class="nsw-form__group">
    {{>_select model.savings-program
    id="filters-all-savings-programs-4"
    multiple="true"
    valid-text="The programs you have selected are available"
    }}
  </div>
</div>

{{/_layout-container}}
