---
title: Select
width: narrow
tabs: true
directory: select
intro: Select allows users to choose an option from an available list.
theme: true
model:
  region: ../../components/select/json/select-region.json
  savings-program: ../../components/select/json/select-savings-program.json
meta-description: Select allows users to choose an option from an available list.
meta-index: true
---

<h3>Single select</h3>
{{#>_docs-example}}
<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_select model.region
    id="select-all-regions-1"
    }}
  </div>
</div>
{{/_docs-example}}

<h3>Multiple select</h3>
{{#>_docs-example}}
<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_select model.savings-program 
    id="select-all-savings-programs-1"
    multiple="true"
    }}
  </div>
</div>
{{/_docs-example}}

<h3>Helper text</h3>

{{#>_docs-example}}
<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_select model.region
    id="select-all-regions-2"
    helper-text="Your region of residence"
    }}
  </div>
</div>
{{/_docs-example}}

{{#>_docs-example separated="true"}}
<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_select model.savings-program
    id="select-all-savings-programs-2"
    multiple="true"
    helper-text="Select all that apply"
    }}
  </div>
</div>
{{/_docs-example}}

<h3>Error</h3>
{{#>_docs-example}}
<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_select model.region
    id="select-all-regions-3"
    required="true"
    error-text="Please select a region of residence"
    }}
  </div>
</div>
{{/_docs-example}}

{{#>_docs-example separated="true"}}
<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_select model.savings-program
    id="select-all-savings-programs-3"
    multiple="true"
    required="true"
    error-text="Please select the savings programs you would like to claim"
    }}
  </div>
</div>
{{/_docs-example}}

<h3>Validation</h3>
{{#>_docs-example}}
<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_select model.region
    id="select-all-regions-4"
    valid-text="Your region is eligible for savings benefits"
    }}
  </div>
</div>
{{/_docs-example}}

{{#>_docs-example separated="true"}}
<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_select model.savings-program
    id="select-all-savings-programs-4"
    multiple="true"
    valid-text="The programs you have selected are available"
    }}
  </div>
</div>
{{/_docs-example}}