---
title: Select
width: narrow
page: true
model:
  region: ../../components/select/json/select-region.json
  savings-program: ../../components/select/json/select-savings-program.json
---
{{#>_layout-container}}

<form id="form" class="nsw-form">
  <div class="nsw-form__group nsw-m-bottom-sm">
    {{>_select model.savings-program 
    id="select-all-savings-programs-test"
    multiple="true"
    }}
  </div>

  <div class="nsw-form__group">
    <label class="nsw-form__label" for="select-all-savings-programs">Savings programs you would like to claim</label>
    <div class="nsw-multi-select js-multi-select" data-select-text="Select savings programs" data-multi-select-text="{n} savings programs selected" data-n-multi-select="2">
      <select name="select-all-savings-programs" id="select-all-savings-programs" multiple>
        <option value="Stay NSW voucher" selected="selected">Stay NSW voucher</option>
        <option value="Regional seniors travel card" selected="selected">Regional seniors travel card</option>
        <option value="Toll relief" selected="selected">Toll relief</option>
        <option value="First lap swimming voucher">First lap swimming voucher</option>
        <option value="Active kids voucher">Active kids voucher</option>
        <option value="Creative kids voucher">Creative kids voucher</option>
        <option value="Energy made easy">Energy made easy</option>
      </select>
    </div>
  </div>

  <div class="nsw-filters nsw-filters--down js-filters">
    <div class="nsw-filters__controls js-filters__count">
      <button>
        <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">tune</span>
        <span>Filters</span>
        <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</span>
      </button>
    </div>
    <div class="nsw-filters__wrapper">
      <div class="nsw-filters__title">Filters</div>
      <div class="nsw-filters__list">
        <div class="nsw-filters__item">
          <button class="nsw-filters__item-button">
            <span class="nsw-filters__item-name">Keyword</span>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</span>
          </button>
          <div class="nsw-filters__item-content">
            <label class="nsw-form__label sr-only" for="filters-all-keyword-4">Keyword</label>
            <input class="nsw-form__input" type="text" id="filters-all-keyword-4" name="filters-keyword" value="Digital Design System">
          </div>
        </div>
        <div class="nsw-filters__item">
          <button class="nsw-filters__item-button">
            <span class="nsw-filters__item-name">Region</span>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</span>
          </button>
          <div class="nsw-filters__item-content">
            <label class="nsw-form__label sr-only" for="filters-instant-regions-8">Region</label>
            <div class="nsw-multi-select js-multi-select" data-select-text="Select regions" data-multi-select-text="{n} regions selected" data-n-multi-select="2">
            <select name="filters-instant-regions-8" id="filters-instant-regions-8" multiple>
              <option value="Central Coast" selected="true">Central Coast</option>
              <option value="Central West &amp; Orana">Central West &amp; Orana</option>
              <option value="Far West">Far West</option>
              <option value="Hunter">Hunter</option>
              <option value="Illawarra-Shoalhaven">Illawarra-Shoalhaven</option>
              <option value="New England &amp; North West">New England &amp; North West</option>
              <option value="North Coast">North Coast</option>
              <option value="Riverina Murray">Riverina Murray</option>
            </select>
            </div>
          </div>
        </div>
        <div class="nsw-filters__item">
          <button class="nsw-filters__item-button">
            <span class="nsw-filters__item-name">Categories</span>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</span>
          </button>
          <div class="nsw-filters__item-content">
            <fieldset class="nsw-form__fieldset">
              <legend class="nsw-form__legend sr-only">Categories</legend>
              <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-categories" value="Customer Service" id="filters-instant-categories-0-8">
              <label class="nsw-form__checkbox-label" for="filters-instant-categories-0-8">Customer Service</label>
              <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-categories" value="Communities and Justice" id="filters-instant-categories-1-8">
              <label class="nsw-form__checkbox-label" for="filters-instant-categories-1-8">Communities and Justice</label>
              <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-categories" value="Education" id="filters-instant-categories-2-8">
              <label class="nsw-form__checkbox-label" for="filters-instant-categories-2-8">Education</label>
              <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-categories" value="Health" id="filters-instant-categories-3-8">
              <label class="nsw-form__checkbox-label" for="filters-instant-categories-3-8">Health</label>
              <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-categories" value="Planning" id="filters-instant-categories-4-8">
              <label class="nsw-form__checkbox-label" for="filters-instant-categories-4-8">Planning</label>
            </fieldset>
          </div>
        </div>
        <div class="nsw-filters__item">
          <button class="nsw-filters__item-button">
            <span class="nsw-filters__item-name">Date</span>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</span>
          </button>
          <div class="nsw-filters__item-content">
            <div class="nsw-form__group">
              <fieldset class="nsw-form__date">
                <legend class="nsw-form__label">Date published from:</legend>
                <div class="nsw-form__date-wrapper">
                  <div class="nsw-form__date-input">
                    <label class="nsw-form__label nsw-form__label--small" for="filters-all-date-from-4-day">Day</label>
                    <input class="nsw-form__input" type="text" maxlength="2" id="filters-all-date-from-4-day" name="filters-all-date-from-4-day">
                  </div>
                  <div class="nsw-form__date-input">
                    <label class="nsw-form__label nsw-form__label--small" for="filters-all-date-from-4-month">Month</label>
                    <input class="nsw-form__input" type="text" maxlength="2" id="filters-all-date-from-4-month" name="filters-all-date-from-4-month">
                  </div>
                  <div class="nsw-form__date-input nsw-form__date-input--large">
                    <label class="nsw-form__label nsw-form__label--small" for="filters-all-date-from-4-year">Year</label>
                    <input class="nsw-form__input" type="text" maxlength="4" id="filters-all-date-from-4-year" name="filters-all-date-from-4-year">
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="nsw-form__group">
              <fieldset class="nsw-form__date">
                <legend class="nsw-form__label">Date published to:</legend>
                <div class="nsw-form__date-wrapper">
                  <div class="nsw-form__date-input">
                    <label class="nsw-form__label nsw-form__label--small" for="filters-all-date-to-4-day">Day</label>
                    <input class="nsw-form__input" type="text" maxlength="2" id="filters-all-date-to-4-day" name="filters-all-date-to-4-day">
                  </div>
                  <div class="nsw-form__date-input">
                    <label class="nsw-form__label nsw-form__label--small" for="filters-all-date-to-4-month">Month</label>
                    <input class="nsw-form__input" type="text" maxlength="2" id="filters-all-date-to-4-month" name="filters-all-date-to-4-month">
                  </div>
                  <div class="nsw-form__date-input nsw-form__date-input--large">
                    <label class="nsw-form__label nsw-form__label--small" for="filters-all-date-to-4-year">Year</label>
                    <input class="nsw-form__input" type="text" maxlength="4" id="filters-all-date-to-4-year" name="filters-all-date-to-4-year">
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div> 
      </div>
      <div class="nsw-filters__accept">
        <button type="submit" class="nsw-button nsw-button--dark nsw-button--full-width">Apply filters</button>
      </div>
      <div class="nsw-filters__cancel">
        <button type="reset">Clear all filters</button>
      </div>
    </div>
  </div>

  <div class="nsw-form__group">
    <fieldset class="nsw-form__fieldset">
      <legend>
        <span class="nsw-form__legend">Category</span>
      </legend>
      {{>_checkbox
        id="form-checkbox-multi-1-a"
        name="form-checkbox-multi-1"
        label="Customer Service"
      }}
      {{>_checkbox
        id="form-checkbox-multi-1-b"
        name="form-checkbox-multi-1"
        label="Communities and Justice"
        checked=false
      }}
    </fieldset>

    <div class="nsw-form__group nsw-m-bottom-sm">
      {{>_select model.region id="select-all-regions-1" }}
    </div>
  </div>

  <div class="nsw-form__group">
    <label class="nsw-form__label" for="pet-select">Choose a pet:</label>

    <select name="pets" id="pet-select">
      <option value="">--Please choose an option--</option>
      <option value="dog">Dog</option>
      <option value="cat">Cat</option>
      <option value="hamster">Hamster</option>
      <option value="parrot">Parrot</option>
      <option value="spider">Spider</option>
      <option value="goldfish">Goldfish</option>
    </select>
  </div>

  <div class="nsw-form__group nsw-m-bottom-sm">
    <fieldset class="nsw-form__fieldset">
      <legend>
        <span class="nsw-form__legend">Choose your monster's features:</span>
      </legend>

      <div>
        <input type="checkbox" id="scales" name="scales">
        <label for="scales">Scales</label>
      </div>

      <div>
        <input type="checkbox" id="horns" name="horns">
        <label for="horns">Horns</label>
      </div>

      <div>
        <input type="checkbox" id="tentacles" name="tentacles">
        <label for="tentacles">Tentacles</label>
      </div>

      <div>
        <input type="checkbox" id="wings" name="wings">
        <label for="wings">Wings</label>
      </div>
    </fieldset>
  </div>

  {{>_button-input type="submit" style="dark" text="Submit"}}

  <p id="log"></p>
</form>

<script>
function logSubmit(event) {
  event.preventDefault();
  const formData = new FormData(form);

  for (const [key, value] of formData) {
    log.innerHTML += `<pre>${key}: ${value}</pre>\n`;
  }
}

const form = document.querySelector("form");
const log = document.getElementById("log");
form.addEventListener("submit", logSubmit);
</script>

{{/_layout-container}}

