---
title: Select
width: narrow
page: true
model:
  region: ../../components/select/json/select-region.json
  savings-program: ../../components/select/json/select-savings-program.json
---
{{#>_layout-container}}

<form id="form" class="nsw-form">
  <div class="nsw-form__group nsw-m-bottom-sm">
    {{>_select model.savings-program 
    id="select-all-savings-programs-test"
    multiple="true"
    }}
  </div>

  <div class="nsw-form__group">
    <fieldset class="nsw-form__fieldset">
      <legend>
        <span class="nsw-form__legend">Category</span>
      </legend>
      {{>_checkbox
        id="form-checkbox-multi-1-a"
        name="form-checkbox-multi-1"
        label="Customer Service"
      }}
      {{>_checkbox
        id="form-checkbox-multi-1-b"
        name="form-checkbox-multi-1"
        label="Communities and Justice"
        checked=false
      }}
    </fieldset>

    <div class="nsw-form__group nsw-m-bottom-sm">
      {{>_select model.region id="select-all-regions-1" }}
    </div>
  </div>

  <div class="nsw-form__group">
    <label for="pet-select">Choose a pet:</label>

    <select name="pets" id="pet-select">
      <option value="">--Please choose an option--</option>
      <option value="dog">Dog</option>
      <option value="cat">Cat</option>
      <option value="hamster">Hamster</option>
      <option value="parrot">Parrot</option>
      <option value="spider">Spider</option>
      <option value="goldfish">Goldfish</option>
    </select>
  </div>

  <div class="nsw-form__group nsw-m-bottom-sm">
    <fieldset class="nsw-form__fieldset">
      <legend>
        <span class="nsw-form__legend">Choose your monster's features:</span>
      </legend>

      <div>
        <input type="checkbox" id="scales" name="scales">
        <label for="scales">Scales</label>
      </div>

      <div>
        <input type="checkbox" id="horns" name="horns">
        <label for="horns">Horns</label>
      </div>

      <div>
        <input type="checkbox" id="tentacles" name="tentacles">
        <label for="tentacles">Tentacles</label>
      </div>

      <div>
        <input type="checkbox" id="wings" name="wings">
        <label for="wings">Wings</label>
      </div>
    </fieldset>
  </div>

  {{>_button-input type="submit" style="dark" text="Submit"}}

  <p id="log"></p>
</form>

<script>
function logSubmit(event) {
  event.preventDefault();
  const formData = new FormData(form);

  for (const [key, value] of formData) {
    log.innerHTML += `<pre>${key}: ${value}</pre>\n`;
  }
}

const form = document.querySelector("form");
const log = document.getElementById("log");
form.addEventListener("submit", logSubmit);
</script>

{{/_layout-container}}

