<!doctype html>
<html lang="en" class="no-js">
<head>
  <title>NSW Digital Design System - Hero banner</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex" />
  <link rel="icon" href="/nsw-design-system/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TMEHXHFJXJ"></script>
<script>window.dataLayer=window.dataLayer||[];functiongtag(){dataLayer.push(arguments);}gtag("js",newDate());gtag("config","G-TMEHXHFJXJ");</script>
</head>

<body>

<div class="nsw-hero-banner nsw-hero-banner--dark nsw-hero-banner--wide">
  <div class="nsw-hero-banner__container">
    <div class="nsw-hero-banner__wrapper">
      <div class="nsw-hero-banner__content">
        <h1>Helping you deliver great government services</h1>
        <p class="nsw-intro">Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance</p>
        <div class="nsw-hero-banner__button"><a href="#" class="nsw-button nsw-button--white">View Digital Service Toolkit</a></div>
      </div>
      <div class="nsw-hero-banner__box">
      </div>
    </div>
  </div>
</div>
<div class="nsw-hero-banner nsw-hero-banner--light nsw-hero-banner--wide">
  <div class="nsw-hero-banner__container">
    <div class="nsw-hero-banner__wrapper">
      <div class="nsw-hero-banner__content">
        <h1>Helping you deliver great government services</h1>
        <p class="nsw-intro">Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance</p>
        <div class="nsw-hero-banner__button"><a href="#" class="nsw-button nsw-button--dark">View Digital Service Toolkit</a></div>
      </div>
      <div class="nsw-hero-banner__box">
      </div>
    </div>
  </div>
</div>
<div class="nsw-hero-banner nsw-hero-banner--wide">
  <div class="nsw-hero-banner__container">
    <div class="nsw-hero-banner__wrapper">
      <div class="nsw-hero-banner__content">
        <h1>Helping you deliver great government services</h1>
        <p class="nsw-intro">Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance</p>
        <div class="nsw-hero-banner__button"><a href="#" class="nsw-button nsw-button--dark">View Digital Service Toolkit</a></div>
      </div>
      <div class="nsw-hero-banner__box">
      </div>
    </div>
  </div>
</div>

<div class="nsw-hero-banner nsw-hero-banner--dark">
  <div class="nsw-hero-banner__container">
    <div class="nsw-hero-banner__wrapper">
      <div class="nsw-hero-banner__content">
        <h1>Helping you deliver great government services</h1>
        <p class="nsw-intro">Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance</p>
        <div class="nsw-hero-banner__button"><a href="#" class="nsw-button nsw-button--white">View Digital Service Toolkit</a></div>
      </div>
      <div class="nsw-hero-banner__box">
        <img class="nsw-hero-banner__image" src="https://picsum.photos/id/237/2000/1250" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="nsw-hero-banner nsw-hero-banner--light">
  <div class="nsw-hero-banner__container">
    <div class="nsw-hero-banner__wrapper">
      <div class="nsw-hero-banner__content">
        <h1>Helping you deliver great government services</h1>
        <p class="nsw-intro">Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance</p>
        <div class="nsw-hero-banner__button"><a href="#" class="nsw-button nsw-button--dark">View Digital Service Toolkit</a></div>
      </div>
      <div class="nsw-hero-banner__box">
        <img class="nsw-hero-banner__image" src="https://picsum.photos/id/237/2000/1250" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="nsw-hero-banner">
  <div class="nsw-hero-banner__container">
    <div class="nsw-hero-banner__wrapper">
      <div class="nsw-hero-banner__content">
        <h1>Helping you deliver great government services</h1>
        <p class="nsw-intro">Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance</p>
        <div class="nsw-hero-banner__button"><a href="#" class="nsw-button nsw-button--dark">View Digital Service Toolkit</a></div>
      </div>
      <div class="nsw-hero-banner__box">
        <img class="nsw-hero-banner__image" src="https://picsum.photos/id/237/2000/1250" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="nsw-hero-banner nsw-hero-banner--dark nsw-hero-banner--wide nsw-hero-banner--lines">
  <div class="nsw-hero-banner__container">
    <div class="nsw-hero-banner__wrapper">
      <div class="nsw-hero-banner__content">
        <h1>Helping you deliver great government services</h1>
        <p class="nsw-intro">Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance</p>
        <div class="nsw-hero-banner__button"><a href="#" class="nsw-button nsw-button--white">View Digital Service Toolkit</a></div>
      </div>
      <div class="nsw-hero-banner__box">
        <div class="nsw-hero-banner__lines"></div>
      </div>
    </div>
  </div>
</div>
<div class="nsw-hero-banner nsw-hero-banner--light nsw-hero-banner--wide nsw-hero-banner--lines">
  <div class="nsw-hero-banner__container">
    <div class="nsw-hero-banner__wrapper">
      <div class="nsw-hero-banner__content">
        <h1>Helping you deliver great government services</h1>
        <p class="nsw-intro">Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance</p>
        <div class="nsw-hero-banner__button"><a href="#" class="nsw-button nsw-button--dark">View Digital Service Toolkit</a></div>
      </div>
      <div class="nsw-hero-banner__box">
        <div class="nsw-hero-banner__lines"></div>
      </div>
    </div>
  </div>
</div>
<div class="nsw-hero-banner nsw-hero-banner--wide nsw-hero-banner--lines">
  <div class="nsw-hero-banner__container">
    <div class="nsw-hero-banner__wrapper">
      <div class="nsw-hero-banner__content">
        <h1>Helping you deliver great government services</h1>
        <p class="nsw-intro">Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance</p>
        <div class="nsw-hero-banner__button"><a href="#" class="nsw-button nsw-button--dark">View Digital Service Toolkit</a></div>
      </div>
      <div class="nsw-hero-banner__box">
        <div class="nsw-hero-banner__lines"></div>
      </div>
    </div>
  </div>
</div>

<div class="nsw-hero-banner nsw-hero-banner--dark">
  <div class="nsw-hero-banner__container">
    <div class="nsw-hero-banner__wrapper">
      <div class="nsw-hero-banner__content">
        <h1>Helping you deliver great government services</h1>
        <p class="nsw-intro">Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance</p>
      </div>
      <div class="nsw-hero-banner__links">
        <div class="nsw-hero-banner__list">
          <div class="nsw-hero-banner__sub-title">Key coronavirus links</div>
          <ul>
            <li><a href="#">COVIDSafe App</a></li>
            <li><a href="#">Current COVID-19 case locations</a></li>
            <li><a href="#">Travel to and from NSW</a></li>
            <li><a href="#">Health and wellbeing</a></li>
            <li><a href="#">Business and work</a></li>
            <li><a href="#">COVID-19 testing centres</a></li>
          </ul>
        </div>
      </div>
      <div class="nsw-hero-banner__box">
      </div>
    </div>
  </div>
</div>
<div class="nsw-hero-banner nsw-hero-banner--light">
  <div class="nsw-hero-banner__container">
    <div class="nsw-hero-banner__wrapper">
      <div class="nsw-hero-banner__content">
        <h1>Helping you deliver great government services</h1>
        <p class="nsw-intro">Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance</p>
      </div>
      <div class="nsw-hero-banner__links">
        <div class="nsw-hero-banner__list">
          <div class="nsw-hero-banner__sub-title">Key coronavirus links</div>
          <ul>
            <li><a href="#">COVIDSafe App</a></li>
            <li><a href="#">Current COVID-19 case locations</a></li>
            <li><a href="#">Travel to and from NSW</a></li>
            <li><a href="#">Health and wellbeing</a></li>
            <li><a href="#">Business and work</a></li>
            <li><a href="#">COVID-19 testing centres</a></li>
          </ul>
        </div>
      </div>
      <div class="nsw-hero-banner__box">
      </div>
    </div>
  </div>
</div>
<div class="nsw-hero-banner">
  <div class="nsw-hero-banner__container">
    <div class="nsw-hero-banner__wrapper">
      <div class="nsw-hero-banner__content">
        <h1>Helping you deliver great government services</h1>
        <p class="nsw-intro">Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance</p>
      </div>
      <div class="nsw-hero-banner__links">
        <div class="nsw-hero-banner__list">
          <div class="nsw-hero-banner__sub-title">Key coronavirus links</div>
          <ul>
            <li><a href="#">COVIDSafe App</a></li>
            <li><a href="#">Current COVID-19 case locations</a></li>
            <li><a href="#">Travel to and from NSW</a></li>
            <li><a href="#">Health and wellbeing</a></li>
            <li><a href="#">Business and work</a></li>
            <li><a href="#">COVID-19 testing centres</a></li>
          </ul>
        </div>
      </div>
      <div class="nsw-hero-banner__box">
      </div>
    </div>
  </div>
</div>

  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
