---
title: Easy Read landing page
order: 21
page: true
directory: Easy Read
model:
  nav-basic: ../../../components/main-nav/json/main-nav.json
  page: ../../../docs/content/methods/json/easy-read-landing.json
  footer: ../../../components/footer/json/footer.json
---

{{>_masthead content="#content" nav="#main-nav"}}
{{>_header header-title="NSW Department"}}
{{>_main-nav model.nav-basic}}
<div class="nsw-container nsw-p-bottom-xs">
  {{>_breadcrumbs model.page.breadcrumbs}}
</div>

<div class="nsw-container nsw-p-top-sm nsw-p-bottom-lg">
  <div class="nsw-layout">
    <main id="content" class="nsw-layout__main nsw-easy-read-content">
      <h1>Easy Read information</h1>
      <p class="nsw-intro">Find information that uses simple words and pictures.</p>

      {{>_easy-read-read-aloud}}

      <h2>Choose a topic</h2>
      <div class="nsw-grid nsw-grid--spaced">
        {{#each model.page.categories}}
        <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
          {{>_card this highlight=true}}
        </div>
        {{/each}}
      </div>

      <div class="nsw-callout nsw-m-top-lg">
        <div class="nsw-callout__content">
          <h2>Get help to find information</h2>
          <p>Call 13 77 88 or ask a support person to help you find the information you need.</p>
        </div>
      </div>

      <hr class="nsw-m-y-lg">

      <div class="nsw-block nsw-p-bottom-md">
        {{>_easy-read-about model.page.about}}
      </div>
    </main>
  </div>
</div>

{{>_footer model.footer}}
