---
title: Two column - Sidebar left align
model:
    nav-basic: ../../components/main-navigation/main-navigation.json
    nav-mega: ../../components/main-navigation/mega-navigation.json
    breadcrumbs: ../../components/breadcrumbs/breadcrumbs.json
    footer: ../../patterns/footer/footer.json
example: true
---
<style></style>
{{>_header}}
{{>_main-navigation model.nav-mega}}
<div class="nsw-container">
  {{>_breadcrumbs model.breadcrumbs}}
</div>
<div class="nsw-container nsw-layout nsw-layout--sidebar-left">
  <div class="nsw-layout__sidebar">
    <!-- ### START OF SIDEBAR CONTENT AREA - REPLACE CODE BELOW ### -->
    Sidebar content area
    <!-- ### END OF SIDEBAR CONTENT AREA ### -->
  </div>
  <main class="nsw-layout__content">
    <!-- ### START OF MAIN CONTENT AREA - REPLACE CODE BELOW ### -->
    Main content area
    <!-- ### END OF MAIN CONTENT AREA ### -->
  </main>
</div>

{{>_footer model.footer}}
