<div class="nsw-code-section">
  <div class="nsw-ui-demo">
    {{> @partial-block }}
  </div>
  <div class="nsw-code-block nsw-wysiwyg-content nsw-m-top-sm">
    <a href="#" class="showHTML nsw-p-xs nsw-m-top-xs nsw-bg--light-10">Show HTML</a>
    <pre><code class="html"><script>
    function escapeHtml(unsafe) {
      return unsafe
           .replace(/&/g, "&amp;")
           .replace(/</g, "&lt;")
           .replace(/>/g, "&gt;")
           .replace(/"/g, "&quot;")
           .replace(/'/g, "&#039;");
    }
    document.write(escapeHtml(`{{> @partial-block }}`));
</script></code></pre>
  </div>
</div>
