<div class="nsw-file-upload js-file-upload">
    <label for="{{id}}" class="nsw-file-upload__label nsw-button nsw-button--dark-outline-solid">
        <span class="nsw-file-upload__text nsw-file-upload__text--has-max-width">Upload a file</span>
    </label>

    <input type="file" class="nsw-file-upload__input" name="{{id}}" id="{{id}}">
</div>