---
title: File upload
width: narrow
page: true
---

{{#>_layout-container}}
<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_file-upload
    js=true
    id="file-upload-helper"
    label="Upload drivers license"
    helper-text="Formats accepted: JPG, PNG or PDF <br /> File size must not exceed 350MB"
    accept=true
    replace=true
    }}
  </div>
</div>

<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_file-upload
    js=true
    id="file-upload-error"
    label="Upload drivers license"
    helper-text="Formats accepted: JPG, PNG or PDF <br /> File size must not exceed 350MB"
    error-text="The selected file must be smaller than 350MB"
    accept=true
    multiple=true
    }}
  </div>
</div>
{{/_layout-container}}

{{#>_layout-container brand-dark="true" invert="true"}}
<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_file-upload
    js=true
    id="file-upload-helper-dark"
    label="Upload drivers license"
    helper-text="Formats accepted: JPG, PNG or PDF <br /> File size must not exceed 350MB"
    accept=true
    replace=true
    }}
  </div>
</div>

<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_file-upload
    js=true
    id="file-upload-error-dark"
    label="Upload drivers license"
    helper-text="Formats accepted: JPG, PNG or PDF <br /> File size must not exceed 350MB"
    error-text="The selected file must be smaller than 350MB"
    accept=true
    multiple=true
    }}
  </div>
</div>
{{/_layout-container}}
