---
title: File upload
width: narrow
page: true
---

{{#>_layout-container}}
<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_file-upload
    id="file-upload-helper"
    label="Upload drivers license"
    helper-text="Formats accepted: JPG, PNG or PDF <br /> File size must not exceed 350MB"
    required=false
    }}
  </div>
</div>

<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_file-upload
    id="file-upload-error"
    label="Upload drivers license"
    helper-text="Formats accepted: JPG, PNG or PDF <br /> File size must not exceed 350MB"
    required=false
    error-text="The selected file must be smaller than 350MB"
    }}
  </div>
</div>
{{/_layout-container}}
