---
title: File upload
width: narrow
tabs: true
directory: file-upload
intro: File uploaders help users to select and upload files.
theme: true
meta-description: File uploaders help users to select and upload files.
meta-index: true
---

{{#>_docs-example}}
<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_file-upload
    js=true
    id="file-upload-helper"
    label="Upload drivers license"
    helper-text="Formats accepted: JPG, PNG or PDF <br /> File size must not exceed 350MB"
    accept=true
    multiple=true
    }}
  </div>
</div>
{{/_docs-example}}

<h3>Error messages</h3>
{{#>_docs-example}}
<div class="nsw-form">
  <div class="nsw-form__group">
    {{>_file-upload
    js=true
    id="file-upload-error"
    label="Upload drivers license"
    helper-text="Formats accepted: JPG, PNG or PDF <br /> File size must not exceed 350MB"
    error-text="The selected file must be smaller than 350MB"
    accept=true
    }}
  </div>
</div>
{{/_docs-example}}