---
title: Extending
width: narrow
no-blank: true
order: 30
meta-description: The NSW Design System can be extended to create custom solutions, drawing on core elements for specific user needs. 
meta-index: true
---

<h2>Designing using common approaches</h2>

<p>Where existing components or patterns do not meet the needs of your users or unique project, designers can create custom solutions drawing on core elements of the NSW Design System. Our styles provide the visual elements needed to create custom components that are consistent with the NSW look and feel, while our tokens and helper classes create a common language to help with hand-off.</p>

<p>Using core elements and existing solutions of the NSW Design System creates consistent services for users and saves your team time and effort by building with already tested and accessible solutions.</p>

<p>Our <a target="_blank" href="https://community.digital.nsw.gov.au/">community</a> is a great first point of call to explore and ask teams who have faced similar user needs or researched similar solutions. We encourage re-use when designing to keep experiences consistent across NSW Government digital platforms.</p>

<h3>Core styles</h3>
<p><strong>Raw ingredients of the NSW Design System</strong> - Core styles communicate the NSW Government visual identify by defining the look and feel of digital platforms.</p>

<h3>Components</h3>
<p><strong>Serving suggestions using the NSW Design System foundations</strong> - components are examples of assembled core styles to support the build of user interfaces. They are designed as building blocks to be re-used and
  adapted (where required) to meet specific user needs while maintaining a consistent look and feel.</p>

<h3>UX Guidance</h3>
<p><strong>Recipes for implementing the NSW Design System for your users</strong> - Each core style and component contains guidance, based on evidence, to help guide when it should be used and how it meets user needs. Following these principles will ensure consistent and accessible user experiences across NSW Government digital products and services.</p>

<h2>Contributing back</h2>
<p>Whether proposing a component or building a new one, its your contribution that will help us deliver better services for NSW.</p>
<p>If you build a component or user journey that doesn’t exist in the NSW Design System, please share it with us via the <a target="_blank" href="https://community.digital.nsw.gov.au/">community</a> or email us at <a href="mailto:digital@customerservice.nsw.gov.au">digital@customerservice.nsw.gov.au</a>.
  Your contributions help us grow the design system and help others create engaging and user-focused NSW Government digital products and services.</p>
