---
title: Figma UI Kit
width: narrow
no-blank: true
order: 20
intro: The NSW Design System Figma UI Kit improves design handoff, enables intuitive inspection of design system offerings, and supports seamless collaboration across stakeholders.
meta-description: The NSW Design System UI Kit is available in Figma and contains all the design assets required to design, prototype and share.  
meta-index: true
---

<nav class="nsw-in-page-nav" aria-labelledby="in-page-nav">
    <div id="in-page-nav" class="nsw-in-page-nav__title">On this page</div>
    <ul class="nsw-in-page-nav__list">
      <li><a href="#using-with-documentation">Using with documentation</a></li>
      <li><a href="#how-to-access">How to access the Figma UI Kit</a></li>
      <li><a href="#getting-started">Getting started with Figma</a></li>
    </ul>
</nav>

<h2 id="using-with-documentation">Using with documentation</h2>

<p><strong>The Figma UI Kit should not be used in isolation.</strong> Our core styles and components go beyond just look-and-feel. To produce quality user experiences, read the documentation and understand the usage and behaviour of each style and component.</p>

<figure class="nsw-media">
  <img src="/assets/images/using-figma-with-documentation.png" alt="Infographic of core style and component guidance and resources layers">
</figure>

<h2 id="how-to-access">How to access the Figma UI Kit</h2>

<p>There are <strong>two ways</strong> to use the NSW Design System in Figma:</p>

<h3>Option 1: Invite-based access (recommended)</h3>

<p>For NSW Government teams, partners, and vendors who need access to the managed version of the NSW Design System UI Kit. Using this method, components stay up-to-date with the latest release. When library updates are available, the Libraries icon on the Assets tab in the left sidebar will display a blue badge.</p>

<p>To request view access, email <a href="mailto:digital@customerservice.nsw.gov.au">digital@customerservice.nsw.gov.au</a>.</p>

<p>View access lets you copy components into your design files, perform basic inspection, and comment. Edit access is reserved for the internal NSW Design System team only.</p>

<h3>Option 2: Offline copy</h3>

<p>A downloadable version of the NSW Design System UI Kit, for exploration or evaluation, is available upon request. You can import the file to your own workspace and publish it as a local library. <strong>Offline copies don&rsquo;t receive any updates</strong> and your design files will be out of date when we publish a new version.</p>

<p>To request an offline copy of the Figma UI Kit, email <a href="mailto:digital@customerservice.nsw.gov.au">digital@customerservice.nsw.gov.au</a>.</p>

<h2 id="getting-started">Getting started with Figma</h2>

<p class="nsw-m-bottom-lg">If you're new to Figma, we recommend starting with their beginner-friendly course: <a href="https://help.figma.com/hc/en-us/sections/30880632542743">Figma Design for beginners</a>.</p>

<hr>

<p><strong>Last updated:</strong> 28 July 2025</p>