---
title: Figma UI Kit
width: narrow
no-blank: true
order: 2
---

<h2> Get the kit</h2>
<p>The NSW Design System UI Kit is available in <a href="https://www.figma.com/" target="_blank">Figma</a> and contains all the design assets required to design, prototype and share.</p>

<p><strong>1. Sign up to Figma</strong></p>

<p>You can create a free <a href="https://www.figma.com/pricing/" target="_blank">Figma Starter account</a> and join our <a href="https://community.digital.nsw.gov.au" target="_blank">community</a> to receive updates and collaborate with other NSW Design Syste users.</p>

<p><strong>2. Install font</strong></p>
<p>The Design System Figma UI Kit uses the Public Sans font family. To use the typeface in Figma, <a href="https://digitalnsw.github.io/public-sans/download/" target="_blank">download and install Public Sans</a>.</p>

<p><strong>3. Install the NSW Design System UI Kit</strong></p>
<p>The UI Kit has been built as a Figma project and can be shared to the Dashboard of your account. To share the project send your Figma account email address to <a href="mailto:digital@customerservice.nsw.gov.au">digital@customerservice.nsw.gov.au</a>.</p>
<p><strong>4. Set up the Asset Library</strong></p>
<p>Once you have added the UI Kit to your account, follow the instructions on the <strong>Getting Started</strong> page in Figma to set up the Asset library and colour theming.</p>

<h2>Version updates</h2>
<p>Updates are pushed automatically to the Figma UI Kit. Guidance for reviewing and accepting the updates can be found on the <strong>Getting Started</strong> page in Figma.</p>
<p>A full log of Figma UI Kit changes are available on <a href="https://github.com/digitalnsw/nsw-figma-archive" target="_blank">Github</a>.</p>

<h2>Get started with Figma</h2>
<p>Figma has developed some easy to follow <a href="https://help.figma.com/hc/en-us/categories/360002051613-Get-started#Get-Started" target="_blank">guides</a> and <a href="https://www.youtube.com/channel/UCQsVmhSa4X-G3lHlUtejzLA" target="_blank">video tutorials</a> that step you through different processes:</p>

<ul>
  <li><a href="https://www.youtube.com/watch?v=Cx2dkpBxst8&ab_channel=Figma" target="_blank">What's Figma? (1:35 mins)</a></li>
  <li><a href="https://www.youtube.com/watch?v=hrHL2VLMl7g&ab_channel=Figma" target="_blank">Setting up a Figma account (3:26 mins)</a></li>
  <li><a href="https://www.youtube.com/watch?v=IHEh9HFBtFU&ab_channel=Figma" target="_blank">Customising components (3:55 mins)</a></li>
  <li><a href="https://www.youtube.com/watch?v=DSrbwCrEIII&ab_channel=Figma" target="_blank">Tour the Editor interface (6:38 mins)</a></li>
  <li><a href="https://www.youtube.com/watch?v=Zj163lgt_kI&ab_channel=Figma" target="_blank">Designing and collaborating in real time (7:45 mins)</a></li>
</ul>

<p>You'll also find some great resources on <a href="https://www.linkedin.com/learning/search?keywords=Figma&upsellOrderOrigin=default_guest_learning&trk=learning-course_learning-search-bar_search-submit&difficultyLevel=ALL" target="_blank">LinkedIn
  Learning</a> and we encourage you to connect with our <a href="https://community.digital.nsw.gov.au" target="_blank">community</a> to share experiences and ask questions.</p>
<h2>Sharing the file</h2>
<p>Once you have access you can share it with other members in your team from within your Figma account. From your Figma dashboard, select the ‘NSW Design System’ project in your left-hand panel (do not share from within the file as this will limit access). Select ‘Share’ in the top right-hand corner of the screen and enter the enter the email addresses you wish to share the project to.</p>
<p>To view the UI Kit without it being added to your account, you can access the <a href="https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=0%3A1" target="_blank">View Only Design System Figma UI Kit</a>.</p>
