---
title: Getting Started
width: narrow
no-blank: true
order: 1
---
<p>Use the NSW Design System to create customer-centred digital products and
  services that meet Branding and WCAG 2.1 AA accessibility guidelines. It also
  helps you meet the <a
          href="https://www.digital.nsw.gov.au/digital-service-toolkit/design-standards">Design
    Standards</a> to design for user needs</p>
<p>The Design System breaks down the NSW Government Brand to into an adaptable
  and expandable base that includes:</p>
<ul>
  <li><strong>Core styles</strong> - foundations that communicate the NSW
    Government visual identify
  </li>
  <li><strong>Base components</strong> - examples of assembled core styles to
    support the build of user interfaces
  </li>
  <li><strong>UX Guidance</strong> - detailed usage and interaction guidance for
    creating consistent user experiences
  </li>
</ul>

<h2>First steps</h2>
<p>Before jumping in, there are some key areas of the Design System we've built to make building digital products and services easier.</p>

    <div class="nsw-grid">
      <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
        <div class="nsw-card nsw-card--content">
          <div class="nsw-card__content">
            <h2 class="nsw-card__title">
              <a href="figma-ui-kit.html" class="nsw-card__link">Figma UI Kit</a>
            </h2>
            <p class="nsw-card__copy">All the design assets required to design, prototype and share. </p>
            <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
          </div>
        </div>
      </div>
      <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
        <div class="nsw-card nsw-card--content">
          <div class="nsw-card__content">
            <h2 class="nsw-card__title">
              <a href="extending.html" class="nsw-card__link">Extending</a>
            </h2>
            <p class="nsw-card__copy">Draw on the core elements to create custom solutions.</p>
            <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
          </div>
        </div>
      </div>
      <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
        <div class="nsw-card nsw-card--content">
          <div class="nsw-card__content">
            <h2 class="nsw-card__title">
              <a href="theming.html" class="nsw-card__link">Theming</a>
            </h2>
            <p class="nsw-card__copy">Apply colour theming to your digital products and services.</p>
            <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
          </div>
        </div>
      </div>
    </div>
  