---
title: Getting Started
width: narrow
no-blank: true
order: 1
---
<p>Use the NSW Design System to create customer-centred digital products and
  services that meet Branding and WCAG 2.1 AA accessibility guidelines. It also
  helps you meet the <a
          href="https://www.digital.nsw.gov.au/digital-service-toolkit/design-standards">Design
    Standards</a> to design for user needs</p>
<p>The Design System breaks down the NSW Government Brand to into an adaptable
  and expandable base that includes:</p>
<ul>
  <li><strong>Core styles</strong> - foundations that communicate the NSW
    Government visual identify
  </li>
  <li><strong>Base components</strong> - examples of assembled core styles to
    support the build of user interfaces
  </li>
  <li><strong>UX Guidance</strong> - detailed usage and interaction guidance for
    creating consistent user experiences
  </li>
</ul>

<h2>Expanding the Design System</h2>
<p>The NSW Design System can be <a href="extending.html">extended</a> to build
  unique and custom user experiences. The <strong>core styles, base
    components</strong> and <strong>UX guidance</strong> are a base to build
  upon, inform and align, when building digital experiences and interfaces that
  are not covered in the Design System.</p>

<h2>Figma UI Kit</h2>
<p>The NSW Design System UI Kit is available in <a
        href="https://www.figma.com/">Figma</a> and contains all the design
  assets required to design, prototype and share.</p>
<p>You can create a free <a href="https://www.figma.com/pricing/">Figma Starter
  Account</a> and join our <a href="https://community.digital.nsw.gov.au">Community</a>
  to receive updates and collaborate with teams like yours in NSW Government.
</p>

<h3>Install</h3>
<p>The Design System Figma UI Kit has been built as a Figma Project and can be
  shared to the Dashboard of your account. To share the Project with your Figma
  account, send you Figma email address to <a
          href="mailto:digital@customerservice.nsw.gov.au">digital@customerservice.nsw.gov.au</a>.
</p>
<p>Once you have access you can share it with other members in your team from
  within your Figma account. From your Figma Dashboard, select the ‘NSW Design
  System’ Project in your left-hand panel (do not share from within the file as
  this will limit access). Select ‘Share’ in the top right-hand corner of the
  screen and enter the enter the email addresses you wish to share the project
  to.</p>
<p>A full log of Figma UI Kit changes are available on <a
        href="https://github.com/digitalnsw/nsw-figma-archive">Github</a>.</p>
<p>To view the UI Kit without it being added to your account, you can access the
  <a href="https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=0%3A1">View
    Only Design System Figma UI Kit</a>.</p>

<h3>Set up</h3>
<p>Once you have added the Design System Figma file to your account, you’ll find
  instructions to set up the Asset library and colour theming on the <strong>Getting
    Started</strong> Figma page.</p>
<p>The Design System Figma file uses the Montserrat font family. To use the
  typeface in Figma, <a href="https://fonts.google.com/specimen/Montserrat">download
    and install Montserrat</a>.</p>

<h3>Version updates</h3>
<p>Updates are pushed automatically to the Figma UI Kit. Guidance for reviewing
  and accepting the updates can be found on the <strong>Getting Started</strong>
  Figma page.</p>

<h3>Get started with Figma</h3>
<p>Figma has developed some easy to follow <a
        href="https://help.figma.com/hc/en-us/categories/360002051613-Get-started#Get-Started">Guides</a>
  and <a href="https://www.youtube.com/channel/UCQsVmhSa4X-G3lHlUtejzLA">Video
    Tutorials</a> that step you through different processes:</p>

<ul>
  <li><a href="https://www.youtube.com/watch?v=Cx2dkpBxst8&ab_channel=Figma">What's
    Figma? (1:35 mins)</a></li>
  <li><a href="https://www.youtube.com/watch?v=hrHL2VLMl7g&ab_channel=Figma">Setting
    up a Figma account (3:26 mins)</a></li>
  <li><a href="https://www.youtube.com/watch?v=IHEh9HFBtFU&ab_channel=Figma">Customising
    components (3:55 mins)</a></li>
  <li><a href="https://www.youtube.com/watch?v=DSrbwCrEIII&ab_channel=Figma">Tour
    the Editor interface (6:38 mins)</a></li>
  <li><a href="https://www.youtube.com/watch?v=Zj163lgt_kI&ab_channel=Figma">Designing
    and collaborating in real time (7:45 mins)</a></li>
</ul>

<p>You'll also find some great resources on <a
        href="https://www.linkedin.com/learning/search?keywords=Figma&upsellOrderOrigin=default_guest_learning&trk=learning-course_learning-search-bar_search-submit&difficultyLevel=ALL">LinkedIn
  Learning</a> and we encourage you to connect with our <a
        href="https://community.digital.nsw.gov.au">Community</a> to share
  experiences and ask questions.</p>
