---
title: Guides
width: narrow
no-blank: true
order: 50
meta-description: XXX 
meta-index: true
---

<!--<div class="nsw-in-page-alert nsw-in-page-alert--info">
  <span class="material-symbols-outlined nsw-material-symbols-outlined nsw-in-page-alert__icon" focusable="false" aria-hidden="true">info</span>
  <div class="nsw-in-page-alert__content">
    <h5>Guides Beta release</h5>
    <p>Help us guide you! Let us know what works, what doesn't, and what guides you want to see here by posting on our <a href="https://community.digital.nsw.gov.au/t/designer-guides-beta-release/1220" target="_blank">community thread</a>.</p>
  </div>
</div>-->

<p>Help us guide you! Let us know what works, what doesn't, and what guides you want to see here by posting on our <a href="https://community.digital.nsw.gov.au/t/designer-guides-beta-release/1220" target="_blank">community thread</a>.</p>

<nav class="nsw-in-page-nav" aria-labelledby="in-page-nav">
  <div id="in-page-nav" class="nsw-in-page-nav__title">On this page</div>
  <ul class="nsw-in-page-nav__list">
    <li>
      <a href="#using">Using the design system</a>
    </li>
    <li>
      <a href="#designing">Designing</a>
    </li>
    <li>
      <a href="#collaborating">Collaborating</a>
    </li>
    <li>
      <a href="#prototyping">Prototyping</a>
    </li>
  </ul>
</nav>

<h2 id="using">Using the design system</h2>

<div class="nsw-grid">
  <div class="nsw-col nsw-col-md-6 nsw-col-xl-4">
    <div class="nsw-card">
      <div class="nsw-card__content">
        <div class="nsw-card__date">Infographic</div>
        <div class="nsw-card__title">
          <a href="/docs/content/about/our-ecosystem.html">Understanding the ecosystem</a>
        </div>
        <span class="material-symbols-outlined nsw-material-symbols-outlined" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-xl-4">
    <div class="nsw-card">
      <div class="nsw-card__content">
        <div class="nsw-card__date">Guidance</div>
        <div class="nsw-card__title">
          <a href="/docs/content/design/theming.html">Theming for your brand classification</a>
        </div>
        <span class="material-symbols-outlined nsw-material-symbols-outlined" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-xl-4">
    <div class="nsw-card">
      <div class="nsw-card__content">
        <div class="nsw-card__date">Guidance</div>
        <div class="nsw-card__title">
          <a href="/docs/content/design/extending.html">Extending for your user needs</a>
        </div>
        <span class="material-symbols-outlined nsw-material-symbols-outlined" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
</div>


<h2 id="designing">Designing</h2>

<div class="nsw-grid">
  <div class="nsw-col nsw-col-md-6 nsw-col-xl-4">
    <div class="nsw-card">
      <div class="nsw-card__content">
        <div class="nsw-card__date">Step by step</div>
        <div class="nsw-card__title">
          <a href="/docs/content/design/figma-ui-kit.html">Access the NSW Figma UI Kit</a>
        </div>
        <span class="material-symbols-outlined nsw-material-symbols-outlined" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-xl-4">
    <div class="nsw-card">
      <div class="nsw-card__content">
        <div class="nsw-card__date">Video</div>
        <div class="nsw-card__title">
          <a href="https://www.youtube.com/playlist?list=PLXDU_eVOJTx7QHLShNqIXL1Cgbxj7HlN4" target="_blank">Figma for beginners</a>
        </div>
        <span class="material-symbols-outlined nsw-material-symbols-outlined" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-xl-4">
    <div class="nsw-card">
      <div class="nsw-card__content">
        <div class="nsw-card__date">Guidance</div>
        <div class="nsw-card__title">
          <a href="https://www.figma.com/best-practices/what-to-expect-when-moving-from-sketch-to-figma/" target="_blank">Moving from Sketch to Figma</a>
        </div>
        <span class="material-symbols-outlined nsw-material-symbols-outlined" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
</div>

<h2 id="collaborating">Collaborating</h2>

<div class="nsw-grid">
  <div class="nsw-col nsw-col-md-6 nsw-col-xl-4">
    <div class="nsw-card">
      <div class="nsw-card__content">
        <div class="nsw-card__date">Blog</div>
        <div class="nsw-card__title">
          <a href="https://www.digital.nsw.gov.au/article/conquering-design-and-development-divide" target="_blank">Working closely with developers</a>
        </div>
        <span class="material-symbols-outlined nsw-material-symbols-outlined" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-xl-4">
    <div class="nsw-card">
      <div class="nsw-card__content">
        <div class="nsw-card__date">Video</div>
        <div class="nsw-card__title">
          <a href="https://www.youtube.com/watch?v=Zj163lgt_kI" target="_blank">Collaborating with non-designers in Figma</a>
        </div>
        <span class="material-symbols-outlined nsw-material-symbols-outlined" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-xl-4">
    <div class="nsw-card">
      <div class="nsw-card__content">
        <div class="nsw-card__date">Guidance</div>
        <div class="nsw-card__title">
          <a href="https://help.figma.com/hc/en-us/sections/360006780134-Collaborative-tools" target="_blank">Get the most out of Figma's comment tool</a>
        </div>
        <span class="material-symbols-outlined nsw-material-symbols-outlined" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
</div>


<h2 id="prototyping">Prototyping</h2>

<div class="nsw-grid">
  <div class="nsw-col nsw-col-md-6 nsw-col-xl-4">
    <div class="nsw-card">
      <div class="nsw-card__content">
        <div class="nsw-card__date">Resource</div>
        <div class="nsw-card__title">
          <a href="https://www.digital.nsw.gov.au/delivery/digital-service-toolkit/resources/user-experience-design-methods/prototyping" target="_blank">Prototyping basics</a>
        </div>
        <span class="material-symbols-outlined nsw-material-symbols-outlined" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-xl-4">
    <div class="nsw-card">
      <div class="nsw-card__content">
        <div class="nsw-card__date">Video</div>
        <div class="nsw-card__title">
          <a href="https://www.youtube.com/c/Figmadesign/search?query=prototyping" target="_blank">Prototyping in Figma</a>
        </div>
        <span class="material-symbols-outlined nsw-material-symbols-outlined" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>
  <!--<div class="nsw-col nsw-col-md-6 nsw-col-xl-4">
    <div class="nsw-card">
      <div class="nsw-card__content">
        <div class="nsw-card__date">Guidance</div>
        <div class="nsw-card__title">
          <a href="#">Get the most out of Figma's comment tool</a>
        </div>
        <span class="material-symbols-outlined nsw-material-symbols-outlined" focusable="false" aria-hidden="true">east</span>
      </div>
    </div>
  </div>-->
</div>
