---
title: Theming
width: narrow
no-blank: true
order: 3
---
<p>The Design System has a built in framework for how colours are used and inherited to ensure a consistent and accessible user experience. The following guidance walks through how each Branding classification can apply colour to its digital products and services using the Design System.</p>

<nav class="nsw-in-page-nav" aria-labelledby="in-page-nav">
  <h2 id="in-page-nav" class="nsw-in-page-nav__title">On this page</h2>
  <ul class="nsw-in-page-nav__list">
    <li class="nsw-in-page-nav__list-item">
      <a href="#palette" class="nsw-in-page-nav__link">NSW Government colour palette</a>
    </li>
    <li class="nsw-in-page-nav__list-item">
      <a href="#colour-framework" class="nsw-in-page-nav__link">Colour framework</a>
    </li>
    <li class="nsw-in-page-nav__list-item">
      <a href="#level-1" class="nsw-in-page-nav__link">Level 01 colour usage</a>
    </li>
    <li class="nsw-in-page-nav__list-item">
      <a href="#level-2-3" class="nsw-in-page-nav__link">Level 02 and 03 colur
        usage</a>
    </li>
  </ul>
</nav>
<h2 id="palette">NSW Government colour palette</h2>
<p>The NSW Government colour palette has been developed to accommodate the wide range of expression required by our brand. The palette contains 10 colours sets (columns), each with four different tones, plus black and white. </p>
<br>
<div class="nsw-palette nsw-grid nsw-m-left-xs nsw-m-top-sm"
     style="font-size:var(--nsw-font-size-xxs-desktop);">
  <div style="background: var(--nsw-palette-grey-01);">
    Grey 01<br/><br/>#22272B
  </div>
  <div style="background: var(--nsw-palette-green-01);">
    Green 01<br/><br/>#004000
  </div>
  <div style="background: var(--nsw-palette-teal-01);">
    Teal 01<br/><br/>#0B3F47
  </div>
  <div style="background: var(--nsw-palette-blue-01);">
    Blue 01<br/><br/>#002664
  </div>
  <div style="background: var(--nsw-palette-purple-01);">
    Purple 01<br/><br/>#441170
  </div>
  <div style="background: var(--nsw-palette-pink-01);">
    Pink 01<br/><br/>#65004D
  </div>
  <div style="background: var(--nsw-palette-red-01);">
    Red 01<br/><br/>#630019
  </div>
  <div style="background: var(--nsw-palette-orange-01);">
    Orange 01<br/><br/>#941B00
  </div>
  <div style="background: var(--nsw-palette-yellow-01);">
    Yellow 01<br/><br/>#694800
  </div>
  <div style="background: var(--nsw-palette-brown-01);">
    Brown 01<br/><br/>#523719
  </div>
  <div></div>
  <div style=" background: var(--nsw-palette-black);">
    Black<br/><br/>#000000
  </div>

  <div style="background:var(--nsw-palette-grey-02);">
    Grey 02<br/><br/>#495054
  </div>
  <div style="background:var(--nsw-palette-green-02);">
    Green 02<br/><br/>#00AA45
  </div>
  <div style="background:var(--nsw-palette-teal-02);">
    Teal 02<br/><br/>#2E808E
  </div>
  <div style="background:var(--nsw-palette-blue-02);">
    Blue 02<br/><br/>#146CFD
  </div>
  <div style="background:var(--nsw-palette-purple-02);">
    Purple 02<br/><br/>#8055F1
  </div>
  <div style="background:var(--nsw-palette-pink-02);">
    Pink 02<br/><br/>#D912AE
  </div>
  <div style="background:var(--nsw-palette-red-02);">
    Red 02<br/><br/>#D7153A
  </div>
  <div style="background:var(--nsw-palette-orange-02);">
    Orange 02<br/>#F3631B
  </div>
  <div style="background:var(--nsw-palette-yellow-02);">
    Yellow 02<br/><br/>#FAAF05
  </div>
  <div style="background:var(--nsw-palette-brown-02);">
    Brown 02<br/><br/>#B68D5D
  </div>
  <div></div>
  <div class="nsw-text--text-dark" style="background: var(--nsw-palette-white);">
    White<br/><br/>#FFFFFF
  </div>

  <div class="nsw-text--text-dark" style="background:var(--nsw-palette-grey-03);">
    Grey 03<br/><br/>#COC6C9
  </div>
  <div class="nsw-text--text-dark" style="background:var(--nsw-palette-green-03);">
    Green 03<br/><br/>#8DEB9C
  </div>
  <div class="nsw-text--text-dark" style="background:var(--nsw-palette-teal-03);">
    Teal 03<br/><br/>#8DD6D9
  </div>
  <div class="nsw-text--text-dark" style="background:var(--nsw-palette-blue-03);">
    Blue 03<br/><br/>#68D6FF
  </div>
  <div class="nsw-text--text-dark" style="background:var(--nsw-palette-purple-03);">
    Purple 03<br/><br/>#C7B9F5
  </div>
  <div class="nsw-text--text-dark" style="background:var(--nsw-palette-pink-03);">
    Pink 03<br/><br/>#F4A9E4
  </div>
  <div class="nsw-text--text-dark" style="background:var(--nsw-palette-red-03);">
    Red 03<br/><br/>#F6ACB6
  </div>
  <div class="nsw-text--text-dark" style="background:var(--nsw-palette-orange-03);">
    Orange 03<br/>#F1C08C
  </div>
  <div class="nsw-text--text-dark" style="background:var(--nsw-palette-yellow-03);">
    Yellow 03<br/><br/>#FDE079
  </div>
  <div class="nsw-text--text-dark" style="background:var(--nsw-palette-brown-03);">
    Brown 03<br/><br/>#D8BEA2
  </div>
  <div></div>
  <div class="nsw-text--text-dark" style="background: var(--nsw-palette-off-white);">
    Off-white<br/><br/>#F2F2F2
  </div>

  <div class="nsw-text--text-dark" style="background:var(--nsw-palette-grey-04);">
    Grey 04<br/><br/>#EBEBEB
  </div>
  <div class="nsw-text--text-dark" style="background:var(--nsw-palette-green-04);">
    Green 04<br/><br/>#DBFADF
  </div>
  <div class="nsw-text--text-dark" style="background:var(--nsw-palette-teal-04);">
    Teal 04<br/><br/>#D1EEEA
  </div>
  <div class="nsw-text--text-dark" style="background:var(--nsw-palette-blue-04);">
    Blue 04<br/><br/>#CBEDFD
  </div>
  <div class="nsw-text--text-dark" style="background:var(--nsw-palette-purple-04);">
    Purple 04<br/><br/>#E6E1FD
  </div>
  <div class="nsw-text--text-dark" style="background:var(--nsw-palette-pink-04);">
    Pink 04<br/><br/>#FDDEF2
  </div>
  <div class="nsw-text--text-dark" style="background:var(--nsw-palette-red-04);">
    Red 04<br/><br/>#F3E2E6
  </div>
  <div class="nsw-text--text-dark" style="background:var(--nsw-palette-orange-04);">
    Orange 04<br/>#FDEDDF
  </div>
  <div class="nsw-text--text-dark" style="background:var(--nsw-palette-yellow-04);">
    Yellow 04<br/><br/>#FFF4CF
  </div>
  <div class="nsw-text--text-dark" style="background:var(--nsw-palette-brown-04);">
    Brown 04<br/><br/>#EDE3D7
  </div>
  <div></div>
  <div></div>
</div>

<h3>Colour Usage Levels</h3>
<p>There are three colour theming levels in NSW Government:</p>
<ul>
  <li><strong>Level 01</strong> - Masterbrand Level 1 and 2</li>
  <li><strong>Level 02</strong> - Materbrand Level 3 and Co-Brand</li>
  <li><strong>Level 03</strong> - Independent</li>
</ul>
<p>For information about NSW Government branding and colour usage
  classifications please see the [NSW Government brand framework].</p>

<h2 id="colour-framework">Colour framework</h2>

<p>The Design System has a built in framework for how colours are used and inherited to ensure a consistent and accessible user experience.</p>

<h3>Colour classifications</h3>

<p>Colours are classified as either a:</p>

<ul>
  <li><strong>Dark colour:</strong> colours that meet 4.5:1 contrast ratio with Text Light #FFFFFF.</li>
  <li><strong>Light colour:</strong> colours that meet 4.5:1 contrast ratio with Text Dark #22272B. </li>
</ul>

<h3>Brand Colour Palette</h3>

<p>Brand colour palettes denote the connection to NSW Government or Brand and have four core usage guidelines and applications:</p>

<ul>
  <li><strong>Brand Dark</strong> - Brand Dark is the primary interaction colour and is used for buttons, text links, icons, dark variants of components and backgrounds. To ensure the required 4.5:1 contrast ratio for accessibility, this colour must always be selected from Row 01 of the NSW Government colour palette.</li>
  <li><strong>Brand Light</strong> - Brand light is your contrasting colour to Brand Dark and is used for secondary buttons, light variants of components, backgrounds and content sections. To ensure the required 4.5:1 contrast ratio for accessibility, this colour must be a <strong>light colour</strong>.</li>
  <li><strong>Brand Supplementary</strong> - Brand Supplementary is an optional third colour which should be used sparingly in instances such as pictograms, dark variants of components and background. To ensure the required 4.5:1 contrast ratio for accessibility, this colour must be a <strong>dark colour</strong>.</li>
  <li><strong>Brand Accent</strong> - Brand Accent is the highlight colour to capture attention and draw the users eye. You’ll find its use in highlight bars and pictograms. This colour has different selection rules depending on your Brand classification.</li>
</ul>

<h3>NSW Design System Base colour theme</h3>

<p>The Design System base colour theme reflects <strong>Level 01</strong> colour usage, which applies to <strong>Masterbrand Level 1 and 2</strong> brand classifications. It uses Blues, Reds and Greys from the NSW Government wider colour palette to communicate a strong association with NSW Government.</p>

<!--<div class="nsw-table-responsive nsw-section nsw-section--white nsw-p-x-sm nsw-m-top-sm nsw-p-top-sm">
  <table class="nsw-table nsw-table--valign-middle nsw-table--bordered">
    <tbody>
    <tr>
      <th>
        <div class="nsw-docs__swatch"
             style="background-color: var(--nsw-brand-dark)"></div>
      </th>
      <th>
        <div class="nsw-docs__swatch"
             style="background-color: var(--nsw-brand-light)"></div>
      </th>
      <th>
        <div class="nsw-docs__swatch"
             style="background-color: var(--nsw-brand-supplementary)"></div>
      </th>
      <th>
        <div class="nsw-docs__swatch"
             style="background-color: var(--nsw-brand-accent)"></div>
      </th>
    </tr>
    <tr>
      <td>
        <h5>Brand Dark</h5>
        <p>Used for buttons, links, icons, dark variants of components and
          backgrounds.</p>
        <p>Masterbrand L1/2 sites always use Blue 01.</p>
      </td>
      <td>
        <h5>Brand Light</h5>
        <p>Used for secondary buttons, light variants of components and
          background.</p>
        <p>Masterbrand L1/2 sites can use any blue, grey, or red Light
          colour.</p>
      </td>
      <td>
        <h5>Brand Supplementary</h5>
        <p>An optional third colour and can be used for pictograms, component
          variants and background.</p>
        <p>Masterbrand L1/2 sites can use blue, red, or grey from row 02.</p>
      </td>
      <td>
        <h5>Brand Accent</h5>
        <p>Used in the accent lines found in some components.</p>
        <p>Masterbrand L1/2 websites can user any colour from the wider
          palette.</p>
      </td>
    </tr>
    </tbody>
  </table>
</div>-->

<div class="nsw-table-responsive nsw-section nsw-section--white nsw-p-x-sm nsw-m-top-sm nsw-p-top-sm">
  <table class="nsw-table nsw-table--valign-middle">
    <tbody>
    <tr>
      <th style="width: 10%">
        <div>
          <p>Swatch</p>
        </div>
      </th>
      <th style="width: 30%">
        <div>
          <p>Colour</p>
        </div>
      </th>
      <th>
        <div>
          <p><strong>Hex value</strong></p>
        </div>
      </th>
    </tr>
    <tr>
      <td>
        <div class="nsw-docs__swatch"
             style="background-color: var(--nsw-brand-dark)"></div>
      </td>
      <td>
        <p>Brand dark</p>
      </td>
      <td>
        <p><code>#002664</code>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="nsw-docs__swatch"
             style="background-color: var(--nsw-brand-light)"></div>
      </td>
      <td>
        <p>Brand light</p>
      </td>
      <td>
        <p><code
        >#CBEDFD</code>
        </p>
      </td>
    <tr>
      <td>
        <div class="nsw-docs__swatch"
             style="background-color: var(--nsw-brand-supplementary)"></div>
      </td>
      <td>
        <p>Brand supplementary</p>
      </td>
      <td>
        <p><code
        >#C3EBFD</code>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="nsw-docs__swatch"
             style="background-color: var(--nsw-brand-accent)"></div>
      </td>
      <td>
        <p>Brand accent</p>
      </td>
      <td>
        <p><code
        >#D7153A</code>
        </p>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<h2 id="level-1">Level 01 colour usage</h2>
<p><strong>For classifications:</strong> Masterbrand Level 1 and 2</p>
<p>The only defined colour for Level 01 is Brand Dark (Blue 01). Brand Light,
  Supplemetnary and Accent are variable colours and can be altered if required.
  If you wish to change a variable Brand colour, it must be selected from the
  Blue, Red or Grey colour sets and:</p>
<ul>
  <li><strong>Brand Light</strong> must be a light colour (accessible with Text
    Dark).
  </li>
  <li><strong>Brand Supplementary</strong> must be a dark colour (accessible
    with Text Light).
  </li>
  <li><strong>Brand Accent</strong> can be selected from any row in wider colour
    palette (Row 02 and 03 recommended).
  </li>
</ul>
<p>Guidance on applying these in Figma can be found on the
  <strong>Colour</strong> page of the <a href="">Figma UI Kit</a>.</p>

<h2 id="level-2-3">Level 02 and 03 colour usage</h2>
<p><strong>For classifications:</strong> Masterbrand Level 3, Co-brand and
  Independent</p>
<p>Level 02 and 03 colour usage have access to the full colour palette for all
  Brand colours.</p>

<p>Colour selection rules:</p>
<ul>
  <li><strong>Brand Dark</strong> must be selected from Row 01.</li>
  <li><strong>Brand Light</strong> must be a light colour (accessible with Text
    Dark).
  </li>
  <li><strong> Brand Supplementary</strong> must be a dark colour (accessible
    with Text Light). This is an additional colour option only available if your
    Brand Light is not from Row 02.
  </li>
  <li><strong> Brand Accent</strong> can be selected from any row from your
    chosen colour sets (Row 02 and 03 recommended).
  </li>
</ul>

<p>Guidance on applying your new Brand colours in Figma can be found on the
  <strong>Colour</strong> page of the <a href="">Figma UI Kit</a>.</p>
<p>As core styles and components inherit colours from the base colour theme,
  changing a Brand colour will automatically filter down to all instances where
  that colour is used. Alternatively, colour instances can be updated on an
  individual basis as required. Where possible, it is indicated in the guidance
  on the <strong>Components</strong> page.</p>
