---
title: Theming
width: narrow
no-blank: true
order: 40
meta-description: The NSW Design System theming framework for how colours are used and inherited to ensure a consistent and accessible user experience.
meta-index: true
---

<p>The NSW Design System has a built-in framework for how colours are used and inherited to ensure a consistent and accessible user experience. The following guidance walks through how each branding classification can apply colour to its digital products and services using the NSW Design System.</p>

<nav class="nsw-in-page-nav" aria-labelledby="in-page-nav">
  <div id="in-page-nav" class="nsw-in-page-nav__title">On this page</div>
  <ul class="nsw-in-page-nav__list">
    <li>
      <a href="#palette">NSW Government colour palette</a>
    </li>
    <li>
      <a href="#aboriginal-palette">Aboriginal colour palette</a>
    </li>
    <li>
      <a href="#colour-framework">Colour framework</a>
    </li>
    <li>
      <a href="#corporate">Masterbrand corporate</a>
    </li>
    <li>
      <a href="#non-corporate">Masterbrand non-corporate, co-brand and independent</a>
    </li>
  </ul>
</nav>

<h2 id="palette">NSW Government colour palette</h2>
<p>The NSW Government colour palette has been developed to accommodate the wide range of expression required by our brand. The palette contains 10 colours sets (columns), each with four different tones, plus white. </p>
<p>Black and off-white have been added to the digital palette to allow for greater contrast to be applied.</p>
<br>
<div class="nsw-palette nsw-grid nsw-m-left-xs nsw-m-top-sm"
     style="font-size:var(--nsw-font-size-xxs-desktop);">
  <div style="background: var(--nsw-palette-grey-01);">
    Grey 01<br/><br/><br/><br/>#22272B
  </div>
  <div style="background: var(--nsw-palette-green-01);">
    Green 01<br/><br/><br/><br/>#004000
  </div>
  <div style="background: var(--nsw-palette-teal-01);">
    Teal 01<br/><br/><br/><br/>#0B3F47
  </div>
  <div style="background: var(--nsw-palette-blue-01);">
    Blue 01<br/><br/><br/><br/>#002664
  </div>
  <div style="background: var(--nsw-palette-purple-01);">
    Purple 01<br/><br/><br/><br/>#441170
  </div>
  <div style="background: var(--nsw-palette-fuchsia-01);">
    Fuchsia 01<br/><br/><br/>#65004D
  </div>
  <div style="background: var(--nsw-palette-red-01);">
    Red 01<br/><br/><br/><br/>#630019
  </div>
  <div style="background: var(--nsw-palette-orange-01);">
    Orange 01<br/><br/><br/><br/>#941B00
  </div>
  <div style="background: var(--nsw-palette-yellow-01);">
    Yellow 01<br/><br/><br/><br/>#694800
  </div>
  <div style="background: var(--nsw-palette-brown-01);">
    Brown 01<br/><br/><br/><br/>#523719
  </div>
  <div></div>
  <div style="background: var(--nsw-palette-black);">
    Black<br/><br/>#000000
  </div>

  <div style="background:var(--nsw-palette-grey-02);">
    Grey 02<br/><br/><br/><br/>#495054
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-green-02);">
    Green 02<br/><br/><br/><br/>#00AA45
  </div>
  <div style="background:var(--nsw-palette-teal-02);">
    Teal 02<br/><br/><br/><br/>#2E808E
  </div>
  <div style="background:var(--nsw-palette-blue-02);">
    Blue 02<br/><br/><br/><br/>#146CFD
  </div>
  <div style="background:var(--nsw-palette-purple-02);">
    Purple 02<br/><br/><br/><br/>#8055F1
  </div>
  <div style="background:var(--nsw-palette-fuchsia-02);">
    Fuchsia 02<br/><br/><br/>#D912AE
  </div>
  <div style="background:var(--nsw-palette-red-02);">
    Red 02<br/><br/><br/><br/>#D7153A
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-orange-02);">
    Orange 02<br/><br/><br/>#F3631B
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-yellow-02);">
    Yellow 02<br/><br/><br/><br/>#FAAF05
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-brown-02);">
    Brown 02<br/><br/><br/><br/>#B68D5D
  </div>
  <div></div>
  <div class="nsw-text--dark" style="background: var(--nsw-palette-white);">
    White<br/><br/>#FFFFFF
  </div>

  <div class="nsw-text--dark" style="background:var(--nsw-palette-grey-03);">
    Grey 03<br/><br/><br/><br/>#CDD3D6
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-green-03);">
    Green 03<br/><br/><br/><br/>#A8EDB3
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-teal-03);">
    Teal 03<br/><br/><br/><br/>#8CDBE5
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-blue-03);">
    Blue 03<br/><br/><br/><br/>#8CE0FF
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-purple-03);">
    Purple 03<br/><br/><br/><br/>#CEBFFF
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-fuchsia-03);">
    Fuchsia 03<br/><br/><br/>#F4B5E6
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-red-03);">
    Red 03<br/><br/><br/><br/>#FFB8C1
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-orange-03);">
    Orange 03<br/><br/><br/>#FFCE99
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-yellow-03);">
    Yellow 03<br/><br/><br/><br/>#FDE79A
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-brown-03);">
    Brown 03<br/><br/><br/><br/>#E8D0B5
  </div>
  <div></div>
  <div class="nsw-text--dark" style="background: var(--nsw-palette-off-white); border: 1px #CDD3D6 solid">
    Off-white<br/><br/>#F2F2F2
  </div>

  <div class="nsw-text--dark" style="background:var(--nsw-palette-grey-04);">
    Grey 04<br/><br/><br/><br/>#EBEBEB
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-green-04);">
    Green 04<br/><br/><br/><br/>#DBFADF
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-teal-04);">
    Teal 04<br/><br/><br/><br/>#D1EEEA
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-blue-04);">
    Blue 04<br/><br/><br/><br/>#CBEDFD
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-purple-04);">
    Purple 04<br/><br/><br/><br/>#E6E1FD
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-fuchsia-04);">
    Fuchsia 04<br/><br/><br/>#FDDEF2
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-red-04);">
    Red 04<br/><br/><br/><br/>#FFE6EA
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-orange-04);">
    Orange 04<br/><br/><br/>#FDEDDF
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-yellow-04);">
    Yellow 04<br/><br/><br/><br/>#FFF4CF
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-brown-04);">
    Brown 04<br/><br/><br/><br/>#EDE3D7
  </div>
  <div></div>
  <div></div>
</div>

<h2 id="aboriginal-palette">Aboriginal colour palette</h2>
<p>The Aboriginal colour palette reflects the rich cultural heritage and storytelling traditions of First Nations peoples. It includes a carefully curated selection of earth-inspired tones that draw from the Australian landscape, such as deep ochres, warm reds, and natural greens. This palette ensures authenticity and respect in design applications while maintaining accessibility and versatility.</p>
<p>Black, white and off-white are also included to enhance contrast and readability in digital and print formats.</p>
<p>Use this palette on its own to ensure authenticity and cultural respect.</p>
<br>
<div class="nsw-palette nsw-grid nsw-m-left-xs nsw-m-top-sm">

  <!-- Row 1 -->
  <div style="background: var(--nsw-aboriginal-palette-red-earth);">
    Red Earth<br/><br/><br/><br/>#950906
  </div>
  <div style="background: var(--nsw-aboriginal-palette-deep-orange);">
    Deep Orange<br/><br/><br/>#882600
  </div>
  <div style="background: var(--nsw-aboriginal-palette-bush-honey);">
    Bush Honey<br/><br/><br/>#694800
  </div>
  <div style="background: var(--nsw-aboriginal-palette-riverbed);">
    Riverbed<br/><br/><br/><br/>#552105
  </div>
  <div style="background: var(--nsw-aboriginal-palette-charcoal-rock);">
    Charcoal Rock<br/><br/><br/>#2D2D2D
  </div>
  <div style="background: var(--nsw-aboriginal-palette-bushland-green);">
    Bushland Green<br/><br/><br/>#215834
  </div>
  <div style="background: var(--nsw-aboriginal-palette-river-blue);">
    River Blue<br/><br/><br/><br/>#162953
  </div>
  <div style="background: var(--nsw-aboriginal-palette-bush-plum);">
    Bush Plum<br/><br/><br/>#472642
  </div>

  <div></div>

  <div style="background: var(--nsw-aboriginal-palette-black);">
    Black<br/><br/>#000000
  </div>
  <div></div>
  <div></div>

  <!-- Row 2 -->
  <div style="background: var(--nsw-aboriginal-palette-lap-lap-red);">
    Lap-Lap Red<br/><br/><br/>#E1261C
  </div>
  <div class="nsw-text--dark" style="background: var(--nsw-aboriginal-palette-ochre);">
    Ochre<br/><br/><br/><br/>#EE6314
  </div>
  <div class="nsw-text--dark" style="background: var(--nsw-aboriginal-palette-sandstone-yellow);">
    Sandstone Yellow<br/><br/><br/>#FAAF05
  </div>
  <div style="background: var(--nsw-aboriginal-palette-firewood);">
    Firewood<br/><br/><br/><br/>#9E5332
  </div>
  <div style="background: var(--nsw-aboriginal-palette-emu-grey);">
    Emu Grey<br/><br/><br/><br/>#555555
  </div>
  <div class="nsw-text--dark" style="background: var(--nsw-aboriginal-palette-marshland-lime);">
    Marshland Lime<br/><br/><br/>#78A146
  </div>
  <div style="background: var(--nsw-aboriginal-palette-saltwater-blue);">
    Saltwater Blue<br/><br/><br/>#0D6791
  </div>
  <div style="background: var(--nsw-aboriginal-palette-spirit-lilac);">
    Spirit Lilac<br/><br/><br/>#9A5E93
  </div>

  <div></div>

  <div class="nsw-text--dark" style="background: var(--nsw-aboriginal-palette-white);">
    White<br/><br/>#FFFFFF
  </div>
  <div></div>
  <div></div>

  <!-- Row 3 -->
  <div class="nsw-text--dark" style="background: var(--nsw-aboriginal-palette-coral-pink);">
    Coral Pink<br/><br/><br/>#FBB4B3
  </div>
  <div class="nsw-text--dark" style="background: var(--nsw-aboriginal-palette-orange-clay);">
    Orange Clay<br/><br/><br/>#F4AA7D
  </div>
  <div class="nsw-text--dark" style="background: var(--nsw-aboriginal-palette-golden-wattle);">
    Golden Wattle<br/><br/><br/>#FEE48C
  </div>
  <div class="nsw-text--dark" style="background: var(--nsw-aboriginal-palette-claystone);">
    Claystone<br/><br/><br/><br/>#D39165
  </div>
  <div class="nsw-text--dark" style="background: var(--nsw-aboriginal-palette-ash-grey);">
    Ash Grey<br/><br/><br/><br/>#CCC6C2
  </div>
  <div class="nsw-text--dark" style="background: var(--nsw-aboriginal-palette-saltbush-green);">
    Saltbush Green<br/><br/><br/>#B5CDA4
  </div>
  <div class="nsw-text--dark" style="background: var(--nsw-aboriginal-palette-lightwater-blue);">
    Lightwater Blue<br/><br/><br/>#84C5D1
  </div>
  <div class="nsw-text--dark" style="background: var(--nsw-aboriginal-palette-lilli-pilli);">
    Lilli Pilli<br/><br/><br/><br/>#C99AC2
  </div>

  <div></div>

  <div class="nsw-text--dark" style="background: var(--nsw-aboriginal-palette-off-white); border: 1px #CDD3D6 solid">
    Off-white<br/><br/>#F2F2F2
  </div>
  <div></div>
  <div></div>

  <!-- Row 4 (50%) -->
  <div class="nsw-text--dark" style="background: var(--nsw-aboriginal-palette-galah-pink);">
    Galah Pink<br/>(50%)<br/><br/>#FDD9D9
  </div>
  <div class="nsw-text--dark" style="background: var(--nsw-aboriginal-palette-sunset-orange);">
    Sunset Orange<br/>(50%)<br/><br/>#F9D4BE
  </div>
  <div class="nsw-text--dark" style="background: var(--nsw-aboriginal-palette-sunbeam);">
    Sunbeam<br/>(50%)<br/><br/><br/>#FFF1C5
  </div>
  <div class="nsw-text--dark" style="background: var(--nsw-aboriginal-palette-macadamia);">
    Macadamia<br/>(50%)<br/><br/><br/>#E9C8B2
  </div>
  <div class="nsw-text--dark" style="background: var(--nsw-aboriginal-palette-smoky-grey);">
    Smoky Grey<br/>(50%)<br/><br/>#E5E3E0
  </div>
  <div class="nsw-text--dark" style="background: var(--nsw-aboriginal-palette-gumleaf-green);">
    Gumleaf Green<br/>(50%)<br/><br/>#DAE6D1
  </div>
  <div class="nsw-text--dark" style="background: var(--nsw-aboriginal-palette-coastal-blue);">
    Coastal Blue<br/>(50%)<br/><br/>#C1E2E8
  </div>
  <div class="nsw-text--dark" style="background: var(--nsw-aboriginal-palette-dusk-purple);">
    Dusk Purple<br/>(50%)<br/><br/>#E4CCE0
  </div>

  <div></div>
  <div></div>
  <div></div>
</div>

<h3>View theming examples</h3>
<ul>
  <li>
    <strong>Full-page examples:</strong>
    <a href="/templates/theming/full-page.html?palette=original-palette&color=purple" target="_blank" rel="noopener">NSW Government palette</a>,
    <a href="/templates/theming/full-page.html?palette=aboriginal-palette&color=red-earth" target="_blank" rel="noopener">Aboriginal palette</a>
  </li>
  <li>
    <strong>Content-only examples:</strong>
    <a href="/templates/theming/content-only.html?palette=original-palette&color=purple" target="_blank" rel="noopener">NSW Government palette</a>,
    <a href="/templates/theming/content-only.html?palette=aboriginal-palette&color=red-earth" target="_blank" rel="noopener">Aboriginal palette</a>
  </li>
</ul>

<div class="nsw-in-page-alert nsw-in-page-alert--warning">
  <span class="material-icons nsw-material-icons nsw-in-page-alert__icon"
     focusable="false" aria-hidden="true">info</span>
  <div class="nsw-in-page-alert__content">
    <h4>Do not mix colour palettes</h4>
    <p>Use either palette separately to maintain visual consistency and accessibility.</p>
  </div>
</div>

<h2 id="colour-framework">Colour framework</h2>

<p>The Design System has a built in framework for how colours are used and inherited to ensure a consistent and accessible user experience.</p>

<h3>Colour classifications</h3>

<p>Colours are classified as either a:</p>

<ul>
  <li><strong>Dark colour:</strong> colours that meet 4.5:1 contrast ratio with Text Light #FFFFFF.</li>
  <li><strong>Light colour:</strong> colours that meet 4.5:1 contrast ratio with Text Dark #22272B. </li>
</ul>

<h3>Brand Colour Palette</h3>

<p>Brand colour palettes denote the connection to NSW Government or brand and have four core usage guidelines and applications:</p>

<ul>
  <li><strong>Brand Dark</strong> - the primary interaction colour and is used for buttons, text links, icons, dark variants of components and backgrounds. To ensure the required 4.5:1 contrast ratio for accessibility, this colour must always be selected from row 01 of the NSW Government colour palette.</li>
  <li><strong>Brand Light</strong> - your contrasting colour to Brand Dark and is used for secondary buttons, light variants of components, backgrounds and content sections. To ensure the required 4.5:1 contrast ratio for accessibility, this colour must be a light colour. Acceptable colour options for Brand Light include rows 03 or 04 of the NSW Government colour palette.</li>
  <li><strong>Brand Supplementary</strong> - an optional third colour which should be used sparingly in instances such as pictograms, dark variants of components and background. To ensure the required 4.5:1 contrast ratio for accessibility, this colour must be a <strong>dark colour</strong>.</li>
  <li><strong>Brand Accent</strong> - the highlight colour to capture attention and draw the users eye. You’ll find its use in highlight bars and pictograms. This colour has different selection rules depending on your brand classification.</li>
</ul>

<h3>NSW Design System Default colour theme</h3>

<p>The Design System default colour theme reflects <strong>masterbrand corporate</strong> colour usage. It uses blues, reds and greys from the NSW Government wider colour palette to communicate a strong association with NSW Government.</p>

<div class="nsw-table-responsive nsw-section nsw-section--white nsw-p-x-sm nsw-m-top-sm nsw-p-top-sm">
  <table class="nsw-table nsw-table--valign-middle">
    <tbody>
    <tr>
      <th style="width: 10%">
        <div>
          <p>Swatch</p>
        </div>
      </th>
      <th style="width: 30%">
        <div>
          <p>Colour</p>
        </div>
      </th>
      <th>
        <div>
          <p><strong>Value</strong></p>
        </div>
      </th>
    </tr>
    <tr>
      <td>
        <div class="nsw-docs__swatch"
             style="background-color: var(--nsw-brand-dark)"></div>
      </td>
      <td>
        <p>Brand dark</p>
      </td>
      <td>
        <p>Blue 01 (<code>#002664</code>)
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="nsw-docs__swatch"
             style="background-color: var(--nsw-brand-light)"></div>
      </td>
      <td>
        <p>Brand light</p>
      </td>
      <td>
        <p>Blue 04 (<code
        >#CBEDFD</code>)
        </p>
      </td>
    <tr>
      <td>
        <div class="nsw-docs__swatch"
             style="background-color: var(--nsw-brand-supplementary)"></div>
      </td>
      <td>
        <p>Brand supplementary</p>
      </td>
      <td>
        <p>Blue 02 (<code
        >#146CFD</code>)
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="nsw-docs__swatch"
             style="background-color: var(--nsw-brand-accent)"></div>
      </td>
      <td>
        <p>Brand accent</p>
      </td>
      <td>
        <p>Red 02 (<code
        >#D7153A</code>)
        </p>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<h2 id="corporate">Masterbrand corporate</h2>
<p>The only defined colour for masterbrand corporate is Brand Dark (Blue 01). Brand Light, Supplementary and Accent are variable colours and can be altered if required. If you wish to change a variable brand colour, it must be selected from the blue, red or grey colour sets and:</p>
<ul>
  <li><strong>Brand Light</strong> must be a light colour (accessible with Text Dark).</li>
  <li><strong>Brand Supplementary</strong> must be a dark colour (accessible with Text Light).</li>
  <li><strong>Brand Accent</strong> can be selected from any row in wider colour palette (row 02 and 03 recommended).</li>
</ul>
<p>Guidance on applying these in Figma can be found on the <strong>Colour</strong> page of the <a href="/docs/content/design/figma-ui-kit.html">Figma UI Kit</a>.</p>

<h2 id="non-corporate">Masterbrand non-corporate, co-brand and independent</h2>
<p>Masterbrand non-corporate, co-brand and independent have access to the full colour palette for all brand colours.</p>

<p>As per brand guidelines, you may select up to two colour sets, plus the grey colour set:</p>

<ul>
  <li>For brands that have existing equity, select a combination that is closest to the existing palette.</li>
  <li>For brands that require a strong connection to the NSW Government, select a colour combination that includes core red or blue.</li>
</ul>

<p><strong>For programs and co-brand agencies</strong>, these colour sets become your available colour palette. You cannot re-select colour sets once you have chosen.</p>
<p><strong>For campaigns</strong>, colour sets may be re-selected with new iterations of that campaign (e.g. for a new year of a campaign, the available colours may change.)</p>


<p>Colour selection rules:</p>
<ul>
  <li><strong>Brand Dark</strong> must be selected from row 01.</li>
  <li><strong>Brand Light</strong> must be a light colour (accessible with Text Dark, row 03 and 04 recommended).</li>
  <li><strong> Brand Supplementary</strong> must be a dark colour (accessible with Text Light). This is an additional colour option only available if your Brand Light is not from row 02.</li>
  <li><strong> Brand Accent</strong> can be selected from any row from your chosen colour sets (row 02 and 03 recommended).</li>
</ul>
<p>Guidance on applying your new brand colours in Figma can be found on the <strong>Colour</strong> page of the <a href="/docs/content/design/figma-ui-kit.html">Figma UI Kit</a>.</p>
<p>As core styles and components inherit colours from the base colour theme, changing a brand colour will automatically filter down to all instances where that colour is used. Alternatively, colour instances can be updated on an individual basis within the chosen colour sets as required. Where possible, it is indicated in the guidance on the <strong>Components</strong> page.</p>