---
title: Theming
home: true
width: narrow
order: 3
---
<div class="nsw-docs-example nsw-docs-example--narrow">
  <div class="nsw-section">
    <h2>Theme</h2>
    <p>The Design System has a built in framework for how colours are used and inherited to ensure a consistent and accessible user experience. The following guidance walks through how each Branding classification can apply colour to its digital products and services using the Design System.</p>

    <nav class="nsw-page-nav" aria-labelledby="in-page-nav">  
      <h2 id="in-page-nav" class="nsw-page-nav__title">On this page</h2>
      <ul class="nsw-page-nav__list">
        <li class="nsw-page-nav__list-item"> 
          <a href="#npm" class="nsw-page-nav__link">NSW Government colour palette</a>
        </li>
        <li class="nsw-page-nav__list-item">
          <a href="#style" class="nsw-page-nav__link">NSW Design System Base colour theme</a>
        </li>
        <li class="nsw-page-nav__list-item">
          <a href="#fonticon" class="nsw-page-nav__link">Changing Brand colours for Level 01</a>
        </li>
        <li class="nsw-page-nav__list-item">
          <a href="#fonticon" class="nsw-page-nav__link">Changing Brand colours Level 02 and 03</a>
        </li>
        <li class="nsw-page-nav__list-item">
          <a href="#fonticon" class="nsw-page-nav__link">Dark and Light colours</a>
        </li>
      </ul>
    </nav>
    <h3>NSW Government colour palette</h3>
    <p>The NSW Government colour palette contains 10 colours sets (each with four different tones), plus black and white. The palette is made up of:</p>
    <ul>
      <li><strong>Colour sets</strong> - each column, or set of four colours within the same family.</li>
      <li><strong>Tonal sets</strong> - each row, 01 being the darkest tonal set and 04 being the lightest tonal set.</li>
      <li><strong>Dark colours</strong> - colours that meet 4.5:1 contrast ratio with Text Light #FFFFFF.</li>
      <li><strong>Light colours</strong> - colours that meet 4.5:1 contrast ratio with Text Dark #22272B.</li>
    </ul>

    <h3>Colour Usage Levels</h3>
    <p>There are three colour theming levels in NSW Government:</p>
    <ul>
      <li>Level 01 (Masterbrand Level 1 and 2)</li>
      <li>Level 02 (Materbrand Level 3 and Co-Brand)</li>
      <li>Level 03 (Independent)</li>
    </ul>
    <p>For information about NSW Government branding and colour usage classifications please see the [NSW Government brand framework</p>

    <h3>NSW Design System base colour theme</h3>
    <p>The Design System base colour theme is based on Level 01 colour usage rules which area applicable for Masterbrand Level 1 and 2 (L1/2). </p>

    <h4>Brand colours</h4>
    <p>Level 01 colour usage reflects a strong association to NSW Government through its use of the red, blue and grey colour sets. </p>
    <p>Foundations and components inherit Brand colours from the base colour theme and their individual guidance will explore the level of customisation or adaptation for each.</p>
    <div class="nsw-section nsw-section--white nsw-p-x-md">
      <table class="nsw-table nsw-table--bordered nsw-table--valign-middle">
        <tbody>
        <tr>
          <th>
            <div class="nsw-docs__swatch" style="background-color: var(--nsw-brand-dark)"></div>
          </th>
          <th>
            <div class="nsw-docs__swatch" style="background-color: var(--nsw-brand-light)"></div>
          </th>
          <th>
            <div class="nsw-docs__swatch" style="background-color: var(--nsw-brand-supplementary)"></div>
          </th>
          <th>
            <div class="nsw-docs__swatch" style="background-color: var(--nsw-brand-accent)"></div>
          </th>
        </tr>
        <tr>
          <td>
            <h5>Brand Dark</h5>
            <p>Used for buttons, links, icons, dark variants of components and backgrounds.</p>
            <p>Masterbrand L1/2 websites always use NSW Blue 01.</p>
          </td>
          <td>
            <h5>Brand Light</h5>
            <p>Used for secondary buttons, light variants of components and background.</p>
            <p>Masterbrand L1/2 websites can use any blue, grey, or red light colour.</p>
          </td>
          <td>
            <h5>Brand Supplementary</h5>
            <p>An optional third colour and can be used for pictograms, component variants and background.</p>
            <p>Masterbrand L1/2 websites can use blue, red, or grey from row 2 or 3.</p>
          </td>
          <td>
            <h5>Brand Accent</h5>
            <p>Used in the accent lines found in some components.</p>
            <p>Masterbrand  L1/2 websites can user any colour from the wide palette.</p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <h3>Changing Brand colours for Level 01</h3>
    <p>The only defined colour for Level 01 is Blue 01, and others can be adopted following the colour usage rules below:</p>
    <p>If you wish to change a variable colour, it must be selected from the Blue, Red or Grey colour sets and:</p>
    <p><strong>Brand Light</strong> must be a Light colour (accessible with Text Dark).</p>
    <p><strong> Brand Supplementary</strong> must be a Dark colour (accessible with Text Light).</p>
    <p><strong> Brand Accent</strong> can be selected from any row in wider colour palette (Row 02 and 03 recommended).</p>
    <p>Guidance on applying these in Figma can be found on the Colours page of the <a href="">Figma UI Kit</a>.</p>

    <h3>Changing Brand colours Level 02 and 03</h3>
    <p>Level 02 and 03 colour usage have access to the full colour palette for all Brand colours. This includes Masterbrand Level 3, Co-brand and Independent. Once you have chosen your new brand colours, use the steps below to apply them to a digital palette. </p>
    <p><strong>Brand Dark</strong> must be selected from Row 01.</p>
    <p><strong>Brand Light</strong> must be a Light colour (accessible with Text Dark).</p>
    <p><strong> Brand Supplementary</strong> must be a Dark colour (accessible with Text Light). This is an additional colour option only available if your Brand Light is not from Row 02.</p>
    <p><strong> Brand Accent</strong> can be selected from any row from your chosen colour sets (Row 02 and 03 recommended).</p>
   
   <h3>Apply new colours to Brand palette</h3>
   <p>Guidance on applying your new Brand colours in Figma can be found on the Colours page of the <a href="">Figma UI Kit</a>.</p> 
   <p>As foundations and components inherit colours from the base colour theme, changing a Brand colour will automatically filter down to all instances where that colour is used. Alternatively, colour instances can be updated on an individual basis as required. Where this possible, it is indicated in the guidance on the Components page.</p>




  </div>
</div>
