---
title: Theming
width: narrow
no-blank: true
order: 3
---
<p>The Design System has a built-in framework for how colours are used and inherited to ensure a consistent and accessible user experience. The following guidance walks through how each branding classification can apply colour to its digital products and services using the Design System.</p>

<nav class="nsw-in-page-nav" aria-labelledby="in-page-nav">
  <h2 id="in-page-nav" class="nsw-in-page-nav__title">On this page</h2>
  <ul class="nsw-in-page-nav__list">
    <li class="nsw-in-page-nav__list-item">
      <a href="#palette" class="nsw-in-page-nav__link">NSW Government colour palette</a>
    </li>
    <li class="nsw-in-page-nav__list-item">
      <a href="#colour-framework" class="nsw-in-page-nav__link">Colour framework</a>
    </li>
    <li class="nsw-in-page-nav__list-item">
      <a href="#corporate" class="nsw-in-page-nav__link">Masterbrand corporate</a>
    </li>
    <li class="nsw-in-page-nav__list-item">
      <a href="#non-corporate" class="nsw-in-page-nav__link">Masterbrand non-corporate, co-brand and independent</a>
    </li>
  </ul>
</nav>
<h2 id="palette">NSW Government colour palette</h2>
<p>The NSW Government colour palette has been developed to accommodate the wide range of expression required by our brand. The palette contains 10 colours sets (columns), each with four different tones, plus black and white. </p>
<br>
<div class="nsw-palette nsw-grid nsw-m-left-xs nsw-m-top-sm"
     style="font-size:var(--nsw-font-size-xxs-desktop);">
  <div style="background: var(--nsw-palette-grey-01);">
    Grey 01<br/><br/>#22272B
  </div>
  <div style="background: var(--nsw-palette-green-01);">
    Green 01<br/><br/>#004000
  </div>
  <div style="background: var(--nsw-palette-teal-01);">
    Teal 01<br/><br/>#0B3F47
  </div>
  <div style="background: var(--nsw-palette-blue-01);">
    Blue 01<br/><br/>#002664
  </div>
  <div style="background: var(--nsw-palette-purple-01);">
    Purple 01<br/><br/>#441170
  </div>
  <div style="background: var(--nsw-palette-pink-01);">
    Pink 01<br/><br/>#65004D
  </div>
  <div style="background: var(--nsw-palette-red-01);">
    Red 01<br/><br/>#630019
  </div>
  <div style="background: var(--nsw-palette-orange-01);">
    Orange 01<br/><br/>#941B00
  </div>
  <div style="background: var(--nsw-palette-yellow-01);">
    Yellow 01<br/><br/>#694800
  </div>
  <div style="background: var(--nsw-palette-brown-01);">
    Brown 01<br/><br/>#523719
  </div>
  <div></div>
  <div style=" background: var(--nsw-palette-black);">
    Black<br/><br/>#000000
  </div>

  <div style="background:var(--nsw-palette-grey-02);">
    Grey 02<br/><br/>#495054
  </div>
  <div style="background:var(--nsw-palette-green-02);">
    Green 02<br/><br/>#00AA45
  </div>
  <div style="background:var(--nsw-palette-teal-02);">
    Teal 02<br/><br/>#2E808E
  </div>
  <div style="background:var(--nsw-palette-blue-02);">
    Blue 02<br/><br/>#146CFD
  </div>
  <div style="background:var(--nsw-palette-purple-02);">
    Purple 02<br/><br/>#8055F1
  </div>
  <div style="background:var(--nsw-palette-pink-02);">
    Pink 02<br/><br/>#D912AE
  </div>
  <div style="background:var(--nsw-palette-red-02);">
    Red 02<br/><br/>#D7153A
  </div>
  <div style="background:var(--nsw-palette-orange-02);">
    Orange 02<br/><br/>#F3631B
  </div>
  <div style="background:var(--nsw-palette-yellow-02);">
    Yellow 02<br/><br/>#FAAF05
  </div>
  <div style="background:var(--nsw-palette-brown-02);">
    Brown 02<br/><br/>#B68D5D
  </div>
  <div></div>
  <div class="nsw-text--dark" style="background: var(--nsw-palette-white);">
    White<br/><br/>#FFFFFF
  </div>

  <div class="nsw-text--dark" style="background:var(--nsw-palette-grey-03);">
    Grey 03<br/><br/>#CDD3D6
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-green-03);">
    Green 03<br/><br/>#A8EDB3
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-teal-03);">
    Teal 03<br/><br/>#8CDBE5
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-blue-03);">
    Blue 03<br/><br/>#8CE0FF
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-purple-03);">
    Purple 03<br/><br/>#CEBFFF
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-pink-03);">
    Pink 03<br/><br/>#F4B5E6
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-red-03);">
    Red 03<br/><br/>#FFB8C1
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-orange-03);">
    Orange 03<br/><br/>#FFCE99
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-yellow-03);">
    Yellow 03<br/><br/>#FDE79A
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-brown-03);">
    Brown 03<br/><br/>#E8D0B5
  </div>
  <div></div>
  <div class="nsw-text--dark" style="background: var(--nsw-palette-off-white);">
    Off-white<br/><br/>#F2F2F2
  </div>

  <div class="nsw-text--dark" style="background:var(--nsw-palette-grey-04);">
    Grey 04<br/><br/>#EBEBEB
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-green-04);">
    Green 04<br/><br/>#DBFADF
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-teal-04);">
    Teal 04<br/><br/>#D1EEEA
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-blue-04);">
    Blue 04<br/><br/>#CBEDFD
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-purple-04);">
    Purple 04<br/><br/>#E6E1FD
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-pink-04);">
    Pink 04<br/><br/>#FDDEF2
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-red-04);">
    Red 04<br/><br/>#FFE6EA
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-orange-04);">
    Orange 04<br/><br/>#FDEDDF
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-yellow-04);">
    Yellow 04<br/><br/>#FFF4CF
  </div>
  <div class="nsw-text--dark" style="background:var(--nsw-palette-brown-04);">
    Brown 04<br/><br/>#EDE3D7
  </div>
  <div></div>
  <div></div>
</div>

<h2 id="colour-framework">Colour framework</h2>

<p>The Design System has a built in framework for how colours are used and inherited to ensure a consistent and accessible user experience.</p>

<h3>Colour classifications</h3>

<p>Colours are classified as either a:</p>

<ul>
  <li><strong>Dark colour:</strong> colours that meet 4.5:1 contrast ratio with Text Light #FFFFFF.</li>
  <li><strong>Light colour:</strong> colours that meet 4.5:1 contrast ratio with Text Dark #22272B. </li>
</ul>

<h3>Brand Colour Palette</h3>

<p>Brand colour palettes denote the connection to NSW Government or brand and have four core usage guidelines and applications:</p>

<ul>
  <li><strong>Brand Dark</strong> - the primary interaction colour and is used for buttons, text links, icons, dark variants of components and backgrounds. To ensure the required 4.5:1 contrast ratio for accessibility, this colour must always be selected from row 01 of the NSW Government colour palette.</li>
  <li><strong>Brand Light</strong> - your contrasting colour to Brand Dark and is used for secondary buttons, light variants of components, backgrounds and content sections. To ensure the required 4.5:1 contrast ratio for accessibility, this colour must be a <strong>light colour</strong>.</li>
  <li><strong>Brand Supplementary</strong> - an optional third colour which should be used sparingly in instances such as pictograms, dark variants of components and background. To ensure the required 4.5:1 contrast ratio for accessibility, this colour must be a <strong>dark colour</strong>.</li>
  <li><strong>Brand Accent</strong> - the highlight colour to capture attention and draw the users eye. You’ll find its use in highlight bars and pictograms. This colour has different selection rules depending on your brand classification.</li>
</ul>

<h3>NSW Design System Default colour theme</h3>

<p>The Design System default colour theme reflects <strong>masterbrand corporate</strong> colour usage. It uses blues, reds and greys from the NSW Government wider colour palette to communicate a strong association with NSW Government.</p>

<div class="nsw-table-responsive nsw-section nsw-section--white nsw-p-x-sm nsw-m-top-sm nsw-p-top-sm">
  <table class="nsw-table nsw-table--valign-middle">
    <tbody>
    <tr>
      <th style="width: 10%">
        <div>
          <p>Swatch</p>
        </div>
      </th>
      <th style="width: 30%">
        <div>
          <p>Colour</p>
        </div>
      </th>
      <th>
        <div>
          <p><strong>Value</strong></p>
        </div>
      </th>
    </tr>
    <tr>
      <td>
        <div class="nsw-docs__swatch"
             style="background-color: var(--nsw-brand-dark)"></div>
      </td>
      <td>
        <p>Brand dark</p>
      </td>
      <td>
        <p>Blue 01 (<code>#002664</code>)
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="nsw-docs__swatch"
             style="background-color: var(--nsw-brand-light)"></div>
      </td>
      <td>
        <p>Brand light</p>
      </td>
      <td>
        <p>Blue 04 (<code
        >#CBEDFD</code>)
        </p>
      </td>
    <tr>
      <td>
        <div class="nsw-docs__swatch"
             style="background-color: var(--nsw-brand-supplementary)"></div>
      </td>
      <td>
        <p>Brand supplementary</p>
      </td>
      <td>
        <p>Blue 02 (<code
        >#C3EBFD</code>)
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="nsw-docs__swatch"
             style="background-color: var(--nsw-brand-accent)"></div>
      </td>
      <td>
        <p>Brand accent</p>
      </td>
      <td>
        <p>Red 02 (<code
        >#D7153A</code>)
        </p>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<h2 id="corporate">Masterbrand corporate</h2>
<p>The only defined colour for masterbrand corporate is Brand Dark (Blue 01). Brand Light, Supplementary and Accent are variable colours and can be altered if required. If you wish to change a variable brand colour, it must be selected from the blue, red or grey colour sets and:</p>
<ul>
  <li><strong>Brand Light</strong> must be a light colour (accessible with Text Dark).</li>
  <li><strong>Brand Supplementary</strong> must be a dark colour (accessible with Text Light).</li>
  <li><strong>Brand Accent</strong> can be selected from any row in wider colour palette (row 02 and 03 recommended).</li>
</ul>
<p>Guidance on applying these in Figma can be found on the <strong>Colour</strong> page of the <a href="/docs/content/design/figma-ui-kit.html">Figma UI Kit</a>.</p>

<h2 id="non-corporate">Masterbrand non-corporate, co-brand and independent</h2>
<p>Masterbrand non-corporate, co-brand and independent have access to the full colour palette for all brand colours.</p>

<p>As per brand guidelines, you may select up to two colour sets, plus the grey colour set:</p>

<ul>
  <li>For brands that have existing equity, select a combination that is closest to the existing palette.</li>
  <li>For brands that require a strong connection to the NSW Government, select a colour combination that includes core red or blue.</li>
</ul>

<p><strong>For programs and co-brand agencies</strong>, these colour sets become your available colour palette. You cannot re-select colour sets once you have chosen.</p>
<p><strong>For campaigns</strong>, colour sets may be re-selected with new iterations of that campaign (e.g. for a new year of a campaign, the available colours may change.)</p>


<p>Colour selection rules:</p>
<ul>
  <li><strong>Brand Dark</strong> must be selected from row 01.</li>
  <li><strong>Brand Light</strong> must be a light colour (accessible with Text Dark).
  </li>
  <li><strong> Brand Supplementary</strong> must be a dark colour (accessible with Text Light). This is an additional colour option only available if your Brand Light is not from row 02.</li>
  <li><strong> Brand Accent</strong> can be selected from any row from your chosen colour sets (row 02 and 03 recommended).</li>
</ul>
<p>Guidance on applying your new brand colours in Figma can be found on the <strong>Colour</strong> page of the <a href="/docs/content/design/figma-ui-kit.html">Figma UI Kit</a>.</p>
<p>As core styles and components inherit colours from the base colour theme, changing a brand colour will automatically filter down to all instances where that colour is used. Alternatively, colour instances can be updated on an individual basis as required. Where possible, it is indicated in the guidance on the <strong>Components</strong> page.</p>
