<!doctype html>
<html lang="en" class="no-js">
<head>
  <title>NSW Digital Design System - Global alert</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex" />
  <link rel="icon" href="/nsw-design-system/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone" rel="stylesheet">
  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TMEHXHFJXJ"></script>
<script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","G-TMEHXHFJXJ");</script>
</head>

<body>

<div class="nsw-global-alert js-global-alert" role="alert">
  <div class="nsw-global-alert__wrapper">
    <div class="nsw-global-alert__content">
      <div class="nsw-global-alert__title">State of Emergency for NSW</div>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area.</p>
    </div>
    <p><a href="#" class="nsw-button nsw-button--white">More information</a></p>
    <button class="nsw-icon-button js-close-alert" type="button" aria-expanded="true">
      <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>
<div class="nsw-global-alert nsw-global-alert--light js-global-alert" role="alert">
  <div class="nsw-global-alert__wrapper">
    <div class="nsw-global-alert__content">
      <div class="nsw-global-alert__title">State of Emergency for NSW</div>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area.</p>
    </div>
    <p><a href="#" class="nsw-button nsw-button--info">More information</a></p>
    <button class="nsw-icon-button js-close-alert" type="button" aria-expanded="true">
      <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>
<div class="nsw-global-alert nsw-global-alert--critical js-global-alert" role="alert">
  <div class="nsw-global-alert__wrapper">
    <div class="nsw-global-alert__content">
      <div class="nsw-global-alert__title">State of Emergency for NSW</div>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area.</p>
    </div>
    <p><a href="#" class="nsw-button nsw-button--white">More information</a></p>
    <button class="nsw-icon-button js-close-alert" type="button" aria-expanded="true">
      <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>
<div class="nsw-global-alert js-global-alert" role="alert">
  <div class="nsw-global-alert__wrapper">
    <div class="nsw-global-alert__content">
      <div class="nsw-global-alert__title">State of Emergency for NSW</div>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area. <a href="#">More information</a></p>
    </div>
    <button class="nsw-icon-button js-close-alert" type="button" aria-expanded="true">
      <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>
<div class="nsw-global-alert nsw-global-alert--light js-global-alert" role="alert">
  <div class="nsw-global-alert__wrapper">
    <div class="nsw-global-alert__content">
      <div class="nsw-global-alert__title">State of Emergency for NSW</div>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area. <a href="#">More information</a></p>
    </div>
    <button class="nsw-icon-button js-close-alert" type="button" aria-expanded="true">
      <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>
<div class="nsw-global-alert nsw-global-alert--critical js-global-alert" role="alert">
  <div class="nsw-global-alert__wrapper">
    <div class="nsw-global-alert__content">
      <div class="nsw-global-alert__title">State of Emergency for NSW</div>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area. <a href="#">More information</a></p>
    </div>
    <button class="nsw-icon-button js-close-alert" type="button" aria-expanded="true">
      <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>

  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
