<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Global alert</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="/nsw-design-system/">
  <link rel="icon" href="/nsw-design-system/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
</head>

<body>

<div class="nsw-global-alert js-global-alert" role="alert">
  <div class="nsw-global-alert__wrapper">
    <div class="nsw-global-alert__content">
      <div class="nsw-global-alert__title">State of Emergency for NSW</div>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area.</p>
    </div>
    <p><a href="/nsw-design-system" class="nsw-button nsw-button--white">More information</a></p>
    <button type="button" class="nsw-global-alert__close">
      <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</i>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>
<div class="nsw-global-alert nsw-global-alert--light js-global-alert" role="alert">
  <div class="nsw-global-alert__wrapper">
    <div class="nsw-global-alert__content">
      <div class="nsw-global-alert__title">State of Emergency for NSW</div>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area.</p>
    </div>
    <p><a href="/nsw-design-system" class="nsw-button nsw-button--dark">More information</a></p>
    <button type="button" class="nsw-global-alert__close">
      <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</i>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>
<div class="nsw-global-alert nsw-global-alert--critical js-global-alert" role="alert">
  <div class="nsw-global-alert__wrapper">
    <div class="nsw-global-alert__content">
      <div class="nsw-global-alert__title">State of Emergency for NSW</div>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area.</p>
    </div>
    <p><a href="/nsw-design-system" class="nsw-button nsw-button--white">More information</a></p>
    <button type="button" class="nsw-global-alert__close">
      <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</i>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>
<div class="nsw-global-alert js-global-alert" role="alert">
  <div class="nsw-global-alert__wrapper">
    <div class="nsw-global-alert__content">
      <div class="nsw-global-alert__title">State of Emergency for NSW</div>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area. <a href="/nsw-design-system">More information</a></p>
    </div>
    <button type="button" class="nsw-global-alert__close">
      <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</i>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>
<div class="nsw-global-alert nsw-global-alert--light js-global-alert" role="alert">
  <div class="nsw-global-alert__wrapper">
    <div class="nsw-global-alert__content">
      <div class="nsw-global-alert__title">State of Emergency for NSW</div>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area. <a href="/nsw-design-system">More information</a></p>
    </div>
    <button type="button" class="nsw-global-alert__close">
      <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</i>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>
<div class="nsw-global-alert nsw-global-alert--critical js-global-alert" role="alert">
  <div class="nsw-global-alert__wrapper">
    <div class="nsw-global-alert__content">
      <div class="nsw-global-alert__title">State of Emergency for NSW</div>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area. <a href="/nsw-design-system">More information</a></p>
    </div>
    <button type="button" class="nsw-global-alert__close">
      <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</i>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>

  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
