<!doctype html>
<html lang="en" class="no-js">
<head><script async src="https://www.googletagmanager.com/gtag/js?id=G-49T9M12F86"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-49T9M12F86');
</script>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P2NKBBJZ');</script>
  
  <title>NSW Digital Design System - Global alert</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://digitalnsw.github.io/nsw-design-system/nsw-og-image.jpg">
  <meta name="robots" content="noindex" />
  <link rel="icon" href="//favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone" rel="stylesheet">
  <link rel="stylesheet" href="//docs/css/docs.css">
  <!-- Hotjar Tracking Code for NSW Design System -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:5063548,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
</head>

<body><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2NKBBJZ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    

<header class="nsw-header">
  <div class="nsw-header__container">
    <div class="nsw-header__inner">
      <div class="nsw-header__main">
        <div class="nsw-header__waratah">
          <br>
          <br>
          <br>
        </div>
      </div>
      <div class="nsw-color-swatches js-color-swatches">
        <legend class="nsw-color-swatches__legend" aria-live="polite" aria-atomic="true"><span class="nsw-color-swatches__color js-color-swatches__color">Blue 01</span></legend>
        <select class="js-color-swatches__select" aria-label="Select a color"></select>
      </div>
    </div>
  </div>
</header>

<div class="nsw-global-alert js-global-alert" role="alert" data-cookie-name="">
  <div class="nsw-global-alert__wrapper">
    <div class="nsw-global-alert__content">
      <div class="nsw-global-alert__title">State of Emergency for NSW</div>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area.</p>
    </div>
    <p><a href="#" class="nsw-button nsw-button--white">More information</a></p>
    <button class="nsw-icon-button js-close-alert" type="button" aria-expanded="true">
      <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>
<div class="nsw-global-alert nsw-global-alert--light js-global-alert" role="alert" data-cookie-name="">
  <div class="nsw-global-alert__wrapper">
    <div class="nsw-global-alert__content">
      <div class="nsw-global-alert__title">State of Emergency for NSW</div>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area.</p>
    </div>
    <p><a href="#" class="nsw-button nsw-button--info">More information</a></p>
    <button class="nsw-icon-button js-close-alert" type="button" aria-expanded="true">
      <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>
<div class="nsw-global-alert nsw-global-alert--critical js-global-alert" role="alert" data-cookie-name="">
  <div class="nsw-global-alert__wrapper">
    <div class="nsw-global-alert__content">
      <div class="nsw-global-alert__title">State of Emergency for NSW</div>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area.</p>
    </div>
    <p><a href="#" class="nsw-button nsw-button--white">More information</a></p>
    <button class="nsw-icon-button js-close-alert" type="button" aria-expanded="true">
      <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>
<div class="nsw-global-alert js-global-alert" role="alert" data-cookie-name="">
  <div class="nsw-global-alert__wrapper">
    <div class="nsw-global-alert__content">
      <div class="nsw-global-alert__title">State of Emergency for NSW</div>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area. <a href="#">More information</a></p>
    </div>
    <button class="nsw-icon-button js-close-alert" type="button" aria-expanded="true">
      <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>
<div class="nsw-global-alert nsw-global-alert--light js-global-alert" role="alert" data-cookie-name="">
  <div class="nsw-global-alert__wrapper">
    <div class="nsw-global-alert__content">
      <div class="nsw-global-alert__title">State of Emergency for NSW</div>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area. <a href="#">More information</a></p>
    </div>
    <button class="nsw-icon-button js-close-alert" type="button" aria-expanded="true">
      <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>
<div class="nsw-global-alert nsw-global-alert--critical js-global-alert" role="alert" data-cookie-name="">
  <div class="nsw-global-alert__wrapper">
    <div class="nsw-global-alert__content">
      <div class="nsw-global-alert__title">State of Emergency for NSW</div>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area. <a href="#">More information</a></p>
    </div>
    <button class="nsw-icon-button js-close-alert" type="button" aria-expanded="true">
      <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>

<script src="//docs/js/docs.js"></script>

  <script src="//js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
