<section aria-label="Page tools">
  <ul class="nsw-socials">
    <li class="nsw-socials__item">
      <a class="nsw-socials__link js-share-this" href="https://facebook.com/sharer/sharer.php?u={{encodeUrl shareUrl}}" target="_blank" rel="noopener">
        <svg class="nsw-socials__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#1578f2" d="M32 16.098C32 7.207 24.837 0 16 0S0 7.207 0 16.098C0 24.133 5.851 30.793 13.5 32V20.751H9.437v-4.653H13.5v-3.547c0-4.035 2.389-6.263 6.043-6.263 1.751 0 3.582.314 3.582.314v3.962h-2.018c-1.988 0-2.607 1.241-2.607 2.514v3.02h4.438l-.709 4.653h-3.728V32c7.649-1.208 13.5-7.867 13.5-15.902z"/></svg>
        <span class="sr-only">Facebook</span>
      </a>
    </li>
    <li class="nsw-socials__item">
      <a class="nsw-socials__link js-share-this" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{encodeUrl shareUrl}}" target="_blank" rel="noopener">
        <svg class="nsw-socials__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#0966c2" d="M27.263 27.269h-4.739v-7.425c0-1.771-.036-4.049-2.469-4.049-2.471 0-2.848 1.927-2.848 3.919v7.556h-4.739V12.001h4.552v2.081h.061c.636-1.2 2.183-2.467 4.493-2.467 4.801 0 5.689 3.16 5.689 7.273v8.381h-.001zM7.116 9.911a2.75 2.75 0 01-2.751-2.753 2.752 2.752 0 112.751 2.753zm2.376 17.358H4.74V12h4.752v15.269zM29.633 0H2.361C1.056 0 0 1.032 0 2.305v27.389c0 1.275 1.056 2.305 2.361 2.305h27.268c1.304 0 2.371-1.031 2.371-2.305V2.305C32 1.032 30.933 0 29.629 0h.004z"/></svg>
        <span class="sr-only">LinkedIn</span>
      </a>
    </li>
    <li class="nsw-socials__item">
      <a class="nsw-socials__link js-share-this" href="https://twitter.com/intent/tweet/?url={{encodeUrl shareUrl}}" target="_blank" rel="noopener">
        <svg class="nsw-socials__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37 32"><path fill="#059ff5" d="M33.474 8c.049.205.073.538.073 1 0 3.692-.851 7.256-2.552 10.692-1.75 3.641-4.205 6.538-7.365 8.692-3.451 2.41-7.413 3.615-11.885 3.615-4.278 0-8.191-1.205-11.74-3.615.535.051 1.142.077 1.823.077 3.549 0 6.733-1.154 9.552-3.462-1.701 0-3.196-.526-4.484-1.577S4.721 21.05 4.235 19.46c.486.051.948.077 1.385.077.681 0 1.361-.077 2.042-.231-1.75-.41-3.208-1.359-4.375-2.846s-1.75-3.18-1.75-5.077v-.154a6.93 6.93 0 003.427 1.077c-1.021-.769-1.847-1.744-2.479-2.923s-.948-2.474-.948-3.885c0-1.41.365-2.756 1.094-4.038 1.896 2.513 4.217 4.513 6.964 6s5.675 2.308 8.786 2.462a11.838 11.838 0 01-.146-1.846c0-1.436.34-2.782 1.021-4.038s1.604-2.244 2.771-2.962a7.104 7.104 0 013.792-1.077c1.118 0 2.151.231 3.099.692s1.786 1.077 2.516 1.846c1.75-.359 3.378-1 4.885-1.923-.583 1.897-1.701 3.385-3.354 4.462 1.458-.205 2.917-.641 4.375-1.308a17.376 17.376 0 01-3.865 4.231z"/></svg>
        <span class="sr-only">Twitter</span>
      </a>
    </li>
    <li class="nsw-socials__item">
      <a class="nsw-socials__link " href="mailto:?body={{encodeUrl shareUrl}}" target="_self" rel="noopener">
        <svg class="nsw-socials__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 32"><path d="M36 0H4C1.8 0 .02 1.8.02 4L0 28c0 2.2 1.8 4 4 4h32c2.2 0 4-1.8 4-4V4c0-2.2-1.8-4-4-4zm0 8L20 18 4 8V4l16 10L36 4v4z"/></svg>
        <span class="sr-only">Email</span>
      </a>
    </li>
  </ul>
</section>
