<section aria-label="Page tools">
  <ul class="nsw-socials">
    <li class="nsw-socials__item">
      <a class="nsw-socials__link js-share-this" href="https://facebook.com/sharer/sharer.php?u={{encodeUrl shareUrl}}" target="_blank" rel="noopener">
        <svg class="nsw-icon nsw-socials__icon" focusable="false" aria-hidden="true">
          <use xlink:href="#facebook"></use>
        </svg>
        <span class="sr-only">Facebook</span>
      </a>
    </li>
    <li class="nsw-socials__item">
      <a class="nsw-socials__link js-share-this" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{encodeUrl shareUrl}}" target="_blank" rel="noopener">
        <svg class="nsw-icon nsw-socials__icon" focusable="false" aria-hidden="true">
          <use xlink:href="#linkedin"></use>
        </svg>
        <span class="sr-only">LinkedIn</span>
      </a>
    </li>
    <li class="nsw-socials__item">
      <a class="nsw-socials__link js-share-this" href="https://twitter.com/intent/tweet/?url={{encodeUrl shareUrl}}" target="_blank" rel="noopener">
        <svg class="nsw-icon nsw-socials__icon" focusable="false" aria-hidden="true">
          <use xlink:href="#twitter"></use>
        </svg>
        <span class="sr-only">Twitter</span>
      </a>
    </li>
    <li class="nsw-socials__item">
      <a class="nsw-socials__link " href="mailto:?body={{encodeUrl shareUrl}}" target="_self" rel="noopener">
        <svg class="nsw-icon nsw-socials__icon" focusable="false" aria-hidden="true">
          <use xlink:href="#email"></use>
        </svg>
        <span class="sr-only">Email</span>
      </a>
    </li>
  </ul>
</section>
