---
title: Social bar
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Use to encourage the sharing of links to pages that may be of interest to the user's social network.</p>
<p>Do:</p>
<ul>
  <li>ensure URLs are shareable and will return the user to the relevant page</li>
  <li>make sure the shareable web address is readable and reflects the content.</li>
</ul>

<h2>How this component works</h2>
<p>The social bar encourages users to share links to pages via 3 popular social mediums and email. Easily recognisable icons are used to show users how they can share the page they are currently on.</p>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>