.nsw-form-label {
  @include font-stack;
  @include font-size('sm');
  @include nsw-spacing(margin-top, lg);
  display: block;

  + input,
  + textarea,
  + select {
    margin-top: rem(4px);
  }
}

.nsw-form-input,
.nsw-form-select {
  @include font-stack;
  @include font-size('sm');
  @include nsw-spacing(padding, sm md);
  background-color: $white;
  color: $dark80;
  border-radius: rem($border-radius);
  border: $border-width solid $dark70;
  vertical-align: middle;
  appearance: none;
  width: 100%;

  &:hover {
    @include nsw-hover;
  }

  &:focus {
    @include nsw-focus;
    border-color: $nsw-tertiary-blue;
  }

  &:disabled {
    background-color: $light10;
    border-color: $light40;
    color: $light40;
    cursor: not-allowed;
  }


  &[aria-invalid='true'],
  &.has-error {
    border-color: $error-red;
  }
}

.nsw-form-select {
  @include background-svg(chevron-down, $nsw-primary-blue);
  @include nsw-spacing(padding-right, xxl);
  background-repeat: no-repeat;
  background-position: right rem(16px) center;
  background-size: rem(16px) auto;
}

.nsw-form-checkbox,
.nsw-form-radio {
  @include nsw-spacing(margin-top, lg);

  [aria-invalid='true'] &,
  .has-error & {
    border: solid 2px $error-red;
    border-radius: 9px;
  }

  &__input {
    position: absolute;
    opacity: 0;


    &:hover + .nsw-form-checkbox__label::before,
    &:hover + .nsw-form-radio__label::before {
      @include nsw-hover;
    }

    &:checked + .nsw-form-checkbox__label::after {
      @include background-svg(tick, $white);
      background-color: $nsw-primary-blue;
    }

    &:checked + .nsw-form-radio__label::after {
      background-color: $nsw-primary-blue;
    }

    &:disabled {
      .nsw-form-checkbox__label::before,
      .nsw-form-radio__label::before {
        border-color: $light40;
        background-color: $white;
        cursor: not-allowed;
      }

      &:checked + .nsw-form-checkbox__label::after,
      &:checked + .nsw-form-radio__label::after {
        background-color: $light40;
      }
    }

    &:focus + .nsw-form-checkbox__label::before,
    &:focus + .nsw-form-radio__label::before {
      @include nsw-focus;
    }
  }

  &__label {
    @include font-stack;
    @include font-size('sm');
    display: block;
  }

  &__label + &__input + &__label {
    @include nsw-spacing(margin-top, lg);
  }
}

.nsw-form-checkbox__label,
.nsw-form-radio__label {
  position: relative;

  &::before {
    @include nsw-spacing(margin-right, md);
    left: 0;
    content: '';
    width: rem(32px);
    height: rem(32px);
    border: $border-width $dark70 solid;
    background: $white;
    top: -2px;
    display: inline-block;
    vertical-align: middle;
    background-color: $white;
    position: relative;
  }

  &::after {
    content: '';
    position: absolute;
    width: rem(22px);
    height: rem(22px);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: rem(16px) auto;
    left: rem(5px);
    top: 50%;
    transform: translateY(-50%);
    margin-top: rem(-2px);
  }
}

.nsw-form-checkbox__label {
  &::before {
    border-radius: 2px;
  }

  &::after {
    border-radius: 1px;
  }
}

.nsw-form-radio__label {
  &::before {
    border-radius: 50%;
  }

  &::after {
    border-radius: 50%;
  }
}

.nsw-form-helper {
  @include font-stack;
  @include font-size('xs');
  display: block;

  &--error {
    @include font-stack(heading);
    @include background-svg(error, $error-red);
    @include nsw-spacing(padding, xs md xs xl);
    @include nsw-spacing(margin-top, xs);
    background-repeat: no-repeat;
    background-position: left rem(8px) center;
    background-size: 1rem auto;
    background-color: $error-red-light10;
  }
}

.nsw-form-fieldset {
  @include nsw-spacing(margin, lg none none);
  @include nsw-spacing(padding, none);
  border: 0;

}

.nsw-form-group {
  @include nsw-spacing(padding, none md);
  border: 0;
}
