---
title: Hero banner
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Use a hero banners to:</p>
<ul>
  <li>introduce and give context to the product or service</li>
  <li>communicate and drive users to a specific call to action</li>
  <li>present an overview of the page’s most important content or primary message</li>
</ul>
<p>Do:</p>
<ul>
  <li>only use on a home page or category/landing page. Overuse may decrease their effectiveness and lead to ‘banner blindness.’</li>
  <li>use simple and concise messaging</li>
  <li>use clear call to actions that aligns to the message or task</li>
  <li>only use images where they add value to the content and support the message</li>
</ul>

<h2>When to avoid</h2>
<p>Do not use:</p>
<ul>
  <li>to replace titles on content pages, instead use H1 typography styles</li>
  <li>for sites or products where the primary navigation of your users is via search, consider Hero Search</li>
</ul>

<h2>Building heros</h2>
<p>Heros layout UI elements to communicate a focused message. They should feature a primary message and/or call to action, and can be accompanied by supporting content such a images or graphics.</p>
<p>Our base component shows example layouts, and are designed to adapt to your content. If these do not meet your user needs (ie. content type or layout), you can use the foundational elements of the design system to build your own in a similar style.</p>

<h2>Accessibility</h2>
<p>All components are responsive and designed to comply with WCAG 2.2 AA accessibility standards, except where compliance is achieved through correct usage and configuration.</p>
