<div class="nsw-hero-banner {{#if theme}}nsw-hero-banner--{{theme}}{{/if}}">
  <div class="nsw-container">
    <div class="nsw-hero-banner__image-area">
      <img src="{{img}}" class="nsw-hero-banner__image" alt="">
    </div>
    <div class="nsw-hero-banner__content-area">
      <div class="nsw-hero-banner__content">
        <h2 class="nsw-hero-banner__title">
          <a href="#" class="nsw-hero-banner__link">{{heading}}</a>
        </h2>
        <p>{{copy}}</p>
        <svg class="nsw-icon nsw-hero-banner__icon" focusable="false" aria-hidden="true">
          <use xlink:href="#arrow"></use>
        </svg>
      </div>
    </div>
  </div>
</div>
