<div class="nsw-hero-banner nsw-hero-banner--{{theme}}">
  <div class="nsw-hero-banner__image-area">
    <img src="{{img}}" alt="" class="nsw-hero-banner__image">
  </div>
  <div class="nsw-hero-banner__content-area nsw-container">
    <div class="nsw-hero-banner__content">
      <h2 class="heading-xxl"><a href="#">{{heading}}</a></h2>
      <p class="heading-md">{{copy}}</p>
      <svg class="nsw-icon nsw-hero-banner__icon" focusable="false" aria-hidden="true">
        <use xlink:href="#arrow"></use>
      </svg>
    </div>
  </div>
</div>
