.nsw-hero-banner{
  $parent: &;
  position: relative;

  @include breakpoint('sm'){
    height: rem(380px);
    overflow: hidden;
  }

  &__image-area{

    @include breakpoint('sm'){
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  &__image{
    @include breakOut;
    height: auto;
    display: block;

    @include breakpoint('sm'){
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border-bottom: 0;
    }
  }

  &__content-area{
    @include breakOut;

    @include breakpoint('sm'){
      @include breakOutReset;
      height: rem(380px);
      background-color: transparent;
      width: 100%;
    }
  }

  &__content{
    @include font-stack();
    @include font-size('md');
    @include nsw-spacing(padding, md);
    background-color: $light20;
    border-top: solid 6px $nsw-primary-highlight;

    @include breakpoint('sm'){
      @include nsw-spacing(padding, md lg);
      position: relative;
      top: 50%;
      background-color: $overlay-white;
      transform: translateY(-50%);
      max-width: rem(600px);
      left: rem(-16px);
    }

    p{
      margin: 0;
    }

    * + p{
      @include nsw-spacing(margin-top, md);
    }

    &:focus-within{
      @include nsw-focus;

      .nsw-hero-banner__link{
        text-decoration: none;
      }
    }
  }

  &__title{
    @include font-stack('heading');
    @include font-size('xxl');
    @include nsw-spacing(margin, none);
  }

  &__icon{
    @include nsw-spacing(margin, md none none none);
  }

  &__link{
    text-decoration: none;
    color: $dark80;

    &:hover{
      text-decoration: underline;
    }

    &:focus{
      outline: none;
      text-decoration: underline;
    }

    &::after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &--dark{

    #{ $parent }__content {
      color: $white;
      background-color: $dark80;

      @include breakpoint('sm'){
        background-color: $overlay-black;
      }
    }

    #{ $parent }__link {
      color: $white;
    }

    #{ $parent }__icon {
      fill: $white;
    }
  }
}
