.nsw-hero-banner {
  background-color: var(--nsw-white);
  position: relative;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgba(var(--nsw-black-rgb), 0.1);
  }

  &__container {
    @include container;
  }

  &__wrapper {
    @include create-grid();
  }

  &__content {
    @include create-column-default();
    @include create-column(7, md);
    @include create-column(6, xl);

    @include breakpoint('xs') { 
      padding-top: rem(32px);
      padding-bottom: rem(32px);
    }

    @include breakpoint('md') { 
      min-height: rem(260px);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include breakpoint('lg') { 
      padding-top: rem(88px);
      padding-bottom: rem(88px);
    }

    .nsw-hero-banner--wide & {
      @include create-column(8, md);
      @include create-column(7, xl);      
    } 

    .nsw-hero-banner--featured & {
      @include breakpoint('md') { 
        min-height: 0;
        display: block;
      }   
    } 

    .nsw-button {
      margin: rem(24px) 0 0 0;
    }

    .nsw-intro {
      margin: rem(8px) 0 0 0;

      @include breakpoint('md') {
        margin-top: rem(16px);
      }    
    }
  }

  &__links {
    @include create-column-default();
    @include create-column(4, md);
    @include create-column(4, xl, 1);

    @include breakpoint('xs') { 
      margin-top: rem(-8px);
      padding-top: 0;
      padding-bottom: rem(32px);
    }

    @include breakpoint('md') { 
      margin-top: 0;
      padding-top: rem(32px);
    }

    @include breakpoint('lg') { 
      padding-top: rem(88px);
      padding-bottom: rem(88px);
    }
  }

  &__list {
    @include z-index;
    border-left: solid 4px var(--nsw-brand-accent);
    padding-left: rem(16px);
    position: relative;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      display: block;
      margin-top: rem(16px);

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__sub-title {
    @include font-size(md);
    margin: 0 0 rem(16px) 0;
    font-weight: var(--nsw-font-bold);
  }

  &__box {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: percentage(5 / $grid-columns);
    padding-left: rem($grid-gutters*2);
    overflow: hidden;

    @include breakpoint('md') {
      display: flex;
    }

    @include breakpoint('xl') {
      width: 50%;
      padding-left: rem($container-max-width/12+$grid-gutters*2);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__graphic {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    &--transparent {
      opacity: 0.2;
    }
  }

  &__bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: var(--nsw-brand-dark);
    opacity: 0.2;
    background-image: url("data:image/svg+xml,%3Csvg width='206' height='220' viewBox='0 0 206 220' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M206 220V36.232L32.136 220H206zm-189.5 0H0L206 2.143v17.46L16.5 220z'/%3E%3C/svg%3E");
    background-size: rem(206px);
    background-position: right bottom;
    background-repeat: no-repeat;
  }

  &--light {
    background-color: var(--nsw-brand-light);
  }

  &--dark {
    background-color: var(--nsw-brand-dark);

    .nsw-hero-banner__content {
      color: var(--nsw-text-light);
    }

    .nsw-hero-banner__links {
      color: var(--nsw-text-light);

      a {
        @include link-light;
      }
    }

    .nsw-hero-banner__bg {
      background-image: url("data:image/svg+xml,%3Csvg width='206' height='220' viewBox='0 0 206 220' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M206 220V36.232L32.136 220H206zm-189.5 0H0L206 2.143v17.46L16.5 220z'/%3E%3C/svg%3E");
    }
  }
}
