<div class="nsw-card">
    <div class="nsw-card__content">
        <h2 class="nsw-hero-banner__title">
          <a href="#" class="nsw-hero-banner__link">{{heading}}</a>
        </h2>
        <p>{{copy}}</p>
        <svg class="nsw-icon nsw-hero-banner__icon" focusable="false" aria-hidden="true">
          <use xlink:href="#arrow"></use>
        </svg>
    </div>
    {{!-- <div class="nsw-card__img">
        <img src="/path/to/image.png" alt="Description of the great product's appearance">
    </div> --}}
</div>
