.nsw-card {
  font-family: var(--nsw-font-family);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  border: 0;
  border-top-left-radius: var(--nsw-border-radius);
  border-top-right-radius: var(--nsw-border-radius);

  &:hover {
    color: var(--nsw-text-light);

    .nsw-card__link {
      color: var(--nsw-text-light);
    }

    .nsw-card__content {
      background-color: var(--nsw-brand-dark);
      border-color: transparent;

      &::after {
        transition: map-get($transitions, hover);
        background-color: transparent;
      }
    }

    .nsw-card__image-area {
      &::after {
        background-color: var(--nsw-brand-dark);
      }
    }

    .nsw-material-icons {
      color: var(--nsw-text-light);
    }
  }

  &:focus-within {
    @include nsw-focus;

    .nsw-card__link {
      text-decoration: none;
    }
  }

  &__title {
    @include font-size('md');
    font-weight: var(--nsw-font-bold);
    margin: 0;
  }

  &__content {
    @include font-size('sm');
    @include nsw-spacing(padding, md md xxxxl md);
    background-color: var(--nsw-white);
    border-radius: var(--nsw-border-radius);
    border: 1px solid var(--nsw-grey-03);
    display: flex;
    flex-direction: column;
    order: 2;
    height: 100%;
    transition: map-get($transitions, hover);

    &::before {
      content: '';
      height: 6px;
      transition: map-get($transitions, hover);
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 6px;
      background-color: var(--nsw-brand-accent);
      transition: map-get($transitions, hover);
    }

    @include breakpoint('lg') {
      @include nsw-spacing(padding, xl xl xxxxl xl);
    }
  }

  &__copy {
    margin: 1rem 0 0;
  }

  &__tag {
    font-weight: var(--nsw-font-bold);
    order: 1;
    margin: 0 0 1rem;

    + .nsw-card__date {
      margin-top: rem(-8);
    }
  }

  &__date {
    order: 2;
    margin: 0 0 1rem;
  }

  &__tag,
  &__date {
    @include font-size('xs');
  }

  &__title,
  &__copy,
  &__icon {
    order: 3;
  }

  &__icon {
    @include nsw-spacing(margin, md none none none);
    position: absolute;
    bottom: rem(13px);
    left: rem(13px);
    transition: map-get($transitions, hover);

    &.nsw-icon {
      @include nsw-spacing(bottom, md);
      width: rem(24px);
      height: rem(24px);
      left: auto;
    }

    @include breakpoint('lg') {
      @include nsw-spacing(margin, xl none none none);
      bottom: rem(29px);
      left: rem(28px);

      &.nsw-icon {
        @include nsw-spacing(bottom, xl);
      }
    }
  }

  &__link {
    @include pseudo-clickable-block;
    text-decoration: none;
    color: var(--nsw-text-dark);
    transition: map-get($transitions, hover);

    &:focus {
      outline: none;
      text-decoration: underline;
    }
  }

  &__image-area {
    order: 1;
    height: rem(200px);
    position: relative;
    background-color: var(--nsw-white);

    &::after {
      content: '';
      position: absolute;
      bottom: -6px;
      left: 0;
      right: 0;
      height: 6px;
      background-color: var(--nsw-brand-accent);
      transition: map-get($transitions, hover);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--headline {
    .nsw-card__title {
      @include font-size('lg');
    }
  }

  &--light {
    .nsw-card__content {
      background-color: var(--nsw-brand-light);
      border-color: transparent;
    }

    .nsw-card__image-area {
      background-color: var(--nsw-brand-light);
    }
  }

  &--dark {
    color: var(--nsw-text-light);

    &:hover {
      color: var(--nsw-text-dark);

      .nsw-card__content {
        background-color: var(--nsw-white);
        border-color: var(--nsw-grey-03);

        &::after {
          display: block;
        }
      }

      .nsw-card__image-area {
        &::after {
          background-color: var(--nsw-brand-accent);
        }
      }

      .nsw-card__link {
        color: var(--nsw-text-dark);
      }

      .nsw-material-icons {
        color: var(--nsw-brand-dark);
      }
    }

    .nsw-card__image-area {
      background-color: var(--nsw-brand-dark);
    }

    .nsw-card__content {
      background-color: var(--nsw-brand-dark);
      border-color: transparent;
    }

    .nsw-card__link {
      color: var(--nsw-text-light);
    }

    .nsw-material-icons {
      color: var(--nsw-text-light);
    }
  }

  &--content {
    .nsw-card__content {
      &::before,
      &::after {
        display: none;
      }
    }

    .nsw-card__image-area {
      &::after {
        background-color: var(--nsw-white);
        border-left: 1px solid var(--nsw-grey-03);
        border-right: 1px solid var(--nsw-grey-03);
      }
    }

    &:hover {
      .nsw-card__content {
        &::after {
          display: none;
        }
      }

      .nsw-card__image-area::after {
        background-color: var(--nsw-brand-dark);
        border-color: transparent;
      }

      &.nsw-card--light {
        .nsw-card__image-area::after {
          background-color: var(--nsw-brand-dark);
          border-color: transparent;
        }
      }

      &.nsw-card--dark {
        .nsw-card__image-area::after {
          background-color: var(--nsw-brand-accent);
        }
      }
    }

    &.nsw-card--light {
      .nsw-card__image-area::after {
        background-color: var(--nsw-brand-light);
        border-color: transparent;
      }
    }

    &.nsw-card--dark {
      .nsw-card__image-area::after {
        background-color: var(--nsw-brand-dark);
        border-color: transparent;
      }
    }
  }
}
