@use 'sass:map';
@use '../../global/scss/tools' as nsw;

.nsw-card {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  block-size: 100%;
  color: var(--nsw-text-dark);
  border-radius: var(--nsw-border-radius);

  &:hover {
    color: var(--nsw-text-light);

    .nsw-card__content {
      background-color: var(--nsw-brand-dark);
      border-color: transparent;

      &::after {
        background-color: transparent;
      }
    }

    .nsw-card__image {
      &::after {
        background-color: transparent;
      }
    }

    a {
      color: var(--nsw-text-light);
    }

    .nsw-material-icons {
      color: var(--nsw-text-light);
    }

    .nsw-section--invert & {
      color: var(--nsw-text-dark);

      .nsw-card__content {
        background-color: var(--nsw-brand-light);

        &::after {
          background-color: transparent;
        }
      }
    }
  }

  &:focus-within {
    @include nsw.nsw-focus;

    a {
      text-decoration: none;
    }

    .nsw-section--invert & {   
      @include nsw.nsw-focus($color: var(--nsw-focus-light));
    }
  }

  &__content {
    padding: nsw.rem(16px) nsw.rem(16px) nsw.rem(62px) nsw.rem(16px);
    background-color: var(--nsw-white);
    border-radius: var(--nsw-border-radius);
    border: 1px solid var(--nsw-grey-03);
    display: flex;
    flex-direction: column;
    block-size: 100%;
    transition: background nsw.$nsw-transition-duration, border nsw.$nsw-transition-duration;

    @include nsw.font-size('sm');

    @include nsw.breakpoint('lg') {
      padding: nsw.rem(32px) nsw.rem(32px) nsw.rem(94px) nsw.rem(32px);
    }
      
    .nsw-section--invert & {    
      border-color: transparent;
    }
  }

  &__title {
    font-weight: var(--nsw-font-bold);

    @include nsw.font-size('md');

    a {
      @include nsw.pseudo-clickable-block;
      text-decoration: none;
      color: var(--nsw-text-dark);
      transition: color nsw.$nsw-transition-duration;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: transparent;
        outline: none;
      }
      
      .nsw-section--invert & {    
        color: var(--nsw-text-dark);
      }
    }
  }

  &__copy {
    margin-block-start: nsw.rem(16px);
    transition: color nsw.$nsw-transition-duration;
  }

  &__tag,
  &__date {
    transition: color nsw.$nsw-transition-duration;
    margin-block-end: nsw.rem(16px);

    @include nsw.font-size('xs');
  }

  &__tag {
    font-weight: var(--nsw-font-bold);

    + .nsw-card__date {
      margin-block-start: nsw.rem(-8);
    }
  }

  .nsw-material-icons {
    font-size: nsw.rem(map.get(nsw.$nsw-icon-sizes, 30));
    color: var(--nsw-brand-dark);
    position: absolute;
    inset-block-end: nsw.rem(16px);
    inset-inline-start: nsw.rem(16px);
    transition: color nsw.$nsw-transition-duration;

    @include nsw.breakpoint('lg') {
      inset-block-end: nsw.rem(32px);
      inset-inline-start: nsw.rem(32px);
    }

    .nsw-section--invert & {    
      color: var(--nsw-brand-dark);
    }
  }

  &__image {
    min-block-size: nsw.rem(200px);
    block-size: nsw.rem(200px);
    position: relative;

    img {
      inline-size: 100%;
      block-size: 100%;
      object-fit: cover;
    }

    + .nsw-card__content {
      border-start-start-radius: 0;
      border-start-end-radius: 0;
      border-block-start-width: 0;

      &::after {
        display: none;
      }
    }
  }

  &--light {
    &:hover {      
      .nsw-section--invert & {  
        .nsw-card__content {  
          background-color: var(--nsw-white);
        }
      }
    }

    .nsw-card__content {
      background-color: var(--nsw-brand-light);
      border-color: transparent;

      &::before,
      &::after {
        display: none;
      }
    }

    .nsw-card__image {
      &::after {
        display: none;
      }
    }
  }

  &--dark {
    color: var(--nsw-text-light);

    &:hover {
      color: var(--nsw-text-dark);

      .nsw-card__content {
        background-color: var(--nsw-white);
        border-color: var(--nsw-grey-03);
      }

      .nsw-card__title a {
        color: var(--nsw-text-dark);
      }

      .nsw-material-icons {
        color: var(--nsw-brand-dark);
      }

      .nsw-section--invert & {  
        .nsw-card__content {  
          background-color: var(--nsw-white);
        }

        .nsw-material-icons {
          color: var(--nsw-brand-dark);
        }
      }
    }

    .nsw-card__content {
      background-color: var(--nsw-brand-dark);
      border-color: transparent;

      &::before,
      &::after {
        display: none;
      }
      
      .nsw-section--invert & {    
        border-color: var(--nsw-white);
      }
    }

    .nsw-card__image {
      &::after {
        display: none;
      }
    }

    .nsw-card__title a {
      color: var(--nsw-text-light);
    }

    .nsw-material-icons {
      color: var(--nsw-text-light);

      .nsw-section--invert & {  
        color: var(--nsw-text-light);
      }
    }
  }

  &--headline {
    .nsw-card__title {
      @include nsw.font-size('lg');
    }
  }

  &--highlight {
    .nsw-card__content {
      &::before {
        content: '';
        block-size: 4px;
      }

      &::after {
        content: '';
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;
        inset-inline-end: 0;
        block-size: 4px;
        background-color: var(--nsw-brand-accent);
        transition: background nsw.$nsw-transition-duration;
      }
    }

    .nsw-card__image {
      &::after {
        content: '';
        position: absolute;
        inset-block-end: -4px;
        inset-inline-start: 0;
        inset-inline-end: 0;
        block-size: 4px;
        background-color: var(--nsw-brand-accent);
        transition: background nsw.$nsw-transition-duration;
      }
    }
  }

  &--horizontal {
    @include nsw.breakpoint('md') {
      flex-direction: row;
      align-items: stretch;

      .nsw-card__content {
        flex: 1 1 50%;
        block-size: auto;

        > .nsw-material-icons {
          inset-inline-start: calc(50% + #{nsw.rem(16px)});
        }
      }

      .nsw-card__image {
        flex: 1 1 50%;
        position: relative;
        block-size: auto;

        + .nsw-card__content {
          border-start-end-radius: var(--nsw-border-radius);
          border-end-start-radius: 0;
          border-block-start-width: 1px;
          border-inline-start-width: 0;
        }
      }

      &.nsw-card--highlight {
        .nsw-card__image::after {
          inset-block-start: 0;
          inset-block-end: 0;
          inset-inline-start: auto;
          inset-inline-end: -4px;
          inline-size: 4px;
          block-size: auto;
        }
      }
    }

    @include nsw.breakpoint('lg') {
      .nsw-card__content > .nsw-material-icons {
        inset-inline-start: calc(50% + #{nsw.rem(32px)});
      }
    }
  }

  &--border {
    position: relative;

    &.nsw-card--highlight,
    &.nsw-card--light,
    &.nsw-card--dark {
      .nsw-card__image {
        &::after {
          display: unset;
        }
      }
    }

    .nsw-card__image {
      &::after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: var(--nsw-border-radius);
        border-end-start-radius: 0;
        border-end-end-radius: 0;
        box-shadow:
          inset 0 1px 0 rgba(17, 24, 39, 0.2), /* top */
          inset 1px 0 0 rgba(17, 24, 39, 0.2), /* right */
          inset -1px 0 0 rgba(17, 24, 39, 0.2); /* left */
        pointer-events: none;
      }
    }

    &.nsw-card--horizontal {
      .nsw-card__image {
        &::after {
          position: absolute;
          inset: 0;
          border-radius: var(--nsw-border-radius);
          border-end-end-radius: 0;
          border-start-end-radius: 0;
          box-shadow:
            inset 0 1px 0 rgba(17, 24, 39, 0.2), /* top */
            inset 1px 0 0 rgba(17, 24, 39, 0.2), /* right */
            inset 0 -1px 0 rgba(17, 24, 39, 0.2); /* bottom */
          pointer-events: none;
        }
      }
    }

    &.nsw-card--highlight {
      .nsw-card__image {
        &::after {
          background-color: transparent;
          block-size: unset;
          inline-size: unset;
        }
      }

      .nsw-card__image {
        box-shadow:
          -1px 0 0 0 var(--nsw-grey-03), /* Left */
          1px 0 0 0 var(--nsw-grey-03), /* Right */
          0 -1px 0 0 var(--nsw-grey-03), /* Top */
          0 4px 0 0 var(--nsw-brand-accent); /* Bottom (4px) */
      }

      &:hover {
        .nsw-card__image {
          box-shadow:
            -1px 0 0 0 var(--nsw-grey-03), /* Left */
            1px 0 0 0 var(--nsw-grey-03), /* Right */
            0 -1px 0 0 var(--nsw-grey-03), /* Top */
            0 4px 0 0 transparent; /* Bottom (4px) */
        }

        &.nsw-card--horizontal .nsw-card__image {
          border-radius: var(--nsw-border-radius);
          border-start-end-radius: 0;
          border-end-end-radius: 0;
          box-shadow:
            -1px 0 0 0 var(--nsw-grey-03),  /* Left */
            4px 0 0 0 transparent, /* Right */
            0 -1px 0 0 var(--nsw-grey-03),  /* Top */
            0 1px 0 0 var(--nsw-grey-03);   /* Bottom */
        }
      }

      &.nsw-card--horizontal {
        .nsw-card__image {
          border-radius: var(--nsw-border-radius);
          border-start-end-radius: 0;
          border-end-end-radius: 0;
          box-shadow:
            -1px 0 0 0 var(--nsw-grey-03),  /* Left */
            4px 0 0 0 var(--nsw-brand-accent), /* Right */
            0 -1px 0 0 var(--nsw-grey-03),  /* Top */
            0 1px 0 0 var(--nsw-grey-03);   /* Bottom */
        }
      }
    }
  }
}
