---
title: Cards
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Use card layouts to present a high-level summary of content related to a single topic.</p>
<p>Cards group information into meaningful sections, providing concise information in a condensed space to allow users to distinguish between content and find information easily. The information in a card outlines the main idea of a product, service, or piece of information, allowing a user to click through for further information.</p>

<h3>Card types</h3>
<p>Cards are styled according to their purpose:</p>
<ul>
  <li><strong>Highlight cards</strong> - Use to highlight important content of a related topic or area. For example, to draw attention to priority or key content on a Homepage.</li>
  <li><strong>Content cards</strong> - Use to display all or larger groups of content options to your user. For example, on landing pages where it is used to show all content areas within that section of the site.</li>
</ul>

<h3>How to use</h3>
<p>Do:</p>
<ul>
  <li>consider and choose text and visual elements carefully. Test your cards with minimal content and only add additional content or graphics where they give needed context to the user</li>
  <li>use headlines that set clear expectations about the content being linked to</li>
  <li>use one style of card per module, don't mix and match</li>
  <li>feature one piece of information per card</li>
  <li>outline the main idea with the minimal possible information, don't overload with information as the card links to more detail.</li>
</ul>
<p>Do not:</p>
<ul>
  <li>mix card styles within the same module</li>
  <li>overload with information as the card links to more detail</li>
  <li>add inline text links, the card itself is clickable and should link to a single piece of information, consider using content blocks in this instance</li>
  <li>use a single card component on its own.</li>
</ul>

<h3>When to avoid</h3>
<p>Cards should only display enough information to give a user context. Do not use a card layout:</p>
<ul>
  <li>to highlight a solo piece of information</li>
  <li>when the content requires in-line or multiple links</li>
  <li>when a large amount of text is needed to give users context.</li>
</ul>

<h2>Building cards</h2>
<p>Cards are made up of foundation and content elements to convey information to users. Some examples of these elements are included in our base card component, and can be adapted to meet user needs.</p>
<p>The only mandatary foundations of a card are the container, headline and icon. All others shown are optional and can be adapted to meet user needs.</p>
<p><strong>NOTE:</strong> Do not place single clickable elements (ie. buttons) inside a card, as whole component is clickable.  </p>
<p><strong>Container</strong></p>

<p>Contains the content and identifies clickable area. </p>
<p><strong>Image</strong></p>
<p>Using images in cards allows for different content to stand out and provide additional context. It helps users visualise different pieces of information and quickly distinguish between content to find information easily.</p>
<p>Test your visual elements carefully:</p>
<ul>
  <li>only use images where it supports and re-enforces the content to the user</li>
  <li>only use images when they can clearly show the difference between content and can be easily identified</li>
  <li>do not use for decorative purposes only</li>
</ul>
<p><strong>Highlight bar</strong></p>
<p>Use to highlight important content of a related topic or area.</p>
<p><strong>Label</strong></p>
<p>Indicates the category of a topic or theme when a user needs to further group content. For example, departments, agencies, or services.</p>
<p><strong>Date</strong></p>
<p>Indicates how old the content is when this information is important to the user.</p>
<p><strong>Headline</strong></p>
<p>Provides a snapshot of the content.</p>
<p><strong>Description</strong></p>
<p>Provides further details where the headline alone may not be sufficient.</p>
<p><strong>Icon</strong></p>
<p>Arrow used to indicate a clickable component.</p>


<h2>Principles</h2>
<p><strong>Keep content concise</strong></p>
<p>Cards allow users to scan content in order to find their required information quickly, therefore it is important to make the content concise. Ensure the headlines are brief and explicit about the content the cards link to. Intuitive headlines and copy help the user build a clear mental model of the content.</p>

<h2>Behaviour</h2>
<p>When a user interacts with a card it inverts colour to indicate to the user which card they are currently focused on and reinforces the clickable area.</p>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>