---
title: Card
model:
  basic: card.json
  media: card-media.json
  news: card-news.json
  headline: card-headline.json
---
<div class="nsw-container">
  {{>_card model.basic}}
</div>
<br />
<div class="nsw-container">
  {{>_card model.news}}
</div>
<br />
<div class="nsw-container">
  {{>_card model.media}}
</div>
<br />
<div class="nsw-container">
  {{>_card model.headline}}
</div>

<br />
<div class="nsw-container nsw-wysiwyg-content">
  <h2>Multiple cards in grid</h2>
</div>
<div class="nsw-container">
  <div class="nsw-grid">
    <div class="nsw-col nsw-col--third">
      {{>_card model.basic}}
    </div>
    <div class="nsw-col nsw-col--third">
      {{>_card model.news}}
    </div>
    <div class="nsw-col nsw-col--third">
      {{>_card model.headline}}
    </div>
  </div>
</div>
