---
title: Spacing
order: 60
tabs: true
no-blank: true
directory: spacing
---

{{#>_docs-example simple="true" open="true"}}
<div class="nsw-m-bottom-md">
    <div class="nsw-tags">
      <a href="#" class="nsw-tag">Digital</a>
      <a href="#" class="nsw-tag">Digital Design System</a>
      <a href="#" class="nsw-tag">Transformation</a>
    </div>
</div>
{{/_docs-example}}
