---
title: Main navigation
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Use the main navigation to show the top level of your information architecture (IA). It works closely with your Header to orientate users with your product or service and remains consistent across all pages. </p>
<p>As the main navigation is a horizontal list, it won’t support a large number of items. When defining your IA, this will need to be taken into consideration.</p>

<p><strong>Mega menu</strong></p>
<p>Sites with more than 1 level of navigation can use a mega menu to provide users access to deeper levels of content. The mega menu allows you to expand a selected navigation item (indicated by a chevron) to show the children. </p>
<p>Where the main navigation is used without a mega menu, side navigation can be used to display additional levels of content beyond the top level.</p>
<p><strong>Smaller devices</strong></p>
<p>On smaller devices, the main navigation displays as a hamburger menu, where all levels are available.</p>

<h2>Accessibility</h2>
<p>All components are responsive and designed to comply with WCAG 2.2 AA accessibility standards, except where compliance is achieved through correct usage and configuration.</p>
