---
title: Main navigation
tabs: true
directory: main-nav
intro: Orientates a user and helps them move through the site. 
figma: https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=21298%3A24850
react: https://digitalnsw.github.io/nsw-design-system-react/?path=/docs/navigation-mainnav--main-nav-mega
model:
  basic: json/main-nav.json
  mega: json/main-nav-mega.json
---

<div class="nsw-in-page-alert nsw-in-page-alert--info">
   <div class="nsw-in-page-alert__content">
    <p>The main navigation component is best viewed in new window.</p>
  </div>
</div>

<h3>Default</h3>
{{#> _docs-iframe }}
{{>_masthead content="#" nav="#main-nav"}}
{{>_header header-title="Premier & Cabinet"}}
{{>_main-nav model.basic}}
{{/_docs-iframe}}

<h3>Mega Nav</h3>
{{#> _docs-iframe }}
{{>_masthead content="#" nav="#main-nav"}}
{{>_header header-title="Premier & Cabinet"}}
{{>_main-nav model.mega}}
{{/_docs-iframe}}
