<!doctype html>
<html lang="en" class="no-js">
<head>
  <title>NSW Digital Design System - Link list</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://digitalnsw.github.io/nsw-design-system/nsw-og-image.jpg">
  <meta name="robots" content="noindex" />
  <link rel="icon" href="/nsw-design-system/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone" rel="stylesheet">
  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
  <!-- Hotjar Tracking Code for NSW Design System -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:5063548,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TMEHXHFJXJ"></script>
<script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-TMEHXHFJXJ');</script>
</head>

<body>

<header class="nsw-header">
  <div class="nsw-header__container">
    <div class="nsw-header__inner">
      <div class="nsw-header__main">
        <div class="nsw-header__waratah">
          <br>
          <br>
          <br>
        </div>
      </div>
      <div class="nsw-color-swatches js-color-swatches">
        <legend class="nsw-color-swatches__legend" aria-live="polite" aria-atomic="true"><span class="nsw-color-swatches__color js-color-swatches__color">Blue 01</span></legend>
        <select class="js-color-swatches__select" aria-label="Select a color"></select>
      </div>
    </div>
  </div>
</header>


<section class="nsw-section">
  <div class="nsw-container nsw-p-y-sm">
    <div class="nsw-layout">
      <main class="nsw-layout__main">
        <div class="nsw-link-list">
          <ul>
            <li>
              <a href="#">
                <span>First home buyer grant and assistance</span>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>Buying and selling property</span>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>Building or renovating a home</span>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>Aged care housing, home living assistance and retirement villages</span>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </a>
            </li>
          </ul>
        </div>      </main>
      <div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
    </div>
  </div>
</section>

<section class="nsw-section nsw-section--brand-dark nsw-section--invert">
  <div class="nsw-container nsw-p-y-sm">
    <div class="nsw-layout">
      <main class="nsw-layout__main">
        <div class="nsw-link-list">
          <ul>
            <li>
              <a href="#">
                <span>First home buyer grant and assistance</span>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>Buying and selling property</span>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>Building or renovating a home</span>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>Aged care housing, home living assistance and retirement villages</span>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </a>
            </li>
          </ul>
        </div>      </main>
      <div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
    </div>
  </div>
</section>
<script src="/nsw-design-system/docs/js/docs.js"></script>

  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
