---
title: Card carousel
layout: blank-layout.hbs
---

<h2>Usage</h2>

<p>The card carousel component displays four or more related cards within a limited space, allowing users to scroll through them via arrows, navigation buttons, or swiping gestures on a touchscreen.</p>

<p>Use a card carousel component:</p>

<ul>
  <li>when you have limited screen space but need to display multiple cards with related content.</li>
  <li>with a clear and relevant title, to help users understand the content or purpose better.</li>
  <li>to display feature articles, blog posts, news updates or any sequential content, allowing users to browse through the latest updates easily.</li>
  <li>to guide users through a step-by-step process or tutorial by displaying three cards at a time.</li>
  <li>to display multiple categories or options, making it easier for users to navigate through different sections without cluttering the screen.</li>
</ul>

<h3>When to avoid</h3>

<p>It's essential to implement card carousels thoughtfully to ensure they genuinely enhance user experience.</p>

<p>Do not:</p>

<ul>
  <li>use multiple card carousels on one page. Use carousels sparingly and strategically. Overuse can lead to banner blindness or user frustration.</li>
  <li>use for unrelated items. The content in the carousel should be related in some way. This helps users to find related and relevant content.</li>
  <li>mix different types of cards. Consistency helps users anticipate the content and interactions.</li>
  <li>overwhelm users with too many cards in the carousel. Ideally, limit the number of cards to no more than 9 to prevent information overload.</li>
  <li>use if your cards contain important information, as some users might miss it if they don’t interact with the carousel.</li>
</ul>

<p>Ensure that the content displayed in the carousel is relevant, engaging, and adds value to the user experience.</p>

<h3>When to avoid</h3>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>

<h3>Markup</h3>

<ul>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<h3>Keyboard Interactions and focus</h3>

<ul>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<h3>ARIA attributes</h3>
<ul>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>