---
title: Card carousel
width: wide
tabs: true
directory: card-carousel
intro: A card carousel displays multiple related cards horizontally, allowing users to swipe or navigate through the content.
model:
  carousel-five: ../../components/card-carousel/json/carousel-five.json
  carousel-nine: ../../components/card-carousel/json/carousel-nine.json
meta-description: 
meta-index: true
---

<div class="nsw-in-page-alert nsw-in-page-alert--info">
   <div class="nsw-in-page-alert__content">
    <p>The main navigation component is best viewed in new window.</p>
  </div>
</div>

{{#>_docs-example showcode=true separated=true}}
<div style="width: 1035px;">
  {{>_carousel model.carousel-five default=true loop=true}}
</div>
{{/_docs-example}}

{{#>_docs-code}}  
{{>_carousel model.carousel-five default=true loop=true}}
{{/_docs-code}}

<h3>Pagination</h3>

{{#>_docs-example showcode=true separated=true}}
<div style="width: 1035px;">
  {{>_carousel model.carousel-nine default=true pagination=true}}
</div>
{{/_docs-example}}

{{#>_docs-code}}  
{{>_carousel model.carousel-nine default=true pagination=true}}
{{/_docs-code}}