---
title: Card carousel
width: wide
tabs: true
directory: card-carousel
intro: 
model:
  carousel: ../../components/carousel/json/carousel.json
meta-description: 
meta-index: true
---

{{#>_docs-example showcode=true separated=true}}
<div style="width: 1035px;">
  {{>_carousel model.carousel default=true}}
</div>
{{/_docs-example}}

{{#>_docs-code}}  
{{>_carousel model.carousel default=true}}
{{/_docs-code}}

<h3>Loop Off</h3>

{{#>_docs-example showcode=true separated=true}}
<div style="width: 1035px;">
  {{>_carousel model.carousel default=true loop=true}}
</div>
{{/_docs-example}}

{{#>_docs-code}}  
{{>_carousel model.carousel default=true loop=true}}
{{/_docs-code}}

<h3>Counter</h3>

{{#>_docs-example showcode=true separated=true}}
<div style="width: 1035px;">
  {{>_carousel model.carousel default=true counter=true}}
</div>
{{/_docs-example}}

{{#>_docs-code}}  
{{>_carousel model.carousel default=true counter=true}}
{{/_docs-code}}

<h3>Pagination</h3>

{{#>_docs-example showcode=true separated=true}}
<div style="width: 1035px;">
  {{>_carousel model.carousel default=true pagination=true}}
</div>
{{/_docs-example}}

{{#>_docs-code}}  
{{>_carousel model.carousel default=true pagination=true}}
{{/_docs-code}}

<h3>V2</h3>

{{#>_docs-example showcode=true separated=true}}
<div style="width: 1035px;">
  {{>_carousel model.carousel v2=true}}
</div>
{{/_docs-example}}

{{#>_docs-code}}  
{{>_carousel model.carousel v2=true}}
{{/_docs-code}}

<h3>V3</h3>

{{#>_docs-example showcode=true separated=true}}
<div style="width: 1035px;">
  {{>_carousel model.carousel v3=true}}
</div>
{{/_docs-example}}

{{#>_docs-code}}  
{{>_carousel model.carousel v3=true}}
{{/_docs-code}}