<div class="nsw-docs__theme-ui nsw-section nsw-section--box">
  <div class="nsw-docs__color_row">
    <div class="nsw-form">
      <div class="nsw-form__group">
        <fieldset class="nsw-form__fieldset nsw-docs__color-row">
          <legend>
            <span class="nsw-form__legend">Brand:</span>
          </legend>
            <input class="nsw-form__radio-input" type="radio" name="form-radio" id="form-radio-1-a" checked>
            <label class="nsw-form__radio-label nsw-docs__color-swatch green" for="form-radio-1-a"></label>
            <input class="nsw-form__radio-input" type="radio" name="form-radio" id="form-radio-1-b">
            <label class="nsw-form__radio-label nsw-docs__color-swatch" for="form-radio-1-b"></label>
        </fieldset>
      </div>
    </div>
  </div>
  <p>Accent: #FFFFFF</p>
  <p>Supplementary: #FFFFFF</p>
</div>
