<div class="nsw-docs-code">
{{#unless open}}
	<button class="nsw-docs-code__button">
		<span>Show code</span>
		<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
	</button>
{{/unless}}
	<div class="nsw-docs-code__content{{#if open}} is-open{{/if}}">
		<button class="nsw-docs-code__copy">
			<span>Copy</span>
			<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">content_copy</i>
		</button>
		<div class="nsw-docs-code__wrapper">
<pre><code class="html"><script>
	  function escapeHtml(unsafe) {
	    return unsafe
	     .replace(/&/g, "&amp;")
	     .replace(/</g, "&lt;")
	     .replace(/>/g, "&gt;")
	     .replace(/"/g, "&quot;")
	     .replace(/'/g, "&#039;");
	  }
	  document.write(escapeHtml(`{{> @partial-block }}`));
</script></code></pre>
		</div>
	</div>
	{{#if blank}}
	<a target="_blank" href="blank.html" class="nsw-docs__external">
		<span>View in new window</span>
		<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">launch</i>
	</a>
	{{/if}}
</div>