<div class="nsw-docs__example{{#if dark}} nsw-docs__example--dark{{/if}}{{#if hidden}} nsw-docs__example--hidden{{/if}}{{#if simple}} nsw-docs__example--simple{{/if}}{{#if separated}} nsw-m-top-md{{/if}}">
  <div class="nsw-docs__component">
    {{> @partial-block }}
  </div>
</div>
{{#> _docs-code }}{{> @partial-block }}{{/ _docs-code }}
