<div class="nsw-docs__intro{{#if tabs}} nsw-docs__intro--tabs{{/if}}">
  <div class="nsw-docs__container">
    <h1>{{title}}</h1>
    {{#if intro}}<p class="nsw-intro">{{intro}}</p>{{/if}}
    {{#unless tabs}}{{#unless no-blank}}
    <div class="nsw-docs__external-link">
      <a target="_blank" href="blank.html" class="nsw-docs__external">
        <span>View in new window</span>
        <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">launch</i>
      </a>
    </div>
    {{/unless}}{{/unless}}
    {{#if figma}}
    <p>
      <a class="nsw-link nsw-link--icon" target="_blank" href="{{figma}}">
        <svg width="20" height="20" viewBox="0 0 33 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.003 48c4.416 0 8-3.584 8-8v-8h-8c-4.416 0-8 3.584-8 8s3.584 8 8 8z" fill="#0ACF83"></path><path d="M.003 24c0-4.416 3.584-8 8-8h8v16h-8c-4.416 0-8-3.584-8-8z" fill="#A259FF"></path><path d="M.003 8c0-4.416 3.584-8 8-8h8v16h-8c-4.416 0-8-3.584-8-8z" fill="#F24E1E"></path><path d="M16.003 0h8c4.416 0 8 3.584 8 8s-3.584 8-8 8h-8V0z" fill="#FF7262"></path><path d="M32.003 24c0 4.416-3.584 8-8 8s-8-3.584-8-8 3.584-8 8-8 8 3.584 8 8z" fill="#1ABCFE"></path></svg>
        <span>Figma</span>
      </a>
      {{#if react}}
      <a class="nsw-link nsw-link--icon nsw-m-left-sm" target="_blank" href="{{react}}">
        <svg width="20" height="20" viewBox="0 0 48 43" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M48 21.378c0-3.18-3.982-6.193-10.087-8.062 1.409-6.223.783-11.173-1.977-12.758C35.3.186 34.556.01 33.745.01v2.182c.45 0 .812.088 1.115.254 1.33.763 1.908 3.669 1.458 7.406a30.13 30.13 0 01-.499 2.877 47.419 47.419 0 00-6.213-1.066 47.722 47.722 0 00-4.07-4.893c3.19-2.964 6.183-4.588 8.219-4.588V0c-2.691 0-6.213 1.918-9.775 5.244C20.42 1.937 16.897.04 14.206.04v2.182c2.026 0 5.03 1.614 8.219 4.56a46.205 46.205 0 00-4.041 4.881 45.692 45.692 0 00-6.223 1.077 29.52 29.52 0 01-.508-2.838c-.46-3.737.107-6.643 1.428-7.416.294-.176.675-.254 1.125-.254V.049c-.822 0-1.565.176-2.21.548-2.75 1.585-3.367 6.526-1.948 12.729C3.962 15.204 0 18.208 0 21.378c0 3.18 3.982 6.193 10.087 8.062-1.409 6.223-.782 11.173 1.977 12.758.636.372 1.38.548 2.201.548 2.69 0 6.213-1.918 9.774-5.244 3.561 3.307 7.084 5.205 9.774 5.205.822 0 1.566-.176 2.212-.548 2.749-1.585 3.365-6.526 1.947-12.729C44.038 27.561 48 24.548 48 21.378zm-12.739-6.526a44.092 44.092 0 01-1.32 3.865 46.386 46.386 0 00-1.282-2.348 53.01 53.01 0 00-1.41-2.29c1.39.205 2.73.46 4.012.773zm-4.48 10.42a52.141 52.141 0 01-2.359 3.737 50.903 50.903 0 01-8.825.01 53.993 53.993 0 01-2.367-3.718 50.933 50.933 0 01-2.036-3.894 51.007 51.007 0 012.026-3.904 52.119 52.119 0 012.358-3.737 50.903 50.903 0 018.825-.01 53.993 53.993 0 012.367 3.718 50.933 50.933 0 012.036 3.894 54.731 54.731 0 01-2.026 3.904zM33.94 24a41.94 41.94 0 011.35 3.894 43.886 43.886 0 01-4.031.783c.48-.754.958-1.527 1.409-2.32.45-.782.87-1.574 1.272-2.357zM24.02 34.44c-.91-.94-1.82-1.987-2.72-3.131.88.039 1.78.068 2.69.068.92 0 1.83-.02 2.72-.068a38.214 38.214 0 01-2.69 3.13zm-7.28-5.763c-1.389-.206-2.73-.46-4.011-.773a44.092 44.092 0 011.32-3.865c.402.783.823 1.566 1.282 2.348.46.783.93 1.546 1.41 2.29zm7.23-20.36c.91.939 1.82 1.986 2.72 3.13-.88-.039-1.78-.068-2.69-.068-.92 0-1.83.02-2.72.068a38.166 38.166 0 012.69-3.13zm-7.24 5.762a54.064 54.064 0 00-2.68 4.667 41.909 41.909 0 01-1.35-3.894 47.483 47.483 0 014.03-.773zM7.877 26.33c-3.463-1.478-5.704-3.415-5.704-4.951 0-1.536 2.24-3.483 5.704-4.95a30.151 30.151 0 012.71-.989 47 47 0 002.202 5.959 46.33 46.33 0 00-2.172 5.928 29.721 29.721 0 01-2.74-.997zm5.264 13.98c-1.33-.762-1.908-3.668-1.458-7.406.108-.92.284-1.888.499-2.876 1.918.47 4.011.831 6.213 1.066a47.725 47.725 0 004.07 4.892c-3.19 2.965-6.183 4.589-8.219 4.589-.44-.01-.812-.098-1.105-.264zm23.207-7.454c.46 3.737-.107 6.643-1.428 7.416-.294.176-.675.254-1.125.254-2.026 0-5.03-1.614-8.219-4.56a46.219 46.219 0 004.041-4.881 45.673 45.673 0 006.223-1.077c.225.988.4 1.938.508 2.848zm3.767-6.526a30.15 30.15 0 01-2.71.988 46.996 46.996 0 00-2.201-5.959 46.33 46.33 0 002.172-5.929c.968.304 1.888.636 2.749.998 3.463 1.478 5.704 3.415 5.704 4.95-.01 1.537-2.25 3.484-5.714 4.952z" fill="#61DAFB"/><path d="M23.99 25.85a4.471 4.471 0 100-8.943 4.471 4.471 0 000 8.942z" fill="#61DAFB"/></svg>
        <span>React</span>
      </a>
      {{/if}}
    </p>
    {{/if}}
  </div>
</div>
