<div class="nsw-docs__example">
  <iframe class="nsw-docs__iframe" title="Component Demo" frameborder='0'
          scrolling='no' srcdoc='<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Component Demo</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/docs/css/docs.css">
</head>
  <body>
{{> @partial-block }}
<script src="/js/main.js"></script>
<script>window.NSW.initSite();</script>
</body></html>'></iframe>
</div>
{{#> _docs-code }}
  {{> @partial-block }}
{{/ _docs-code }}
