<div class="nsw-docs__example{{#if light}} nsw-docs__example--light{{/if}}{{#if dark}} nsw-docs__example--dark{{/if}}{{#if invert}} nsw-section--invert{{/if}}{{#if hidden}} nsw-docs__example--hidden{{/if}}{{#if simple}} nsw-docs__example--simple{{/if}}{{#if separated}} nsw-m-top-md{{/if}}"{{#if disable-links}} data-disable-links{{/if}}>
  <div class="nsw-docs__component">
{{#unless hidden}}
    {{> @partial-block }}
{{/unless }}
  </div>
</div>
{{#unless showcode}}
{{#> _docs-code }}{{> @partial-block }}{{/ _docs-code }}
{{/unless }}
