<div class="nsw-container nsw-p-y-sm{{#if-equals width "menu"}} nsw-docs__main--menu{{/if-equals}}">
  <div class="nsw-page-layout">
    <main class="nsw-page-layout__main">
  		{{> @partial-block }}
  	</main>
  	{{#if-equals width "narrow"}}<div class="nsw-page-layout__sidebar nsw-page-layout__sidebar--desktop"></div>{{/if-equals}}
  </div>
</div>
