<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Callout</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="../../favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../css/docs.css">
</head>

<body class="nsw-body-content">
<div class="nsw-container nsw-p-y-sm">
  <div class="nsw-page-layout">
    <main class="nsw-page-layout__main">
  		<div class="nsw-callout">
  		  <div class="nsw-callout__content">
  		    <h4 class="nsw-callout__title">The Digital Driver&#x27;s License trial</h4>
  		    <p>Once we launch statewide, the <a href='#'>Digital Drivers License</a> will become legal for use across NSW</p>
  		  </div>
  		</div>
  		
  		<div class="nsw-callout">
  		  <i class="material-icons nsw-material-icons nsw-callout__icon" focusable="false" aria-hidden="true">info</i>
  		  <div class="nsw-callout__content">
  		    <h4 class="nsw-callout__title">The Digital Driver&#x27;s License trial</h4>
  		    <p>Once we launch statewide, the Digital Drivers License will become legal for use across NSW</p>
  		    <a href="#" class="nsw-text-link">Conditions for using the Digital Drivers License</a>
  		  </div>
  		</div>
  	</main>
  	<div class="nsw-page-layout__sidebar nsw-page-layout__sidebar--desktop"></div>
  </div>
</div>

  <script src="../../js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
