<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Callout</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="/nsw-design-system/">
  <link rel="icon" href="/nsw-design-system/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-TMEHXHFJXJ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TMEHXHFJXJ');
  </script>
</head>

<body>
<div class="nsw-container nsw-p-y-sm">
  <div class="nsw-layout">
    <main class="nsw-layout__main">
  		<div class="nsw-callout">
  		  <div class="nsw-callout__content">
  		    <h4>The Digital Driver&#x27;s License trial</h4>
  		    <p>Once we launch statewide, the <a href='#'>Digital Drivers License</a> will become legal for use across NSW</p>
  		  </div>
  		</div>
  	</main>
  	<div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
  </div>
</div>

  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
