@use '../../global/scss/base/functions' as functions;
@use '../../global/scss/base/mixins' as mixins;

.nsw-easy-read {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: functions.rem(8px) 0;

  @include mixins.breakpoint('sm') {
    flex-direction: row;
    align-items: center;
    margin: functions.rem(16px) 0;
  }

  &__image {
    aspect-ratio: 4 / 4;
    width: 100%;
    max-width: functions.rem(240px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--landscape {
      aspect-ratio: 4 / 3;
      max-width: functions.rem(340px);
    }

    @include mixins.breakpoint('sm') {
      margin: unset;
    }
  }
  
  &__title {
    font-weight: var(--nsw-font-bold);
    
    @include mixins.font-size('lg');
  }

  &__content {
    padding: functions.rem(16px);
    
    @include mixins.font-size('md');

    @include mixins.breakpoint('sm') {
      padding: 0 functions.rem(40px);
    }
  }

  &__link {
    margin-top: functions.rem(16px);
  }

  .nsw-section--invert & .nsw-easy-read__link a {   // Styles for instnces where the easy-read component is used within different section types
    @include mixins.link-dark();
  }

  &.nsw-section--brand-dark, // Brand dark background on brand dark sections
  &.nsw-section--invert {
    .nsw-easy-read__link a {
      @include mixins.link-light();
    }

    .nsw-section--brand-dark & {
      border: 2px solid var(--nsw-brand-light);
    }
  }

  &.nsw-section--brand-light { // Brand light background on brand light sections
    .nsw-section--brand-light & {
      border: 2px solid var(--nsw-brand-dark);
    }
  }
}

@container (min-width: 600px) {
  .nsw-easy-read {
    flex-direction: row;
    gap: functions.rem(32px);

    .nsw-easy-read__image {
      max-width: functions.rem(320px);
    }

    .nsw-easy-read__content {
      padding: 0;
    }
  }
}
