---
title: Easy Read content block
width: narrow
page: true
model:
  easy-read-1: ../../components/easy-read/json/easy-read-1.json
  easy-read-2: ../../components/easy-read/json/easy-read-2.json
  easy-read-3: ../../components/easy-read/json/easy-read-3.json
  easy-read-4: ../../components/easy-read/json/easy-read-4.json
  easy-read-5: ../../components/easy-read/json/easy-read-5.json
---

{{#>_layout-container}}
<h1>Easy Read content blocks</h1>
<p>This first block is embedded in a standard page section.</p>
{{>_easy-read-block model.easy-read-1}}

<div class="nsw-easy-read-content">
  <h2>Blocks inside an Easy Read section</h2>
  {{>_easy-read-about}}
  {{>_easy-read-block model.easy-read-2}}
  {{>_easy-read-block model.easy-read-3}}
  {{>_easy-read-block model.easy-read-4}}
  {{>_easy-read-block model.easy-read-5}}
</div>
{{/_layout-container}}
