---
title: Easy Read
width: wide
tabs: true
directory: easy-read
intro: Easy Read is a user-friendly way to share information using a simple layout with text and images.
theme: true
model:
  easy-read-1: ../../components/easy-read/json/easy-read-1.json
  easy-read-2: ../../components/easy-read/json/easy-read-2.json
  easy-read-3: ../../components/easy-read/json/easy-read-3.json
meta-description: Easy Read is a user-friendly way to share information using a simple layout with text and images. Easy read can assist in providing information to people with intellectual disabilities and is also useful for people with English as a second language, older Australians, people with low literacy, and people with learning disabilities. The Easy Read writing style can make complex information easy to understand for all and lead to increased participation.
meta-index: true
---

<h3>Image block</h3>
{{#>_docs-example}}
<div class="nsw-grid nsw-grid--spaced">
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    {{>_easy-read model.easy-read-1}}
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    {{>_easy-read model.easy-read-2}}
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    {{>_easy-read model.easy-read-3}}
  </div>
</div>
{{/_docs-example}}
