---
title: Easy Read
width: narrow
page: true
model:
  easy-read-1: ../../components/easy-read/json/easy-read-1.json
  easy-read-2: ../../components/easy-read/json/easy-read-2.json
  easy-read-3: ../../components/easy-read/json/easy-read-3.json
  easy-read-4: ../../components/easy-read/json/easy-read-4.json
  easy-read-5: ../../components/easy-read/json/easy-read-5.json
---

{{#>_theme}}
{{#>_layout-container}}
<div class="nsw-m-top-md">
{{>_easy-read model.easy-read-1}}
{{>_easy-read model.easy-read-2}}
{{>_easy-read model.easy-read-3}}
{{>_easy-read model.easy-read-4}}
{{>_easy-read model.easy-read-5}}
</div>
{{/_layout-container}}

{{#>_layout-container brand-dark="true"}}
<h2>Brand dark</h2>
<div class="nsw-m-top-md">
  {{>_easy-read model.easy-read-1}}
  {{>_easy-read model.easy-read-2}}
  {{>_easy-read model.easy-read-3}}
  {{>_easy-read model.easy-read-4}}
  {{>_easy-read model.easy-read-5}}
</div>
{{/_layout-container}}

{{#>_layout-container brand-light="true"}}
<h2>Brand light</h2>
<div class="nsw-m-top-md">
{{>_easy-read model.easy-read-1}}
{{>_easy-read model.easy-read-2}}
{{>_easy-read model.easy-read-3}}
{{>_easy-read model.easy-read-4}}
{{>_easy-read model.easy-read-5}}
</div>
{{/_layout-container}}

{{#>_layout-container brand-dark="true" invert="true"}}
<h2>Inverted section</h2>
<div class="nsw-m-top-md">
  {{>_easy-read model.easy-read-1}}
  {{>_easy-read model.easy-read-2}}
  {{>_easy-read model.easy-read-3}}
  {{>_easy-read model.easy-read-4}}
  {{>_easy-read model.easy-read-5}}
</div>
{{/_layout-container}}
{{/_theme}}
