---
title: Easy Read
width: wide
page: true
model:
  easy-read-1: ../../components/easy-read/json/easy-read-1.json
  easy-read-2: ../../components/easy-read/json/easy-read-2.json
  easy-read-3: ../../components/easy-read/json/easy-read-3.json
  easy-read-4: ../../components/easy-read/json/easy-read-4.json
---

{{#>_theme}}
{{#>_layout-container}}
<div class="nsw-grid nsw-grid--spaced">
  {{>_easy-read model.easy-read-1}}
  {{>_easy-read model.easy-read-2}}
  {{>_easy-read model.easy-read-3}}
  {{>_easy-read model.easy-read-4}}
</div>
{{/_layout-container}}

{{#>_layout-container brand-dark="true"}}
<div class="nsw-grid nsw-grid--spaced">
  {{>_easy-read model.easy-read-1}}
  {{>_easy-read model.easy-read-2}}
  {{>_easy-read model.easy-read-3}}
  {{>_easy-read model.easy-read-4}}
</div>
{{/_layout-container}}
{{/_theme}}
