<!doctype html>
<html lang="en" class="no-js">
<head><script async data-category="analytics" src="https://www.googletagmanager.com/gtag/js?id=G-49T9M12F86"></script>
<script data-category="analytics">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-49T9M12F86');
</script>
  <script data-category="analytics">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P2NKBBJZ');</script>
  
  <title>NSW Digital Design System - Popover</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://designsystem.nsw.gov.au/nsw-og-image.jpg">
  <meta name="robots" content="noindex" />
  <link rel="icon" href="https://designsystem.nsw.gov.au/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="https://designsystem.nsw.gov.au/docs/css/docs.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css">
  <!-- Hotjar Tracking Code for NSW Design System -->
  <script data-category="analytics">
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
      h._hjSettings = { hjid: 5063548, hjsv: 6 };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script'); r.async = 1; 
      r.setAttribute('data-category', 'analytics');
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>
  <script src="https://designsystem.nsw.gov.au/cookie-consent-config.js"></script>
</head>

<body><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2NKBBJZ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    


<section class="nsw-section">
  <div class="nsw-container nsw-p-y-sm">
    <div class="nsw-layout">
      <main class="nsw-layout__main">
        <h3>Top</h3>
        
        <div class="nsw-list nsw-list--8 nsw-m-top-xs">
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-top" data-popover-position="top" data-popover-gap="10"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Top</span></button>
        
        <div id="popover-top" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-top-start" data-popover-position="top-start" data-popover-gap="10"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Top Start</span></button>
        
        <div id="popover-top-start" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-top-end" data-popover-position="top-end" data-popover-gap="10"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Top End</span></button>
        
        <div id="popover-top-end" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        </div>
        
        <h3>Right</h3>
        
        <div class="nsw-list nsw-list--8 nsw-m-top-xs">
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-right" data-popover-position="right" data-popover-gap="10"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Right</span></button>
        
        <div id="popover-right" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-right-start" data-popover-position="right-start" data-popover-gap="10"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Right Start</span></button>
        
        <div id="popover-right-start" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-right-end" data-popover-position="right-end" data-popover-gap="10"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Right End</span></button>
        
        <div id="popover-right-end" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        </div>
        
        <h3>Bottom</h3>
        
        <div class="nsw-list nsw-list--8 nsw-m-top-xs">
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-bottom" data-popover-position="bottom" data-popover-gap="10"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Bottom</span></button>
        
        <div id="popover-bottom" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-bottom-start" data-popover-position="bottom-start" data-popover-gap="10"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Bottom Start</span></button>
        
        <div id="popover-bottom-start" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-bottom-end" data-popover-position="bottom-end" data-popover-gap="10"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Bottom End</span></button>
        
        <div id="popover-bottom-end" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        </div>
        
        <h3>Left</h3>
        
        <div class="nsw-list nsw-list--8 nsw-m-top-xs">
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-left" data-popover-position="left" data-popover-gap="10"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Left</span></button>
        
        <div id="popover-left" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-left-start" data-popover-position="left-start" data-popover-gap="10"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Left Start</span></button>
        
        <div id="popover-left-start" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-left-end" data-popover-position="left-end" data-popover-gap="10"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Left End</span></button>
        
        <div id="popover-left-end" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        </div>
        
        <h3>Offset</h3>
        
        <div class="nsw-list nsw-list--8 nsw-m-top-xs">
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-20" data-popover-position="top" data-popover-gap="20"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Top</span></button>
        
        <div id="popover-20" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-30" data-popover-position="top" data-popover-gap="30"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Top</span></button>
        
        <div id="popover-30" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-40" data-popover-position="top" data-popover-gap="40"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Top</span></button>
        
        <div id="popover-40" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-50" data-popover-position="top" data-popover-gap="50"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Top</span></button>
        
        <div id="popover-50" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        </div>
      </main>
      <div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
    </div>
  </div>
</section>

<section class="nsw-section nsw-section--brand-dark nsw-section--invert">
  <div class="nsw-container nsw-p-y-sm">
    <div class="nsw-layout">
      <main class="nsw-layout__main">
        <h3>Top</h3>
        
        <div class="nsw-list nsw-list--8 nsw-m-top-xs">
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-top" data-popover-position="top" data-popover-gap="10"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Top</span></button>
        
        <div id="popover-top" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-top-start" data-popover-position="top-start" data-popover-gap="10"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Top Start</span></button>
        
        <div id="popover-top-start" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-top-end" data-popover-position="top-end" data-popover-gap="10"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Top End</span></button>
        
        <div id="popover-top-end" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        </div>
        
        <h3>Right</h3>
        
        <div class="nsw-list nsw-list--8 nsw-m-top-xs">
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-right" data-popover-position="right" data-popover-gap="10"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Right</span></button>
        
        <div id="popover-right" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-right-start" data-popover-position="right-start" data-popover-gap="10"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Right Start</span></button>
        
        <div id="popover-right-start" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-right-end" data-popover-position="right-end" data-popover-gap="10"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Right End</span></button>
        
        <div id="popover-right-end" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        </div>
        
        <h3>Bottom</h3>
        
        <div class="nsw-list nsw-list--8 nsw-m-top-xs">
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-bottom" data-popover-position="bottom" data-popover-gap="10"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Bottom</span></button>
        
        <div id="popover-bottom" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-bottom-start" data-popover-position="bottom-start" data-popover-gap="10"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Bottom Start</span></button>
        
        <div id="popover-bottom-start" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-bottom-end" data-popover-position="bottom-end" data-popover-gap="10"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Bottom End</span></button>
        
        <div id="popover-bottom-end" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        </div>
        
        <h3>Left</h3>
        
        <div class="nsw-list nsw-list--8 nsw-m-top-xs">
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-left" data-popover-position="left" data-popover-gap="10"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Left</span></button>
        
        <div id="popover-left" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-left-start" data-popover-position="left-start" data-popover-gap="10"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Left Start</span></button>
        
        <div id="popover-left-start" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-left-end" data-popover-position="left-end" data-popover-gap="10"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Left End</span></button>
        
        <div id="popover-left-end" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        </div>
        
        <h3>Offset</h3>
        
        <div class="nsw-list nsw-list--8 nsw-m-top-xs">
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-20" data-popover-position="top" data-popover-gap="20"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Top</span></button>
        
        <div id="popover-20" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-30" data-popover-position="top" data-popover-gap="30"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Top</span></button>
        
        <div id="popover-30" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-40" data-popover-position="top" data-popover-gap="40"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Top</span></button>
        
        <div id="popover-40" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        <button type="button" class="nsw-button nsw-button--dark-outline js-popover" aria-controls="popover-50" data-popover-position="top" data-popover-gap="50"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</span><span>Open Top</span></button>
        
        <div id="popover-50" class="nsw-popover">
          <div class="nsw-p-sm">
            <h4>Family rebate</h4>
            <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
            <p><a class="js-link" href="https://digital.nsw.gov.au">
          <span>Get started</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>
        </a>
        </p>
          </div>
        </div>
        
        </div>
      </main>
      <div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
    </div>
  </div>
</section>
  <script src="https://designsystem.nsw.gov.au/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
