---
title: Progress Indicator
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Use a progress indicator to let a user know how far along they are in the current process. Using a progress indicator helps manage a user's expectation of the time and effort involved to complete a task and show a sense of progression.</p>
<p>Do:</p>
<ul>
  <li>test your content without a progress indicator to see if it is required by the user</li>
  <li>add where there is an evidence based user need to do so</li>
</ul>

<h3>When to avoid</h3>
<p>Do not use a progress indicator:</p>
<ul>
  <li>when there are 2 or less steps in a process</li>
  <li>as navigation between steps</li>
  <li>when the exact number of steps may change</li>
</ul>

<h2>How this component works</h2>
<p>As a user progresses through the steps of a process, the <strong>Step</strong> position is updated and the progress bar highlights the correlating sections to reflect the steps completed. The <strong>Step _ of _</strong> text can be use on it own (without the progress bar) when this alone communicates enough information to the user. </p>

<h2>Accessibility</h2>
<p>All components are responsive and designed to comply with WCAG 2.2 AA accessibility standards, except where compliance is achieved through correct usage and configuration.</p>
