<div class="nsw-progress-indicator">
  <div class="nsw-progress-indicator__count">Step {{active}} of {{steps.length}}</div>
  <div class="nsw-progress-indicator__bar">
    {{#each steps}}
    <div{{#if this}} class="active"{{/if}}></div>
    {{/each}}
  </div>
</div>
