.nsw-progress-indicator {
  @include component-spacing();

  &__count {
    @include font-size('xs');
  }

  &__bar {
    display: flex;
    margin-top: rem(10px);
  }

  &__step {
    border-top: 5px solid $light20;
    width: 100%;

    &--active {
      border-top: 5px solid $nsw-primary-highlight;
    }

    &:not(:first-child) {
      margin-left: rem(5px);
    }
  }

  &__label {
    @include font-size('lg');
    @include font-stack('heading');
    margin-top: rem(25px);
  }
}
