@use '../../global/scss/tools' as nsw;

.nsw-progress-indicator {
  @include nsw.component-spacing();

  &__count {
    @include nsw.font-size('sm');
  }

  &__bar {
    display: flex;
    padding-block-start: nsw.rem(8px);

    div {
      block-size: nsw.rem(4px);
      inline-size: 100%;
      background-color: var(--nsw-grey-04);

      &:not(:first-child) {
        margin-inline-start: nsw.rem(4px);
      }

      &.active {
        background-color: var(--nsw-brand-accent);
      }
    }
  }
}
