<div class="nsw-progress-indicator-page js-progress-indicator-page">
  {{#if (eq type 'circle')}}
    <svg class="nsw-progress-indicator-page__circle" width="48" height="48"  viewBox="0 0 48 48">
      <circle class="nsw-progress-indicator-page__circle-background" cx="24" cy="24" r="16" />
      <circle class="nsw-progress-indicator-page__circle-progress" cx="24" cy="24" r="16" pathLength="100" stroke-dasharray="100" />
    </svg>
  {{/if}}
  {{#if (eq type 'bar')}}
    <div class="nsw-progress-indicator-page__bar"/>
  {{/if}}
</div>
