---
title: Progress Indicator
width: narrow
tabs: true
directory: progress-indicator
intro: Progress indicators show a user how far along they are in a process. 
figma: https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=21298%3A25051
react: https://digitalnsw.github.io/nsw-design-system-react/?path=/docs/transaction-progress-indicator--progress-indicator 
model: ../../components/progress-indicator/json/progress-indicator.json
meta-description: Progress indicators show a user how far along they are in a process.
meta-index: true
---

<h3>Static Step Indicator</h3>
{{#>_docs-example}}{{>_progress-indicator model}}{{/_docs-example}}

<h3>Page Scroll Indicator - Circle</h3>
{{#>_docs-example}}{{>_progress-indicator-page model type='circle'}}{{/_docs-example}}

<h3>Page Scroll Indicator - Bar</h3>
{{#>_docs-example}}{{>_progress-indicator-page model type='bar'}}{{/_docs-example}}
