---
title: Progress Indicator
model: ../../components/progress-indicator/json/progress-indicator.json
---

<main>
  <div class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-lg-8 nsw-offset-lg-1">
              {{>_progress-indicator model}}
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
