---
title: Steps
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Use steps to draw a connection for the user between linear pieces of information.</p>
<p>Examples include:</p>
<ul>
  <li>Steps or stages of a process</li>
  <li>Sequential dates or outcomes</li>
</ul>

<h2>Step types</h2>
<p>Steps use colours from your brand palette, displayed as outlined or filled. Counters can also be added where they correspond to the content. Colour selection should take into considertation the contrast with the content background.</p>
<p>Based on your heading class, small and medium sized steps are available to ensure the component remains visually balance. </p>

<h2>When to avoid</h2>
<p>Do not use when content doesn't come together in sequential or linear order, consider bullets points instead.</p>

<h2>Accessibility</h2>
<p>All components are responsive and designed to comply with WCAG 2.2 AA accessibility standards, except where compliance is achieved through correct usage and configuration.</p>
