@use '../../global/scss/base/functions' as functions;
@use '../../global/scss/base/mixins' as mixins;

.nsw-steps {
  counter-reset: step;

  @include mixins.component-spacing();

  &__item {
    position: relative;

    &:last-child {
      .nsw-steps__content {
        padding-bottom: 0;

        &::before {
          bottom: 0;
        }
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: functions.rem(1px);
      left: 0;
      width: functions.rem(32px);
      height: functions.rem(32px);
      border: functions.rem(4px) solid var(--nsw-brand-accent);
      border-radius: 100%;

      @include mixins.breakpoint('lg') { 
        width: functions.rem(48px);
        height: functions.rem(48px);
        top: functions.rem(-4px);
      }
    }

    &::after {
      counter-increment: step;
      content: counter(step);
      position: absolute;
      top: functions.rem(1px);
      left: 0;
      width: functions.rem(32px);
      height: functions.rem(32px);
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--nsw-brand-accent);
      font-weight: var(--nsw-font-bold);
      visibility: hidden;
      
      @include mixins.font-size('md');

      @include mixins.breakpoint('lg') { 
        width: functions.rem(48px);
        height: functions.rem(48px);
        top: functions.rem(-4px);
      }    
    }

    &--fill {
      &::before {
        background-color: var(--nsw-brand-accent);
      }
      
      &::after {
        color: var(--nsw-text-light);
      }

      .nsw-steps--dark & {
        &::before {
          background-color: var(--nsw-brand-dark);
        }   
      }

      .nsw-steps--light & {
        &::before {
          background-color: var(--nsw-brand-light);
        }
      }

      .nsw-steps--supplementary & {
        &::before {
          background-color: var(--nsw-brand-supplementary);
        }
      }
    }
  }

  &__content {
    position: relative;
    padding: 0 0 functions.rem(24px) functions.rem(48px);

    @include mixins.breakpoint('lg') { 
      padding: 0 0 functions.rem(32px) functions.rem(72px);
    }

    &::before {
      content: '';
      position: absolute;
      top: functions.rem(33px);
      bottom: functions.rem(-1px);
      left: functions.rem(14px);
      width: functions.rem(4px);
      background-color: var(--nsw-brand-accent);

      @include mixins.breakpoint('lg') { 
        top: functions.rem(44px);
        left: functions.rem(22px);
        bottom: functions.rem(4px);
      }
    }
  }

  &--dark {
    .nsw-steps__item {
      &::before {
        border-color: var(--nsw-brand-dark);
      }

      &::after {
        color: var(--nsw-brand-dark);
      }

      &--fill {
        &::after {
          color: var(--nsw-text-light);
        }
      }
    }

    .nsw-steps__content {
      &::before {
        background-color: var(--nsw-brand-dark);
      }
    }
  }

  &--light {
    .nsw-steps__item {
      &::before {
        border-color: var(--nsw-brand-light);
      }

      &::after {
        color: var(--nsw-brand-light);
      }

      &--fill {
        &::after {
          color: var(--nsw-text-dark);
        }
      }
    }

    .nsw-steps__content {
      &::before {
        background-color: var(--nsw-brand-light);
      }
    }
  }

  &--supplementary {
    .nsw-steps__item {
      &::before {
        border-color: var(--nsw-brand-supplementary);
      }

      &::after {
        color: var(--nsw-brand-supplementary);
      }

      &--fill {
        &::after {
          color: var(--nsw-text-light);
        }
      }
    }

    .nsw-steps__content {
      &::before {
        background-color: var(--nsw-brand-supplementary);
      }
    }
  }

  &--counters {
    .nsw-steps__item {
      &::after {
        visibility: visible;
      }
    }
  }

  &--fill {
    .nsw-steps__item {
      &::before {
        background-color: var(--nsw-brand-accent);
      }
      
      &::after {
        color: var(--nsw-text-light);
      }
    }

    &.nsw-steps--dark {
      .nsw-steps__item {
        &::before {
          background-color: var(--nsw-brand-dark);
        }
      }      
    }

    &.nsw-steps--light {
      .nsw-steps__item {
        &::before {
          background-color: var(--nsw-brand-light);
        }
      
        &::after {
          color: var(--nsw-text-dark);
        }
      }      
    }

    &.nsw-steps--supplementary {
      .nsw-steps__item {
        &::before {
          background-color: var(--nsw-brand-supplementary);
        }
      }      
    }
  }

  &--medium {
    .nsw-steps__item {
      &::before {
        top: functions.rem(-2px);

        @include mixins.breakpoint('lg') { 
          width: functions.rem(40px);
          height: functions.rem(40px);
          top: functions.rem(-4px);
        }
      }

      &::after {
        top: functions.rem(-2px);

        @include mixins.breakpoint('lg') { 
          font-size: var(--nsw-font-size-md-mobile);
          width: functions.rem(40px);
          height: functions.rem(40px);
          top: functions.rem(-4px);
        }    
      }
    }

    .nsw-steps__content {
      @include mixins.breakpoint('lg') { 
        padding-left: functions.rem(64px);
      }

      &::before {
        top: functions.rem(30px);
        bottom: functions.rem(2px);

        @include mixins.breakpoint('lg') { 
          top: functions.rem(36px);
          bottom: functions.rem(4px);
          left: functions.rem(18px);
        }
      }
    }
  }

  &--small {
    .nsw-steps__item {
      &::before {
        top: functions.rem(-4px);

        @include mixins.breakpoint('lg') { 
          width: functions.rem(32px);
          height: functions.rem(32px);
          top: functions.rem(-2px);
        }
      }

      &::after {
        top: functions.rem(-4px);

        @include mixins.breakpoint('lg') { 
          font-size: var(--nsw-font-size-md-mobile);
          width: functions.rem(32px);
          height: functions.rem(32px);
          top: functions.rem(-2px);
        }    
      }
    }

    .nsw-steps__content {
      @include mixins.breakpoint('lg') { 
        padding-left: functions.rem(56px);
      }

      &::before {
        top: functions.rem(28px);
        bottom: functions.rem(4px);

        @include mixins.breakpoint('lg') { 
          top: functions.rem(30px);
          bottom: functions.rem(2px);
          left: functions.rem(14px);
        }
      }
    }
  }
}
