---
title: Steps
width: narrow
page: true
---
{{#>_layout-container}}
{{>_steps}}
<div class="nsw-docs__section nsw-docs__section--light"> 
{{>_steps theme="dark"}}
</div>
<div class="nsw-docs__section nsw-docs__section--dark nsw-section--invert">
{{>_steps theme="light"}}
</div>
{{>_steps theme="supplementary"}}
{{>_steps fill="true"}}
<div class="nsw-docs__section nsw-docs__section--light"> 
{{>_steps fill="true" theme="dark"}}
</div>
<div class="nsw-docs__section nsw-docs__section--dark nsw-section--invert">
{{>_steps fill="true" theme="light"}}
</div>
{{>_steps fill="true" theme="supplementary"}}
{{>_steps counters="true"}}
<div class="nsw-docs__section nsw-docs__section--light"> 
{{>_steps counters="true" theme="dark"}}
</div>
<div class="nsw-docs__section nsw-docs__section--dark nsw-section--invert">
{{>_steps counters="true" theme="light"}}
</div>
{{>_steps counters="true" theme="supplementary"}}
{{>_steps counters="true" fill="true"}}
<div class="nsw-docs__section nsw-docs__section--light"> 
{{>_steps counters="true" fill="true" theme="dark"}}
</div>
<div class="nsw-docs__section nsw-docs__section--dark nsw-section--invert">
{{>_steps counters="true" fill="true" theme="light"}}
</div>
{{>_steps counters="true" fill="true" theme="supplementary"}}
{{>_steps medium="true"}}
{{>_steps small="true"}}
{{/_layout-container}}
