---
title: Steps
width: narrow
tabs: true
directory: steps
intro: Create a visual journey or link between sections of content.
figma: #
react: #
meta-description: Create a visual journey or link between sections of content.
meta-keywords: Steps, Component, Pattern Library, Design System, NSW, Government, Digital
meta-index: true
---

<h3>Outline</h3>
<div class="nsw-tabs js-tabs">
  <ul class="nsw-tabs__list">
    <li><a href="#outline-brand-accent" class="js-tabs-fixed">Brand Accent</a></li>
    <li><a href="#outline-brand-dark" class="js-tabs-fixed">Brand Dark</a></li>
    <li><a href="#outline-brand-light" class="js-tabs-fixed">Brand Light</a></li>
    <li><a href="#outline-brand-supplementary" class="js-tabs-fixed">Brand Supplementary</a></li>
    <li><a href="#outline-progress" class="js-tabs-fixed">Progress</a></li>
  </ul>
  <section id="outline-brand-accent" class="nsw-tabs__content nsw-tabs__content--side-flush">
{{#>_docs-example}}
{{>_steps}}
{{/_docs-example}}
  </section>
  <section id="outline-brand-dark"  class="nsw-tabs__content nsw-tabs__content--side-flush">
{{#>_docs-example light="true"}}
{{>_steps theme="dark"}}
{{/_docs-example}}
  </section>
  <section id="outline-brand-light"  class="nsw-tabs__content nsw-tabs__content--side-flush">
{{#>_docs-example dark="true" invert="true"}}
{{>_steps theme="light"}}
{{/_docs-example}}
  </section>
  <section id="outline-brand-supplementary"  class="nsw-tabs__content nsw-tabs__content--side-flush">
{{#>_docs-example}}
{{>_steps theme="supplementary"}}
{{/_docs-example}}
  </section>
  <section id="outline-progress" class="nsw-tabs__content nsw-tabs__content--side-flush">
{{#>_docs-example}}
{{>_steps progress="true"}}
{{/_docs-example}}
  </section>
</div>

<h3>Fill</h3>
<div class="nsw-tabs js-tabs">
  <ul class="nsw-tabs__list">
    <li><a href="#fill-brand-accent" class="js-tabs-fixed">Brand Accent</a></li>
    <li><a href="#fill-brand-dark" class="js-tabs-fixed">Brand Dark</a></li>
    <li><a href="#fill-brand-light" class="js-tabs-fixed">Brand Light</a></li>
    <li><a href="#fill-brand-supplementary" class="js-tabs-fixed">Brand Supplementary</a></li>
  </ul>
  <section id="fill-brand-accent" class="nsw-tabs__content nsw-tabs__content--side-flush">
{{#>_docs-example}}
{{>_steps fill="true"}}
{{/_docs-example}}
  </section>
  <section id="fill-brand-dark"  class="nsw-tabs__content nsw-tabs__content--side-flush">
{{#>_docs-example light="true"}}
{{>_steps fill="true" theme="dark"}}
{{/_docs-example}}
  </section>
  <section id="fill-brand-light"  class="nsw-tabs__content nsw-tabs__content--side-flush">
{{#>_docs-example dark="true" invert="true"}}
{{>_steps fill="true" theme="light"}}
{{/_docs-example}}
  </section>
  <section id="fill-brand-supplementary"  class="nsw-tabs__content nsw-tabs__content--side-flush">
{{#>_docs-example}}
{{>_steps fill="true" theme="supplementary"}}
{{/_docs-example}}
  </section>
</div>

<h3>Outline with counters</h3>
<div class="nsw-tabs js-tabs">
  <ul class="nsw-tabs__list">
    <li><a href="#counters-brand-accent" class="js-tabs-fixed">Brand Accent</a></li>
    <li><a href="#counters-brand-dark" class="js-tabs-fixed">Brand Dark</a></li>
    <li><a href="#counters-brand-light" class="js-tabs-fixed">Brand Light</a></li>
    <li><a href="#counters-brand-supplementary" class="js-tabs-fixed">Brand Supplementary</a></li>
    <li><a href="#counters-progress" class="js-tabs-fixed">Progress</a></li>
  </ul>
  <section id="counters-brand-accent" class="nsw-tabs__content nsw-tabs__content--side-flush">
{{#>_docs-example}}
{{>_steps counters="true"}}
{{/_docs-example}}
  </section>
  <section id="counters-brand-dark"  class="nsw-tabs__content nsw-tabs__content--side-flush">
{{#>_docs-example light="true"}}
{{>_steps counters="true" theme="dark"}}
{{/_docs-example}}
  </section>
  <section id="counters-brand-light"  class="nsw-tabs__content nsw-tabs__content--side-flush">
{{#>_docs-example dark="true" invert="true"}}
{{>_steps counters="true" theme="light"}}
{{/_docs-example}}
  </section>
  <section id="counters-brand-supplementary"  class="nsw-tabs__content nsw-tabs__content--side-flush">
{{#>_docs-example}}
{{>_steps counters="true" theme="supplementary"}}
{{/_docs-example}}
  </section>
  <section id="counters-progress" class="nsw-tabs__content nsw-tabs__content--side-flush">
{{#>_docs-example}}
{{>_steps counters="true" progress="true"}}
{{/_docs-example}}
  </section>
</div>

<h3>Fill with counters</h3>
<div class="nsw-tabs js-tabs">
  <ul class="nsw-tabs__list">
    <li><a href="#fill-counters-brand-accent" class="js-tabs-fixed">Brand Accent</a></li>
    <li><a href="#fill-counters-brand-dark" class="js-tabs-fixed">Brand Dark</a></li>
    <li><a href="#fill-counters-brand-light" class="js-tabs-fixed">Brand Light</a></li>
    <li><a href="#fill-counters-brand-supplementary" class="js-tabs-fixed">Brand Supplementary</a></li>
  </ul>
  <section id="fill-counters-brand-accent" class="nsw-tabs__content nsw-tabs__content--side-flush">
{{#>_docs-example}}
{{>_steps fill="true" counters="true"}}
{{/_docs-example}}
  </section>
  <section id="fill-counters-brand-dark"  class="nsw-tabs__content nsw-tabs__content--side-flush">
{{#>_docs-example light="true"}}
{{>_steps fill="true" counters="true" theme="dark"}}
{{/_docs-example}}
  </section>
  <section id="fill-counters-brand-light"  class="nsw-tabs__content nsw-tabs__content--side-flush">
{{#>_docs-example dark="true" invert="true"}}
{{>_steps fill="true" counters="true" theme="light"}}
{{/_docs-example}}
  </section>
  <section id="fill-counters-brand-supplementary"  class="nsw-tabs__content nsw-tabs__content--side-flush">
{{#>_docs-example}}
{{>_steps fill="true" counters="true" theme="supplementary"}}
{{/_docs-example}}
  </section>

<h3>Heading size</h3>
<div class="nsw-tabs js-tabs">
  <ul class="nsw-tabs__list">
    <li><a href="#size-h2" class="js-tabs-fixed">Heading 2</a></li>
    <li><a href="#size-h3" class="js-tabs-fixed">Heading 3</a></li>
    <li><a href="#size-h4" class="js-tabs-fixed">Heading 4</a></li>
  </ul>
  <section id="size-h2" class="nsw-tabs__content nsw-tabs__content--side-flush">
{{#>_docs-example}}
{{>_steps}}
{{/_docs-example}}
  </section>
  <section id="size-h3" class="nsw-tabs__content nsw-tabs__content--side-flush">
{{#>_docs-example}}
{{>_steps medium="true"}}
{{/_docs-example}}
  </section>
  <section id="size-h4" class="nsw-tabs__content nsw-tabs__content--side-flush">
{{#>_docs-example}}
{{>_steps small="true"}}
{{/_docs-example}}
  </section>
</div>