.nsw-feature-tile {
  @include component-spacing();
  @include nsw-spacing(padding, md none);
  border-top: solid 6px $nsw-primary-highlight;
  max-width: 500px;

  &__title {
    @include font-stack('heading');
    @include font-size('xxl');
    @include nsw-spacing(margin, none);
    position: relative;

    .nsw-icon {
      @include nsw-spacing(margin-right, md);
      height: rem(46px);
      width: rem(46px);
      vertical-align: middle;
    }

    .nsw-material-icons {
      position: absolute;
      left: rem(-5px);
      top: rem(-5px);
      font-size: rem(56px);

      + span,
      + a {
        margin-left: 70px;
        line-height: rem(46px);
      }
    }
  }

  &__title-link {
    text-decoration: none;
    color: $dark80;

    &:hover {
      @include nsw-hover;
    }

    &:focus {
      @include nsw-focus;
    }
  }

  &__cards-group {
    @include font-stack;
    @include font-size('sm');
    @include nsw-spacing(margin-top, md);
    @include nsw-spacing(padding, none);
    list-style: none;

    @include breakpoint('md') {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      flex-wrap: nowrap;
    }
  }

  &__card {
    @include nsw-spacing(margin-top, md);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;

    @include breakpoint('md') {
      display: block;
      width: 32%;
      max-width: rem(154px);

      &:nth-child(3n+2) {
        margin-left: 2%;
        margin-right: 2%;
      }
    }
  }

  &__card-img {
    @include nsw-spacing(margin-right, md);
    display: block;
    width: 30%;
    height: auto;
    flex: 0 0 auto;

    @include breakpoint('md') {
      display: block;
      width: 100%;
      height: auto;
      flex: 0 0 auto;
      margin-right: auto;
    }
  }

  &__card-text {
    @include nsw-spacing(margin, none);
    flex: 1 1 auto;
    align-self: center;

    @include breakpoint('md') {
      @include nsw-spacing(padding, xs);
      text-align: center;
      display: block;
    }
  }

  &__links-group {
    @include nsw-spacing(margin-top, md);
    @include font-stack;
    @include font-size('sm');

    @include breakpoint('md') {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      flex-wrap: nowrap;
    }

    ul:not([class]),
    .nsw-feature-tile__double-list {
      @include nsw-spacing(padding, none);
      @include nsw-spacing(margin, none);
      list-style: none;
      flex: 1 0 50%;

      li {
        margin: 0;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $nsw-primary-blue;

    &:hover {
      @include nsw-hover;
      outline: 2px solid $hover-colour;
    }

    &:focus {
      @include nsw-focus($offset: false);
    }

    &:visited {
      color: $link-visited;
    }

    &:active {
      @include nsw-active;
    }
  }

  .new-text {
    color: $nsw-primary-highlight;
    text-decoration: none;
  }

  .link-text {
    text-decoration: underline;
    text-decoration-skip-ink: auto;
  }

  &__cta {
    @include nsw-spacing(margin-top, xl);
    text-decoration: underline;
  }

  &__double-list {
    column-count: 2;
    column-gap: rem(16);
  }
}
