---
title: Feature tile
width: narrow
model:
  all: json/feature-tile.json
  cta: json/feature-tile-cta.json
  links: json/feature-tile-links.json
  five-links: json/feature-tile-five-links.json
---

<h3>Links list (fewer than 6)</h3>
{{#>_docs-example}}{{>_feature-tile model.five-links}}{{/_docs-example}}

<h3>Links list (more than 6)</h3>
{{#>_docs-example}}{{>_feature-tile model.links}}{{/_docs-example}}

<h3>CTA and Images</h3>
{{#>_docs-example}}{{>_feature-tile model.cta}}{{/_docs-example}}

<h3>All options</h3>
{{#>_docs-example}}{{>_feature-tile model.all}}{{/_docs-example}}
