---
title: Feature tile
model:
  all: feature-tile.json
  cta: feature-tile-cta.json
  links: feature-tile-links.json
  five-links: feature-tile-five-links.json
---
<div class="nsw-container nsw-wysiwyg-content">
  <h2>All tile options</h2>
</div>
<br />
<div class="nsw-container">
  {{>_feature-tile model.all}}
</div>

<br />
<div class="nsw-container nsw-wysiwyg-content">
  <h2>CTA and Images</h2>
</div>
<br />
<div class="nsw-container">
  {{>_feature-tile model.cta}}
</div>

<br />
<div class="nsw-container nsw-wysiwyg-content">
  <h2>Single column list of links (less then 6)</h2>
</div>
<br />
<div class="nsw-container">
  {{>_feature-tile model.five-links}}
</div>

<br />
<div class="nsw-container nsw-wysiwyg-content">
  <h2>Two column list of links (6 or more)</h2>
</div>
<br />
<div class="nsw-container">
  {{>_feature-tile model.links}}
</div>

<br />
<div class="nsw-container nsw-wysiwyg-content">
  <h2>Multiple in grid</h2>
</div>
<br />
<div class="nsw-container">
  <div class="nsw-grid">
    <div class="nsw-col nsw-col--half">
      {{>_feature-tile model.cta}}
    </div>
    <div class="nsw-col nsw-col--half">
      {{>_feature-tile model.cta}}
    </div>
  </div>
</div>
