---
title: Feature tile
model:
  all: json/feature-tile.json
  cta: json/feature-tile-cta.json
  links: json/feature-tile-links.json
  five-links: json/feature-tile-five-links.json
component:
  folder: feature-tile
---

<main>
  <div class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-lg-8 nsw-offset-lg-2">
              <h2 class="nsw-section-title">Links list (less than 6)</h2>
              {{>_feature-tile model.five-links}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nsw-section--light-10">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-lg-8 nsw-offset-lg-2">
              <h2 class="nsw-section-title">Links list (more than 6)</h2>
              {{>_feature-tile model.links}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-lg-8 nsw-offset-lg-2">
              <h2 class="nsw-section-title">CTA and Images</h2>
              {{>_feature-tile model.cta}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nsw-section--light-10">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-lg-8 nsw-offset-lg-2">
              <h2 class="nsw-section-title">All options</h2>
              {{>_feature-tile model.all}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
