---
title: Section
layout: blank-layout.hbs
---

<p>A section is a flexible layout component that groups content and components together providing consistent vertical spacing. It also provides a selection of background colour and style options to help you build and design.</p>
<p>Do's:</p>
<ul>
  <li>Use it with or without a container.</li>
  <li>Use it inside the grid.</li>
  <li>Organise a group of components together that provide functionality for the user.</li>
</ul>
<p>Background variants:</p>
<ul>
  <li>Colour</li>
  <li>Image</li>
  <li>Border</li>
</ul>
<p>Vertical spacing variants:</p>
<ul>
  <li>Full</li>
  <li>Half</li>
  <li>None</li>
</ul>
