---
title: Section
layout: blank-layout.hbs
---

<p>A section is a flexible core layout component that groups content and
  components together providing consistent vertical spacing. It also provides a
  selection of background colours and style options to help you build and
  design.</p>
<p>Do's:</p>
<ul>
  <li>Use it with or without a container.</li>
  <li>Use it inside the grid.</li>
  <li>Organise a group of components together that provide a user function</li>
</ul>
