---
title: Section
order: 50
directory: section
---

<p>A section is a flexible layout component that groups content and components together providing consistent vertical spacing. It also provides a selection of background colour and style options to help you build and design.</p>
<p>Do's:</p>
<ul>
  <li>Use it with or without a container.</li>
  <li>Use it inside the grid.</li>
  <li>Organise a group of components together that provide functionality for the user.</li>
</ul>
<h3>Vertical spacing variants</h3>
<ul>
  <li>Full</li>
  <li>Half</li>
  <li>None</li>
</ul><br/>

{{#>_docs-example}}{{>_section}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_section theme="grey-04" style="half-padding" name="Half padding"}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_section theme="grey-01" style="no-padding" name="No padding"}}{{/_docs-example}}

<h3>Background variants</h3>
<ul>
  <li>Image</li>
  <li>Box border</li>
  <li>Colour</li>
</ul>

{{#>_docs-example separated="true"}}{{>_section image="https://picsum.photos/id/199/2000/1250" name="Image"}}{{/_docs-example}}


{{#>_docs-example separated="true"}}{{>_section style="box" name="Box"}}{{/_docs-example}}


{{#>_docs-example separated="true"}}{{>_section theme="brand-dark" name="Brand Dark"}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_section theme="brand-light" name="Brand Light"}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_section theme="brand-supplementary" name="Brand Supplementary"}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_section theme="black" name="Black"}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_section theme="white" name="White"}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_section theme="off-white" name="Off White"}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_section theme="grey-01" name="Grey 01"}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_section theme="grey-02" name="Grey 02"}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_section theme="grey-03" name="Grey 03"}}{{/_docs-example}}
{{#>_docs-example separated="true"}}{{>_section theme="grey-04" name="Grey 04"}}{{/_docs-example}}
