---
title: Section
order: 50
no-blank: true
directory: section
intro: Flexible layout component that groups content and components together providing consistent vertical spacing.
---
<h2>Usage</h2>
<p>A section provides a selection of background colour and style options to help you build and design.</p>
<p>Do's:</p>
<ul>
  <li>Use it with or without a container.</li>
  <li>Use it inside the grid.</li>
  <li>Organise a group of components together that provide functionality for the user.</li>
</ul>
<h3>Vertical spacing</h3>
{{#>_docs-example separated="true"}}
  {{>_section}}
  {{>_section theme="grey-04" style="half-padding" name="Half padding"}}
  {{>_section theme="grey-01" style="no-padding" name="No padding"}}
{{/_docs-example}}

<h3>Image</h3>
{{#>_docs-example separated="true"}}{{>_section image="https://picsum.photos/id/199/2000/1250" name="Image"}}{{/_docs-example}}

<h3>Box</h3>
{{#>_docs-example separated="true"}}{{>_section style="box" name="Box"}}{{/_docs-example}}

<h3>Colour</h3>
{{#>_docs-example separated="true"}}
  {{>_section theme="brand-dark" name="Brand Dark"}}
  {{>_section theme="brand-light" name="Brand Light"}}
  {{>_section theme="brand-supplementary" name="Brand Supplementary"}}
  {{>_section theme="black" name="Black"}}
  {{>_section theme="white" name="White"}}
  {{>_section theme="off-white" name="Off White"}}
  {{>_section theme="grey-01" name="Grey 01"}}
  {{>_section theme="grey-02" name="Grey 02"}}
  {{>_section theme="grey-03" name="Grey 03"}}
  {{>_section theme="grey-04" name="Grey 04"}}
{{/_docs-example}}
