---
title: Header
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>The Header sits under the Masthead on all NSW Government websites, products and services.</p>

<p>There are two versions of the Header:</p>

<h4>Masterbrand</h4>
<p>The Masterbrand Header contains the NSW Government logo and site descriptor (site name), with optional sub-descriptor and search. The sub-descriptor can be used to give greater context to users where needed, for example to identify the Department or Agency to which the site is part of.</p>

<h4>Co-brand</h4>
<p>The Co-brand Header contains the NSW Government logo and Co-branded logo (max 76px in height), with optional search. Depending on your logo’s ratio, the appropriate Co-brand header should be chosen:</p>
<p><strong>Horizontal stacked:</strong> On mobile the NSW Government and Co-brand logo will appear side by side. Consider this option when the Co-branded logo <strong>does not exceed</strong> 130px in width when at 48px in height. If it does, always test to ensure it does not overlap Search and Menu functions on smaller devices.</p>
<p><strong>Vertical stacked:</strong> On mobile the NSW Government will appear on top of the Co-brand logo. Consider this option when the Co-branded logo <strong>does exceed</strong> 130px in width when at 48px in height. </p>

<h3>NSW Government Logo</h3>
<p>The NSW Government logo reinforces the connection to NSW Government and should always appear in the top left to create a consistent experience across digital product or services. It should appear no smaller than 76px and never smaller than the Co-branded logo.</p>

<h3>Search</h3>
<p>The search displays on the right hand side and can be omitted if not required.</p>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>
