---
title: Header
layout: blank-layout.hbs
---

<div class="nsw-in-page-alert nsw-in-page-alert--info">
  <span class="material-symbols-outlined nsw-material-symbols-outlined nsw-in-page-alert__icon"
     focusable="false" aria-hidden="true">info</span>
  <div class="nsw-in-page-alert__content">
    <h4>Brand requirements</h4>
    <p>Elements required for NSW branding include the use and implementation of logos and site descriptors. View the <a href="https://branding.nsw.gov.au" target="_blank">NSW Government Visual identity system</a> for full logo requirements specific to your brand classification.</p>
  </div>
</div>

<h2>Usage</h2>
<p>The header sits under the masthead on all NSW Government websites, products and services.</p>

<p>There are two versions of the header:</p>

<h4>Masterbrand</h4>
<p>The masterbrand header contains the NSW Government logo and site descriptor (site name), with optional secondary descriptor and search.</p>

<h4>Co-brand</h4>
<p>The co-brand header contains the NSW Government logo and co-brand logo, with optional search. </p>
<p>The default header caters for square logos. A class can be added for rectangular logos to ensure logos are visually equal in size, in line with brand guidelines. </p>
<p>There are also two mobile header options depending on your logo’s width:</p>
<p><strong>Horizontal stacked:</strong> On mobile the NSW Government and co-brand logo will appear side by side. Consider this option when the co-branded logo <strong>does not exceed</strong> 130px in width when at 48px in height. If it does, always test to ensure it does not overlap search and menu functions on smaller devices.</p>
<p><strong>Vertical stacked:</strong> On mobile the NSW Government will appear on top of the co-brand logo. Consider this option when the co-branded logo <strong>does exceed</strong> 130px in width when at 48px in height. </p>

<h3>NSW Government Logo</h3>
<p>The NSW Government logo reinforces the connection to NSW Government and should always appear in the top left to create a consistent experience across digital product or services. It should appear no smaller than 76px on large screens and never smaller than the co-branded logo.</p>

<h3 id="descriptors">Descriptors</h3>
<p><strong>Descriptor:</strong> Where it is important for a customer to identify a department or agency within NSW Government, a descriptor can be used. The text descriptor is treated, not as a competing logo (or coupled), but as a navigational device to help customers where they need to identify an entity.</p>
<p><strong>Secondary Descriptor:</strong> In the rare case where there is a customer need to relay back to the overarching department, two descriptors can be coupled together. Usage for this requires approval from the <a href="https://www.nsw.gov.au/branding" target="_blank">NSW Government Brand Team</a>. The secondary descriptor is located directly under the primary descriptor in smaller font.</p>

<h3>Search</h3>
<p>The search displays on the right hand side and can be omitted if not required.</p>

<h2>Accessibility</h2>
<p>All components are responsive and designed to comply with WCAG 2.2 AA accessibility standards. Full compliance depends on using and configuring the components correctly.</p>

<h3>Ensuring compliance through usage</h3>

<h4>Redundant entry</h4>

<p>To ensure WCAG 2.2 AA compliance for a header search component that opens upon clicking an always-visible icon, correct usage and configuration are essential. While the component is designed for accessibility, retaining any previous search entries can help reduce redundant input if a user revisits the search. The search input should have a clear, accessible label (often provided as aria-labels for screen readers) and guidance on how to use the search, such as placeholder text. Ensure the input maintains its easy-to-locate position to navigate back to, allowing users to correct or modify their query without losing previous entries.</p>
<p>Following these practices ensures a smooth, accessible experience that meets compliance standards.</p>