<div class="nsw-masthead">
  <div class="nsw-container">
    <p>A NSW Government website</p>
  </div>
</div>
<header class="nsw-header nsw-header--simple">
  <div class="nsw-header__container">
    <div class="nsw-header__wrapper">
      <div class="nsw-header__center">
        <a href="#" class="nsw-header__logo-link">
          <img class="site-logo" src="https://www.digital.nsw.gov.au//themes/custom/corporateplus/nsw-digitalnsw-combined.svg?v=20191114111300" alt="digital.nsw">
          <span class="sr-only">digital.nsw</span>
        </a>
      </div>
    </div>
</header>
