---
title: Header
tabs: true
directory: header
core: true
intro: The NSW Government header displays across the top of all NSW Government sites. It helps users see which service they are using. 
figma: https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=21298%3A22099
react: https://digitalnsw.github.io/nsw-design-system-react/?path=/docs/templates-header--without-search
model: json/header-seniors-card.json
---

<h3>Masterbrand with descriptor</h3>
{{#>_docs-example}}{{>_header header-title="digital.nsw"}}{{/_docs-example}}
<h3>Masterbrand with secondary descriptor</h3>
{{#>_docs-example}}{{>_header header-title="digital.nsw" header-description="Department of Customer Service" header-id="0"}}{{/_docs-example}}
<h3>Co-brand - mobile vertical stacked</h3>
{{#>_docs-example}}{{>_header model header-id="1"}}{{/_docs-example}}
<h3>Co-brand - mobile horizontal stacked</h3>
{{#>_docs-example}}{{>_header model header-id="2" header-inline="true"}}{{/_docs-example}}
