@mixin button-variant($property-map) {
  @if type-of($property-map) != 'map' {
    @error 'NSW-DS button-variant mixin accepts a map of values consisting of the following keys: text-color, text-color-hover, background, background-hover, border, border-hover.';
  }

  color: map-get($property-map, text-color);
  background-color: map-get($property-map, background);
  border-color: map-get($property-map, border);

  &:hover {
    color: map-get($property-map, text-color-hover);
    background-color: map-get($property-map, background-hover);
    border-color: map-get($property-map, border-hover);
    @if map-get($property-map, hover) == white {
      background-image: linear-gradient(rgba(var(--nsw-white-rgb), 0.15), rgba(var(--nsw-white-rgb), 0.15));
    }
    @if map-get($property-map, hover) == black {
      background-image: linear-gradient(rgba(var(--nsw-black-rgb), 0.05), rgba(var(--nsw-black-rgb), 0.05));
    } 

    .nsw-material-icons {
      color: map-get($property-map, text-color-hover);
    }  
  }
  
  &:disabled,
  &.disabled {
    color: map-get($property-map, text-color);
    background-color: map-get($property-map, background);
    border-color: map-get($property-map, border);
  }
  
  .nsw-material-icons {
    color: map-get($property-map, text-color);
  }
}
