@mixin nsw-focus($offset: true, $color: var(--nsw-focus)) {
  @if type-of($offset) != bool {
    @error 'NSW-DS nsw-focus mixin allows a boolean for $offset: You have used a type of "#{type-of($offset)}" and a value of "#{$offset}"';
  }

  outline: solid 3px $color;
  outline-offset: 0;

  @if $offset == true {
    outline-offset: $focus-offset;
  }
}

@mixin nsw-hover {
  background-color: var(--nsw-text-hover);
}

/* Legacy start */

@mixin nsw-active {
  background-color: var(--nsw-focus);
  color: var(--nsw-text-light);
}

/* Legacy end */
