/* stylelint-disable declaration-no-important  */
@function rem($value) {
  @if (unitless($value)) {
    $value: $value * 1px;
  }

  @return $value / $nsw-base-font-size * 1rem;
}

@function em($value) {
  @if (unitless($value)) {
    $value: $value * 1px;
  }

  @return $value / $nsw-base-font-size * 1em;
}

// generates modifer classes in the bem syntax
@mixin helper-classes($attribute, $map) {
  @each $modifier, $value in $map {
    &--#{$modifier} {
      #{$attribute}: get-mapped-value($modifier, $map) !important;
    }
  }
}

//gets mapped px values and returns it as rem
@function get-mapped-value($key, $map) {
  @each $mapkey, $mapvalue in $map {
    @if $mapkey == $key {
      @return rem($mapvalue);
    }
  }
}

// break out of the nsw-container class
@mixin break-out($position: relative) {
  @if $position != 'relative' and $position != 'absolute' {
    @error 'NSW-DS breakout mixin allows the following values for $position: relative, absolute. You have used "#{$position}"';
  }

  width: 100vw;
  position: $position;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

@mixin break-out-reset {
  width: auto;
  position: static;
  margin-left: auto;
  margin-right: auto;
  left: auto;
  right: auto;
}

@function svg-url($svg) {
  @if not str-index($svg,xmlns) {
    $svg: str-replace($svg, '<svg', '<svg xmlns="http://www.w3.org/2000/svg"');
  }

  $encoded: '';
  $slice: 2000;
  $index: 0;
  $loops: ceil(str-length($svg)/$slice);

  @for $i from 1 through $loops {
    $chunk: str-slice($svg, $index, $index + $slice - 1);
    $chunk: str-replace($chunk, '"', '\'');
    $chunk: str-replace($chunk, '%', '%25');
    $chunk: str-replace($chunk, '#', '%23');
    $chunk: str-replace($chunk, '{', '%7B');
    $chunk: str-replace($chunk, '}', '%7D');
    $chunk: str-replace($chunk, '<', '%3C');
    $chunk: str-replace($chunk, '>', '%3E');
    $encoded: #{$encoded}#{$chunk};
    $index: $index + $slice;
  }

  @return url('data:image/svg+xml,#{$encoded}');
}

// Background svg mixin
@mixin background-svg($id, $fill: null) {
  $new-svg: map-get($nsw-icons, $id);

  @if $fill {
    $new-svg: str-insert($new-svg, 'fill="#{$fill}" ', 6);
  }

  background-image: svg-url($new-svg);
}

// Helper function to replace characters in a string
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;

}

@mixin pseudo-clickable-block {
  &::after {
    @include z-index;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

// Z-index
@mixin z-index($index: 'base') {

  @if map-has-key($nsw-z-index, $index) == false {
    @error 'NSW-DS z-index mixin allows the following values for $index: #{map-keys($nsw-z-index)}. You have used "#{$index}"';
  }
  @else {
    z-index: map-get($nsw-z-index, $index);
  }
}
