@mixin container($offset: $grid-gutters*2) {
  max-width: var(--nsw-container-width);
  padding-left: rem($offset);
  padding-right: rem($offset);
  margin-left: auto;
  margin-right: auto;
}

@mixin create-grid() {
  display: flex;
  flex-wrap: wrap;
  margin-left: rem(-$grid-gutters);
  margin-right: rem(-$grid-gutters);

  @include breakpoint('md') {
    margin-left: rem(-$grid-gutters*2);
    margin-right: rem(-$grid-gutters*2);
  }
}

@mixin create-row() {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@mixin create-column-default() {
  width: 100%;
  padding: rem($grid-gutters);

  @include breakpoint('md') {
    padding: rem($grid-gutters*2);
  }
}

@mixin create-column($size, $breakpoint: null, $offset: null) {
  @if ($breakpoint) {
    @include breakpoint($breakpoint) {
      width: percentage($size / 12);
      max-width: percentage($size / 12);

      @if ($offset) {
        margin-left: percentage($offset / 12);
      }
    }

  } @else {
    width: percentage($size / 12);
    max-width: percentage($size / 12);

    @if ($offset) {
      margin-left: percentage($offset / 12);
    }
  }
}
