@mixin grid-column() {
  padding: rem($grid-gutters);

  @include breakpoint('md') {
    padding: rem($grid-gutters*2);
  }
}

@mixin grid-columns() {
  .nsw-col {
    flex: 0 0 100%;
    max-width: 100%;

    @each $breakpoint, $columns in $grid-col-sizes {
      @include breakpoint($breakpoint) {
        @each $modifier, $size in $columns {
          &--#{$modifier} {
            flex: 0 0 $size;
            max-width: $size;
          }
        }
      }
    }
  }
}

@mixin grid-columns-generator() {
  @for $i from 1 through $grid-columns {
    .nsw-col-#{$i} {
      flex: 0 0 percentage($i / $grid-columns);
      max-width: percentage($i / $grid-columns);
    }

    .nsw-offset-#{$i} {
      margin-left: percentage($i / $grid-columns);
    }
  }

  @each $breakpoint, $breakpoint-size in $breakpoints {
    @include breakpoint($breakpoint) {
      @for $i from 1 through $grid-columns {
        .nsw-col-#{$breakpoint}-#{$i} {
          flex: 0 0 percentage($i / $grid-columns);
          max-width: percentage($i / $grid-columns);
        }

        .nsw-offset-#{$breakpoint}-#{$i} {
          margin-left: percentage($i / $grid-columns);
        }
      }
    }
  }

  @each $breakpoint, $breakpoint-size in $breakpoints {
    .nsw-show-#{$breakpoint} {
      display: none;
    }

    @include breakpoint($breakpoint) {
      .nsw-show-#{$breakpoint} {
        display: block;
      }

      .nsw-hide-#{$breakpoint} {
        display: none;
      }
    }
  }
}

@mixin create-row() {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

@mixin create-grid() {
  display: flex;
  flex-wrap: wrap;
  margin-left: rem(-$grid-gutters);
  margin-right: rem(-$grid-gutters);
  align-items: stretch;

  @include breakpoint('md') {
    margin-left: rem(-$grid-gutters*2);
    margin-right: rem(-$grid-gutters*2);
  }
}

@mixin create-column-default() {
  @include grid-column();
  flex: 0 0 100%;
  max-width: 100%;
}

@mixin create-column($size, $breakpoint: null, $offset: null) {
  @if ($breakpoint) {
    @include breakpoint($breakpoint) {
      flex: 0 0 percentage($size / $grid-columns);
      max-width: percentage($size / $grid-columns);

      @if ($offset) {
        margin-left: percentage($offset / $grid-columns);
      }
    }

  } @else {
    flex: 0 0 percentage($size / $grid-columns);
    max-width: percentage($size / $grid-columns);

    @if ($offset) {
      margin-left: percentage($offset / $grid-columns);
    }
  }
}

@mixin container($offset: $container-offset) {
  max-width: rem($container-max-width);
  padding-left: rem($offset);
  padding-right: rem($offset);
  margin-left: auto;
  margin-right: auto;
}

@mixin container-flush {
  padding-left: 0;
  padding-right: 0;
}
