@mixin link() {
  color: var(--nsw-brand-dark);
  text-decoration: underline;
  text-decoration-skip-ink: auto;

  &:hover:enabled {
    @include nsw-hover;
    outline: 2px solid var(--nsw-text-hover);
  }

  &:focus {
    @include nsw-focus($offset: false);
  }

  &:visited {
    color: var(--nsw-text-visited);
  }
}

@mixin text-link {
  font-weight: var(--nsw-font-bold);
  color: var(--nsw-brand-dark);
  display: inline-block;

  &:hover {
    @include nsw-hover;
    outline: 2px solid var(--nsw-text-hover);
  }

  &:focus {
    @include nsw-focus($offset: false);
  }
}
