@mixin text-link {
  @include font-stack('heading');
  color: $link-color;
  display: inline-block;

  &:hover {
    @include nsw-hover;
    outline: 2px solid $hover-colour;
  }

  &:focus {
    @include nsw-focus($offset: false);
  }

  &:active {
    @include nsw-active;
  }
}
