@mixin text-link {
  font-weight: var(--nsw-font-bold);
  color: var(--nsw-primary-dark);
  display: inline-block;

  &:hover {
    @include nsw-hover;
    outline: 2px solid var(--nsw-text-hover-bg);
  }

  &:focus {
    @include nsw-focus($offset: false);
  }

  &:active {
    @include nsw-active;
  }
}
