@mixin component-spacing() {
  margin-top: rem(map-get($nsw-components-spacing, mobile));

  &:first-child {
    margin-top: 0;
  }

  @include breakpoint('md') {
    margin-top: rem(map-get($nsw-components-spacing, desktop));
  }
}
