// Font-size mixin - returns the font size for mobile and desktop based of the values in $font-sizes map
@mixin font-size($size) {
  @if $size != 'xs' and $size != 'sm' and $size != 'md' and $size != 'lg' and $size != 'xl' and $size != 'xxl' and $size != 'xxxl' {
    @error 'NSW-DS font-size mixin allows the following values for $sizes: xs, sm, md, lg, xl, xxl, xxxl. You have used "#{$size}"';
  }

  @if $size {
    font-size: var(--nsw-font-size-#{$size}-mobile);
    line-height: var(--nsw-line-height-#{$size}-mobile);

    @include breakpoint($font-size-reponsive-breakpoint) {
      font-size: var(--nsw-font-size-#{$size}-desktop);
      line-height: var(--nsw-line-height-#{$size}-desktop);
    }
  }
}

@mixin link() {
  color: var(--nsw-primary-dark);
  text-decoration: underline;
  text-decoration-skip-ink: auto;

  &:hover {
    @include nsw-hover;
    outline: 2px solid $hover-colour;
  }

  &:focus {
    @include nsw-focus($offset: false);
  }

  &:active {
    @include nsw-active;
  }
}
