<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Footer</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="../../favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/docs/css/docs.css">
</head>

<body class="nsw-body-content">

<footer class="nsw-footer">
  <div class="nsw-footer__upper">
    <div class="nsw-container section-links">
        <div class="section-links__group">
          <h3 class="section-links__heading"><a href="#">Popular</a></h3>
          <ul class="section-links__list">
              <li class="section-links__item"><a href="#">Contact the Premier</a></li>
              <li class="section-links__item"><a href="#">Contact a Minister</a></li>
              <li class="section-links__item"><a href="#">About NSW</a></li>
              <li class="section-links__item"><a href="#">State flag</a></li>
              <li class="section-links__item"><a href="#">State Funerals</a></li>
              <li class="section-links__item"><a href="#">Buy Regional</a></li>
              <li class="section-links__item"><a href="#">Life events</a></li>
              <li class="section-links__item"><a href="#">NSW Government directory</a></li>
              <li class="section-links__item"><a href="#">Service NSW locations</a></li>
          </ul>
        </div>
        <div class="section-links__group">
          <h3 class="section-links__heading"><a href="#">What&#x27;s happening</a></h3>
          <ul class="section-links__list">
              <li class="section-links__item"><a href="#">News</a></li>
              <li class="section-links__item"><a href="#">Ministerial media releases</a></li>
              <li class="section-links__item"><a href="#">Projects and initiatives</a></li>
              <li class="section-links__item"><a href="#">Have your say</a></li>
              <li class="section-links__item"><a href="#">NSW school and public holidays</a></li>
              <li class="section-links__item"><a href="#">Find a job in NSW Government</a></li>
              <li class="section-links__item"><a href="#">I work for NSW</a></li>
          </ul>
        </div>
        <div class="section-links__group">
          <h3 class="section-links__heading"><a href="#">Departments</a></h3>
          <ul class="section-links__list">
              <li class="section-links__item"><a href="#">Customer Service</a></li>
              <li class="section-links__item"><a href="#">Communities and Justice</a></li>
              <li class="section-links__item"><a href="#">Education</a></li>
              <li class="section-links__item"><a href="#">Health</a></li>
              <li class="section-links__item"><a href="#">Planning, Industry and Environment</a></li>
              <li class="section-links__item"><a href="#">Premier and Cabinet</a></li>
              <li class="section-links__item"><a href="#">Regional NSW</a></li>
              <li class="section-links__item"><a href="#">Transport</a></li>
              <li class="section-links__item"><a href="#">Treasury</a></li>
          </ul>
        </div>
        <div class="section-links__group">
          <h3 class="section-links__heading"><a href="#">NSW Government</a></h3>
          <ul class="section-links__list">
              <li class="section-links__item"><a href="#">The Premier</a></li>
              <li class="section-links__item"><a href="#">NSW Ministers</a></li>
              <li class="section-links__item"><a href="#">Find your local Member of Parliament</a></li>
              <li class="section-links__item"><a href="#">Boards and Committees</a></li>
              <li class="section-links__item"><a href="#">NSW Government communications</a></li>
              <li class="section-links__item"><a href="#">Unsolicited proposals</a></li>
              <li class="section-links__item"><a href="#">Premier&#x27;s Priorities</a></li>
          </ul>
        </div>
    </div>
  </div>
  <div class="nsw-footer__lower">
    <div class="nsw-container">
      <p>We pay respect to the Traditional Custodians and First Peoples of NSW, and acknowledge their continued connection to their country and culture.</p>
      <hr>
      <ul class="nsw-footer-links">
          <li class="nsw-footer-links__item">
            <a href="#" class="nsw-footer-links__link">Accessibility</a>
          </li>
          <li class="nsw-footer-links__item">
            <a href="#" class="nsw-footer-links__link">Copyright</a>
          </li>
          <li class="nsw-footer-links__item">
            <a href="#" class="nsw-footer-links__link">Disclaimer</a>
          </li>
          <li class="nsw-footer-links__item">
            <a href="#" class="nsw-footer-links__link">Privacy</a>
          </li>
          <li class="nsw-footer-links__item">
            <a href="#" class="nsw-footer-links__link">Content sources</a>
          </li>
          <li class="nsw-footer-links__item">
            <a href="#" class="nsw-footer-links__link">RSS</a>
          </li>
          <li class="nsw-footer-links__item">
            <a href="#" class="nsw-footer-links__link">Contact us</a>
          </li>
      </ul>
      <div class="nsw-footer__info">
        <p class="nsw-footer__copyright">Copyright © 2019</p>
        <p class="nsw-footer__built">Built by <a href="https://www.digital.nsw.gov.au/digital-design-system" target="_blank" rel="noopener noreferrer">NSW Design System</a></p>
      </div>
    </div>
  </div>
</footer>

  <script src="../../js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
