<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Footer</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="//nsw-design-system/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="//nsw-design-system/docs/css/docs.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-TMEHXHFJXJ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TMEHXHFJXJ');
  </script>
</head>

<body>

<footer class="nsw-footer">
  <div class="nsw-footer__upper">
    <div class="nsw-container">
        <div class="nsw-footer__group">
          <div class="nsw-footer__heading"><a href="#">Popular</a></div>
          <ul>
            <li><a href="#">Contact the Premier</a></li>
            <li><a href="#">Contact a Minister</a></li>
            <li><a href="#">About NSW</a></li>
            <li><a href="#">State flag</a></li>
            <li><a href="#">State Funerals</a></li>
            <li><a href="#">Buy Regional</a></li>
            <li><a href="#">Life events</a></li>
            <li><a href="#">NSW Government directory</a></li>
            <li><a href="#">Service NSW locations</a></li>
          </ul>
        </div>
        <div class="nsw-footer__group">
          <div class="nsw-footer__heading"><a href="#">What&#x27;s happening</a></div>
          <ul>
            <li><a href="#">News</a></li>
            <li><a href="#">Ministerial media releases</a></li>
            <li><a href="#">Projects and initiatives</a></li>
            <li><a href="#">Have your say</a></li>
            <li><a href="#">NSW school and public holidays</a></li>
            <li><a href="#">Find a job in NSW Government</a></li>
            <li><a href="#">I work for NSW</a></li>
          </ul>
        </div>
        <div class="nsw-footer__group">
          <div class="nsw-footer__heading"><a href="#">Departments</a></div>
          <ul>
            <li><a href="#">Customer Service</a></li>
            <li><a href="#">Communities and Justice</a></li>
            <li><a href="#">Education</a></li>
            <li><a href="#">Health</a></li>
            <li><a href="#">Planning, Industry and Environment</a></li>
            <li><a href="#">Premier and Cabinet</a></li>
            <li><a href="#">Regional NSW</a></li>
            <li><a href="#">Transport</a></li>
            <li><a href="#">Treasury</a></li>
          </ul>
        </div>
        <div class="nsw-footer__group">
          <div class="nsw-footer__heading"><a href="#">NSW Government</a></div>
          <ul>
            <li><a href="#">The Premier</a></li>
            <li><a href="#">NSW Ministers</a></li>
            <li><a href="#">Find your local Member of Parliament</a></li>
            <li><a href="#">Boards and Committees</a></li>
            <li><a href="#">NSW Government communications</a></li>
            <li><a href="#">Unsolicited proposals</a></li>
            <li><a href="#">Premier&#x27;s Priorities</a></li>
          </ul>
        </div>
    </div>
  </div>
  <div class="nsw-footer__lower">
    <div class="nsw-container">
      <p>We pay respect to the Traditional Custodians and First Peoples of NSW, and acknowledge their continued connection to their country and culture.</p>
      <hr>
      <ul>
        <li><a href="#">Accessibility</a></li>
        <li><a href="#">Copyright</a></li>
        <li><a href="#">Disclaimer</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Content sources</a></li>
        <li><a href="#">RSS</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
      <div class="nsw-footer__info">
        <div class="nsw-footer__copyright">Copyright © 2021</div>
        <div class="nsw-footer__built">Built by <a href="https://www.digital.nsw.gov.au/digital-design-system" target="_blank" rel="noopener noreferrer">NSW Design System</a></div>
      </div>
    </div>
  </div>
</footer>

  <script src="//nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
