<!doctype html>
<html lang="en" class="no-js">
<head><script async data-category="analytics" src="https://www.googletagmanager.com/gtag/js?id=G-49T9M12F86"></script>
<script data-category="analytics">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-49T9M12F86');
</script>
  <script data-category="analytics">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P2NKBBJZ');</script>
  
  <title>NSW Digital Design System - Footer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://designsystem.nsw.gov.au/nsw-og-image.jpg">
  <meta name="robots" content="noindex" />
  <link rel="icon" href="https://designsystem.nsw.gov.au/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone" rel="stylesheet">
  <link rel="stylesheet" href="https://designsystem.nsw.gov.au/docs/css/docs.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css">
  <!-- Hotjar Tracking Code for NSW Design System -->
  <script data-category="analytics">
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
      h._hjSettings = { hjid: 5063548, hjsv: 6 };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script'); r.async = 1; 
      r.setAttribute('data-category', 'analytics');
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>
  <script src="https://designsystem.nsw.gov.au/cookie-consent-config.js"></script>
</head>

<body><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2NKBBJZ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    

<header class="nsw-header">
  <div class="nsw-header__container">
    <div class="nsw-header__inner">
      <div class="nsw-color-swatches js-color-swatches">
        <legend class="nsw-color-swatches__legend" aria-live="polite" aria-atomic="true"><span class="nsw-color-swatches__color js-color-swatches__color">Blue 01</span></legend>
        <select class="js-color-swatches__select" aria-label="Select a color"></select>
      </div>
    </div>
  </div>
</header>

<footer class="nsw-footer">
  <div class="nsw-footer__upper">
    <div class="nsw-container">
        <div class="nsw-footer__group">
          <div class="nsw-footer__heading"><a href="#">Popular</a></div>
          <ul>
            <li><a href="#">Contact the Premier</a></li>
            <li><a href="#">Contact a Minister</a></li>
            <li><a href="#">About NSW</a></li>
            <li><a href="#">State flag</a></li>
            <li><a href="#">State Funerals</a></li>
            <li><a href="#">Buy Regional</a></li>
            <li><a href="#">Life events</a></li>
            <li><a href="#">NSW Government directory</a></li>
            <li><a href="#">Service NSW locations</a></li>
          </ul>
        </div>
        <div class="nsw-footer__group">
          <div class="nsw-footer__heading"><a href="#">What&#x27;s happening</a></div>
          <ul>
            <li><a href="#">News</a></li>
            <li><a href="#">Ministerial media releases</a></li>
            <li><a href="#">Projects and initiatives</a></li>
            <li><a href="#">Have your say</a></li>
            <li><a href="#">NSW school and public holidays</a></li>
            <li><a href="#">Find a job in NSW Government</a></li>
            <li><a href="#">I work for NSW</a></li>
          </ul>
        </div>
        <div class="nsw-footer__group">
          <div class="nsw-footer__heading"><a href="#">Departments</a></div>
          <ul>
            <li><a href="#">Customer Service</a></li>
            <li><a href="#">Communities and Justice</a></li>
            <li><a href="#">Education</a></li>
            <li><a href="#">Health</a></li>
            <li><a href="#">Planning, Industry and Environment</a></li>
            <li><a href="#">Premier and Cabinet</a></li>
            <li><a href="#">Regional NSW</a></li>
            <li><a href="#">Transport</a></li>
            <li><a href="#">Treasury</a></li>
          </ul>
        </div>
        <div class="nsw-footer__group">
          <div class="nsw-footer__heading"><a href="#">NSW Government</a></div>
          <ul>
            <li><a href="#">The Premier</a></li>
            <li><a href="#">NSW Ministers</a></li>
            <li><a href="#">Find your local Member of Parliament</a></li>
            <li><a href="#">Boards and Committees</a></li>
            <li><a href="#">NSW Government communications</a></li>
            <li><a href="#">Unsolicited proposals</a></li>
            <li><a href="#">Premier&#x27;s Priorities</a></li>
          </ul>
        </div>
    </div>
  </div>
  <div class="nsw-footer__lower">
    <div class="nsw-container">
      <p class="nsw-footer__acknowledgement">We pay respect to the Traditional Custodians and First Peoples of NSW, and acknowledge their continued connection to their country and culture.</p>
      <hr>
      <ul>
        <li><a href="#">Accessibility</a></li>
        <li><a href="#">Copyright</a></li>
        <li><a href="#">Disclaimer</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Content sources</a></li>
        <li><a href="#">RSS</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
      <div class="nsw-footer__info">
        <div class="nsw-footer__copyright">Copyright © 2024</div>
        <div class="nsw-footer__built">Built by <a href="https://www.digital.nsw.gov.au/digital-design-system" target="_blank" rel="noopener noreferrer">NSW Design System</a></div>
      </div>
    </div>
  </div>
</footer>
<footer class="nsw-footer nsw-footer--dark">
  <div class="nsw-footer__lower">
    <div class="nsw-container">
      <p class="nsw-footer__acknowledgement">We pay respect to the Traditional Custodians and First Peoples of NSW, and acknowledge their continued connection to their country and culture.</p>
      <hr>
      <ul>
        <li><a href="#">Accessibility</a></li>
        <li><a href="#">Copyright</a></li>
        <li><a href="#">Disclaimer</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Content sources</a></li>
        <li><a href="#">RSS</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
      <div class="nsw-footer__info">
        <div class="nsw-footer__copyright">Copyright © 2024</div>
        <div class="nsw-footer__built">Built by <a href="https://www.digital.nsw.gov.au/digital-design-system" target="_blank" rel="noopener noreferrer">NSW Design System</a></div>
      </div>
    </div>
  </div>
</footer>
<footer class="nsw-footer nsw-footer--light">
  <div class="nsw-footer__lower">
    <div class="nsw-container">
      <p class="nsw-footer__acknowledgement">We pay respect to the Traditional Custodians and First Peoples of NSW, and acknowledge their continued connection to their country and culture.</p>
      <hr>
      <ul>
        <li><a href="#">Accessibility</a></li>
        <li><a href="#">Copyright</a></li>
        <li><a href="#">Disclaimer</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Content sources</a></li>
        <li><a href="#">RSS</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
      <div class="nsw-footer__info">
        <div class="nsw-footer__copyright">Copyright © 2024</div>
        <div class="nsw-footer__built">Built by <a href="https://www.digital.nsw.gov.au/digital-design-system" target="_blank" rel="noopener noreferrer">NSW Design System</a></div>
      </div>
    </div>
  </div>
</footer>
<style type="text/css">
	.nsw-footer--custom {
	  --nsw-grey-01: var(--nsw-palette-purple-01);
	}
</style>
<footer class="nsw-footer nsw-footer--custom">
  <div class="nsw-footer__lower">
    <div class="nsw-container">
      <p class="nsw-footer__acknowledgement">We pay respect to the Traditional Custodians and First Peoples of NSW, and acknowledge their continued connection to their country and culture.</p>
      <hr>
      <ul>
        <li><a href="#">Accessibility</a></li>
        <li><a href="#">Copyright</a></li>
        <li><a href="#">Disclaimer</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Content sources</a></li>
        <li><a href="#">RSS</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
      <div class="nsw-footer__info">
        <div class="nsw-footer__copyright">Copyright © 2024</div>
        <div class="nsw-footer__built">Built by <a href="https://www.digital.nsw.gov.au/digital-design-system" target="_blank" rel="noopener noreferrer">NSW Design System</a></div>
      </div>
    </div>
  </div>
</footer>
<footer class="nsw-footer">
  <div class="nsw-footer__lower">
    <div class="nsw-container">
      <p class="nsw-footer__acknowledgement">We pay respect to the Traditional Custodians and First Peoples of NSW, and acknowledge their continued connection to their country and culture.</p>
      <hr>
      <div class="nsw-footer__links">
      <ul>
        <li><a href="#">Accessibility</a></li>
        <li><a href="#">Copyright</a></li>
        <li><a href="#">Disclaimer</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Content sources</a></li>
        <li><a href="#">RSS</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
      <div class="nsw-footer__social">
        <a class="nsw-icon-button" href="#" target="_blank" rel="noopener" aria-label="LinkedIn">
          <svg role="img" width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <title>LinkedIn</title>
            <path d="M29.7939 0H3.08695C1.62824 0 0.352905 1.05027 0.352905 2.49231V29.2576C0.352905 30.708 1.62824 32 3.08695 32H29.7855C31.2526 32 32.3529 30.6996 32.3529 29.2576V2.49231C32.3612 1.05027 31.2526 0 29.7939 0ZM10.2721 26.6736H5.68762V12.4199H10.2721V26.6736ZM8.13825 10.2527H8.10491C6.63787 10.2527 5.68762 9.16071 5.68762 7.79369C5.68762 6.40166 6.66287 5.33471 8.16326 5.33471C9.66365 5.33471 10.5806 6.39332 10.6139 7.79369C10.6139 9.16071 9.66365 10.2527 8.13825 10.2527ZM27.0265 26.6736H22.442V18.8799C22.442 17.0127 21.7751 15.7374 20.1164 15.7374C18.8494 15.7374 18.0992 16.596 17.7657 17.4295C17.6407 17.7296 17.6074 18.138 17.6074 18.5548V26.6736H13.0229V12.4199H17.6074V14.4037C18.2742 13.4535 19.3162 12.0865 21.7418 12.0865C24.7509 12.0865 27.0265 14.0703 27.0265 18.3464V26.6736V26.6736Z" fill="white"/>
          </svg>
          <span class="sr-only">LinkedIn</span>
        </a>
        <a class="nsw-icon-button" href="#" target="_blank" rel="noopener" aria-label="X (formerly Twitter)">
          <svg role="img" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <title>X (formerly Twitter)</title>
            <path d="M18.6348 13.5498L30.2914 0H27.5292L17.4078 11.7651L9.32385 0H0L12.2245 17.7909L0 32H2.76239L13.4508 19.5756L21.9881 32H31.3119L18.6342 13.5498H18.6348ZM14.8514 17.9477L13.6128 16.1761L3.75772 2.07949H8.00059L15.9537 13.4559L17.1923 15.2275L27.5305 30.0151H23.2876L14.8514 17.9484V17.9477Z" fill="white"/>
          </svg>
          <span class="sr-only">X (formerly Twitter)</span>
        </a>
        <a class="nsw-icon-button" href="#" target="_blank" rel="noopener" aria-label="Facebook">
          <svg role="img" width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <title>Facebook</title>
            <path d="M33 16.0978C33 7.20722 25.7771 0 16.8672 0C7.95731 0 0.734421 7.20722 0.734421 16.0978C0.734421 24.1326 6.63394 30.7924 14.3465 32V20.751H10.2503V16.0978H14.3465V12.5512C14.3465 8.51673 16.755 6.2882 20.44 6.2882C22.2051 6.2882 24.0513 6.60261 24.0513 6.60261V10.5642H22.017C20.0129 10.5642 19.388 11.8051 19.388 13.0781V16.0978H23.8623L23.147 20.751H19.3879V32C27.1005 30.7924 33 24.1326 33 16.0978" fill="white"/>
          </svg>
          <span class="sr-only">Facebook</span>
        </a>
      </div>
      </div>
      <div class="nsw-footer__info">
        <div class="nsw-footer__copyright">Copyright © 2024</div>
        <div class="nsw-footer__built">Built by <a href="https://www.digital.nsw.gov.au/digital-design-system" target="_blank" rel="noopener noreferrer">NSW Design System</a></div>
      </div>
    </div>
  </div>
</footer>
<footer class="nsw-footer nsw-footer--dark">
  <div class="nsw-footer__lower">
    <div class="nsw-container">
      <p class="nsw-footer__acknowledgement">We pay respect to the Traditional Custodians and First Peoples of NSW, and acknowledge their continued connection to their country and culture.</p>
      <hr>
      <div class="nsw-footer__links">
      <ul>
        <li><a href="#">Accessibility</a></li>
        <li><a href="#">Copyright</a></li>
        <li><a href="#">Disclaimer</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Content sources</a></li>
        <li><a href="#">RSS</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
      <div class="nsw-footer__social">
        <a class="nsw-icon-button" href="#" target="_blank" rel="noopener" aria-label="LinkedIn">
          <svg role="img" width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <title>LinkedIn</title>
            <path d="M29.7939 0H3.08695C1.62824 0 0.352905 1.05027 0.352905 2.49231V29.2576C0.352905 30.708 1.62824 32 3.08695 32H29.7855C31.2526 32 32.3529 30.6996 32.3529 29.2576V2.49231C32.3612 1.05027 31.2526 0 29.7939 0ZM10.2721 26.6736H5.68762V12.4199H10.2721V26.6736ZM8.13825 10.2527H8.10491C6.63787 10.2527 5.68762 9.16071 5.68762 7.79369C5.68762 6.40166 6.66287 5.33471 8.16326 5.33471C9.66365 5.33471 10.5806 6.39332 10.6139 7.79369C10.6139 9.16071 9.66365 10.2527 8.13825 10.2527ZM27.0265 26.6736H22.442V18.8799C22.442 17.0127 21.7751 15.7374 20.1164 15.7374C18.8494 15.7374 18.0992 16.596 17.7657 17.4295C17.6407 17.7296 17.6074 18.138 17.6074 18.5548V26.6736H13.0229V12.4199H17.6074V14.4037C18.2742 13.4535 19.3162 12.0865 21.7418 12.0865C24.7509 12.0865 27.0265 14.0703 27.0265 18.3464V26.6736V26.6736Z" fill="white"/>
          </svg>
          <span class="sr-only">LinkedIn</span>
        </a>
        <a class="nsw-icon-button" href="#" target="_blank" rel="noopener" aria-label="X (formerly Twitter)">
          <svg role="img" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <title>X (formerly Twitter)</title>
            <path d="M18.6348 13.5498L30.2914 0H27.5292L17.4078 11.7651L9.32385 0H0L12.2245 17.7909L0 32H2.76239L13.4508 19.5756L21.9881 32H31.3119L18.6342 13.5498H18.6348ZM14.8514 17.9477L13.6128 16.1761L3.75772 2.07949H8.00059L15.9537 13.4559L17.1923 15.2275L27.5305 30.0151H23.2876L14.8514 17.9484V17.9477Z" fill="white"/>
          </svg>
          <span class="sr-only">X (formerly Twitter)</span>
        </a>
        <a class="nsw-icon-button" href="#" target="_blank" rel="noopener" aria-label="Facebook">
          <svg role="img" width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <title>Facebook</title>
            <path d="M33 16.0978C33 7.20722 25.7771 0 16.8672 0C7.95731 0 0.734421 7.20722 0.734421 16.0978C0.734421 24.1326 6.63394 30.7924 14.3465 32V20.751H10.2503V16.0978H14.3465V12.5512C14.3465 8.51673 16.755 6.2882 20.44 6.2882C22.2051 6.2882 24.0513 6.60261 24.0513 6.60261V10.5642H22.017C20.0129 10.5642 19.388 11.8051 19.388 13.0781V16.0978H23.8623L23.147 20.751H19.3879V32C27.1005 30.7924 33 24.1326 33 16.0978" fill="white"/>
          </svg>
          <span class="sr-only">Facebook</span>
        </a>
      </div>
      </div>
      <div class="nsw-footer__info">
        <div class="nsw-footer__copyright">Copyright © 2024</div>
        <div class="nsw-footer__built">Built by <a href="https://www.digital.nsw.gov.au/digital-design-system" target="_blank" rel="noopener noreferrer">NSW Design System</a></div>
      </div>
    </div>
  </div>
</footer>
<footer class="nsw-footer nsw-footer--light">
  <div class="nsw-footer__lower">
    <div class="nsw-container">
      <p class="nsw-footer__acknowledgement">We pay respect to the Traditional Custodians and First Peoples of NSW, and acknowledge their continued connection to their country and culture.</p>
      <hr>
      <div class="nsw-footer__links">
      <ul>
        <li><a href="#">Accessibility</a></li>
        <li><a href="#">Copyright</a></li>
        <li><a href="#">Disclaimer</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Content sources</a></li>
        <li><a href="#">RSS</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
      <div class="nsw-footer__social">
        <a class="nsw-icon-button" href="#" target="_blank" rel="noopener" aria-label="LinkedIn">
          <svg role="img" width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <title>LinkedIn</title>
            <path d="M29.7939 0H3.08695C1.62824 0 0.352905 1.05027 0.352905 2.49231V29.2576C0.352905 30.708 1.62824 32 3.08695 32H29.7855C31.2526 32 32.3529 30.6996 32.3529 29.2576V2.49231C32.3612 1.05027 31.2526 0 29.7939 0ZM10.2721 26.6736H5.68762V12.4199H10.2721V26.6736ZM8.13825 10.2527H8.10491C6.63787 10.2527 5.68762 9.16071 5.68762 7.79369C5.68762 6.40166 6.66287 5.33471 8.16326 5.33471C9.66365 5.33471 10.5806 6.39332 10.6139 7.79369C10.6139 9.16071 9.66365 10.2527 8.13825 10.2527ZM27.0265 26.6736H22.442V18.8799C22.442 17.0127 21.7751 15.7374 20.1164 15.7374C18.8494 15.7374 18.0992 16.596 17.7657 17.4295C17.6407 17.7296 17.6074 18.138 17.6074 18.5548V26.6736H13.0229V12.4199H17.6074V14.4037C18.2742 13.4535 19.3162 12.0865 21.7418 12.0865C24.7509 12.0865 27.0265 14.0703 27.0265 18.3464V26.6736V26.6736Z" fill="#0A66C2"/>
          </svg>
          <span class="sr-only">LinkedIn</span>
        </a>
        <a class="nsw-icon-button" href="#" target="_blank" rel="noopener" aria-label="X (formerly Twitter)">
          <svg role="img" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <title>X (formerly Twitter)</title>
            <path d="M18.6348 13.5498L30.2914 0H27.5292L17.4078 11.7651L9.32385 0H0L12.2245 17.7909L0 32H2.76239L13.4508 19.5756L21.9881 32H31.3119L18.6342 13.5498H18.6348ZM14.8514 17.9477L13.6128 16.1761L3.75772 2.07949H8.00059L15.9537 13.4559L17.1923 15.2275L27.5305 30.0151H23.2876L14.8514 17.9484V17.9477Z" fill="black"/>
          </svg>
          <span class="sr-only">X (formerly Twitter)</span>
        </a>
        <a class="nsw-icon-button" href="#" target="_blank" rel="noopener" aria-label="Facebook">
          <svg role="img" width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <title>Facebook</title>
            <path d="M33 16.0978C33 7.20722 25.7771 0 16.8672 0C7.95732 0 0.734436 7.20722 0.734436 16.0978C0.734436 24.1326 6.63395 30.7924 14.3465 32V20.751H10.2503V16.0978H14.3465V12.5512C14.3465 8.51673 16.755 6.2882 20.4401 6.2882C22.2051 6.2882 24.0514 6.60261 24.0514 6.60261V10.5642H22.017C20.013 10.5642 19.388 11.8051 19.388 13.0781V16.0978H23.8623L23.147 20.751H19.388V32C27.1005 30.7924 33 24.1326 33 16.0978" fill="#1877F2"/>
          </svg>
          <span class="sr-only">Facebook</span>
        </a>
      </div>
      </div>
      <div class="nsw-footer__info">
        <div class="nsw-footer__copyright">Copyright © 2024</div>
        <div class="nsw-footer__built">Built by <a href="https://www.digital.nsw.gov.au/digital-design-system" target="_blank" rel="noopener noreferrer">NSW Design System</a></div>
      </div>
    </div>
  </div>
</footer>

<script src="https://designsystem.nsw.gov.au/docs/js/docs.js"></script>

  <script src="https://designsystem.nsw.gov.au/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
