<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>NSW Design System</title>
  <meta name="description" content="">
  <meta name="author" content="TJ Harrop">

</head>

<body>

      <h2 id="pageTitle">{{ title }}</h2>
      <div class="">
        {{ content | safe }}
      </div>

</body>
</html>
