/* stylelint-disable */
.carousel {
  --carousel-item-auto-size: 300px;
  position: relative;
  display: flex;
  flex-direction: column;

  * {
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;

    &::after,
    &::before {
      box-sizing: border-box;
    }
  }

  ol,
  ul,
  menu {
    list-style: none;
  }
  
  button,
  input,
  textarea,
  select {
    color: inherit;
    line-height: inherit;
    appearance: none;
  }
  
  img,
  video,
  svg {
    display: block;
    max-width: 100%;
  }

  .nsw-icon {
    height: var(--size, 1em);
    width: var(--size, 1em);
    display: inline-block;
    color: inherit;
    fill: currentColor;
    line-height: 1;
    flex-shrink: 0;
    max-width: initial;
  }

  > nav {
    order: 1;
    margin-bottom: 0.5rem;

    @include breakpoint('md') {
      margin-bottom: 0.75rem;
    }

    ul {
      display: flex;
      justify-content: flex-end;
      gap: 0.25rem;

      @include breakpoint('md') {
        gap: 0.375rem;
      }
    }
  }

  &__wrapper {
    order: 2;
    overflow: hidden;
  }

  &__list {
    display: flex;
    flex-wrap: nowrap;
    will-change: transform;

    &--animating {
      transition-property: transform;
      transition-duration: 0.5s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
  
  &__item {
    flex-shrink: 0;
    width: var(--carousel-item-auto-size);
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
    opacity: 0;
    margin-bottom: 0;

    @include breakpoint('md') {
      margin-right: 2rem;
      margin-bottom: 0.75rem;
    }
  }

  &.carousel--loaded .carousel__item {
    opacity: 1;
  }

  &[data-drag=on] .carousel__item {
    user-select: none;
  
    img {
      pointer-events: none;
    }
  }

  &:not(.carousel--is-dragging) .carousel__list:not(.carousel__list--animating) .carousel__item[tabindex='-1'] > * {
    visibility: hidden;
  }

  &__control {
    --size: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    background-color: var(--nsw-white);
    border-radius: 50%;
    box-shadow: var(--nsw-box-shadow);
    z-index: 1;
    transition: 0.2s;

    &:active {
      transform: translateY(1px);
    }
    
    &:hover {
      background-color: var(--nsw-white);
      box-shadow: var(--nsw-box-shadow);
    }
    
    &[disabled] {
      pointer-events: none;
      opacity: 0.5;
      box-shadow: none;
    }
    
    .nsw-icon {
      --size: 20px;
      display: block;
      margin: auto;
    }
  }

  &__navigation {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 10px);
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 0.75rem;
    order: 3;

    @include breakpoint('md') {
      gap: 0.75rem;
      margin-top: 1.125rem;
    }

    &--pagination {
      grid-template-columns: repeat(auto-fit, 24px);

      .carousel__nav-item button {
        width: 24px;
        height: 24px;
        color: var(--nsw-white);
        font-size: 12px;
        line-height: 24px;
        border-radius: 0.25em;
        text-align: center;

        &:focus {
          outline: 1px solid var(--nsw-brand-dark);
          outline-offset: 2px;
        }
      }
    }
  }
  
  &__nav-item {
    display: inline-block;
    margin: 0 0.25rem;

    @include breakpoint('md') {
      margin: 0 0.375rem;
    }

    button {
      display: block;
      position: relative;
      font-size: 10px;
      height: 1em;
      width: 1em;
      border-radius: 50%;
      background-color: var(--nsw-grey-02);
      opacity: 0.4;
      cursor: pointer;
      transition: background 0.3s;

      &::before {
        content: '';
        position: absolute;
        top: calc(50% - 0.5em);
        left: calc(50% - 0.5em);
        font-size: 16px;
        height: 1em;
        width: 1em;
        border-radius: inherit;
        border: 1px solid var(--nsw-grey-02);
        opacity: 0;
        transform: scale(0);
        transition: 3s;
      }
      
      &:focus {
        outline: none;
      }
      
      &:focus::before {
        opacity: 1;
        transform: scale(1);
      }
    }

    &--selected button {
      opacity: 1;
    }

    @supports (grid-area: auto) {
      margin: 0;
    }
  }

  &__counter {
    order: 1;
    margin-bottom: 0.5rem;

    @include breakpoint('md') {
      margin-bottom: 0.75rem;
    }

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-size: 0.833rem;
  
        @include breakpoint('md') {
          font-size: 1rem;
        }
      }

      > nav {
        order: 1;
        margin-bottom: 0.5rem;

        @include breakpoint('md') {
          margin-bottom: 0.75rem;
        }
    
        ul {
          display: flex;
          justify-content: flex-end;
          gap: 0.25rem;

          @include breakpoint('md') {
            gap: 0.375rem;
          }
        }
      }
    }
  }

  &.carousel--hide-controls {
    .carousel__navigation,
    .carousel__control {
      display: none;
    }
  }
}

.carousel-v3 {
  width: calc(100% - 2*1.25rem);
  margin-left: auto;
  margin-right: auto;
  max-width: 64rem;

  @include breakpoint('md') {
    width: calc(100% - 2*2rem);
  }

  .carousel__wrapper {
    position: relative;
    order: revert;
    overflow: revert;

    nav {
      ul {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        pointer-events: none;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }
  }

  &.carousel:not(.carousel--is-dragging) .carousel__list:not(.carousel__list--animating) .carousel__item[tabindex='-1'] > * {
    visibility: visible;
  }

  &__control {
    --size: 60px;
    height: var(--size);
    width: var(--size);
    background-color: rgba(var(--nsw-black-rgb), 0.7);
    backdrop-filter: blur(10px);
    pointer-events: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;

    &:hover {
      background-color: rgba(var(--nsw-black-rgb), 0.9);
    }
    
    &[disabled] {
      display: none;
    }
    
    &:active {
      transform: translateY(2px);
    }
    
    .nsw-icon {
      --size: 20px;
      display: block;
      color: var(--nsw-white);
    }
  }
}

.carousel-v2 {
  .carousel__wrapper:hover .carousel-v2__control {
    opacity: 1;
  }

  .carousel__wrapper {
    position: relative;
    overflow: hidden;
    order: revert;

    nav {
      ul {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        pointer-events: none;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }
  }

  .carousel__list {
    align-items: center;
  }

  &__control {
    --size: 60px;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    background-color: rgba(var(--nsw-black-rgb), 0.7);
    backdrop-filter: blur(10px);
    pointer-events: auto;
    cursor: pointer;
    margin: 0 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;

    @include breakpoint('md') {
      margin: 0 0.5625rem;
    }

    &:hover {
      background-color: rgba(var(--nsw-black-rgb), 0.9);
    }
    
    &[disabled] {
      display: none;
    }
    
    &:active {
      transform: translateY(2px);
    }
    
    .nsw-icon {
      --size: 20px;
      display: block;
      color: var(--nsw-white);
    }

    @include breakpoint('md') {
      opacity: 0;
    }
  }

  &__navigation {
    display: none;
    grid-template-columns: repeat(auto-fit, 52px);
    grid-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 0.75rem;

    @include breakpoint('md') {
      grid-gap: 0.75rem;
      margin-top: 1.125rem;
    }

    @include breakpoint('md') {
      display: grid;
    }
  }

  &__navigation-item {
    display: inline-block;
    margin: 0 0.25rem;

    @include breakpoint('md') {
      margin: 0 0.375rem;
    }

    &:not(.carousel-v2__navigation-item--selected) button {
      cursor: pointer;

      &:hover::before {
        background-color: rgba(var(--nsw-palette-grey-02-rgb), 0.4);
        transition: 0.2s;
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      width: 52px;
      height: 24px;

      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: rgba(var(--nsw-palette-grey-02-rgb), 0.2);
      }
    }

    &--selected button::before {
      background-color: rgba(var(--nsw-palette-grey-02-rgb), 1);
    }

    @supports (grid-area: auto) {
      margin: 0;
    }
  }
}
