.nsw-carousel {
  position: relative;
  display: flex;
  flex-direction: column;

  ul,
  ol {
    list-style-type: none;
  }

  &__list {
    display: flex;
    flex-wrap: nowrap;
    will-change: transform;
  
    &--animating {
      transition-property: transform;
      transition-duration: 0.5s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }

  &__wrapper {
    order: 2;
    overflow: hidden;
  }

  nav {
    order: 1;
    margin-bottom: 0.5rem;

    @include breakpoint('md') {
      margin-bottom: 0.75rem;
    }

    ul {
      display: flex;
      gap: 0.25rem;
      justify-content: flex-end;

      @include breakpoint('md') {
        gap: 0.375rem;
      }
    }
  }

  &__item {
    flex-shrink: 0;
    opacity: 0;
    margin-bottom: 0;
  }

  &.carousel--loaded .nsw-carousel__item {
    opacity: 1;
  }

  &:not(.carousel--is-dragging) .nsw-carousel__list:not(.nsw-carousel__list--animating) .nsw-carousel__item[tabindex='-1'] > * {
    visibility: hidden;
  }

  &[data-drag=on] .nsw-carousel__item {
    user-select: none;
  
    img {
      pointer-events: none;
    }
  }

  &__control {
    --size: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    background-color: var(--nsw-white);
    border-radius: 50%;
    border: 2px solid var(--nsw-brand-dark);
    box-shadow: var(--nsw-box-shadow);
    z-index: 1;
    transition: 0.2s;

    svg {
      color: var(--nsw-brand-dark);
    }
  
    &:active {
      transform: translateY(1px);
    }
  
    &:hover {
      background-color: var(--nsw-white);
      box-shadow: var(--nsw-box-shadow);
    }
  
    &[disabled] {
      pointer-events: none;
      opacity: 0.5;
      box-shadow: none;
    }
  
    .nsw-icon {
      --size: 20px;
      display: block;
      margin: auto;
    }
  }

  &__navigation {
    order: 3;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 10px);
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 0.75rem;

    @include breakpoint('md') {
      gap: 0.75rem;
      margin-top: 1.125rem;
    }

    &--pagination {
      grid-template-columns: repeat(auto-fit, 24px);
    
      .nsw-carousel__nav-item button {
        width: 24px;
        height: 24px;
        color: var(--nsw-white);
        font-size: 12px;
        line-height: 24px;
        border-radius: 0.25em;
        text-align: center;
        border: 0;
    
        &:focus {
          outline: 1px solid var(--nsw-brand-dark);
          outline-offset: 2px;
        }
      }
    }
  }

  &__nav-item {
    display: inline-block;
    margin: 0 0.25rem;

    @include breakpoint('md') {
      margin: 0 0.375rem;
    }
  
    @supports (grid-area: auto) {
      margin: 0;
    }
  
    button {
      display: block;
      position: relative;
      font-size: 14px;
      height: 1em;
      width: 1em;
      border-radius: 50%;
      background-color: var(--nsw-grey-02);
      opacity: 0.4;
      cursor: pointer;
      transition: background 0.3s;
      border: 0;
  
      &::before {
        content: '';
        position: absolute;
        top: calc(50% - 0.5em);
        left: calc(50% - 0.5em);
        font-size: 20px;
        height: 1em;
        width: 1em;
        border-radius: inherit;
        border: 1px solid var(--nsw-grey-02);
        opacity: 0;
        transform: scale(0);
        transition: 3s;
      }
      
      &:focus {
        outline: none;
      }
      
      &:focus::before {
        opacity: 1;
        transform: scale(1);
      }
    }
    
    &--selected button {
      opacity: 1;
    }
  }

  &__counter {
    order: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    @include breakpoint('md') {
      margin-bottom: 0.75rem;
    }

    p {
      font-size: 0.833rem;

      @include breakpoint('md') {
        font-size: 1rem;
      }
    }
  }

  &.carousel--hide-controls .nsw-carousel__navigation,
  &.carousel--hide-controls .nsw-carousel__control {
    display: none;
  }
}

.hide {
  display: none;
}
