<div class="nsw-carousel carousel-v2 flex flex-column js-carousel" data-drag="on" data-loop="off" data-navigation="on" data-navigation-class="nsw-carousel__navigation" data-navigation-item-class="nsw-carousel__navigation-item">
  <p class="sr-only">Carousel items</p>

  <div class="nsw-carousel__wrapper position-relative overflow-hidden">
    <ol class="nsw-carousel__list items-center">
      <li class="nsw-carousel__item">
        <img class="width-100%" src="https://picsum.photos/id/28/1600/800" alt="Image description">
      </li>

      <li class="nsw-carousel__item">
        <img class="width-100%" src="https://picsum.photos/id/28/1600/800" alt="Image description">
      </li>

      <li class="nsw-carousel__item">
        <img class="width-100%" src="https://picsum.photos/id/28/1600/800" alt="Image description">
      </li>

      <li class="nsw-carousel__item">
        <img class="width-100%" src="https://picsum.photos/id/28/1600/800" alt="Image description">
      </li>

      <li class="nsw-carousel__item">
        <img class="width-100%" src="https://picsum.photos/id/28/1600/800" alt="Image description">
      </li>

      <li class="nsw-carousel__item">
        <img class="width-100%" src="https://picsum.photos/id/28/1600/800" alt="Image description">
      </li>

      <li class="nsw-carousel__item">
        <img class="width-100%" src="https://picsum.photos/id/28/1600/800" alt="Image description">
      </li>

      <li class="nsw-carousel__item">
        <img class="width-100%" src="https://picsum.photos/id/28/1600/800" alt="Image description">
      </li>

      <li class="nsw-carousel__item">
        <img class="width-100%" src="https://picsum.photos/id/28/1600/800" alt="Image description">
      </li>
    </ol>


  <nav>
    <ul class="position-absolute top-0 left-0 bottom-0 right-0 pointer-events-none flex items-center justify-between">
      <li>
        <button class="nsw-carousel__control carousel__control--prev carousel-v2__control carousel-v2__control--prev js-carousel__control">
          <svg class="nsw-icon" viewBox="0 0 20 20">
            <title>Show previous items</title>
            <polyline points="13 2 5 10 13 18" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
          </svg>
        </button>
      </li>
      <li>
        <button class="nsw-carousel__control carousel__control--next carousel-v2__control carousel-v2__control--next js-carousel__control">
          <svg class="nsw-icon" viewBox="0 0 20 20">
            <title>Show next items</title>
            <polyline points="7 2 15 10 7 18" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
          </svg>
        </button>
      </li>
    </ul>
  </nav>
  </div>
</div>