---
title: Carousel
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p></p>

<h2>When to avoid</h2>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>