---
title: Carousel
width: wide
tabs: true
directory: carousel
intro: 
model:
  carousel: ../../components/carousel/json/carousel.json
meta-description: 
meta-index: true
---

{{#>_docs-example showcode=true separated=true}}
<div style="width: 1035px;">
  {{>_carousel model.carousel}}
</div>
{{/_docs-example}}

{{#>_docs-code}}  
{{>_carousel model.carousel}}
{{/_docs-code}}

