---
title: Carousel
width: wide
tabs: true
directory: carousel
intro: 
model:
  carousel: ../../components/carousel/json/carousel.json
meta-description: 
meta-index: true
---


{{#>_docs-example showcode=true separated=true}}
<div class="nsw-grid" style="width: 1035px;">
  {{>_carousel model.carousel}}
</div>
{{/_docs-example}}

{{#>_docs-code}}  
{{>_carousel model.carousel}}
{{/_docs-code}}

<h3>Loop off</h3>

{{#>_docs-example showcode=true separated=true}}
<div class="nsw-grid" style="width: 1035px;">
  {{>_carousel model.carousel loop="true"}}
</div>
{{/_docs-example}}

{{#>_docs-code}}  
{{>_carousel model.carousel loop="true"}}
{{/_docs-code}}

<h3>Pagination</h3>

{{#>_docs-example showcode=true separated=true}}
<div class="nsw-grid" style="width: 1035px;">
  {{>_carousel model.carousel pagination="true"}}
</div>
{{/_docs-example}}

{{#>_docs-code}}  
{{>_carousel model.carousel pagination="true"}}
{{/_docs-code}}

<h3>Counter</h3>

{{#>_docs-example showcode=true separated=true}}
<div class="nsw-grid" style="width: 1035px;">
  {{>_carousel model.carousel counter="true"}}
</div>
{{/_docs-example}}

{{#>_docs-code}}  
{{>_carousel model.carousel counter="true"}}
{{/_docs-code}}