<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Accordion</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="/nsw-design-system/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
</head>

<body class="nsw-body-content">

<div class="nsw-container nsw-p-y-sm">
  <div class="nsw-page-layout">
    <main class="nsw-page-layout__main">
  		<div class="nsw-accordion js-accordion">
  		  <div class="nsw-accordion__toggle">
  		    <button type="button">Expand all</button>
  		    <button type="button">Collapse all</button>
  		  </div>
  		  <div class="nsw-accordion__title">First Home Owner&#x27;s Grant (New Homes) scheme (FHOG)</div>
  		  <div class="nsw-accordion__content">
  		    <div class="nsw-wysiwyg-content">
  		      <p>Buying or building your first home? You may be eligible for a $10,000 grant under the First Home Owner's Grant (FHOG) scheme.</p><p>This grant scheme only applies to buying or building a new home.</p><p>You can make a claim if:</p><ul><li>your home is newly constructed and has a total value of less than $600,000</li><li>the land and the dwelling you intend to build has a combined value of less than $750,000.</li></ul>
  		    </div>
  		  </div>
  		  <div class="nsw-accordion__title">HomeBuilder program</div>
  		  <div class="nsw-accordion__content">
  		    <div class="nsw-wysiwyg-content">
  		      <p>If you are building a new home, you could also be able to apply for the Australian Government grant of $25,000. To be eligible you must:</p><ul><li>sign the contract between 4 June 2020 and 31 December 2020</li><li>commence within 3 months of the contract date.</li></ul><p>HomeBuilder complements the NSW Government’s existing First Home Owner Grant and stamp duty concessions.</p>
  		    </div>
  		  </div>
  		  <div class="nsw-accordion__title">First Home Buyer Assistance scheme (FHBAS)</div>
  		  <div class="nsw-accordion__content">
  		    <div class="nsw-wysiwyg-content">
  		      <p>The NSW Government recently announced increased thresholds for purchases of new homes and vacant land to build a new home from 1 August 2020.  The threshold for existing home purchases remains unchanged.</p>
  		    </div>
  		  </div>
  		</div>
  	</main>
  	<div class="nsw-page-layout__sidebar nsw-page-layout__sidebar--desktop"></div>
  </div>
</div>


  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
