---
title: Status labels
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Use to indicate a desired status to users or provide a state that requires attention. Status labels stand out from other content to draw a users attention to important content.</p>
<p>Do</p>
<ul>
  <li>place status labels as close to the element as possible to strengthen its connection</li>
  <li>use clear labels with short, scannable text (single words where possible)</li>
  <li>use adjectives rather than verbs so the user doesn’t think that clicking them will perform an action.</li>
</ul>

<h3>Types of status</h3>
<p>Status labels are styled according to their purpose:</p>
<ul>
  <li><strong>Information</strong> - Use when the status is informative or new and also has a neutral meaning (ie. new, coming  soon)</li>
  <li><strong>Success</strong> - Use to communicate a successful or positive status (ie. available, approved, completed etc)</li>
  <li><strong>Warning</strong> - Use to communicate when action is required or to avoid incurring an impending error (ie. missing information, expiring soon etc)</li>
  <li><strong>Error</strong> - Use to communicate an issue or failure that needs resolving (ie. expired, failed, cancelled etc)</li>
  <li><strong>Neutral</strong> - Use when a status is not available or does not fall into a state above (ie. inactive, not available, not provided etc)</li>
</ul>

<h2>When to avoid</h2>
<p>Do not use</p>
<ul>
  <li>to filter content, consider tags</li>
  <li>as a link, consider text links</li>
  <li>to trigger an action, consider buttons</li>
</ul>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>