---
title: Inverted theming page - Full page recolour
order: 21
page: true
model:
  nav: ../../components/main-nav/json/main-nav.json
  accordion-1: ../../components/accordion/json/accordion.json
  accordion-2: ../../components/accordion/json/accordion-2.json
  breadcrumbs: ../../components/breadcrumbs/json/breadcrumbs.json
  callout: ../../components/callout/json/callout.json
  card-headline-1: ../../components/card/json/card-headline-1.json
  card-headline-2: ../../components/card/json/card-headline-2.json
  card-headline-3: ../../components/card/json/card-headline-3.json
  card-simple-1: ../../components/card/json/card-simple-1.json
  card-simple-2: ../../components/card/json/card-simple-2.json
  card-simple-3: ../../components/card/json/card-simple-3.json
  card-content-1: ../../components/card/json/card-content-1.json
  card-content-2: ../../components/card/json/card-content-2.json
  card-content-3: ../../components/card/json/card-content-3.json
  card-news-1: ../../components/card/json/card-news-1.json
  card-news-2: ../../components/card/json/card-news-2.json
  card-news-3: ../../components/card/json/card-news-3.json
  card-media-1: ../../components/card/json/card-media-1.json
  card-media-2: ../../components/card/json/card-media-2.json
  content-block-text-1: ../../components/content-block/json/content-block-text-1.json
  content-block-text-2: ../../components/content-block/json/content-block-text-2.json
  content-block-text-3: ../../components/content-block/json/content-block-text-3.json
  content-block-icon-1: ../../components/content-block/json/content-block-icon-1.json
  content-block-icon-2: ../../components/content-block/json/content-block-icon-2.json
  content-block-icon-3: ../../components/content-block/json/content-block-icon-3.json
  content-block-image-1: ../../components/content-block/json/content-block-image-1.json
  content-block-image-2: ../../components/content-block/json/content-block-image-2.json
  content-block-image-3: ../../components/content-block/json/content-block-image-3.json
  content-block-1: ../../components/content-block/json/content-block-1.json
  content-block-2: ../../components/content-block/json/content-block-2.json
  content-block-3: ../../components/content-block/json/content-block-3.json
  content-block-4: ../../components/content-block/json/content-block-4.json
  content-block-5: ../../components/content-block/json/content-block-5.json
  content-block-6: ../../components/content-block/json/content-block-6.json
  dialog-transactional: ../../components/dialog/json/dialog-transactional.json
  dialog-single-cta: ../../components/dialog/json/dialog-single-cta.json
  dialog-danger: ../../components/dialog/json/dialog-danger.json
  dialog-dismissible: ../../components/dialog/json/dialog-dismissible.json
  options-1: ../../components/filters/json/options-1.json
  options-2: ../../components/filters/json/options-2.json
  options-3: ../../components/filters/json/options-3.json
  footer: ../../components/footer/json/footer.json
  select: ../../components/select/json/select-region.json
  global-alert: ../../components/global-alert/json/global-alert.json
  square: ../../components/header/json/header-square.json
  rectangular: ../../components/header/json/header-rectangular.json
  hero-search: ../../components/hero-search/json/hero-search.json
  info: ../../components/in-page-alert/json/in-page-alert-info.json
  error: ../../components/in-page-alert/json/in-page-alert-error.json
  warning: ../../components/in-page-alert/json/in-page-alert-warning.json
  success: ../../components/in-page-alert/json/in-page-alert-success.json
  in-page-nav: ../../components/in-page-nav/json/in-page-nav.json
  link-list: ../../components/link-list/json/link-list.json
  list-item: ../../components/list-item/json/list-item.json
  list-item-url: ../../components/list-item/json/list-item-url.json
  list-item-label-date: ../../components/list-item/json/list-item-label-date.json
  list-item-label-tags: ../../components/list-item/json/list-item-label-tags.json
  list-item-image: ../../components/list-item/json/list-item-image.json
  basic: ../../components/main-nav/json/main-nav.json
  mega: ../../components/main-nav/json/main-nav-mega.json
  pagination: ../../components/pagination/json/pagination.json
  popover: ../../components/popover/json/popover.json
  progress-indicator: ../../components/progress-indicator/json/progress-indicator.json
  results-bar: ../../components/results-bar/json/results-bar.json
  region: ../../components/select/json/select-region.json
  savings-program: ../../components/select/json/select-savings-program.json
  single-level: ../../components/side-nav/json/side-nav.json
  two-level: ../../components/side-nav/json/side-nav-level-2.json
  four-level: ../../components/side-nav/json/side-nav-level-4.json
  status-labels: ../../components/status-labels/json/status-labels.json
  tabs: ../../components/tabs/json/tabs.json
  link: ../../components/tag/json/tag-link.json
  text: ../../components/tag/json/tag-text.json
  checkbox: ../../components/tag/json/tag-checkbox.json
  utility-list: ../../components/utility-list/json/utility-list.json
---

<style type="text/css">
  .nsw-header__main {
    width: 100%;
  }
</style>

{{>_masthead content="#content" nav="#main-nav"}}

<header class="nsw-header">
  <div class="nsw-header__container">
    <div class="nsw-header__inner">
      <div class="nsw-header__main">
        <div class="nsw-header__waratah">
          <a href="/">
            <svg class="nsw-header__waratah-gov" viewBox="0 0 259 280" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="hide" fill-rule="evenodd" clip-rule="evenodd" d="M24.208 270.207h-5.045v-4.277l11.15.054v13.676H26.08v-2.491c-.266.278-.553.556-.86.833-.673.585-1.49 1.07-2.433 1.434-.96.373-2.143.564-3.513.564-2.33 0-4.385-.539-6.109-1.6-1.727-1.065-3.073-2.594-4.007-4.538-.926-1.927-1.395-4.231-1.395-6.85 0-2.657.494-4.994 1.47-6.946.971-1.96 2.363-3.498 4.132-4.571 1.768-1.065 3.849-1.604 6.183-1.604 1.515 0 2.915.245 4.156.725 1.255.485 2.36 1.157 3.273 1.985a9.61 9.61 0 0 1 2.192 2.852 8.196 8.196 0 0 1 .872 3.319l.021.435h-6.038l-.062-.339a5.22 5.22 0 0 0-.814-1.981 4.562 4.562 0 0 0-1.537-1.43c-.614-.352-1.345-.531-2.175-.531-1.005 0-1.931.261-2.741.775-.806.51-1.458 1.351-1.935 2.495-.486 1.169-.731 2.74-.731 4.679 0 1.579.162 2.897.482 3.925.311 1.011.739 1.819 1.266 2.403.523.581 1.117.991 1.773 1.219a6.036 6.036 0 0 0 2.089.369c.669 0 1.27-.112 1.79-.328.523-.224.98-.514 1.354-.866.377-.356.676-.746.884-1.152.216-.41.349-.816.399-1.21l.14-1.028Zm20.878-16.312c2.354 0 4.435.534 6.179 1.587 1.752 1.061 3.13 2.59 4.086 4.546.947 1.935 1.428 4.281 1.428 6.967 0 2.648-.473 4.969-1.412 6.9-.946 1.948-2.317 3.469-4.073 4.521-1.744 1.053-3.837 1.583-6.212 1.583-2.396 0-4.502-.534-6.254-1.583-1.753-1.044-3.135-2.557-4.099-4.505-.947-1.927-1.428-4.252-1.428-6.912 0-2.673.486-5.015 1.449-6.954.968-1.956 2.355-3.486 4.12-4.551 1.764-1.061 3.853-1.599 6.216-1.599Zm0 21.185c1.117 0 2.093-.265 2.898-.787.802-.523 1.433-1.372 1.881-2.516.453-1.185.686-2.772.686-4.712 0-1.993-.237-3.618-.698-4.832-.444-1.181-1.08-2.056-1.885-2.603-.814-.543-1.782-.82-2.878-.82-1.1 0-2.072.277-2.886.82-.81.543-1.453 1.422-1.906 2.611-.47 1.223-.706 2.843-.706 4.82 0 1.944.237 3.531.702 4.712.452 1.148 1.092 1.997 1.902 2.515.81.527 1.781.792 2.89.792Zm23.764-2.93-6.162-17.829H57.09l8.654 25.251h6.195l8.73-25.251h-5.607L68.85 272.15Zm30.312-2.827H88.863v5.206l12.043.016v5.027H83.103v-25.251h17.632l-.016 4.99H88.892v5.089h10.27v4.923Zm22.482-1.529c.685-.613 1.246-1.401 1.678-2.341.419-.933.635-2.081.635-3.419 0-1.497-.311-2.835-.93-3.983-.619-1.169-1.599-2.093-2.919-2.756-1.3-.647-2.973-.974-4.975-.974h-10.738v25.243h5.759v-9.404h4.24l3.991 9.404h6.046l-4.651-10.456c.673-.357 1.3-.8 1.864-1.314Zm-3.513-5.64c0 .999-.336 1.79-1.025 2.428-.69.63-1.649.949-2.857.949h-4.095v-6.606h4.456c1.038 0 1.873.286 2.545.875.657.576.976 1.347.976 2.354Zm15.159-7.833 10.527 15.23v-15.23h5.776v25.251h-5.086l-10.98-15.86v15.86h-5.759v-25.251h5.522Zm33.949 16.461-5.29-16.461h-7.894v25.251h5.809v-16.266l5.124 16.266h4.485l5.162-16.357v16.357h5.826v-25.251h-7.878l-5.344 16.461Zm33.727-1.459h-10.298v5.206l12.046.016v5.027h-17.806v-25.251h17.636l-.021 4.99h-11.818v5.089h10.261v4.923Zm21.494.228-10.523-15.23h-5.527v25.251h5.756v-15.86l10.979 15.86h5.087v-25.251h-5.772v15.23Zm15.586-10.004h-7.388v-5.226h20.402v5.226h-7.217v20.025h-5.797v-20.025Z" fill="#002664"></path>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M146.699 209.236c-1.482-2.395-3.717-4.571-6.64-6.465-2.919-1.894-6.897-3.34-11.81-4.297l-13.678-2.814c-4.132-.891-6.981-2.043-8.468-3.419-1.449-1.343-2.184-3.129-2.184-5.309 0-1.388.316-2.652.943-3.759.623-1.111 1.528-2.093 2.687-2.922 1.166-.828 2.616-1.483 4.306-1.943 1.711-.469 3.633-.705 5.714-.705 2.74 0 5.211.361 7.346 1.078 2.109.713 3.857 1.881 5.194 3.481 1.338 1.6 2.16 3.775 2.442 6.465l.038.373h16.971l-.008-.427c-.075-4.575-1.371-8.773-3.85-12.474-2.483-3.705-6.141-6.681-10.879-8.852-4.726-2.164-10.623-3.262-17.528-3.262-5.801 0-11.117 1.011-15.805 3.009-4.7 2.002-8.475 4.89-11.212 8.587-2.749 3.717-4.12 8.164-4.078 13.224.112 6.175 1.99 11.186 5.577 14.903 3.576 3.697 8.476 6.158 14.567 7.306l13.795 2.81c2.529.502 4.825 1.16 6.823 1.96 1.96.784 3.525 1.803 4.651 3.03 1.1 1.197 1.657 2.772 1.657 4.67 0 2.114-.694 3.9-2.06 5.301-1.4 1.434-3.301 2.515-5.643 3.224-2.388.721-5.058 1.086-7.936 1.086-2.807 0-5.394-.435-7.686-1.297-2.28-.85-4.194-2.093-5.689-3.693-1.491-1.591-2.513-3.585-3.04-5.918l-.075-.327H83.846l.045.46c.407 4.045 1.666 7.629 3.738 10.659 2.068 3.009 4.717 5.545 7.873 7.551 3.148 1.993 6.677 3.514 10.494 4.513a46.33 46.33 0 0 0 11.693 1.5c6.466 0 12.2-1.019 17.046-3.034 4.867-2.022 8.717-4.807 11.449-8.276 2.753-3.493 4.148-7.476 4.148-11.848 0-2.064-.232-4.36-.697-6.822-.478-2.482-1.466-4.948-2.936-7.327ZM25.937 191.763l36.916 53.312H77.87v-79.724H61.072v51.282L25.754 165.53l-.125-.179H9.19v79.724h16.748v-53.312Zm196.637 24.577 14.388-50.987h16.457l-23.587 79.724h-13.367l-14.554-50.469-14.659 50.469h-13.147l-23.533-79.724h16.511l14.384 50.979 14.389-50.979h12.167l14.551 50.987Z" fill="#002664"></path>
              <path d="M122.291 145.572c-19.75-2.424-38.934 3.904-72.69-5.263-3.447-.937-4.718 2.694-2.854 5.736 9.07 14.803 54.881 3.203 75.635 1.065.906-.095.814-1.426-.091-1.538ZM208.735 140.309c-33.756 9.167-52.941 2.839-72.691 5.263-.905.112-1 1.447-.091 1.538 20.759 2.138 66.566 13.738 75.635-1.065 1.864-3.042.594-6.673-2.853-5.736ZM59.882 119.132c-6.864-10.058-12.474-21.31-16.818-33.69-13.101 3.826-26.51 9.346-40.16 16.57a5.388 5.388 0 0 0-2.902 4.67 5.38 5.38 0 0 0 2.653 4.812c26.431 15.802 52.273 24.841 76.93 26.933-7.34-4.475-14.072-11.044-19.703-19.295ZM23.059 85.513a201.529 201.529 0 0 1 17.976-6.233c-2.126-6.896-3.87-14.12-5.249-21.658-6.827-.85-13.89-1.4-21.199-1.641-.062 0-.128-.004-.19-.004a5.391 5.391 0 0 0-4.647 2.602 5.383 5.383 0 0 0-.12 5.483c4.243 7.659 8.724 14.808 13.429 21.45ZM88.005 135.572c4.099 1.807 8.293 2.818 12.358 3.029-9.953-7.12-17.773-19.192-22.278-34.58-5.805-19.81-7.745-41.666-5.83-65.247-7.832-4.936-16.32-9.557-25.46-13.85a5.428 5.428 0 0 0-5.402.43 5.396 5.396 0 0 0-2.388 4.841c2.126 34.215 10.95 62.915 26.223 85.298 6.404 9.391 14.281 16.332 22.777 20.079ZM107.488 23.577A253.323 253.323 0 0 0 92.235 6.735c-1.063-1.078-2.433-1.65-3.85-1.65-.506 0-1.017.075-1.523.224-1.923.568-3.314 2.106-3.733 4.115-1.072 5.164-3.11 15.69-4.012 26.101 7.014 4.613 13.492 9.49 19.426 14.621 2.3-8.757 5.29-17.63 8.945-26.569ZM255.42 102.007c-13.65-7.223-27.058-12.744-40.16-16.569-4.343 12.38-9.953 23.631-16.818 33.689-5.63 8.255-12.362 14.82-19.708 19.296 24.658-2.093 50.5-11.132 76.931-26.934 1.715-1.024 2.707-2.822 2.653-4.811-.045-1.99-1.133-3.734-2.898-4.671ZM235.273 85.513c4.705-6.643 9.186-13.796 13.43-21.455.963-1.74.922-3.788-.121-5.483a5.4 5.4 0 0 0-4.837-2.598c-7.309.24-14.377.796-21.199 1.641-1.375 7.539-3.123 14.762-5.249 21.658a203.803 203.803 0 0 1 17.976 6.237ZM180.247 104.025c-4.505 15.384-12.329 27.46-22.278 34.58 4.065-.211 8.263-1.227 12.358-3.034 8.496-3.746 16.373-10.688 22.777-20.075 15.273-22.383 24.097-51.082 26.223-85.297a5.394 5.394 0 0 0-2.388-4.84 5.428 5.428 0 0 0-5.402-.432c-9.14 4.29-17.628 8.91-25.46 13.85 1.915 23.582-.029 45.434-5.83 65.248ZM179.214 35.52c-.901-10.406-2.94-20.932-4.011-26.1-.416-2.01-1.811-3.547-3.733-4.115a5.39 5.39 0 0 0-1.524-.224c-1.416 0-2.787.572-3.85 1.65-5.485 5.549-10.568 11.164-15.252 16.842 3.654 8.939 6.644 17.812 8.949 26.565 5.934-5.127 12.407-10.005 19.421-14.617ZM129.144 87.229c6.64-13.092 17.246-24.829 25.21-32.243-4.372-17.779-11.104-34.55-20.397-52.097C132.998 1.078 131.195 0 129.148 0s-3.845 1.082-4.808 2.889c-9.389 17.604-16.237 35.122-20.377 52.093 8.313 7.688 19.28 20.224 25.181 32.247Z" fill="#D7153A"></path>
              <path d="M153.541 133.686c6.885-4.833 13.77-13.254 18.139-24.97 8.458-22.681 9.334-47.945 8.122-65.823-15.331 10.215-39.665 31.55-47.975 54.36-3.911 10.734-5.734 25.355-2.72 33.511 1.259 3.411 3.401 5.997 6.345 7.227 4.46 1.865 11.312.456 18.089-4.305ZM125.713 95.261c-2.027-4.724-4.261-9.18-7.728-14.186-9.809-14.16-23.026-26.933-39.475-38.185-.17 2.652-2.57 31.297 5.851 59.304 6.408 21.302 17.354 29.98 23.354 33.333 6.038 3.369 11.561 4.165 18.039 2.557-6.565-8.935-5.747-27.27-.041-42.823Z" fill="#D7153A"></path>
            </svg>
            <span class="sr-only">NSW Government</span>
          </a>
        </div>
        <div class="nsw-header__name">
          <div class="nsw-header__title">Theme</div>
        </div>
      </div>
      <fieldset class="nsw-color-swatches js-color-swatches">
          <legend class="nsw-color-swatches__legend" aria-live="polite" aria-atomic="true">Color: <span class="nsw-color-swatches__color js-color-swatches__color">Blue 01</span></legend>

          <select class="js-color-swatches__select" aria-label="Select a color"></select>
        </fieldset>
    </div>
  </div>
</header>

{{#>_docs-inverted id="typography" component="Typography"}}
  {{>_typography}}
{{/_docs-inverted}}

{{#>_docs-inverted id="iconography" component="Iconography"}}
  <div class="nsw-list nsw-list--8">
    {{>_icon code="east"}}
    {{>_icon code="keyboard_arrow_right"}}
    {{>_icon code="menu"}}
    {{>_icon code="search"}}
    {{>_icon code="close"}}
    {{>_icon code="info"}}
    {{>_icon code="check_circle"}}
    {{>_icon code="error"}}
    {{>_icon code="cancel"}}
  </div>

  <div class="nsw-list nsw-list--8">
    {{>_icon code="east" size="20"}}
    {{>_icon code="east" size="24"}}
    {{>_icon code="east" size="30"}}
    {{>_icon code="east" size="36"}}
  </div>

  <div class="nsw-list nsw-list--8">
    {{>_icon code="east" type="brand"}}
    {{>_icon code="info" type="info"}}
    {{>_icon code="check_circle" type="success"}}
    {{>_icon code="error" type="warning"}}
    {{>_icon code="cancel" type="error"}}
  </div>

  <div class="nsw-list nsw-list--8">
    {{>_icon code="east"}}
    {{>_icon code="east" rotate="90"}}
    {{>_icon code="east" rotate="180"}}
    {{>_icon code="east" rotate="270"}}
  </div>

  <div class="nsw-list nsw-list--8">
    <a class="nsw-icon-button">
      {{>_icon code="home"}}
      <span class="sr-only">Home</span>
    </a>

    <button class="nsw-icon-button" type="button">
      {{>_icon code="search"}}
      <span class="sr-only">Search</span>
    </button>

    <a class="nsw-icon-button" href="#" target="_blank" rel="noopener">
      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#1578f2" d="M32 16.098C32 7.207 24.837 0 16 0S0 7.207 0 16.098C0 24.133 5.851 30.793 13.5 32V20.751H9.437v-4.653H13.5v-3.547c0-4.035 2.389-6.263 6.043-6.263 1.751 0 3.582.314 3.582.314v3.962h-2.018c-1.988 0-2.607 1.241-2.607 2.514v3.02h4.438l-.709 4.653h-3.728V32c7.649-1.208 13.5-7.867 13.5-15.902z"/></svg>
      <span class="sr-only">Facebook</span>
    </a>
  </div>
{{/_docs-inverted}}

{{#>_docs-inverted id="section" component="Sections"}}
  {{>_section type="box" name="Box"}}
  {{>_section theme="brand-dark" name="Brand Dark"}}
  {{>_section theme="brand-light" name="Brand Light"}}
  {{>_section theme="brand-supplementary" name="Brand Supplementary"}}
{{/_docs-inverted}}

{{#>_docs-inverted id="accordion" component="Accordion"}}
  {{>_accordion model.accordion-1}}
  {{>_accordion model.accordion-2}}
{{/_docs-inverted}}

{{#>_docs-inverted id="back-to-top" component="Back to top"}}
  {{>_back-to-top}}
{{/_docs-inverted}}

{{#>_docs-inverted id="breadcrumbs" component="Breadcrumbs"}}
  {{>_breadcrumbs model.breadcrumbs}}
{{/_docs-inverted}}

{{#>_docs-inverted id="button" component="Buttons"}}
  <!-- Brand Dark -->
  <div class="nsw-list nsw-list--8">
    {{>_button-link url="#" style="dark" text="Link"}}
    {{>_button-link url="#" style="dark" text="Link icon" icon="upload"}}
    {{>_button type="button" style="dark" text="Button"}}
    {{>_button type="button" style="dark" text="Button link" icon="download" icon-after="true"}}
    {{>_button-input type="button" style="dark" text="Input"}}
    {{>_button-input type="button" style="dark" text="Disabled" isDisabled=true}}
    {{>_button type="button" style="dark" text="Full Width" isFullWidth=true}}
  </div>

  <!-- Brand Dark Outline -->
  <div class="nsw-list nsw-list--8">
    {{>_button-link url="#" style="dark-outline" text="Link"}}
    {{>_button-link url="#" style="dark-outline" text="Link icon" icon="upload"}}
    {{>_button type="button" style="dark-outline" text="Button"}}
    {{>_button type="button" style="dark-outline" text="Button link" icon="download" icon-after="true"}}
    {{>_button-input type="button" style="dark-outline" text="Input"}}
    {{>_button-input type="button" style="dark-outline" text="Disabled" isDisabled=true}}
    {{>_button type="button" style="dark-outline" text="Full Width" isFullWidth=true}}
  </div>

  <!-- Brand Dark Outline Solid -->
  <div class="nsw-list nsw-list--8">
    {{>_button-link url="#" style="dark-outline-solid" text="Link"}}
    {{>_button-link url="#" style="dark-outline-solid" text="Link icon" icon="upload"}}
    {{>_button type="button" style="dark-outline-solid" text="Button"}}
    {{>_button type="button" style="dark-outline-solid" text="Button link" icon="download" icon-after="true"}}
    {{>_button-input type="button" style="dark-outline-solid" text="Input"}}
    {{>_button-input type="button" style="dark-outline-solid" text="Disabled" isDisabled=true}}
    {{>_button type="button" style="dark-outline-solid" text="Full Width" isFullWidth=true}}
  </div>

  <!-- Brand Light -->
  <div class="nsw-list nsw-list--8">
    {{>_button-link url="#" style="light" text="Link"}}
    {{>_button-link url="#" style="light" text="Link icon" icon="upload"}}
    {{>_button type="button" style="light" text="Button"}}
    {{>_button type="button" style="light" text="Button link" icon="download" icon-after="true"}}
    {{>_button-input type="button" style="light" text="Input"}}
    {{>_button-input type="button" style="light" text="Disabled" isDisabled=true}}
    {{>_button type="button" style="light" text="Full Width" isFullWidth=true}}
  </div>

  <!-- Brand Light Outline -->
  <div class="nsw-list nsw-list--8">
    {{>_button-link url="#" style="light-outline" text="Link"}}
    {{>_button-link url="#" style="light-outline" text="Link icon" icon="upload"}}
    {{>_button type="button" style="light-outline" text="Button"}}
    {{>_button type="button" style="light-outline" text="Button link" icon="download" icon-after="true"}}
    {{>_button-input type="button" style="light-outline" text="Input"}}
    {{>_button-input type="button" style="light-outline" text="Disabled" isDisabled=true}}
    {{>_button type="button" style="light-outline" text="Full Width" isFullWidth=true}}
  </div>

  <!-- White -->
  <div class="nsw-list nsw-list--8">
    {{>_button-link url="#" style="white" text="Link"}}
    {{>_button-link url="#" style="white" text="Link icon" icon="upload"}}
    {{>_button type="button" style="white" text="Button"}}
    {{>_button type="button" style="white" text="Button link" icon="download" icon-after="true"}}
    {{>_button-input type="button" style="white" text="Input"}}
    {{>_button-input type="button" style="white" text="Disabled" isDisabled=true}}
    {{>_button type="button" style="white" text="Full Width" isFullWidth=true}}
  </div>

  <!-- White Outline -->
  <div class="nsw-list nsw-list--8">
    {{>_button-link url="#" style="white-outline" text="Link"}}
    {{>_button-link url="#" style="white-outline" text="Link icon" icon="upload"}}
    {{>_button type="button" style="white-outline" text="Button"}}
    {{>_button type="button" style="white-outline" text="Button link" icon="download" icon-after="true"}}
    {{>_button-input type="button" style="white-outline" text="Input"}}
    {{>_button-input type="button" style="white-outline" text="Disabled" isDisabled=true}}
    {{>_button type="button" style="white-outline" text="Full Width" isFullWidth=true}}
  </div>

  <!-- Danger -->
  <div class="nsw-list nsw-list--8">
    {{>_button-link url="#" style="danger" text="Link"}}
    {{>_button-link url="#" style="danger" text="Link icon" icon="upload"}}
    {{>_button type="button" style="danger" text="Button"}}
    {{>_button type="button" style="danger" text="Button link" icon="download" icon-after="true"}}
    {{>_button-input type="button" style="danger" text="Input"}}
    {{>_button-input type="button" style="danger" text="Disabled" isDisabled=true}}
    {{>_button type="button" style="danger" text="Full Width" isFullWidth=true}}
  </div>
{{/_docs-inverted}}

{{#>_docs-inverted id="callout" component="Callout"}}
  {{>_callout model.callout}}
{{/_docs-inverted}}

{{#>_docs-inverted id="card" component="Cards"}}
<div class="nsw-grid">
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    {{>_card model.card-headline-1}}
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    {{>_card model.card-headline-2 theme="light"}}
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    {{>_card model.card-headline-3 theme="dark"}}
  </div>
</div>

<div class="nsw-grid">
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    {{>_card model.card-headline-1 highlight=true}}
  </div>
</div>

<div class="nsw-grid">
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    {{>_card model.card-simple-1}}
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    {{>_card model.card-simple-2 theme="light"}}
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    {{>_card model.card-simple-3 theme="dark"}}
  </div>
</div>

<div class="nsw-grid">
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    {{>_card model.card-simple-1 highlight=true}}
  </div>
</div>

<div class="nsw-grid">
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    {{>_card model.card-content-1}}
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    {{>_card model.card-content-2 theme="light"}}
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    {{>_card model.card-content-3 theme="dark"}}
  </div>
</div>

<div class="nsw-grid">
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    {{>_card model.card-content-1 highlight=true}}
  </div>
</div>

<div class="nsw-grid">
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    {{>_card model.card-news-1}}
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    {{>_card model.card-news-2 theme="light"}}
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    {{>_card model.card-news-3 theme="dark"}}
  </div>
</div>

<div class="nsw-grid">
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    {{>_card model.card-news-1 highlight=true}}
  </div>
</div>

<div class="nsw-grid">
  <div class="nsw-col nsw-col-lg-6">
    {{>_card model.card-media-1 horizontal=true}}
  </div>
  <div class="nsw-col nsw-col-lg-6">
    {{>_card model.card-media-2 horizontal=true theme="light"}}
  </div>
</div>

<div class="nsw-grid">
  <div class="nsw-col nsw-col-lg-6">
    {{>_card model.card-media-1 horizontal=true highlight=true}}
  </div>
</div>
{{/_docs-inverted}}

{{#>_docs-inverted id="card-carousel" component="Card carousel"}}
  <!-- card-carousel goes here -->
{{/_docs-inverted}}

{{#>_docs-inverted id="close-button" component="Close button"}}
  <div class="nsw-list nsw-list--8">
    {{>_close-button code="close" sr="Close" size="20"}}
    {{>_close-button code="close" sr="Close" size="24"}}
    {{>_close-button code="close" sr="Close" size="30"}}
    {{>_close-button code="close" sr="Close" size="36"}}
  </div>
{{/_docs-inverted}}

{{#>_docs-inverted id="content-block" component="Content block"}}
  <div class="nsw-grid nsw-grid--spaced">
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
      {{>_content-block model.content-block-text-1}}
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
      {{>_content-block model.content-block-text-2}}
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
      {{>_content-block model.content-block-text-3}}
    </div>
  </div>

  <div class="nsw-grid nsw-grid--spaced">
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
      {{>_content-block model.content-block-icon-1}}
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
      {{>_content-block model.content-block-icon-2}}
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
      {{>_content-block model.content-block-icon-3}}
    </div>
  </div>

  <div class="nsw-grid nsw-grid--spaced">
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
      {{>_content-block model.content-block-image-1}}
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
      {{>_content-block model.content-block-image-2}}
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
      {{>_content-block model.content-block-image-3}}
    </div>
  </div>
{{/_docs-inverted}}

{{#>_docs-inverted id="date-input" component="Date input"}}
  <!-- date-input goes here -->
{{/_docs-inverted}}

{{#>_docs-inverted id="date-picker" component="Date picker"}}
  <!-- date-picker goes here -->
{{/_docs-inverted}}

{{#>_docs-inverted id="dialog" component="Dialog"}}
  {{>_dialog model.dialog-transactional button-title="Launch transactional dialog"}}
  {{>_dialog model.dialog-single-cta button-title="Launch single CTA dialog"}}
  {{>_dialog model.dialog-danger button-title="Launch danger dialog"}}
  {{>_dialog model.dialog-dismissible button-title="Launch dismissible dialog"}}
{{/_docs-inverted}}

{{#>_docs-inverted id="file-upload" component="File upload"}}
  <div class="nsw-form">
    <div class="nsw-form__group">
      {{>_file-upload
      js=true
      id="file-upload-helper"
      label="Upload drivers license"
      helper-text="Formats accepted: JPG, PNG or PDF <br /> File size must not exceed 350MB"
      accept=true
      multiple=true
      replace=true
      }}
    </div>
  </div>

  <div class="nsw-form">
    <div class="nsw-form__group">
      {{>_file-upload
      js=true
      id="file-upload-error"
      label="Upload drivers license"
      helper-text="Formats accepted: JPG, PNG or PDF <br /> File size must not exceed 350MB"
      error-text="The selected file must be smaller than 350MB"
      accept=true
      }}
    </div>
  </div>
{{/_docs-inverted}}

{{#>_docs-inverted id="filters" component="Filters"}}
  <div class="nsw-row">
    <div class="nsw-col nsw-col-xl-4">
      <div class="nsw-docs__component">
        {{>_filters model.options-1 instant='true' filters-id='1'}}
      </div>
    </div>
    <div class="nsw-col nsw-col-xl-4">
      <div class="nsw-docs__component">
        {{>_filters model.options-2 instant='true' collapsed='true' js='true' filters-id='2'}}
      </div>
    </div>
  </div>

  <div class="nsw-row">
    <div class="nsw-col nsw-col-xl-4">
      <div class="nsw-docs__component">
        {{>_filters model.options-2 instant='true' down='true' js='true' no-count='true' filters-id='3'}}
      </div>
    </div>
    <div class="nsw-col nsw-col-xl-4">
      <div class="nsw-docs__component">
        {{>_filters model.options-3 instant='true' down='true' collapsed='true' js='true' filters-id='4'}}
      </div>
    </div>
  </div>

  <div class="nsw-row">
    <div class="nsw-col nsw-col-xl-4">
      <div class="nsw-docs__component">
        {{>_filters model.options-2 batch='true' right='true' js='true' filters-id='5'}}
      </div>
    </div>
    <div class="nsw-col nsw-col-xl-4">
      <div class="nsw-docs__component">
        {{>_filters model.options-3 batch='true' right='true' collapsed='true' js='true' filters-id='6'}}
      </div>
    </div>
  </div>

  <div class="nsw-row">
    <div class="nsw-col nsw-col-xl-4">
      <div class="nsw-docs__component">
        {{>_filters model.options-2 batch='true' multiple='true' down='true' js='true' filters-id='7'}}
      </div>
    </div>
    <div class="nsw-col nsw-col-xl-4">
      <div class="nsw-docs__component">
        {{>_filters model.options-3 batch='true' multiple='true' down='true' collapsed='true' js='true' no-count='true' filters-id='8'}}
      </div>
    </div>
  </div>
{{/_docs-inverted}}

{{#>_docs-inverted-blank id="footer" component="Footer"}}
  {{>_footer model.footer}}
  {{>_footer model.footer theme="dark" sectionLinks=""}}
  {{>_footer model.footer theme="light" sectionLinks=""}}
  {{>_footer model.footer social="true" sectionLinks=""}}
  {{>_footer model.footer theme="dark" social="true" sectionLinks=""}}
  {{>_footer model.footer theme="light" social="true" sectionLinks=""}}
{{/_docs-inverted-blank}}

{{#>_docs-inverted id="form" component="Form"}}
  <div class="nsw-form">
    <div class="nsw-form__group">
      {{>_text-input
        id="form-text-1"
        label="Name"
      }}
    </div>
    <div class="nsw-form__group">
      {{>_textarea
        id="form-textarea-1"
        label="Comment"
      }}
    </div>

    <div class="nsw-form__group">
      {{>_input-group
        id="form-input-group-1"
        label="Search"
      }}
    </div>
    <div class="nsw-form__group">
      {{>_input-group
        id="form-input-group-icon-1"
        label="Search"
        icon="search"
      }}
    </div>
    <div class="nsw-form__group">
      {{>_input-group
        id="form-input-group-icon-2"
        label="Search"
        icon="search"
        white=true
      }}
    </div>

    <div class="nsw-form__group">
      <label class="nsw-form__label" for="form-predictive-text-1">Suburb</label>
      <div class="nsw-form__predictive">
        <input class="nsw-form__input" type="text" id="form-predictive-text-1" name="form-predictive-text-1" value="Horn" aria-autocomplete="list" autocomplete="off">
        <ul class="nsw-form__predictive-list">
          <li><a href="#"><span>Horn</span>sby</a></li>
          <li><a href="#"><span>Horn</span>sby Heights</a></li>
          <li><a href="#"><span>Horn</span>ingsea Park</a></li>
        </ul>
      </div>
    </div>
    <br><br><br><br><br><br>
    <div class="nsw-form__group">
      <div class="nsw-form__predictive">
        {{>_input-group
          id="form-predictive-group-1"
          label="Search"
          value="Tran"
          predictive=true
        }}
        <ul class="nsw-form__predictive-list">
          <li><a href="#"><span>Tran</span>sport</a></li>
          <li><a href="#">Road <span>Tran</span>sport</a></li>
          <li><a href="#">Public <span>Tran</span>sport</a></li>
        </ul>
      </div>
    </div>
    <br><br><br><br><br><br>
    <div class="nsw-form__group">
      <div class="nsw-form__predictive">
        {{>_input-group
          id="form-predictive-group-icon-1"
          label="Search"
          value="Govern"
          icon="search"
          predictive=true
        }}
        <ul class="nsw-form__predictive-list">
          <li><a href="#"><span>Govern</span>ment</a></li>
          <li><a href="#"><span>Govern</span>ment payments</a></li>
          <li><a href="#"><span>Govern</span>ance</a></li>
        </ul>
      </div>
    </div>
    <br><br><br><br><br><br>

    <div class="nsw-form__group">
      {{>_date
        id="form-date-1"
        label="Date of birth"
      }}
    </div>

    <div class="nsw-form__group">
      {{>_select model.select
        id="form-select-1"
      }}
    </div>

    <div class="nsw-form__group">
      {{>_checkbox
        id="form-checkbox-1"
        name="form-checkbox-1"
        label="I agree to terms and conditions"
      }}
    </div>
    <div class="nsw-form__group">
      <fieldset class="nsw-form__fieldset">
        <legend>
          <span class="nsw-form__legend">Category</span>
        </legend>
        {{>_checkbox
          id="form-checkbox-multi-1-a"
          name="form-checkbox-multi-1"
          label="Customer Service"
        }}
        {{>_checkbox
          id="form-checkbox-multi-1-b"
          name="form-checkbox-multi-1"
          label="Communities and Justice"
          checked=true
        }}
      </fieldset>
    </div>

    <div class="nsw-form__group">
      <fieldset class="nsw-form__fieldset">
        <legend>
          <span class="nsw-form__legend">Topic</span>
        </legend>
        {{>_radio
          id="form-radio-1-a"
          name="form-radio-1"
          label="NSW Government"
          checked=true
        }}
        {{>_radio
          id="form-radio-1-b"
          name="form-radio-1"
          label="Business and Economy"
        }}
      </fieldset>
    </div>
  </div>

  <div class="nsw-form">
    <div class="nsw-form__group">
      {{>_text-input
        id="form-text-2"
        label="Name"
        helper-text="As it appears on your identity document"
      }}
    </div>
    <div class="nsw-form__group">
      {{>_textarea
        id="form-textarea-2"
        label="Comment"
        helper-text="Maximum 500 characters"
      }}
    </div>

    <div class="nsw-form__group">
      {{>_date
        id="form-date-2"
        label="Date of birth"
        helper-text="For example 08 12 1990"
      }}
    </div>

    <div class="nsw-form__group">
      {{>_select model.select
        id="form-select-2"
        helper-text="Your region of residence"
      }}
    </div>

    <div class="nsw-form__group">
      <fieldset class="nsw-form__fieldset">
        <legend>
          <span class="nsw-form__legend">Category</span>
          <span class="nsw-form__helper">Select all that applies to you</span>
        </legend>
        {{>_checkbox
          id="form-checkbox-multi-2-a"
          name="form-checkbox-multi-2"
          label="Customer Service"
        }}
        {{>_checkbox
          id="form-checkbox-multi-2-b"
          name="form-checkbox-multi-2"
          label="Communities and Justice"
        }}
      </fieldset>
    </div>

    <div class="nsw-form__group">
      <fieldset class="nsw-form__fieldset">
        <legend>
          <span class="nsw-form__legend">Topic</span>
          <span class="nsw-form__helper">Select closest match</span>
        </legend>
        {{>_radio
          id="form-radio-2-a"
          name="form-radio-2"
          label="NSW Government"
        }}
        {{>_radio
          id="form-radio-2-b"
          name="form-radio-2"
          label="Business and Economy"
        }}
      </fieldset>
    </div>
  </div>

  <div class="nsw-form">
    <div class="nsw-form__group">
      {{>_text-input
        id="form-text-3"
        label="Name"
        required=true
        error-text="This field is required"
      }}
    </div>
    <div class="nsw-form__group">
      {{>_textarea
        id="form-textarea-3"
        label="Comment"
        required=true
        error-text="This field is required"
      }}
    </div>

    <div class="nsw-form__group">
      {{>_date
        id="form-date-3"
        label="Date of birth"
        required=true
        error-text="This field is required"
      }}
    </div>

    <div class="nsw-form__group">
      {{>_select model.select
        id="form-select-3"
        required=true
        error-text="This field is required"
      }}
    </div>

    <div class="nsw-form__group">
      {{>_checkbox
        id="form-checkbox-3"
        name="form-checkbox-3"
        label="I agree to terms and conditions"
        required=true
        error-text="This field is required"
      }}
    </div>
    <div class="nsw-form__group">
      <fieldset class="nsw-form__fieldset">
        <legend>
          <span class="nsw-form__legend nsw-form__required">Category<span class="sr-only"> (required)</span></span>
          <span class="nsw-form__helper nsw-form__helper--error"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>This field is required</span>
        </legend>
        {{>_checkbox
          id="form-checkbox-multi-3-a"
          name="form-checkbox-multi-3"
          label="Customer Service"
        }}
        {{>_checkbox
          id="form-checkbox-multi-3-b"
          name="form-checkbox-multi-3"
          label="Communities and Justice"
        }}
      </fieldset>
    </div>

    <div class="nsw-form__group">
      <fieldset class="nsw-form__fieldset">
        <legend>
          <span class="nsw-form__legend nsw-form__required">Topic<span class="sr-only"> (required)</span></span>
          <span class="nsw-form__helper nsw-form__helper--error"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>This field is required</span>
        </legend>
        {{>_radio
          id="form-radio-3-a"
          name="form-radio-3"
          label="NSW Government"
        }}
        {{>_radio
          id="form-radio-3-b"
          name="form-radio-3"
          label="Business and Economy"
        }}
      </fieldset>
    </div>
  </div>

  <div class="nsw-form">
    <div class="nsw-form__group">
      {{>_text-input
        id="form-text-4"
        label="Name"
        valid-text="This field has been validated"
      }}
    </div>
    <div class="nsw-form__group">
      {{>_textarea
        id="form-textarea-4"
        label="Comment"
        valid-text="This field has been validated"
      }}
    </div>

    <div class="nsw-form__group">
      {{>_date
        id="form-date-4"
        label="Date of birth"
        valid-text="This field has been validated"
      }}
    </div>

    <div class="nsw-form__group">
      {{>_select model.select
        id="form-select-4"
        valid-text="This field has been validated"
      }}
    </div>

    <div class="nsw-form__group">
      {{>_checkbox
        id="form-checkbox-4"
        name="form-checkbox-4"
        label="I agree to terms and conditions"
        valid-text="This field has been validated"
      }}
    </div>
    <div class="nsw-form__group">
      <fieldset class="nsw-form__fieldset">
        <legend>
          <span class="nsw-form__legend">Category</span>
          <span class="nsw-form__helper nsw-form__helper--valid"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">check_circle</span>This field has been validated</span>
        </legend>
        {{>_checkbox
          id="form-checkbox-multi-4-a"
          name="form-checkbox-multi-4"
          label="Customer Service"
        }}
        {{>_checkbox
          id="form-checkbox-multi-4-b"
          name="form-checkbox-multi-4"
          label="Communities and Justice"
        }}
      </fieldset>
    </div>

    <div class="nsw-form__group">
      <fieldset class="nsw-form__fieldset">
        <legend>
          <span class="nsw-form__legend">Topic</span>
          <span class="nsw-form__helper nsw-form__helper--valid"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">check_circle</span>This field has been validated</span>
        </legend>
        {{>_radio
          id="form-radio-4-a"
          name="form-radio-4"
          label="NSW Government"
        }}
        {{>_radio
          id="form-radio-4-b"
          name="form-radio-4"
          label="Business and Economy"
        }}
      </fieldset>
    </div>
  </div>
{{/_docs-inverted}}

{{#>_docs-inverted-blank id="global-alert" component="Global alert"}}
  {{>_global-alert model.global-alert}}
  {{>_global-alert model.global-alert type="light"}}
  {{>_global-alert model.global-alert type="critical"}}
  {{>_global-alert model.global-alert link="true"}}
  {{>_global-alert model.global-alert link="true" type="light"}}
  {{>_global-alert model.global-alert link="true" type="critical"}}
{{/_docs-inverted-blank}}

{{#>_docs-inverted-blank id="header" component="Header"}}
  {{>_header header-title="digital.nsw"}}
  {{>_header header-title="digital.nsw" header-description="Department of Customer Service" header-id="0"}}
  {{>_header header-title="Department of Planning, <br>Industry and Environment" header-id="1"}}
  {{>_header model.square header-inline="true" header-id="2"}}
  {{>_header model.rectangular header-id="3"}}
{{/_docs-inverted-blank}}

{{#>_docs-inverted-blank id="hero-banner" component="Hero banner"}}
  {{>_hero-banner
    wide=true
    theme="dark"
    heading="Helping you deliver great government services"
    copy="Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance"
    cta="View Digital Service Toolkit"
  }}

  {{>_hero-banner
    wide=true
    theme="light"
    heading="Helping you deliver great government services"
    copy="Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance"
    cta="View Digital Service Toolkit"
  }}

  {{>_hero-banner
    wide=true
    heading="Helping you deliver great government services"
    copy="Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance"
    cta="View Digital Service Toolkit"
  }}

  {{>_hero-banner
    wide=true
    theme="off-white"
    heading="Helping you deliver great government services"
    copy="Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance"
    cta="View Digital Service Toolkit"
  }}

  {{>_hero-banner
    wide=false
    theme="dark"
    heading="Helping you deliver great government services"
    copy="Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance"
    img="https://picsum.photos/id/237/2000/1250"
    cta="View Digital Service Toolkit"
  }}

  {{>_hero-banner
    wide=false
    theme="light"
    heading="Helping you deliver great government services"
    copy="Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance"
    img="https://picsum.photos/id/237/2000/1250"
    cta="View Digital Service Toolkit"
  }}

  {{>_hero-banner
    wide=false
    heading="Helping you deliver great government services"
    copy="Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance"
    img="https://picsum.photos/id/237/2000/1250"
    cta="View Digital Service Toolkit"
  }}

  {{>_hero-banner
    wide=false
    theme="off-white"
    heading="Helping you deliver great government services"
    copy="Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance"
    img="https://picsum.photos/id/237/2000/1250"
    cta="View Digital Service Toolkit"
  }}

  {{>_hero-banner
    wide=true
    lines=true
    theme="dark"
    heading="Helping you deliver great government services"
    copy="Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance"
    cta="View Digital Service Toolkit"
  }}

  {{>_hero-banner
    wide=true
    lines=true
    theme="light"
    heading="Helping you deliver great government services"
    copy="Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance"
    cta="View Digital Service Toolkit"
  }}

  {{>_hero-banner
    wide=true
    lines=true
    heading="Helping you deliver great government services"
    copy="Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance"
    cta="View Digital Service Toolkit"
  }}

  {{>_hero-banner
    wide=true
    theme="off-white"
    lines=true
    heading="Helping you deliver great government services"
    copy="Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance"
    cta="View Digital Service Toolkit"
  }}

  {{>_hero-banner
    wide=false
    theme="dark"
    heading="Helping you deliver great government services"
    copy="Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance"
    links-title="Key coronavirus links"
    links=(split "COVIDSafe App;Current COVID-19 case locations;Travel to and from NSW;Health and wellbeing;Business and work;COVID-19 testing centres")
  }}

  {{>_hero-banner
    wide=false
    theme="light"
    heading="Helping you deliver great government services"
    copy="Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance"
    links-title="Key coronavirus links"
    links=(split "COVIDSafe App;Current COVID-19 case locations;Travel to and from NSW;Health and wellbeing;Business and work;COVID-19 testing centres")
  }}

  {{>_hero-banner
    wide=false
    heading="Helping you deliver great government services"
    copy="Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance"
    links-title="Key coronavirus links"
    links=(split "COVIDSafe App;Current COVID-19 case locations;Travel to and from NSW;Health and wellbeing;Business and work;COVID-19 testing centres")
  }}

  {{>_hero-banner
    wide=false
    theme="off-white"
    heading="Helping you deliver great government services"
    copy="Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance"
    links-title="Key coronavirus links"
    links=(split "COVIDSafe App;Current COVID-19 case locations;Travel to and from NSW;Health and wellbeing;Business and work;COVID-19 testing centres")
  }}
{{/_docs-inverted-blank}}

{{#>_docs-inverted-blank id="hero-search" component="Hero search"}}
<div class="nsw-section nsw-section--image" style="background-image: url(https://picsum.photos/id/199/2000/1250);">
  {{>_hero-search model.hero-search}}
</div>
{{/_docs-inverted-blank}}

{{#>_docs-inverted id="in-page-alert" component="In page alert"}}
  {{>_in-page-alert model.info}}
  {{>_in-page-alert compact="true" type="info" icon="info" copy="<strong>Rockdale Agency will close on 9 March 2018 and re-open in April.</strong> Please visit <a href='#'>Kogarah Service Centre</a> during this closure."}}
  {{>_in-page-alert model.error}}
  {{>_in-page-alert compact="true" type="error" icon="cancel" copy="<strong>It looks like there was a problem.</strong> Please contact your service desk for further assistance."}}
  {{>_in-page-alert model.warning}}
  {{>_in-page-alert compact="true" type="warning" icon="error" copy="<strong>Password expiring soon.</strong> Your password is expiring in 4 days. Please change your password."}}
  {{>_in-page-alert model.success}}
  {{>_in-page-alert compact="true" type="success" icon="check_circle" copy="<strong>Your application has been received.</strong> We will be in contact within 5 business days."}}
{{/_docs-inverted}}

{{#>_docs-inverted id="in-page-nav" component="In page nav"}}
  {{>_in-page-nav model.in-page-nav}}
{{/_docs-inverted}}

{{#>_docs-inverted id="link" component="Link"}}
  {{>_link inline="true"}}
  {{>_link icon="true" type="external"}}
  {{>_link icon="true" type="download"}}
{{/_docs-inverted}}

{{#>_docs-inverted id="link-list" component="Link list"}}
  {{>_link-list model.link-list}}
{{/_docs-inverted}}

{{#>_docs-inverted id="list-item" component="List item"}}
  {{>_list-item model.list-item}}
  {{>_list-item model.list-item block="true"}}
  {{>_list-item model.list-item-url block="true"}}
  {{>_list-item model.list-item-label-date}}
  {{>_list-item model.list-item-label-tags}}
  {{>_list-item model.list-item-image block="true"}}
  {{>_list-item model.list-item-image block="true" reversed="true"}}
{{/_docs-inverted}}

{{#>_docs-inverted id="loader" component="Loader"}}
  <div class="nsw-list nsw-list--16">
    {{>_loader}}
    {{>_loader size="lg"}}
    {{>_loader size="md"}}
    {{>_loader size="sm"}}
  </div>
{{/_docs-inverted}}

{{#>_docs-inverted-blank id="main-nav" component="Main nav"}}
  {{>_masthead content="#" nav="#main-nav"}}
  {{>_header header-title="Premier & Cabinet"}}
  {{>_main-nav model.mega}}
{{/_docs-inverted-blank}}

{{#>_docs-inverted-blank id="masthead" component="Masthead"}}
  {{>_masthead content="#" nav="#"}}
  {{>_masthead content="#" nav="#" masthead-theme="light"}}
{{/_docs-inverted-blank}}

{{#>_docs-inverted id="media" component="Media"}}
  {{>_media
    image="https://picsum.photos/id/237/2000/1250"
    title="A picture of a black dog"
    caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne."
  }}

  {{>_media
    theme="dark"
    image="https://picsum.photos/id/237/2000/1250"
    title="A picture of a black dog"
    caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne."
  }}

  {{>_media
    theme="light"
    image="https://picsum.photos/id/237/2000/1250"
    title="A picture of a black dog"
    caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne."
  }}

  {{>_media
    theme="transparent"
    image="https://picsum.photos/id/237/2000/1250"
    title="A picture of a black dog"
    caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne."
  }}

  {{>_media
    video="https://www.youtube.com/embed/HNHu2zRPSB4"
    title="Digital.nsw launch with Victor Dominello MP at NSW Parliament House"
    caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne."
  }}

  {{>_media
    class="90"
    image="https://picsum.photos/id/237/2000/1250"
    title="A picture of a black dog"
    caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne."
  }}

  {{>_media
    class="80"
    image="https://picsum.photos/id/237/2000/1250"
    title="A picture of a black dog"
    caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne."
  }}

  {{>_media
    class="70"
    image="https://picsum.photos/id/237/2000/1250"
    title="A picture of a black dog"
    caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne."
  }}

  {{>_media
    class="60"
    image="https://picsum.photos/id/237/2000/1250"
    title="A picture of a black dog"
    caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne."
  }}

  <div class="nsw-docs__component">
  {{>_media
    class="left-50"
    image="https://picsum.photos/id/237/2000/1250"
    title="A picture of a black dog"
    caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne."
  }}
  </div>

  <div class="nsw-docs__component">
  {{>_media
    class="right-50"
    image="https://picsum.photos/id/237/2000/1250"
    title="A picture of a black dog"
    caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne."
  }}
  </div>

  <div class="nsw-docs__component">
  {{>_media
    class="left-40"
    image="https://picsum.photos/id/237/2000/1250"
    title="A picture of a black dog"
    caption="A long caption, ee mei labores adipiscing."
  }}
  </div>

  <div class="nsw-docs__component">
  {{>_media
    class="right-40"
    image="https://picsum.photos/id/237/2000/1250"
    title="A picture of a black dog"
    caption="A long caption, ee mei labores adipiscing."
  }}
  </div>

  <div class="nsw-docs__component">
  {{>_media
    class="left-30"
    image="https://picsum.photos/id/237/2000/1250"
    title="A picture of a black dog"
  }}
  </div>

  <div class="nsw-docs__component">
  {{>_media
    class="right-30"
    image="https://picsum.photos/id/237/2000/1250"
    title="A picture of a black dog"
  }}
  </div>
{{/_docs-inverted}}

{{#>_docs-inverted id="pagination" component="Pagination"}}
  {{>_pagination model.pagination active="5"}}

  {{>_pagination model.pagination disabled="true" active="1"}}
{{/_docs-inverted}}

{{#>_docs-inverted id="popover" component="Popover"}}

  <div class="nsw-list nsw-list--8 nsw-m-top-xs">
    {{#each model.popover.top}}
  {{>_popover style="dark-outline" icon="info" text=this id=@key position=@key gap="10"}}
    {{/each}}
  </div>

  <h3>Right</h3>

  <div class="nsw-list nsw-list--8 nsw-m-top-xs">
    {{#each model.popover.right}}
  {{>_popover style="dark-outline" icon="info" text=this id=@key position=@key gap="10"}}
    {{/each}}
  </div>

  <h3>Bottom</h3>

  <div class="nsw-list nsw-list--8 nsw-m-top-xs">
    {{#each model.popover.bottom}}
  {{>_popover style="dark-outline" icon="info" text=this id=@key position=@key gap="10"}}
    {{/each}}
  </div>

  <h3>Left</h3>

  <div class="nsw-list nsw-list--8 nsw-m-top-xs">
    {{#each model.popover.left}}
  {{>_popover style="dark-outline" icon="info" text=this id=@key position=@key gap="10"}}
    {{/each}}
  </div>

  <h3>Offset</h3>

  <div class="nsw-list nsw-list--8">
    {{#each model.popover.gap}}
  {{>_popover style="dark-outline" icon="info" text="Open Top" id=this position="top" gap=this}}
    {{/each}}
  </div>
{{/_docs-inverted}}

{{#>_docs-inverted id="progress-indicator" component="Progress indicator"}}
  {{>_progress-indicator model.progress-indicator}}
{{/_docs-inverted}}

{{#>_docs-inverted id="results-bar" component="Results bar"}}
  {{>_results-bar}}
  {{>_results-bar model.results-bar}}
  {{>_results-bar empty="true"}}
{{/_docs-inverted}}

{{#>_docs-inverted id="select" component="Select"}}
  <div class="nsw-form">
    <div class="nsw-form__group">
      {{>_select model.region id="select-all-regions-1" }}
    </div>

    <div class="nsw-form__group">
      {{>_select model.savings-program 
      id="select-all-savings-programs-1"
      multiple="true"
      }}
    </div>

    <div class="nsw-form__group">
      {{>_select model.region
      id="select-all-regions-2"
      helper-text="Your region of residence"
      }}
    </div>

    <div class="nsw-form__group">
      {{>_select model.savings-program
      id="select-all-savings-programs-2"
      multiple="true"
      helper-text="Select all that apply"
      }}
    </div>

    <div class="nsw-form__group">
      {{>_select model.region
      id="select-all-regions-3"
      required="true"
      error-text="Please select a region of residence"
      }}
    </div>

    <div class="nsw-form__group">
      {{>_select model.savings-program
      id="select-all-savings-programs-3"
      multiple="true"
      required="true"
      error-text="Please select the savings programs you would like to claim"
      }}
    </div>

    <div class="nsw-form__group">
      {{>_select model.region
      id="select-all-regions-4"
      valid-text="Your region is eligible for savings benefits"
      }}
    </div>

    <div class="nsw-form__group">
      {{>_select model.savings-program
      id="select-all-savings-programs-4"
      multiple="true"
      valid-text="The programs you have selected are available"
      }}
    </div>
  </div>
{{/_docs-inverted}}

{{#>_docs-inverted id="side-nav" component="Side nav"}}
  <div class="nsw-grid">
    <div class="nsw-col nsw-col-xl-4">
      <div class="nsw-docs__component">
        {{>_side-nav model.single-level}}
      </div>
    </div>
    <div class="nsw-col nsw-col-xl-4">
      <div class="nsw-docs__component">
        {{>_side-nav model.two-level}}
      </div>
    </div>
    <div class="nsw-col nsw-col-xl-4">
      <div class="nsw-docs__component">
        {{>_side-nav model.four-level}}
      </div>
    </div>
  </div>
{{/_docs-inverted}}

{{#>_docs-inverted id="status-labels" component="Status labels"}}
  <div class="nsw-list nsw-list--8">
    {{>_status-labels model.status-labels}}
  </div>
{{/_docs-inverted}}

{{#>_docs-inverted id="steps" component="Steps"}}
  {{>_steps}}
  {{>_steps theme="dark"}}
  {{>_steps theme="light"}}
  {{>_steps theme="supplementary"}}
  {{>_steps progress="true"}}
  {{>_steps fill="true"}}
  {{>_steps fill="true" theme="dark"}}
  {{>_steps fill="true" theme="light"}}
  {{>_steps fill="true" theme="supplementary"}}
  {{>_steps counters="true"}}
  {{>_steps counters="true" theme="dark"}}
  {{>_steps counters="true" theme="light"}}
  {{>_steps counters="true" theme="supplementary"}}
  {{>_steps counters="true" progress="true"}}
  {{>_steps counters="true" fill="true"}}
  {{>_steps counters="true" fill="true" theme="dark"}}
  {{>_steps counters="true" fill="true" theme="light"}}
  {{>_steps counters="true" fill="true" theme="supplementary"}}
  {{>_steps medium="true"}}
  {{>_steps small="true"}}
{{/_docs-inverted}}

{{#>_docs-inverted id="table" component="Table"}}
  {{>_table}}
  {{>_table striped="true"}}
  {{>_table captionTop="true"}}
  {{>_table bordered="true"}}
  {{>_table striped="true" bordered="true"}}
{{/_docs-inverted}}

{{#>_docs-inverted id="tabs" component="Tabs"}}
  {{>_tabs model.tabs}}
{{/_docs-inverted}}

{{#>_docs-inverted id="tag" component="Tags"}}
  <div class="nsw-docs__section nsw-docs__section--spaced">
    <div class="nsw-list nsw-list--8">
      {{>_tag model.link}}
    </div>
  </div>
  <div class="nsw-docs__section nsw-docs__section--spaced">
    <div class="nsw-list nsw-list--8">
      {{>_tag model.text}}
    </div>
  </div>
  <div class="nsw-docs__section nsw-docs__section--spaced">
    <div class="nsw-list nsw-list--8">
      {{>_tag model.checkbox}}
    </div>
  </div>
{{/_docs-inverted}}

{{#>_docs-inverted id="tooltip" component="Tooltip"}}
  {{>_tooltip light-tooltip=true}}
  {{>_toggletip light-toggletip=true id="light"}}

  {{>_tooltip light-tooltip=true}}
  {{>_toggletip light-toggletip=true id="light"}}
{{/_docs-inverted}}

{{#>_docs-inverted id="utility-list" component="Utility list"}}
  {{#each model.utility-list}}
    {{#each this}}
  {{>_utility-list}}
    {{/each}}
  {{/each}}
{{/_docs-inverted}}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/docs/js/docs.js"></script>