<div class="nsw-grid">
  <div class="nsw-row">
    <div class="nsw-col">
      <div class="nsw-ds-example-box"></div>
    </div>
  </div>

  <div class="nsw-row">
    <div class="nsw-col nsw-col-sm-6">
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-sm-6">
      <div class="nsw-ds-example-box"></div>
    </div>
  </div>

  <div class="nsw-row">
    <div class="nsw-col nsw-col-md-4">
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-md-4">
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-md-4">
      <div class="nsw-ds-example-box"></div>
    </div>
  </div>

  <div class="nsw-row">
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
      <div class="nsw-ds-example-box"></div>
    </div>
  </div>
</div>
