<div class="nsw-grid-overlay">
  <div class="nsw-container">
    <div class="nsw-grid">
      <div class="nsw-col nsw-col-1">
        <div class="nsw-docs__box"></div>
      </div>
      <div class="nsw-col nsw-col-1">
        <div class="nsw-docs__box"></div>
      </div>
      <div class="nsw-col nsw-col-1">
        <div class="nsw-docs__box"></div>
      </div>
      <div class="nsw-col nsw-col-1">
        <div class="nsw-docs__box"></div>
      </div>
      <div class="nsw-col nsw-col-1">
        <div class="nsw-docs__box"></div>
      </div>
      <div class="nsw-col nsw-col-1">
        <div class="nsw-docs__box"></div>
      </div>
      <div class="nsw-col nsw-col-1">
        <div class="nsw-docs__box"></div>
      </div>
      <div class="nsw-col nsw-col-1">
        <div class="nsw-docs__box"></div>
      </div>
      <div class="nsw-col nsw-col-1">
        <div class="nsw-docs__box"></div>
      </div>
      <div class="nsw-col nsw-col-1">
        <div class="nsw-docs__box"></div>
      </div>
      <div class="nsw-col nsw-col-1">
        <div class="nsw-docs__box"></div>
      </div>
      <div class="nsw-col nsw-col-1">
        <div class="nsw-docs__box"></div>
      </div>
    </div>
  </div>
</div>
