<div class="nsw-grid">
  <div class="nsw-row">
    <div class="nsw-col">
      <p>Whole</p>
      <div class="nsw-ds-example-box"></div>
    </div>
  </div>

  <div class="nsw-row">
    <div class="nsw-col nsw-col-sm-6">
      <p>Half</p>
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-sm-6">
      <p>Half</p>
      <div class="nsw-ds-example-box"></div>
    </div>
  </div>

  <div class="nsw-row">
    <div class="nsw-col nsw-col-md-4">
      <p>Third</p>
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-md-4">
      <p>Third</p>
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-md-4">
      <p>Third</p>
      <div class="nsw-ds-example-box"></div>
    </div>
  </div>

  <div class="nsw-row">
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
      <p>Quarter</p>
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
      <p>Quarter</p>
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
      <p>Quarter</p>
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
      <p>Quarter</p>
      <div class="nsw-ds-example-box"></div>
    </div>
  </div>

  <div class="nsw-row">
    <div class="nsw-col nsw-col-lg-4 nsw-show-lg">
      <p>Left column [hides on mobile]</p>
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-lg-7 nsw-offset-lg-1">
      <p>Main column with offset</p>
      <div class="nsw-ds-example-box"></div>
    </div>
  </div>

  <div class="nsw-row">
    <div class="nsw-col nsw-col-lg-8">
      <p>Main column</p>
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-lg-4">
      <p>Right column</p>
      <div class="nsw-ds-example-box"></div>
    </div>
  </div>

  <div class="nsw-row">
    <div class="nsw-col nsw-col-lg-1">
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-lg-1">
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-lg-1">
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-lg-1">
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-lg-1">
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-lg-1">
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-lg-1">
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-lg-1">
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-lg-1">
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-lg-1">
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-lg-1">
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-lg-1">
      <div class="nsw-ds-example-box"></div>
    </div>
  </div>
</div>
