<div class="nsw-grid">
  <div class="nsw-row">
    <div class="nsw-col">
      <p>Whole</p>
      <div class="nsw-ds-example-box"></div>
    </div>
  </div>

  <div class="nsw-row">
    <div class="nsw-col nsw-col-sm-6">
      <p>Half</p>
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-sm-6">
      <p>Half</p>
      <div class="nsw-ds-example-box"></div>
    </div>
  </div>

  <div class="nsw-row">
    <div class="nsw-col nsw-col-md-4">
      <p>Third</p>
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-md-4">
      <p>Third</p>
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-md-4">
      <p>Third</p>
      <div class="nsw-ds-example-box"></div>
    </div>
  </div>

  <div class="nsw-row">
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
      <p>Quarter</p>
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
      <p>Quarter</p>
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
      <p>Quarter</p>
      <div class="nsw-ds-example-box"></div>
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
      <p>Quarter</p>
      <div class="nsw-ds-example-box"></div>
    </div>
  </div>

  <div class="nsw-row">
    <div class="nsw-col nsw-col-lg-3 nsw-show-lg">
      <p>Quarter [desktop only]</p>
      <div class="nsw-ds-example-box"></div>
    </div>

    <div class="nsw-col nsw-col-12 nsw-col-lg-4 nsw-offset-lg-1">
      <p>Third [offset]</p>
      <div class="nsw-ds-example-box"></div>
    </div>

    <div class="nsw-col nsw-col-lg-3 nsw-offset-lg-1 nsw-show-lg">
      <p>Quarter [offset, desktop only]</p>
      <div class="nsw-ds-example-box"></div>
    </div>
  </div>
</div>
