<div class="nsw-grid">
  <div class="nsw-col">
    <p>Whole</p>
    <div class="nsw-ds-example-box"></div>
  </div>
</div>

<div class="nsw-grid">
  <div class="nsw-col nsw-col--half">
    <p>Half</p>
    <div class="nsw-ds-example-box"></div>
  </div>
  <div class="nsw-col nsw-col--half">
    <p>Half</p>
    <div class="nsw-ds-example-box"></div>
  </div>
</div>

<div class="nsw-grid">
  <div class="nsw-col nsw-col--third">
    <p>Third</p>
    <div class="nsw-ds-example-box"></div>
  </div>
  <div class="nsw-col nsw-col--third">
    <p>Third</p>
    <div class="nsw-ds-example-box"></div>
  </div>
  <div class="nsw-col nsw-col--third">
    <p>Third</p>
    <div class="nsw-ds-example-box"></div>
  </div>
</div>

<div class="nsw-grid">
  <div class="nsw-col nsw-col--quarter">
    <p>Quarter</p>
    <div class="nsw-ds-example-box"></div>
  </div>
  <div class="nsw-col nsw-col--quarter">
    <p>Quarter</p>
    <div class="nsw-ds-example-box"></div>
  </div>
  <div class="nsw-col nsw-col--quarter">
    <p>Quarter</p>
    <div class="nsw-ds-example-box"></div>
  </div>
  <div class="nsw-col nsw-col--quarter">
    <p>Quarter</p>
    <div class="nsw-ds-example-box"></div>
  </div>
</div>
