<style>
  .nsw-col{
    padding-top: .8em;
    padding-bottom: .8em;
    background: hsla(31,15%,50%,.1);
    text-align: center;
    border: solid 1px #ccc;
  }
</style>
<div class="nsw-wysiwyg-content nsw-container">
  <h1 class="ds-h1">Grid</h1>

  <div class="nsw-grid">
    <div class="nsw-col">
      full
    </div>
  </div>

  <div class="nsw-grid">
    <div class="nsw-col nsw-col--half">
      half
    </div>
    <div class="nsw-col nsw-col--half">
      half
    </div>
  </div>

  <div class="nsw-grid">
    <div class="nsw-col nsw-col--third">
      thirds
    </div>
    <div class="nsw-col nsw-col--third">
      thirds
    </div>
    <div class="nsw-col nsw-col--third">
      thirds
    </div>
  </div>

  <div class="nsw-grid">
    <div class="nsw-col nsw-col--third">
      third
    </div>
    <div class="nsw-col nsw-col--two-thirds">
      two-third
    </div>
  </div>

  <div class="nsw-grid">
    <div class="nsw-col nsw-col--quarter">
      quarter
    </div>
    <div class="nsw-col nsw-col--quarter">
      quarter
    </div>
    <div class="nsw-col nsw-col--quarter">
      quarter
    </div>
    <div class="nsw-col nsw-col--quarter">
      quarter
    </div>
  </div>

  <div class="nsw-grid">
    <div class="nsw-col nsw-col--quarter">
      quarter
    </div>
    <div class="nsw-col nsw-col--three-quarters">
      three quarter
    </div>
  </div>

</div>
