---
title: Grid
layout: blank-layout.hbs
---

<p>I thnk we should base our description on <a href="https://getbootstrap.com/docs/4.0/layout/grid/" target="_blank">Bootstrap Grid</a></p>

<p>The NSW Design System is built on a 12 column responsive grid which adapts to the user’s viewport to provide the optimal layout.</p>

<h2>Breakpoints</h2>

<table class="nsw-table">
  <thead>
    <tr>
      <th>Breakpoint</th>
      <th>Dimensions</th>
      <th>Columns</th>
      <th>Margins</th>
      <th>Gutters (Split)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>xs (Extra Small)</td>
      <td>0-575px</td>
      <td>1</td>
      <td>8px</td>
      <td>16px (8px)</td>
    </tr>
    <tr>
      <td>sm (Small)</td>
      <td>576-767px</td>
      <td>Up to 2</td>
      <td>8px</td>
      <td>16px (8px)</td>
    </tr>
    <tr>
      <td>md (Medium)</td>
      <td>768-991px</td>
      <td>Up to 3</td>
      <td>16px  </td>
      <td>32px 16px)</td>
    </tr>
    <tr>
      <td>lg (Large)</td>
      <td>992-1199px</td>
      <td>Up to 4</td>
      <td>16px</td>
      <td>32px (16px)</td>
    </tr>
    <tr>
      <td>xl (Extra Large)</td>
      <td>1200px+</td>
      <td>Up to 4</td>
      <td>16px</td>
      <td>32px (16px)</td>
    </tr>
  </tbody>
</table>

<h2>Grid</h2>
<figure class="nsw-media">
  <img src="/assets/images/grid-v2.7.0.png" alt="Grid diagram">
</figure>

<h2>Viewport Visibility</h2>
<p>These classes give you the option to show or hide elements in certain viewports xs, sm, md, lg, xl</p>
<p>Where size is one of:</p>
<ul>
  <li>xs - targets from 0 to 575px</li>
  <li>sm - targets from 576px to 767px</li>
  <li>md - targets from 768px to 991px</li>
  <li>lg - targets from 992px to 1199px</li>
  <li>xl - targets from 1200px upwards</li>
</ul>
<p>Where display is one of:</p>
<ul>
  <li>show - displays the elements</li>
  <li>hide - hides the elements</li>
</ul>
<p>The classes are named using the format nsw-{display}-{size}</p>
