---
title: Grid
example: true
component:
  folder: grid
---

<main>
  <div class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <h1 class="nsw-section-title">Grid</h1>
	  			{{>_grid}}
	  			{{>_grid-overlay}}
	  		</div>
	  	</div>
	  </div>
	</div>
</main>
