.nsw-footer {
  @include font-stack;

  p {
    margin: 0 0 rem(16px) 0;
  }

  hr {
    height: 1px;
    border: 0;
    color: $light40;
    background-color: $light40;
    margin: rem(16px) 0;
  }

  &__upper {
    background-color: $white;
    padding: rem(28px) 0 0;
  }

  &__lower {
    background-color: $dark80;
    color: $white;
    padding: rem(28px) 0;
    font-size: rem(12px);

    a {
      color: $white;
    }
  }
}

.nsw-footer-links {
  @include font-stack('heading');
  margin: 0 0 rem(8px) 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__item {
    flex: 1 0 50%;
    max-width: 50%;
    margin-bottom: rem(16px);

    @include breakpoint('sm') {
      flex: 0 0 auto;
      max-width: none;
      margin-right: rem(24px);
    }
  }

  &__link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      @include nsw-focus($color: $white);
    }
  }
}

.section-links {
  @include font-stack('heading');

  @include breakpoint('sm') {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  a {
    @include text-link;
  }

  &__group {
    margin-bottom: rem(24px);

    @include breakpoint('sm') {
      flex: 1 0 50%;
      max-width: 50%;
    }

    @include breakpoint('md') {
      flex: 1 0 25%;
      max-width: 25%;
    }
  }

  &__heading {
    margin: 0 0 rem(16px) 0;
  }

  &__list {
    margin: 0 0 rem(8px) 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin: 0 0 rem(8px) 0;
  }
}
