---
title: In-page navigation
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>In-page navigation increases discoverability and engagement of content by providing quick access to desired content. Use for longer content pages to act as a table of contents, providing users with a summary and quick navigation to sections.</p>

<h3>When to avoid</h3>
<p>Do not use to link externally or to another page, consider a text link or list link.</p>

<h2>How this component works</h2>
<p>In-page navigation is placed above the main content of a page and anchor links headings to their location in the content.</p>
<p>The lefthand highlight bar visually separates the component from the page content and groups the navigation.</p>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>
