<nav class="nsw-in-page-nav" aria-labelledby="in-page-nav">
  <div id="in-page-nav" class="nsw-in-page-nav__title">{{title}}</div>
  <ul>
    {{#each pageSections}}
    <li>
      <a href="{{#if anchor}}{{anchor}}{{else}}#{{/if}}">{{text}}</a>
    </li>
    {{/each}}
  </ul>
</nav>
