<h1>Iconography</h1>
<p>The NSW Design system uses <a target="_blank" href="https://material.io/resources/icons">Material Design icons</a> (filled versions) to illustrate actions, status and signage. Icons communicate messages at a glance, suggest interactivity and draw attention to important information. You can easily incorporate icons using following code:</p>

<div class="nsw-code">&lt;i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true"&gt;[icon-id]&lt;/i&gt;</div>

<p>Here is the list of the icons currently used across existing components:</p>
<div class="nsw-block" style="max-width: 260px;">
  <table class="nsw-table nsw-table--striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Icon</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td width="100%">east</td>
        <td>
          <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</i>
        </td>
      </tr>
      <tr>
        <td width="100%">close</td>
        <td>
          <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</i>
        </td>
      </tr>
      <tr>
        <td width="100%">menu</td>
        <td>
          <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">menu</i>
        </td>
      </tr>
      <tr>
        <td width="100%">search</td>
        <td>
          <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">search</i>
        </td>
      </tr>
      <tr>
        <td width="100%">cancel</td>
        <td>
          <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</i>
        </td>
      </tr>
      <tr>
        <td width="100%">info</td>
        <td>
          <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">info</i>
        </td>
      </tr>
      <tr>
        <td width="100%">check_circle</td>
        <td>
          <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">check_circle</i>
        </td>
      </tr>
      <tr>
        <td width="100%">error</td>
        <td>
          <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">error</i>
        </td>
      </tr>
      <tr>
        <td width="100%">keyboard_arrow_right</td>
        <td>
          <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_right</i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  
<h2>Icon colour</h2>
<p>By default all icons are distinctly NSW blue, there are some preset colours availible:</p>

<div class="nsw-block" style="max-width: 300px;">
  <table class="nsw-table nsw-table--striped">
    <thead>
      <tr>
        <th>Class</th>
        <th>Icon</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td width="100%">.nsw-material-icons--error</td>
        <td>
          <i class="material-icons nsw-material-icons nsw-material-icons--error" focusable="false" aria-hidden="true">cancel</i>
        </td>
      </tr>
      <tr>
        <td width="100%">.nsw-material-icons--success</td>
        <td>
          <i class="material-icons nsw-material-icons nsw-material-icons--success" focusable="false" aria-hidden="true">check_circle</i>
        </td>
      </tr>
      <tr>
        <td width="100%">.nsw-material-icons--info</td>
        <td>
          <i class="material-icons nsw-material-icons nsw-material-icons--info" focusable="false" aria-hidden="true">info</i>
        </td>
      </tr>
      <tr>
        <td width="100%">.nsw-material-icons--warning</td>
        <td>
          <i class="material-icons nsw-material-icons nsw-material-icons--warning" focusable="false" aria-hidden="true">error</i>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h2>Icon rotation</h2>
<p>Helper classes can also be applied to change direction on an icon:</p>
<div class="nsw-block" style="max-width: 300px;">
  <table class="nsw-table nsw-table--striped">
    <thead>
      <tr>
        <th>Class</th>
        <th>Icon</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td width="100%">default</td>
        <td>
          <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_right</i>
        </td>
      </tr>
      <tr>
        <td width="100%">.nsw-material-icons--rotate-90</td>
        <td>
          <i class="material-icons nsw-material-icons nsw-material-icons--rotate-90" focusable="false" aria-hidden="true">keyboard_arrow_right</i>
        </td>
      </tr>
      <tr>
        <td width="100%">.nsw-material-icons--rotate-180</td>
        <td>
          <i class="material-icons nsw-material-icons nsw-material-icons--rotate-180" focusable="false" aria-hidden="true">keyboard_arrow_right</i>
        </td>
      </tr>
      <tr>
        <td width="100%">.nsw-material-icons--rotate-270</td>
        <td>
          <i class="material-icons nsw-material-icons nsw-material-icons--rotate-270" focusable="false" aria-hidden="true">keyboard_arrow_right</i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
