<h1>Iconography</h1>
<p>NSW Design System icons use svg sprite to render the icons.</p>
<p>Available Icon ID's</p>
<br /><br />
<div class="nsw-grid">
  <div class="nsw-col nsw-col--third">
    <table class="nsw-table nsw-table--striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Icon</th>
      </tr>
      </thead>
      <tr>
        <td width="200">#arrow</td>
        <td width="100" ><svg class="nsw-icon" focusable="false" aria-hidden="true">
          <use xlink:href="#arrow"></use>
        </svg>
        </td>
      </tr>
      <tr>
        <td width="200">#arrow</td>
        <td width="100" ><svg class="nsw-icon" focusable="false" aria-hidden="true">
          <use xlink:href="#arrow"></use>
        </svg>
        </td>
      </tr>
      <tr>
        <td width="200">#close</td>
        <td width="100" ><svg class="nsw-icon" focusable="false" aria-hidden="true">
          <use xlink:href="#close"></use>
        </svg>
        </td>
      </tr>
      <tr>
        <td width="200">#menu</td>
        <td width="100" ><svg class="nsw-icon" focusable="false" aria-hidden="true">
          <use xlink:href="#menu"></use>
        </svg>
        </td>
      </tr>
      <tr>
        <td width="200">#search</td>
        <td width="100" ><svg class="nsw-icon" focusable="false" aria-hidden="true">
          <use xlink:href="#search"></use>
        </svg>
        </td>
      </tr>
      <tr>
        <td width="200">#status-error</td>
        <td width="100" ><svg class="nsw-icon" focusable="false" aria-hidden="true">
          <use xlink:href="#status-error"></use>
        </svg>
        </td>
      </tr>
      <tr>
        <td width="200">#status-info</td>
        <td width="100" ><svg class="nsw-icon" focusable="false" aria-hidden="true">
          <use xlink:href="#status-info"></use>
        </svg>
        </td>
      </tr>
      <tr>
        <td width="200">#status-success</td>
        <td width="100" ><svg class="nsw-icon" focusable="false" aria-hidden="true">
          <use xlink:href="#status-success"></use>
        </svg>
        </td>
      </tr>
      <tr>
        <td width="200">#status-warning</td>
        <td width="100" ><svg class="nsw-icon" focusable="false" aria-hidden="true">
          <use xlink:href="#status-warning"></use>
        </svg>
        </td>
      </tr>
      <tr>
        <td width="200">#tick</td>
        <td width="100" ><svg class="nsw-icon" focusable="false" aria-hidden="true">
          <use xlink:href="#tick"></use>
        </svg>
        </td>
      </tr>
    </table>
  </div>
</div>

<br /><br />

  <pre><code class="language-html">&lt;svg class=&quot;nsw-icon&quot; focusable=&quot;false&quot; aria-hidden=&quot;true&quot;&gt;
  &lt;use xlink:href=&quot;[icon-id]&quot;&gt;&lt;/use&gt;
&lt;/svg&gt;</code></pre>
<h2>Icon nsw-colors</h2>
<p>By default all nsw icons are distinctly nsw blue, there are some preset nsw-colors defined for icons though:</p>

<div class="ds-example">
  <svg class="nsw-icon nsw-icon--error" focusable="false" aria-hidden="true">
    <use xlink:href="#status-error"></use>
  </svg>
  <svg class="nsw-icon nsw-icon--success" focusable="false" aria-hidden="true">
    <use xlink:href="#status-success"></use>
  </svg>
  <svg class="nsw-icon nsw-icon--info" focusable="false" aria-hidden="true">
    <use xlink:href="#status-info"></use>
  </svg>
  <svg class="nsw-icon nsw-icon--warning" focusable="false" aria-hidden="true">
    <use xlink:href="#status-warning"></use>
  </svg>
</div>
<pre><code class="language-css">.nsw-icon--error
.nsw-icon--success
.nsw-icon--info
.nsw-icon--warning</code></pre>

<h2>Icon rotation</h2>
<p>By default nsw icon if directional will all point right, if another direction is needed helper classes can be applied to change the direction</p>
<div class="ds-example">
  <svg class="nsw-icon" focusable="false" aria-hidden="true">
    <use xlink:href="#chevron"></use>
  </svg>
  <svg class="nsw-icon nsw-icon--rotate-90" focusable="false" aria-hidden="true">
    <use xlink:href="#chevron"></use>
  </svg>
  <svg class="nsw-icon nsw-icon--rotate-180" focusable="false" aria-hidden="true">
    <use xlink:href="#chevron"></use>
  </svg>
  <svg class="nsw-icon nsw-icon--rotate-270" focusable="false" aria-hidden="true">
    <use xlink:href="#chevron"></use>
  </svg>
</div>

<pre><code class="language-css">.nsw-icon--rotate-90
.nsw-icon--rotate--180
.nsw-icon--rotate--270</code></pre>
