<h1>Iconography</h1>
<p>NSW Design System icons use svg sprite to render the icons.</p>

<div class="nsw-code">&lt;svg class=&quot;nsw-icon&quot; focusable=&quot;false&quot; aria-hidden=&quot;true&quot;&gt;
  &lt;use xlink:href=&quot;[icon-id]&quot;&gt;&lt;/use&gt;
&lt;/svg&gt;</div>

<p>Available icon ID's:</p>
<div style="max-width: 260px;">
  <table class="nsw-table nsw-table--striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Icon</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td width="100%">#arrow</td>
        <td>
          <svg class="nsw-icon" focusable="false" aria-hidden="true">
            <use xlink:href="#arrow"></use>
          </svg>
        </td>
      </tr>
      <tr>
        <td width="100%">#close</td>
        <td>
          <svg class="nsw-icon" focusable="false" aria-hidden="true">
            <use xlink:href="#close"></use>
          </svg>
        </td>
      </tr>
      <tr>
        <td width="100%">#menu</td>
        <td>
          <svg class="nsw-icon" focusable="false" aria-hidden="true">
            <use xlink:href="#menu"></use>
          </svg>
        </td>
      </tr>
      <tr>
        <td width="100%">#search</td>
        <td>
          <svg class="nsw-icon" focusable="false" aria-hidden="true">
            <use xlink:href="#search"></use>
          </svg>
        </td>
      </tr>
      <tr>
        <td width="100%">#status-error</td>
        <td>
          <svg class="nsw-icon" focusable="false" aria-hidden="true">
            <use xlink:href="#status-error"></use>
          </svg>
        </td>
      </tr>
      <tr>
        <td width="100%">#status-info</td>
        <td>
          <svg class="nsw-icon" focusable="false" aria-hidden="true">
            <use xlink:href="#status-info"></use>
          </svg>
        </td>
      </tr>
      <tr>
        <td width="100%">#status-success</td>
        <td>
          <svg class="nsw-icon" focusable="false" aria-hidden="true">
            <use xlink:href="#status-success"></use>
          </svg>
        </td>
      </tr>
      <tr>
        <td width="100%">#status-warning</td>
        <td>
          <svg class="nsw-icon" focusable="false" aria-hidden="true">
            <use xlink:href="#status-warning"></use>
          </svg>
        </td>
      </tr>
      <tr>
        <td width="100%">#tick</td>
        <td>
          <svg class="nsw-icon" focusable="false" aria-hidden="true">
            <use xlink:href="#tick"></use>
          </svg>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  
<h2>Icon colour</h2>
<p>By default all nsw icons are distinctly NSW blue, there are some preset colours availible:</p>

<div style="max-width: 260px;">
  <table class="nsw-table nsw-table--striped">
    <thead>
      <tr>
        <th>Class</th>
        <th>Icon</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td width="100%">.nsw-icon--error</td>
        <td>
          <svg class="nsw-icon nsw-icon--error" focusable="false" aria-hidden="true">
            <use xlink:href="#status-error"></use>
          </svg>
        </td>
      </tr>
      <tr>
        <td width="100%">.nsw-icon--success</td>
        <td>
          <svg class="nsw-icon nsw-icon--success" focusable="false" aria-hidden="true">
            <use xlink:href="#status-success"></use>
          </svg>
        </td>
      </tr>
      <tr>
        <td width="100%">.nsw-icon--info</td>
        <td>
          <svg class="nsw-icon nsw-icon--info" focusable="false" aria-hidden="true">
            <use xlink:href="#status-info"></use>
          </svg>
        </td>
      </tr>
      <tr>
        <td width="100%">.nsw-icon--warning</td>
        <td>
          <svg class="nsw-icon nsw-icon--warning" focusable="false" aria-hidden="true">
            <use xlink:href="#status-warning"></use>
          </svg>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h2>Icon rotation</h2>
<p>By default nsw icon if directional will all point right, if another direction is needed helper classes can be applied to change the direction:</p>
<div style="max-width: 260px;">
  <table class="nsw-table nsw-table--striped">
    <thead>
      <tr>
        <th>Class</th>
        <th>Icon</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td width="100%">default</td>
        <td>
          <svg class="nsw-icon" focusable="false" aria-hidden="true">
            <use xlink:href="#chevron"></use>
          </svg>
        </td>
      </tr>
      <tr>
        <td width="100%">.nsw-icon--rotate-90</td>
        <td>
          <svg class="nsw-icon nsw-icon--rotate-90" focusable="false" aria-hidden="true">
            <use xlink:href="#chevron"></use>
          </svg>
        </td>
      </tr>
      <tr>
        <td width="100%">.nsw-icon--rotate-180</td>
        <td>
          <svg class="nsw-icon nsw-icon--rotate-180" focusable="false" aria-hidden="true">
            <use xlink:href="#chevron"></use>
          </svg>
        </td>
      </tr>
      <tr>
        <td width="100%">.nsw-icon--rotate-270</td>
        <td>
          <svg class="nsw-icon nsw-icon--rotate-270" focusable="false" aria-hidden="true">
            <use xlink:href="#chevron"></use>
          </svg>
        </td>
      </tr>
    </tbody>
  </table>
</div>
