---
title: Iconography
style: true
page: true
width: narrow
---
{{#>_layout-container}}

<div class="nsw-docs__section nsw-docs__section--spaced"> 
  <div class="nsw-list nsw-list--8">
    {{>_icon code="east"}}
    {{>_icon code="keyboard_arrow_right"}}
    {{>_icon code="menu"}}
    {{>_icon code="search"}}
    {{>_icon code="close"}}
    {{>_icon code="info"}}
    {{>_icon code="check_circle"}}
    {{>_icon code="error"}}
    {{>_icon code="cancel"}}
  </div>
</div>
<div class="nsw-docs__section nsw-docs__section--spaced"> 
  <div class="nsw-list nsw-list--8">
    {{>_icon code="east" size="20"}}
    {{>_icon code="east" size="24"}}
    {{>_icon code="east" size="30"}}
    {{>_icon code="east" size="36"}}
  </div>
</div>
<div class="nsw-docs__section nsw-docs__section--spaced"> 
  <div class="nsw-list nsw-list--8">
    {{>_icon code="east" type="brand"}}
    {{>_icon code="info" type="info"}}
    {{>_icon code="check_circle" type="success"}}
    {{>_icon code="error" type="warning"}}
    {{>_icon code="cancel" type="error"}}
  </div>
</div>
<div class="nsw-docs__section nsw-docs__section--spaced"> 
  <div class="nsw-list nsw-list--8">
    {{>_icon code="east"}}
    {{>_icon code="east" rotate="90"}}
    {{>_icon code="east" rotate="180"}}
    {{>_icon code="east" rotate="270"}}
  </div>
</div>

<div class="nsw-docs__section nsw-docs__section--spaced"> 
  <div class="nsw-list nsw-list--8">
    <a class="nsw-icon-button">
      {{>_icon code="home"}}
      <span class="sr-only">Home</span>
    </a>

    <button class="nsw-icon-button" type="button">
      {{>_icon code="search"}}
      <span class="sr-only">Search</span>
    </button>

    <a class="nsw-icon-button" href="#" target="_blank" rel="noopener">
      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#1578f2" d="M32 16.098C32 7.207 24.837 0 16 0S0 7.207 0 16.098C0 24.133 5.851 30.793 13.5 32V20.751H9.437v-4.653H13.5v-3.547c0-4.035 2.389-6.263 6.043-6.263 1.751 0 3.582.314 3.582.314v3.962h-2.018c-1.988 0-2.607 1.241-2.607 2.514v3.02h4.438l-.709 4.653h-3.728V32c7.649-1.208 13.5-7.867 13.5-15.902z"/></svg>
      <span class="sr-only">Facebook</span>
    </a>
  </div>
</div>
{{/_layout-container}}
