---
title: Iconography
style: true
page: true
width: narrow
---
{{#>_layout-container}}
<div class="nsw-docs__section nsw-docs__section--spaced"> 
{{>_icon code="east"}}
{{>_icon code="keyboard_arrow_right"}}
{{>_icon code="menu"}}
{{>_icon code="search"}}
{{>_icon code="close"}}
{{>_icon code="info"}}
{{>_icon code="check_circle"}}
{{>_icon code="error"}}
{{>_icon code="cancel"}}
</div>
<div class="nsw-docs__section nsw-docs__section--spaced"> 
{{>_icon code="east" size="20"}}
{{>_icon code="east" size="24"}}
{{>_icon code="east" size="30"}}
{{>_icon code="east" size="36"}}
</div>
<div class="nsw-docs__section nsw-docs__section--spaced"> 
{{>_icon code="east" type="brand"}}
{{>_icon code="info" type="info"}}
{{>_icon code="check_circle" type="success"}}
{{>_icon code="error" type="warning"}}
{{>_icon code="cancel" type="error"}}
</div>
<div class="nsw-docs__section nsw-docs__section--spaced"> 
{{>_icon code="east"}}
{{>_icon code="east" rotate="90"}}
{{>_icon code="east" rotate="180"}}
{{>_icon code="east" rotate="270"}}
</div>
{{/_layout-container}}
