---
title: Iconography
style: true
page: true
width: narrow
---
{{#>_layout-container}}
<div class="nsw-grid">
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    <h3>Icons</h3>
    <h5>Arrow</h5>
    {{>_icon code="east"}}

    <h5>Chevron</h5>
    {{>_icon code="keyboard_arrow_right"}}

    <h5>Menu</h5>
    {{>_icon code="menu"}}

    <h5>Search</h5>
    {{>_icon code="search"}}

    <h5>Close</h5>
    {{>_icon code="close"}}

    <h5>Information</h5>
    {{>_icon code="info"}}

    <h5>Success</h5>
    {{>_icon code="check_circle"}}

    <h5>Warning</h5>
    {{>_icon code="error"}}

    <h5>Critical</h5>
    {{>_icon code="cancel"}}

  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    <h3>Icon colour</h3>

    <h5>Information</h5>
    {{>_icon code="info" type="info"}}

    <h5>Success</h5>
    {{>_icon code="check_circle" type="success"}}

    <h5>Warning</h5>
    {{>_icon code="error" type="warning"}}

    <h5>Critical</h5>
    {{>_icon code="cancel" type="error"}}
  </div>
  <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
    <h3>Icon rotation</h3>

    <h5>Default</h5>
    {{>_icon code="east"}}

    <h5>90&deg;</h5>
    {{>_icon code="east" rotate="90"}}

    <h5>180&deg;</h5>
    {{>_icon code="east" rotate="180"}}

    <h5>270&deg;</h5>
    {{>_icon code="east" rotate="270"}}
  </div>
</div>
{{/_layout-container}}
