---
title: Iconography
layout: blank-layout.hbs
---

<h2>Material design icons</h2>

<p>The NSW Design system uses <a href="https://material.io/resources/icons" target="_blank" rel="noopener">Material design icons</a> (filled versions) to illustrate actions, status and signage. Icons communicate messages at a glance, suggest interactivity and draw attention to important information.</p>

<h2>Icon Style</h2>

<h3>Sizing</h3>
<p>Icons should be designed to an 8 pixel grid and can be scaled and displayed at four sizes depending on use and screen size:</p>
<ul>
  <li>8px x 8px</li>
  <li>16px x 16px</li>
  <li>24px x 24px</li>
  <li>32px x 32px</li>
</ul>

<h3>Colour</h3>
<p>Icons that are clickable should use NSW Brand Blue to remain consistent with text link styling. If icon is on a background that changes the colour of the text (for example a button) then the icon should take on the same colour as the text.</p>
<p>Icons used to represent a state should use the appropriate colour, for example an icon used in a success notification should use Success Green.</p>