---
title: Iconography
style: true
width: narrow
---

<div class="nsw-docs-example nsw-docs-example--narrow">
	<p>The NSW Design system uses <a target="_blank" href="https://material.io/resources/icons">Material Design icons</a> (filled versions) to illustrate actions, status and signage. Icons communicate messages at a glance, suggest interactivity and draw attention to important information.</p>
	<h3>Icons</h3>
	<p>Here is are the icons that we are currently using across existing components:</p>

	<h5>Arrow</h5>
	{{#>_docs-example simple="true" open="true"}}{{>_icon code="east"}}{{/_docs-example}}

	<h5>Chevron</h5>
	{{#>_docs-example simple="true" open="true"}}{{>_icon code="keyboard_arrow_right"}}{{/_docs-example}}

	<h5>Menu</h5>
	{{#>_docs-example simple="true" open="true"}}{{>_icon code="menu"}}{{/_docs-example}}

	<h5>Search</h5>
	{{#>_docs-example simple="true" open="true"}}{{>_icon code="search"}}{{/_docs-example}}

	<h5>Close</h5>
	{{#>_docs-example simple="true" open="true"}}{{>_icon code="close"}}{{/_docs-example}}

	<h5>Information</h5>
	{{#>_docs-example simple="true" open="true"}}{{>_icon code="info"}}{{/_docs-example}}

	<h5>Success</h5>
	{{#>_docs-example simple="true" open="true"}}{{>_icon code="check_circle"}}{{/_docs-example}}

	<h5>Warning</h5>
	{{#>_docs-example simple="true" open="true"}}{{>_icon code="error"}}{{/_docs-example}}

	<h5>Critical</h5>
	{{#>_docs-example simple="true" open="true"}}{{>_icon code="cancel"}}{{/_docs-example}}


	<h3>Icon colour</h3>
	<p>By default all icons are distinctly NSW blue, there are some preset colours availible:</p>

	<h5>Information</h5>
	{{#>_docs-example simple="true" open="true"}}{{>_icon code="info" type="info"}}{{/_docs-example}}

	<h5>Success</h5>
	{{#>_docs-example simple="true" open="true"}}{{>_icon code="check_circle" type="success"}}{{/_docs-example}}

	<h5>Warning</h5>
	{{#>_docs-example simple="true" open="true"}}{{>_icon code="error" type="warning"}}{{/_docs-example}}

	<h5>Critical</h5>
	{{#>_docs-example simple="true" open="true"}}{{>_icon code="cancel" type="error"}}{{/_docs-example}}


	<h3>Icon rotation</h3>
	<p>Helper classes can also be applied to change direction on an icon:</p>

	<h5>Default</h5>
	{{#>_docs-example simple="true" open="true"}}{{>_icon code="east"}}{{/_docs-example}}

	<h5>90&deg;</h5>
	{{#>_docs-example simple="true" open="true"}}{{>_icon code="east" rotate="90"}}{{/_docs-example}}

	<h5>180&deg;</h5>
	{{#>_docs-example simple="true" open="true"}}{{>_icon code="east" rotate="180"}}{{/_docs-example}}

	<h5>270&deg;</h5>
	{{#>_docs-example simple="true" open="true"}}{{>_icon code="east" rotate="270"}}{{/_docs-example}}
</div>