---
title: Iconography
order: 20
width: narrow
tabs: true
directory: iconography
---


<h3>Default</h3>

{{#>_docs-example simple="true" open="true"}}{{>_icon code="east"}}{{/_docs-example}}

<h3>Icon sizes</h3>

<h5>20px</h5>
{{#>_docs-example simple="true" open="true"}}{{>_icon code="east" size="20"}}{{/_docs-example}}

<h5>24px</h5>
{{#>_docs-example simple="true" open="true"}}{{>_icon code="east" size="24"}}{{/_docs-example}}

<h5>30px</h5>
{{#>_docs-example simple="true" open="true"}}{{>_icon code="east" size="30"}}{{/_docs-example}}

<h5>36px</h5>
{{#>_docs-example simple="true" open="true"}}{{>_icon code="east" size="36"}}{{/_docs-example}}


<h3>Icon colour</h3>

<h5>Brand</h5>
{{#>_docs-example simple="true" open="true"}}{{>_icon code="east" type="brand"}}{{/_docs-example}}

<h5>Information</h5>
{{#>_docs-example simple="true" open="true"}}{{>_icon code="info" type="info"}}{{/_docs-example}}

<h5>Success</h5>
{{#>_docs-example simple="true" open="true"}}{{>_icon code="check_circle" type="success"}}{{/_docs-example}}

<h5>Warning</h5>
{{#>_docs-example simple="true" open="true"}}{{>_icon code="error" type="warning"}}{{/_docs-example}}

<h5>Critical</h5>
{{#>_docs-example simple="true" open="true"}}{{>_icon code="cancel" type="error"}}{{/_docs-example}}


<h3>Icon rotation</h3>

<h5>Default</h5>
{{#>_docs-example simple="true" open="true"}}{{>_icon code="east"}}{{/_docs-example}}

<h5>90&deg;</h5>
{{#>_docs-example simple="true" open="true"}}{{>_icon code="east" rotate="90"}}{{/_docs-example}}

<h5>180&deg;</h5>
{{#>_docs-example simple="true" open="true"}}{{>_icon code="east" rotate="180"}}{{/_docs-example}}

<h5>270&deg;</h5>
{{#>_docs-example simple="true" open="true"}}{{>_icon code="east" rotate="270"}}{{/_docs-example}}


<h3>Icon links and buttons</h3>

<h5>Link</h5>
{{#>_docs-example simple="true"}}
<a class="nsw-icon-button">
  {{>_icon code="home"}}
  <span class="sr-only">Home</span>
</a>
{{/_docs-example}}

<h5>Button</h5>
{{#>_docs-example simple="true"}}
<button class="nsw-icon-button" type="button">
  {{>_icon code="search"}}
  <span class="sr-only">Search</span>
</button>
{{/_docs-example}}

<h5>SVG</h5>
{{#>_docs-example simple="true"}}
<a class="nsw-icon-button" href="#" target="_blank" rel="noopener">
  <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#1578f2" d="M32 16.098C32 7.207 24.837 0 16 0S0 7.207 0 16.098C0 24.133 5.851 30.793 13.5 32V20.751H9.437v-4.653H13.5v-3.547c0-4.035 2.389-6.263 6.043-6.263 1.751 0 3.582.314 3.582.314v3.962h-2.018c-1.988 0-2.607 1.241-2.607 2.514v3.02h4.438l-.709 4.653h-3.728V32c7.649-1.208 13.5-7.867 13.5-15.902z"/></svg>
  <span class="sr-only">Facebook</span>
</a>
{{/_docs-example}}