---
title: Iconography
order: 20
width: narrow
directory: iconography
no-blank: true
---


<h3>Default</h3>

<h5>Arrow</h5>
{{#>_docs-example simple="true" open="true"}}{{>_icon code="east"}}{{/_docs-example}}


<h3>Icon colour</h3>

<h5>Information</h5>
{{#>_docs-example simple="true" open="true"}}{{>_icon code="info" type="info"}}{{/_docs-example}}

<h5>Success</h5>
{{#>_docs-example simple="true" open="true"}}{{>_icon code="check_circle" type="success"}}{{/_docs-example}}

<h5>Warning</h5>
{{#>_docs-example simple="true" open="true"}}{{>_icon code="error" type="warning"}}{{/_docs-example}}

<h5>Critical</h5>
{{#>_docs-example simple="true" open="true"}}{{>_icon code="cancel" type="error"}}{{/_docs-example}}


<h3>Icon rotation</h3>

<h5>Default</h5>
{{#>_docs-example simple="true" open="true"}}{{>_icon code="east"}}{{/_docs-example}}

<h5>90&deg;</h5>
{{#>_docs-example simple="true" open="true"}}{{>_icon code="east" rotate="90"}}{{/_docs-example}}

<h5>180&deg;</h5>
{{#>_docs-example simple="true" open="true"}}{{>_icon code="east" rotate="180"}}{{/_docs-example}}

<h5>270&deg;</h5>
{{#>_docs-example simple="true" open="true"}}{{>_icon code="east" rotate="270"}}{{/_docs-example}}
