<div class="nsw-wysiwyg-content nsw-container">
	 <h1>Blockquotes</h1>
	 <blockquote>
		“These new requirements will promote responsible cat and dog breeding and selling by allowing relevant agencies to identify and deal with problem breeders,”
		<cite>Mr Marshall</cite>
	</blockquote>
</div>