<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Masthead</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="../../favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../css/docs.css">
</head>

<body class="nsw-body-content">

<nav class="nsw-skipto" aria-label="Skip to links">
  <a class="nsw-skipto__link" href="#"><span>Skip to navigation</span></a>
  <a class="nsw-skipto__link" href="#"><span>Skip to content</span></a>
</nav>
<div class="nsw-masthead">
  <div class="nsw-container">
    <p>A NSW Government website</p>
  </div>
</div>
<nav class="nsw-skipto nsw-skipto--light" aria-label="Skip to links">
  <a class="nsw-skipto__link" href="#"><span>Skip to navigation</span></a>
  <a class="nsw-skipto__link" href="#"><span>Skip to content</span></a>
</nav>
<div class="nsw-masthead nsw-masthead--light">
  <div class="nsw-container">
    <p>A NSW Government website</p>
  </div>
</div>

  <script src="../../js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
