<!doctype html>
<html lang="en" class="no-js">
<head>
  <title>NSW Digital Design System - Masthead</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex" />
  <link rel="icon" href="/nsw-design-system/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TMEHXHFJXJ"></script>
<script>window.dataLayer=window.dataLayer||[];functiongtag(){dataLayer.push(arguments);}gtag("js",newDate());gtag("config","G-TMEHXHFJXJ");</script>
</head>

<body>

<nav class="nsw-skip" aria-label="Skip to links">
  <a href="#"><span>Skip to navigation</span></a>
  <a href="#"><span>Skip to content</span></a>
</nav>
<div class="nsw-masthead">
  <div class="nsw-container">A NSW Government website</div>
</div>
<nav class="nsw-skip nsw-skip--light" aria-label="Skip to links">
  <a href="#"><span>Skip to navigation</span></a>
  <a href="#"><span>Skip to content</span></a>
</nav>
<div class="nsw-masthead nsw-masthead--light">
  <div class="nsw-container">A NSW Government website</div>
</div>

  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
