<div class="nsw-dialog">
  <div class="nsw-dialog__container">
    <div class="nsw-dialog__title">{{title}}</div>
    <div class="nsw-dialog__content">
      {{{content}}}
    </div>
    <button class="nsw-button nsw-button--dark nsw-dialog__close">Close</button>
  </div>
  <div class="nsw-dialog__cta">
    <p>Click on the dialog CTA below to open the dialog.</p>
    <button class="nsw-button nsw-button--dark nsw-dialog__open">Open</button>
  </div>
</div>
