<div class="nsw-dialog js-dialog">
  <div class="nsw-dialog__container">
    <div class="nsw-dialog__body">
      <div class="nsw-dialog__header">
        <div class="nsw-dialog__title">{{{title}}}</div>
          <button class="nsw-icon-button nsw-dialog__close" type="button" aria-expanded="true">
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
            <span class="sr-only">Close message</span>
          </button>
        </div>
      <div class="nsw-dialog__content">
        {{{content}}}
      </div>
      <div class="nsw-dialog__footer">
        {{{footer}}}
      </div>
    </div>
  </div>
  <div class="nsw-dialog__cta">
    <p class="nsw-dialog__intro">{{{intro}}}</p>
    <button class="nsw-button nsw-button--dark nsw-dialog__open">Open</button>
  </div>
</div>
