@use '../../global/scss/base/functions' as functions;
@use '../../global/scss/base/mixins' as mixins;

.dialog-active {
  overflow: hidden;
}

.nsw-dialog {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(var(--nsw-black-rgb), 0.7);
  justify-content: center;
  align-items: flex-end;
  
  @include mixins.z-index('upper');

  .nsw-section--invert & {
    color: var(--nsw-text-dark);

    .nsw-icon-button {
      @include mixins.link-dark();
    }
  }

  @include mixins.breakpoint('sm') {
    align-items: center;
    padding: 0 functions.rem(16px);
  }

  &.active {
    display: flex;
  }

  &__wrapper {
    background-color: var(--nsw-white);
    width: 100%;
    max-width: functions.rem(736px);
    position: relative;
    padding-bottom: functions.rem(145px);

    @include mixins.breakpoint('sm') {
      border-radius: var(--nsw-border-radius);
      align-items: center;
      max-height: 90%;
    }

    @include mixins.breakpoint('md') {
      padding-bottom: functions.rem(81px);
    }

    @include mixins.breakpoint('lg') {
      padding-bottom: functions.rem(113px);
    }

    .nsw-dialog--single-action & {
      padding-bottom: functions.rem(81px);

      @include mixins.breakpoint('lg') {
        padding-bottom: functions.rem(113px);
      }
    }
  }

  &__container {
    height: 100%;
    max-height: calc(100vh - #{functions.rem(145px)});
    overflow-y: auto;

    @include mixins.breakpoint('sm') {
      max-height: calc(90vh - #{functions.rem(145px)});
    }

    @include mixins.breakpoint('md') {
      max-height: calc(90vh - #{functions.rem(81px)});
    }

    @include mixins.breakpoint('lg') {
      max-height: calc(90vh - #{functions.rem(113px)});
    }

    .nsw-dialog--single-action & {
      max-height: calc(100vh - #{functions.rem(81px)});

      @include mixins.breakpoint('sm') {
        max-height: calc(90vh - #{functions.rem(81px)});
      }

      @include mixins.breakpoint('lg') {
        max-height: calc(90vh - #{functions.rem(113px)});
      }
    }
  }

  &__top {
    border-bottom: 1px solid var(--nsw-grey-04);
    display: flex;
  }

  &__title {
    padding: functions.rem(16px);
    width: 100%;

    @include mixins.breakpoint('lg') {
      padding: functions.rem(32px);
    }
  }

  &__close {
    min-width: functions.rem(48px);
    max-width: functions.rem(48px);
    padding: functions.rem(8px) functions.rem(8px) functions.rem(8px) 0;

    @include mixins.breakpoint('lg') {
      min-width: functions.rem(64px);
      max-width: functions.rem(64px);
      padding: functions.rem(24px) functions.rem(24px) functions.rem(24px) 0;
    }
  }

  &__content {
    padding: functions.rem(16px);

    @include mixins.breakpoint('lg') {
      padding: functions.rem(32px);
    }
  }

  &__bottom {
    border-top: 1px solid var(--nsw-grey-04);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: functions.rem(16px);

    @include mixins.breakpoint('md') {
      flex-direction: row-reverse;
      justify-content: flex-start;
    }

    @include mixins.breakpoint('lg') {
      padding: functions.rem(32px);
    }

    button {
      margin-bottom: functions.rem(16px);

      @include mixins.breakpoint('md') {
        margin-left: functions.rem(16px);
        margin-bottom: 0;
      }

      &:last-child {
        margin-bottom: 0;

        @include mixins.breakpoint('md') {
          margin-left: 0;
        }
      }
    }
  }
}
