@use '../../global/scss/tools' as nsw;

.dialog-active {
  overflow: hidden;
}

.nsw-dialog {
  display: none;
  position: fixed;
  inset-inline-start: 0;
  inset-inline-end: 0;
  inset-block-start: 0;
  inset-block-end: 0;
  background-color: rgba(var(--nsw-black-rgb), 0.7);
  justify-content: center;
  align-items: flex-end;
  
  @include nsw.z-index('upper');

  .nsw-section--invert & {
    color: var(--nsw-text-dark);

    .nsw-icon-button {
      @include nsw.link-dark();
    }
  }

  @include nsw.breakpoint('sm') {
    align-items: center;
    padding: 0 nsw.rem(16px);
  }

  &.active {
    display: flex;
  }

  &__wrapper {
    background-color: var(--nsw-white);
    inline-size: 100%;
    max-inline-size: nsw.rem(736px);
    position: relative;
    padding-block-end: nsw.rem(145px);

    @include nsw.breakpoint('sm') {
      border-radius: var(--nsw-border-radius);
      align-items: center;
      max-block-size: 90%;
    }

    @include nsw.breakpoint('md') {
      padding-block-end: nsw.rem(81px);
    }

    @include nsw.breakpoint('lg') {
      padding-block-end: nsw.rem(113px);
    }

    .nsw-dialog--single-action & {
      padding-block-end: nsw.rem(81px);

      @include nsw.breakpoint('lg') {
        padding-block-end: nsw.rem(113px);
      }
    }
  }

  &__container {
    block-size: 100%;
    max-block-size: calc(100vh - #{nsw.rem(145px)});
    overflow-y: auto;

    @include nsw.breakpoint('sm') {
      max-block-size: calc(90vh - #{nsw.rem(145px)});
    }

    @include nsw.breakpoint('md') {
      max-block-size: calc(90vh - #{nsw.rem(81px)});
    }

    @include nsw.breakpoint('lg') {
      max-block-size: calc(90vh - #{nsw.rem(113px)});
    }

    .nsw-dialog--single-action & {
      max-block-size: calc(100vh - #{nsw.rem(81px)});

      @include nsw.breakpoint('sm') {
        max-block-size: calc(90vh - #{nsw.rem(81px)});
      }

      @include nsw.breakpoint('lg') {
        max-block-size: calc(90vh - #{nsw.rem(113px)});
      }
    }
  }

  &__top {
    border-block-end: 1px solid var(--nsw-grey-04);
    display: flex;
  }

  &__title {
    padding: nsw.rem(16px);
    inline-size: 100%;

    @include nsw.breakpoint('lg') {
      padding: nsw.rem(32px);
    }
  }

  &__close {
    min-inline-size: nsw.rem(48px);
    max-inline-size: nsw.rem(48px);
    padding: nsw.rem(8px) nsw.rem(8px) nsw.rem(8px) 0;

    @include nsw.breakpoint('lg') {
      min-inline-size: nsw.rem(64px);
      max-inline-size: nsw.rem(64px);
      padding: nsw.rem(24px) nsw.rem(24px) nsw.rem(24px) 0;
    }
  }

  &__content {
    padding: nsw.rem(16px);

    @include nsw.breakpoint('lg') {
      padding: nsw.rem(32px);
    }
  }

  &__bottom {
    border-block-start: 1px solid var(--nsw-grey-04);
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    display: flex;
    flex-direction: column;
    padding: nsw.rem(16px);

    @include nsw.breakpoint('md') {
      flex-direction: row-reverse;
      justify-content: flex-start;
    }

    @include nsw.breakpoint('lg') {
      padding: nsw.rem(32px);
    }

    button {
      margin-block-end: nsw.rem(16px);

      @include nsw.breakpoint('md') {
        margin-inline-start: nsw.rem(16px);
        margin-block-end: 0;
      }

      &:last-child {
        margin-block-end: 0;

        @include nsw.breakpoint('md') {
          margin-inline-start: 0;
        }
      }
    }
  }
}
