---
title: Dialog
width: narrow
tabs: true
directory: dialog
intro: Dialogs make a user stop and think by presenting them with a critical action or piece of information required to continue.
model:
    dialog-transactional: json/dialog-transactional.json
    dialog-transactional-dismissable: json/dialog-transactional-dismissable.json
    dialog-danger: json/dialog-danger.json
    dialog-danger-dismissable: json/dialog-danger-dismissable.json

---

<h3>Transactional</h3>
{{#>_docs-example}}{{>_dialog model.dialog-transactional}}{{/_docs-example}}

<h3>Transactional dismissable</h3>
{{#>_docs-example}}{{>_dialog model.dialog-transactional-dismissable}}{{/_docs-example}}

<h3>Danger</h3>
{{#>_docs-example}}{{>_dialog model.dialog-danger}}{{/_docs-example}}

<h3>Danger dismissable</h3>
{{#>_docs-example}}{{>_dialog model.dialog-danger-dismissable}}{{/_docs-example}}
