---
title: Dialog
width: narrow
tabs: true
directory: dialog
intro: A dialog (also called a modal window or lightbox) is a web page element that displays in front of and deactivates all other page content. To return to the main content, the user must engage with the modal by completing an action or by closing it.
model:
    dialog-1: json/dialog.json
    dialog-2: json/dialog-2.json

---

<h3>Dialog non-dissmisable</h3>
{{#>_docs-example}}{{>_dialog model.dialog-1}}{{/_docs-example}}

<h3>Dialog dissmisable</h3>
{{#>_docs-example}}{{>_dialog model.dialog-2}}{{/_docs-example}}
