---
title: Dialog
width: narrow
tabs: true
directory: dialog
intro: Dialogs make a user stop and think by presenting them with a critical action or piece of information required to continue.
model:
    dialog-transactional: json/dialog-transactional.json
    dialog-single-cta: json/dialog-single-cta.json
    dialog-danger: json/dialog-danger.json
    dialog-dismissable: json/dialog-dismissable.json

---

<h3>Transactional</h3>
{{#>_docs-example}}{{>_dialog model.dialog-transactional}}{{/_docs-example}}

<h3>Single call to action</h3>
{{#>_docs-example}}{{>_dialog model.dialog-single-cta}}{{/_docs-example}}

<h3>Danger</h3>
{{#>_docs-example}}{{>_dialog model.dialog-danger}}{{/_docs-example}}

<h3>Dismissable</h3>
{{#>_docs-example}}{{>_dialog model.dialog-dismissable}}{{/_docs-example}}
