---
title: Dialog
width: narrow
tabs: true
directory: dialog
intro: A dialog (also called a modal window or lightbox) is a web page element that displays in front of and deactivates all other page content. To return to the main content, the user must engage with the modal by completing an action or by closing it.
model:
    dialog: json/dialog.json

---

<h3>Dialog with open/close</h3>
{{#>_docs-example}}{{>_dialog model.dialog}}{{/_docs-example}}
