---
title: Media
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Use media to add an <a target="_blank" href="https://www.digital.nsw.gov.au/digital-service-toolkit/resources/content-writing/content-101/images-and-alt-text">image</a> or <a target="_blank" href="https://www.digital.nsw.gov.au/digital-service-toolkit/resources/content-writing/content-101/documents-and-media/video-and-audio">video</a> that supports and reinforces the content. Ensure media used is relevant and impactful. </p>
<p>Each media component needs to be allocated a <strong>width</strong> and <strong>position</strong>. We recommend using width percentages in increments of ten at the positions below: </p>
<ul>
  <li>Widths of 30%, 40% and 50% should have a position of <strong>left</strong> or <strong>right</strong>.</li>
  <li>Widths of 60%, 70%, 80%, 90% and 100% should have a position of <strong>centre</strong></li>
</ul>

<h3>Captions</h3>
<p>Captions by default contain a coloured background to visually connect the text to the image or video. If your caption text would be better placed without a background, this option is also available. </p>
<p>Read more about using <a target="_blank" href="https://www.digital.nsw.gov.au/digital-service-toolkit/resources/content-writing/content-101/images-and-alt-text#captions">captions</a>.</p>

<h2>Accessibility</h2>
<p>All components are responsive and designed to comply with WCAG 2.2 AA accessibility standards, except where compliance is achieved through correct usage and configuration.</p>
