@use '../../global/scss/tools' as nsw;

.nsw-media {
  inline-size: 100%;
  margin: nsw.rem(16px) auto;

  .nsw-section--invert & {    
    color: var(--nsw-text-dark);
  }

  @include nsw.breakpoint('md') {
    margin-block-start: nsw.rem(32px);
    margin-block-end: nsw.rem(32px);

    &--90 {
      inline-size: 90%;
    }

    &--80 {
      inline-size: 80%;
    }

    &--70 {
      inline-size: 70%;
    }

    &--60 {
      inline-size: 60%;
    }

    &--left-50,
    &--left-40,
    &--left-30 {
      margin-inline-start: 0;
      padding-inline-end: nsw.rem(16px);
      margin-inline-end: nsw.rem(16px);
      float: inline-start;
    }

    &--right-50,
    &--right-40,
    &--right-30 {
      padding-inline-start: nsw.rem(16px);
      margin-inline-start: nsw.rem(16px);
      margin-inline-end: 0;
      float: inline-end;
    }

    &--right-50,
    &--left-50 {
      inline-size: 50%;
    }

    &--right-40,
    &--left-40 {
      inline-size: 40%;
    }

    &--right-30,
    &--left-30 {
      inline-size: 30%;
    }
  }

  &__video {
    overflow: hidden;
    position: relative;
    inline-size: 100%;

    &::after {
      content: '';
      display: block;
      padding-block-start: 56.25%;
    }

    iframe,
    video {
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      inline-size: 100%;
      block-size: 100%;
    }
  }

  img {
    display: block;
    border: 0;
    inline-size: 100%;
  }

  figcaption {
    background-color: var(--nsw-off-white);
    padding: nsw.rem(16px);
    
    @include nsw.font-size('xs');
  }

  &--light {
    figcaption {
      background-color: var(--nsw-brand-light);
    }
  }

  &--dark {
    figcaption {
      background-color: var(--nsw-brand-dark);
      color: var(--nsw-text-light);
    }
  }

  &--transparent {
    figcaption {
      background-color: transparent;
      padding-inline-start: 0;
      padding-inline-end: 0;
      padding-block-end: 0;

      .nsw-section--invert & {    
        color: var(--nsw-text-light);
      }
    }
  }
}
