---
title: Media
width: narrow
---

<h3>Full width</h3>
{{#>_docs-example}}
{{>_media 
  	image="https://picsum.photos/id/237/2000/1250"
	title="A picture of a black dog" 
	caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne." 
}}
{{/_docs-example}}

<h3>Full width without background</h3>
{{#>_docs-example}}
{{>_media 
	transparent="true"
  	image="https://picsum.photos/id/237/2000/1250"
	title="A picture of a black dog" 
	caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne." 
}}
{{/_docs-example}}

<h3>Full width video</h3>
{{#>_docs-example}}
{{>_media 
  	video="https://www.youtube.com/embed/HNHu2zRPSB4"
	title="Digital.nsw launch with Victor Dominello MP at NSW Parliament House" 
	caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne." 
}}
{{/_docs-example}}

<h3>Centre 90%</h3>
{{#>_docs-example}}
{{>_media 
	class="90"
  	image="https://picsum.photos/id/237/2000/1250"
	title="A picture of a black dog" 
	caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne." 
}}
{{/_docs-example}}

<h3>Centre 80%</h3>
{{#>_docs-example}}
{{>_media 
	class="80"
  	image="https://picsum.photos/id/237/2000/1250"
	title="A picture of a black dog" 
	caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne." 
}}
{{/_docs-example}}

<h3>Centre 70%</h3>
{{#>_docs-example}}
{{>_media 
	class="70"
  	image="https://picsum.photos/id/237/2000/1250"
	title="A picture of a black dog" 
	caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne." 
}}
{{/_docs-example}}

<h3>Centre 60%</h3>
{{#>_docs-example}}
{{>_media 
	class="60"
  	image="https://picsum.photos/id/237/2000/1250"
	title="A picture of a black dog" 
	caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne." 
}}
{{/_docs-example}}

<h3>Left 50%</h3>
{{#>_docs-example}}
{{>_media 
	class="left-50"
  	image="https://picsum.photos/id/237/2000/1250"
	title="A picture of a black dog" 
	caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne." 
}}
{{/_docs-example}}

<h3>Right 50%</h3>
{{#>_docs-example}}
{{>_media 
	class="right-50"
  	image="https://picsum.photos/id/237/2000/1250"
	title="A picture of a black dog" 
	caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne." 
}}
{{/_docs-example}}

<h3>Left 40%</h3>
{{#>_docs-example}}
{{>_media 
	class="left-40"
  	image="https://picsum.photos/id/237/2000/1250"
	title="A picture of a black dog" 
	caption="A long caption, ee mei labores adipiscing." 
}}
{{/_docs-example}}

<h3>Right 40%</h3>
{{#>_docs-example}}
{{>_media 
	class="right-40"
  	image="https://picsum.photos/id/237/2000/1250"
	title="A picture of a black dog" 
	caption="A long caption, ee mei labores adipiscing." 
}}
{{/_docs-example}}

<h3>Left 30%</h3>
{{#>_docs-example}}
{{>_media 
	class="left-30"
  	image="https://picsum.photos/id/237/2000/1250"
	title="A picture of a black dog" 
}}
{{/_docs-example}}

<h3>Right 30%</h3>
{{#>_docs-example}}
{{>_media 
	class="right-30"
  	image="https://picsum.photos/id/237/2000/1250"
	title="A picture of a black dog" 
}}
{{/_docs-example}}