<div class="nsw-container">
  <a class="nsw-direction-link" href="#">
    <i class="material-icons material-icons--rotate-180" focusable="false" aria-hidden="true">east</i>
    <span class="nsw-direction-link__text">
      Back <span class="sr-only">a page</span>
    </span>
  </a>

  <a class="nsw-direction-link" href="#">
    <span class="nsw-direction-link__text">
      Bottom <span class="sr-only">of page</span>
    </span>
    <i class="material-icons material-icons--rotate-90" focusable="false" aria-hidden="true">east</i>
  </a>

  <a class="nsw-direction-link" href="#">
    <span class="nsw-direction-link__text">
      Top <span class="sr-only">of page</span>
    </span>
    <i class="material-icons material-icons--rotate-270" focusable="false" aria-hidden="true">east</i>
  </a>

  <a class="nsw-direction-link" href="#">
    <span class="nsw-direction-link__text">
      Next <span class="sr-only">page</span>
    </span>
    <i class="material-icons" focusable="false" aria-hidden="true">east</i>
  </a>
</div>

<div class="nsw-container">
  <span class="nsw-direction-link nsw-direction-link--icon-left is-disabled">
    <i class="material-icons material-icons--rotate-180" focusable="false" aria-hidden="true">east</i>
    <span class="nsw-direction-link__text">
      Back <span class="sr-only">a page</span>
    </span>
  </span>

  <span class="nsw-direction-link is-disabled">
    <span class="nsw-direction-link__text">
      Bottom <span class="sr-only">of page</span>
    </span>
    <i class="material-icons material-icons--rotate-90" focusable="false" aria-hidden="true">east</i>
  </span>

  <span class="nsw-direction-link is-disabled">
    <span class="nsw-direction-link__text">
      Top <span class="sr-only">of page</span>
    </span>
    <i class="material-icons material-icons--rotate-270" focusable="false" aria-hidden="true">east</i>
  </span>

  <span class="nsw-direction-link is-disabled">
    <span class="nsw-direction-link__text">
      Next <span class="sr-only">page</span>
    </span>
    <i class="material-icons" focusable="false" aria-hidden="true">east</i>
  </span>
</div>

