<a class="nsw-direction-link{{#if-equals type "back"}} nsw-direction-link--icon-left{{/if-equals}}{{#if disabled}} is-disabled{{/if}}" href="#">{{#if-equals type "back"}}
  <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">west</i>{{/if-equals}}
  <span class="nsw-direction-link__text">
    {{#if-equals type "back"}}Back <span class="sr-only">a page</span>{{/if-equals}}{{#if-equals type "next"}}Next <span class="sr-only">page</span>{{/if-equals}}{{#if-equals type "top"}}Top <span class="sr-only">of page</span>{{/if-equals}}{{#if-equals type "bottom"}}Bottom <span class="sr-only">of page</span>{{/if-equals}}
  </span>{{#if-equals type "next"}}
  <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</i>{{/if-equals}}{{#if-equals type "top"}}
  <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">north</i>{{/if-equals}}{{#if-equals type "bottom"}}
  <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">south</i>{{/if-equals}}
</a>
