<div class="nsw-container">
  <a class="nsw-direction-link" href="#">
    <svg class="nsw-icon nsw-icon--rotate-180" focusable="false" aria-hidden="true">
      <use xlink:href="#arrow"></use>
    </svg>
    <span class="nsw-direction-link__text">
      Back <span class="sr-only">a page</span>
    </span>
  </a>

  <a class="nsw-direction-link" href="#">
    <span class="nsw-direction-link__text">
      Bottom <span class="sr-only">of page</span>
    </span>
    <svg class="nsw-icon nsw-icon--rotate-90" focusable="false" aria-hidden="true">
      <use xlink:href="#arrow"></use>
    </svg>
  </a>

  <a class="nsw-direction-link" href="#">
    <span class="nsw-direction-link__text">
      Top <span class="sr-only">of page</span>
    </span>
    <svg class="nsw-icon nsw-icon--rotate-270" focusable="false" aria-hidden="true">
      <use xlink:href="#arrow"></use>
    </svg>
  </a>

  <a class="nsw-direction-link" href="#">
    <span class="nsw-direction-link__text">
      Next <span class="sr-only">page</span>
    </span>
    <svg class="nsw-icon" focusable="false" aria-hidden="true">
      <use xlink:href="#arrow"></use>
    </svg>
  </a>
</div>

<div class="nsw-container">
  <span class="nsw-direction-link nsw-direction-link--icon-left is-disabled">
    <svg class="nsw-icon nsw-icon--rotate-180" focusable="false" aria-hidden="true">
      <use xlink:href="#arrow"></use>
    </svg>
    <span class="nsw-direction-link__text">
      Back <span class="sr-only">a page</span>
    </span>
  </span>

  <span class="nsw-direction-link is-disabled">
    <span class="nsw-direction-link__text">
      Bottom <span class="sr-only">of page</span>
    </span>
    <svg class="nsw-icon nsw-icon--rotate-90" focusable="false" aria-hidden="true">
      <use xlink:href="#arrow"></use>
    </svg>
  </span>

  <span class="nsw-direction-link is-disabled">
    <span class="nsw-direction-link__text">
      Top <span class="sr-only">of page</span>
    </span>
    <svg class="nsw-icon nsw-icon--rotate-270" focusable="false" aria-hidden="true">
      <use xlink:href="#arrow"></use>
    </svg>
  </span>

  <span class="nsw-direction-link is-disabled">
    <span class="nsw-direction-link__text">
      Next <span class="sr-only">page</span>
    </span>
    <svg class="nsw-icon" focusable="false" aria-hidden="true">
      <use xlink:href="#arrow"></use>
    </svg>
  </span>
</div>

