.nsw-direction-link {
  @include font-stack('heading');
  position: relative;
  display: inline-flex;
  text-decoration: none;
  vertical-align: middle;
  padding: rem(4px) rem(8px);
  color: $dark80;

  &:hover {
    @include nsw-hover;
  }

  &:focus {
    @include nsw-focus($offset: false);
  }

  .nsw-icon {
    width: rem(16px);
    height: rem(16px);
    align-self: center;

    + .nsw-direction-link__text {
      @include nsw-spacing(margin-left, xs);
    }
  }

  .nsw-material-icons {
    font-size: rem(20px);
    align-self: center;

    + .nsw-direction-link__text {
      margin-left: rem(4px);
    }
  }

  &__text {
    align-self: center;

    + .nsw-icon {
      @include nsw-spacing(margin-left, xs);
    }

    + .nsw-material-icons {
      margin-left: rem(4px);
    }
  }

  &.is-disabled {
    color: $light40;
    cursor: not-allowed;
    background: none;

    .nsw-icon {
      fill: $light40;
    }

    .nsw-material-icons {
      color: $light40;
    }
  }
}
