<div class="nsw-container">
	<h1>Direction Links</h1>

	<a class="nsw-direction-link" href="#">
		<svg class="nsw-icon  icon-back" focusable="false" aria-hidden="true">
					  <use xlink:href="#arrow"></use>
		</svg>
		Back
	</a>

		<a class="nsw-direction-link" href="#">Bottom
			<svg class="nsw-icon icon-bottom" focusable="false" aria-hidden="true">
						  <use xlink:href="#arrow"></use>
			</svg>
	</a>

		<a class="nsw-direction-link" href="#">Top
			<svg class="nsw-icon  icon-top" focusable="false" aria-hidden="true">
						  <use xlink:href="#arrow"></use>
			</svg>
	</a>

		<a class="nsw-direction-link" href="#">Next
			<svg class="nsw-icon icon-next" focusable="false" aria-hidden="true">
						  <use xlink:href="#arrow"></use>
			</svg>
	</a>

</div>