---
title: Direction links
width: narrow
page: true
---
{{#>_layout-container}}
<div class="nsw-docs__section"> 
{{>_direction-links type="back"}}
{{>_direction-links type="bottom"}}
{{>_direction-links type="top"}}
{{>_direction-links type="next"}}
</div>
<div class="nsw-docs__section"> 
{{>_direction-links type="back" disabled="true"}}
{{>_direction-links type="bottom" disabled="true"}}
{{>_direction-links type="top" disabled="true"}}
{{>_direction-links type="next" disabled="true"}}
</div>
{{/_layout-container}}
