---
title: Direction links
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>The direction of the arrow provides a visual cue as to the direction, which is supported by the text.</p>
<p>Use direction links to suggest the direction:</p>
<ul>
  <li>up or down a page</li>
  <li>through a process</li>
  <li>back to main content</li>
</ul>

<h2>How this component works</h2>
<p>Direction links have arrows to help users quickly understand what will happen when they click on a link. They help support the mental model the user has of moving through a flow, or around a page.</p>
<p>Direction links comprise of bold text and an arrow indicating the direction, such as:</p>
<ul>
  <li>linking 'up' or 'down' within the page.</li>
  <li>going 'back' to a parent page.</li>
  <li>showing the 'next' or 'previous' pages.</li>
</ul>
<p><strong>Arrow icons</strong></p>
<p>Arrow icons are used for direction links, rather than chevrons or triangles, to better articulate their purpose and separate the direction links from other elements which use chevron icons such as accordions or call to action links.</p>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>