---
title: Direction links
width: narrow
guidance: https://digitalnsw.github.io/nsw-design-system-docs/components/direction-links/index.html
---

<h3>Default</h3>
{{#>_docs-example}}
{{>_direction-links type="back"}}
{{>_direction-links type="bottom"}}
{{>_direction-links type="top"}}
{{>_direction-links type="next"}}
{{/_docs-example}}

<h3>Disabled</h3>
{{#>_docs-example}}
{{>_direction-links type="back" disabled="true"}}
{{>_direction-links type="bottom" disabled="true"}}
{{>_direction-links type="top" disabled="true"}}
{{>_direction-links type="next" disabled="true"}}
{{/_docs-example}}
