---
title: Direction links
width: narrow
tabs: true
directory: direction-links
intro: Direction links show users how to navigate through a page or process. 
figma: https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=996%3A6834
react: https://digitalnsw.github.io/nsw-design-system-react/?path=/docs/content-directionlink--direction-link
---

<h3>Default</h3>
{{#>_docs-example}}
{{>_direction-links type="back"}}
{{>_direction-links type="bottom"}}
{{>_direction-links type="top"}}
{{>_direction-links type="next"}}
{{/_docs-example}}

<h3>Disabled</h3>
{{#>_docs-example}}
{{>_direction-links type="back" disabled="true"}}
{{>_direction-links type="bottom" disabled="true"}}
{{>_direction-links type="top" disabled="true"}}
{{>_direction-links type="next" disabled="true"}}
{{/_docs-example}}
