.nsw-wysiwyg-content,
.nsw-body-content {
  @include font-stack;
  @include font-size('sm');
  color: $dark80;

  a:not([class]) {
    @include link;
  }

  p,
  ul,
  ol,
  dl {
    &:not([class]) {
      margin: 0;
    }
  }

  * + p,
  * + ul,
  * + ol,
  * + dl {
    &:not([class]) {
      margin-top: rem(16px);
    }
  }

  ul,
  ol {
    &:not([class]) {
      li {
        @include nsw-spacing(margin-top, xs);
      }
    }
  }

  dt {
    &:not([class]) {
      @include nsw-spacing(margin-top, xs);
    }
  }

  small {
    @include font-size('xs');
  }

  abbr,
  acronym {
    text-decoration: none;
    border-bottom: 1px $nsw-primary-blue dashed;
  }

  blockquote {
    @include font-size('lg');
    @include nsw-spacing(margin-top, md);
    border-left: solid 6px $nsw-primary-highlight;
    padding: rem(20px) rem(24px);

    @include breakpoint('md') {
      margin-left: auto;
      margin-right: auto;
      max-width: 75%;
    }
  }

  cite {
    @include font-size('sm');
    @include nsw-spacing(margin-top, md);
    display: block;
    font-style: normal;
  }

  cite::before {
    content: '— ';
  }

  hr {
    border: 0;
    height: 1px;
    background-color: $light20;
    margin: rem(16) 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not([class]) {
      @include font-stack('heading');
      margin: 0;
    }
  }

  h1 {
    &:not([class]) {
      @include font-size('xxxl');
    }
  }

  h2 {
    &:not([class]) {
      @include font-size('xxl');
    }
  }

  h3 {
    &:not([class]) {
      @include font-size('lg');
    }
  }

  h4 {
    &:not([class]) {
      @include font-size('md');
    }
  }

  h5,
  h6 {
    &:not([class]) {
      @include font-size('sm');
    }
  }

  * + h1 {
    &:not([class]) {
      @include nsw-spacing(margin-top, xxxl);
    }
  }

  * + h2 {
    &:not([class]) {
      @include nsw-spacing(margin-top, xxl);
    }
  }

  * + h3 {
    &:not([class]) {
      @include nsw-spacing(margin-top, xl);
    }
  }

  * + h4,
  * + h5,
  * + h6 {
    &:not([class]) {
      @include nsw-spacing(margin-top, lg);
    }
  }

  .nsw-intro {
    @include font-size('md');
    margin: rem(16px) 0 0 0;
  }
}

.nsw-text-link {
  @include text-link;
}

h1,
h2,
h3,
h4 {
  &.nsw-section-title {
    @include font-stack('heading');
    margin: 0;
    padding-top: rem($grid-gutters);
    padding-bottom: rem(8px);

    @include breakpoint('md') {
      padding-top: rem($grid-gutters*2);
    }
  }
}

h1 {
  &.nsw-section-title {
    @include font-size('xxxl');
  }
}

h2 {
  &.nsw-section-title {
    @include font-size('xxl');
  }
}

h3 {
  &.nsw-section-title {
    @include font-size('lg');
  }
}

h4 {
  &.nsw-section-title {
    @include font-size('md');
  }
}

.nsw-section-separator {    
  border: 0;
  height: 1px;
  background-color: $light20;
  margin: rem(32) 0;

  @include breakpoint('md') {
    margin: rem(48) 0;
  }
}

.nsw-section-text {
  margin: 0;
  margin-top: rem(-8px);
  padding-bottom: rem(8px);
}
