<h1>Heading 1</h1>
<p>
  font-size: 36px/48px<br>
  font-weight: 600<br>
  line-height: 45px/60px
</p>
{{#>_docs-example hidden="true"}}<h1>Heading 1</h1>{{/_docs-example}}

<hr>

<h2>Heading 2</h2>
<p>
  font-size: 28px/32px<br>
  font-weight: 600<br>
  line-height: 40px/35px
</p>
{{#>_docs-example hidden="true"}}<h2>Heading 2</h2>{{/_docs-example}}

<hr>

<h3>Heading 3</h3>
<p>
  font-size: 22px/24px<br>
  font-weight: 600<br>
  line-height: 32px/27.5px
</p>
{{#>_docs-example hidden="true"}}<h3>Heading 3</h3>{{/_docs-example}}

<hr>

<h4>Heading 4</h4>
<p>
  font-size: 18px/20px<br>
  font-weight: 600<br>
  line-height: 28px/24px
</p>
{{#>_docs-example hidden="true"}}<h4>Heading 4</h4>{{/_docs-example}}

<hr>

<h5>Heading 5&6</h5>
<p>
  font-size: 16px/16px<br>
  font-weight: 600<br>
  line-height: 24px/24px
</p>
{{#>_docs-example hidden="true"}}<h5>Heading 5&6</h5>{{/_docs-example}}

<hr>

<p class="nsw-intro">Intro text</p>
<p>
  font-size: 18px/20px<br>
  font-weight: 400<br>
  line-height: 24px/28px
</p>
{{#>_docs-example hidden="true"}}<p class="nsw-intro">Intro text</p>{{/_docs-example}}

<hr>

<p>Body text</p>
<p>
  font-size: 18px/16px<br>
  font-weight: 400<br>
  line-height: 24px/24px
</p>
{{#>_docs-example hidden="true"}}<p>Body text</p>{{/_docs-example}}

<hr>

<p><small>Small text</small></p>
<p>
  font-size: 14px/14px<br>
  font-weight: 400<br>
  line-height: 19px/19px
</p>
{{#>_docs-example hidden="true"}}<p><small>Small text</small></p>{{/_docs-example}}

<hr>

<h3>Text-level markup</h3>
<h4>Link</h4>
{{#>_docs-example simple="true"}}<p>Find out more <a href="#">here</a></p>{{/_docs-example}}

<h4>Strong</h4>
{{#>_docs-example simple="true"}}<p><strong>This text is important!</strong></p>{{/_docs-example}}

<h4>Emphasis</h4>
{{#>_docs-example simple="true"}}<p>This is <em>very</em> simple</p>{{/_docs-example}}

<h4>Incorrect</h4>
{{#>_docs-example simple="true"}}<p>Only <s>50</s> 30 tickets left!</p>{{/_docs-example}}


<h4>Abbreviation</h4>
{{#>_docs-example simple="true"}}<p>The <abbr title="World Health Organization">WHO</abbr> was founded in 1948.</p>{{/_docs-example}}

<h4>Mathematical notations</h4>
{{#>_docs-example simple="true"}}<p>e<sup>x</sup>, sin<sup>2</sup> <i>x</i>, e<sup>x<sup>2</sup></sup> and f(x)<sup>g(x)<sup>a+b+c</sup></sup></p>{{/_docs-example}}

<hr>

<h3>Unordered list</h3>
{{#>_docs-example simple="true"}}
<ul>
  <li>Vestibulum laoreet, nulla sed bibendum rhoncus</li>
  <li>Mauris fringilla lacinia neque id vulputate
    <ul>
      <li>Mauris aliquet aliquet elit ut pulvinar</li>
      <li>Pellentesque odio orci</li>
      <li>Pellentesque pharetra mauris eget neque interdum luctus</li>
    </ul>
  </li>
  <li>Phasellus vestibulum, augue et elementum tincidunt, quam libero tempor quam, a porttitor justo leo et tellus</li>
  <li>Donec pellentesque risus a tristique tempus</li>
</ul>
{{/_docs-example}}

<hr>

<h3>Ordered list</h3>
{{#>_docs-example simple="true"}}
<ol>
  <li>Vestibulum laoreet, nulla sed bibendum rhoncus</li>
  <li>Mauris fringilla lacinia neque id vulputate
    <ol>
      <li>Mauris aliquet aliquet elit ut pulvinar</li>
      <li>Pellentesque odio orci</li>
      <li>Pellentesque pharetra mauris eget neque interdum luctus</li>
    </ol>
  </li>
  <li>Phasellus vestibulum, augue et elementum tincidunt, quam libero tempor quam, a porttitor justo leo et tellus</li>
  <li>Donec pellentesque risus a tristique tempus</li>
</ol>
{{/_docs-example}}

<hr>

<h3>Definition list</h3>
{{#>_docs-example simple="true"}}
<dl>
  <dt>Ut mollis nisi vitae</dt>
  <dd>Nunc porta purus non sem laoreet eleifend a pharetra ex. Nunc aliquet et velit a tincidunt.</dd>

  <dt>Cras consectetur quam</dt>
  <dd>Nunc vel lacus venenatis, fermentum ipsum vel, gravida ex. Vivamus a scelerisque orci.</dd>

  <dt>Maecenas sit amet neque</dt>
  <dd>Maecenas at risus ullamcorper odio facilisis ultrices et et metus. Mauris ex ante, vestibulum a arcu a, molestie ultricies eros.</dd>

  <dt>Cras ac lacus in ligula</dt>
  <dd>Quisque dignissim libero sit amet fermentum tincidunt. Aenean quis neque ante.</dd>
</dl>
{{/_docs-example}}

<hr>

<h3>Blockquote</h3>
{{#>_docs-example simple="true"}}
<blockquote>
  “Pellentesque facilisis sed quam id blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.”
  <cite>Nullam faucibus</cite>
</blockquote>
{{/_docs-example}}

<hr>

<br><br>

<h1>Lorem ipsum dolor sit amet</h1>
<p class="nsw-intro">Curabitur sem tellus, consectetur sed mauris eu, imperdiet iaculis ex. Mauris ullamcorper hendrerit justo. Cras varius lorem sed convallis pharetra. Praesent viverra vel nisl in interdum. Nam tristique dolor enim, eu rhoncus risus ultricies ac.</p>

<h2>Nulla ac augue sit amet urna pharetra bibendum</h2>
<p>Nunc facilisis pretium augue, <a href="#">sollicitudin condimentum</a> tellus fringilla sed. Nullam dignissim turpis erat, sit amet volutpat urna auctor nec. Donec eleifend tristique tellus eget efficitur. Mauris vitae nisi nec urna fringilla accumsan. Sed at ex urna. Morbi quis lectus et urna ullamcorper mattis. Phasellus pellentesque dictum nisl ac pretium. Phasellus posuere sem quis ligula ornare semper. <em>Aliquam aliquet lectus sit amet pharetra auctor.</em></p>

<h3>Pellentesque accumsan libero odio</h3>
<p>Vivamus luctus placerat pretium. In hac habitasse platea dictumst. Quisque sit amet nibh nunc. Fusce eleifend quam ut auctor ultrices. Cras eu aliquam nisl. Proin tortor nisl, fermentum at mi at, molestie tristique nibh.</p>
<ul>
  <li><strong>Vestibulum laoreet</strong>, nulla sed bibendum rhoncus</li>
  <li><strong>Mauris fringilla</strong> lacinia neque id vulputate
    <ul>
      <li>Mauris aliquet aliquet elit ut pulvinar</li>
      <li>Pellentesque odio orci</li>
      <li>Pellentesque pharetra mauris eget neque interdum luctus</li>
    </ul>
  </li>
  <li><strong>Phasellus vestibulum</strong>, augue et elementum tincidunt, quam libero tempor quam, a porttitor justo leo et tellus</li>
  <li><strong>Donec pellentesque</strong> risus a tristique tempus</li>
</ul>

<h3>Mauris dignissim placerat magna ac aliquet</h3>
<p>Suspendisse blandit hendrerit eros eget viverra. Nulla sit amet dictum tortor, vitae lobortis nisi. Phasellus nec tortor odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

<blockquote>
  “Pellentesque facilisis sed quam id blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi at posuere diam, quis congue mi.”
  <cite>Nullam faucibus</cite>
</blockquote>

<h2>Maecenas posuere, orci eu auctor tincidunt, urna neque finibus nunc</h2>
{{>_media 
  class="right-50"
  image="https://picsum.photos/id/237/2000/1250"
  title="A picture of a black dog" 
  caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne." 
}}
<p>Nunc ut aliquet dui, at facilisis dolor. Nam vitae rutrum libero. Donec finibus massa vitae velit faucibus mattis. Nunc hendrerit fringilla ullamcorper. Donec scelerisque mauris non cursus malesuada. Vivamus turpis elit, placerat eget purus at, varius rutrum velit. Etiam semper sem vel lacinia accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula mattis tempus.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fringilla erat vel dui maximus, id malesuada lacus imperdiet. Quisque tincidunt vitae tellus ut finibus. Sed sapien felis, egestas ut hendrerit nec, sodales quis nisl. Suspendisse in nisi et sapien consequat semper. Curabitur laoreet eros id imperdiet dapibus. Nam in dui at nulla pulvinar sollicitudin ac sit amet ligula. In vulputate pharetra accumsan. Fusce eget imperdiet quam, sit amet vestibulum nunc. Vivamus sed bibendum nibh, in pharetra tortor. Pellentesque augue urna, pulvinar ut aliquet nec, consequat vitae ipsum. Maecenas quis volutpat turpis. Pellentesque vel turpis mauris. Nulla facilisi.</p>

{{>_media 
  transparent="true"
  class="left-40"
  image="https://picsum.photos/id/237/2000/1250"
  title="A picture of a black dog" 
  caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne." 
}}
<p>Nunc vehicula neque nunc, ut placerat turpis luctus a. Aliquam euismod pretium accumsan. Nullam laoreet enim vitae elit finibus, in commodo nulla aliquam. Vivamus ac varius dolor. Praesent hendrerit erat nec pulvinar congue. </p>
<p>Mauris in sagittis lacus. Aliquam nec consectetur elit, ac gravida mi. Donec ullamcorper felis volutpat venenatis maximus. Quisque facilisis leo at augue pulvinar, ac tincidunt urna egestas.</p>
<p>Phasellus id sem molestie, facilisis ipsum id, molestie orci. Proin velit erat, luctus et mi eget, maximus aliquet dui. Integer nisl ipsum, malesuada ultrices ipsum a, scelerisque elementum risus. Donec erat urna, fringilla id ornare id, mattis non urna. Duis faucibus ante ac magna rutrum sagittis.</p>

<p>Quisque tempor tellus non tellus auctor vehicula. Nunc quis molestie nulla. Nam ac fringilla est. Phasellus ut justo luctus, auctor nisi id, fringilla neque. Integer lorem elit, mollis sit amet dolor sit amet, elementum accumsan ligula. Fusce et fermentum libero, vulputate venenatis augue. Suspendisse potenti. Vestibulum blandit, mauris a ultrices commodo, ante tortor placerat massa, eget placerat risus nibh sit amet ligula. Nulla viverra odio sit amet nisl aliquet ornare.</p>

{{>_media 
  class="80"
  video="https://www.youtube.com/embed/HNHu2zRPSB4"
  caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne." 
}}

<p>Nunc ut aliquet dui, at facilisis dolor. Nam vitae rutrum libero. Donec finibus massa vitae velit faucibus mattis. Nunc hendrerit fringilla ullamcorper. Donec scelerisque mauris non cursus malesuada. Vivamus turpis elit, placerat eget purus at, varius rutrum velit. Etiam semper sem vel lacinia accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula mattis tempus.</p>
