<h1>Testing display of HTML elements</h1>
<p class="nsw-intro">This is an intro test paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

<h2>This is 2nd level heading</h2>
<p>This is a test paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

<h3>This is 3rd level heading</h3>
<p>This is a test paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

<h4>This is 4th level heading</h4>
<p>This is a test paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

<h5>This is 5th level heading</h5>
<p>This is a test paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

<h6>This is 6th level heading</h6>
<p>This is a test paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

<p><small>This is small text</small></p>

<h2>Basic block level elements</h2>

<p>This is a normal paragraph.
To add some length to it, let us mention that this page was
<a href="#">primarily written for testing</a> the effect of <strong>user style sheets</strong>.
You can use it for various other purposes as well, like just checking how
your browser displays various HTML elements by default.
It can also be useful when testing conversions from HTML
format to other formats, since some elements can go wrong then.</p>
<p>This is another paragraph. I think it needs to be added that
the set of elements tested is not exhaustive in any sense. I have selected
those elements for which it can make sense to write user style sheet rules,
in my opionion.</p>

<blockquote>
  “These new requirements will promote responsible cat and dog breeding and selling by allowing relevant agencies to identify and deal with problem breeders,”
  <cite>Mr Marshall</cite>
</blockquote>

<h2>Lists</h2>

<p>This is a paragraph before an <strong>unnumbered</strong> list. Note that the spacing between a paragraph and a list before or after that is hard to tune in a user style sheet. You can't guess which paragraphs are logically related to a list, e.g. as a "list header".</p>
<ul>
  <li> One.</li>
  <li> Two.</li>
  <li> Three. Well, probably this list item should be longer. Note that for short items lists look better if they are compactly presented, whereas for long items, it would be better to have more vertical spacing between items.</li>
  <li> Four. This is the last item in this list.</li>
  <li>Let us terminate the list now without making any more fuss about it.</li>
</ul>

<p>This is a paragraph before a <strong>numbered</strong> list. Note that the spacing between a paragraph and a list before or after that is hard to tune in a user style sheet. You can't guess which paragraphs are logically related to a list, e.g. as a "list header".</p>
<ol>
  <li> One.</li>
  <li> Two.</li>
  <li> Three. Well, probably this list item should be longer. Note that for short items lists look better if they are compactly presented, whereas for long items, it would be better to have more vertical spacing between items.</li>
  <li> Four. This is the last item in this list.</li>
</ol>

<p>This is a paragraph before a <strong>definition</strong> list. In principle, such a list should consist of <em>terms</em> and associated definitions.</p>
<dl>
  <dt> recursion</dt>
  <dd> see recursion</dd>
  <dt> recursion, indirect</dt>
  <dd> see indirect recursion</dd>
  <dt> indirect recursion</dt>
  <dd> see recursion, indirect</dd>
  <dt> term</dt>
  <dd> a word or other expression taken into specific use in a well-defined meaning, which is often defined rather rigorously, even formally, and may differ quite a lot from an everyday meaning</dd>
</dl>

<h2>Text-level markup</h2>

<ul>
  <li> <abbr title="Cascading Style Sheets">CSS</abbr> (an abbreviation)</li>
  <li> <acronym title="radio detecting and ranging">radar</acronym> (an acronym)</li>
  <li> <code>a[i] = b[i] + c[i);</code> (computer code)</li>
  <li> here we have some <del>deleted</del> text</li>
  <li> this is <em>very</em> simple (emphasizing a word)</li>
  <li> here we have some <ins>inserted</ins> text</li>
  <li> here we have some <s>overstruck</s> text</li>
  <li> <strong>this is strong text</strong></li>
  <li> Mathematical notations: e<sup>x</sup>, sin<sup>2</sup> <i>x</i>, e<sup>x<sup>2</sup></sup> and f(x)<sup>g(x)<sup>a+b+c</sup></sup></li>
</ul>

<p>Some of the elements tested above are typically displayed in a monospace font, often using the <em>same</em> presentation for all of them. This tests whether that is the case on your browser:</p>

<h2>Character test</h2>
<p>The following table has some sample characters with annotations. If the browser&#8217;s default font does not contain all of them, they may get displayed using backup fonts. This may cause stylistic differences, but it should not prevent the characters from being displayed at all.</p>

<table>
  <tbody>
    <tr><th>Char. <th>Explanation <th>Notes
    <tr><td>ê <td>e with circumflex <td>Latin 1 character, should be ok
    <tr><td>&#8212; <td>em dash <td>Windows Latin 1 character, should be ok, too
    <tr><td>&#x100; <td>A with macron (line above) <td>Latin Extended-A character, not present in all fonts
    <tr><td>&Omega; <td>capital omega <td>A Greek letter
    <tr><td>&#x2212; <td>minus sign <td>Unicode minus
    <tr><td>&#x2300; <td>diameter sign <td>relatively rare in fonts
  </tbody>
</table>

<h1>Hospitals and medical practitioners</h1>
<h2>Order promotional material for online birth registration</h2>
<p>Parents in NSW can register their newborn online. Hospitals and midwives can order promotional materials using the order form below.</p>
<p>Download the&nbsp;<a href="https://www.bdm.nsw.gov.au/Documents/re-order-brs-materials.pdf">Online birth registration promo material order form</a>&nbsp;(PDF)</p>

<h2>Order Medical Certificate Cause of Perinatal Death forms</h2>
<p>To order&nbsp;Medical Certificate Cause of Perinatal Death (MCCPD) forms,&nbsp;email&nbsp;<a href="mailto:bdm-assets@customerservice.nsw.gov.au">bdm-assets@customerservice.nsw.gov.au</a>.</p>

<h2>Order Medical Certificate Cause of Death forms</h2>
<p>The Medical Certificate Cause of Death (MCCD) form was developed by a working party of representatives from the Registry, NSW Ministry of Health, and the Office of the State Coroner.&nbsp;</p>

<p>The MCCD is produced in A3 format and provides:</p>

<ul>
  <li>collection of additional data and guidance to ensure accurate reporting of deaths</li>
  <li>space for accurate data collection with a fluid layout</li>
  <li>easy storage; folds to A4 and hole punched to assist with filing.</li>
</ul>

<p>Additional information is collected in the MCCD including:</p>

<ul>
  <li>the clinician's eligibility to complete the MCCD</li>
  <li>details about the reporting clinician for follow up</li>
  <li>details about the deceased person; to provide further epidemiological information about deaths to assist with accurate reporting to the coroner.</li>
</ul>

<h3>How to order MCCD forms</h3>

<h4>Public hospitals</h4>

<p>Public hospitals can&nbsp;order the MCCD from the state print vendor's portal.</p>

<h4>Private hospitals and medical practitioners</h4>

<p>Private hospitals and medical practitioners can order the MCCD from the Registry of BDM by emailing&nbsp;<a href="mailto:bdm-assets@customerservice.nsw.gov.au">bdm-assets@customerservice.nsw.gov.au</a>&nbsp;with the doctor's full name, AHPRA number, delivery name, and address (no locked bags or PO boxes).</p>

<h2>Contacts</h2>

<h3>Private hospitals</h3>

<p>
  Private Health Care Unit<br>
  Legal &amp; Regulatory Services&nbsp;<br>
  Phone: (02) 9424 5955<br>
  Email:&nbsp;<a href="mailto:phcmb@doh.health.nsw.gov.au">phcmb@doh.health.nsw.gov.au</a>
</p>

<h3>Public hospitals</h3>

<p>Local Health District Representatives on the State Forms Management Committee.</p>

<h2>Resources</h2>

<ul>
  <li><a href="https://www.bdm.nsw.gov.au/Documents/eregistry/eBirth-tool.pdf">eBirths Notification Procedure</a>&nbsp;(PDF)</li>
  <li><a href="https://www.youtube.com/playlist?list=PLTimwaHp_iwOy29LWIfkH1T4X4N5DKKhp">eBirths Notifications Video Tutorial</a></li>
</ul>
