<h1>Heading 1</h1>
<p>
  font-size: 36px/48px<br>
  font-weight: 600<br>
  line-height: 45px/60px
</p>
{{#>_docs-example hidden="true" open="true"}}<h1>Heading 1</h1>{{/_docs-example}}

<hr>

<h2>Heading 2</h2>
<p>
  font-size: 28px/32px<br>
  font-weight: 600<br>
  line-height: 40px/35px
</p>
{{#>_docs-example hidden="true" open="true"}}<h2>Heading 2</h2>{{/_docs-example}}

<hr>

<h3>Heading 3</h3>
<p>
  font-size: 22px/24px<br>
  font-weight: 600<br>
  line-height: 32px/27.5px
</p>
{{#>_docs-example hidden="true" open="true"}}<h3>Heading 3</h3>{{/_docs-example}}

<hr>

<h4>Heading 4</h4>
<p>
  font-size: 18px/20px<br>
  font-weight: 600<br>
  line-height: 28px/24px
</p>
{{#>_docs-example hidden="true" open="true"}}<h4>Heading 4</h4>{{/_docs-example}}

<hr>

<h5>Heading 5&6</h5>
<p>
  font-size: 16px/16px<br>
  font-weight: 600<br>
  line-height: 24px/24px
</p>
{{#>_docs-example hidden="true" open="true"}}<h5>Heading 5&6</h5>{{/_docs-example}}

<hr>

<p class="nsw-intro">Intro text</p>
<p>
  font-size: 18px/20px<br>
  font-weight: 400<br>
  line-height: 24px/28px
</p>
{{#>_docs-example hidden="true" open="true"}}<p class="nsw-intro">Intro text</p>{{/_docs-example}}

<hr>

<p>Body text</p>
<p>
  font-size: 18px/16px<br>
  font-weight: 400<br>
  line-height: 24px/24px
</p>
{{#>_docs-example hidden="true" open="true"}}<p>Body text</p>{{/_docs-example}}

<hr>

<p><small>Small text</small></p>
<p>
  font-size: 14px/14px<br>
  font-weight: 400<br>
  line-height: 19px/19px
</p>
{{#>_docs-example hidden="true" open="true"}}<p><small>Small text</small></p>{{/_docs-example}}

<hr>

<h3>Text-level markup</h3>
<h4>Link</h4>
{{#>_docs-example simple="true" open="true"}}<p>Find out more <a href="#">here</a></p>{{/_docs-example}}

<h4>Strong</h4>
{{#>_docs-example simple="true" open="true"}}<p><strong>This text is important!</strong></p>{{/_docs-example}}

<h4>Emphasis</h4>
{{#>_docs-example simple="true" open="true"}}<p>This is <em>very</em> simple</p>{{/_docs-example}}

<h4>Incorrect</h4>
{{#>_docs-example simple="true" open="true"}}<p>Only <s>50</s> 30 tickets left!</p>{{/_docs-example}}


<h4>Abbreviation</h4>
{{#>_docs-example simple="true" open="true"}}<p>The <abbr title="World Health Organization">WHO</abbr> was founded in 1948.</p>{{/_docs-example}}

<h4>Mathematical notations</h4>
{{#>_docs-example simple="true" open="true"}}<p>e<sup>x</sup>, sin<sup>2</sup> <i>x</i>, e<sup>x<sup>2</sup></sup> and f(x)<sup>g(x)<sup>a+b+c</sup></sup></p>{{/_docs-example}}

<hr>

<h3>Unordered list</h3>
{{#>_docs-example simple="true"}}
<ul>
  <li>Vestibulum laoreet, nulla sed bibendum rhoncus</li>
  <li>Mauris fringilla lacinia neque id vulputate
    <ul>
      <li>Mauris aliquet aliquet elit ut pulvinar</li>
      <li>Pellentesque odio orci</li>
      <li>Pellentesque pharetra mauris eget neque interdum luctus</li>
    </ul>
  </li>
  <li>Phasellus vestibulum, augue et elementum tincidunt, quam libero tempor quam, a porttitor justo leo et tellus</li>
  <li>Donec pellentesque risus a tristique tempus</li>
</ul>
{{/_docs-example}}

<hr>

<h3>Ordered list</h3>
{{#>_docs-example simple="true"}}
<ol>
  <li>Vestibulum laoreet, nulla sed bibendum rhoncus</li>
  <li>Mauris fringilla lacinia neque id vulputate
    <ol>
      <li>Mauris aliquet aliquet elit ut pulvinar</li>
      <li>Pellentesque odio orci</li>
      <li>Pellentesque pharetra mauris eget neque interdum luctus</li>
    </ol>
  </li>
  <li>Phasellus vestibulum, augue et elementum tincidunt, quam libero tempor quam, a porttitor justo leo et tellus</li>
  <li>Donec pellentesque risus a tristique tempus</li>
</ol>
{{/_docs-example}}

<hr>

<h3>Definition list</h3>
{{#>_docs-example simple="true"}}
<dl>
  <dt>Ut mollis nisi vitae</dt>
  <dd>Nunc porta purus non sem laoreet eleifend a pharetra ex. Nunc aliquet et velit a tincidunt.</dd>

  <dt>Cras consectetur quam</dt>
  <dd>Nunc vel lacus venenatis, fermentum ipsum vel, gravida ex. Vivamus a scelerisque orci.</dd>

  <dt>Maecenas sit amet neque</dt>
  <dd>Maecenas at risus ullamcorper odio facilisis ultrices et et metus. Mauris ex ante, vestibulum a arcu a, molestie ultricies eros.</dd>

  <dt>Cras ac lacus in ligula</dt>
  <dd>Quisque dignissim libero sit amet fermentum tincidunt. Aenean quis neque ante.</dd>
</dl>
{{/_docs-example}}

<hr>

<h3>Blockquote</h3>
{{#>_docs-example simple="true"}}
<blockquote>
  “Pellentesque facilisis sed quam id blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.”
  <cite>Nullam faucibus</cite>
</blockquote>
{{/_docs-example}}
