.nsw-wysiwyg-content,
.nsw-body-content {
  @include font-stack;
  @include font-size('sm');
  color: $dark80;

  a:not(.nsw-button):not(.nsw-tag) {
    color: $nsw-primary-blue;
    text-decoration: underline;
    text-decoration-skip-ink: auto;

    &:hover {
      @include nsw-hover;
      outline: 2px solid $hover-colour;
    }

    &:focus {
      @include nsw-focus($offset: false);
    }

    &:visited {
      color: $link-visited;
    }

    &:active {
      @include nsw-active;
    }
  }

  p,
  ul,
  ol,
  dl {
    margin: 0;
  }

  * + p,
  * + ul,
  * + ol,
  * + dl {
    margin-top: 1rem;
  }

  ul,
  ol {
    li {
      @include nsw-spacing(margin-top, xs);
    }
  }

  dt {
    @include nsw-spacing(margin-top, xs);
  }

  small {
    @include font-size('xs');
  }

  abbr,
  acronym {
    text-decoration: none;
    border-bottom: 1px $nsw-primary-blue dashed;
  }

  blockquote {
    @include font-size('lg');
    @include nsw-spacing(margin-top, md);
    border-left: solid 6px $nsw-primary-highlight;
    padding: rem(20px) rem(24px);

    @include breakpoint('md') {
      margin-left: auto;
      margin-right: auto;
      max-width: 75%;
    }
  }

  cite {
    @include font-size('sm');
    @include nsw-spacing(margin-top, md);
    display: block;
    font-style: normal;
  }

  cite::before {
    content: '— ';
  }

  hr {
    border: 0;
    height: 1px;
    background-color: $light20;
    margin: rem(16) 0;
  }
}

.nsw-wysiwyg-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include font-stack('heading');
    margin: 0;
  }

  h1 {
    @include font-size('xxxl');
  }

  h2 {
    @include font-size('xxl');
  }

  h3 {
    @include font-size('lg');
  }

  h4 {
    @include font-size('md');
  }

  h5,
  h6 {
    @include font-size('sm');
  }

  .nsw-intro {
    @include font-size('md');
  }

  * + h1 {
    @include nsw-spacing(margin-top, xxxl);
  }

  * + h2 {
    @include nsw-spacing(margin-top, xxl);
  }

  * + h3 {
    @include nsw-spacing(margin-top, xl);
  }

  * + h4,
  * + h5,
  * + h6 {
    @include nsw-spacing(margin-top, lg);
  }
}

.nsw-body-content {
  * + p {
    margin-top: 1rem;
  }
}

.nsw-text-link {
  @include text-link;
}

h1,
h2,
h3,
h4 {
  &.nsw-section-title {
    @include font-stack('heading');
    margin: 0;
    padding-top: rem($grid-gutters);

    @include breakpoint('md') {
      padding-top: rem($grid-gutters*2);
    }
  }
}

h1 {
  &.nsw-section-title {
    @include font-size('xxxl');
  }
}

h2 {
  &.nsw-section-title {
    @include font-size('xxl');
  }
}

h3 {
  &.nsw-section-title {
    @include font-size('lg');
  }
}

h4 {
  &.nsw-section-title {
    @include font-size('md');
  }
}
