---
title: Typography
layout: blank-layout.hbs
---

<h2>Typeface</h2>
<p>Montserrat is the only font to be used by agencies for NSW Government websites and online applications. Major headings through to body copy must also use Montserrat.</p>
<p>Montserrat is a free font and available from <a href="https://fonts.google.com/specimen/Montserrat" target="_blank" rel="noopener">Google Fonts</a>.</p>

<h2>Type hierarchy</h2>
<p>Headings are used to create a clear visual hierarchy, to facilitate finding information on the page. There are different standard sizes for the headings for large screens and smaller screens.</p>
<p>The NSW Design System has the following heading sizes:</p>

<h1>Heading 1</h1>
<p>
  font-size: 36px/48px<br>
  font-weight: 600<br>
  line-height: 45px/60px
</p>

<hr>

<h2>Heading 2</h2>
<p>
  font-size: 28px/32px<br>
  font-weight: 600<br>
  line-height: 40px/35px
</p>

<hr>

<h3>Heading 3</h3>
<p>
  font-size: 22px/24px<br>
  font-weight: 600<br>
  line-height: 32px/27.5px
</p>

<hr>

<h4>Heading 4</h4>
<p>
  font-size: 18px/20px<br>
  font-weight: 600<br>
  line-height: 28px/24px
</p>

<hr>

<h5>Heading 5&6</h5>
<p>
  font-size: 16px/16px<br>
  font-weight: 600<br>
  line-height: 24px/24px
</p>

<h3>Paragraph elemnts</h3>

<p class="nsw-intro">Intro text</p>
<p>
  font-size: 18px/20px<br>
  font-weight: 400<br>
  line-height: 24px/28px
</p>

<hr>

<p>Body text</p>
<p>
  font-size: 18px/16px<br>
  font-weight: 400<br>
  line-height: 24px/24px
</p>

<hr>

<p><small>Small text</small></p>
<p>
  font-size: 14px/14px<br>
  font-weight: 400<br>
  line-height: 19px/19px
</p>