---
title: Typography
order: 10
width: narrow
directory: typography
no-blank: true

---

<h3>Headings</h3>
{{#>_docs-example simple="true" open="true"}}<h1>Heading 1</h1>{{/_docs-example}}
{{#>_docs-example simple="true" open="true" separated="true"}}<h2>Heading 2</h2>{{/_docs-example}}
{{#>_docs-example simple="true" open="true" separated="true"}}<h3>Heading 3</h3>{{/_docs-example}}
{{#>_docs-example simple="true" open="true" separated="true"}}<h4>Heading 4</h4>{{/_docs-example}}
{{#>_docs-example simple="true" open="true" separated="true"}}<h5>Heading 5&6</h5>{{/_docs-example}}


<h3>Paragraph text</h3>

{{#>_docs-example simple="true" open="true"}}<p class="nsw-intro">Intro text</p>{{/_docs-example}}
{{#>_docs-example simple="true" open="true" separated="true"}}<p>Body text</p>{{/_docs-example}}
{{#>_docs-example simple="true" open="true" separated="true"}}<p><small>Small text</small></p>{{/_docs-example}}

<h3>Text-level markup</h3>
<h4>Link</h4>
{{#>_docs-example simple="true" open="true"}}<p>Find out more <a href="#">here</a></p>{{/_docs-example}}
{{#>_docs-example simple="true" open="true" separated="true"}}<p>Open this link <a class="nsw-link nsw-link--icon" href="#"><span>in a new window</span><i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">launch</i></a></p>{{/_docs-example}}
{{#>_docs-example simple="true" open="true" separated="true"}}<p><a class="nsw-link nsw-link--icon" href="#"><i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">download</i><span>Download PDF schedule</span></a></p>{{/_docs-example}}
{{#>_docs-example simple="true" open="true" separated="true"}}<p>All components are availible in <a class="nsw-link nsw-link--icon" href="#"><svg width="20" height="20" viewBox="0 0 33 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.003 48c4.416 0 8-3.584 8-8v-8h-8c-4.416 0-8 3.584-8 8s3.584 8 8 8z" fill="#0ACF83"></path><path d="M.003 24c0-4.416 3.584-8 8-8h8v16h-8c-4.416 0-8-3.584-8-8z" fill="#A259FF"></path><path d="M.003 8c0-4.416 3.584-8 8-8h8v16h-8c-4.416 0-8-3.584-8-8z" fill="#F24E1E"></path><path d="M16.003 0h8c4.416 0 8 3.584 8 8s-3.584 8-8 8h-8V0z" fill="#FF7262"></path><path d="M32.003 24c0 4.416-3.584 8-8 8s-8-3.584-8-8 3.584-8 8-8 8 3.584 8 8z" fill="#1ABCFE"></path></svg><span>Figma</span></a></p>{{/_docs-example}}

<h4>Strong</h4>
{{#>_docs-example simple="true" open="true"}}<p><strong>This text is important!</strong></p>{{/_docs-example}}

<h4>Emphasis</h4>
{{#>_docs-example simple="true" open="true"}}<p>This is <em>very</em> simple</p>{{/_docs-example}}

<h4>Incorrect</h4>
{{#>_docs-example simple="true" open="true"}}<p>Only <s>50</s> 30 tickets left!</p>{{/_docs-example}}


<h4>Abbreviation</h4>
{{#>_docs-example simple="true" open="true"}}<p>The <abbr title="World Health Organization">WHO</abbr> was founded in 1948.</p>{{/_docs-example}}

<h4>Mathematical notations</h4>
{{#>_docs-example simple="true" open="true"}}<p>e<sup>x</sup>, sin<sup>2</sup> <i>x</i>, e<sup>x<sup>2</sup></sup> and f(x)<sup>g(x)<sup>a+b+c</sup></sup></p>{{/_docs-example}}

<h3>Unordered list</h3>
{{#>_docs-example simple="true"}}
<ul>
  <li>Vestibulum laoreet, nulla sed bibendum rhoncus</li>
  <li>Mauris fringilla lacinia neque id vulputate
    <ul>
      <li>Mauris aliquet aliquet elit ut pulvinar</li>
      <li>Pellentesque odio orci</li>
      <li>Pellentesque pharetra mauris eget neque interdum luctus</li>
    </ul>
  </li>
  <li>Phasellus vestibulum, augue et elementum tincidunt, quam libero tempor quam, a porttitor justo leo et tellus</li>
  <li>Donec pellentesque risus a tristique tempus</li>
</ul>
{{/_docs-example}}

<h3>Ordered list</h3>
{{#>_docs-example simple="true"}}
<ol>
  <li>Vestibulum laoreet, nulla sed bibendum rhoncus</li>
  <li>Mauris fringilla lacinia neque id vulputate
    <ol>
      <li>Mauris aliquet aliquet elit ut pulvinar</li>
      <li>Pellentesque odio orci</li>
      <li>Pellentesque pharetra mauris eget neque interdum luctus</li>
    </ol>
  </li>
  <li>Phasellus vestibulum, augue et elementum tincidunt, quam libero tempor quam, a porttitor justo leo et tellus</li>
  <li>Donec pellentesque risus a tristique tempus</li>
</ol>
{{/_docs-example}}

<h3>Definition list</h3>
{{#>_docs-example simple="true"}}
<dl>
  <dt>Ut mollis nisi vitae</dt>
  <dd>Nunc porta purus non sem laoreet eleifend a pharetra ex. Nunc aliquet et velit a tincidunt.</dd>

  <dt>Cras consectetur quam</dt>
  <dd>Nunc vel lacus venenatis, fermentum ipsum vel, gravida ex. Vivamus a scelerisque orci.</dd>

  <dt>Maecenas sit amet neque</dt>
  <dd>Maecenas at risus ullamcorper odio facilisis ultrices et et metus. Mauris ex ante, vestibulum a arcu a, molestie ultricies eros.</dd>

  <dt>Cras ac lacus in ligula</dt>
  <dd>Quisque dignissim libero sit amet fermentum tincidunt. Aenean quis neque ante.</dd>
</dl>
{{/_docs-example}}

<h3>Blockquote</h3>
{{#>_docs-example simple="true"}}
<blockquote>
  “Pellentesque facilisis sed quam id blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.”
  <cite>Nullam faucibus</cite>
</blockquote>
{{/_docs-example}}
