---
title: Typography
style: true
width: narrow
---

<div class="nsw-docs-example nsw-docs-example--narrow">
{{>_typography}}

<hr>

<br><br>

<h1>Lorem ipsum dolor sit amet</h1>
<p class="nsw-intro">Curabitur sem tellus, consectetur sed mauris eu, imperdiet iaculis ex. Mauris ullamcorper hendrerit justo. Cras varius lorem sed convallis pharetra. Praesent viverra vel nisl in interdum. Nam tristique dolor enim, eu rhoncus risus ultricies ac.</p>

<h2>Nulla ac augue sit amet urna pharetra bibendum</h2>
<p>Nunc facilisis pretium augue, <a href="#">sollicitudin condimentum</a> tellus fringilla sed. Nullam dignissim turpis erat, sit amet volutpat urna auctor nec. Donec eleifend tristique tellus eget efficitur. Mauris vitae nisi nec urna fringilla accumsan. Sed at ex urna. Morbi quis lectus et urna ullamcorper mattis. Phasellus pellentesque dictum nisl ac pretium. Phasellus posuere sem quis ligula ornare semper. <em>Aliquam aliquet lectus sit amet pharetra auctor.</em></p>

<h3>Pellentesque accumsan libero odio</h3>
<p>Vivamus luctus placerat pretium. In hac habitasse platea dictumst. Quisque sit amet nibh nunc. Fusce eleifend quam ut auctor ultrices. Cras eu aliquam nisl. Proin tortor nisl, fermentum at mi at, molestie tristique nibh.</p>
<ul>
  <li><strong>Vestibulum laoreet</strong>, nulla sed bibendum rhoncus</li>
  <li><strong>Mauris fringilla</strong> lacinia neque id vulputate
    <ul>
      <li>Mauris aliquet aliquet elit ut pulvinar</li>
      <li>Pellentesque odio orci</li>
      <li>Pellentesque pharetra mauris eget neque interdum luctus</li>
    </ul>
  </li>
  <li><strong>Phasellus vestibulum</strong>, augue et elementum tincidunt, quam libero tempor quam, a porttitor justo leo et tellus</li>
  <li><strong>Donec pellentesque</strong> risus a tristique tempus</li>
</ul>

<h3>Mauris dignissim placerat magna ac aliquet</h3>
<p>Suspendisse blandit hendrerit eros eget viverra. Nulla sit amet dictum tortor, vitae lobortis nisi. Phasellus nec tortor odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

<blockquote>
  “Pellentesque facilisis sed quam id blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi at posuere diam, quis congue mi.”
  <cite>Nullam faucibus</cite>
</blockquote>

<h2>Maecenas posuere, orci eu auctor tincidunt, urna neque finibus nunc</h2>
{{>_media 
  class="right-50"
  image="https://picsum.photos/id/237/2000/1250"
  title="A picture of a black dog" 
  caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne." 
}}
<p>Nunc ut aliquet dui, at facilisis dolor. Nam vitae rutrum libero. Donec finibus massa vitae velit faucibus mattis. Nunc hendrerit fringilla ullamcorper. Donec scelerisque mauris non cursus malesuada. Vivamus turpis elit, placerat eget purus at, varius rutrum velit. Etiam semper sem vel lacinia accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula mattis tempus.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fringilla erat vel dui maximus, id malesuada lacus imperdiet. Quisque tincidunt vitae tellus ut finibus. Sed sapien felis, egestas ut hendrerit nec, sodales quis nisl. Suspendisse in nisi et sapien consequat semper. Curabitur laoreet eros id imperdiet dapibus. Nam in dui at nulla pulvinar sollicitudin ac sit amet ligula. In vulputate pharetra accumsan. Fusce eget imperdiet quam, sit amet vestibulum nunc. Vivamus sed bibendum nibh, in pharetra tortor. Pellentesque augue urna, pulvinar ut aliquet nec, consequat vitae ipsum. Maecenas quis volutpat turpis. Pellentesque vel turpis mauris. Nulla facilisi.</p>

{{>_media 
  transparent="true"
  class="left-40"
  image="https://picsum.photos/id/237/2000/1250"
  title="A picture of a black dog" 
  caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne." 
}}
<p>Nunc vehicula neque nunc, ut placerat turpis luctus a. Aliquam euismod pretium accumsan. Nullam laoreet enim vitae elit finibus, in commodo nulla aliquam. Vivamus ac varius dolor. Praesent hendrerit erat nec pulvinar congue. </p>
<p>Mauris in sagittis lacus. Aliquam nec consectetur elit, ac gravida mi. Donec ullamcorper felis volutpat venenatis maximus. Quisque facilisis leo at augue pulvinar, ac tincidunt urna egestas.</p>
<p>Phasellus id sem molestie, facilisis ipsum id, molestie orci. Proin velit erat, luctus et mi eget, maximus aliquet dui. Integer nisl ipsum, malesuada ultrices ipsum a, scelerisque elementum risus. Donec erat urna, fringilla id ornare id, mattis non urna. Duis faucibus ante ac magna rutrum sagittis.</p>

<p>Quisque tempor tellus non tellus auctor vehicula. Nunc quis molestie nulla. Nam ac fringilla est. Phasellus ut justo luctus, auctor nisi id, fringilla neque. Integer lorem elit, mollis sit amet dolor sit amet, elementum accumsan ligula. Fusce et fermentum libero, vulputate venenatis augue. Suspendisse potenti. Vestibulum blandit, mauris a ultrices commodo, ante tortor placerat massa, eget placerat risus nibh sit amet ligula. Nulla viverra odio sit amet nisl aliquet ornare.</p>

{{>_media 
  class="80"
  video="https://www.youtube.com/embed/HNHu2zRPSB4"
  title="Digital.nsw launch with Victor Dominello MP at NSW Parliament House"
  caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne." 
}}

<p>Nunc ut aliquet dui, at facilisis dolor. Nam vitae rutrum libero. Donec finibus massa vitae velit faucibus mattis. Nunc hendrerit fringilla ullamcorper. Donec scelerisque mauris non cursus malesuada. Vivamus turpis elit, placerat eget purus at, varius rutrum velit. Etiam semper sem vel lacinia accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula mattis tempus.</p>
</div>