---
title: Typography
order: 10
width: narrow
directory: typography
no-blank: true

---
<p class="nsw-intro">NSW Government uses <a
        href="https://fonts.google.com/specimen/Public+Sans" target="_blank"
        rel="noopener">Public Sans</a> font for all digital products and
  services to
  create a distinct but consistent look and feel.</p>

<div class="nsw-notification nsw-notification--info">
  <i class="material-icons nsw-material-icons nsw-notification__icon"
     focusable="false" aria-hidden="true">info</i>
  <div class="nsw-notification__content">
    <h4 class="nsw-notification__title">Font migration</h4>
    <p>The previous iteration of the NSW Design System used Montserrat, to
      update to Public Sans read through the developer guide <a
              href="/docs/content/develop/migration.html">here</a>.</p>
  </div>
</div>
<div class="nsw-section nsw-section--white nsw-p-x-md nsw-m-top-md">
  <table class="nsw-table nsw-table--bordered">
    <tbody>
    <tr>
      <th>
        <div>
          <p>Typography Base</p>
        </div>
      </th>
      <th>
        <div>
          <p>CSS Variable</p>
        </div>
      </th>
      <th>
        <div>
          <p>Value</p>
        </div>
      </th>
    </tr>
    <tr>
      <td>
        <p>Font family</p>
      </td>
      <td>
        <code>nsw-font-family</code>
      </td>
      <td>
        <p><code>'Public Sans', sans-serif</code>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Font size</p>
      </td>
      <td>
        <code>nsw-font-size</code>
      </td>
      <td>
        <p><code>16px</code>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Line height</p>
      </td>
      <td>
        <code>nsw-line-height</code>
      </td>
      <td>
        <p><code>1.5</code>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Font weight - Regular</p>
      </td>
      <td>
        <code>nsw-font-normal</code>
      </td>
      <td>
        <p><code>400</code>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Font weight - Bold</p>
      </td>
      <td>
        <code>nsw-font-bold</code>
      </td>
      <td>
        <p><code>700</code>
        </p>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<h2>Typography styles</h2>
<p>NSW Design system There are different standard sizes for the headings for
  large screens and smaller screens.</p>
<h3>Large screens (≥ 992px)</h3>
<div class="nsw-section nsw-section--white nsw-p-x-md nsw-m-top-sm">
  <table class="nsw-table nsw-table--bordered">
    <tbody>
    <tr>
      <th>
        <div>
          <p>Style</p>
        </div>
      </th>
      <th>
        <div>
          <p><strong>Token</strong></p>
        </div>
      </th>
      <th>
        <div>
          <p>Font size (pixels)</p>
        </div>
      </th>
      <th>
        <div>
          <p>Font size (CSS variable)</p>
        </div>
      </th>
      <th>
        <p>Line height</p>
      </th>
      <th>
        <div>
          <p>Line height (CSS variable)</p>
        </div>
      </th>
      <th>
        <div>
          <p>Top margin</p>
        </div>
      </th>
      <th>
        <div>
          <p>Font weight</p>
        </div>
      </th>
    </tr>
    <tr>
      <td>
        <p>H1</p>
      </td>
      <td>
        <p>xxl</p>
      </td>
      <td>
        <p>48px</p>
      </td>
      <td>
        <p><code>nsw-font-size-xxl-desktop</code></p>
      </td>
      <td>
        <p>1.25 (60px)</p>
      </td>
      <td>

        <p><code>nsw-line-height-xxl-desktop</code></p>
      </td>
      <td>
        <p>4rem (64px)</p>
      </td>
      <td>
        <p>700</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>H2</p>
      </td>
      <td>
        <p>xl</p>
      </td>
      <td>32px</td>
      <td><code>nsw-font-size-xl-desktop</code></td>
      <td>1.25 (40px)</td>
      <td><code>nsw-line-height-xl-desktop</code></td>
      <td>
        <p>3rem</p>
        <p>(48px)</p>
      </td>
      <td>700</td>
    </tr>
    <tr>
      <td>
        <p>H3</p>
      </td>
      <td>
        <p>lg</p>
      </td>
      <td>24px</td>
      <td><code>nsw-font-size-lg-desktop</code></td>
      <td>
        <p>1.33</p>
        <p>(32px)</p>
      </td>
      <td><code>nsw-line-height-xl-desktop</code></td>
      <td>
        <p>2rem</p>
        <p>(32px)</p>
      </td>
      <td>700</td>
    </tr>
    <tr>
      <td>H4</td>
      <td>md</td>
      <td>20px</td>
      <td><code>nsw-font-size-md-desktop</code></td>
      <td>1.4 (28px)</td>
      <td><code>nsw-line-height-xl-desktop</code></td>
      <td>
        <p>1.5rem</p>
        <p>(24px)</p>
      </td>
      <td>700</td>
    </tr>
    <tr>
      <td>H5</td>
      <td>sm</td>
      <td>16px</td>
      <td><code>nsw-font-size-sm-desktop</code></td>
      <td>1.5 (24px)</td>
      <td><code>nsw-line-height-xl-desktop</code></td>
      <td>
        <p>1.5rem</p>
        <p>(24px)</p>
      </td>
      <td>700</td>
    </tr>
    <tr>
      <td>Intro text</td>
      <td>md</td>
      <td>20px</td>
      <td><code>nsw-font-size-md-desktop</code></td>
      <td>1.4 (28px)</td>
      <td><code>nsw-line-height-xl-desktop</code></td>
      <td>
        <p>1rem</p>
        <p>(16px)</p>
      </td>
      <td>400</td>
    </tr>
    <tr>
      <td>Body text</td>
      <td>sm</td>
      <td>6px</td>
      <td><code>nsw-font-size-sm-desktop</code></td>
      <td>1.5 (24px)</td>
      <td><code>nsw-line-height-xl-desktop</code></td>
      <td>
        <p>1rem</p>
        <p>(16px)</p>
      </td>
      <td>400</td>
    </tr>
    <tr>
      <td>Small text</td>
      <td>xs</td>
      <td>14px</td>
      <td><code>nsw-font-size-xs-desktop</code></td>
      <td>1.35 (19px)</td>
      <td><code>nsw-line-height-xl-desktop</code></td>
      <td>
        <p>1rem</p>
        <p>(16px)</p>
      </td>
      <td>400</td>
    </tr>
    </tbody>
  </table>
</div>
<h3>Small screens (< 992px)</h3>
<div class="nsw-section nsw-section--white nsw-p-x-md nsw-m-top-sm">
  <table class="nsw-table nsw-table--bordered">
    <tbody>
    <tr>
      <th>
        <div>
          <p>Style</p>
        </div>
      </th>
      <th>
        <div>
          <p><strong>Token</strong></p>
        </div>
      </th>
      <th>
        <div>
          <p>Font size (pixels)</p>
        </div>
      </th>
      <th>
        <div>
          <p>Font size (CSS variable)</p>
        </div>
      </th>
      <th>
        <p>Line height</p>
      </th>
      <th>
        <div>
          <p>Line height (CSS variable)</p>
        </div>
      </th>
      <th>
        <div>
          <p>Top margin</p>
        </div>
      </th>
      <th>
        <div>
          <p>Font weight</p>
        </div>
      </th>
    </tr>
    <tr>
      <td>
        <p>H1</p>
      </td>
      <td>
        <p>xxl</p>
      </td>
      <td>
        <p>36px</p>
      </td>
      <td>
        <p><code>nsw-font-size-xxl-mobile</code></p>
      </td>
      <td>
        <p>1.25 (60px)</p>
      </td>
      <td>

        <p><code>nsw-line-height-xxl-mobile</code></p>
      </td>
      <td>
        <p>4rem (64px)</p>
      </td>
      <td>
        <p>700</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>H2</p>
      </td>
      <td>
        <p>xl</p>
      </td>
      <td>32px</td>
      <td><code>nsw-font-size-xl-mobile</code></td>
      <td>1.25 (40px)</td>
      <td><code>nsw-line-height-xl-mobile</code></td>
      <td>
        <p>3rem</p>
        <p>(48px)</p>
      </td>
      <td>700</td>
    </tr>
    <tr>
      <td>
        <p>H3</p>
      </td>
      <td>
        <p>lg</p>
      </td>
      <td>24px</td>
      <td><code>nsw-font-size-lg-mobile</code></td>
      <td>
        <p>1.25</p>
        <p>(27.5px)</p>
      </td>
      <td><code>nsw-line-height-xl-mobile</code></td>
      <td>
        <p>2rem</p>
        <p>(32px)</p>
      </td>
      <td>700</td>
    </tr>
    <tr>
      <td>H4</td>
      <td>md</td>
      <td>20px</td>
      <td><code>nsw-font-size-md-mobile</code></td>
      <td>1.33 (24px)</td>
      <td><code>nsw-line-height-xl-mobile</code></td>
      <td>
        <p>1.5rem</p>
        <p>(24px)</p>
      </td>
      <td>700</td>
    </tr>
    <tr>
      <td>H5</td>
      <td>sm</td>
      <td>16px</td>
      <td><code>nsw-font-size-sm-mobile</code></td>
      <td>1.5 (24px)</td>
      <td><code>nsw-line-height-xl-mobile</code></td>
      <td>
        <p>1.5rem</p>
        <p>(24px)</p>
      </td>
      <td>700</td>
    </tr>
    <tr>
      <td>Intro text</td>
      <td>md</td>
      <td>20px</td>
      <td><code>nsw-font-size-md-mobile</code></td>
      <td>1.33 (24px)</td>
      <td><code>nsw-line-height-xl-mobile</code></td>
      <td>
        <p>1rem</p>
        <p>(16px)</p>
      </td>
      <td>400</td>
    </tr>
    <tr>
      <td>Body text</td>
      <td>sm</td>
      <td>6px</td>
      <td><code>nsw-font-size-sm-mobile</code></td>
      <td>1.5 (24px)</td>
      <td><code>nsw-line-height-xl-mobile</code></td>
      <td>
        <p>1rem</p>
        <p>(16px)</p>

      </td>
      <td>400</td>
    </tr>
    <tr>
      <td>Small text</td>
      <td>xs</td>
      <td>14px</td>
      <td><code>nsw-font-size-xs-mobile</code></td>
      <td>1.35 (19px)</td>
      <td><code><code>nsw-line-height-xl-</code></code><code>mobile</code></td>
      <td>
        <p>1rem</p>
        <p>(16px)</p>
      </td>
      <td>400</td>
    </tr>
    </tbody>
  </table>
</div>
<h2 class="nsw-h3">Basic typography</h2>
<p>A wrapper class of <code>nsw-body-content</code> applies styles for basic
  typographic elements</p>
{{#>_docs-example simple="true" separated="true"}}
  <div class="nsw-body-content">
    <h2>This is a sample heading</h2>
    <hr/>
    <p>Nunc porta purus non sem laoreet eleifend a pharetra ex.</p>
    <blockquote>
      “Pellentesque facilisis sed quam id blandit. Class aptent taciti sociosqu
      ad litora torquent per conubia nostra, per inceptos himenaeos.”
      <cite>Nullam faucibus</cite>
    </blockquote>
  </div>
{{/_docs-example}}
<h2 class="nsw-h3">Links</h2>
{{#>_docs-example simple="true" separated="true"}}
  <div class="nsw-body-content">
    <p>
      Maecenas at risus ullamcorper odio facilisis <a href="#">ultrices et</a>
      et metus.
    </p>
    <p>
      <a class="nsw-link nsw-link--icon" href="#">
        <i class="material-icons nsw-material-icons" focusable="false"
           aria-hidden="true">download</i>
        <span>Download PDF schedule</span>
      </a>
    </p>
  </div>
{{/_docs-example}}
<h2 class="nsw-h3">Lists</h2>
{{#>_docs-example simple="true" separated="true"}}
  <div class="nsw-body-content">
    <ul>
      <li>List item</li>
      <li>List item</li>
    </ul>

    <ol>
      <li>List item</li>
      <li>List item</li>
    </ol>

    <dl>
      <dt>Definition title</dt>
      <dd>Definition Definition</dd>
      <dd>Definition Definition</dd>
    </dl>
  </div>
{{/_docs-example}}
<h2 class="nsw-h3">Mathematical notations</h2>

{{#>_docs-example simple="true" separated="true"}}
  <div class="nsw-body-content">
    <p>e<sup>x</sup>, sin<sup>2</sup> <i>x</i>, e<sup>x<sup>2</sup></sup> and
      f(x)<sup>g(x)<sup>a+b+c</sup></sup>
    </p>
  </div>{{/_docs-example}}
