.nsw-footer {
  font-family: var(--nsw-font-family);

  hr {
    @include nsw-spacing(margin, md none md none);
    height: 1px;
    border: 0;
    color: var(--nsw-shade-light-20);
    background-color: var(--nsw-shade-light-20);
  }

  &__upper {
    @include nsw-spacing(padding-top, lg);
    background-color: var(--nsw-shade-light);
    border-top: solid 1px var(--nsw-shade-light-20);
  }

  &__lower {
    @include nsw-spacing(padding, md none lg none);
    @include font-size('xxs');
    background-color: var(--nsw-shade-dark-20);
    color: var(--nsw-text-light);

    a {
      color: var(--nsw-text-light);

      &:focus {
        @include nsw-focus($color: var(--nsw-text-light));
      }
    }

    p:not([class]) {
      margin: rem(12px) 0;
    }
  }

  &__info {

    @include breakpoint('md') {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  &__copyright {
    flex: 1 1 auto;
  }

  &__built {
    flex: 0 0 rem(200px);

    a:not([class]) {
      color: var(--nsw-text-light);

      &:hover {
        background-color: transparent;
        outline: none;
        text-decoration: none;
      }

      &:focus {
        @include nsw-focus($offset: false, $color: var(--nsw-text-light));
      }

      &:visited {
        color: var(--nsw-text-light);
      }
    }

    @include breakpoint('md') {
      text-align: right;
    }
  }
}

.nsw-footer-links {
  @include nsw-spacing(margin, md none none none);
  @include nsw-spacing(padding, none);
  font-weight: var(--nsw-font-bold);
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: rem(-8px);
  margin-right: rem(-8px);

  @include breakpoint('md') {
    margin-left: 0;
    margin-right: 0;
  }

  &__item {
    @include nsw-spacing(margin, none none md none);
    flex: 1 0 50%;
    max-width: 50%;
    padding: 0 rem(8px);

    @include breakpoint('md') {
      @include nsw-spacing(margin-right, lg);
      padding: 0;
      flex: 0 0 auto;
      max-width: none;
    }
  }

  &__link {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      @include nsw-focus($color: var(--nsw-text-light));
    }
  }
}

.section-links {
  @include nsw-spacing(padding-left, xs);
  @include nsw-spacing(padding-right, xs);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include breakpoint('lg') {
    padding-left: 0;
    padding-right: 0;
  }

  a:not([class]) {
    color: var(--nsw-brand-dark);

    &:visited {
      color: var(--nsw-brand-dark);
    }

    &:hover {
      @include nsw-hover;
      outline: 2px solid var(--nsw-text-hover-bg);
    } 

    &:focus {
      @include nsw-focus($offset: false);
    }
  }

  &__group {
    @include nsw-spacing(padding, none xs md xs);
    flex: 1 0 auto;
    min-width: rem(256px);
    max-width: 50%;

    @include breakpoint('md') {
      flex-basis: 50%;
      min-width: auto;
    }

    @include breakpoint('lg') {
      @include nsw-spacing(padding, none md lg md);
      flex-basis: 25%;
    }
  }

  &__heading {
    @include nsw-spacing(margin, none);
    @include font-size('sm');
    font-weight: var(--nsw-font-bold);
  }

  &__list {
    @include nsw-spacing(margin, none);
    @include nsw-spacing(padding, none);
    @include font-size('xs');
    list-style: none;
    margin-top: rem(4px);
  }

  &__item:not(:first-child) {
    @include nsw-spacing(margin-top, xs);
  }
}
