---
title: Footer
layout: blank-layout.hbs
---
<h2>Usage</h2>
<p>To be used across the bottom of all NSW Government websites.</p>
<p>Use the footer to provide links to content that are separate from the main navigation but that are relevant to the entire site and platform. For example: About us, Privacy statement, Terms of use, Accessibility, Legal content and contact information and links to social media.</p>
<p>Do:</p>
<ul>
  <li>only use option section links where they assist the user, otherwise they can be hidden</li>
  <li>use a copyright statement that is specific to your agency.</li>
</ul>

<h2>How this component works</h2>
<p><strong>Optional Section Links</strong></p>
<p>The optional section links allow users to bypass the main navigation, or access external links. This section provides users with easy access to additional links both internal and external, allowing them to continue their journey.</p>
<p><strong>Acknowledgement of Country</strong></p>
<p>The Acknowledgement of Country pays respect to the First Peoples of NSW.</p>
<p><strong>Copyright</strong></p>
<p>The copyright statement is required as it is applies to all pages of the site.</p>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>
 