---
title: Footer
layout: blank-layout.hbs
---
<h2>Usage</h2>
<p>To be used across the bottom of all NSW Government websites.</p>
<p>Use the footer to provide links to content that are separate from the main navigation but that are relevant to the entire site and platform. For example: About us, Privacy statement, Terms of use, Accessibility, Legal content and contact information and links to social media.</p>
<p>Do:</p>
<ul>
  <li>only use option section links where they assist the user, otherwise they can be hidden</li>
  <li>use a copyright statement that is specific to your agency.</li>
</ul>
<h3>Masterbrand corporate</h3>
<p>Masterbrand corporate use the Default Footer (Grey 01) to maintain a strong and consistent connection to NSW Government.</p>

<h3>Masterbrand non-corporate, co-brand and independent</h3>
<p>Masterbrand non-corporate, co-brand and independent is preferred to use the Default, however can also use the Brand palette variant to utilise a different brand colour.</p>

<h3>Endorsed and stand-alone</h3>
<p>Endorsed and stand-alone can utilise the Brand palette variant to apply a custom colour as desired. </p>

<h2>How this component works</h2>
<p><strong>Optional Section Links</strong></p>
<p>The optional section links allow users to bypass the main navigation, or access external links. This section provides users with easy access to additional links both internal and external, allowing them to continue their journey.</p>
<p><strong>Acknowledgement of Country</strong></p>
<p>The Acknowledgement of Country pays respect to the First Peoples of NSW.</p>
<p><strong>Social icons</strong></p>
<p>Social icons can be used to link to relevant social media accounts. Icons used in the out-of-the-box components have been designed to meet the branding requirements of the associated social media channe at time of build. If you wish to use social media icons, you take on the responsibility for ensuring your individual application meets the company’s usage and branding requirements.</p>
<p><strong>Copyright</strong></p>
<p>The copyright statement is required as it is applies to all pages of the site.</p>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>
 