---
title: Footer
layout: blank-layout.hbs
---
<h2>Usage</h2>
<p>To be used across the bottom of all NSW Government websites.</p>
<p>Use the footer to provide links to content that are separate from the main navigation but that are relevant to the entire site and platform. For example: About us, Privacy statement, Terms of use, Accessibility, Legal content and contact information and links to social media.</p>
<p>Do:</p>
<ul>
  <li>only use option section links where they assist the user, otherwise they can be hidden</li>
  <li>use a copyright statement that is specific to your agency.</li>
</ul>
<h3>Masterbrand corporate</h3>
<p>Masterbrand corporate use the Default Footer (Grey 01) to maintain a strong and consistent connection to NSW Government.</p>

<h3>Masterbrand non-corporate, co-brand and independent</h3>
<p>Masterbrand non-corporate, co-brand and independent is preferred to use the Default, however can also use the Brand palette variant to utilise a different brand colour.</p>

<h3>Endorsed and stand-alone</h3>
<p>Endorsed and stand-alone can utilise the Brand palette variant to apply a custom colour as desired. </p>

<h2>Component anatomy</h2>

<p><strong>Mega footer (optional)</strong><br />
A section for additional internal and external links to help users continue their journey.</p>

<p><strong>Acknowledgement of Country</strong><br />
The Acknowledgement of Country pays respect to the First Peoples of NSW.</p>

<p><strong>Footer links (optional)</strong><br />
Content that sits outside the main navigation but that is relevant to the entire site and platform.</p>

<p><strong>Copyright</strong><br />
A required statement that applies to all pages of the site.</p>

<p><strong>Social icons (optional)</strong><br />
Links to the organisation's official social media accounts.</p>

<p><strong>Attribution text (optional)</strong><br />
A short note to acknowledge the team, organisation or system behind the product.</p>

<h2>Accessibility</h2>
<p>All components are responsive and designed to comply with WCAG 2.2 AA accessibility standards. Full compliance depends on using and configuring the components correctly.</p>
 