---
title: Footer
model: json/footer.json
guidance: https://digitalnsw.github.io/nsw-design-system-docs/components/footer/index.html
blank: true
---

<div class="nsw-docs-example">
  <div class="nsw-docs-component">
		{{>_footer model}}
  </div>
</div>
{{#> _docs-code }}{{>_footer model}}{{/ _docs-code }}