---
title: Side navigation
width: menu
page: true
model:
  single-level: json/side-nav.json
  two-level: json/side-nav-level-2.json
  four-level: json/side-nav-level-4.json
---

{{#>_layout-container}}
<div class="nsw-grid">
  <div class="nsw-col nsw-col-xl-4">
    <div class="nsw-docs__component">
      {{>_side-nav model.single-level}}
    </div>
  </div>
  <div class="nsw-col nsw-col-xl-4">
    <div class="nsw-docs__component">
      {{>_side-nav model.two-level}}
    </div>
  </div>
  <div class="nsw-col nsw-col-xl-4">
    <div class="nsw-docs__component">
      {{>_side-nav model.four-level}}
    </div>
  </div>
</div>
{{/_layout-container}}

{{#>_layout-container brand-dark="true" invert="true"}}
<div class="nsw-grid">
  <div class="nsw-col nsw-col-xl-4">
    <div class="nsw-docs__component">
      {{>_side-nav model.single-level}}
    </div>
  </div>
  <div class="nsw-col nsw-col-xl-4">
    <div class="nsw-docs__component">
      {{>_side-nav model.two-level}}
    </div>
  </div>
  <div class="nsw-col nsw-col-xl-4">
    <div class="nsw-docs__component">
      {{>_side-nav model.four-level}}
    </div>
  </div>
</div>
{{/_layout-container}}
