---
title: Side navigation
width: menu
tabs: true
directory: side-nav
intro: Enables users to move through levels of site hierarchy.
figma: https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=21298%3A25064
model:
  single-level: json/side-nav.json
  two-level: json/side-nav-level-2.json
  four-level: json/side-nav-level-4.json
---

<h3>Single level</h3>
{{#>_docs-example disable-links="true"}}{{>_side-nav model.single-level}}{{/_docs-example}}

<h3>Two levels</h3>
{{#>_docs-example disable-links="true"}}{{>_side-nav model.two-level}}{{/_docs-example}}

<h3>Four levels</h3>
{{#>_docs-example disable-links="true"}}{{>_side-nav model.four-level}}{{/_docs-example}}
