      <div class="nsw-row">
        <div class="nsw-col"><hr></div>
      </div>
      <div class="nsw-row">
        <div class="nsw-col nsw-col-lg-8">
          <h2 class="nsw-m-bottom-sm">Sticky and prompted components</h2>
          <div class="nsw-list nsw-list--8 nsw-m-bottom-md">
            <button
              type="button"
              class="nsw-button nsw-button--dark"
              data-module="quick-exit"
              data-options='{"enableEsc":true,"enableCloak":true}'
            >Trigger quick exit banner</button>
          </div>
          {{>_dialog model.dialog-transactional button-title="Launch dialog"}}
          <div class="nsw-list nsw-list--8 nsw-m-top-md">
            {{>_cookie-consent type="banner"}}
            {{>_cookie-consent type="dialog"}}
          </div>
          <div class="nsw-m-top-md">
            {{>_back-to-top}}
          </div>
        </div>
      </div>

      <div class="nsw-row">
        <div class="nsw-col"><hr></div>
      </div>
      <div class="nsw-row">
        <div class="nsw-col">
          <h2 class="nsw-m-bottom-sm">Global alert</h2>
          {{>_global-alert model.global-alert}}
        </div>
      </div>

      <div class="nsw-row">
        <div class="nsw-col"><hr></div>
      </div>
      <div class="nsw-row">
        <div class="nsw-col nsw-col-lg-8">
          <h2 class="nsw-m-bottom-sm">Date input, date picker and file upload</h2>
          <div class="nsw-form">
            <div class="nsw-form__group">
              {{>_date-input single=true id="section-coverage-single-date"}}
            </div>
            <div class="nsw-form__group">
              {{>_date-input multiple=true id="section-coverage-multiple-date"}}
            </div>
            <div class="nsw-form__group">
              {{>_date-picker single=true id="section-coverage-date-picker"}}
            </div>
            <div class="nsw-form__group">
              {{>_file-upload
                id="section-coverage-file-upload"
                label="Upload your file"
                helper-text="Select one or more files to continue."
                js=true
                multiple=true
                accept=true
              }}
            </div>
          </div>

          <h3 class="nsw-m-bottom-sm">Close button and loader</h3>
          <div class="nsw-list nsw-list--8 nsw-m-top-sm">
            {{>_close-button code="close" sr="Close"}}
            {{>_loader}}
            {{>_loader size="lg"}}
          </div>
        </div>
      </div>

      <div class="nsw-row">
        <div class="nsw-col"><hr></div>
      </div>
      <div class="nsw-row">
        <div class="nsw-col nsw-col-lg-8">
          <h2 class="nsw-m-bottom-sm">Select</h2>
          <div class="nsw-form">
            <div class="nsw-form__group">
              {{>_select model.select-region id="section-coverage-select-region" helper-text="Your region of residence"}}
            </div>
            <div class="nsw-form__group">
              {{>_select model.select-savings-program id="section-coverage-select-savings-program" multiple=true helper-text="Select all that apply"}}
            </div>
          </div>
        </div>
      </div>

      <div class="nsw-row">
        <div class="nsw-col"><hr></div>
      </div>
      <div class="nsw-row">
        <div class="nsw-col nsw-col-lg-8">
          <h2 class="nsw-m-bottom-sm">Popover and tooltip</h2>
          <div class="nsw-list nsw-list--8 nsw-m-bottom-sm">
            {{>_popover style="dark-outline" icon="info" text="Family rebate details" id="section-coverage-popover" position="top" gap="10"}}
          </div>
          {{>_tooltip dark-tooltip=true}}
          {{>_toggletip dark-toggletip=true id="section-coverage"}}
        </div>
      </div>

      <div class="nsw-row">
        <div class="nsw-col"><hr></div>
      </div>
      <div class="nsw-row">
        <div class="nsw-col nsw-col-lg-8">
          <h2 class="nsw-m-bottom-sm">Status labels</h2>
          {{>_status-labels model.status-labels}}
        </div>
      </div>

      <div class="nsw-row">
        <div class="nsw-col"><hr></div>
      </div>
      <div class="nsw-row">
        <div class="nsw-col nsw-col-lg-8">
          <h2 class="nsw-m-bottom-sm">Steps</h2>
          {{>_steps fill="true" counters="true" progress="true"}}
        </div>
      </div>

      <div class="nsw-row">
        <div class="nsw-col"><hr></div>
      </div>
      <div class="nsw-row">
        <div class="nsw-col">
          <h2 class="nsw-m-bottom-sm">Hero banner</h2>
          {{>_hero-banner
            wide=false
            theme=heroTheme
            heading="Support and services for NSW residents"
            copy="Use this full-page stack to validate theming and right-to-left support."
            img="https://picsum.photos/id/237/2000/1250"
            cta="Find services"
          }}
        </div>
      </div>

      <div class="nsw-row">
        <div class="nsw-col"><hr></div>
      </div>
      <div class="nsw-row">
        <div class="nsw-col">
          <h2 class="nsw-m-bottom-sm">Hero search</h2>
          {{>_hero-search model.hero-search id="section-coverage-hero-search" button="icon"}}
        </div>
      </div>

      <div class="nsw-row">
        <div class="nsw-col"><hr></div>
      </div>
      <div class="nsw-row">
        <div class="nsw-col">
          <h2 class="nsw-m-bottom-sm">Card carousel</h2>
          {{>_carousel model.carousel-five default=true drag=true title="Latest news"}}
        </div>
      </div>

      <div class="nsw-row">
        <div class="nsw-col"><hr></div>
      </div>
      <div class="nsw-row">
        <div class="nsw-col">
          <h2 class="nsw-m-bottom-sm">Support list</h2>
          {{>_support-list model.support-list-1 includeWaratah=true}}
        </div>
      </div>

      <div class="nsw-row">
        <div class="nsw-col"><hr></div>
      </div>
      <div class="nsw-row">
        <div class="nsw-col">
          <h2 class="nsw-m-bottom-sm">Masthead, header and main navigation</h2>
          {{>_masthead content="#content" nav="#main-nav"}}
          {{>_header header-title="Premier &amp; Cabinet" header-id="section-coverage-header"}}
          {{>_main-nav model.main-nav-basic}}
        </div>
      </div>

      <div class="nsw-row">
        <div class="nsw-col"><hr></div>
      </div>
      <div class="nsw-row">
        <div class="nsw-col">
          <h2 class="nsw-m-bottom-sm">Footer</h2>
          {{>_footer model.footer}}
        </div>
      </div>
