---
title: Section
order: 50
no-blank: true
directory: section
intro: Flexible layout component that groups content and components together providing consistent vertical spacing.
---
<h2>Usage</h2>
<p>A section provides a selection of background colour and style options to help you build and design.</p>
<p>Do's:</p>
<ul>
  <li>Use it with or without a container.</li>
  <li>Use it inside the grid.</li>
  <li>Organise a group of components together that provide functionality for the
    user.
  </li>
</ul>
<h3>Vertical spacing</h3>
{{#>_docs-example separated="true"}}
  {{>_section name="Full padding"}}
  {{>_section theme="grey-04" type="half-padding" name="Half padding"}}
  {{>_section theme="grey-01" type="no-padding" name="No padding"}}
{{/_docs-example}}

<h3>Image</h3>
{{#>_docs-example separated="true"}}{{>_section image="https://picsum.photos/id/199/2000/1250" name="Image"}}{{/_docs-example}}

<h3>Box</h3>
{{#>_docs-example separated="true"}}{{>_section type="box" name="Box"}}{{/_docs-example}}

<h3>Colour</h3>
{{#>_docs-example separated="true"}}
  {{>_section theme="brand-dark" name="Brand Dark"}}
  {{>_section theme="brand-light" name="Brand Light"}}
  {{>_section theme="brand-supplementary" name="Brand Supplementary"}}
  {{>_section theme="black" name="Black"}}
  {{>_section theme="white" name="White"}}
  {{>_section theme="off-white" name="Off White"}}
  {{>_section theme="grey-01" name="Grey 01"}}
  {{>_section theme="grey-02" name="Grey 02"}}
  {{>_section theme="grey-03" name="Grey 03"}}
  {{>_section theme="grey-04" name="Grey 04"}}
{{/_docs-example}}

<h3>Inverted colours</h3>
<p>If you want to use components and links inside the sections with dark background you can use <code>nsw-section--invert</code> class to invert colours. You can preview how all in-page components look <a target="_blank" href="/core/section/invert.html">here</a>.</p>
{{#>_docs-example separated="true"}}
<section class="nsw-section nsw-section--brand-dark nsw-section--invert">
  <!-- START: Section content -->
  <div class="nsw-container">
    <div class="nsw-accordion js-accordion">
      <div class="nsw-accordion__title">First Home Owner&#x27;s Grant (New Homes) scheme (FHOG)</div>
      <div class="nsw-accordion__content">
        <p>Buying or building your first home? You may be eligible for a $10,000 grant under the First Home Owner's Grant (FHOG) scheme.</p><p>This grant scheme only applies to buying or building a new home.</p><p>You can make a claim if:</p><ul><li>your home is newly constructed and has a total value of less than $600,000</li><li>the land and the dwelling you intend to build has a combined value of less than $750,000.</li></ul>
      </div>
      <div class="nsw-accordion__title">HomeBuilder program</div>
      <div class="nsw-accordion__content">
        <p>If you are building a new home, you could also be able to apply for the Australian Government grant of $25,000. To be eligible you must:</p><ul><li>sign the contract between 4 June 2020 and 31 December 2020</li><li>commence within 3 months of the contract date.</li></ul><p>HomeBuilder complements the NSW Government’s existing First Home Owner Grant and stamp duty concessions.</p>
      </div>
      <div class="nsw-accordion__title">First Home Buyer Assistance scheme (FHBAS)</div>
      <div class="nsw-accordion__content">
        <p>The NSW Government recently announced increased thresholds for purchases of new homes and vacant land to build a new home from 1 August 2020.  The threshold for existing home purchases remains unchanged.</p>
      </div>
    </div>
  </div>
</section>
{{/_docs-example}}
