---
title: Shadows
width: narrow
intro: Utility for adding the NSW box shadow to an element.
no-blank: true
order: 11
model: json/utilities.json
meta-description: Utility for adding the NSW box shadow to an element.
meta-index: true
---

<div class="nsw-section nsw-section--white nsw-block nsw-p-sm">
  <div class="nsw-table nsw-table--valign-middle">
    <table>
      <thead>
        <tr>
          <th class="nsw-p-top-0">Class</th>
          <th class="nsw-p-top-0">Properties</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>.nsw-box-shadow</code></td>
          <td>box-shadow:  0 0.25rem 0.75rem 0 rgba(0 0 0 / 0.15);</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{{#>_docs-example open=true separated=true}} 
<div class="nsw-box-shadow nsw-display-inline-block nsw-width-2xl nsw-height-2xl nsw-p-xs nsw-m-xs nsw-bg-opacity--50 nsw-bg--off-white"></div>
{{/_docs-example}}
