---
title: Display
width: narrow
intro: Utilities for controlling the display box type of an element.
no-blank: true
order: 4
model: json/utilities.json
meta-description: Utilities for controlling the display box type of an element.
meta-index: true
---

<h3>Block & Inline</h3>

{{#>_docs-example}}  

{{/_docs-example}}
