---
title: Flex
width: narrow
intro: Utilities to manage the layout, alignment and sizing of flex items and components with a suite of responsive flexbox utilities.
no-blank: true
model: json/utilities.json
meta-description: Utilities to manage the layout, alignment and sizing of flex items and components with a suite of responsive flexbox utilities.
meta-index: true
---

<h3>Enable flex behaviours</h3>

<p>Apply display utilities to create a flexbox container and transform direct children elements into flex items. Flex containers and items are able to be modified further with additional flex properties.</p>

{{#>_docs-example open=true separated=true}} 
<div class="nsw-display-flex nsw-p-xs nsw-bg--grey-04">I'm a flexbox container!</div>
{{/_docs-example}}

{{#>_docs-example open=true separated=true}} 
<div class="nsw-display-inline-flex nsw-p-xs nsw-bg--grey-04">I'm an inline flexbox container!</div>
{{/_docs-example}}

<h3>Direction</h3>

<p>Set the direction of flex items in a flex container with direction utilities.</p>

{{#>_docs-example showcode=true separated=true}}
<div class="nsw-display-flex nsw-flex-row nsw-m-bottom-xs nsw-bg--grey-04">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 1</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 2</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 3</div>
</div>
<div class="nsw-display-flex nsw-flex-row-reverse nsw-m-bottom-xs nsw-bg--grey-04">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 1</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 2</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 3</div>
</div>
<div class="nsw-display-flex nsw-flex-column nsw-m-bottom-xs nsw-bg--grey-04">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 1</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 2</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 3</div>
</div>
<div class="nsw-display-flex nsw-flex-column-reverse nsw-bg--grey-04">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 1</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 2</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 3</div>
</div>
{{/_docs-example}}

{{#>_docs-code open=true separated=true}} 
<div class="nsw-display-flex nsw-flex-row">
  <div>Flex item 1</div>
  <div>Flex item 2</div>
  <div>Flex item 3</div>
</div>
<div class="nsw-display-flex nsw-flex-row-reverse">
  <div>Flex item 1</div>
  <div>Flex item 2</div>
  <div>Flex item 3</div>
</div>
<div class="nsw-display-flex nsw-flex-column">
  <div>Flex item 1</div>
  <div>Flex item 2</div>
  <div>Flex item 3</div>
</div>
<div class="nsw-display-flex nsw-flex-column-reverse">
  <div>Flex item 1</div>
  <div>Flex item 2</div>
  <div>Flex item 3</div>
</div>
{{/_docs-code}}

<h3>Justify content</h3>

<p>Use justify-content utilities on flexbox containers to change the alignment of flex items on the main axis. Choose from start (browser default), end, center, between, around, or evenly.

</p>

{{#>_docs-example showcode=true separated=true}} 
<div class="nsw-display-flex nsw-justify-content-start nsw-m-bottom-xs nsw-bg--grey-04">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Justify</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Content</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Start</div>
</div>
<div class="nsw-display-flex nsw-justify-content-end nsw-m-bottom-xs nsw-bg--grey-04">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Justify</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Content</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">End</div>
</div>
<div class="nsw-display-flex nsw-justify-content-center nsw-m-bottom-xs nsw-bg--grey-04">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Justify</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Content</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Center</div>
</div>
<div class="nsw-display-flex nsw-justify-content-between nsw-m-bottom-xs nsw-bg--grey-04">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Justify</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Content</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Between</div>
</div>
<div class="nsw-display-flex nsw-justify-content-around nsw-m-bottom-xs nsw-bg--grey-04">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Justify</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Content</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Around</div>
</div>
<div class="nsw-display-flex nsw-justify-content-evenly nsw-bg--grey-04">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Justify</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Content</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Evenly</div>
</div>
{{/_docs-example}}

{{#>_docs-code open=true separated=true}} 
<div class="nsw-display-flex nsw-justify-content-start">...</div>
<div class="nsw-display-flex nsw-justify-content-end">...</div>
<div class="nsw-display-flex nsw-justify-content-center">...</div>
<div class="nsw-display-flex nsw-justify-content-between">...</div>
<div class="nsw-display-flex nsw-justify-content-around">...</div>
<div class="nsw-display-flex nsw-justify-content-evenly">...</div>
{{/_docs-code}}

<h3>Align items</h3>

<p>Use align-items utilities on flexbox containers to change the alignment of flex items on the cross axis. Choose from start, end, center, baseline, or stretch (browser default).</p>

{{#>_docs-example showcode=true separated=true}}
<div class="nsw-display-flex nsw-align-items-start nsw-m-bottom-xs nsw-bg--grey-04" style="height: 100px">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
</div>
<div class="nsw-display-flex nsw-align-items-end nsw-m-bottom-xs nsw-bg--grey-04" style="height: 100px">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
</div>
<div class="nsw-display-flex nsw-align-items-center nsw-m-bottom-xs nsw-bg--grey-04" style="height: 100px">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
</div>
<div class="nsw-display-flex nsw-align-items-baseline nsw-m-bottom-xs nsw-bg--grey-04" style="height: 100px">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
</div>
<div class="nsw-display-flex nsw-align-items-stretch nsw-bg--grey-04" style="height: 100px">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
</div>
{{/_docs-example}}

{{#>_docs-code open=true separated=true}} 
<div class="nsw-display-flex nsw-align-items-start">...</div>
<div class="nsw-display-flex nsw-align-items-end">...</div>
<div class="nsw-display-flex nsw-align-items-center">...</div>
<div class="nsw-display-flex nsw-align-items-baseline">...</div>
<div class="nsw-display-flex nsw-align-items-stretch">...</div>
{{/_docs-code}}

<h3>Align self</h3>

<p>Use align-self utilities on flexbox items to individually change their alignment on the cross axis. Choose from the same options as align-items: start, end, center, baseline, or stretch (browser default).</p>

{{#>_docs-example showcode=true separated=true}}
  <div class="nsw-display-flex nsw-m-bottom-xs nsw-bg--grey-04" style="height: 100px">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-align-self-start nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Aligned flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  </div>
  <div class="nsw-display-flex nsw-m-bottom-xs nsw-bg--grey-04" style="height: 100px">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-align-self-end nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Aligned flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  </div>
  <div class="nsw-display-flex nsw-m-bottom-xs nsw-bg--grey-04" style="height: 100px">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-align-self-center nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Aligned flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  </div>
  <div class="nsw-display-flex nsw-m-bottom-xs nsw-bg--grey-04" style="height: 100px">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-align-self-baseline nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Aligned flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  </div>
  <div class="nsw-display-flex nsw-bg--grey-04" style="height: 100px">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-align-self-stretch nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Aligned flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  </div>
{{/_docs-example}}

{{#>_docs-code open=true separated=true}} 
<div class="nsw-align-self-start">Aligned flex item</div>
<div class="nsw-align-self-end">Aligned flex item</div>
<div class="nsw-align-self-center">Aligned flex item</div>
<div class="nsw-align-self-baseline">Aligned flex item</div>
<div class="nsw-align-self-stretch">Aligned flex item</div>
{{/_docs-code}}

<h3>Fill</h3>

{{#>_docs-example showcode=true separated=true}} 
<div class="nsw-display-flex">
  <div class="nsw-flex-fill nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item with a lot of content</div>
  <div class="nsw-flex-fill nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  <div class="nsw-flex-fill nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
</div>
{{/_docs-example}}

{{#>_docs-code open=true separated=true}}
<div class="nsw-display-flex">
  <div class="nsw-flex-fill">Flex item with a lot of content</div>
  <div class="nsw-flex-fill">Flex item</div>
  <div class="nsw-flex-fill">Flex item</div>
</div>
{{/_docs-code}}

<h3>Grow and shrink</h3>

{{#>_docs-example showcode=true separated=true}} 
<div class="nsw-display-flex">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01 nsw-flex-grow-1">Flex item</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Third flex item</div>
</div>
<div class="nsw-display-flex">
  <div class="nsw-p-xs nsw-width-100 nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  <div class="nsw-p-xs nsw-flex-shrink-1 nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
</div>
{{/_docs-example}}

{{#>_docs-code open=true separated=true}}
<div class="nsw-display-flex">
  <div class="nsw-flex-grow-1">Flex item</div>
  <div>Flex item</div>
  <div>Third flex item</div>
</div>

<div class="nsw-display-flex">
  <div class="nsw-width-100">Flex item</div>
  <div class="nsw-flex-shrink-1">Flex item</div>
</div>
{{/_docs-code}}

<h3>Wrap</h3>

{{#>_docs-example showcode=true separated=true}} 

  <div class="nsw-display-flex nsw-flex-nowrap nsw-bg--grey-03 nsw-m-bottom-md" style="width: 8rem;">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01 nsw-bg-opacity--50">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01 nsw-bg-opacity--50">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01 nsw-bg-opacity--50">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01 nsw-bg-opacity--50">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01 nsw-bg-opacity--50">Flex item</div>
  </div>


  <div class="nsw-display-flex nsw-flex-wrap nsw-bg--grey-04 nsw-m-bottom-md">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 1</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 2</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 3</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 4</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 5</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 6</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 7</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 8</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 9</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 10</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 11</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 12</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 13</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 14</div>
  </div>


  <div class="nsw-display-flex nsw-flex-wrap-reverse nsw-bg--grey-04 nsw-m-bottom-md">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 1</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 2</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 3</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 4</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 5</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 6</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 7</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 8</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 9</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 10</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 11</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 12</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 13</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 14</div>
  </div>

{{/_docs-example}}

{{#>_docs-code open=true separated=true}}
<div class="nsw-display-flex nsw-flex-nowrap">...</div>
<div class="nsw-display-flex nsw-flex-wrap">...</div>
<div class="nsw-display-flex nsw-flex-wrap-reverse">...</div>
{{/_docs-code}}

<h3>Order</h3>

{{#>_docs-example showcode=true separated=true}} 
<div class="nsw-display-flex nsw-flex-nowrap">
  <div class="nsw-order-3 nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">First flex item</div>
  <div class="nsw-order-2 nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Second flex item</div>
  <div class="nsw-order-1 nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Third flex item</div>
</div>
{{/_docs-example}}

{{#>_docs-code open=true separated=true}}
<div class="nsw-display-flex nsw-flex-nowrap">
  <div class="nsw-order-3">First flex item</div>
  <div class="nsw-order-2">Second flex item</div>
  <div class="nsw-order-1">Third flex item</div>
</div>
{{/_docs-code}}

<h3>Align content</h3>

{{#>_docs-example showcode=true separated=true}}

  <div class="nsw-display-flex nsw-align-content-start nsw-flex-wrap nsw-m-bottom-md nsw-bg--grey-04" style="height: 200px">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  </div>

  <div class="nsw-display-flex nsw-align-content-end nsw-flex-wrap nsw-m-bottom-md nsw-bg--grey-04" style="height: 200px">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  </div>

  <div class="nsw-display-flex nsw-align-content-center nsw-flex-wrap nsw-m-bottom-md nsw-bg--grey-04" style="height: 200px">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  </div>

  <div class="nsw-display-flex nsw-align-content-between nsw-flex-wrap nsw-m-bottom-md nsw-bg--grey-04" style="height: 200px">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  </div>

  <div class="nsw-display-flex nsw-align-content-around nsw-flex-wrap nsw-m-bottom-md nsw-bg--grey-04" style="height: 200px">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  </div>

  <div class="nsw-display-flex nsw-align-content-stretch nsw-flex-wrap nsw-m-bottom-md nsw-bg--grey-04" style="height: 200px">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  </div>
{{/_docs-example}}

{{#>_docs-code open=true separated=true}}
<div class="nsw-display-flex align-content-start flex-wrap">...</div>
<div class="nsw-display-flex nsw-align-content-end nsw-flex-wrap">...</div>
<div class="nsw-display-flex nsw-align-content-center nsw-flex-wrap">...</div>
<div class="nsw-display-flex nsw-align-content-between nsw-flex-wrap">...</div>
<div class="nsw-display-flex nsw-align-content-around nsw-flex-wrap">...</div>
<div class="nsw-display-flex nsw-align-content-stretch nsw-flex-wrap">...</div>
{{/_docs-code}}
