---
title: Flex
width: narrow
intro: Utilities to manage the layout, alignment and sizing of flex items and components with a suite of responsive flexbox utilities.
no-blank: true
model: json/utilities.json
meta-description: Utilities to manage the layout, alignment and sizing of flex items and components with a suite of responsive flexbox utilities.
meta-index: true
---

<h3 id="enable-flex-behaviours">Enable flex behaviours</h3>

<p>Apply display utilities to create a flexbox container and transform direct children elements into flex items. Flex containers and items are able to be modified further with additional flex properties.</p>
<p><strong>Note:</strong> Grid rows (<code>nsw-row</code>) already set <code>display: flex</code>, so you do not need <code>nsw-display-flex</code> on them. In grid layouts, the <code>nsw-col</code> children are flex items, so these utilities (including <code>order</code>) apply to those columns.</p>

{{#>_docs-example open=true separated=true}} 
<div class="nsw-display-flex nsw-p-xs nsw-bg--grey-04">I'm a flexbox container!</div>
{{/_docs-example}}

{{#>_docs-example open=true separated=true}} 
<div class="nsw-display-inline-flex nsw-p-xs nsw-bg--grey-04">I'm an inline flexbox container!</div>
{{/_docs-example}}

<h3 id="direction">Direction</h3>

<p>Set the direction of flex items in a flex container with direction utilities.</p>

{{#>_docs-example showcode=true separated=true}}
<div class="nsw-display-flex nsw-flex-row nsw-m-bottom-xs nsw-bg--grey-04">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 1</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 2</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 3</div>
</div>
<div class="nsw-display-flex nsw-flex-row-reverse nsw-m-bottom-xs nsw-bg--grey-04">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 1</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 2</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 3</div>
</div>
<div class="nsw-display-flex nsw-flex-column nsw-m-bottom-xs nsw-bg--grey-04">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 1</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 2</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 3</div>
</div>
<div class="nsw-display-flex nsw-flex-column-reverse nsw-bg--grey-04">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 1</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 2</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 3</div>
</div>
{{/_docs-example}}

{{#>_docs-code open=true separated=true}} 
<div class="nsw-display-flex nsw-flex-row">
  <div>Flex item 1</div>
  <div>Flex item 2</div>
  <div>Flex item 3</div>
</div>
<div class="nsw-display-flex nsw-flex-row-reverse">
  <div>Flex item 1</div>
  <div>Flex item 2</div>
  <div>Flex item 3</div>
</div>
<div class="nsw-display-flex nsw-flex-column">
  <div>Flex item 1</div>
  <div>Flex item 2</div>
  <div>Flex item 3</div>
</div>
<div class="nsw-display-flex nsw-flex-column-reverse">
  <div>Flex item 1</div>
  <div>Flex item 2</div>
  <div>Flex item 3</div>
</div>
{{/_docs-code}}

<h3 id="justify-content">Justify content</h3>

<p>Use justify-content utilities on flexbox containers to change the alignment of flex items on the main axis. Choose from start (browser default), end, center, between, around, or evenly.

</p>

{{#>_docs-example showcode=true separated=true}} 
<div class="nsw-display-flex nsw-justify-content-start nsw-m-bottom-xs nsw-bg--grey-04">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Justify</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Content</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Start</div>
</div>
<div class="nsw-display-flex nsw-justify-content-end nsw-m-bottom-xs nsw-bg--grey-04">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Justify</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Content</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">End</div>
</div>
<div class="nsw-display-flex nsw-justify-content-center nsw-m-bottom-xs nsw-bg--grey-04">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Justify</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Content</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Center</div>
</div>
<div class="nsw-display-flex nsw-justify-content-between nsw-m-bottom-xs nsw-bg--grey-04">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Justify</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Content</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Between</div>
</div>
<div class="nsw-display-flex nsw-justify-content-around nsw-m-bottom-xs nsw-bg--grey-04">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Justify</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Content</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Around</div>
</div>
<div class="nsw-display-flex nsw-justify-content-evenly nsw-bg--grey-04">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Justify</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Content</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Evenly</div>
</div>
{{/_docs-example}}

{{#>_docs-code open=true separated=true}} 
<div class="nsw-display-flex nsw-justify-content-start">...</div>
<div class="nsw-display-flex nsw-justify-content-end">...</div>
<div class="nsw-display-flex nsw-justify-content-center">...</div>
<div class="nsw-display-flex nsw-justify-content-between">...</div>
<div class="nsw-display-flex nsw-justify-content-around">...</div>
<div class="nsw-display-flex nsw-justify-content-evenly">...</div>
{{/_docs-code}}

<h3 id="align-items">Align items</h3>

<p>Use align-items utilities on flexbox containers to change the alignment of flex items on the cross axis. Choose from start, end, center, baseline, or stretch (browser default).</p>

{{#>_docs-example showcode=true separated=true}}
<div class="nsw-display-flex nsw-align-items-start nsw-m-bottom-xs nsw-bg--grey-04" style="height: 100px">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
</div>
<div class="nsw-display-flex nsw-align-items-end nsw-m-bottom-xs nsw-bg--grey-04" style="height: 100px">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
</div>
<div class="nsw-display-flex nsw-align-items-center nsw-m-bottom-xs nsw-bg--grey-04" style="height: 100px">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
</div>
<div class="nsw-display-flex nsw-align-items-baseline nsw-m-bottom-xs nsw-bg--grey-04" style="height: 100px">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
</div>
<div class="nsw-display-flex nsw-align-items-stretch nsw-bg--grey-04" style="height: 100px">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
</div>
{{/_docs-example}}

{{#>_docs-code open=true separated=true}} 
<div class="nsw-display-flex nsw-align-items-start">...</div>
<div class="nsw-display-flex nsw-align-items-end">...</div>
<div class="nsw-display-flex nsw-align-items-center">...</div>
<div class="nsw-display-flex nsw-align-items-baseline">...</div>
<div class="nsw-display-flex nsw-align-items-stretch">...</div>
{{/_docs-code}}

<h3 id="align-self">Align self</h3>

<p>Use align-self utilities on flexbox items to individually change their alignment on the cross axis. Choose from the same options as align-items: start, end, center, baseline, or stretch (browser default).</p>

{{#>_docs-example showcode=true separated=true}}
  <div class="nsw-display-flex nsw-m-bottom-xs nsw-bg--grey-04" style="height: 100px">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-align-self-start nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Aligned flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  </div>
  <div class="nsw-display-flex nsw-m-bottom-xs nsw-bg--grey-04" style="height: 100px">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-align-self-end nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Aligned flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  </div>
  <div class="nsw-display-flex nsw-m-bottom-xs nsw-bg--grey-04" style="height: 100px">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-align-self-center nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Aligned flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  </div>
  <div class="nsw-display-flex nsw-m-bottom-xs nsw-bg--grey-04" style="height: 100px">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-align-self-baseline nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Aligned flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  </div>
  <div class="nsw-display-flex nsw-bg--grey-04" style="height: 100px">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-align-self-stretch nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Aligned flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  </div>
{{/_docs-example}}

{{#>_docs-code open=true separated=true}} 
<div class="nsw-align-self-start">Aligned flex item</div>
<div class="nsw-align-self-end">Aligned flex item</div>
<div class="nsw-align-self-center">Aligned flex item</div>
<div class="nsw-align-self-baseline">Aligned flex item</div>
<div class="nsw-align-self-stretch">Aligned flex item</div>
{{/_docs-code}}

<h3 id="fill">Fill</h3>

{{#>_docs-example showcode=true separated=true}} 
<div class="nsw-display-flex">
  <div class="nsw-flex-fill nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item with a lot of content</div>
  <div class="nsw-flex-fill nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  <div class="nsw-flex-fill nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
</div>
{{/_docs-example}}

{{#>_docs-code open=true separated=true}}
<div class="nsw-display-flex">
  <div class="nsw-flex-fill">Flex item with a lot of content</div>
  <div class="nsw-flex-fill">Flex item</div>
  <div class="nsw-flex-fill">Flex item</div>
</div>
{{/_docs-code}}

<h3 id="grow-and-shrink">Grow and shrink</h3>

{{#>_docs-example showcode=true separated=true}} 
<div class="nsw-display-flex">
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01 nsw-flex-grow-1">Flex item</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Third flex item</div>
</div>
<div class="nsw-display-flex">
  <div class="nsw-p-xs nsw-width-100 nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  <div class="nsw-p-xs nsw-flex-shrink-1 nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
</div>
{{/_docs-example}}

{{#>_docs-code open=true separated=true}}
<div class="nsw-display-flex">
  <div class="nsw-flex-grow-1">Flex item</div>
  <div>Flex item</div>
  <div>Third flex item</div>
</div>

<div class="nsw-display-flex">
  <div class="nsw-width-100">Flex item</div>
  <div class="nsw-flex-shrink-1">Flex item</div>
</div>
{{/_docs-code}}

<h3 id="wrap">Wrap</h3>

{{#>_docs-example showcode=true separated=true}} 

  <div class="nsw-display-flex nsw-flex-nowrap nsw-bg--grey-03 nsw-m-bottom-md" style="width: 8rem;">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01 nsw-bg-opacity--50">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01 nsw-bg-opacity--50">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01 nsw-bg-opacity--50">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01 nsw-bg-opacity--50">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01 nsw-bg-opacity--50">Flex item</div>
  </div>


  <div class="nsw-display-flex nsw-flex-wrap nsw-bg--grey-04 nsw-m-bottom-md">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 1</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 2</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 3</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 4</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 5</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 6</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 7</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 8</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 9</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 10</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 11</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 12</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 13</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 14</div>
  </div>


  <div class="nsw-display-flex nsw-flex-wrap-reverse nsw-bg--grey-04 nsw-m-bottom-md">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 1</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 2</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 3</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 4</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 5</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 6</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 7</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 8</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 9</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 10</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 11</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 12</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 13</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item 14</div>
  </div>

{{/_docs-example}}

{{#>_docs-code open=true separated=true}}
<div class="nsw-display-flex nsw-flex-nowrap">...</div>
<div class="nsw-display-flex nsw-flex-wrap">...</div>
<div class="nsw-display-flex nsw-flex-wrap-reverse">...</div>
{{/_docs-code}}

<h3 id="order">Order</h3>

<p>Order utilities change the visual position of flex items without changing their position in the DOM.</p>
 
<p>This means they affect what people see, but not the order that screen readers or keyboard users experience. For this reason, order utilities should only be used for layout presentation, not to change reading or interaction order.</p>

<p>Maintain a meaningful DOM order first. When visual reordering is needed, apply order utilities at a breakpoint (for example <code>lg</code>) so the base mobile sequence remains logical and consistent. If the intended reading or focus order must change, update the HTML/DOM order instead of relying on order utilities.</p>

<p>If you are unfamiliar with the difference between visual order and DOM order, see <a href="/core/layout/index.html#alternating-layouts">Alternating layouts</a>.</p>

<h4 id="order-first-last-only">1. Using first/last order only (<code>nsw-order-lg-first</code>/<code>nsw-order-lg-last</code>)</h4>
<p>This is the preferred approach for responsive alternating layouts. Keep the DOM in a logical reading sequence, then swap visual placement from a breakpoint.</p>

{{#>_docs-example showcode=true separated=true}}
<div class="nsw-display-flex nsw-flex-column nsw-gap-sm">
  <div class="nsw-display-flex nsw-flex-column nsw-flex-lg-row nsw-gap-sm nsw-m-bottom-sm">
    <div class="nsw-order-lg-last nsw-width-lg-50 nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Image</div>
    <div class="nsw-order-lg-first nsw-width-lg-50 nsw-p-xs nsw-bg--grey-04 nsw-border nsw-border--grey-01">Text</div>
  </div>
  <div class="nsw-display-flex nsw-flex-column nsw-flex-lg-row nsw-gap-sm">
    <div class="nsw-width-lg-50 nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Image</div>
    <div class="nsw-width-lg-50 nsw-p-xs nsw-bg--grey-04 nsw-border nsw-border--grey-01">Text</div>
  </div>
</div>
{{/_docs-example}}

{{#>_docs-code open=true separated=true}}
<div class="nsw-display-flex nsw-flex-column nsw-flex-lg-row">
  <div class="nsw-order-lg-last">Image</div>
  <div class="nsw-order-lg-first">Text</div>
</div>
<div class="nsw-display-flex nsw-flex-column nsw-flex-lg-row">
  <div>Image</div>
  <div>Text</div>
</div>
{{/_docs-code}}

<h4 id="order-numeric-only">2. Using numeric order (<code>nsw-order-lg-1</code>/<code>nsw-order-lg-2</code>)</h4>
<p>Numeric order utilities are an advanced option and are best reserved for constraints where DOM order cannot be changed. If used, prefer breakpoint-qualified classes so mobile keeps the default logical sequence.</p>

{{#>_docs-example showcode=true separated=true}}
<div class="nsw-display-flex nsw-flex-column nsw-flex-lg-row nsw-gap-sm nsw-m-bottom-sm">
  <div class="nsw-order-lg-2 nsw-width-lg-50 nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Image</div>
  <div class="nsw-order-lg-1 nsw-width-lg-50 nsw-p-xs nsw-bg--grey-04 nsw-border nsw-border--grey-01">Text</div>
</div>
<div class="nsw-display-flex nsw-flex-column nsw-flex-lg-row nsw-gap-sm">
  <div class="nsw-order-lg-1 nsw-width-lg-50 nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Image</div>
  <div class="nsw-order-lg-2 nsw-width-lg-50 nsw-p-xs nsw-bg--grey-04 nsw-border nsw-border--grey-01">Text</div>
</div>
{{/_docs-example}}

{{#>_docs-code open=true separated=true}}
<div class="nsw-display-flex nsw-flex-column nsw-flex-lg-row">
  <div class="nsw-order-lg-2">Image</div>
  <div class="nsw-order-lg-1">Text</div>
</div>
<div class="nsw-display-flex nsw-flex-column nsw-flex-lg-row">
  <div>Image</div>
  <div>Text</div>
</div>
{{/_docs-code}}

<div class="nsw-in-page-alert nsw-in-page-alert--warning">
  <span class="material-icons nsw-material-icons nsw-in-page-alert__icon" focusable="false" aria-hidden="true">info</span>
  <div class="nsw-in-page-alert__content">
    <h4 id="use-order-with-care">Use <code>order</code> with care</h4>
    <p>Order utilities only affect visual presentation. Screen readers and keyboard navigation still follow the DOM.</p>
    <p>Only use <code>order</code> when items communicate the same, non-functional message, such as paired image and text content. Always keep the HTML order logical first, then apply <code>nsw-order-*</code> classes as a visual enhancement.</p>
    <p>This supports WCAG 2.2 SC <a href="https://www.w3.org/WAI/WCAG22/Understanding/meaningful-sequence.html">1.3.2</a> (Meaningful Sequence) and <a href="https://www.w3.org/WAI/WCAG22/Understanding/focus-order.html">2.4.3</a> (Focus Order). See <a href="/core/layout/index.html#alternating-layouts">Alternating layouts</a> for guidance.</p>
  </div>
</div>

<h3 id="align-content">Align content</h3>

{{#>_docs-example showcode=true separated=true}}

  <div class="nsw-display-flex nsw-align-content-start nsw-flex-wrap nsw-m-bottom-md nsw-bg--grey-04" style="height: 200px">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  </div>

  <div class="nsw-display-flex nsw-align-content-end nsw-flex-wrap nsw-m-bottom-md nsw-bg--grey-04" style="height: 200px">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  </div>

  <div class="nsw-display-flex nsw-align-content-center nsw-flex-wrap nsw-m-bottom-md nsw-bg--grey-04" style="height: 200px">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  </div>

  <div class="nsw-display-flex nsw-align-content-between nsw-flex-wrap nsw-m-bottom-md nsw-bg--grey-04" style="height: 200px">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  </div>

  <div class="nsw-display-flex nsw-align-content-around nsw-flex-wrap nsw-m-bottom-md nsw-bg--grey-04" style="height: 200px">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  </div>

  <div class="nsw-display-flex nsw-align-content-stretch nsw-flex-wrap nsw-m-bottom-md nsw-bg--grey-04" style="height: 200px">
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
    <div class="nsw-p-xs nsw-bg--brand-light nsw-border nsw-border--grey-01">Flex item</div>
  </div>
{{/_docs-example}}

{{#>_docs-code open=true separated=true}}
<div class="nsw-display-flex align-content-start flex-wrap">...</div>
<div class="nsw-display-flex nsw-align-content-end nsw-flex-wrap">...</div>
<div class="nsw-display-flex nsw-align-content-center nsw-flex-wrap">...</div>
<div class="nsw-display-flex nsw-align-content-between nsw-flex-wrap">...</div>
<div class="nsw-display-flex nsw-align-content-around nsw-flex-wrap">...</div>
<div class="nsw-display-flex nsw-align-content-stretch nsw-flex-wrap">...</div>
{{/_docs-code}}
