---
title: Float
width: narrow
intro: Utilities for controlling the wrapping of content around an element.
no-blank: true
order: 6
model: json/utilities.json
meta-description: Utilities for controlling the wrapping of content around an element.
meta-index: true
---

<h3>Overview</h3>

<p>These utility classes float an element to the left or right, or disable floating, based on the current viewport size using the <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/float">CSS <code>float</code> property</a>. <code>!important</code> is included to avoid specificity issues. These use the same viewport breakpoints as our grid system. Please be aware float utilities have no effect on flex items.</p>

{{#>_docs-example open=true separated=true}} 
<div class="nsw-float-left">Float left on all viewport sizes</div><br>
<div class="nsw-float-right">Float right on all viewport sizes</div><br>
<div class="nsw-float-none">Don't float on all viewport sizes</div>
{{/_docs-example}}

<h3>Breakpoints</h3>
<p>Responsive variations also exist for each <code>float</code> value.</p>

{{#>_docs-example open=true separated=true}} 
<div class="nsw-float-sm-left">Float left on viewports sized SM (small) or wider</div><br>
<div class="nsw-float-md-left">Float left on viewports sized MD (medium) or wider</div><br>
<div class="nsw-float-lg-left">Float left on viewports sized LG (large) or wider</div><br>
<div class="nsw-float-xl-left">Float left on viewports sized XL (extra-large) or wider</div><br>
{{/_docs-example}}

<p>All the supported classes</p>
<ul>
<li><code>.nsw-float-left</code></li>
<li><code>.nsw-float-right</code></li>
<li><code>.nsw-float-none</code></li>
<li><code>.nsw-float-sm-left</code></li>
<li><code>.nsw-float-sm-right</code></li>
<li><code>.nsw-float-sm-none</code></li>
<li><code>.nsw-float-md-left</code></li>
<li><code>.nsw-float-md-right</code></li>
<li><code>.nsw-float-md-none</code></li>
<li><code>.nsw-float-lg-left</code></li>
<li><code>.nsw-float-lg-right</code></li>
<li><code>.nsw-float-lg-none</code></li>
<li><code>.nsw-float-xl-left</code></li>
<li><code>.nsw-float-xl-right</code></li>
<li><code>.nsw-float-xl-none</code></li>
</ul>