---
title: Object fit
width: narrow
intro: Utilities for controlling how a replaced element's content should be resized.
no-blank: true
order: 7
model: json/utilities.json
meta-description: Utilities for controlling how a replaced element's content should be resized.
meta-index: true
---

<h3>Overview</h3>

<p>These utility classes control how a replaced element's content should be resized using the <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit">CSS <code>object-fit</code> property</a>. <code>!important</code> is included to avoid specificity issues.</p>

<p>Classes for the value of <code>object-fit</code> are named using the format <code>.nsw-object-fit-{value}</code>. Choose from the following values:</p>
<ul>
<li><code>contain</code></li>
<li><code>cover</code></li>
<li><code>fill</code></li>
<li><code>scale</code> (for scale-down)</li>
<li><code>none</code></li>
</ul>

<h3>Examples</h3>

<p>Add the <code>nsw-object-fit-{value}</code> class to the <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Replaced_element">replaced element</a>:</p>

{{#>_docs-example open=true separated=true}} 
<img class="nsw-object-fit-contain nsw-border nsw-border--grey-03 nsw-border-radius" src="https://picsum.photos/id/237/200/200" alt="Placeholder : Object fit contain" width="140" height="120">

<img class="nsw-object-fit-cover nsw-border nsw-border--grey-03 nsw-border-radius" src="https://picsum.photos/id/237/200/200" alt="Placeholder : Object fit cover" width="140" height="120">

<img class="nsw-object-fit-fill nsw-border nsw-border--grey-03 nsw-border-radius" src="https://picsum.photos/id/237/200/200" alt="Placeholder : Object fit fill" width="140" height="120">

<img class="nsw-object-fit-scale nsw-border nsw-border--grey-03 nsw-border-radius" src="https://picsum.photos/id/237/200/200" alt="Placeholder : Object fit scale down" width="140" height="120">

<img class="nsw-object-fit-none nsw-border nsw-border--grey-03 nsw-border-radius" src="https://picsum.photos/id/237/200/200" alt="Placeholder : Object fit none" width="140" height="120">
{{/_docs-example}}




