---
title: Opacity
width: narrow
intro: Utilities for controlling the opacity of an element.
no-blank: true
order: 8
model: json/utilities.json
meta-description: Utilities for controlling the opacity of an element.
meta-index: true
---

<p>The opacity property sets the opacity level for an element. The opacity level describes the transparency level, where 100 is not transparent at all, 50 is 50% visible, and 0 is completely transparent.</p>

{{#>_docs-example open=true separated="true"}}
  {{#each model.opacity as |value property|}}
<div class="nsw-opacity-{{this}} nsw-display-inline-block nsw-width-2xl nsw-height-2xl nsw-p-xs nsw-m-xs nsw-bg--brand-supplementary"></div>
  {{/each}}
{{/_docs-example}}
