---
title: Overflow
width: narrow
intro: Utilities for controlling how an element handles content that is too large for the container.
no-blank: true
order: 9
model: json/utilities.json
meta-description: Utilities for controlling how an element handles content that is too large for the container.
meta-index: true
---

<h3></h3>

{{#>_docs-example}}  
  {{#each model.colours as |value property|}}
    {{#each this}}
      <div class="nsw-col {{@key}}">
        <!-- START: Column content -->
        <div class="{{@key}}"><p>.{{@key}}</p></div>
        <!-- END: Column content -->
      </div>
    {{/each}}
  {{/each}}
{{/_docs-example}}
