---
title: Overflow
width: narrow
intro: Utilities for controlling how an element handles content that is too large for the container.
no-blank: true
model: json/utilities.json
meta-description: Utilities for controlling how an element handles content that is too large for the container.
meta-index: true
---

<p>Adjust the <code>overflow</code> property on the fly with four default values and classes. These classes are not responsive by default.</p>

{{#>_docs-example showcode=true separated="true"}}  
<div class="nsw-list nsw-list--8">
  <div style="max-width: 260px; max-height: 100px;" class="nsw-overflow-auto nsw-p-sm nsw-m-xs nsw-bg-opacity--50 nsw-bg--brand-light">
    This is an example of using <code>.nsw-overflow-auto</code> on an element with set width and height dimensions. By design, this content will vertically scroll.
  </div>
  <div style="max-width: 260px; max-height: 100px;" class="nsw-overflow-hidden nsw-p-sm nsw-m-xs nsw-bg-opacity--50 nsw-bg--brand-light">
    This is an example of using <code>.nsw-overflow-hidden</code> on an element with set width and height dimensions.
  </div>
  <div style="max-width: 260px; max-height: 100px;" class="nsw-overflow-visible nsw-p-sm nsw-m-xs nsw-bg-opacity--50 nsw-bg--brand-light">
    This is an example of using <code>.nsw-overflow-visible</code> on an element with set width and height dimensions.
  </div>
  <div style="max-width: 260px; max-height: 100px;" class="nsw-overflow-scroll nsw-p-sm nsw-m-xs nsw-bg-opacity--50 nsw-bg--brand-light">
    This is an example of using <code>.nsw-overflow-scroll</code> on an element with set width and height dimensions.
  </div>
</div>
{{/_docs-example}}

{{#>_docs-code open=true}}  
<div class="nsw-overflow-auto">...</div>
<div class="nsw-overflow-hidden">...</div>
<div class="nsw-overflow-visible">...</div>
<div class="nsw-overflow-scroll">...</div>
{{/_docs-code}}

<h3>overflow-x</h3>

<p>Adjust the overflow-x property to affect the overflow of content horizontally.</p>

{{#>_docs-example showcode=true separated="true"}}  
<div class="nsw-list nsw-list--8">
  <div class="nsw-overflow-x-auto nsw-p-sm nsw-m-xs nsw-bg-opacity--50 nsw-bg--brand-light nsw-width-100" style="max-width: 200px; max-height: 100px; white-space: nowrap;">
    <div><code>.nsw-overflow-x-auto</code> example on an element</div>
    <div> with set width and height dimensions.</div>
  </div>
  <div class="nsw-overflow-x-hidden nsw-p-sm nsw-m-xs nsw-bg-opacity--50 nsw-bg--brand-light nsw-width-100" style="max-width: 200px; max-height: 100px;white-space: nowrap;">
    <div><code>.nsw-overflow-x-hidden</code> example</div>
    <div>on an element with set width and height dimensions.</div>
  </div>
  <div class="nsw-overflow-x-visible nsw-p-sm nsw-m-xs nsw-bg-opacity--50 nsw-bg--brand-light nsw-width-100" style="max-width: 200px; max-height: 100px;white-space: nowrap;">
    <div><code>.nsw-overflow-x-visible</code> example </div>
    <div>on an element with set width and height dimensions.</div>
  </div>
  <div class="nsw-overflow-x-scroll nsw-p-sm nsw-m-xs nsw-bg-opacity--50 nsw-bg--brand-light nsw-width-100" style="max-width: 200px; max-height: 100px;white-space: nowrap;">
    <div><code>.nsw-overflow-x-scroll</code> example on an element</div>
    <div> with set width and height dimensions.</div>
  </div>
</div>
{{/_docs-example}}

{{#>_docs-code open=true}}  
<div class="nsw-overflow-x-auto">...</div>
<div class="nsw-overflow-x-hidden">...</div>
<div class="nsw-overflow-x-visible">...</div>
<div class="nsw-overflow-x-scroll">...</div>
{{/_docs-code}}

<h3>overflow-y</h3>

<p>Adjust the overflow-y property to affect the overflow of content vertically.</p>

{{#>_docs-example showcode=true separated="true"}}
<div class="nsw-list nsw-list--8">
  <div class="nsw-overflow-y-auto nsw-p-sm nsw-m-xs nsw-bg-opacity--50 nsw-bg--brand-light nsw-width-100" style="max-width: 200px; max-height: 100px;">
    <code>.nsw-overflow-y-auto</code> example on an element with set width and height dimensions.
  </div>
  <div class="nsw-overflow-y-hidden nsw-p-sm nsw-m-xs nsw-bg-opacity--50 nsw-bg--brand-light nsw-width-100" style="max-width: 200px; max-height: 100px;">
    <code>.nsw-overflow-y-hidden</code> example on an element with set width and height dimensions.
  </div>
  <div class="nsw-overflow-y-visible nsw-p-sm nsw-m-xs nsw-bg-opacity--50 nsw-bg--brand-light nsw-width-100" style="max-width: 200px; max-height: 100px;">
    <code>.nsw-overflow-y-visible</code> example on an element with set width and height dimensions.
  </div>
  <div class="nsw-overflow-y-scroll nsw-p-sm nsw-m-xs nsw-bg-opacity--50 nsw-bg--brand-light nsw-width-100" style="max-width: 200px; max-height: 100px;">
    <code>.nsw-overflow-y-scroll</code> example on an element with set width and height dimensions.
  </div>
</div>
{{/_docs-example}}

{{#>_docs-code open=true}}  
<div class="nsw-overflow-y-auto">...</div>
<div class="nsw-overflow-y-hidden">...</div>
<div class="nsw-overflow-y-visible">...</div>
<div class="nsw-overflow-y-scroll">...</div>
{{/_docs-code}}