---
title: Position
width: narrow
intro: Utilities for controlling how an element is positioned in the DOM.
no-blank: true
order: 10
model: json/utilities.json
meta-description: Utilities for controlling how an element is positioned in the DOM.
meta-index: true
---

<h3></h3>

{{#>_docs-example}}  
  {{#each model.colours as |value property|}}
    {{#each this}}
      <div class="nsw-col {{@key}}">
        <!-- START: Column content -->
        <div class="{{@key}}"><p>.{{@key}}</p></div>
        <!-- END: Column content -->
      </div>
    {{/each}}
  {{/each}}
{{/_docs-example}}
