---
title: Sizing
width: narrow
intro: Utilities for setting the width, minimum width, maximum width, height, minimum height and maximum height of an element.
no-blank: true
order: 12
model: json/utilities.json
meta-description: Utilities for setting the width, minimum width, maximum width, height, minimum height and maximum height of an element.
meta-index: true
---

<h3></h3>

{{#>_docs-example}}  
  {{#each model.colours as |value property|}}
    {{#each this}}
      <div class="nsw-col {{@key}}">
        <!-- START: Column content -->
        <div class="{{@key}}"><p>.{{@key}}</p></div>
        <!-- END: Column content -->
      </div>
    {{/each}}
  {{/each}}
{{/_docs-example}}
