---
title: SVG
width: narrow
intro: Utilities for styling the fill of SVG elements.
no-blank: true
model: json/utilities.json
meta-description: Utilities for styling the fill of SVG elements.
meta-index: true
---

<h3>Setting the fill color</h3>
<p>Use the <code>nsw-fill-{color}</code> utilities to change the fill color of an SVG.</p>

<div class="nsw-section nsw-section--white nsw-block nsw-p-sm">
  <div class="nsw-table nsw-table--bordered nsw-table--valign-middle">
    <table>
      <tbody>
        <tr>
          <th style="width: 25%">
            <p>Class</p>
          </th>
          <th style="width: 75%">
            <p>Description</p>
          </th>
        </tr>
        {{#each model.fill as |value property|}}
        <tr>
          <td>
            <p>.nsw-fill-{{this}}</p>
          </td>
          <td>
            <p>Applies fill: <code>var(--nsw-{{this}})</code> to element</p>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

{{#>_docs-example showcode=true separated="true"}}
<div class="nsw-list nsw-list--8">
  {{#each model.svgLight as |value property|}}
<svg class="nsw-fill-{{this}}" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px"><rect fill="none" height="24" width="24"/><path d="M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z"/></svg>
  {{/each}}
</div>
{{/_docs-example}}

{{#>_docs-example showcode=true separated="true" dark=true}}
<div class="nsw-list nsw-list--8">
  {{#each model.svgDark as |value property|}}
<svg class="nsw-fill-{{this}}" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px"><rect fill="none" height="24" width="24"/><path d="M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z"/></svg>
  {{/each}}
</div>
{{/_docs-example}}

{{#>_docs-code open=true}}
<svg class="nsw-fill-brand-dark" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px"><rect fill="none" height="24" width="24"/><path d="M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z"/></svg>
{{/_docs-code}}