---
title: SVG
width: narrow
intro: Utilities for styling the fill, stroke and stroke width of SVG elements.
no-blank: true
order: 14
model: json/utilities.json
meta-description: Utilities for styling the fill, stroke and stroke width of SVG elements.
meta-index: true
---

<h3></h3>

{{#>_docs-example}}  
  {{#each model.colours as |value property|}}
    {{#each this}}
      <div class="nsw-col {{@key}}">
        <div class="{{@key}}"><p>.{{@key}}</p></div>
      </div>
    {{/each}}
  {{/each}}
{{/_docs-example}}