---
title: Vertical align
width: narrow
intro: Easily change the vertical alignment of inline, inline-block, inline-table, and table cell elements.
no-blank: true
order: 16
model: json/utilities.json
meta-description: Easily change the vertical alignment of inline, inline-block, inline-table, and table cell elements.
meta-index: true
---

<h3></h3>

{{#>_docs-example}}  
  {{#each model.colours as |value property|}}
    {{#each this}}
      <div class="nsw-col {{@key}}">
        <!-- START: Column content -->
        <div class="{{@key}}"><p>.{{@key}}</p></div>
        <!-- END: Column content -->
      </div>
    {{/each}}
  {{/each}}
{{/_docs-example}}
