---
title: Vertical rule
width: narrow
intro: Use the custom vertical rule helper to create vertical dividers like the <hr> element.
no-blank: true
order: 16
model: json/utilities.json
meta-description: Use the custom vertical rule helper to create vertical dividers like the <hr> element.
meta-index: true
---

<h3></h3>

{{#>_docs-example}}  
  {{#each model.colours as |value property|}}
    {{#each this}}
      <div class="nsw-col {{@key}}">
        <!-- START: Column content -->
        <div class="{{@key}}"><p>.{{@key}}</p></div>
        <!-- END: Column content -->
      </div>
    {{/each}}
  {{/each}}
{{/_docs-example}}
