---
title: In-page navigation
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Use when there are multiple section on a page to helps users scan the section names and navigate to different sections of the page.</p>

<h2>How this component works</h2>
<p>Place at the top of the page before the main content. The lefthand highlight is intended to visually separate the component from the actual content on a page and bind the elements together.</p>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>
