<nav class="nsw-page-nav" aria-labelledby="in-page-nav">
  <h2 id="in-page-nav" class="nsw-page-nav__title">{{title}}</h2>
  <ul class="nsw-page-nav__list">
    {{#each pageSections}}
    <li class="nsw-page-nav__list-item">
      <a href="#" class="nsw-page-nav__link">{{text}}</a>
    </li>
    {{/each}}
  </ul>
</nav>
