.nsw-page-nav {
  @include nsw-spacing(padding, md);
  border-left: solid 4px $nsw-primary-blue;

  &__title {
    @include nsw-spacing(margin, none);
    @include font-stack(heading);
    @include font-size(sm);
  }

  &__list {
    @include nsw-spacing(margin, none);
    @include nsw-spacing(padding, none);
    list-style: none;
  }

  &__list-item {
    @include nsw-spacing(margin-top, md);
    display: block;
  }

  &__link {
    @include text-link;
  }

}
