<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Media</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="../../favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/docs/css/docs.css">
</head>

<body class="nsw-body-content">

<div class="nsw-container nsw-p-y-sm">
  <div class="nsw-page-layout">
    <main class="nsw-page-layout__main">
  		<figure class="nsw-media">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
  		</figure>
  		<figure class="nsw-media nsw-media--dark">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
  		</figure>
  		<figure class="nsw-media nsw-media--light">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
  		</figure>
  		<figure class="nsw-media nsw-media--transparent">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
  		</figure>
  		<figure class="nsw-media">
  		  <div class="nsw-media__video">
  		    <iframe src="https://www.youtube.com/embed/HNHu2zRPSB4" title="Digital.nsw launch with Victor Dominello MP at NSW Parliament House" frameborder="0" allowfullscreen></iframe>
  		  </div>
  		  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
  		</figure>
  		<figure class="nsw-media nsw-media--90">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
  		</figure>
  		<figure class="nsw-media nsw-media--80">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
  		</figure>
  		<figure class="nsw-media nsw-media--70">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
  		</figure>
  		<figure class="nsw-media nsw-media--60">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
  		</figure>
  		<div class="nsw-docs__component">
  		<figure class="nsw-media nsw-media--left-50">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
  		</figure></div>
  		
  		<div class="nsw-docs__component">
  		<figure class="nsw-media nsw-media--right-50">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
  		</figure></div>
  		
  		<div class="nsw-docs__component">
  		<figure class="nsw-media nsw-media--left-40">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		  <figcaption>A long caption, ee mei labores adipiscing.</figcaption>
  		</figure></div>
  		
  		<div class="nsw-docs__component">
  		<figure class="nsw-media nsw-media--right-40">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		  <figcaption>A long caption, ee mei labores adipiscing.</figcaption>
  		</figure></div>
  		
  		<div class="nsw-docs__component">
  		<figure class="nsw-media nsw-media--left-30">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		</figure></div>
  		
  		<div class="nsw-docs__component">
  		<figure class="nsw-media nsw-media--right-30">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		</figure></div>
  	</main>
  	<div class="nsw-page-layout__sidebar nsw-page-layout__sidebar--desktop"></div>
  </div>
</div>

  <script src="../../js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
