<!doctype html>
<html lang="en" class="no-js">
<head>
  <title>NSW Digital Design System - Media</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex" />
  <link rel="icon" href="/nsw-design-system/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone" rel="stylesheet">
  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TMEHXHFJXJ"></script>
<script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","G-TMEHXHFJXJ");</script>
</head>

<body>

<div class="nsw-container nsw-p-y-sm">
  <div class="nsw-layout">
    <main class="nsw-layout__main">
  		<figure class="nsw-media">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
  		</figure>
  		<figure class="nsw-media nsw-media--dark">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
  		</figure>
  		<figure class="nsw-media nsw-media--light">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
  		</figure>
  		<figure class="nsw-media nsw-media--transparent">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
  		</figure>
  		<figure class="nsw-media">
  		  <div class="nsw-media__video">
  		    <iframe src="https://www.youtube.com/embed/HNHu2zRPSB4" title="Digital.nsw launch with Victor Dominello MP at NSW Parliament House" frameborder="0" allowfullscreen></iframe>
  		  </div>
  		  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
  		</figure>
  		<figure class="nsw-media nsw-media--90">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
  		</figure>
  		<figure class="nsw-media nsw-media--80">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
  		</figure>
  		<figure class="nsw-media nsw-media--70">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
  		</figure>
  		<figure class="nsw-media nsw-media--60">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
  		</figure>
  		<div class="nsw-docs__component">
  		<figure class="nsw-media nsw-media--left-50">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
  		</figure></div>
  		
  		<div class="nsw-docs__component">
  		<figure class="nsw-media nsw-media--right-50">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
  		</figure></div>
  		
  		<div class="nsw-docs__component">
  		<figure class="nsw-media nsw-media--left-40">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		  <figcaption>A long caption, ee mei labores adipiscing.</figcaption>
  		</figure></div>
  		
  		<div class="nsw-docs__component">
  		<figure class="nsw-media nsw-media--right-40">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		  <figcaption>A long caption, ee mei labores adipiscing.</figcaption>
  		</figure></div>
  		
  		<div class="nsw-docs__component">
  		<figure class="nsw-media nsw-media--left-30">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		</figure></div>
  		
  		<div class="nsw-docs__component">
  		<figure class="nsw-media nsw-media--right-30">
  		  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  		</figure></div>
  	</main>
  	<div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
  </div>
</div>

  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
