<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Media</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="/nsw-design-system/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-light.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/xml.min.js"></script>
</head>

<body class="nsw-body-content nsw-docs">
  <div class="nsw-docs__wrapper">
    <div class="nsw-docs__nav">
      <nav class="nsw-docs-nav">
        <div class="nsw-docs-nav__wrapper">
          <div class="nsw-docs-nav__title nsw-docs-nav__title--main">
            <a class="nsw-docs-nav__title-link" href="/nsw-design-system/">NSW Digital Design System</a>
          </div>
      
          <div class="nsw-docs-nav__title">
            <button>
              <span>Design</span>
              <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
            </button>
          </div>
          <ul class="nsw-docs-nav__list">
              <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/docs/content/design/getting-started.html">Getting Started</a></li>
              <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/docs/content/design/figma-ui-kit.html">Figma UI Kit</a></li>
              <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/docs/content/design/extending.html">Extending</a></li>
              <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/docs/content/design/theming.html">Theming</a></li>
          </ul>
          <div class="nsw-docs-nav__title">
            <button>
              <span>Develop</span>
              <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
            </button>
          </div>
          <ul class="nsw-docs-nav__list">
              <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/docs/content/develop/getting-started.html">Getting Started</a></li>
              <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/docs/content/develop/theming.html">Theming</a></li>
              <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/docs/content/develop/migration.html">Migration</a></li>
              <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/docs/content/develop/helpers.html">Utility Classes</a></li>
          </ul>
          <div class="nsw-docs-nav__title">
            <button>
              <span>Core styles</span>
              <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
            </button>
          </div>
          <ul class="nsw-docs-nav__list">
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/styles/colour/index.html">Colour</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/styles/typography/index.html">Typography</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/styles/iconography/index.html">Iconography</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/styles/grid/index.html">Grid</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/styles/layout/index.html">Layout</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/styles/section/index.html">Section</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/styles/spacing/index.html">Spacing</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/styles/graphic-elements/index.html">Graphic elements</a></li>
          </ul>
      
          <div class="nsw-docs-nav__title">
            <button>
              <span>Components</span>
              <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
            </button>
          </div>
          <ul class="nsw-docs-nav__list">
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/accordion/index.html">Accordion</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/breadcrumbs/index.html">Breadcrumbs</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/button/index.html">Buttons</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/callout/index.html">Callout</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/card/index.html">Cards</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/content-block/index.html">Content blocks</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/filters/index.html">Filters</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/footer/index.html">Footer</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/forms/index.html">Forms</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/site-wide-message/index.html">Global alert</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/header/index.html">Header</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/banner/index.html">Hero banner</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/hero-search/index.html">Hero search</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/in-page-navigation/index.html">In-page navigation</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/notification/index.html">In-page notification</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/link-list/index.html">Link list</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/list-item/index.html">List items</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/main-navigation/index.html">Main navigation</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/masthead/index.html">Masthead</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/media/index.html">Media</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/pagination/index.html">Pagination</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/progress-indicator/index.html">Progress Indicator</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/results-bar/index.html">Results bar</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/side-navigation/index.html">Side navigation</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/social-bar/index.html">Social bar</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/tables/index.html">Tables</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/tab-navigation/index.html">Tabs</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/nsw-design-system/components/tags/index.html">Tags</a></li>
          </ul>
      
          <div class="nsw-docs-nav__title">
            <a class="nsw-docs-nav__link" href="templates/index.html">
              <span>Example pages</span>
            </a>
          </div>
        </div>
      </nav>
    </div>
    <div class="nsw-docs__main nsw-docs__main--narrow">
      <div class="nsw-docs__back">
        <a href="/nsw-design-system/" class="nsw-docs__link">
          <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_left</i>
          <span>Home</span>
        </a>
      </div>
      <div class="nsw-docs__intro nsw-docs__intro--tabs">
        <div class="nsw-docs__container">
          <h1>Media</h1>
          <p class="nsw-intro">Media combines visual elements with text to give context and alignment within content.</p>
          
          <p>
            <a target="_blank" href="https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id&#x3D;7952%3A8827" class="nsw-icon-link"><span>
              <svg width="11" height="16" viewBox="0 0 33 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.003 48c4.416 0 8-3.584 8-8v-8h-8c-4.416 0-8 3.584-8 8s3.584 8 8 8z" fill="#0ACF83"/><path d="M.003 24c0-4.416 3.584-8 8-8h8v16h-8c-4.416 0-8-3.584-8-8z" fill="#A259FF"/><path d="M.003 8c0-4.416 3.584-8 8-8h8v16h-8c-4.416 0-8-3.584-8-8z" fill="#F24E1E"/><path d="M16.003 0h8c4.416 0 8 3.584 8 8s-3.584 8-8 8h-8V0z" fill="#FF7262"/><path d="M32.003 24c0 4.416-3.584 8-8 8s-8-3.584-8-8 3.584-8 8-8 8 3.584 8 8z" fill="#1ABCFE"/></svg>Figma
            </span></a>
          </p>
        </div>
      </div>
<div class="nsw-docs__tabs">
  <div class="nsw-tabs js-tabs nsw-docs-tabs">
    <ul class="nsw-tabs__list">
      <li class="nsw-tabs__list-item">
        <a href="#section-guidance" class="nsw-tabs__link js-tabs-fixed">Guidance</a>
      </li>
      <li class="nsw-tabs__list-item">
        <a href="#section-interactive-demo" class="nsw-tabs__link js-tabs-fixed">Demo &amp; Code</a>
      </li>
    </ul>
    <section id="section-guidance" class="nsw-tabs__content">
      <div class="nsw-docs__container">
        
<h2>Usage</h2>
<p>Use media to add an <a target="_blank" href="https://www.digital.nsw.gov.au/digital-service-toolkit/resources/content-writing/content-101/images-and-alt-text">image</a> or <a target="_blank" href="https://www.digital.nsw.gov.au/digital-service-toolkit/resources/content-writing/content-101/documents-and-media/video-and-audio">video</a> that supports and reinforces the content. Ensure media used is relevant and impactful. </p>
<p>Each media component needs to be allocated a <strong>width</strong> and <strong>position</strong>. We recommend using width percentages in increments of ten at the positions below: </p>
<ul>
  <li>Widths of 30%, 40% and 50% should have a position of <strong>left</strong> or <strong>right</strong>.</li>
  <li>Widths of 60%, 70%, 80%, 90% and 100% should have a position of <strong>centre</strong></li>
</ul>

<h3>Captions</h3>
<p>Captions by default contain a coloured background to visually connect the text to the image or video. If your caption text would be better placed without a background, this option is also available. </p>
<p>Read more about using <a target="_blank" href="https://www.digital.nsw.gov.au/digital-service-toolkit/resources/content-writing/content-101/images-and-alt-text#captions">captions</a>.</p>


      </div>
    </section>
    <section id="section-interactive-demo" class="nsw-tabs__content">
      <div class="nsw-docs__demo">
        <div class="nsw-docs__external-link">
          <a target="_blank" href="blank.html" class="nsw-docs__external">
            <span>View in new window</span>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">launch</i>
          </a>
        </div>

<h3>Full width</h3>
<div class="nsw-docs__example">
  <div class="nsw-docs__component">
    <figure class="nsw-media">
      <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
      <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
    </figure>  </div>
</div>
<div class="nsw-docs-code">
	<button class="nsw-docs-code__button">
		<span>Show code</span>
		<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
	</button>
	<div class="nsw-docs-code__content">
		<button class="nsw-docs-code__copy">
			<span>Copy</span>
			<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">content_copy</i>
		</button>
		<div class="nsw-docs-code__wrapper">
<pre><code class="html"><script>
	  function escapeHtml(unsafe) {
	    return unsafe
	     .replace(/&/g, "&amp;")
	     .replace(/</g, "&lt;")
	     .replace(/>/g, "&gt;")
	     .replace(/"/g, "&quot;")
	     .replace(/'/g, "&#039;");
	  }
	  document.write(escapeHtml(`<figure class="nsw-media">
  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
</figure>`));
</script></code></pre>
		</div>
	</div>
</div>

<h3>Full width with Brand Dark background</h3>
<div class="nsw-docs__example">
  <div class="nsw-docs__component">
    <figure class="nsw-media nsw-media--dark">
      <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
      <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
    </figure>  </div>
</div>
<div class="nsw-docs-code">
	<button class="nsw-docs-code__button">
		<span>Show code</span>
		<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
	</button>
	<div class="nsw-docs-code__content">
		<button class="nsw-docs-code__copy">
			<span>Copy</span>
			<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">content_copy</i>
		</button>
		<div class="nsw-docs-code__wrapper">
<pre><code class="html"><script>
	  function escapeHtml(unsafe) {
	    return unsafe
	     .replace(/&/g, "&amp;")
	     .replace(/</g, "&lt;")
	     .replace(/>/g, "&gt;")
	     .replace(/"/g, "&quot;")
	     .replace(/'/g, "&#039;");
	  }
	  document.write(escapeHtml(`<figure class="nsw-media nsw-media--dark">
  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
</figure>`));
</script></code></pre>
		</div>
	</div>
</div>

<h3>Full width with Brand Light background</h3>
<div class="nsw-docs__example">
  <div class="nsw-docs__component">
    <figure class="nsw-media nsw-media--light">
      <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
      <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
    </figure>  </div>
</div>
<div class="nsw-docs-code">
	<button class="nsw-docs-code__button">
		<span>Show code</span>
		<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
	</button>
	<div class="nsw-docs-code__content">
		<button class="nsw-docs-code__copy">
			<span>Copy</span>
			<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">content_copy</i>
		</button>
		<div class="nsw-docs-code__wrapper">
<pre><code class="html"><script>
	  function escapeHtml(unsafe) {
	    return unsafe
	     .replace(/&/g, "&amp;")
	     .replace(/</g, "&lt;")
	     .replace(/>/g, "&gt;")
	     .replace(/"/g, "&quot;")
	     .replace(/'/g, "&#039;");
	  }
	  document.write(escapeHtml(`<figure class="nsw-media nsw-media--light">
  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
</figure>`));
</script></code></pre>
		</div>
	</div>
</div>

<h3>Full width without background</h3>
<div class="nsw-docs__example">
  <div class="nsw-docs__component">
    <figure class="nsw-media nsw-media--transparent">
      <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
      <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
    </figure>  </div>
</div>
<div class="nsw-docs-code">
	<button class="nsw-docs-code__button">
		<span>Show code</span>
		<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
	</button>
	<div class="nsw-docs-code__content">
		<button class="nsw-docs-code__copy">
			<span>Copy</span>
			<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">content_copy</i>
		</button>
		<div class="nsw-docs-code__wrapper">
<pre><code class="html"><script>
	  function escapeHtml(unsafe) {
	    return unsafe
	     .replace(/&/g, "&amp;")
	     .replace(/</g, "&lt;")
	     .replace(/>/g, "&gt;")
	     .replace(/"/g, "&quot;")
	     .replace(/'/g, "&#039;");
	  }
	  document.write(escapeHtml(`<figure class="nsw-media nsw-media--transparent">
  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
</figure>`));
</script></code></pre>
		</div>
	</div>
</div>

<h3>Full width video</h3>
<div class="nsw-docs__example">
  <div class="nsw-docs__component">
    <figure class="nsw-media">
      <div class="nsw-media__video">
        <iframe src="https://www.youtube.com/embed/HNHu2zRPSB4" title="Digital.nsw launch with Victor Dominello MP at NSW Parliament House" frameborder="0" allowfullscreen></iframe>
      </div>
      <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
    </figure>  </div>
</div>
<div class="nsw-docs-code">
	<button class="nsw-docs-code__button">
		<span>Show code</span>
		<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
	</button>
	<div class="nsw-docs-code__content">
		<button class="nsw-docs-code__copy">
			<span>Copy</span>
			<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">content_copy</i>
		</button>
		<div class="nsw-docs-code__wrapper">
<pre><code class="html"><script>
	  function escapeHtml(unsafe) {
	    return unsafe
	     .replace(/&/g, "&amp;")
	     .replace(/</g, "&lt;")
	     .replace(/>/g, "&gt;")
	     .replace(/"/g, "&quot;")
	     .replace(/'/g, "&#039;");
	  }
	  document.write(escapeHtml(`<figure class="nsw-media">
  <div class="nsw-media__video">
    <iframe src="https://www.youtube.com/embed/HNHu2zRPSB4" title="Digital.nsw launch with Victor Dominello MP at NSW Parliament House" frameborder="0" allowfullscreen></iframe>
  </div>
  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
</figure>`));
</script></code></pre>
		</div>
	</div>
</div>

<h3>Centre 90%</h3>
<div class="nsw-docs__example">
  <div class="nsw-docs__component">
    <figure class="nsw-media nsw-media--90">
      <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
      <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
    </figure>  </div>
</div>
<div class="nsw-docs-code">
	<button class="nsw-docs-code__button">
		<span>Show code</span>
		<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
	</button>
	<div class="nsw-docs-code__content">
		<button class="nsw-docs-code__copy">
			<span>Copy</span>
			<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">content_copy</i>
		</button>
		<div class="nsw-docs-code__wrapper">
<pre><code class="html"><script>
	  function escapeHtml(unsafe) {
	    return unsafe
	     .replace(/&/g, "&amp;")
	     .replace(/</g, "&lt;")
	     .replace(/>/g, "&gt;")
	     .replace(/"/g, "&quot;")
	     .replace(/'/g, "&#039;");
	  }
	  document.write(escapeHtml(`<figure class="nsw-media nsw-media--90">
  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
</figure>`));
</script></code></pre>
		</div>
	</div>
</div>

<h3>Centre 80%</h3>
<div class="nsw-docs__example">
  <div class="nsw-docs__component">
    <figure class="nsw-media nsw-media--80">
      <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
      <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
    </figure>  </div>
</div>
<div class="nsw-docs-code">
	<button class="nsw-docs-code__button">
		<span>Show code</span>
		<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
	</button>
	<div class="nsw-docs-code__content">
		<button class="nsw-docs-code__copy">
			<span>Copy</span>
			<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">content_copy</i>
		</button>
		<div class="nsw-docs-code__wrapper">
<pre><code class="html"><script>
	  function escapeHtml(unsafe) {
	    return unsafe
	     .replace(/&/g, "&amp;")
	     .replace(/</g, "&lt;")
	     .replace(/>/g, "&gt;")
	     .replace(/"/g, "&quot;")
	     .replace(/'/g, "&#039;");
	  }
	  document.write(escapeHtml(`<figure class="nsw-media nsw-media--80">
  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
</figure>`));
</script></code></pre>
		</div>
	</div>
</div>

<h3>Centre 70%</h3>
<div class="nsw-docs__example">
  <div class="nsw-docs__component">
    <figure class="nsw-media nsw-media--70">
      <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
      <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
    </figure>  </div>
</div>
<div class="nsw-docs-code">
	<button class="nsw-docs-code__button">
		<span>Show code</span>
		<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
	</button>
	<div class="nsw-docs-code__content">
		<button class="nsw-docs-code__copy">
			<span>Copy</span>
			<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">content_copy</i>
		</button>
		<div class="nsw-docs-code__wrapper">
<pre><code class="html"><script>
	  function escapeHtml(unsafe) {
	    return unsafe
	     .replace(/&/g, "&amp;")
	     .replace(/</g, "&lt;")
	     .replace(/>/g, "&gt;")
	     .replace(/"/g, "&quot;")
	     .replace(/'/g, "&#039;");
	  }
	  document.write(escapeHtml(`<figure class="nsw-media nsw-media--70">
  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
</figure>`));
</script></code></pre>
		</div>
	</div>
</div>

<h3>Centre 60%</h3>
<div class="nsw-docs__example">
  <div class="nsw-docs__component">
    <figure class="nsw-media nsw-media--60">
      <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
      <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
    </figure>  </div>
</div>
<div class="nsw-docs-code">
	<button class="nsw-docs-code__button">
		<span>Show code</span>
		<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
	</button>
	<div class="nsw-docs-code__content">
		<button class="nsw-docs-code__copy">
			<span>Copy</span>
			<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">content_copy</i>
		</button>
		<div class="nsw-docs-code__wrapper">
<pre><code class="html"><script>
	  function escapeHtml(unsafe) {
	    return unsafe
	     .replace(/&/g, "&amp;")
	     .replace(/</g, "&lt;")
	     .replace(/>/g, "&gt;")
	     .replace(/"/g, "&quot;")
	     .replace(/'/g, "&#039;");
	  }
	  document.write(escapeHtml(`<figure class="nsw-media nsw-media--60">
  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
</figure>`));
</script></code></pre>
		</div>
	</div>
</div>

<h3>Left 50%</h3>
<div class="nsw-docs__example">
  <div class="nsw-docs__component">
    <figure class="nsw-media nsw-media--left-50">
      <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
      <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
    </figure>  </div>
</div>
<div class="nsw-docs-code">
	<button class="nsw-docs-code__button">
		<span>Show code</span>
		<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
	</button>
	<div class="nsw-docs-code__content">
		<button class="nsw-docs-code__copy">
			<span>Copy</span>
			<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">content_copy</i>
		</button>
		<div class="nsw-docs-code__wrapper">
<pre><code class="html"><script>
	  function escapeHtml(unsafe) {
	    return unsafe
	     .replace(/&/g, "&amp;")
	     .replace(/</g, "&lt;")
	     .replace(/>/g, "&gt;")
	     .replace(/"/g, "&quot;")
	     .replace(/'/g, "&#039;");
	  }
	  document.write(escapeHtml(`<figure class="nsw-media nsw-media--left-50">
  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
</figure>`));
</script></code></pre>
		</div>
	</div>
</div>

<h3>Right 50%</h3>
<div class="nsw-docs__example">
  <div class="nsw-docs__component">
    <figure class="nsw-media nsw-media--right-50">
      <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
      <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
    </figure>  </div>
</div>
<div class="nsw-docs-code">
	<button class="nsw-docs-code__button">
		<span>Show code</span>
		<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
	</button>
	<div class="nsw-docs-code__content">
		<button class="nsw-docs-code__copy">
			<span>Copy</span>
			<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">content_copy</i>
		</button>
		<div class="nsw-docs-code__wrapper">
<pre><code class="html"><script>
	  function escapeHtml(unsafe) {
	    return unsafe
	     .replace(/&/g, "&amp;")
	     .replace(/</g, "&lt;")
	     .replace(/>/g, "&gt;")
	     .replace(/"/g, "&quot;")
	     .replace(/'/g, "&#039;");
	  }
	  document.write(escapeHtml(`<figure class="nsw-media nsw-media--right-50">
  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  <figcaption>A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne.</figcaption>
</figure>`));
</script></code></pre>
		</div>
	</div>
</div>

<h3>Left 40%</h3>
<div class="nsw-docs__example">
  <div class="nsw-docs__component">
    <figure class="nsw-media nsw-media--left-40">
      <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
      <figcaption>A long caption, ee mei labores adipiscing.</figcaption>
    </figure>  </div>
</div>
<div class="nsw-docs-code">
	<button class="nsw-docs-code__button">
		<span>Show code</span>
		<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
	</button>
	<div class="nsw-docs-code__content">
		<button class="nsw-docs-code__copy">
			<span>Copy</span>
			<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">content_copy</i>
		</button>
		<div class="nsw-docs-code__wrapper">
<pre><code class="html"><script>
	  function escapeHtml(unsafe) {
	    return unsafe
	     .replace(/&/g, "&amp;")
	     .replace(/</g, "&lt;")
	     .replace(/>/g, "&gt;")
	     .replace(/"/g, "&quot;")
	     .replace(/'/g, "&#039;");
	  }
	  document.write(escapeHtml(`<figure class="nsw-media nsw-media--left-40">
  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  <figcaption>A long caption, ee mei labores adipiscing.</figcaption>
</figure>`));
</script></code></pre>
		</div>
	</div>
</div>

<h3>Right 40%</h3>
<div class="nsw-docs__example">
  <div class="nsw-docs__component">
    <figure class="nsw-media nsw-media--right-40">
      <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
      <figcaption>A long caption, ee mei labores adipiscing.</figcaption>
    </figure>  </div>
</div>
<div class="nsw-docs-code">
	<button class="nsw-docs-code__button">
		<span>Show code</span>
		<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
	</button>
	<div class="nsw-docs-code__content">
		<button class="nsw-docs-code__copy">
			<span>Copy</span>
			<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">content_copy</i>
		</button>
		<div class="nsw-docs-code__wrapper">
<pre><code class="html"><script>
	  function escapeHtml(unsafe) {
	    return unsafe
	     .replace(/&/g, "&amp;")
	     .replace(/</g, "&lt;")
	     .replace(/>/g, "&gt;")
	     .replace(/"/g, "&quot;")
	     .replace(/'/g, "&#039;");
	  }
	  document.write(escapeHtml(`<figure class="nsw-media nsw-media--right-40">
  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
  <figcaption>A long caption, ee mei labores adipiscing.</figcaption>
</figure>`));
</script></code></pre>
		</div>
	</div>
</div>

<h3>Left 30%</h3>
<div class="nsw-docs__example">
  <div class="nsw-docs__component">
    <figure class="nsw-media nsw-media--left-30">
      <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
    </figure>  </div>
</div>
<div class="nsw-docs-code">
	<button class="nsw-docs-code__button">
		<span>Show code</span>
		<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
	</button>
	<div class="nsw-docs-code__content">
		<button class="nsw-docs-code__copy">
			<span>Copy</span>
			<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">content_copy</i>
		</button>
		<div class="nsw-docs-code__wrapper">
<pre><code class="html"><script>
	  function escapeHtml(unsafe) {
	    return unsafe
	     .replace(/&/g, "&amp;")
	     .replace(/</g, "&lt;")
	     .replace(/>/g, "&gt;")
	     .replace(/"/g, "&quot;")
	     .replace(/'/g, "&#039;");
	  }
	  document.write(escapeHtml(`<figure class="nsw-media nsw-media--left-30">
  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
</figure>`));
</script></code></pre>
		</div>
	</div>
</div>

<h3>Right 30%</h3>
<div class="nsw-docs__example">
  <div class="nsw-docs__component">
    <figure class="nsw-media nsw-media--right-30">
      <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
    </figure>  </div>
</div>
<div class="nsw-docs-code">
	<button class="nsw-docs-code__button">
		<span>Show code</span>
		<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
	</button>
	<div class="nsw-docs-code__content">
		<button class="nsw-docs-code__copy">
			<span>Copy</span>
			<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">content_copy</i>
		</button>
		<div class="nsw-docs-code__wrapper">
<pre><code class="html"><script>
	  function escapeHtml(unsafe) {
	    return unsafe
	     .replace(/&/g, "&amp;")
	     .replace(/</g, "&lt;")
	     .replace(/>/g, "&gt;")
	     .replace(/"/g, "&quot;")
	     .replace(/'/g, "&#039;");
	  }
	  document.write(escapeHtml(`<figure class="nsw-media nsw-media--right-30">
  <img src="https://picsum.photos/id/237/2000/1250" alt="A picture of a black dog">
</figure>`));
</script></code></pre>
		</div>
	</div>
</div>

      </div>
    </section>
  </div>
</div>
      <footer class="nsw-footer nsw-docs-footer">
        <div class="nsw-footer__lower">
          <div class="nsw-container">
            <p>We pay respect to the Traditional Custodians and First Peoples of NSW, and acknowledge their continued connection to their country and culture.</p>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
  <script src="/nsw-design-system/docs/js/docs.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
</body>
</html>
