---
title: Close button
width: narrow
no-blank: true
directory: close-button
intro: A close button is a graphical element used to dismiss or close windows, dialogs, or other UI elements.
theme: true
meta-description: A close button is a graphical element used to dismiss or close windows, dialogs, or other UI elements.
meta-index: true
---

<p>A close button is a <code>&lt;button&gt;</code> element with the class <code>.nsw-icon-button</code>. We use the 'close' material icon as the X icon. This icon is wrapped in a <code>&lt;span&gt;</code> with the attribute <code>aria-hidden="true"</code>, so screen readers don't read the X icon.</p>

<p>The button also includes a <code>&lt;span&gt;</code> with the <code>.sr-only</code> class to tell screen readers what the button's purpose is.</p>

{{#>_docs-example separated=true}}
{{>_close-button code="close" sr="Close"}}
{{/_docs-example}}

<h3>Sizing</h3>
<p>The NSW Design System displays icons at four sizes (20px, 24px, 30px, 36px) depending on their type, use and screen size:</p>

{{#>_docs-example separated=true}}
<div class="nsw-list nsw-list--8">
  {{>_close-button code="close" sr="Close" size="20"}}
  {{>_close-button code="close" sr="Close" size="24"}}
  {{>_close-button code="close" sr="Close" size="30"}}
  {{>_close-button code="close" sr="Close" size="36"}}
</div>
{{/_docs-example}}

<h3>Accessibility</h3>
<p>All components are responsive and designed to comply with WCAG 2.2 AA accessibility standards. Full compliance depends on using and configuring the components correctly.</p>

<p>Do:</p>
<ul>
  <li>Wrap icons within their interactive component</li>
  <li>Specify if an icon is decorative and informative by assigning the appropriate property.</li>
  <li>Use descriptive and meaningful titles for informative icons</li>
</ul>

