---
title: Support list
layout: blank-layout.hbs
---

<div class="nsw-in-page-alert nsw-in-page-alert--info">
  <span class="material-icons nsw-material-icons nsw-in-page-alert__icon"
     focusable="false" aria-hidden="true">info</span>
  <div class="nsw-in-page-alert__content">
    <h4>Brand requirements</h4>
    <p>Elements required for NSW branding include the use and implementation of descriptors (site name) and logos. View the <a href="https://branding.nsw.gov.au/guidelines/sponsorships-and-partnerships/" target="_blank">Sponsorship and Partnership Brand Guidelines</a> for full requirements specific to your brand category.</p>
  </div>
</div>

<h2 id="usage">Usage</h2>
<p>Use when highlighting NSW Government and external organisations that have provided sponsorship and partnership support.</p>

<h3 id="nsw-government-waratah-logo">NSW Government waratah logo</h3>
<p>Under the NSW Government Brand Framework, all brand categories include specific requirements for the usage of the NSW Government waratah logo.</p>
<p>When the NSW Government logo is displayed next to another logo or Masterbrand descriptor, it should be vertically centered and separated by a minimum distance of 40px.</p>

<figure class="nsw-media nsw-media--transparent nsw-m-bottom-xs">
  <img src="/assets/images/support-list-logo-dimensions.png" alt="Masterbrand support list example layout">
</figure>

<div class="nsw-grid">
  <div class="nsw-col nsw-col-sm-6">
    <figure class="nsw-media nsw-media--transparent nsw-m-bottom-xs">
      <h4>Masterbrand or Co-brand</h4><p>Do not require the NSW Government waratah logo as it's already included in the header. Use a 'NSW Government' descriptor label instead as the first element, on a separate line, before any Masterbrand descriptor.</p>
      <img class="nsw-p-top-md" src="/assets/images/support-list-standard-waratah-requirements.png" alt="Endorsed exmaple with logo coupled in header">
    </figure>
  </div>
  <div class="nsw-col nsw-col-sm-6">
    <figure class="nsw-media nsw-media--transparent nsw-m-bottom-xs">
      <h4>Endorsed, Independent and Stand-alone</h4><p>In cases where the NSW Government waratah logo is not included in the header, position it as the first element among the support logos.</p><br />
      <img class="nsw-p-top-md" src="/assets/images/support-list-decoupled-waratah-requirements.png" alt="Endorsed exmaple with logo decoupled in footer">
    </figure>
  </div>
</div>

<h4 id="sizing-master-brand">Sizing</h4>
<p>The NSW Government waratah logo should be 76px in height on large screens (≥ 992px), and 48px in height on small screens (< 991px) and should never be smaller than the support logos.</p>

<h3 id="masterbrand-descriptors">Masterbrand descriptors</h3>
<p>Use Masterbrand descriptors when Masterbrand agencies need to be recognised, as text-only links.</p>
<p>In cases where the NSW Government waratah logo is not used in the support section, display a 'NSW Government' descriptor label instead.</p>

<h3 id="support-logos">Support logos</h3>
<h4 id="arrangement">Arrangement</h4>
<p>Order is based on hierarchy of the NSW Government Brand Framework:</p>
<ol>
  <li>Masterbrand (used as a text-only link descriptor)</li>
  <li>Co-brand</li>
  <li>Endorsed</li>
  <li>Independent</li>
  <li>Stand-alone</li>
</ol>
<p>External brand logos can also be included after the NSW Government logos.</p>
<p>The arrangement of logos follows the hierarchy of the NSW Government Brand Framework, however when necessary, they can be re-ordered  based on the scale of funding or contribution.</p>
<p>For more information on support logo arrangement requirements for your brand classification view the <a href="https://branding.nsw.gov.au/guidelines/sponsorships-and-partnerships/" target="_blank">Sponsorship and Partnership Brand Guidelines</a>.</p>

<h4 id="sizing-support">Sizing</h4>
<p>The support logos should be 76px in height on large screens (≥ 992px), and 48px in height on small screens (< 991px).</p>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>