@use 'sass:math';
@use '../../global/scss/tools' as nsw;

.nsw-container {
  @include nsw.container;

  &--flush {
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
}

.nsw-grid {
  @include nsw.grid();

  &--spaced {
    margin-block-start: nsw.rem(-(nsw.$grid-gutters));
    margin-block-end: nsw.rem(-(nsw.$grid-gutters));

    @include nsw.breakpoint('md') {
      margin-block-start: nsw.rem(-(nsw.$grid-gutters)*2);
      margin-block-end: nsw.rem(-(nsw.$grid-gutters)*2);
    }

    .nsw-col {
      padding-block-start: nsw.rem(nsw.$grid-gutters*2);
      padding-block-end: nsw.rem(nsw.$grid-gutters*2);

      @include nsw.breakpoint('md') {
        padding-block-start: nsw.rem(nsw.$grid-gutters*4);
        padding-block-end: nsw.rem(nsw.$grid-gutters*4);
      }
    }
  }

  &--flush {
    margin-block-start: nsw.rem(-(nsw.$grid-gutters));
    margin-block-end: nsw.rem(-(nsw.$grid-gutters));

    @include nsw.breakpoint('md') {
      margin-block-start: nsw.rem(-(nsw.$grid-gutters)*2);
      margin-block-end: nsw.rem(-(nsw.$grid-gutters)*2);
    }
  }

  &-overlay {
    position: fixed;
    inset-inline-end: 0;
    inset-inline-start: 0;
    inset-block-start: 0;
    inset-block-end: 0;

    .nsw-container,
    .nsw-grid {
      block-size: 100%;
    }

    .nsw-col {
      padding-block-start: 0;
      padding-block-end: 0;

      > div {
        block-size: 100%;
        background-color: var(--nsw-brand-accent);
        opacity: 0.1;
      }
    }
  }
}

.nsw-row {
  @include nsw.row();

  &--reverse {
    @include nsw.breakpoint('lg') {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }
}

.nsw-col {
  @include nsw.column-default();

  @for $i from 1 through 12 {
    &-#{$i} {
      inline-size: math.percentage(math.div($i, 12));
      max-inline-size: math.percentage(math.div($i, 12));
    }
  }

  @each $breakpoint, $breakpoint-size in nsw.$nsw-breakpoints {
    @include nsw.breakpoint($breakpoint) {
      @for $i from 1 through 12 {
        &-#{$breakpoint}-#{$i} {
          inline-size: math.percentage(math.div($i, 12));
          max-inline-size: math.percentage(math.div($i, 12));
        }
      }
    }
  }
}

.nsw-offset {
  @for $i from 1 through 12 {
    &-#{$i} {
      margin-inline-start: math.percentage(math.div($i, 12));
    }
  }

  @each $breakpoint, $breakpoint-size in nsw.$nsw-breakpoints {
    @include nsw.breakpoint($breakpoint) {
      @for $i from 1 through 12 {
        &-#{$breakpoint}-#{$i} {
          margin-inline-start: math.percentage(math.div($i, 12));
        }
      }
    }
  }
}
