.navigation-open {
  overflow: hidden;
}

.nsw-navigation {
  @include z-index('middle');
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--nsw-white);
  transition: all 0.25s ease-in-out;
  transform: translateX(-100%);
  visibility: hidden;
  outline: none;
  height: 100%;
  overflow-y: auto;

  &.is-opening,
  &.is-open {
    transform: translateX(0);
    visibility: visible;
  }

  &.is-closing {
    transform: translateX(-100%);
  }

  @include breakpoint($desktop-breakpoint) {
    position: relative;
    transform: none;
    background-color: var(--nsw-off-white);
    top: auto;
    left: auto;
    transition: none;
    visibility: visible;
    overflow-y: visible;
    height: auto;
  }

  &__close {
    border-radius: var(--nsw-border-radius);
    width: rem(40px);
    height: rem(40px);
    background: none;
    border: 0;
    padding: 0;
    position: relative;
    right: rem(-10px);
    top: 0;
    text-align: center;

    &:hover {
      @include nsw-hover;
    }

    &:focus {
      @include nsw-focus;
    }

    .nsw-material-icons {
      font-size: rem(34px);
    }

    @include breakpoint($desktop-breakpoint) {
      display: none;
    }
  }

  &__link-text {
    flex: 1 1 auto;
  }

  &__subbtn {
    width: rem(52px);
    height: rem(52px);
    background: none;
    border: 0;
    padding: 0;
    text-align: center;
    border-left: solid 1px var(--nsw-grey-04);

    &:hover {
      @include nsw-hover;
    }

    &:focus {
      @include nsw-focus;
    }

    @include breakpoint($desktop-breakpoint) {
      display: none;
    }
  }

}

.nsw-navigation__list,
.nsw-subnavigation__list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;

  @include breakpoint($desktop-breakpoint) {
    @include container(0);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    position: relative;
  }
}

.nsw-subnavigation__list {
  @include breakpoint($desktop-breakpoint) {
    @include nsw-spacing(margin-top, xl);
    display: flex;
  }
}

.nsw-navigation__list-item,
.nsw-subnavigation__list-item,
.nsw-subnavigation__title {
  margin: 0;
  border-bottom: solid 1px var(--nsw-grey-04);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;

  @include breakpoint($desktop-breakpoint) {
    border-bottom: 0;
  }
}

.nsw-navigation__list-item,
.nsw-subnavigation__list-item {
  @include breakpoint($desktop-breakpoint) {
    font-weight: var(--nsw-font-bold);
    border-bottom: 0;
  }
}

.nsw-subnavigation__list-item {

  @include breakpoint($desktop-breakpoint) {
    width: 32%;
    border-top: solid 1px var(--nsw-grey-04);

    &:nth-child(3n+2) {
      margin-left: 2%;
      margin-right: 2%;
    }

    &:nth-last-child(-n+3) {
      border-bottom: solid 1px var(--nsw-grey-04);
    }
  }
}

.nsw-navigation__link,
.nsw-subnavigation__link,
.nsw-subnavigation__title-link {
  flex: 1 1 auto;
  padding: 16px;
  color: var(--nsw-text-dark);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;

  @include breakpoint($desktop-breakpoint) {
    @include z-index('middle');
    position: relative;
  }

  &:hover {
    @include nsw-hover;
  }

  &:focus {
    @include nsw-focus($offset: false);
  }

  &.is-open {
    background-color: var(--nsw-white);
  }
}

.nsw-subnavigation__link {
  @include breakpoint($desktop-breakpoint) {
    color: var(--nsw-brand-dark);
  }
}

.nsw-navigation__link,
.nsw-subnavigation__link {
  justify-content: center;

  &:last-child {
    justify-content: left;
  }
}

.nsw-navigation__link-icon {
  line-height: rem(26px);
  position: relative;
  right: rem(-7px);

  @include breakpoint($desktop-breakpoint) {
    display: block;
    transform: rotate(90deg);
    font-size: rem(24px);
    line-height: rem(24px);
    margin-left: rem(-2px);
  }

  .nsw-navigation__link.is-open & {
    transform: rotate(270deg);
  }
}

.nsw-subnavigation {
  @include z-index;
  position: absolute;
  top: 0;
  background-color: var(--nsw-white);
  width: 100%;
  transition: all 0.25s ease-in-out;
  transform: translateX(-100%);
  visibility: hidden;
  left: 0;
  height: 100%;
  overflow-y: auto;

  &.is-open {
    transform: translateX(0);
    visibility: visible;
  }

  @include breakpoint($desktop-breakpoint) {
    @include container;
    padding: rem(48) rem(40);
    top: 100%;
    background-color: var(--nsw-white);
    box-shadow: 0 4px 9px -5px rgba(var(--nsw-black-rgb), 0.4);
    transition: none;
    transform: none;
    height: auto;
    overflow: auto;

    &.is-open {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @include breakpoint($desktop-breakpoint) {
    @include nsw-spacing(padding-top, xxl);
    @include nsw-spacing(padding-bottom, xxl);
  }
}

.nsw-navigation__header,
.nsw-subnavigation__header {
  @include nsw-spacing(padding-top, xs);
  @include nsw-spacing(padding-bottom, xs);
  @include container;
  border-bottom: solid 2px var(--nsw-brand-dark);
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  h2 {
    @include nsw-spacing(margin, none);
    @include font-size('md');
    font-weight: var(--nsw-font-bold);
    flex: 1 1 auto;
    align-self: center;
  }

  @include breakpoint($desktop-breakpoint) {
    display: none;
  }
}

.nsw-subnavigation__back-btn {
  @include font-size('md');
  @include nsw-spacing(padding, none xs);
  border-radius: var(--nsw-border-radius);
  font-weight: var(--nsw-font-bold);
  background: none;
  border: 0;
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  position: relative;
  left: -8px;

  &:hover {
    @include nsw-hover;
  }

  &:focus {
    @include nsw-focus;
  }

  .nsw-material-icons {
    margin: 0 rem(-2px) 0 rem(-6px);
    align-self: center;
  }

  @include breakpoint($desktop-breakpoint) {
    display: none;
  }
}

.nsw-subnavigation__title {
  @include font-size('md');
  @include nsw-spacing(margin, none);
  font-weight: var(--nsw-font-bold);

  @include breakpoint($desktop-breakpoint) {
    @include font-size('lg');
    display: inline-block;
  }

  .nsw-card__icon {
    margin: 0 0 0 rem(12px);
    position: relative;
    bottom: auto;
    left: auto;
    display: none;

    @include breakpoint($desktop-breakpoint) {
      display: inline;
    }
  }
}

.nsw-subnavigation__title-link {
  @include breakpoint($desktop-breakpoint) {
    @include nsw-spacing(padding, none);
    color: var(--nsw-brand-dark);
  }
}

.nsw-subnavigation__description {
  @include nsw-spacing(margin-top, md);
  @include font-size('xs');
  display: none;

  @include breakpoint($desktop-breakpoint) {
    display: block;
  }
}

.nsw-subnavigation .nsw-subnavigation,
.nsw-subnavigation .nsw-navigation__link-icon {

  @include breakpoint($desktop-breakpoint) {
    display: none;
  }

}
