<nav id="main-navigation" class="nsw-navigation {{#if mega-menu}}js-mega-menu{{/if}}" aria-label="Main menu">
  <div class="nsw-navigation__header">
    <h2 id="nsw-navigation">Menu</h2>
    <button type="button" class="nsw-navigation__close js-close-navigation" aria-expanded="true">
      <svg class="nsw-icon icon" focusable="false" aria-hidden="true">
        <use xlink:href="#close"></use>
      </svg>
      <span class="sr-only">Close Menu</span>
    </button>
  </div>
  <ul class="nsw-navigation__list">
    {{#each navitems}}
      <li class="nsw-navigation__list-item">
        <a href="{{url}}" class="nsw-navigation__link">
          <span class="nsw-navigation__link-text">{{text}}</span>
          {{#if subnav}}
          <svg class="nsw-icon nsw-navigation__link-icon" focusable="false" aria-hidden="true">
            <use xlink:href="#chevron"></use>
          </svg>
          {{/if}}
        </a>
        {{#if subnav}}
          {{>_sub-nav}}
        {{/if}}
      </li>
    {{/each}}
  </ul>
</nav>
