<div class="nsw-subnavigation__header">
  <button type="button" class="nsw-subnavigation__back-btn js-close-subnav" aria-controls="subnav-{{id}}" aria-expanded="true">
    <i class="material-icons nsw-material-icons nsw-material-icons--rotate-180" focusable="false" aria-hidden="true">keyboard_arrow_right</i>
    <span>Back<span class="sr-only"> to previous menu</span></span>
  </button>

  <button type="button" class="nsw-navigation__close js-close-navigation" aria-expanded="true">
    <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</i>
    <span class="sr-only">Close Menu</span>
  </button>
</div>
<h2 class="nsw-subnavigation__title">
  <a href="{{url}}" class="nsw-subnavigation__title-link">
    <span>{{text}}</span>
    <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  </a>
</h2>
<p class="nsw-subnavigation__description">{{description}}</p>
