<ul class="nsw-subnavigation__list">
  {{#each subnav}}
    <li class="nsw-subnavigation__list-item">
      <a href="{{url}}" class="nsw-subnavigation__link">
        {{text}}
      </a>
    </li>
  {{/each}}
</ul>
