<!doctype html>
<html lang="en" class="no-js">
<head>
  <title>NSW Digital Design System - Close button</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex" />
  <link rel="icon" href="/nsw-design-system/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone" rel="stylesheet">
  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TMEHXHFJXJ"></script>
<script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","G-TMEHXHFJXJ");</script>
</head>

<body>

<section class="nsw-section">
  <div class="nsw-container nsw-p-y-sm">
    <div class="nsw-layout">
      <main class="nsw-layout__main">
          <button class="nsw-icon-button" type="button">
            <span class="material-icons nsw-material-icons nsw-material-icons--20" focusable="false" aria-hidden="true">close</span>  <span class="sr-only">Close</span>
          </button>  <button class="nsw-icon-button" type="button">
            <span class="material-icons nsw-material-icons nsw-material-icons--24" focusable="false" aria-hidden="true">close</span>  <span class="sr-only">Close</span>
          </button>  <button class="nsw-icon-button" type="button">
            <span class="material-icons nsw-material-icons nsw-material-icons--30" focusable="false" aria-hidden="true">close</span>  <span class="sr-only">Close</span>
          </button>  <button class="nsw-icon-button" type="button">
            <span class="material-icons nsw-material-icons nsw-material-icons--36" focusable="false" aria-hidden="true">close</span>  <span class="sr-only">Close</span>
          </button>      </main>
      <div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
    </div>
  </div>
</section>

<section class="nsw-section nsw-section--brand-dark nsw-section--invert">
  <div class="nsw-container nsw-p-y-sm">
    <div class="nsw-layout">
      <main class="nsw-layout__main">
          <button class="nsw-icon-button" type="button">
            <span class="material-icons nsw-material-icons nsw-material-icons--20" focusable="false" aria-hidden="true">close</span>  <span class="sr-only">Close</span>
          </button>  <button class="nsw-icon-button" type="button">
            <span class="material-icons nsw-material-icons nsw-material-icons--24" focusable="false" aria-hidden="true">close</span>  <span class="sr-only">Close</span>
          </button>  <button class="nsw-icon-button" type="button">
            <span class="material-icons nsw-material-icons nsw-material-icons--30" focusable="false" aria-hidden="true">close</span>  <span class="sr-only">Close</span>
          </button>  <button class="nsw-icon-button" type="button">
            <span class="material-icons nsw-material-icons nsw-material-icons--36" focusable="false" aria-hidden="true">close</span>  <span class="sr-only">Close</span>
          </button>      </main>
      <div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
    </div>
  </div>
</section>
  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
