---
title: Side navigation
width: menu
guidance: https://digitalnsw.github.io/nsw-design-system-docs/components/side-navigation/index.html
model:
  single-level: json/side-navigation.json
  two-level: json/side-navigation-level-2.json
  four-level: json/side-navigation-level-4.json
---

<h3>Single level</h3>
{{#>_docs-example}}{{>_side-navigation model.single-level}}{{/_docs-example}}

<h3>Two levels</h3>
{{#>_docs-example}}{{>_side-navigation model.two-level}}{{/_docs-example}}

<h3>Four levels</h3>
{{#>_docs-example}}{{>_side-navigation model.four-level}}{{/_docs-example}}
