<div class="nsw-date-input js-date-input">
  <label for="date-input-1" class="nsw-form__label">Select date<i class="sr-only">, format is dd/mm/yyyy</i>:</label>
  
  <div class="nsw-date-input__wrapper nsw-form__input-group nsw-form__input-group--icon">
    <input type="text" class="nsw-form__input js-date-input__text" placeholder="dd/mm/yyyy" autocomplete="off" id="date-input-1">
    
    <button class="nsw-button nsw-button--dark nsw-button--flex js-date-input__trigger" aria-label="Select date using calendar widget" type="button">
      <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">calendar_today</span>
    </button>
  </div>
  
  <div class="nsw-date-picker js-date-picker" role="dialog" aria-labelledby="calendar-label-1">
    <header class="nsw-date-picker__header">
      <div class="nsw-date-picker__title">
        <span class="nsw-date-picker__title-label js-date-picker__title-label" id="calendar-label-1"></span> <!-- this will contain month label + year -->

        <nav>
          <ul class="nsw-date-picker__title-nav js-date-picker__title-nav">
            <li>
              <button class="nsw-icon-button nsw-date-picker__title-nav-btn js-date-picker__year-nav-btn js-date-picker__year-nav-btn--prev" type="button">
                <span class="material-icons nsw-material-icons">keyboard_double_arrow_left</span>
              </button>
              <button class="nsw-icon-button nsw-date-picker__title-nav-btn js-date-picker__month-nav-btn js-date-picker__month-nav-btn--prev" type="button">
                <span class="material-icons nsw-material-icons">chevron_left</span>
              </button>
            </li>

            <li>
              <button class="nsw-icon-button nsw-date-picker__title-nav-btn js-date-picker__month-nav-btn js-date-picker__month-nav-btn--next" type="button">
                <span class="material-icons nsw-material-icons">chevron_right</span>
              </button>
              <button class="nsw-icon-button nsw-date-picker__title-nav-btn js-date-picker__year-nav-btn js-date-picker__year-nav-btn--next" type="button">
                <span class="material-icons nsw-material-icons">keyboard_double_arrow_right</span>
              </button>
            </li>
          </ul>
        </nav>
      </div>

      <ol class="nsw-date-picker__week">
        <li><div class="nsw-date-picker__day">M<span class="sr-only">onday</span></div></li>
        <li><div class="nsw-date-picker__day">T<span class="sr-only">uesday</span></div></li>
        <li><div class="nsw-date-picker__day">W<span class="sr-only">ednesday</span></div></li>
        <li><div class="nsw-date-picker__day">T<span class="sr-only">hursday</span></div></li>
        <li><div class="nsw-date-picker__day">F<span class="sr-only">riday</span></div></li>
        <li><div class="nsw-date-picker__day">S<span class="sr-only">aturday</span></div></li>
        <li><div class="nsw-date-picker__day">S<span class="sr-only">unday</span></div></li>
      </ol>
    </header>

    <ol class="nsw-date-picker__dates js-date-picker__dates" aria-labelledby="calendar-label-1">
      <!-- days will be created using js -->
    </ol>
  </div>
</div>

<div class="nsw-form">
  <div class="nsw-form__group">
    <fieldset class="nsw-form__date nsw-date-input js-date-input">
      <legend>
        <span class="nsw-form__label">Date of birth</span>
        <span id="form-date-2-helper-text" class="nsw-form__helper">For example 08 12 1990</span>
      </legend>
      <div class="nsw-form__date-wrapper nsw-date-input__wrapper">
        <div class="nsw-form__date-input">
          <label for="form-date-2-day" class="nsw-form__label nsw-form__label--small">Day</label>
          <input type="text" maxlength="2" id="form-date-2-day" name="form-date-2-day" class="nsw-form__input js-date-input__text">
        </div>
        <div class="nsw-form__date-input">
          <label for="form-date-2-month" class="nsw-form__label nsw-form__label--small">Month</label>
          <input type="text" maxlength="2" id="form-date-2-month" name="form-date-2-month" class="nsw-form__input">
        </div>
        <div class="nsw-form__date-input nsw-form__date-input--large">
          <label for="form-date-2-year" class="nsw-form__label nsw-form__label--small">Year</label>
          <input type="text" maxlength="4" id="form-date-2-year" name="form-date-2-year" class="nsw-form__input">
        </div>
        <div class="nsw-date-input__button">
          <button class="nsw-button nsw-button--dark nsw-button--flex js-date-input__trigger" aria-label="Select date using calendar widget" type="button">
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">calendar_today</span>
          </button>
        </div>
      </div>

      <div class="nsw-date-picker js-date-picker" role="dialog" aria-labelledby="calendar-label-1">
        <header class="nsw-date-picker__header">
          <div class="nsw-date-picker__title">
            <span class="nsw-date-picker__title-label js-date-picker__title-label" id="calendar-label-1"></span> <!-- this will contain month label + year -->

            <nav>
              <ul class="nsw-date-picker__title-nav js-date-picker__title-nav">
                <li>
                  <button class="nsw-icon-button nsw-date-picker__title-nav-btn js-date-picker__year-nav-btn js-date-picker__year-nav-btn--prev" type="button">
                    <span class="material-icons nsw-material-icons">keyboard_double_arrow_left</span>
                  </button>
                  <button class="nsw-icon-button nsw-date-picker__title-nav-btn js-date-picker__month-nav-btn js-date-picker__month-nav-btn--prev" type="button">
                    <span class="material-icons nsw-material-icons">chevron_left</span>
                  </button>
                </li>

                <li>
                  <button class="nsw-icon-button nsw-date-picker__title-nav-btn js-date-picker__month-nav-btn js-date-picker__month-nav-btn--next" type="button">
                    <span class="material-icons nsw-material-icons">chevron_right</span>
                  </button>
                  <button class="nsw-icon-button nsw-date-picker__title-nav-btn js-date-picker__year-nav-btn js-date-picker__year-nav-btn--next" type="button">
                    <span class="material-icons nsw-material-icons">keyboard_double_arrow_right</span>
                  </button>
                </li>
              </ul>
            </nav>
          </div>

          <ol class="nsw-date-picker__week">
            <li><div class="nsw-date-picker__day">M<span class="sr-only">onday</span></div></li>
            <li><div class="nsw-date-picker__day">T<span class="sr-only">uesday</span></div></li>
            <li><div class="nsw-date-picker__day">W<span class="sr-only">ednesday</span></div></li>
            <li><div class="nsw-date-picker__day">T<span class="sr-only">hursday</span></div></li>
            <li><div class="nsw-date-picker__day">F<span class="sr-only">riday</span></div></li>
            <li><div class="nsw-date-picker__day">S<span class="sr-only">aturday</span></div></li>
            <li><div class="nsw-date-picker__day">S<span class="sr-only">unday</span></div></li>
          </ol>
        </header>

        <ol class="nsw-date-picker__dates js-date-picker__dates" aria-labelledby="calendar-label-1">
          <!-- days will be created using js -->
        </ol>
      </div>
    </fieldset>
  </div>
</div>
