---
title: Date picker
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p></p>
<p>Use a date picker:</p>
<ul>
  <li>when the user needs to decide a date — like the best date for an appointment</li>
  <li>when the date options are relatively close to the present day</li>
</ul>

<h3>When to avoid</h3>
<p></p>
<p>Don't use a date picker:</p>
<ul>
  <li>when the user needs to select a set date that they know, like their birthday — use date input instead</li>
</ul>

<h2>How this component works</h2>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>
