---
title: Date picker
width: wide
tabs: true
directory: date-picker
intro: 'Use a date picker to let users pick a date from a calendar'
figma: 'URL'
model:
  date-picker: ../../components/date-picker/json/date-picker.json
meta-description: 'Use a date picker to let users pick a date from a calendar'
meta-index: true
---

<h3>Heading</h3>

{{#>_docs-example}}
{{>_date-picker model.date-picker}}
{{/_docs-example}}



