---
title: Date picker
width: narrow
tabs: true
directory: date-picker
intro: 'Use a date picker to let users pick a date from a calendar'
meta-description: 'Use a date picker to let users pick a date from a calendar'
meta-index: true
---

{{#>_docs-example}}
{{>_date-picker single=true id="1"}}
{{/_docs-example}}

<h3>Date ranges and disabled dates</h3>

<p>Allowed date ranges for a date picker can be set by specifying earliest and latest allowed dates. Individual dates can also be disabled.</p>

<p>In this example, a max date of 28 January 2024, a min date of 02 January 2024 has been set and three days in January 2024 have been disabled.</p>

{{#>_docs-example separated=true}}
{{>_date-picker single=true disabled=true id="2"}}
{{/_docs-example}}

<h3>Individual date inputs for day, month and year</h3>

{{#>_docs-example}}
{{>_date-picker multiple=true id="3"}}
{{/_docs-example}}