<!doctype html>
<html lang="en" class="no-js">
<head><script async data-category="analytics" src="https://www.googletagmanager.com/gtag/js?id=G-49T9M12F86"></script>
<script data-category="analytics">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-49T9M12F86');
</script>
  <script data-category="analytics">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P2NKBBJZ');</script>
  
  <title>NSW Digital Design System - Side navigation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://designsystem.nsw.gov.au/nsw-og-image.jpg">
  <meta name="robots" content="noindex" />
  <link rel="icon" href="https://designsystem.nsw.gov.au/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone" rel="stylesheet">
  <link rel="stylesheet" href="https://designsystem.nsw.gov.au/docs/css/docs.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css">
  <!-- Hotjar Tracking Code for NSW Design System -->
  <script data-category="analytics">
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
      h._hjSettings = { hjid: 5063548, hjsv: 6 };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script'); r.async = 1; 
      r.setAttribute('data-category', 'analytics');
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>
  <script src="https://designsystem.nsw.gov.au/cookie-consent-config.js"></script>
</head>

<body><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2NKBBJZ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    

<header class="nsw-header nsw-color-swatches-header">
  <div class="nsw-header__container">
    <div class="nsw-header__inner">
      <div class="nsw-color-swatches js-color-swatches">
        <legend class="nsw-color-swatches__legend" aria-live="polite" aria-atomic="true"><span class="nsw-color-swatches__color js-color-swatches__color">Blue 01</span></legend>
      </div>
    </div>
  </div>
</header>


<section class="nsw-section">
  <div class="nsw-container nsw-p-y-sm nsw-docs__main--menu">
    <div class="nsw-layout">
      <main class="nsw-layout__main">
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-xl-4">
            <div class="nsw-docs__component">
              <nav class="nsw-side-nav js-side-nav" aria-labelledby="sksm726ns">
                <button class="nsw-side-nav__toggle" aria-expanded="false">
                  <span>Agile Methodology</span>
                </button>
                <div class="nsw-side-nav__header" id="sksm726ns">
                  <a href="#">Agile Methodology</a>
                </div>
                <ul class="nsw-side-nav__content">
                  <li>
                    <a href="#">Pre-discovery</a>
                  </li>
                  <li>
                    <a href="#">Discovery</a>
                  </li>
                  <li class="active">
                    <a href="#" class="current" aria-current="page">Alpha</a>
                  </li>
                  <li>
                    <a href="#">Beta</a>
                  </li>
                  <li>
                    <a href="#">Live</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="nsw-col nsw-col-xl-4">
            <div class="nsw-docs__component">
              <nav class="nsw-side-nav js-side-nav" aria-labelledby="sksm7sss26ns">
                <button class="nsw-side-nav__toggle" aria-expanded="false">
                  <span>About DPC</span>
                </button>
                <div class="nsw-side-nav__header" id="sksm7sss26ns">
                  <a href="#">About DPC</a>
                </div>
                <ul class="nsw-side-nav__content">
                  <li>
                    <a href="#">About the Department</a>
                  </li>
                  <li>
                    <a href="#">Careers</a>
                  </li>
                  <li>
                    <a href="#">Accessing DPC information</a>
                  </li>
                  <li>
                    <a href="#">Premier and Cabinet cluster</a>
                  </li>
                  <li class="active">
                    <a href="#">NSW Digital Design System</a>
                    <ul>
                      <li>
                        <a href="">Building a service</a>
                      </li>
                      <li>
                        <a href="" class="current" aria-current="page">Content design</a>
                      </li>
                      <li>
                        <a href="">Using artefacts</a>
                      </li>
                      <li>
                        <a href="">Experimenting</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="nsw-col nsw-col-xl-4">
            <div class="nsw-docs__component">
              <nav class="nsw-side-nav js-side-nav" aria-labelledby="sksm7sss27ns">
                <button class="nsw-side-nav__toggle" aria-expanded="false">
                  <span>Service Design</span>
                </button>
                <div class="nsw-side-nav__header" id="sksm7sss27ns">
                  <a href="#">Service Design</a>
                </div>
                <ul class="nsw-side-nav__content">
                  <li>
                    <a href="#">What is Service Design</a>
                  </li>
                  <li>
                    <a href="#">Service Design methodologies</a>
                  </li>
                  <li class="active">
                    <a href="#">Agile Ways of working</a>
                    <ul>
                      <li>
                        <a href="">Pre-discovery</a>
                      </li>
                      <li>
                        <a href="">Discovery</a>
                      </li>
                      <li class="active">
                        <a href="">Alpha</a>
                        <ul>
                          <li>
                            <a href="">What is Alpha?</a>
                          </li>
                          <li>
                            <a href="">Turning Research into design</a>
                          </li>
                          <li class="active">
                            <a href="" class="current" aria-current="page">Prototyping</a>
                            <ul>
                              <li>
                                <a href="">Low fidelity</a>
                              </li>
                              <li>
                                <a href="">High Fidelity</a>
                              </li>
                              <li>
                                <a href="">Prototyping tools</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="">Beta</a>
                      </li>
                      <li>
                        <a href="">Live</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Team roles</a>
                  </li>
                  <li>
                    <a href="#">Resources</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </main>
      
    </div>
  </div>
</section>

<section class="nsw-section nsw-section--brand-dark nsw-section--invert">
  <div class="nsw-container nsw-p-y-sm nsw-docs__main--menu">
    <div class="nsw-layout">
      <main class="nsw-layout__main">
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-xl-4">
            <div class="nsw-docs__component">
              <nav class="nsw-side-nav js-side-nav" aria-labelledby="sksm726ns">
                <button class="nsw-side-nav__toggle" aria-expanded="false">
                  <span>Agile Methodology</span>
                </button>
                <div class="nsw-side-nav__header" id="sksm726ns">
                  <a href="#">Agile Methodology</a>
                </div>
                <ul class="nsw-side-nav__content">
                  <li>
                    <a href="#">Pre-discovery</a>
                  </li>
                  <li>
                    <a href="#">Discovery</a>
                  </li>
                  <li class="active">
                    <a href="#" class="current" aria-current="page">Alpha</a>
                  </li>
                  <li>
                    <a href="#">Beta</a>
                  </li>
                  <li>
                    <a href="#">Live</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="nsw-col nsw-col-xl-4">
            <div class="nsw-docs__component">
              <nav class="nsw-side-nav js-side-nav" aria-labelledby="sksm7sss26ns">
                <button class="nsw-side-nav__toggle" aria-expanded="false">
                  <span>About DPC</span>
                </button>
                <div class="nsw-side-nav__header" id="sksm7sss26ns">
                  <a href="#">About DPC</a>
                </div>
                <ul class="nsw-side-nav__content">
                  <li>
                    <a href="#">About the Department</a>
                  </li>
                  <li>
                    <a href="#">Careers</a>
                  </li>
                  <li>
                    <a href="#">Accessing DPC information</a>
                  </li>
                  <li>
                    <a href="#">Premier and Cabinet cluster</a>
                  </li>
                  <li class="active">
                    <a href="#">NSW Digital Design System</a>
                    <ul>
                      <li>
                        <a href="">Building a service</a>
                      </li>
                      <li>
                        <a href="" class="current" aria-current="page">Content design</a>
                      </li>
                      <li>
                        <a href="">Using artefacts</a>
                      </li>
                      <li>
                        <a href="">Experimenting</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="nsw-col nsw-col-xl-4">
            <div class="nsw-docs__component">
              <nav class="nsw-side-nav js-side-nav" aria-labelledby="sksm7sss27ns">
                <button class="nsw-side-nav__toggle" aria-expanded="false">
                  <span>Service Design</span>
                </button>
                <div class="nsw-side-nav__header" id="sksm7sss27ns">
                  <a href="#">Service Design</a>
                </div>
                <ul class="nsw-side-nav__content">
                  <li>
                    <a href="#">What is Service Design</a>
                  </li>
                  <li>
                    <a href="#">Service Design methodologies</a>
                  </li>
                  <li class="active">
                    <a href="#">Agile Ways of working</a>
                    <ul>
                      <li>
                        <a href="">Pre-discovery</a>
                      </li>
                      <li>
                        <a href="">Discovery</a>
                      </li>
                      <li class="active">
                        <a href="">Alpha</a>
                        <ul>
                          <li>
                            <a href="">What is Alpha?</a>
                          </li>
                          <li>
                            <a href="">Turning Research into design</a>
                          </li>
                          <li class="active">
                            <a href="" class="current" aria-current="page">Prototyping</a>
                            <ul>
                              <li>
                                <a href="">Low fidelity</a>
                              </li>
                              <li>
                                <a href="">High Fidelity</a>
                              </li>
                              <li>
                                <a href="">Prototyping tools</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="">Beta</a>
                      </li>
                      <li>
                        <a href="">Live</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Team roles</a>
                  </li>
                  <li>
                    <a href="#">Resources</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </main>
      
    </div>
  </div>
</section>
<script src="https://designsystem.nsw.gov.au/docs/js/docs.js"></script>

  <script src="https://designsystem.nsw.gov.au/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
