---
title: Typography
style: true
page: true
width: narrow
---

{{#>_layout-container}}
{{>_typography}}

{{>_media
  class="80"
  video="https://www.youtube.com/embed/HNHu2zRPSB4"
  title="Digital.nsw launch with Victor Dominello MP at NSW Parliament House"
  caption="A long caption, ee mei labores adipiscing, nonumy reprehendunt ex mea umo tota has at, clita bonorum erroribus vis ne."
}}

<p>Nunc ut aliquet dui, at facilisis dolor. Nam vitae rutrum libero. Donec finibus massa vitae velit faucibus mattis. Nunc hendrerit fringilla ullamcorper. Donec scelerisque mauris non cursus malesuada. Vivamus turpis elit, placerat eget purus at, varius rutrum velit. Etiam semper sem vel lacinia accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula mattis tempus.</p>

{{/_layout-container}}
