---
title: Typography
order: 10
width: narrow
directory: typography
core: true
no-blank: true
intro: Documentation and examples for typography, including font, headings, body text, lists, and more.
meta-description: NSW Design System typography styles and examples, including font, headings, body text, lists, and more for NSW Government digital products and services.
meta-index: true
---

<h2>Font</h2>

<p>NSW Government uses Public Sans font for all digital products and services to create a distinct but consistent look and feel. Public Sans is the only font to be used for headings and body copy. It is a free font that is available from <a href="https://fonts.google.com/specimen/Public+Sans" target="_blank" rel="noopener">Google Fonts</a>.</p>

<p>As Public Sans is a custom font it's recommended to use Web Safe Font as a fallback when declaring your font stack. The preferred fallback font for the NSW Design System is Arial.</p>

<p><code>body {font-family: 'Public Sans', Arial, sans-serif;}</code></p>

<h2>Typography styles</h2>

<h3>Headings and paragraphs</h3>
<p>In the NSW Design system there are different standard sizes for the headings for large screens and smaller screens.</p>

<div class="nsw-table nsw-table--valign-top">
  <table>
    <thead>
      <tr>
        <th>Style</th>
        <th>Properties</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <h1>Heading 1</h1>
        </td>
        <td>
          <p>
            <strong>Font size:</strong> 2.25rem (36px) / 3rem (48px)<br/>
            <strong>Line height:</strong> 1.25 (45px) / 1.25 (60px)<br/>
            <strong>Font weight:</strong> 700 (bold)<br/>
            <strong>Margin top:</strong> 4rem (64px)
          </p>

{{#>_docs-code open="true"}}
<h1>Heading 1</h1>
{{/_docs-code}}

{{#>_docs-code open="true"}}
<div class="nsw-h1">Heading 1</div>
{{/_docs-code}}
        </td>
      </tr>
      <tr>
        <td>
          <h2>Heading 2</h2>
        </td>
        <td>
          <p>
            <strong>Font size:</strong> 1.75rem (28px) / 2rem (32px)<br/>
            <strong>Line height:</strong> 1.25 (35px) / 1.25 (40px)<br/>
            <strong>Font weight:</strong> 700 (bold)<br/>
            <strong>Margin top:</strong> 3rem (48px)
          </p>

{{#>_docs-code open="true"}}
<h2>Heading 2</h2>
{{/_docs-code}}

{{#>_docs-code open="true"}}
<div class="nsw-h2">Heading 2</div>
{{/_docs-code}}
        </td>
      </tr>
      <tr>
        <td>
          <h3>Heading 3</h3>
        </td>
        <td>
          <p>
            <strong>Font size:</strong> 1.375rem (22px) / 1.5rem (24px)<br/>
            <strong>Line height:</strong> 1.25 (27.5px) / 1.33 (32px)<br/>
            <strong>Font weight:</strong> 700 (bold)<br/>
            <strong>Margin top:</strong> 2rem (32px)
          </p>

{{#>_docs-code open="true"}}
<h3>Heading 3</h3>
{{/_docs-code}}

{{#>_docs-code open="true"}}
<div class="nsw-h3">Heading 3</div>
{{/_docs-code}}
        </td>
      </tr>
      <tr>
        <td>
          <h4>Heading 4</h4>
        </td>
        <td>
          <p>
            <strong>Font size:</strong> 1.125rem (18px) / 1.25rem (20px)<br/>
            <strong>Line height:</strong> 1.33 (24px) / 1.4 (28px)<br/>
            <strong>Font weight:</strong> 700 (bold)<br/>
            <strong>Margin top:</strong> 1.5rem (24px)
          </p>

{{#>_docs-code open="true"}}
<h4>Heading 4</h4>
{{/_docs-code}}

{{#>_docs-code open="true"}}
<div class="nsw-h4">Heading 4</div>
{{/_docs-code}}
        </td>
      </tr>
      <tr>
        <td>
          <h5>Heading 5</h5>
        </td>
        <td>
          <p>
            <strong>Font size:</strong> 1rem (16px) / 1rem (16px)<br/>
            <strong>Line height:</strong> 1.5 (24px) / 1.5 (24px)<br/>
            <strong>Font weight:</strong> 700 (bold)<br/>
            <strong>Margin top:</strong> 1.5rem (24px)
          </p>

{{#>_docs-code open="true"}}
<h5>Heading 5</h5>
{{/_docs-code}}

{{#>_docs-code open="true"}}
<div class="nsw-h5">Heading 5</div>
{{/_docs-code}}
        </td>
      </tr>
      <tr>
        <td>
          <p class="nsw-intro">Intro text</p>
        </td>
        <td>
          <p>
            <strong>Font size:</strong> 1.125rem (18px) / 1.25rem (20px)<br/>
            <strong>Line height:</strong> 1.33 (24px) / 1.4 (28px)<br/>
            <strong>Font weight:</strong> 400 (regular)<br/>
            <strong>Margin top:</strong> 1rem (16px)
          </p>

{{#>_docs-code open="true"}}
<p class="nsw-intro">Intro text</p>
{{/_docs-code}}
        </td>
      </tr>
      <tr>
        <td>
          <p>Body Text</p>
        </td>
        <td>
          <p>
            <strong>Font size:</strong> 1rem (16px) / 1rem (16px)<br/>
            <strong>Line height:</strong> 1.5 (24px) / 1.5 (24px)<br/>
            <strong>Font weight:</strong> 400 (regular)<br/>
            <strong>Margin top:</strong> 1rem (16px)
          </p>

{{#>_docs-code open="true"}}
<p>Body text</p>
{{/_docs-code}}
        </td>
      </tr>
      <tr>
        <td>
          <p class="nsw-small">Small text</p>
        </td>
        <td>
          <p>
            <strong>Font size:</strong> 0.875rem (14px) / 0.875rem (14px)<br/>
            <strong>Line height:</strong> 1.35 (19px) / 1.35 (19px)<br/>
            <strong>Font weight:</strong> 400 (regular)<br/>
            <strong>Margin top:</strong> 1rem (16px)
          </p>

{{#>_docs-code open="true"}}
<p class="nsw-small">Small text</p>
{{/_docs-code}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h3>Links</h3>
{{#>_docs-example simple="true" separated="true"}}
<p>
  Maecenas at risus ullamcorper odio facilisis <a href="#">ultrices et</a> et metus.
</p>
<p>
  <a class="nsw-link nsw-link--icon" href="#">
    <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">download</span>
    <span>Download PDF schedule</span>
  </a>
</p>
{{/_docs-example}}

<h3 id="blockquote">Blockquote</h3>
{{#>_docs-example simple="true" separated="true"}}
<blockquote>
  “Our upcoming plans for scaling the NSW Design System are addressing friction points our users are facing when delivering digital products and services. Watch this space, there’s more to come.”
  <cite>The Design System Team</cite>
</blockquote>
{{/_docs-example}}

<h3>Unordered list</h3>
{{#>_docs-example simple="true" separated="true"}}
<ul>
  <li>Understanding user needs</li>
  <li>Conducting user interviews</li>
  <li>Empathy Mapping</li>
  <li>Persona creation</li>
  <li>Customer journey mapping</li>
</ul>
{{/_docs-example}}

<h3>Ordered list</h3>
{{#>_docs-example simple="true" separated="true"}}
<ol>
  <li>Pre-discovery</li>
  <li>Discovery</li>
  <li>Alpha</li>
  <li>Beta</li>
  <li>Live</li>
</ol>
{{/_docs-example}}

<h3>Definition list</h3>
{{#>_docs-example simple="true" separated="true"}}
<dl>
  <dt>Website:</dt>
  <dd><a href="https://www.nsw.gov.au" target="_blank">https://www.nsw.gov.au</a></dd>
  <dt>Street Address:</dt>
  <dd>2-24 Rawson Place</dd>
  <dd>Haymarket NSW 2000</dd>
  <dt>Phone:</dt>
  <dd>1300 300 300</dd>
</dl>
{{/_docs-example}}

