---
title: Tables
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Use tables to structure data in rows and columns, so users can scan, sort and compare information.</p>
<p>When creating tables, present content in a simple and logical way for users to understand. For example, order by hierarchy or alphabetically. 
</p>

<h3>Table types</h3>
<p>There are four table variants:</p>
<ul>
  <li>Horizontal lined</li>
  <li>Stripped</li>
  <li>Bordered</li>
  <li>Stripe and Bordered</li>
</ul>
<p>Choose the table variant that best displays your data. All tables scroll horizontally on smaller breakpoints by default and columns widths can be adjusted to best space out the content for greater legibility. </p>

<h3>When to avoid</h3>
<p>Don’t use the tables to layout content on a page, instead use layouts or grids. </p>

<h2>How this component works</h2>
<p><strong>Captions</strong></p>
<p>Use a caption to describe the table's contents. The caption may be displayed at the top or bottom of the table.</p>

<p><strong>Contents</strong></p>
<p>To assist with readability of the table content:</p>
<ul>
  <li>left align with the exception of numerical data, to facilitate easy scanning</li>
  <li>right align numerical data and apply mono-spacing for easier scanning and comparison</li>
  <li>favour wrapping over truncating content. Multiple items starting with the same word may appear the same when truncated.</li>
</ul>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>
  