---
title: Tables
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Use tables to display large data sets that share common attributes to make it easier for users to scan, sort, and compare.</p>
<p>Do:</p>
<ul>
  <li>left align table contents with the exception of numerical data, to facilitate easy scanning</li>
  <li>right align numerical data and apply mono-spacing for easier scanning and comparison</li>
  <li>display content in a way that is meaningful, such as ordering by hierarchy or alphabetically. Organise contents with the most important/relevant from top to bottom or left to right</li>
  <li>use a caption to describe the table's contents. The caption may be displayed at the top if required</li>
  <li>use borders to increase readability of content-dense tables</li>
  <li>favour wrapping over truncating content. Multiple items starting with the same word may appear the same when truncated.</li>
  <li>customise the table width for greater legibility. Tables with sparse, widely separated data are hard to scan and read.</li>
</ul>

<h2>When to avoid</h2>
<p>Don’t use the tables to layout content on a page. You can combine other patterns for displaying your content.</p>

<h2>How this component works</h2>
<p>At smaller breakpoints, the tables scroll horizontally by default.</p>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>
  