.nsw-table {
  &--caption-top {
    caption-side: top;
  }

  &--striped {
    th,
    td {
      border-bottom: 0;
    }

    tbody tr:nth-of-type(even) {
      background-color: var(--nsw-off-white);
    }
  }

  &--bordered {
    th,
    td {
      border: solid 1px var(--nsw-grey-01);
    }
  }
}

.nsw-table {
  @include component-spacing();
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  &:focus {
    @include nsw-focus;
  }

  table {
    margin: 0;
    min-width: rem(600);
  }
}
