---
title: Tables
width: narrow
tabs: true
directory: table
intro: Tables assist users to scan and compare data.
theme: true
figma: https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=21298%3A25085
react: https://digitalnsw.github.io/nsw-design-system-react/?path=/docs/content-table--default
meta-description: Tables assist users to scan and compare data.
meta-index: true
---

<h3>Default</h3>
{{#>_docs-example}}{{>_table}}{{/_docs-example}}

<h3>Striped</h3>
{{#>_docs-example}}{{>_table striped="true"}}{{/_docs-example}}

<h3>Caption Top</h3>
{{#>_docs-example}}{{>_table captionTop="true"}}{{/_docs-example}}

<h3>Bordered</h3>
{{#>_docs-example}}{{>_table bordered="true"}}{{/_docs-example}}

<h3>Stripe and Bordered</h3>
{{#>_docs-example}}{{>_table striped="true" bordered="true"}}{{/_docs-example}}
