.nsw-filters {
  .nsw-layout__sidebar & {
    margin: rem(-8px) 0 rem(-16px) 0;

    @include breakpoint('lg') {
      margin: 0;
    }
  }

  &__title {
    @include font-size('lg');
    font-weight: var(--nsw-font-bold);
    padding: rem(24px) 0;

    @include breakpoint('lg') {
      @include font-size('md');
      margin-top: rem(24px);
    }
  }

  &__controls {
    padding: rem(24px) 0;
    border-bottom: 1px solid var(--nsw-grey-04);

    @include breakpoint('lg') {
      display: none;
    }

    button {
      @include link-button;
      display: flex;
      align-items: center;
      text-decoration: none;
      
      .nsw-section--invert & {    
        color: var(--nsw-white);
      }

      span {
        text-decoration: underline;
        padding-left: rem(8px);
      }
    }

    .nsw-material-icons {
      font-size: rem(map-get($nsw-icon-sizes, 24));
      border-radius: var(--nsw-border-radius);
      padding: rem(1px);
      border: 2px solid var(--nsw-brand-dark);
      text-decoration: none;
      
      .nsw-section--invert & {    
        border-color: var(--nsw-white);
      }
    }

    &.active {
      .nsw-material-icons {
        background-color: var(--nsw-brand-dark);
        color: var(--nsw-text-light);
      
        .nsw-section--invert & {    
          background-color: var(--nsw-white);
          color: var(--nsw-brand-dark);
        }
      }
    }
  }

  &__back {
    @include z-index('upper');
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--nsw-white);
    padding: rem(16px) rem(8px);
    border-bottom: 1px solid var(--nsw-grey-04);

    @include breakpoint('lg') {
      display: none;
    }
  }

  &__wrapper {
    .nsw-filters--fixed & {
      @include z-index('middle');
      display: none;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow-y: auto;
      background-color: var(--nsw-white);
      padding: rem(73px) rem(16px) rem(101px) rem(16px);

      @include breakpoint('lg') {
        display: block;
        position: static;
        background-color: transparent;
        padding: 0;
        overflow-y: visible;
      }
      
      .nsw-section--invert & {    
        color: var(--nsw-text-dark);

        @include breakpoint('lg') {
          color: var(--nsw-text-light);
        }

        .nsw-icon-button {
          @include link-dark;
        }
      }
    }

    .nsw-filters--fixed.nsw-filters--instant & {
      padding-bottom: 0;
    }

    .active & {
      display: block;
    }
  }

  &__item {
    padding: rem(24px) 0;
    border-top: 1px solid var(--nsw-grey-04);
  }

  &__all {
    padding-top: rem(16px);
  }

  &__accept {
    padding: rem(32px) 0;
    border-top: 1px solid var(--nsw-grey-04);

    .nsw-filters--fixed & {
      @include z-index('upper');
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: var(--nsw-white);
      padding: rem(24px) rem(16px);

      @include breakpoint('lg') {
        position: static;
        padding: rem(32px) 0;
        background-color: transparent;
      }
    }
  }

  &__cancel {
    padding-bottom: rem(32px);

    .nsw-filters--fixed & {
      border-top: 1px solid var(--nsw-grey-04);
      padding: rem(32px) 0;

      @include breakpoint('lg') {
        padding-top: 0;
        border: 0;
        background-color: transparent;
      }

      button {
        .nsw-section--invert & {    
          @include link-dark;

          /* stylelint-disable max-nesting-depth */

          @include breakpoint('lg') {
            @include link-light;
          }

          /* stylelint-enable max-nesting-depth */
        }
      }
    }

    .nsw-filters--instant & {
      border-top: 1px solid var(--nsw-grey-04);
      padding: rem(32px) 0;
    }

    button {
      @include link-button;
      
      .nsw-section--invert & {    
        @include link-light;
      }
    }
  }

  &__more,
  &__less {
    @include link-button;
    margin-top: rem(24px);

    @include breakpoint('lg') {
      @include link-light;
    }
  }

  .hidden {
    display: none;
  }
}

.filters-open {
  overflow: hidden;

  @include breakpoint('lg') {
    overflow: unset;
  }
}
