---
title: Filters
page: true
width: menu
model:
  instant: ../../components/filters/json/filters-instant.json
  batch: ../../components/filters/json/filters-batch.json
  all: ../../components/filters/json/filters-all.json
---

{{#>_layout-container}}
<div class="nsw-grid">
  <div class="nsw-col nsw-col-xl-4">
    <div class="nsw-docs__component">
      {{>_filters model.all js='true' uID='_1' right='true'}}
    </div>
  </div>
  <div class="nsw-col nsw-col-xl-4">
    <div class="nsw-docs__component">
      {{>_filters model.all js='true' uID='_2' down='true' active='true'}}
    </div>
  </div>
  <div class="nsw-col nsw-col-xl-4">
    <div class="nsw-docs__component">
      {{>_filters model.all js='true' uID='_3' left='true' accordion='true'}}
    </div>
  </div>
</div>
<div class="nsw-grid">
  <div class="nsw-col nsw-col-xl-4">
    <div class="nsw-docs__component">
      {{>_filters model.all js='true' uID='_4' down='true' accordion='true' active='true'}}
    </div>
  </div>
  <div class="nsw-col nsw-col-xl-4">
    <div class="nsw-docs__component">
      {{>_filters model.all js='true' uID='_5' down='true' accordion='true' active='true'}}
    </div>
  </div>
  <div class="nsw-col nsw-col-xl-4">
    <div class="nsw-docs__component">
      {{>_filters model.all js='true' uID='_6' down='true' accordion='true' active='true'}}
    </div>
  </div>
</div>
{{/_layout-container}}
