---
title: Filters
page: true
width: wide
model:
  options-1: ../../components/filters/json/options-1.json
  options-2: ../../components/filters/json/options-2.json
  options-3: ../../components/filters/json/options-3.json
---

{{#>_layout-container}}

<div class="nsw-grid">
  <div class="nsw-col">
    <h3>Instant filtering</h3>
  </div>
</div>

<div class="nsw-grid">
  <div class="nsw-col nsw-col-xl-4">
    <div class="nsw-docs__component">
      <h4>Visible Open</h4>
      {{>_filters model.options-1 instant='true' unique-id='0'}}
    </div>
  </div>
  <div class="nsw-col nsw-col-xl-4">
    <div class="nsw-docs__component">
      <h4>Visible Collapsed</h4>
      {{>_filters model.options-2 instant='true' collapsed='true' js='true' unique-id='2'}}
    </div>
  </div>
</div>

<div class="nsw-grid">
  <div class="nsw-col nsw-col-xl-4">
    <div class="nsw-docs__component">
      <h4>Down Open (no counter)</h4>
      {{>_filters model.options-2 instant='true' count='false' down='true' js='true' unique-id='1'}}
    </div>
  </div>
  <div class="nsw-col nsw-col-xl-4">
    <div class="nsw-docs__component">
      <h4>Down Collapsed</h4>
      {{>_filters model.options-3 instant='true' down='true' collapsed='true' js='true' unique-id='3'}}
    </div>
  </div>
</div>

<div class="nsw-grid">
  <div class="nsw-col">
    <h3>Batch filtering</h3>
  </div>
</div>

<div class="nsw-grid">
  <div class="nsw-col nsw-col-xl-4">
    <div class="nsw-docs__component">
      <h4>Right Open</h4>
      {{>_filters model.options-2 batch='true' right='true' js='true' unique-id='4'}}
    </div>
  </div>
  <div class="nsw-col nsw-col-xl-4">
    <div class="nsw-docs__component">
      <h4>Right Collapsed</h4>
      {{>_filters model.options-3 batch='true' right='true' collapsed='true' js='true' unique-id='5'}}
    </div>
  </div>
</div>

<div class="nsw-grid">
  <div class="nsw-col nsw-col-xl-4">
    <h4>Down Collapsed (no counter)</h4>
    <div class="nsw-docs__component">
      {{>_filters model.options-2 batch='true' count='false' down='true' js='true' unique-id='8'}}
    </div>
  </div>
  <div class="nsw-col nsw-col-xl-4">
    <h4>Down Collapsed</h4>
    <div class="nsw-docs__component">
      {{>_filters model.options-3 batch='true' down='true' collapsed='true' js='true' unique-id='9'}}
    </div>
  </div>
</div>
{{/_layout-container}}
