---
title: Filters
page: true
width: menu
model:
  instant: ../../components/filters/json/filters-instant.json
  batch: ../../components/filters/json/filters-batch.json
  all: ../../components/filters/json/filters-all.json
---

{{#>_layout-container}}
<div class="nsw-grid">
  <div class="nsw-col nsw-col-xl-4">
    <h3>Instant Visible Open</h3>
    <div class="nsw-docs__component">
      {{>_filters model.instant instant='true' uID='_0'}}
    </div>
  </div>
  <div class="nsw-col nsw-col-xl-4">
    <h3>Instant Down Open</h3>
    <div class="nsw-docs__component">
      {{>_filters model.instant instant='true' uID='_1' down='true'}}
    </div>
  </div>
  <div class="nsw-col nsw-col-xl-4">
    <h3>Instant Visible Collapsed</h3>
    <div class="nsw-docs__component">
      {{>_filters model.batch instant='true' uID='_2' accordion='true'}}
    </div>
  </div>
</div>
<div class="nsw-grid">
  <div class="nsw-col nsw-col-xl-4">
    <h3>Instant Down Collapsed</h3>
    <div class="nsw-docs__component">
      {{>_filters model.all instant='true' uID='_3' down='true' accordion='true' active='true'}}
    </div>
  </div>
  <div class="nsw-col nsw-col-xl-4">
    <h3>Batch Right Open</h3>
    <div class="nsw-docs__component">
      {{>_filters model.batch js='true' uID='_4' right='true'}}
    </div>
  </div>
  <div class="nsw-col nsw-col-xl-4">
    <h3>Batch Right Collapsed</h3>
    <div class="nsw-docs__component">
      {{>_filters model.all js='true' uID='_5' right='true' accordion='true' active='true'}}
    </div>
  </div>
</div>
<div class="nsw-grid">
  <div class="nsw-col nsw-col-xl-4">
    <h3>Batch Left Collapsed</h3>
    <div class="nsw-docs__component">
      {{>_filters model.all js='true' uID='_6' left='true' accordion='true' active='true'}}
    </div>
  </div>
  <div class="nsw-col nsw-col-xl-4">
    <h3>Batch Down Collapsed</h3>
    <div class="nsw-docs__component">
      {{>_filters model.all js='true' uID='_7' down='true' accordion='true' active='true'}}
    </div>
  </div>
</div>
{{/_layout-container}}
