---
title: Filters
width: menu
tabs: true
directory: filters
intro: Filters allows a user to narrow down results using multiple attributes.
figma: https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=21298%3A24466
model:
  instant: ../../components/filters/json/filters-instant.json
  batch: ../../components/filters/json/filters-batch.json
  all: ../../components/filters/json/filters-all.json
meta-description: Filters allows a user to narrow down results using multiple attributes.
meta-index: true
---

<h3>Instant filtering</h3>
{{#>_docs-example}}{{>_filters model.instant instant='true' uID='_1'}}{{/_docs-example}}

<h3>Instant filtering (with accordion)</h3>
{{#>_docs-example}}{{>_filters model.all instant='true' uID='_1' accordion='true' active='true'}}{{/_docs-example}}

<h3>Instant filtering (with compact mobile implementation)</h3>
{{#>_docs-example}}{{>_filters model.instant instant='true' uID='_2' down='true'}}{{/_docs-example}}

<h3>Instant filtering (with compact mobile implementation and accordion)</h3>
{{#>_docs-example}}{{>_filters model.all instant='true' uID='_2' down='true' accordion='true'}}{{/_docs-example}}

<h3>Batch filtering (with compact mobile implementation)</h3>
{{#>_docs-example}}{{>_filters model.batch js='true' uID='_1' right='true'}}{{/_docs-example}}

<h3>Batch filtering (with expanding multiselect, compact mobile implementation and accordion)</h3>
{{#>_docs-example}}{{>_filters model.all js='true' uID='_1' right='true' accordion='true' active='true'}}{{/_docs-example}}
