---
title: Filters
width: menu
tabs: true
directory: filters
intro: Filters intro
model:
  instant: ../../components/filters/json/filters-instant.json
  batch: ../../components/filters/json/filters-batch.json
  all: ../../components/filters/json/filters-all.json
---

<h3>Default</h3>
{{#>_docs-example}}{{>_filters model.instant}}{{/_docs-example}}

<h3>Batch filtering (with compact mobile implementation)</h3>
{{#>_docs-example}}{{>_filters model.batch}}{{/_docs-example}}

<h3>Batch filtering (with expanding multiselect and compact mobile implementation)</h3>
{{#>_docs-example}}{{>_filters model.all}}{{/_docs-example}}
