---
title: Filters
width: menu
model:
  default: ../../components/filters/json/filters.json
  expanding: ../../components/filters/json/filters-expanding.json
  all: ../../components/filters/json/filters-all.json
---

<h3>Default</h3>
{{#>_docs-example}}{{>_filters model.default}}{{/_docs-example}}

<h3>Expanding multiselect with compact mobile implementation</h3>
{{#>_docs-example}}{{>_filters model.expanding}}{{/_docs-example}}

<h3>All filters with instant filtering</h3>
{{#>_docs-example}}{{>_filters model.all}}{{/_docs-example}}
