---
title: Filters
page: true
width: menu
model:
  instant: ../../components/filters/json/filters-instant.json
---

{{#>_layout-container}}
<div class="nsw-grid">
  <div class="nsw-col nsw-col-xl-4">
    <div class="nsw-docs__component">
      {{>_filters model.instant instant='true' uID='_1'}}
    </div>
  </div>
  <div class="nsw-col nsw-col-xl-4">
    <div class="nsw-docs__component">
      {{>_filters model.instant instant='true' uID='_2' down='true' active='true'}}
    </div>
  </div>
  <div class="nsw-col nsw-col-xl-4">
    <div class="nsw-docs__component">
      {{>_filters model.instant instant='true' uID='_3' accordion='true'}}
    </div>
  </div>
</div>
<div class="nsw-grid">
  <div class="nsw-col nsw-col-xl-4">
    <div class="nsw-docs__component">
      {{>_filters model.instant instant='true' uID='_4' down='true' accordion='true' active='true'}}
    </div>
  </div>
</div>
{{/_layout-container}}
