---
title: Filters
page: true
width: wide
model:
  options-1: ../../components/filters/json/options-1.json
  options-2: ../../components/filters/json/options-2.json
  options-3: ../../components/filters/json/options-3.json
---

{{#>_layout-container}}
<div class="nsw-row">
  <div class="nsw-col nsw-col-xl-4">
    <div class="nsw-docs__component">
      {{>_filters model.options-2 multiple='true' batch='true' down='true' js='true' filters-id='7'}}
    </div>
  </div>
  <div class="nsw-col nsw-col-xl-4">
    <div class="nsw-docs__component">
      {{>_filters model.options-3 multiple='true' batch='true' down='true' collapsed='true' js='true' filters-id='8'}}
    </div>
  </div>
</div>
{{/_layout-container}}
