.nsw-breadcrumbs {
  @include font-size('xs');
  margin-top: rem(24px);

  ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  li:not(:first-child):not(:last-child):not(:nth-last-child(2)) {
    display: none;

    @include breakpoint('md') {
      display: inline-block;
    }
  }

  li {
    display: inline-block;

    &:first-child {
      &::before {
        display: none;
      }
    }

    &::before {
      @include material-icons;
      content: 'keyboard_arrow_right';
      font-size: rem(map-get($nsw-icon-sizes, 20));
      line-height: rem(8px);
      display: inline-block;
      position: relative;
      top: rem(6px);
    }
  }

  .nsw-breadcrumbs__show-all {
    li:not(:first-child):not(:last-child):not(:nth-last-child(2)) {
      display: inline-block;
    }
  }
  
  a {
    font-weight: var(--nsw-font-normal);
    padding: rem(2px) 0;

    &.current {
      text-decoration: none;
      pointer-events: none;
      color: var(--nsw-text-dark);

      .nsw-section--invert & {
        color: var(--nsw-text-light);
      }
    }
  }
}

@supports (content: 'x' / 'y') {
  .nsw-breadcrumbs {
    li {
      &::before {
        content: 'keyboard_arrow_right' / '';
      }
    }
  }
}

@media speech {
  .nsw-breadcrumbs {
    li {
      &::before {
        display: none;
        visibility: hidden;
      }
    }
  }
}
