<nav aria-label="{{label}}" class="nsw-breadcrumbs">
  <ol>
    {{#each items}}
    <li>
      <a href="{{url}}"{{#if @last}} class="current" aria-current="page"{{/if}}>{{text}}</a>
    </li>
    {{/each}}
  </ol>
</nav>
