@use 'sass:map';
@use '../../global/scss/base/functions' as functions;
@use '../../global/scss/base/mixins' as mixins;
@use '../../global/scss/settings/settings' as settings;

.nsw-breadcrumbs {
  margin-top: functions.rem(24px);

  @include mixins.font-size('xs');

  ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  li:not(:first-child):not(:last-child):not(:nth-last-child(2)):not(.nsw-breadcrumbs__show-more-toggle) {
    display: none;

    @include mixins.breakpoint('md') {
      display: inline-block;
    }
  }

  li {
    display: inline-block;

    &:first-child {
      &::before {
        display: none;
      }
    }

    &::before {
      content: 'keyboard_arrow_right';
      font-size: functions.rem(map.get(settings.$nsw-icon-sizes, 20));
      line-height: functions.rem(8px);
      display: inline-block;
      position: relative;
      top: functions.rem(6px);

      @include mixins.material-icons;
    }
  }

  .nsw-breadcrumbs__show-more-toggle {
    @include mixins.breakpoint('md') {
      display: none;
    }

    .nsw-breadcrumbs__toggle-button {
      font-size: var(--nsw-font-size-xs);
      font-weight: var(--nsw-font-normal);
      color: var(--nsw-text-dark);
      text-decoration: none;
      padding: 0 functions.rem(4px);
      margin-left: 4px;
      line-height: 24px;
      height: 100%;
      cursor: pointer;
 
      @include mixins.link-button;

      .nsw-section--invert & {
        color: var(--nsw-text-light);
        
        @include mixins.link-light;
      }
    }
  }

  .nsw-breadcrumbs__show-all {
    li:not(:first-child):not(:last-child):not(:nth-last-child(2)):not(.nsw-breadcrumbs__show-more-toggle) {
      display: inline-block;
    }

    .nsw-breadcrumbs__show-more-toggle {
      display: none;
    }
  }
  
  a {
    display: inline-block;
    line-height: 24px;
    font-weight: var(--nsw-font-normal);

    &.current {
      text-decoration: none;
      pointer-events: none;
      color: var(--nsw-text-dark);

      .nsw-section--invert & {
        color: var(--nsw-text-light);
      }
    }
  }
}

@supports (content: 'x' / 'y') {
  .nsw-breadcrumbs {
    li {
      &::before {
        content: 'keyboard_arrow_right' / '';
      }
    }
  }
}

@media speech {
  .nsw-breadcrumbs {
    li {
      &::before {
        display: none;
        visibility: hidden;
      }
    }
  }
}
