.nsw-breadcrumbs {
  @include font-size('xs');
  margin-top: rem(24px);

  ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  li {
    display: inline;

    &:first-child {
      &::before {
        display: none;
      }
    }

    &:nth-child(2) {
      &::before {
        display: inline-block;

        @include breakpoint('md') {
          display: none;
        }
      }
    }

    .nsw-breadcrumbs__toggle {
      display: none;
    }

    .nsw-breadcrumbs__ellipsis {
      cursor: pointer;
      display: inline-block;

      @include breakpoint('md') {
        display: none;
      }
    }

    .nsw-breadcrumbs__toggle:checked + .nsw-breadcrumbs__ellipsis {
      display: none;
    }

    &*:not(:first-child):not(:last-child):not(:nth-last-child(2)):not(.nsw-breadcrumbs__show-more) {
      display: none;

      @include breakpoint('md') {
        display: inline-block;
      }
    }
  }

  .nsw-breadcrumbs__toggle:checked ~ li {
    display: inline-block;
    background: var(--nsw-text-dark);
  }
  
  li {
    &::before {
      @include material-icons;
      content: 'keyboard_arrow_right';
      font-size: rem(map-get($nsw-icon-sizes, 20));
      line-height: rem(8px);
      display: inline-block;
      position: relative;
      top: rem(6px);
    }
  }
  
  a {
    font-weight: var(--nsw-font-normal);

    &.current {
      text-decoration: none;
      pointer-events: none;
      color: var(--nsw-text-dark);

      .nsw-section--invert & {
        color: var(--nsw-text-light);
      }
    }
  }
}

@supports (content: 'x' / 'y') {
  .nsw-breadcrumbs {
    li {
      &::before {
        content: 'keyboard_arrow_right' / '';
      }
    }
  }
}

@media speech {
  .nsw-breadcrumbs {
    li {
      &::before {
        display: none;
        visibility: hidden;
      }
    }
  }
}
