<nav aria-label="{{label}}" class="nsw-breadcrumbs">
  <ol>
    {{#each items}}
    <li>
      <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_right</span>
      <a href="{{url}}"{{#if @last}} class="current" aria-current="page"{{/if}}>{{text}}</a>
    </li>
    {{/each}}
  </ol>
</nav>
