---
title: Breadcrumbs
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Use the breadcrumbs component when you need to help users understand and move between the multiple levels of a website.</p>
<p>Do:</p>
<ul>
	<li>display in the top left of the main content area above the page title</li>
	<li>reflect the names of the parent-level pages ensuring you use the same labels and casing as the main IA</li>
</ul>

<p><strong>Parent page</strong><br>Starts with the "Home" page and links users to parent-level pages in the IA.</p>
<p><strong>Icon</strong><br>The chevrons between the names shows the visual hierarchy between pages.</p>
<p><strong>Current page</strong><br>Indicates the current page the user is viewing.</p>
<p><strong>Ellipsis</strong><br>Displays when there are more than three breadcrumb items (including "Home") on mobile, letting users tap to reveal the full breadcrumb path.</p>

<h3>When to avoid</h3>
<p>Do not use the breadcrumbs component on websites with a flat structure, or to show progress through a linear journey or transaction.</p>
<p>Breadcrumb navigation should be regarded as an extra feature and shouldn't replace effective primary navigation menus.</p>
<p>If you're using other navigational elements on the page, such as a sidebar, consider whether your users need the additional support of breadcrumbs.</p>

<h3>Mobile behaviour (under 768px)</h3>
<p>When the breadcrumb contains more than three items (including "Home"), the component shows only "Home", the immediate parent page, and the current page. The rest of the trail is hidden behind an interactive ellipsis, which can be selected to reveal the full breadcrumb links. If there are three or fewer items, the full breadcrumb trail is shown with no ellipsis.</p>

<h2>Accessibility</h2>
<p>All components are responsive and designed to comply with WCAG 2.2 AA accessibility standards. Full compliance depends on using and configuring the components correctly.</p>