---
title: Breadcrumbs
model: json/breadcrumbs.json
guidance: https://digitalnsw.github.io/nsw-design-system-docs/components/breadcrumbs/index.html
---

<div class="nsw-docs-example nsw-docs-example--narrow">
  <div class="nsw-docs-component">
		{{>_breadcrumbs model}}
  </div>
</div>
{{#> _docs-code }}{{>_breadcrumbs model}}{{/ _docs-code }}