<nav class="nsw-skipto nsw-container" aria-label="Skip to links">
  <a class="nsw-skipto__link" href="#nav"><span>Skip to navigation</span></a>
  <a class="nsw-skipto__link" href="#content"><span>Skip to content</span></a>
</nav>
<div class="nsw-infobar">
  <div class="nsw-container">
    <p>A NSW Government website</p>
  </div>
</div>
<header class="nsw-header">
  <div class="nsw-header__container">
    <div class="nsw-header__wrapper">
      <div class="nsw-header__center">
        <a href="#" class="nsw-header__logo-link">
          <svg class="nsw-icon nsw-header__logo" focusable="false" aria-hidden="true">
            <use xlink:href="#dpc-logo"></use>
          </svg>
          <span class="sr-only">NSW Department of Premier and Cabinet</span>
        </a>
      </div>
      <div class="nsw-header__left">
        <button type="button" class="nsw-header-btn nsw-header-btn--menu js-open-navigation" aria-expanded="false"
          aria-controls="main-navigation">
          <svg class="nsw-icon nsw-header-btn__icon" focusable="false" aria-hidden="true">
            <use xlink:href="#menu"></use>
            <span class="nsw-header-btn__sub"><span class="sr-only">Open</span> Menu</span>
          </svg>
        </button>
      </div>
      <div class="nsw-header__right">
        <button type="button" class="nsw-header-btn nsw-header-btn--search js-open-search" aria-expanded="false"
          aria-controls="header-search">
          <svg class="nsw-icon nsw-header-btn__icon" focusable="false" aria-hidden="true">
            <use xlink:href="#search"></use>
          </svg>
          <span class="nsw-header-btn__sub"><span class="sr-only">Show</span> Search</span>
        </button>
      </div>
    </div>
    <div class="nsw-search">
      <div id="header-search" class="nsw-search__area js-search-area" hidden>
        <form role="search">
          <label for="nsw-search__input" class="sr-only">Search site for:</label>
          <input autocomplete="off" class="nsw-search__input js-search-input" id="nsw-search__input"
            name="input-autocomplete" type="text">
          <svg class="nsw-icon nsw-search__search-icon" focusable="false" aria-hidden="true">
            <use xlink:href="#search"></use>
          </svg>
        </form>
        <button class="nsw-search__close-btn js-close-search" aria-expanded="true" aria-controls="header-search">
          <svg class="nsw-icon nsw-search__close-icon" focusable="false" aria-hidden="true">
            <use xlink:href="#close"></use>
          </svg>
          <span class="sr-only">Close search</span>
        </button>
      </div>
    </div>
  </div>
</header>
