---
title: Tooltip
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p></p>


<h3>When to avoid</h3>
<p>Do not:</p>
<ul>
  <li></li>
</ul>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>
