---
title: Tooltip
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Use tooltips on inline text elements that appear in the main content of the page to:</p>
<ul>
  <li>provide more context or brief explanations for technical or industry-specific terms</li>
  <li>describe acronyms or abbreviations</li>
</ul>

<h3>When to avoid</h3>
<p>Tooltips should only provide concise additional information for inline text elements. Do not use tooltips for:</p>

<ul>
  <li>displaying vital information</li>
  <li>non-text elements such as icons, images, buttons or form fields</li>
</ul>

<h3>Types of tooltips</h3>

<p>There are two types of tooltips based on their purpose.</p>

<h3>Default:</h3>

<ul>
  <li>displayed on hover or focus</li>
  <li>should be used for text only content</li>
</ul>

<h4>Toggle-tip:</h4>

<ul>
  <li>displayed on click</li>
  <li>should be used when links are included in the content.</li>
</ul>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>
