<p>In the quiet desperation of the third day, Santiago battles <span aria-controls="toggletip-example-{{id}}" class="nsw-toggletip js-toggletip" data-title="A majestic fish symbolising pride, endurance, and loss">the marlin</span>, tied to his skiff and spirit. As exhaustion deepens, the struggle becomes not just physical, but spiritual — a reflection on pride, endurance, and the quiet dignity of effort. Some stories hold truths not in their facts, but in their silences — in what remains unspoken between man, sea, and sky.</p>

<div id="toggletip-example-{{id}}" class="nsw-toggletip__element{{#if dark-toggletip}} nsw-toggletip__element--dark{{/if}}{{#if light-toggletip}} nsw-toggletip__element--light{{/if}}">
  <p>The marlin embodies Santiago's greatest struggle, blending themes of isolation, respect, and the dignity of effort.</p>
</div>