<h3>How do antivirals for COVID-19 work?</h3>
<p>Antiviral medicines target the virus (<span aria-controls="toggletip-example" class="nsw-toggletip js-toggletip" data-title="SARS-CoV-2">SARS-CoV-2</span>) that causes COVID-19 to prevent it infecting healthy cells in your body and multiplying. This helps stop the spread of the virus inside your body and helps your immune system to fight off the infection.</p>

<div id="toggletip-example" class="nsw-toggletip__element nsw-section--invert">
  <p>SARS-CoV-2 is a single-stranded RNA betacoronavirus in the same subgenus as the severe acute respiratory syndrome (SARS) virus.</p>
  <p><a href="https://www.health.gov.au/our-work/covid-19-vaccines/advice-for-providers/clinical-guidance/clinical-features">Learn more</a></p>
</div>