<p>Apparently we had reached a <span class="nsw-tooltip js-tooltip" title="Lorem ipsum dolor sit"{{#if dark-tooltip}} data-theme="dark"{{/if}}{{#if light-tooltip}} data-theme="light"{{/if}}>great height</span> in the atmosphere, for the sky was a dead black, and <span class="nsw-tooltip js-tooltip" title="Lorem ipsum dolor sit."{{#if dark-tooltip}} data-theme="dark"{{/if}}{{#if light-tooltip}} data-theme="light"{{/if}}>the stars</span> had ceased to twinkle. By the <span class="nsw-tooltip js-tooltip" title="Lorem ipsum dolor, sit amet consectetur adipisicing"{{#if dark-tooltip}} data-theme="dark"{{/if}}{{#if light-tooltip}} data-theme="light"{{/if}}>same illusion</span> which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver. Looking down into the dark gulf below, I could see a <span class="nsw-tooltip js-tooltip" title="Lorem ipsum dolor"{{#if dark-tooltip}} data-theme="dark"{{/if}}{{#if light-tooltip}} data-theme="light"{{/if}}>ruddy light</span> streaming through a rift in the clouds.</p>

<p>By reducing how severe the illness is, you are less likely to:</p>

<ul>
  <li>go to hospital</li>
  <li>develop breathing difficulties</li>
  <li>need assistance with oxygen or intensive care treatment, or</li>
  <li>die from <span class="nsw-tooltip js-tooltip" title="Coronavirus Disease 2019"{{#if dark-tooltip}} data-theme="dark"{{/if}}{{#if light-tooltip}} data-theme="light"{{/if}}>COVID-19</span>.</li>
</ul>