.nsw-tooltip-trigger {
  white-space: nowrap;
  border-bottom: 1px dotted var(--nsw-text-dark);
  cursor: help;
}

.nsw-tooltip,
.nsw-toggletip {
  box-sizing: border-box;
  display: none;
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  max-inline-size: 250px;
  padding: rem(16px);
  background-color: var(--nsw-grey-02);
  border-radius: var(--nsw-border-radius);
  box-shadow: var(--nsw-box-shadow);
  color: var(--nsw-white);
  line-height: var(--nsw-line-height-md-desktop);

  @include z-index('upper');
  @include font-size('xs');

  &__arrow {
    position: absolute;
    background-color: var(--nsw-grey-02);
    width: rem(8px);
    height: rem(8px);
    transform: rotate(45deg);
  }

  &.active {
    display: block;
  }
}

.nsw-toggletip {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      margin: 0 rem(16px);
    }

    .nsw-icon-button {
      margin: rem(8px);

      .nsw-material-icons {
        font-size: var(--nsw-font-size-sm-mobile);
    
        @include breakpoint('lg') {
          font-size: var(--nsw-font-size-sm-desktop);
        }
      }
    }
  }

  &__content {
    padding: 0 rem(16px) rem(16px);

    &:first-child {
      margin-top: 0;
    }
  }
}
