.nsw-callout {
  @include nsw-spacing(padding, md);
  @include nsw-spacing(margin-top, md);
  background: $light40;
  position: relative;
  border-left: solid 6px $nsw-primary-blue;

  @include breakpoint('md') {
    @include nsw-spacing(padding, lg lg lg md);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__icon {
    width: rem(24px);
    height: rem(24px);

    + .nsw-callout__content {
      @include nsw-spacing(margin-top, md);
    }

    @include breakpoint('md') {
      @include nsw-spacing(margin-right, md);
      flex: 0 0 auto;
      width: rem(32px);
      height: rem(32px);

      + .nsw-callout__content {
        @include nsw-spacing(margin-top, none);
      }
    }
  }

  &__content {
    @include font-stack;

    @include breakpoint('md') {
      @include nsw-spacing(margin-top, none);
    }

    p {
      @include nsw-spacing(margin, sm none none none);
    }

    .nsw-text-link {
      @include nsw-spacing(margin-top, sm);
    }
  }

  &__title {
    @include font-stack('heading');
    @include font-size('md');
    margin: 0;
  }
}
