@use '../../global/scss/base/functions' as functions;
@use '../../global/scss/base/mixins' as mixins;

.nsw-callout {
  padding: functions.rem(16px);
  border-left: solid 4px var(--nsw-brand-dark);
  
  @include mixins.component-spacing();
      
  .nsw-section--invert & {    
    border-color: var(--nsw-brand-light);
  }
}
