---
title: Callout
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Callouts are text excerpts, used as a visual cue to draw attention to content. </p>
<p>Use callouts to: </p>
<ul>
  <li>call attention to important pieces of information</li>
  <li>supplement a point in the main text</li>
  <li>supply information that applies in special cases</li>
  <li>link to a relevant resource </li>
</ul>

<h3>When to avoid</h3>
<p>Callouts should be used sparingly to maintain effectiveness, consider weaving the information into the introduction or as part of the instructions you're creating.</p>
<p>Do not:</p>
<ul>
  <li>add multiple callout boxes to a topic. This dilutes the importance of the callout and distracts the user.</li>
  <li>create a callout with content that is not relevant to the user as your reader might then ignore future callouts.</li>
</ul>

<h2>How this component works</h2>
<p>Callouts can contain an icon, a title and a message. Callouts should be short, easy to scan, informative and clear.</p>

<h2>Accessibility</h2>
<p>All components are responsive and designed to comply with WCAG 2.2 AA accessibility standards, except where compliance is achieved through correct usage and configuration.</p>