---
title: Callout
width: narrow
model:
  default: json/callout.json
  all: json/callout-all.json
page: true
---
{{#>_layout-container}}
<h3>Default</h3>
{{>_callout model.default}}

<h3>All options</h3>
{{>_callout model.all}}
{{/_layout-container}}
