---
title: Callout
width: narrow
guidance: https://digitalnsw.github.io/nsw-design-system-docs/components/callout/index.html
model:
  default: json/callout.json
  all: json/callout-all.json
---

<h3>Default</h3>
{{>_callout model.default}}

<h3>All options</h3>
{{>_callout model.all}}
