---
title: Callout
model:
  default: callout.json
  all: callout-all.json
---
<div class="nsw-container">
  {{>_callout model.default}}
</div>

<div class="nsw-container">
  {{>_callout model.all}}
</div>
