---
title: Callout
model:
  default: json/callout.json
  all: json/callout-all.json
---
<div class="nsw-container">
  {{>_callout model.default}}
</div>

<div class="nsw-container">
  {{>_callout model.all}}
</div>
