---
title: Callout
model:
  default: json/callout.json
  all: json/callout-all.json
  button: json/callout-button.json
---

<main>
  <div class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid">
          	<div class="nsw-row">
            	<div class="nsw-col nsw-col-lg-8 nsw-offset-lg-2">
	  						{{>_callout model.default}}
	  					</div>
	  				</div>
            <div class="nsw-row">
              <div class="nsw-col nsw-col-lg-8 nsw-offset-lg-2">
                {{>_callout model.all}}
              </div>
            </div>
            <div class="nsw-row">
              <div class="nsw-col nsw-col-lg-8 nsw-offset-lg-2">
                {{>_callout model.button}}
              </div>
            </div>
	  				</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
