---
title: Callout
model:
  default: json/callout.json
  all: json/callout-all.json
guidance: https://digitalnsw.github.io/nsw-design-system-docs/components/accordion/index.html
---

<h3>Default</h3>
<div class="nsw-docs-example nsw-docs-example--narrow">
  <div class="nsw-docs-component">
    {{>_callout model.default}}
  </div>
</div>
{{#> _docs-code }}{{>_callout model.default}}{{/ _docs-code }}

<h3>All options</h3>
<div class="nsw-docs-example nsw-docs-example--narrow">
  <div class="nsw-docs-component">
    {{>_callout model.all}}
  </div>
</div>
{{#> _docs-code }}{{>_callout model.all}}{{/ _docs-code }}