---
title: Callout
width: narrow
guidance: https://digitalnsw.github.io/nsw-design-system-docs/components/callout/index.html
model:
  default: json/callout.json
  all: json/callout-all.json
---

<h3>Default</h3>
{{#>_docs-example}}{{>_callout model.default}}{{/_docs-example}}

<h3>All options</h3>
{{#>_docs-example}}{{>_callout model.all}}{{/_docs-example}}