//Variations
$nsw-in-page-notes: (
  info: (
    border: var(--nsw-status-info),
    background: var(--nsw-status-info-bg),
    fill: var(--nsw-status-info),
  ),
  success: (
    border: var(--nsw-status-success),
    background: var(--nsw-status-success-bg),
    fill: var(--nsw-status-success),
  ),
  warning: (
    border: var(--nsw-status-warning),
    background: var(--nsw-status-warning-bg),
    fill: var(--nsw-status-warning),
  ),
  error: (
    border: var(--nsw-status-error),
    background: var(--nsw-status-error-bg),
    fill: var(--nsw-status-error),
  ),
);

.nsw-in-page-note {
  @include component-spacing();
  padding: rem(16px);
  position: relative;
  border-left: solid 6px var(--nsw-brand-accent);
  background-color: var(--nsw-grey-04);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  @include breakpoint('md') {
    padding: rem(24px) rem(24px) rem(24px) rem(16px);
  }

  &__icon {
    font-size: rem(map-get($nsw-icon-sizes, 36));
    margin-right: rem(16px);
  }

  @each $color, $variant in $nsw-in-page-notes {
    &--#{"" + $color} {
      background-color: map-get($variant, background);
      border-color: map-get($variant, border);

      .nsw-in-page-note__icon {
        color: map-get($variant, fill);
      }
    }
  }
}
