<div class="nsw-in-page-note{{#if type}} nsw-in-page-note--{{type}}{{/if}}">
  {{#if icon}}<i class="material-icons nsw-material-icons nsw-in-page-note__icon" focusable="false" aria-hidden="true">{{icon}}</i>{{/if}}
  <div class="nsw-in-page-note__content">
    <h4>{{heading}}</h4>
    <p>{{{copy}}}</p>
  </div>
</div>
