---
title: Graphic elements
order: 70
no-blank: true
directory: graphic elements
intro: Injections of the distinctly NSW visual identity.
---


<p>Graphic elements are part of our visual language that create a consistent user expirence. Like other styles, these are a core part of our brand and should not be altered.</p>

<h2>Logo positioning</h2>
<p>The logo is positioned in the top left corner to serve as a consistent anchor for users to identify the service or product they are viewing and it’s connection to NSW Government. </p> 

<p>This can be achieved using the Header component for Masterbrand or Co-brand.  </p>
  
<h2>Border radius</h2>
<p>A 4px border radius is applied on clickable containers and inputs, ie:</p>
<ul>
    <li>Cards</li>
    <li>Buttons</li>
    <li>Form fields</li>
    <li>Checkboxes</li>
</ul>

<h2>Drop shadow</h2>
<p>Drop shadows are used to indicate layering in the interface, ie:</p>
<ul>
    <li>Mega menu navigation</li>
    <li>Predictive list</li>
</ul>

<h2>The "Line System"</h2>
<p>The Line system employs Hairlines, Bands and Stripes to:</p>
<ul>
    <li>aid information hierarchy</li>
    <li>support navigational structure</li>
    <li>segment sections of content</li>
    <li>create illustrations</li>
</ul>

<p>The Highlight bar found in various components is an example the of a consistent approach to implementing the line system to aid hierarchy and navigation in digital. </p>

<p><a href="../section/index.html">Sections</a> and banners can also be used to apply the line system to segment content. </p>


