<form role="search" class="nsw-search-bar">
  <div class="nsw-search-bar__input">
    <label for="search-input" class="sr-only">Search input</label>
    <input type="text" id="search-input" name="search-input" class="nsw-form-input" value="{{value}}">
    <input type="submit" class="nsw-button nsw-button--primary" value="{{title}}">
  </div>{{#if predictive}}
  <ul class="nsw-search-bar__list">
    <li><a href="#"><span>Tran</span>sport</a></li>
    <li><a href="#">Road <span>Tran</span>sport</a></li>
    <li><a href="#">Public <span>Tran</span>sport</a></li>
  </ul>{{/if}}
</form>
