.nsw-search-bar {
  margin: rem(24px) 0;
  position: relative;

  @include breakpoint('lg') {
    margin: rem(48px) 0;
  }

  &__input {
    position: relative;
  }

  &__list {
    @include border-radius;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: $white;
    box-shadow: map-get($shadows, card);
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: rem(50px);
    right: 0;
    left: 0;
    z-index: 1;

    li {
      padding: rem(10px);
      margin: 0;
    }

    a:not([class]) {
      color: $dark80;

      span {
        font-weight: bolder;
      }
    }
  }

  .nsw-form-input {
    padding-right: rem(140px);
  }

  .nsw-button {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
