---
title: Search bar
width: narrow
model: json/search-bar.json
---

<h3>Default</h3>
{{#>_docs-example}}{{>_search-bar}}{{/_docs-example}}

<h3>Predicitive search</h3>
{{#>_docs-example}}{{>_search-bar model}}{{/_docs-example}}
