---
title: Utility list
width: narrow
tabs: true
directory: utility-list
intro:
model: ../../components/utility-list/json/utility-list.json
meta-description: 
meta-index: true
---

<div class="nsw-tabs js-tabs">
  <ul class="nsw-tabs__list">
    <li><a href="#off-white" class="js-tabs-fixed">Off-White</a></li>
    <li><a href="#white" class="js-tabs-fixed">White</a></li>
    <li><a href="#dark" class="js-tabs-fixed">Brand Dark</a></li>
    <li><a href="#light" class="js-tabs-fixed">Brand Light</a></li>
  </ul>

{{#each model}}
  <section id="{{@key}}" class="nsw-tabs__content nsw-tabs__content--side-flush">
  {{#each this}}
    <h3>{{@key}}</h3>
    {{#each this}}
{{#>_docs-example separated=true}}
{{>_utility-list}}
{{/_docs-example}}
    {{/each}}
  {{/each}}
  </section>
{{/each}}

</div>