@import 'global/scss/settings/settings';
@import 'global/scss/base/all';
@import 'global/scss/helpers/all';

@import 'global/scss/settings/palette';
@import 'global/scss/settings/theme';


@import 'core/all';
