---
title: NSW Digital Design System
home: true
light: true
width: narrow
---
<div class="nsw-docs-example nsw-docs-example--narrow">
  <div class="nsw-in-page-alert nsw-in-page-alert--info">
    <span class="material-icons nsw-material-icons nsw-in-page-alert__icon" focusable="false" aria-hidden="true">info</span>
    <div class="nsw-in-page-alert__content">
      <h4>NSW Design System 3.0 is currently released in private beta.</h4>
      <p>To get access to Figma files or code please email us on <a class="nsw-word-break nsw-word-break--mobile" href="mailto:digital@customerservice.nsw.gov.au>">digital@customerservice.nsw.gov.au</a></p>
    </div>
  </div>
  <h1>NSW Design System</h1>
  <p class="nsw-intro">The NSW Digital Design System is a toolkit to help digital product teams create good customer experiences quickly.</p>
  <h2>How the Digital Design System works</h2>
  <p>The Design System can be used by any department, even if you're not using digital.nsw component kits. The components are UI building blocks, providing a consistent approach to UI and UX designers and engineers.</p>
  <p>Use the menu on the left to browse components, read guidance on how they can be used, and follow links to documented UI kits in Figma, HTML, and react.</p>
  <p class="nsw-text--brand-supplementary"><span class="nsw-brand">&#128313;</span>&nbsp;You’ll need to use some features of the design system to be brand compliant. These are indicated with a blue diamond.</p>
  <h3>Core styles</h3>
  <p>Use these digital styles for a distinctly NSW Government look and feel.</p>
  <div class="nsw-grid">
    {{#each collections.corenav}}
        <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
          <div class="nsw-card nsw-card--content">
            <div class="nsw-card__content">
              <h2 class="nsw-card__title">
                <a href="{{change-extention path}}" class="nsw-card__link">{{title}}{{#if core}}<span class="nsw-brand">&#128313;</span>{{/if}}</a>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </h2>
            </div>
          </div>
        </div>
    {{/each}}
  </div>
  <h3>Components</h3>
  <p>Pre-built, accessible and well tested user interface for your digital products.</p>

  <ul class="nsw-docs__list nsw-docs__list--4">
    {{#each collections.componentsnav}}
      <li><a href="{{change-extention path}}">{{title}}{{#if core}}<span class="nsw-brand">&#128313;</span>{{/if}}</a></li>
    {{/each}}
  </ul>
  <h3>Example pages</h3>
  <p>Examples of page types, layouts and universal page components.</p>
  <ul class="nsw-docs__list nsw-docs__list--2">
  </ul>
  <h3>Backlog</h3>
  <p>Our backlog contains components and patterns that have been requested by our community. We also include elements that the Design System team have identified for potential use by digital creators. </p>

  <div class="nsw-table nsw-table--striped">
    <table>
      <thead>
      <tr>
        <th width="30%">Component</th>
        <th width="30%">Status</th>
        <th width="40%">Contribute</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Maps</td>
        <td><span class="nsw-tag">Released</span></td>
        <td><a target="_blank" href="docs/content/methods/maps.html">View method</a></td>
      </tr>
      <tr>
        <td>Data visualisation</td>
        <td><span class="nsw-tag">Released</span></td>
        <td><a target="_blank" href="docs/content/methods/data-visualisation.html">View method</a></td>
      </tr>
      <tr>
        <td>Dialogue</td>
        <td><span class="nsw-tag">In progress</span></td>
        <td><a target="_blank" href="https://community.digital.nsw.gov.au/t/collab-space-dialogue/807">Join the community thread</a></td>
      </tr>
      <tr>
        <td>Landing page header section</td>
        <td><span class="nsw-tag">Not started</span></td>
        <td><a target="_blank" href="https://community.digital.nsw.gov.au/">Start a community thread</a></td>
      </tr>
      <tr>
        <td>File upload</td>
        <td><span class="nsw-tag">Not started</span></td>
        <td><a target="_blank" href="https://community.digital.nsw.gov.au/">Start a community thread</a></td>
      </tr>
      <tr>
        <td>Back to top</td>
        <td><span class="nsw-tag">Not started</span></td>
        <td><a target="_blank" href="https://community.digital.nsw.gov.au/">Start a community thread</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <h2>Getting updates</h2>
  <p>To be notified when there’s a new release, you can either join the <a target="_blank" href="https://community.digital.nsw.gov.au/">NSW Design System community</a> or <a target="_blank" href="https://github.com/digitalnsw/nsw-design-system">watch the NSW Design System Github</a>.</p>
</div>
