---
title: Styleguide
layout: layout.hbs
---

<div class="nsw-container nsw-layout nsw-wysiwyg-content">
  <div class="nsw-layout__content">
		<h1>Styleguide</h1>
		{{#each collections as |child|}}
	  <h2>{{capitalize @key}}</h2>
	  <ul>
	  {{#each child}}
	    <li><a class="navigation-nav-item" href="{{change-extention path}}" target="_blank">{{title}}</a></li>
	  {{/each}}
	  </ul>
		{{/each}}
	</div>
</div>
