---
title: TESTING
layout: layout.hbs
---
<h1>Component Styleguide</h1>
<ul>
{{#each collections.components}}
  <li><a class="navigation-nav-item" href="{{change-extention path}}">{{title}}</a></li>
{{/each}}
</ul>
