.hero-search {
  font-family: var(--nsw-font-family);

  @include breakpoint('md') {
    @include nsw-spacing(padding, xl none);
  }

  &__title {
    @include font-size('xxl');
    @include nsw-spacing(margin, none);
    font-weight: var(--nsw-font-bold);
  }

  &__form {
    @include nsw-spacing(margin, lg none);

    .nsw-material-icons {
      font-size: rem(36px);

      &:first-child,
      &:last-child {
        margin: 0 rem(-4px);
      }
    }
  }

  &__content {
    @include break-out;
    @include nsw-spacing(padding, xl md);
    border-radius: var(--nsw-border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--nsw-off-white);
    border-bottom: solid 6px var(--nsw-brand-accent);
    text-align: center;

    @include breakpoint('md') {
      @include nsw-spacing(padding, xl xxxxl);
      @include break-out-reset;
    }

    > * {
      max-width: rem(700);
      margin-left: auto;
      margin-right: auto;
    }

    p:not([class]) {
      @include font-size('md');
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__suggested {
    ul:not([class]) {
      @include nsw-spacing(padding-left, none);
      list-style: none;
      text-align: center;
      margin-top: rem(-8);
    }

    li {
      @include nsw-spacing(margin, none md);
      display: inline-block;
    }

    a {
      @include link;
    }
  }
}
