@use '../../global/scss/base/functions' as functions;
@use '../../global/scss/base/mixins' as mixins;

.hero-search {
  position: relative;
  z-index: 1;

  @include mixins.breakpoint('md') {
    padding: functions.rem(32px) functions.rem(16px);
  }

  &__form {
    padding: functions.rem(24px) 0;
    text-align: left;

    .nsw-material-icons { 
      &:first-child {
        margin: 0;
      }
    }
  }

  &__wrapper {
    padding: functions.rem(32px) functions.rem(16px);
    background-color: var(--nsw-off-white);
    border-bottom: solid 4px var(--nsw-brand-accent);

    @include mixins.breakpoint('md') {
      border-top-left-radius: var(--nsw-border-radius);
      border-top-right-radius: var(--nsw-border-radius);
      padding: functions.rem(32px) functions.rem(80px);
    }
  }

  &__content {    
    max-width: functions.rem(700px);
    margin: 0 auto;
    text-align: center;
  }

  &__suggested {
    ul {
      list-style: none;
      text-align: center;
      margin-top: functions.rem(-8px);
      padding: 0;
    }

    li {
      margin: functions.rem(8px) functions.rem(12px) 0 functions.rem(12px);
      display: inline-block;
    }

    a:not(.nsw-icon-button) {
      line-height: 1.5;
      padding: functions.rem(4px) functions.rem(4px);
    }
  }

  .nsw-container {
    padding: 0;
  }
}
