---
title: Hero search
page: true
model: json/hero-search.json
---

<div class="nsw-section--image" style="background-image: url(https://picsum.photos/id/199/2000/1250);">
  {{>_hero-search model}}
</div>
