---
title: Hero search
tabs: true
directory: hero-search
intro: The hero search allows users to easily and quickly go to the area they are interested in.
figma: https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=284%3A3837
model: json/hero-search.json
---

{{#>_docs-example}}
<div class="nsw-section nsw-section--image" style="background-image: url(https://picsum.photos/id/199/2000/1250);">
  {{>_hero-search model}}
</div>
{{/_docs-example}}
