---
title: Hero search
guidance: https://digitalnsw.github.io/nsw-design-system-docs/components/hero-search/index.html
blank: true
model: json/hero-search.json
---

{{#>_docs-example}}
<div class="nsw-section--image" style="background-image: url(https://picsum.photos/id/199/2000/1250);">
  {{>_hero-search model}}
</div>
{{/_docs-example}}
