---
title: Hero search
tabs: true
directory: hero-search
intro: Hero search provides the user with easy access to targeted search.
figma: https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=21298%3A24808
model: json/hero-search.json
---

{{#>_docs-example disable-links="true"}}
<div class="nsw-section nsw-section--image" style="background-image: url(https://picsum.photos/id/199/2000/1250);">
  {{>_hero-search model}}
</div>
{{/_docs-example}}
