---
title: Hero search
page: true
model: json/hero-search.json
---

{{#>_theme}}
<div class="nsw-section nsw-section--image" style="background-image: url(https://picsum.photos/id/199/2000/1250);">
  {{>_hero-search model button="icon"}}
</div>

<div class="nsw-section nsw-section--image-html">
  <img src="https://picsum.photos/id/204/2000/1250" alt="Background image"/>
  {{>_hero-search model button="text" label="true"}}
</div>
{{/_theme}}