<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Breadcrumbs</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="../../favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/docs/css/docs.css">
</head>

<body class="nsw-body-content">

<div class="nsw-container nsw-p-y-sm">
  <div class="nsw-page-layout">
    <main class="nsw-page-layout__main">
  		<nav aria-label="Breadcrumbs" class="nsw-breadcrumb">
  		  <ol class="nsw-breadcrumb__list">
  		    <li class="nsw-breadcrumb__item">
  		      <a href="#" class="nsw-breadcrumb__link">Home</a>
  		    </li>
  		    <li class="nsw-breadcrumb__item">
  		      <a href="#" class="nsw-breadcrumb__link">About DPC</a>
  		    </li>
  		    <li class="nsw-breadcrumb__item">
  		      <a href="#" class="nsw-breadcrumb__link">NSW Digital Design System</a>
  		    </li>
  		    <li class="nsw-breadcrumb__item">
  		      <a href="#" class="nsw-breadcrumb__link nsw-breadcrumb--current" aria-current="page">Content design</a>
  		    </li>
  		  </ol>
  		</nav>
  	</main>
  	<div class="nsw-page-layout__sidebar nsw-page-layout__sidebar--desktop"></div>
  </div>
</div>


  <script src="../../js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
