<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Breadcrumbs</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="/nsw-design-system/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-TMEHXHFJXJ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TMEHXHFJXJ');
  </script>
</head>

<body>

<div class="nsw-container nsw-p-y-sm">
  <div class="nsw-layout">
    <main class="nsw-layout__main">
  		<nav aria-label="Breadcrumbs" class="nsw-breadcrumbs">
  		  <ol>
  		    <li>
  		      <a href="#">Home</a>
  		    </li>
  		    <li>
  		      <a href="#">About DPC</a>
  		    </li>
  		    <li>
  		      <a href="#">NSW Digital Design System</a>
  		    </li>
  		    <li>
  		      <a href="#" class="current" aria-current="page">Content design</a>
  		    </li>
  		  </ol>
  		</nav>
  	</main>
  	<div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
  </div>
</div>


  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
