@use 'sass:map';
@use '../../global/scss/base/mixins' as mixins;
@use '../../global/scss/base/functions' as functions;
@use '../../global/scss/settings/settings' as settings;

// $nsw-icon-sizes: (
//   20: 20px,
//   24: 24px,
//   30: 30px,
//   36: 36px
// );

// $nsw-icon-colors: (
//   brand: var(--nsw-brand-dark),
//   accent: var(--nsw-brand-accent),
//   error: var(--nsw-status-error),
//   success: var(--nsw-status-success),
//   info: var(--nsw-status-info),
//   warning: var(--nsw-status-warning)
// );

// $nsw-icon-angles: (90, 180, 270);

.nsw-material-icons {
  @each $size, $variant in settings.$nsw-icon-sizes {
    &--#{"" + $size} {
      font-size: functions.rem(map.get(settings.$nsw-icon-sizes, $size));
    }
  }

  @each $color, $variant in settings.$nsw-icon-colors {
    &--#{"" + $color} {
      /* stylelint-disable-next-line sh-waqar/declaration-use-variable */
      color: map.get(settings.$nsw-icon-colors, $color);
    }
  }

  @each $angle, $variant in settings.$nsw-icon-angles {
    &--rotate-#{"" + $angle} {
      transform: rotate(#{$angle}deg);
    }
  }

  &--inline {
    font-size: functions.rem(map.get(settings.$nsw-icon-sizes, 20));
    line-height: functions.rem(10px);
    position: relative;
    bottom: functions.rem(-5px);
    margin-right: functions.rem(4px);
  }
}

.nsw-icon-button {
  background: none;
  text-decoration: none;
  padding: functions.rem(8px);
  display: inline-block;
  border: 0;
  color: var(--nsw-brand-dark);
  font-weight: var(--nsw-font-bold);
  border-radius: var(--nsw-border-radius);
  
  @include mixins.font-size('sm');

  &:hover {
    @include mixins.nsw-hover;
    outline-width: 0;
  }

  &:focus {
    @include mixins.nsw-focus($offset: false);
  }

  .nsw-material-icons,
  svg {
    display: block;
  }

  @at-root {
    a#{&} {
      cursor: pointer;
    }
  }

  &--flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nsw-section--invert & {    
    @include mixins.link-light;
  }
}
