@use 'sass:map';
@use '../../global/scss/tools' as nsw;

// $nsw-icon-sizes: (
//   20: 20px,
//   24: 24px,
//   30: 30px,
//   36: 36px
// );

// $nsw-icon-colors: (
//   brand: var(--nsw-brand-dark),
//   accent: var(--nsw-brand-accent),
//   error: var(--nsw-status-error),
//   success: var(--nsw-status-success),
//   info: var(--nsw-status-info),
//   warning: var(--nsw-status-warning)
// );

// $nsw-icon-angles: (90, 180, 270);

.material-symbols-outlined,
.material-icons {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: nsw.rem(24px);
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.nsw-material-symbols-outlined,
.nsw-material-icons {
  // @extend .nsw-material-symbols-outlined; ## Need to replace with %placeholder solution due to stylelint issue ##

  @each $size, $variant in nsw.$nsw-icon-sizes {
    &--#{"" + $size} {
      font-size: nsw.rem(map.get(nsw.$nsw-icon-sizes, $size));
    }
  }

  @each $color, $variant in nsw.$nsw-icon-colors {
    &--#{"" + $color} {
      /* stylelint-disable-next-line sh-waqar/declaration-use-variable */
      color: map.get(nsw.$nsw-icon-colors, $color);
    }
  }

  @each $angle, $variant in nsw.$nsw-icon-angles {
    &--rotate-#{"" + $angle} {
      transform: rotate(#{$angle}deg);
    }
  }

  &--inline {
    font-size: nsw.rem(map.get(nsw.$nsw-icon-sizes, 20));
    line-height: nsw.rem(10px);
    position: relative;
    bottom: nsw.rem(-5px);
    margin-right: nsw.rem(4px);
  }
}

.nsw-icon-button {
  background: none;
  text-decoration: none;
  padding: nsw.rem(8px);
  display: inline-block;
  border: 0;
  color: var(--nsw-brand-dark);
  font-weight: var(--nsw-font-bold);
  border-radius: var(--nsw-border-radius);
  
  @include nsw.font-size('sm');

  &:hover {
    @include nsw.nsw-hover;
    outline-width: 0;
  }

  &:focus {
    @include nsw.nsw-focus($offset: false);
  }

  .nsw-material-symbols-outlined,
  svg {
    display: block;
  }

  @at-root {
    a#{&} {
      cursor: pointer;
    }
  }

  &--flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nsw-section--invert & {    
    @include nsw.link-light;
  }
}
