---
title: Iconography
order: 20
width: narrow
directory: iconography
core: true
no-blank: true
intro: Icons illustrate actions, communicate status, indicate an interaction and draw attention to important information.
---


<nav class="nsw-in-page-nav" aria-labelledby="in-page-nav">
  <h2 class="nsw-in-page-nav__title">On this page</h2>
  <ul class="nsw-in-page-nav__list">
    <li class="nsw-in-page-nav__list-item">
      <a href="{{change-extention path 'anchor' 'usage'}}" class="nsw-in-page-nav__link">Usage</a>
    </li>
    <li class="nsw-in-page-nav__list-item">
      <a href="{{change-extention path 'anchor' 'styling'}}" class="nsw-in-page-nav__link">Styling</a>
    </li>
    <li class="nsw-in-page-nav__list-item">
      <a href="{{change-extention path 'anchor' 'application'}}" class="nsw-in-page-nav__link">Application</a>
    </li>
    <li class="nsw-in-page-nav__list-item">
      <a href="{{change-extention path 'anchor' 'designing'}}" class="nsw-in-page-nav__link">Designing</a>
    </li>
  </ul>
</nav>
<h2 id="usage">Usage</h2>
<p>The NSW Design System uses <a taget="_blank" href="https://fonts.google.com/icons?selected=Material+Icons">Material design</a> icons (filled versions) for an easily implementable and consistent user experience.</p>
<p>Icons can be added to components or paired with text. Avoid having icons as standalone as they may be interpreted differently by different users. It is important to ensure where an icon is used it matches the intended action.</p>

<div class="nsw-docs__section nsw-docs__section--spaced">
</div>
<div class="nsw-in-page-alert nsw-in-page-alert--info">
  <span class="material-icons nsw-material-icons nsw-in-page-alert__icon" focusable="false" aria-hidden="true">info</span>
  <div class="nsw-in-page-alert__content">
    <h4>Accessibility tip</h4>
    <p>Use <code>sr-only</code> class to hide text that are intended for screen readers to give more context on an icon. This can also be applied with form labels, interactive buttons, and navigational links. View the <a href="/components/site-wide-message/index.html">global alert</a> component to see it in action.</p>
  </div>
</div>
<h3>Text Icons</h3>
<p>Add an icon next to text to support the action.</p>

{{#>_docs-example simple="true" separated="true" disable-links="true"}}
  <a class="nsw-link nsw-link--icon nsw-p-right-sm" href="#">
    <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">west</span>
    <span>Back <span class="sr-only">a page</span></span>
  </a>
  <a class="nsw-link nsw-link--icon" href="#">
    <span>Download PDF schedule</span>
    <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">download</span>
  </a>
{{/_docs-example}}

<h3>Button Icons</h3>
<p>Add an icon into a button to support the action.</p>

{{#>_docs-example simple="true" separated="true" disable-links="true"}}
  <div class="nsw-list nsw-list--8">
    {{>_button-link url="#" style="dark" text="Upload file" icon="upload"}}
    {{>_button type="button" style="dark-outline" text="Send a message" icon="email" icon-after="true"}}
  </div>
{{/_docs-example}}

<h3>Component Icons</h3>
<p>Add an icon to a component to represent interactivity or communicate a status. </p>

{{#>_docs-example simple="true" showcode="false" separated="true" disable-links="true"}}
  <div class="nsw-grid">
    <div class="nsw-col nsw-col-lg-6">
      <div class="nsw-card nsw-card--headline">
        <div class="nsw-card__content">
          <h2 class="nsw-card__title">
            <a href="#" class="nsw-card__link">Health and care</a>
          </h2>
          <span class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</span>
        </div>
      </div>
    </div>
  </div>
  <div class="nsw-in-page-alert nsw-in-page-alert--success">
    <span class="material-icons nsw-material-icons nsw-in-page-alert__icon"
       focusable="false" aria-hidden="true">check_circle</span>
    <div class="nsw-in-page-alert__content">
      <h4>Your application has been received</h4>
      <p>Thank you for submitting your interest. We will be in contact within 5 business days.</p>
    </div>
  </div>
{{/_docs-example}}

<h2 id="styling">Styling</h2>
<h3>Colour</h3>
<p>Icons that are clickable should use Brand Dark to remain consistent with text link styling. If icon is on a background that changes the colour of the text (for example a button) the icon should take on the same colour as the text.</p>
<p>Icons used to represent a state should use the appropriate colour, for example an icon used in a success notification should use Success Green.</p>

{{#>_docs-example simple="true" separated="true"}}
  {{>_icon code="east" type="brand"}}
  {{>_icon code="info" type="info"}}
  {{>_icon code="check_circle" type="success"}}
  {{>_icon code="error" type="warning"}}
  {{>_icon code="cancel" type="error"}}
{{/_docs-example}}

<h3>Icon rotation</h3>
{{#>_docs-example simple="true" separated="true"}}
  {{>_icon code="east"}}
  {{>_icon code="east" rotate="90"}}
  {{>_icon code="east" rotate="180"}}
  {{>_icon code="east" rotate="270"}}
{{/_docs-example}}

<h2 id="application">Application</h2>
<h3>Sizing</h3>
<p>The NSW Design System displays icons at four sizes (20px, 24px, 30px, 36px) depending on their type, use and screen size:</p>

{{#>_docs-example simple="true" separated="true"}}
  {{>_icon code="east" size="20"}}
  {{>_icon code="east" size="24"}}
  {{>_icon code="east" size="30"}}
  {{>_icon code="east" size="36"}}
{{/_docs-example}}
<h3>Spacing</h3>
<p>Ensure you allocate the right amount of space around an icon to allow for legibility and touch. Wherever possible, use an 8 pixel spacing grid to create a consistent visual structure.</p>
<div class="nsw-grid">
  <div class="nsw-col nsw-col-sm-8">
    <figure class="nsw-media">
      <img src="assets/images/spacing-pictograms.png" alt="pictogram spacing">
    </figure>
  </div>
</div>
<h3>Accessibility</h3>
<p>Do:</p>
<ul>
  <li>Wrap icons within their interactive component</li>
  <li>Specify if an icon is decorative and informative by assigning the appropriate property. (Add code example)
  </li>
  <li>Use descriptive and meaningful titles for informative icons</li>
</ul>
<h2 id="designing">Designing</h2>
<p>Icons used to build base components are included in the UI Kit. Base colour ranges are available and can be changed using the Variants panel in Figma. If you require additional icons, you can download them from <a href="https://fonts.google.com/icons?selected=Material+Icons">Material design icons</a> and import where required.</p>
<div class="nsw-in-page-alert nsw-in-page-alert--info">
      <span class="material-icons nsw-material-icons nsw-in-page-alert__icon" focusable="false" aria-hidden="true">info</span>
  <div class="nsw-in-page-alert__content">
  <h4>Material Design Icon Padding</h4>
    <p>Maintain the default internal padding in each icon file. This padding is tied to the icon when implemented in development, therefore when designing you should accommodate for this padding.</p>
  </div>
</div>
<h3>Creating SVGs</h3>
<p>The majority of design software allows you to create an SVG file by selecting this format when exporting.</p>
<p>Tips for creating SVGs:</p>
<ul>
  <li>Flatten and outline all elements</li>
  <li>Do not use masks</li>
  <li>Ensure white colour is intentionally white and transparent is intentionally transparent
  </li>
</ul>
<h3>Benefits of using SVGs</h3>
<p>SVGs are scalable vector graphics made up of points, lines and shapes which can easily be adapted in size making them an advantageous choice for responsive design. Other benefits of using SVG format over other raster formats (for example JPEG, GIF and PNG) include:</p>
<ul>
  <li>Ability to scale and graphic to any size without losing quality</li>
  <li>Smaller file sizes means your page will load faster</li>
  <li>Easily editable strokes and colours through CSS</li>
</ul>
<!--<h2 id="pictogram">Pictogram</h2>
<p>Use pictograms to represent a word or idea using simple and clean illustration. Used to visually support and highlight content, making it quickly identifiable on the page.</p>
<div class="nsw-in-page-alert nsw-in-page-alert--info">
      <span class="material-icons nsw-material-icons nsw-in-page-alert__icon"
            focusable="false" aria-hidden="true">info</span>
  <div class="nsw-in-page-alert__content">
    <h4>Use SVG utility classes</h4>
    <p>Usability classes are available for developers to apply brand colours to SVGs. Use them  so that SVGs can be used across pages using different colour schemes. See <a href="docs/content/develop/helpers.html">Utility classes</a> for names.</p>
  </div>
</div>
<h3>Sizing</h3>
<p>Pictograms should be designed on a pixel-based grid of 64px x 64px with a live area of 60px x 60px, and can be scaled down linearly to half size if required. Pictogram content should remain inside of the live area, which is the region of an image that is unlikely to be hidden from view (such as when sidebars appear upon scrolling).</p>
<div class="nsw-section nsw-section--white nsw-block nsw-p-sm">
  <div class="nsw-table nsw-table--bordered nsw-table--valign-middle">
    <table>
      <tbody>
      <tr>
        <th>
          <p>Sizing</p>
        </th>
        <th>
          <p>Stroke</p>
        </th>
        <th>
          <p>Padding</p>
        </th>
        <th>
          <p>Live Area</p>
        </th>
      </tr>
      <tr>
        <td>
          <p>64px x 64px</p>
        </td>
        <td>2px</td>
        <td>
          <p>2px</p>
        </td>
        <td>
          <p>60px x 60px</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>32px x 32px</p>
        </td>
        <td>1px</td>
        <td>
          <p>1px</p>
        </td>
        <td>30px x 30px</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="nsw-grid">
  <div class="nsw-col nsw-col-sm-4">
    <figure class="nsw-media nsw-media--light">
      <img src="assets/images/icon-sizing-live-area.png" alt="icon anatomy">
      <figcaption><strong>Live area</strong><br>
        Pictogram content should remain inside the 60px x 60px live area.
      </figcaption>
    </figure>
  </div>
  <div class="nsw-col nsw-col-sm-4">
    <figure class="nsw-media nsw-media--light">
      <img src="assets/images/icon-sizing-padding.png" alt="icon padding">
      <figcaption><strong>Padding</strong><br>
        2px of padding surrounds the live area.
      </figcaption>
    </figure>
  </div>
</div>
<h3>Stroke</h3>
<p>Pictogram stroke is 2px to maintain consistency and a clear visual weight. If creating a smaller sized pictogram use it’s relevant stroke indicated in the table above. Don’t use inconsistent stroke weights. Open strokes should have rounded edges. Make sure to position “on pixel” by making the X and Y coordinates whole numbers, avoiding decimals.</p>
<div class="nsw-grid">
  <div class="nsw-col nsw-col-sm-4">
    <figure class="nsw-media nsw-media--light">
      <img src="assets/images/icon-stroke-2px.png" alt="icon stroke">
      <figcaption><strong>2px stroke</strong>
      </figcaption>
    </figure>
  </div>
  <div class="nsw-col nsw-col-sm-4">
    <figure class="nsw-media nsw-media--light">
      <img src="assets/images/icon-stroke-position.png" alt="position stoke">
      <figcaption><strong>Position stroke "on pixel"</strong>
      </figcaption>
    </figure>
  </div>
</div>
<h3>Padding</h3>
<p>The grid contains 2px padding. Pictograms should remain inside the live area and not cross over into the padding area.</p>
<div class="nsw-grid">
  <div class="nsw-col nsw-col-sm-4">
    <figure class="nsw-media nsw-media--light">
      <img src="assets/images/icon-padding-do.png" alt="Correct padding">
    </figure>
  </div>
  <div class="nsw-col nsw-col-sm-4">
    <figure class="nsw-media nsw-media--light">
      <img src="assets/images/icon-padding-dont.png" alt="Incorrect padding">
    </figure>
  </div>
</div>
<h3>Corner radius</h3>
<p>Corner radius should be 2px and increased where necessary to make rounded objects. Interior corners should be square.</p>


<div class="nsw-grid">
  <div class="nsw-col nsw-col-sm-4">
    <figure class="nsw-media nsw-media--light">
      <img src="assets/images/icon-corner-radius.png" alt="Correct padding">
           <figcaption><strong>External corners with 2px radius and square internal corners.</strong>
    </figure>
  </div>
</div>
<h3>Colour</h3>
<p>Pictograms are two toned and can be designed using different colour combinations. If you change your Brand colours from the base palette ensure you choose the right combination that communicates your brand and has a distinguishable contrast ratio with the background colour.</p>
<div class="nsw-grid">
  <div class="nsw-col nsw-col-sm-3">
    <figure class="nsw-media nsw-media--light">
      <img src="assets/images/grey-accent.png" alt="bulb and calendar icons in brand dark and accent colour">
      <figcaption><strong>Brand Dark + <br>Brand Accent</strong>
      </figcaption>
    </figure>
  </div>
  <div class="nsw-col nsw-col-sm-3">
    <figure class="nsw-media nsw-media--light">
      <img src="assets/images/grey-supp.png" alt="bulb and calendar icons in brand dark and supplementary colour">
      <figcaption><strong>Brand Dark + <br>Brand Supplementary</strong>
      </figcaption>
    </figure>
  </div>
  <div class="nsw-col nsw-col-sm-3">
    <figure class="nsw-media nsw-media--light">
      <img src="assets/images/dark-accent.png" alt="bulb and calendar icons in grey 01 and accent colour">
      <figcaption><strong>Grey 01 + <br>Brand Accent</strong>
      </figcaption>
    </figure>
  </div>
  <div class="nsw-col nsw-col-sm-3">
    <figure class="nsw-media nsw-media--light">
      <img src="assets/images/dark-supp.png" alt="bulb and calendar icons in grey 01 and supplementary colour">
      <figcaption><strong>Grey 01 + <br>Brand Supplementary</strong>
      </figcaption>
    </figure>
  </div>
</div>
<h3>Spacing and positioning</h3>
<p>Minimum spacing around pictograms should be 24px and wherever possible, size your spacing in multiples of 8 pixels.</p>
<div class="nsw-grid">
  <div class="nsw-col nsw-col-sm-6">
    <figure class="nsw-media">
      <img src="assets/images/pictogram-spacing.png" alt="A component showing spacing">
    </figure>
  </div>
</div>
<h3>Alignment</h3>
<p>Visually centre pictogram and centre-align where it appears next to text.</p>
<div class="nsw-grid">
  <div class="nsw-col nsw-col-sm-5">
    <figure class="nsw-media nsw-media--light">
      <img src="assets/images/vertical-centre.png" alt="An icon and text horizontally aligned">
    </figure>
  </div>
  <div class="nsw-col nsw-col-sm-7">
    <figure class="nsw-media nsw-media--light">
      <img src="assets/images/horizontal-centre.png" alt="An icon and text horizontally aligned">
    </figure>
  </div>
</div>
<h3>Creating SVGs</h3>
<p>The majority of design software allows you to create an SVG file by selecting this format when exporting.</p>
<p>Tips for creating SVGs:</p>
<ul>
  <li>Flatten and outline all elements</li>
  <li>Do not use masks</li>
  <li>Ensure white colour is intentionally white and transparent is intentionally transparent
  </li>
</ul>
<h3>Benefits of using SVGs</h3>
<p>SVGs are scalable vector graphics made up of points, lines and shapes which can easily be adapted in size making them an advantageous choice for responsive design. Other benefits of using SVG format over other raster formats (for example JPEG, GIF and PNG) include:</p>
<ul>
  <li>Ability to scale and graphic to any size without losing quality</li>
  <li>Smaller file sizes means your page will load faster</li>
  <li>Easily editable strokes and colours through CSS</li>
</ul>-->
