.nsw-bg-image,
.nsw-bg-white,
.nsw-bg-light-10,
.nsw-bg-light-20,
.nsw-bg-light-40 {
  padding: rem($grid-gutters*2) 0;

  @include breakpoint('md') {
    padding: rem($grid-gutters*4) 0;
  }
}

.nsw-bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nsw-bg-white {
  background-color: $white;
}

.nsw-bg-light-10 {
  background-color: $light10;
}

.nsw-bg-light-20 {
  background-color: $light20;
}

.nsw-bg-light-40 {
  background-color: $light40;
}
