/* stylelint-disable declaration-no-important */

/* bg colour utilities */
/* ✅ Dark            */
/* ✅ Light           */
/* ✅ Supplementary   */
/* ❌ Accent          */
/**********************/

.nsw-bg-brand-dark {
  background-color: var(--nsw-brand-dark) !important;
}

.nsw-bg-brand-light {
  background-color: var(--nsw-brand-light) !important;
}

.nsw-bg-brand-supplementary {
  background-color: var(--nsw-brand-supplementary) !important;
}

/* bg hover utilities */
/* ✅ Dark            */
/* ✅ Light           */
/* ✅ Supplementary   */
/* ❌ Accent          */
/**********************/

.hover\:nsw-bg-brand-dark:hover {
  background-color: var(--nsw-brand-dark) !important;
}

.hover\:nsw-bg-brand-light:hover {
  background-color: var(--nsw-brand-light) !important;
}

.hover\:nsw-bg-brand-supplementary:hover {
  background-color: var(--nsw-brand-supplementary) !important;
}

/* SVG fill utilities */
/* ✅ Dark            */
/* ✅ Light           */
/* ✅ Supplementary   */
/* ✅ Accent          */
/* ✅ White           */
/**********************/

.nsw-fill-brand-dark {
  fill: var(--nsw-brand-dark) !important;
}

.nsw-fill-brand-light {
  fill: var(--nsw-brand-light) !important;
}

.nsw-fill-brand-supplementary {
  fill: var(--nsw-brand-supplementary) !important;
}

.nsw-fill-brand-accent {
  fill: var(--nsw-brand-accent) !important;
}

.nsw-fill-white {
  fill: var(--nsw-white) !important;
}

/* SVG stroke utilities */
/* ✅ Dark              */
/* ✅ Light             */
/* ✅ Supplementary     */
/* ✅ Accent            */
/* ✅ White             */
/************************/

.nsw-stroke-brand-dark {
  stroke: var(--nsw-brand-dark) !important;
}

.nsw-stroke-brand-light {
  stroke: var(--nsw-brand-light) !important;
}

.nsw-stroke-brand-supplementary {
  stroke: var(--nsw-brand-supplementary) !important;
}

.nsw-stroke-brand-accent {
  stroke: var(--nsw-brand-accent) !important;
}

.nsw-stroke-white {
  stroke: var(--nsw-white) !important;
}

/* Text colour utilities */
/* ✅ Dark               */
/* ✅ Light              */
/* ✅ Supplementary      */
/* ✅ Accent             */
/*************************/

.nsw-text-brand-dark {
  color: var(--nsw-brand-dark) !important;
}

.nsw-text-brand-light {
  color: var(--nsw-brand-light) !important;
}

.nsw-text-brand-supplementary {
  color: var(--nsw-brand-supplementary) !important;
}

.nsw-text-brand-accent {
  color: var(--nsw-brand-accent) !important;
}

.nsw-text-white {
  color: var(--nsw-white) !important;
}

/* Text colour hover utilities */
/* ✅ Dark                     */
/* ✅ Light                    */
/* ✅ Supplementary            */
/* ✅ Accent                   */
/*******************************/

.hover\:nsw-text-brand-dark:hover {
  color: var(--nsw-brand-dark) !important;
}

.hover\:nsw-text-brand-light:hover {
  color: var(--nsw-brand-light) !important;
}

.hover\:nsw-text-brand-supplementary:hover {
  color: var(--nsw-brand-supplementary) !important;
}

.hover\:nsw-text-brand-accent:hover {
  color: var(--nsw-brand-supplementary) !important;
}

/* border colour utilities */
/* ✅ Dark                 */
/* ✅ Light                */
/* ✅ Supplementary        */
/* ✅ Accent               */
/***************************/

.nsw-border-brand-dark {
  border-color: var(--nsw-brand-dark) !important;
}

.nsw-border-brand-light {
  border-color: var(--nsw-brand-light) !important;
}

.nsw-border-brand-supplementary {
  border-color: var(--nsw-brand-supplementary) !important;
}

.nsw-border-brand-accent {
  border-color: var(--nsw-brand-accent) !important;
}

/* border hover utilities */
/* ✅ Dark                */
/* ✅ Light               */
/* ✅ Supplementary       */
/* ✅ Accent              */
/**************************/

.hover\:nsw-border-brand-dark:hover {
  border-color: var(--nsw-brand-dark) !important;
}

.hover\:nsw-border-brand-light:hover {
  border-color: var(--nsw-brand-light) !important;
}

.hover\:nsw-border-brand-supplementary:hover {
  border-color: var(--nsw-brand-supplementary) !important;
}

.hover\:nsw-border-brand-accent:hover {
  border-color: var(--nsw-brand-accent) !important;
}
