@use 'sass:map';
@use '../base/mixins' as mixins;
@use '../base/functions' as functions;
@use '../settings/settings' as settings;

/* stylelint-disable declaration-no-important */

.nsw-block {
  @include mixins.component-spacing();  
}

@each $prop, $abbrev in (margin: nsw-m, padding: nsw-p) {
  @each $size, $lengths in settings.$spacers {
    $length-mobile: functions.rem(map.get($lengths, 'mobile'));
    $length-desktop: functions.rem(map.get($lengths, 'desktop'));

    .#{$abbrev}-#{$size} {
      #{$prop}: $length-mobile !important;
    }

    .#{$abbrev}-top-#{$size} {
      #{$prop}-block-start: $length-mobile !important;
    }

    .#{$abbrev}-right-#{$size} {
      #{$prop}-inline-end: $length-mobile !important;
    }

    .#{$abbrev}-bottom-#{$size} {
      #{$prop}-block-end: $length-mobile !important;
    }

    .#{$abbrev}-left-#{$size} {
      #{$prop}-inline-start: $length-mobile !important;
    }

    .#{$abbrev}-x-#{$size} {
      #{$prop}-inline-start: $length-mobile !important;
      #{$prop}-inline-end: $length-mobile !important;
    }

    .#{$abbrev}-y-#{$size} {
      #{$prop}-block-start: $length-mobile !important;
      #{$prop}-block-end: $length-mobile !important;
    }

    @include mixins.breakpoint('lg') {
      .#{$abbrev}-#{$size} {
        #{$prop}: $length-desktop !important;
      }

      .#{$abbrev}-top-#{$size} {
        #{$prop}-block-start: $length-desktop !important;
      }

      .#{$abbrev}-right-#{$size} {
        #{$prop}-inline-end: $length-desktop !important;
      }

      .#{$abbrev}-bottom-#{$size} {
        #{$prop}-block-end: $length-desktop !important;
      }

      .#{$abbrev}-left-#{$size} {
        #{$prop}-inline-start: $length-desktop !important;
      }

      .#{$abbrev}-x-#{$size} {
        #{$prop}-inline-start: $length-desktop !important;
        #{$prop}-inline-end: $length-desktop !important;
      }

      .#{$abbrev}-y-#{$size} {
        #{$prop}-block-start: $length-desktop !important;
        #{$prop}-block-end: $length-desktop !important;
      }
    }
  }
}
