@use '../base/mixins' as mixins;
@use '../settings/settings' as settings;

.sr-only,
.sr-only-focusable:not(:focus):not(:focus-within) {
  @include mixins.sr-only();
}

.nsw-show {
  @each $breakpoint, $breakpoint-size in settings.$nsw-breakpoints {
    &-#{$breakpoint} {
      display: none;
    }

    @include mixins.breakpoint($breakpoint) {
      &-#{$breakpoint} {
        display: block;
      }
    }
  }
}

.nsw-hide {
  @each $breakpoint, $breakpoint-size in settings.$nsw-breakpoints {
    @include mixins.breakpoint($breakpoint) {
      &-#{$breakpoint} {
        display: none;
      }
    }
  }
}
