<section class="nsw-easy-read-downloads nsw-block" aria-labelledby="{{id}}">
  <h2 id="{{id}}">{{heading}}</h2>
  {{#each descriptionParagraphs}}
  <p>{{this}}</p>
  {{/each}}
  {{>_utility-list id=id align="horizontal" theme="off-white" copy=true print=true download=true downloadText=downloadText share=true social=social}}
</section>
