<section class="nsw-easy-read-downloads nsw-block"{{#if id}} aria-labelledby="{{id}}"{{/if}}>
  <h2{{#if id}} id="{{id}}"{{/if}}>{{heading}}</h2>
  {{#each descriptionParagraphs}}
  <p>{{this}}</p>
  {{/each}}
  {{>_utility-list id=id align="horizontal" theme="off-white" copy=true print=true download=true downloadUrl=downloadUrl downloadText=downloadText share=true social=social}}
</section>
