<section class="nsw-easy-read-downloads nsw-section nsw-section--off-white nsw-section--box nsw-block" aria-labelledby="{{id}}">
  <h2 id="{{id}}">{{heading}}</h2>
  {{#each descriptionParagraphs}}
  <p>{{this}}</p>
  {{/each}}
  <div class="nsw-easy-read-downloads__files">
    {{#each files}}
    {{>_button-link url=url style="dark" text=text icon="download"}}
    {{/each}}
  </div>
</section>
