<div class="nsw-accordion js-accordion">
  <div class="nsw-accordion__toggle">
    <button type="button">Expand all</button>
    <button type="button" disabled>Collapse all</button>
  </div>
  {{#each accordionitems}}
  <h2 class="nsw-accordion__title">{{title}}</h2>
  <div class="nsw-accordion__content">
    <div class="nsw-wysiwyg-content">
      {{{content}}}
    </div>
  </div>
  {{/each}}
</div>
