.nsw-accordion {
  @include component-spacing();
  font-family: var(--nsw-font-family);

  &__title,
  &__button {
    @include font-size('md');
    @include nsw-spacing(margin, xs none none);
    @include nsw-spacing(padding, md xxl md md);
    font-weight: var(--nsw-font-bold);
    background-color: var(--nsw-off-white);
    display: block;
    width: 100%;
    text-align: left;
    position: relative;
    transition: background $transition-duration, color $transition-duration;

    .is-open,
    &:hover & {
      background-color: var(--nsw-brand-dark);
      color: var(--nsw-text-light);

      .nsw-material-icons {
        color: var(--nsw-text-light);
      }
    }
  }

  &__toggle {
    @include nsw-spacing(margin, none none md none);
    display: flex;
    justify-content: flex-end;

    button {
      @include link;
      @include font-size('sm');
      font-weight: var(--nsw-font-bold);
      border: 0;
      padding: 0;
      background: none;

      &:first-child {
        @include nsw-spacing(margin, none lg none none);
      }

      &:disabled {
        opacity: 0.38;
        cursor: not-allowed;
      }
    }
  }

  &__title {
    .is-ready & {
      border-left: 0;
      padding: 0;
      margin-top: 0;
    }
  }

  &__button {
    font-family: var(--nsw-font-family);
    border: 0;
    color: var(--nsw-text-dark);

    &:focus {
      @include nsw-focus;
      @include z-index;
      position: relative;
    }
  }

  &__icon {
    transform: translateY(-50%) rotate(90deg);
    position: absolute;
    top: 50%;
    right: rem(9px);
    transition: transform $transition-duration;

    .is-open & {
      transform: translateY(-50%) rotate(270deg);
    }

    &.nsw-icon {
      height: rem(16px);
      width: rem(16px);
      right: rem(16px);
    }
  }

  &__content {
    @include nsw-spacing(padding, md);
  }
}
