@use 'sass:map';
@use '../../global/scss/tools' as nsw;

.nsw-accordion {
  @include nsw.component-spacing();

  &__title,
  &__button {
    font-weight: var(--nsw-font-bold);
    padding: nsw.rem(16px) nsw.rem(48px) nsw.rem(16px) nsw.rem(16px);
    margin-top: nsw.rem(8px);
    background-color: var(--nsw-off-white);
    display: block;
    width: 100%;
    text-align: left;
    position: relative;
    transition: background nsw.$nsw-transition-duration, color nsw.$nsw-transition-duration;

    @include nsw.font-size('md');

    .active,
    &:hover & {
      background-color: var(--nsw-brand-dark);
      color: var(--nsw-text-light);
      cursor: pointer;

      .nsw-section--invert & {    
        background-color: var(--nsw-brand-light);
        color: var(--nsw-text-dark);
        
        .nsw-material-icons {
          color: var(--nsw-brand-dark);
        }
      }

      .nsw-material-icons {
        color: var(--nsw-text-light);
      }
    }
  }

  &__toggle {
    display: flex;
    justify-content: flex-end;
    margin-bottom: nsw.rem(16px);

    button {
      color: var(--nsw-link);
      text-decoration: underline;
      text-decoration-skip-ink: auto;
      font-weight: var(--nsw-font-bold);
      border: 0;
      padding: 0;
      background: none;

      @include nsw.link;
      @include nsw.font-size('sm');
      
      &:hover:enabled {
        @include nsw.nsw-hover;
        outline: 2px solid var(--nsw-hover);
        cursor: pointer;

        .nsw-section--invert & {    
          background-color: var(--nsw-hover-light);
          outline-color: var(--nsw-hover-light);
        }
      }

      &:focus {
        @include nsw.nsw-focus($offset: false);
      }

      &:first-child {
        margin-right: nsw.rem(24px);
      }

      &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
      }      

      .nsw-section--invert & {    
        color: var(--nsw-text-light);

        &:focus {
          outline-color: var(--nsw-white);
        }
      }
    }
  }

  &__title {
    .ready & {
      padding: 0;
      margin-top: 0;
    }

    .nsw-material-icons {
      font-size: nsw.rem(map.get(nsw.$nsw-icon-sizes, 30));
      color: var(--nsw-brand-dark);
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      right: nsw.rem(8px);
      transition: transform nsw.$nsw-transition-duration, color nsw.$nsw-transition-duration;
    }
  }

  &__button {
    border: 0;
    color: var(--nsw-text-dark);

    &:focus {
      position: relative;

      @include nsw.nsw-focus;
      @include nsw.z-index;
      
      .nsw-section--invert & {   
        @include nsw.nsw-focus($color: var(--nsw-focus-light));
      }
    }

    &.active {
      .nsw-material-icons {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &__content[hidden='until-found'] {
    display: none;
    visibility: hidden;
    height: 0;
    padding: 0;
    overflow: hidden;
  }

  &__content {
    padding: inherit nsw.rem(16px);
  }

  .nsw-accordion__content > :first-child {
    padding-top: nsw.rem(16px);
  }

  .nsw-accordion__content > :last-child {
    padding-bottom: nsw.rem(16px);
  }
}

.nsw-accordion--css {
  .nsw-accordion__control {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(50%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .nsw-accordion__title {
    position: relative;
    padding: nsw.rem(16px) nsw.rem(48px) nsw.rem(16px) nsw.rem(16px);
    min-block-size: nsw.rem(48px);
    display: block;
    cursor: pointer;
    user-select: none;
    transition: nsw.$nsw-transition-duration;

    &:hover {
      background-color: var(--nsw-brand-dark);
      color: var(--nsw-text-light);
      
      .nsw-section--invert & {    
        background-color: var(--nsw-brand-light);
        color: var(--nsw-text-dark);
      }

      &::after {
        color: var(--nsw-text-light);

        .nsw-section--invert & {    
          color: var(--nsw-text-dark);
        }
      }
    }

    &::after {
      content: 'keyboard_arrow_down';
      position: absolute;
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      right: nsw.rem(8px);
      font-size: nsw.rem(map.get(nsw.$nsw-icon-sizes, 30));
      font-weight: var(--nsw-font-normal);
      color: var(--nsw-brand-dark);
      transition: transform nsw.$nsw-transition-duration-slow, color nsw.$nsw-transition-duration-slow;
      pointer-events: none;

      @include nsw.material-icons;

      .nsw-section--invert & {    
        color: var(--nsw-text-dark);
      }
    }

    .nsw-section--invert & {    
      background-color: var(--nsw-off-white);
      color: var(--nsw-text-dark);
    }
  }

  .nsw-accordion__content-wrap {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows nsw.$nsw-transition-duration-slow;
    padding: 0;
  }

  .nsw-accordion__item .nsw-accordion__control:checked ~ .nsw-accordion__content-wrap {
    grid-template-rows: 1fr;
  }

  .nsw-accordion__content {
    overflow: hidden;
    min-block-size: 0;
  }

  .nsw-accordion__content > :first-child {
    padding-top: nsw.rem(16px);
  }

  .nsw-accordion__content > :last-child {
    padding-bottom: nsw.rem(16px);
  }


  .nsw-accordion__control:checked + .nsw-accordion__title::after {
    transform: translateY(-50%) rotate(180deg);
    color: var(--nsw-off-white);

    .nsw-section--invert & {    
      color: var(--nsw-text-dark);
    }
  }

  .nsw-accordion__control:checked + .nsw-accordion__title {
    background-color: var(--nsw-brand-dark);
    color: var(--nsw-text-light);

    .nsw-section--invert & {    
      background-color: var(--nsw-brand-light);
      color: var(--nsw-text-dark);
    }
  }

  .nsw-accordion__control:focus-visible + .nsw-accordion__title {
    @include nsw.nsw-focus;
  }
}
