---
title: Accordion
model: json/accordion.json
---

<main>
  <div class="nsw-bg-white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-lg-8 nsw-offset-lg-2">
              <div class="nsw-wysiwyg-content">
								{{>_accordion model}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
