---
title: Accordion
width: narrow
tabs: true
directory: accordion
intro: An accordion is a series of expandable vertical panels, designed to save space on a page by hiding content and revealing it as required.
figma: https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=0%3A1176
react: https://digitalnsw.github.io/nsw-design-system-react/?path=/docs/content-accordion--accordion
model:
    accordion-1: json/accordion.json
    accordion-2: json/accordion-2.json
---

<h3>Accordion with expand/contract all</h3>
{{#>_docs-example}}{{>_accordion model.accordion-1}}{{/_docs-example}}

<h3>Simple accordion</h3>
{{#>_docs-example}}{{>_accordion model.accordion-2}}{{/_docs-example}}