---
title: Accordion
model: json/accordion.json
guidance: https://digitalnsw.github.io/nsw-design-system-docs/components/accordion/index.html
---

<div class="nsw-docs-example nsw-docs-example--narrow">
  <div class="nsw-docs-component">
		{{>_accordion model}}
  </div>
</div>
{{#> _docs-code }}{{>_accordion model}}{{/ _docs-code }}