---
title: Accordion
width: narrow
tabs: true
directory: accordion
intro: An accordion is a series of expandable vertical panels, designed to save space on a page by hiding content and revealing it as required.
theme: true
figma: https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=21298%3A24889
model:
    accordion-1: json/accordion.json
    accordion-2: json/accordion-2.json
    accordion-4: json/accordion-4.json
    accordion-5: json/accordion-5.json
meta-description: An accordion is a series of expandable vertical panels, designed to save space on a page by hiding content and revealing it as required.
meta-index: true
---

<h2>Details (CSS-core)</h2>

<h3>Regular</h3>
{{#>_docs-example}}{{>_accordion model.accordion-4 type="details"}}{{/_docs-example}}

<h3>Toggle controls (progressively enhanced)</h3>
{{#>_docs-example}}{{>_accordion model.accordion-5 type="details"}}{{/_docs-example}}

<hr class="nsw-m-top-lg"/>

<h2>Checkbox (CSS-core)</h2>

<h3>Regular</h3>
{{#>_docs-example}}{{>_accordion model.accordion-4 type="checkbox"}}{{/_docs-example}}

<h3>Toggle controls (progressively enhanced)</h3>
{{#>_docs-example}}{{>_accordion model.accordion-5 type="checkbox"}}{{/_docs-example}}

<hr class="nsw-m-top-lg"/>

<h2>Legacy (JS-core dependent)</h2>

<h3>Accordion with expand/collapse all</h3>
{{#>_docs-example}}{{>_accordion model.accordion-1 type="js"}}{{/_docs-example}}

<h3>Simple accordion</h3>
{{#>_docs-example}}{{>_accordion model.accordion-2 type="js"}}{{/_docs-example}}
