@use 'sass:color';
@use '../../global/scss/tools' as nsw;

.nsw-quick-exit {
  // padding: nsw.rem(16px) 0;
  background-color: var(--nsw-white);
  color: var(--nsw-text-dark);
  
  &__wrapper {
    @include nsw.container;
    height: 48px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: nsw.rem(16px);
    padding: 0;

    @include nsw.breakpoint('lg') {
      height: 120px;
      gap: nsw.rem(64px);
    }
  }

  &__content {
    display: none;
    
    @include nsw.breakpoint('lg') {
      display: block;
    }
  }
  
  &__cta {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: nsw.rem(8px);
    padding: 0;
    background-color: var(--nsw-status-error);
    color: var(--nsw-white);
    font-family: var(--nsw-font-family);
    font-size: nsw.rem(18px);
    font-weight: var(--nsw-font-bold);
    border: 0;
    border-radius: 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover,
    &:focus {
      background-color: rgba(var(--nsw-status-error-rgb), 0.9);
      text-decoration: none;
      outline: none;
    }

    &:active {
      background-color: var(--nsw-brand-dark);
      outline: none;
    }

    @include nsw.breakpoint('lg') {
      font-size: nsw.rem(24px);
      padding: nsw.rem(54px);
      width: auto;
    }
  }

  &__light {
    background-color: var(--nsw-brand-light);
    color: var(--nsw-text-dark);

    .nsw-quick-exit__wrapper {
      background-color: var(--nsw-brand-light);
    }
  }

  &__dark {
    background-color: var(--nsw-brand-dark);
    color: var(--nsw-text-light);

    .nsw-popover {
      color: var(--nsw-text-dark);
    }

    a {
      @include nsw.link-light;
    }

    .nsw-quick-exit__wrapper {
      background-color: var(--nsw-brand-dark);
    }

    .nsw-quick-exit__popover {
      border-bottom: 2px dotted var(--nsw-text-light);
  
      &:visited {
        color: var(--nsw-text-light);
      }
    }
  }

  .js-more-info {
    margin-left: auto;
  }
}
