<a
  class="nsw-quick-exit"
  href="{{#if safeUrl}}{{safeUrl}}{{else}}https://www.google.com/webhp{{/if}}"
  data-options='{
    "enableEsc": {{#if-equals enableEsc false}}false{{else}}true{{/if-equals}},
    "enableCloak": {{#if-equals enableCloak false}}false{{else}}true{{/if-equals}}
  }'
  rel="nofollow noopener"
  id="nsw-quick-exit"
  aria-label="Quick exit"
>
  <div class="nsw-quick-exit__content">
    <span class="nsw-quick-exit__exit-text">Exit now</span>
  </div>
</a>
