.nsw-quick-exit {
  padding: rem(16px) 0;
  background-color: var(--nsw-white);
  color: var(--nsw-text-dark);

  &__wrapper {
    @include container;
    position: relative;
    display: flex;
    align-items: center;
    gap: rem(64px);
  }

  &__light {
    background-color: var(--nsw-white);
    color: var(--nsw-text-dark);

    .nsw-quick-exit__wrapper {
      background-color: var(--nsw-white);
    }
  }

  &__dark {
    background-color: var(--nsw-brand-dark);
    color: var(--nsw-text-light);

    .nsw-tooltip {
      border-color: var(--nsw-white);
    }

    a {
      @include link-light;
    }

    .nsw-quick-exit__wrapper {
      background-color: var(--nsw-brand-dark);
    }
  }

  .js-more-info {
    margin-left: auto;
  }
}
