@use '../../global/scss/tools' as nsw;

.nsw-quick-exit {
  display: block;
  width: 100%;
  background-color: var(--nsw-white);
  border-top: nsw.rem(4px) solid var(--Status-error, var(--nsw-status-error));
  font-weight: normal;
  cursor: pointer;

  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  &:hover,
  &:focus {
    text-decoration: none;

    .nsw-quick-exit__exit-text {
      text-decoration: underline;
    }
  }

  &:focus {
    position: relative;

    @include nsw.nsw-focus;
    @include nsw.z-index;
    
    .nsw-section--invert & {   
      @include nsw.nsw-focus($color: var(--nsw-focus-light));
    }
  }

  &__content {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: nsw.rem(76px);
    justify-content: center;

    @include nsw.container;

    @include nsw.breakpoint('md') {
      justify-content: left;
    }
  }

  &__description-text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;

    @include nsw.breakpoint('md') {
      position: static;
      width: auto;
      height: auto;
      overflow: visible;
      clip: auto;
      white-space: normal;
      display: inline;
    }

    @include nsw.breakpoint('lg') {
      line-height: nsw.rem(24px);
    }
  }

  &__exit-text {
    display: inline-block;
    margin-left: nsw.rem(4px);
    font-weight: 700;

    &::after {
      content: 'east';
      font-size: inherit;
      line-height: 1;
      margin-left: nsw.rem(4px);
      display: inline-block;
      vertical-align: middle;

      @include nsw.material-icons;
    }
  }

  &__light {
    background-color: var(--nsw-brand-light);
    
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: var(--nsw-text-dark);
      background-color: var(--nsw-brand-light);
    }

    .nsw-quick-exit__description-text,
    .nsw-quick-exit__exit-text {
      color: var(--nsw-text-dark);
    }
  }

  &__dark {
    background-color: var(--nsw-brand-dark);
    color: var(--nsw-text-light);

    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: var(--nsw-white);
      background-color: var(--nsw-brand-dark);
    }

    kbd {
      background-color: transparent;
      border: 1px solid var(--nsw-white);
      color: var(--nsw-text-light);
    }
  }
}
