---
title: Quick exit
tabs: true
directory: quick-exit
intro: Helps users leave a site immediately without drawing attention.
figma: https://figma.com/design/PVrERKnckLTlJSPk12gbtS/NSW-Design-System?node-id=145692-14383&t=pvXydUndklIUkCuU-11
model: json/quick-exit.json
theme: true
meta-description: A standardised quick exit button offers a discreet and accessible safety mechanism, allowing users to swiftly leave sensitive content with a single click.
meta-index: true
---

{{#>_docs-example}}{{>_quick-exit model}}{{/_docs-example}}

<h2>Implementation examples</h2>

<h3>Example 1</h3>
<ul class="nsw-m-bottom-md">
  <li>Cloaking enabled</li>
  <li>Double-Esc activation enabled</li>
</ul>
<button
  class="nsw-button nsw-button--dark"
  data-module="quick-exit"
  data-options='{"safeUrl": "{{model.safeUrl}}", "enableEsc": true, "enableCloak": true}'
  type="button"
>View banner</button>

<h3>Example 2</h3>
<ul class="nsw-m-bottom-md">
  <li>Cloaking disabled</li>
  <li>Double-Esc activation disabled</li>
</ul>
<button
  class="nsw-button nsw-button--dark"
  data-module="quick-exit"
  data-options='{"safeUrl": "{{model.safeUrl}}", "enableEsc": false, "enableCloak": false}'
  type="button"
>View banner</button>
