---
title: Quick exit
page: true
model:  json/quick-exit.json
---

{{#>_theme}}
{{#>_layout-container}}
<h3>Variation 1 - Light theme</h3>
<ul class="nsw-m-bottom-md">
<li>Light theme</li>
<li>Cloaks page immediately on activation</li>
<li>Opens Safe URL in a new tab and places a `display: none` on the current page, also replacing the page title</li>
</ul>

<button class="nsw-button nsw-button--dark"
  data-module="quick-exit"
  data-options='{
    "safeUrl": "{{model.safeUrl}}",
    "description": "{{model.description}}",
    "theme": "light",
    "cloakMode": "visibility"
  }'
  type="button">Initialise banner</button>

<h3>Variation 2 - Dark theme</h3>
<ul class="nsw-m-bottom-md">
<li>Dark theme</li>
<li>Cloaks page immediately on activation</li>
<li>Opens Safe URL in a new tab and places a `display: none` on the current page, also replacing the page title</li>
</ul>

<button class="nsw-button nsw-button--dark"
  data-module="quick-exit"
  data-options='{
    "safeUrl": "{{model.safeUrl}}",
    "description": "{{model.description}}",
    "theme": "dark",
    "enableEsc": true,
    "cloakMode": "display"
  }'
  type="button">Initialise banner</button>
{{/_layout-container}}
{{/_theme}}