---
title: Quick exit
page: true
model:  json/quick-exit.json
---

{{#>_theme}}
{{#>_layout-container}}
<h3>Quick exit feature</h3>
<ul class="nsw-m-bottom-md">
<li>Cloaks page immediately on activation</li>
<li>Navigates the current tab to the Safe URL and places a `display: none` on the current page, also replacing the page title</li>
</ul>

<button class="nsw-button nsw-button--dark"
  data-module="quick-exit"
  data-options='{
    "safeUrl": "{{model.safeUrl}}",
    "description": "{{model.description}}",
    "enableCloak": true
  }'
  type="button">View banner</button>
{{/_layout-container}}
{{/_theme}}