---
title: Link
layout: blank-layout.hbs
---

<h2>Usage</h2>

<p>Use links when you want users to:</p>
<ul>
	<li>Navigate to a different page within the application</li>
	<li>Navigate to an entirely different site</li>
	<li>Jump to an element on the same page</li>
	<li>Link to emails or phone numbers</li>
</ul>

	<p>A user should be able to predict where they will go upon click. When creating content for a link, always indicate to the user where the link will be taking them.</p>
	<p>All links within the same page should have unique text. This helps users easily understand which links they are activating, especially those using assistive technology.</p>
	<p>Use links sparingly and only when necessary. Overloading your content with excessive links can distract readers and make your content appear spammy. Focus on providing value through high-quality content rather than bombarding readers with numerous links.</p>

<h3>When to avoid</h3>

<ul>
	<li>Use a button instead of a link for actions that will change data or manipulate how it is displayed, change a state, or trigger an action. Buttons should never be used for navigational actions.</li>
	<li>Links are for usage in body copy and are not appropriate in titles. Consider using a different component if you're looking for a larger or more prominent call to action, such as a button.</li>
	<li>Avoid vague text such as "click here," URLs as link text, or creating a link from more than just a short sentence. Link texts should be clear and meaningful.</li>
	<li>Don't use end punctuation. If your link is at the very end of a sentence, make sure that the full stop is not part of the linked text.</li>
	<li>Consecutive links should have sufficient space between them so that they appear as separate elements and not one continuous sentence or link.</li>
	<li>Do not use the same link text for different URLs on the same page.</li>
</ul>


<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>
