---
title: Link
layout: blank-layout.hbs
---

<h2>Usage</h2>

<p>Link text should be clear and meaningful.</p>

<p>Use links to:</p>
<ul>
	<li>navigate between different pages and sections</li>
	<li>navigate to an external website</li>
	<li>jump to an element on the same page</li>
	<li>link to information such as emails or phone numbers</li>
</ul>

<h3>Links vs. buttons</h3>

<p>While buttons and links are similar, they differ in usage and behaviour.</p>

<ul>
	<li>Links are used to navigate, directing users to different pages or sections. They are suited for textual content that requires a link to additional information or related resources.</li>
	<li>Buttons are better suited as interactive elements that trigger actions or perform a specific task when clicked or activated, such as submitting a form, initiating downloads, opening modals or dialog boxes or initiating user interactions within the interface.</li>
</ul>

<h3>Link icons</h3>

<p>Using icons that convey meaning can enhance the user experience.</p>

<p>Commonly icons used with links:</p>

<ul>
	<li><strong>External link icon:</strong> To navigate to a different website or web page outside the current domain.</li>
	<li><strong>Download icon:</strong> To view or download a document, such as a PDF or Word file.</li>
	<li><strong>Phone icon:</strong> To call or contact a phone number.</li>
	<li><strong>Email icon:</strong> To open the default email client to compose a new message.</li>
	<li><strong>Calendar icon:</strong> For a link to a calendar, scheduling functionality or an .ical file.</li>
</ul>

<h3>When to avoid</h3>

<p>Do not:</p>

<ul>
	<li>overload content with excessive links, instead use only when necessary</li>
	<li>use generic terms like 'click here', 'see', 'more' or 'more information'</li>
	<li>use a URL for link text. Use link text that clearly identifies the target of the link</li>
	<li>make the link text too long. Only link the main words</li>
	<li>use the same link text for different URLs on the same page</li>
	<li>use end punctuation. If your link is at the very end of a sentence, make sure that the full stop is not part of the linked text</li>
</ul>


<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>
