---
title: Link
layout: blank-layout.hbs
---

<h2>Usage</h2>

<p>Link text should be clear and meaningful.</p>

<p>Use links to:</p>
<ul>
	<li>navigate between different pages and sections</li>
	<li>navigate to an external website</li>
	<li>jump to an element on the same page</li>
	<li>link to information such as emails or phone numbers</li>
</ul>

<h3>Links vs. buttons</h3>

<p>While buttons and links serve similar purposes, there are some differences between them in terms of behavior, and usage.</p>

<p>When to use links or buttons:</p>

<ul>
	<li>Links are primarily used for navigation purposes, directing users to different pages or sections of a website. They are suitable for textual content that requires a link to additional information or related resources.</li>
	<li>Buttons, on the other hand, are best suited for interactive elements that trigger actions or perform a specific task when clicked or activated, such as submitting forms, initiating downloads, opening modals or dialog boxes or initiating user interactions within the interface.</li>
</ul>

<h3>Link icons</h3>

<p>Using icons that convey meaning can enhance the user experience. Here are some commonly used icons for links with semantic meaning:</p>

<ul>
	<li>External link icon: this icon represents an external link, indicating that clicking on it will navigate to a different website or web page outside the current domain.</li>
	<li>Download icon: symbolises a link to view or download a document, such as a PDF or Word file.</li>
	<li>Phone icon: represents a link to call or contact a phone number.</li>
	<li>Email icon: indicates a link that opens the default email client to compose a new message. It is commonly represented as an envelope.</li>
	<li>Calendar icon: typically used to indicate a link to a calendar, scheduling functionality or an .ical file.</li>
</ul>

<h3>When to avoid</h3>

<p>Do not:</p>

<ul>
	<li>use a link for actions that will change data or manipulate how it is displayed, change a state, or trigger an action. A button should be used instead.</li>
	<li>overload content with excessive links, instead use only when necessary</li>
	<li>use text such as "click here", URLs as link text, or create a link from more than just a short sentence</li>
	<li>use the same link text for different URLs on the same page</li>
	<li>use end punctuation. If your link is at the very end of a sentence, make sure that the full stop is not part of the linked text</li>
</ul>


<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>
