@use 'sass:map';
@use '../../global/scss/base/functions' as functions;
@use '../../global/scss/base/mixins' as mixins;
@use '../../global/scss/settings/settings' as settings;

.nsw-link {
  &--button {
    background-color: transparent;
    border: 0;
    padding: 0;

    @include mixins.link;
    @include mixins.font-size('sm');

    &.nsw-small {
      @include mixins.font-size('xs');
    }
  }

  &--icon {
    display: inline-block;
    font-weight: var(--nsw-font-bold);
    text-decoration: none;

    span {
      text-decoration: underline;
    }

    .nsw-material-icons,
    svg {
      font-size: functions.rem(map.get(settings.$nsw-icon-sizes, 20));
      line-height: functions.rem(10px);
      position: relative;
      bottom: functions.rem(-5px);
      text-decoration: none;

      &:first-child {
        margin-right: functions.rem(4px);
      }

      &:last-child {
        margin-left: functions.rem(4px);
      }
    }
  }
}
