{{#if css}}
<a class="nsw-link nsw-link--icon" href="https://digital.nsw.gov.au" target="_blank" aria-describedby="external-link" rel="noopener">
  <span>My Link</span><span class="material-icons-outlined nsw-material-icons" focusable="false" aria-hidden="true">open_in_new</span>
</a>
<span id="external-link" class="sr-only">(opens in new window)</span>{{/if}}
{{#if js}}<a class="js-external" href="https://digital.nsw.gov.au">My Link</a>{{/if}}