{{#if css}}
<a class="nsw-link nsw-link--icon" href="https://digital.nsw.gov.au" target="_blank" aria-describedby="download-link" rel="noopener">
  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">file_download</span><span>My Link (PDF, 123.45 KB)</span>
</a>
<span id="download-link" class="sr-only">(opens in new window)</span>{{/if}}
{{#if js}}<a class="js-download" href="https://digital.nsw.gov.au">My Link</a>{{/if}}