{{#if inline}}<p>
  Maecenas at risus ullamcorper odio facilisis <a href="#">ultrices et</a> et metus.
</p>{{/if}}{{#if icon}}<a class="js-link" href="https://digital.nsw.gov.au">{{#if-equals type "download"}}
  <span class="material-icons nsw-material-icons" title="download file">file_download</span><span>My Link (PDF, 123.45 KB)</span>{{/if-equals}}{{#if-equals type "external"}}
  <span>{{#if content}}{{content}}{{else}}My Link{{/if}}</span><span class="material-icons nsw-material-icons" title="(opens in new window)">open_in_new</span>{{/if-equals}}
</a>{{/if}}
