html {
  @include font-stack;
  font-size: 100%;
  line-height: $base-line-height;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.nsw-ds-example {
  p {
    margin: 0;
  }

  table {
    td {
      vertical-align: middle;
    }
  }
}

.nsw-code {
  background-color: $light10;
  font-family: monospace;
  white-space: pre-wrap;
  padding: rem(16);

  margin: rem(map-get($components-spacing, mobile)) 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint('md') {
    margin: rem(map-get($components-spacing, desktop)) 0;
  }
}

.nsw-ds-example-box {
  background-color: $light40;
  min-height: rem(56);
}

.nsw-ds-example-container {
  background-color: $light40;
  min-height: rem(150);
}
