html {
  @include font-stack;
  font-size: 100%;
  line-height: $base-line-height;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.nsw-ds-example-box {
  background-color: $light40;
  min-height: rem(56);
}

.nsw-ds-example-container {
  background-color: $light40;
  min-height: rem(150);
}
