html {
  line-height: get-line-height();
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.nsw-ds-example .nsw-col,
.nsw-ds-example [class^='nsw-layout__'] {
  background: $light10;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  border: solid 1px $light40;
  color: $dark80;
}

.nsw-ds-example [class^='nsw-layout__'] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100%;
  font-size: 1.5rem;
}
