.nsw-container {
  @include container;

  &--flush {
    padding-left: 0;
    padding-right: 0;
  }
}

.nsw-grid {
  @include create-grid();

  > .nsw-col {
    @include grid-column;
  }

  &--no-gutters {
    margin-left: 0;
    margin-right: 0;

    > .nsw-col {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &--spaced {
    margin-top: rem(-$grid-gutters);
    margin-bottom: rem(-$grid-gutters);

    @include breakpoint('md') {
      margin-top: rem(-$grid-gutters*2);
      margin-bottom: rem(-$grid-gutters*2);
    }

    > .nsw-col {
      padding-top: rem($grid-gutters*2);
      padding-bottom: rem($grid-gutters*2);

      @include breakpoint('md') {
        padding-top: rem($grid-gutters*4);
        padding-bottom: rem($grid-gutters*4);
      }
    }
  }

  &-overlay {
    .nsw-container {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }

    .nsw-grid {
      height: 100%;

      > .nsw-col {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    .nsw-col {
      > div {
        height: 100%;
        background-color: $nsw-primary-highlight;
        opacity: 0.1;
      }
    }
  }
}

.nsw-row {
  @include create-row();

  > .nsw-col {
    @include grid-column;
  }
}

@include grid-columns;
@include grid-columns-generator;


.nsw-page-layout {
  @include create-grid();

  &__main {
    @include create-column-default();

    &:not(:first-child) {
      @include create-column(8, $desktop-breakpoint);
    }

    &:not(:last-child) {
      @include create-column(8, $desktop-breakpoint);
    }
  }

  &__sidebar {
    @include create-column-default();
    @include create-column(4, $desktop-breakpoint);

    &:first-child {
      @include breakpoint('lg') {
        padding-right: rem($grid-gutters*2 + $layout-gap);
      }
    }

    &:last-child {
      @include breakpoint($desktop-breakpoint) {
        padding-left: rem($grid-gutters*2 + $layout-gap);
      }
    }

    &--desktop {
      display: none;

      @include breakpoint($desktop-breakpoint) {
        display: block;
      }
    }
  }
}

.nsw-layout {
  display: block;
}

.nsw-layout--sidebar-left {
  @include breakpoint('md') {
    display: grid;
    grid-gap: rem($layout-gap);
    grid-template:
      'sidebar main' auto /
      minmax(rem($layout-sidebar-minwidth), $layout-sidebar-maxwidth) 1fr;
  }
}

.nsw-layout--sidebar-right {
  @include breakpoint('md') {
    display: grid;
    grid-gap: rem($layout-gap);
    grid-template:
      'main sidebar' auto /
      1fr minmax(rem($layout-sidebar-minwidth), $layout-sidebar-maxwidth);
  }
}


.nsw-layout__sidebar {
  @include nsw-spacing(margin-top, xl);
  grid-area: sidebar;

  &--nav {
    display: none;

    @include breakpoint('md') {
      display: block;
    }
  }
}

.nsw-layout__content {
  @include nsw-spacing(margin-top, xl);
  grid-area: main;
}
