$icon-colors: (
  error: var(--nsw-notification-error-red),
  success: var(--nsw-notification-success-green),
  info: var(--nsw-notification-info-blue),
  warning: var(--nsw-notification-warning-orange)
);

$icon-angles: (90, 180, 270);

.nsw-icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  fill: var(--nsw-primary-dark);

  @each $color, $variant in $icon-colors {
    &--#{"" + $color} {
      fill: map-get($icon-colors, $color);
    }
  }

  @each $angle, $variant in $icon-angles {
    &--rotate-#{"" + $angle} {
      transform: rotate(#{$angle}deg);
    }
  }
}

.nsw-material-icons {
  color: var(--nsw-primary-dark);
  font-size: rem(30px);

  @each $color, $variant in $icon-colors {
    &--#{"" + $color} {
      color: map-get($icon-colors, $color);
    }
  }

  @each $angle, $variant in $icon-angles {
    &--rotate-#{"" + $angle} {
      transform: rotate(#{$angle}deg);
    }
  }
}
