.nsw-banner {
  border-bottom: 1px solid $light20;
  position: relative;

  &--dark {
    background-color: $nsw-primary-blue;

    h1,
    .nsw-intro {
      color: $white;
    }
  }

  &__container {
    @include container;
  }

  &__wrapper {
    @include create-grid();
  }

  &__content {
    @include create-column-default();
    @include create-column(7, md);
    @include create-column(6, xl);

    @include breakpoint('xs') { 
      padding-top: rem(32px);
      padding-bottom: rem(32px);
    }

    @include breakpoint('md') { 
      padding-top: rem(88px);
      padding-bottom: rem(88px);
    }

    .nsw-banner--wide & {
      @include create-column(8, md);
      @include create-column(7, xl);      
    } 

    h1 {
      .nsw-banner--dark & {
        color: $white; 
      }   
    }

    .nsw-button {
      margin: rem(24px) 0 0 0;
    }

    .nsw-intro {
      margin: rem(8px) 0 0 0;

      @include breakpoint('md') {
        margin-top: rem(16px);
      }    

      .nsw-banner--dark & {
        color: $white; 
      }   
    }
  }

  &__links {
    @include create-column-default();
    @include create-column(4, md);
    @include create-column(4, xl, 1);

    @include breakpoint('xs') { 
      margin-top: rem(-8px);
      padding-top: 0;
      padding-bottom: rem(32px);
    }

    @include breakpoint('md') { 
      margin-top: 0;
      padding-top: rem(88px);
      padding-bottom: rem(88px);
    }
  }

  &__list {
    border-left: solid 4px $nsw-primary-highlight;
    padding-left: rem(16px);
    position: relative;
    z-index: 1;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      @include nsw-spacing(margin-top, md);
      display: block;

      &:first-child {
        margin-top: 0;
      }
    }

    a {
      @include text-link;
    }
  }

  &__sub-title {
    @include nsw-spacing(margin, none);
    @include font-stack(heading);
    @include font-size(md);
    @include nsw-spacing(margin-bottom, md);
  }

  &__box {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: percentage(5 / $grid-columns);
    padding-left: rem($grid-gutters*2);
    overflow: hidden;

    @include breakpoint('md') {
      display: flex;
    }

    @include breakpoint('xl') {
      width: 50%;
      padding-left: rem($container-max-width/12+$grid-gutters*2);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: $nsw-primary-blue;
    opacity: 0.2;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 206 221' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000'%3E%3Cpath d='M224.478 230.442a59.06 59.06 0 0050.777-41.65 186.634 186.634 0 007.671-53.692 264.557 264.557 0 00-5.293-57.911c0-2.071-1.227-5.37-3.835-5.906-2.608-.537-4.909 2.224-6.52 3.528-1.611 1.304-40.116 34.977-56.837 76.703a98.641 98.641 0 00-9.051 44.104 44.95 44.95 0 005.369 26.233 20.56 20.56 0 0017.719 8.591zM96.691 187.181c13.96 24.315 33.749 38.352 55.763 38.735a69.95 69.95 0 01-24.238-34.439 186.857 186.857 0 01-7.67-56.53 327.595 327.595 0 016.443-62.053 12.887 12.887 0 016.443-9.051c-22.397-16.645-46.022-26.386-51.468-26.54-2.838 0-4.219 1.228-5.139 4.526-.92 3.298-3.528 11.045-2.838 44.411.537 28.994 4.449 69.033 22.704 100.941z'/%3E%3Cpath d='M144.86 74.659c-1.534-1.304-3.988-4.066-6.443-3.529-2.454.537-3.451 3.835-3.912 5.906a272.549 272.549 0 00-5.215 57.911 189.677 189.677 0 007.21 53.692 58.676 58.676 0 0051.161 41.497 26.098 26.098 0 008.821-1.611 22.19 22.19 0 003.911-2.148 34.466 34.466 0 01-3.144-5.292 55.381 55.381 0 01-4.679-23.778 121.656 121.656 0 019.357-47.173c-16.797-41.573-55.533-74.171-57.067-75.475zM205.916 137.785a208.307 208.307 0 0139.733-54.383 339.738 339.738 0 00-36.588-78.16c-.997-1.458-1.764-2.378-3.221-2.378-1.458 0-2.148.92-3.145 2.378a342.919 342.919 0 00-36.588 78.16 208.373 208.373 0 0139.809 54.383zM175.542 36.152c-6.29-5.215-25.466-20.326-28.227-22.32a6.367 6.367 0 00-5.523-1.764c-1.917 0-3.221 2.147-4.142 4.602 0 0-4.142 13.653-8.437 33.52a366.48 366.48 0 0130.681 24.467 295.763 295.763 0 0115.648-38.505zM41.464 143.768a303.528 303.528 0 0127.92-12.042 274.545 274.545 0 01-3.451-38.812 377.814 377.814 0 00-40.116-2.071c-3.912.46-5.446 1.304-6.673 3.068a10.355 10.355 0 00-.92 6.136c.383 4.372 4.448 19.713 23.24 43.721zM89.097 191.553a167.744 167.744 0 01-18.102-51.007 317.926 317.926 0 00-63.663 33.519c-5.14 3.452-6.597 5.983-6.75 9.205-.153 3.221 3.222 10.354 28.994 23.01 22.474 10.892 53.692 16.645 91.046 19.176a91.196 91.196 0 01-31.525-33.903z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: rem(206px);
    background-position: right bottom;
    background-repeat: no-repeat;

    .nsw-banner--dark & {
      background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 206 221' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23FFF'%3E%3Cpath d='M224.478 230.442a59.06 59.06 0 0050.777-41.65 186.634 186.634 0 007.671-53.692 264.557 264.557 0 00-5.293-57.911c0-2.071-1.227-5.37-3.835-5.906-2.608-.537-4.909 2.224-6.52 3.528-1.611 1.304-40.116 34.977-56.837 76.703a98.641 98.641 0 00-9.051 44.104 44.95 44.95 0 005.369 26.233 20.56 20.56 0 0017.719 8.591zM96.691 187.181c13.96 24.315 33.749 38.352 55.763 38.735a69.95 69.95 0 01-24.238-34.439 186.857 186.857 0 01-7.67-56.53 327.595 327.595 0 016.443-62.053 12.887 12.887 0 016.443-9.051c-22.397-16.645-46.022-26.386-51.468-26.54-2.838 0-4.219 1.228-5.139 4.526-.92 3.298-3.528 11.045-2.838 44.411.537 28.994 4.449 69.033 22.704 100.941z'/%3E%3Cpath d='M144.86 74.659c-1.534-1.304-3.988-4.066-6.443-3.529-2.454.537-3.451 3.835-3.912 5.906a272.549 272.549 0 00-5.215 57.911 189.677 189.677 0 007.21 53.692 58.676 58.676 0 0051.161 41.497 26.098 26.098 0 008.821-1.611 22.19 22.19 0 003.911-2.148 34.466 34.466 0 01-3.144-5.292 55.381 55.381 0 01-4.679-23.778 121.656 121.656 0 019.357-47.173c-16.797-41.573-55.533-74.171-57.067-75.475zm61.056 63.126a208.307 208.307 0 0139.733-54.383 339.738 339.738 0 00-36.588-78.16c-.997-1.458-1.764-2.378-3.221-2.378-1.458 0-2.148.92-3.145 2.378a342.919 342.919 0 00-36.588 78.16 208.373 208.373 0 0139.809 54.383zM175.542 36.152c-6.29-5.215-25.466-20.326-28.227-22.32a6.367 6.367 0 00-5.523-1.764c-1.917 0-3.221 2.147-4.142 4.602 0 0-4.142 13.653-8.437 33.52a366.48 366.48 0 0130.681 24.467 295.763 295.763 0 0115.648-38.505zM41.464 143.768a303.528 303.528 0 0127.92-12.042 274.545 274.545 0 01-3.451-38.812 377.814 377.814 0 00-40.116-2.071c-3.912.46-5.446 1.304-6.673 3.068a10.355 10.355 0 00-.92 6.136c.383 4.372 4.448 19.713 23.24 43.721zm47.633 47.785a167.744 167.744 0 01-18.102-51.007 317.926 317.926 0 00-63.663 33.519c-5.14 3.452-6.597 5.983-6.75 9.205-.153 3.221 3.222 10.354 28.994 23.01 22.474 10.892 53.692 16.645 91.046 19.176a91.196 91.196 0 01-31.525-33.903z'/%3E%3C/g%3E%3C/svg%3E");  
    } 
  }
}
