.nsw-banner {
  background-color: $white;
  border-bottom: 1px solid $light20;
  position: relative;

  &--dark {
    background-color: $nsw-primary-blue;

    h1,
    .nsw-intro {
      color: $white;
    }
  }

  &__container {
    @include container;
  }

  &__wrapper {
    @include create-grid();
  }

  &__content {
    @include create-column-default();
    @include create-column(7, md);
    @include create-column(6, xl);

    @include breakpoint('xs') { 
      padding-top: rem(32px);
      padding-bottom: rem(32px);
    }

    @include breakpoint('md') { 
      padding-top: rem(88px);
      padding-bottom: rem(88px);
      min-height: rem(350px);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .nsw-banner--wide & {
      @include create-column(8, md);
      @include create-column(7, xl);      
    } 

    .nsw-banner--featured & {
      @include breakpoint('md') { 
        min-height: 0;
        display: block;
      }   
    } 

    h1 {
      .nsw-banner--dark & {
        color: $white; 
      }   
    }

    .nsw-button {
      margin: rem(24px) 0 0 0;
    }

    .nsw-intro {
      margin: rem(8px) 0 0 0;

      @include breakpoint('md') {
        margin-top: rem(16px);
      }    

      .nsw-banner--dark & {
        color: $white; 
      }   
    }
  }

  &__links {
    @include create-column-default();
    @include create-column(4, md);
    @include create-column(4, xl, 1);

    @include breakpoint('xs') { 
      margin-top: rem(-8px);
      padding-top: 0;
      padding-bottom: rem(32px);
    }

    @include breakpoint('md') { 
      margin-top: 0;
      padding-top: rem(88px);
      padding-bottom: rem(88px);
    }
  }

  &__list {
    border-left: solid 4px $nsw-primary-highlight;
    padding-left: rem(16px);
    position: relative;
    z-index: 1;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      @include nsw-spacing(margin-top, md);
      display: block;

      &:first-child {
        margin-top: 0;
      }
    }

    a {
      @include text-link;
    }
  }

  &__sub-title {
    @include nsw-spacing(margin, none);
    @include font-stack(heading);
    @include font-size(md);
    @include nsw-spacing(margin-bottom, md);
  }

  &__box {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: percentage(5 / $grid-columns);
    padding-left: rem($grid-gutters*2);
    overflow: hidden;

    @include breakpoint('md') {
      display: flex;
    }

    @include breakpoint('xl') {
      width: 50%;
      padding-left: rem($container-max-width/12+$grid-gutters*2);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: $nsw-primary-blue;
    opacity: 0.2;
    background-image: url("data:image/svg+xml,%3Csvg width='206' height='221' viewBox='0 0 206 221' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M206 220.396C202.114 212.677 200.499 203.989 201.364 195.358C201.054 184.161 202.627 173.022 205.987 162.404L206 220.396Z' fill='black'/%3E%3Cpath d='M120.297 134.157C119.944 153.449 122.538 172.681 127.988 191.18C131.574 202.541 137.949 212.761 146.471 220.923H130.78C117.452 214.757 105.636 203.07 96.3767 186.847C78.0713 154.661 74.1487 114.273 73.6103 85.0263C72.9181 51.3695 75.5332 43.555 76.4561 40.228C77.3791 36.901 78.7635 35.6631 81.6093 35.6631C87.0701 35.8178 110.759 45.644 133.218 62.4337C131.532 63.3743 130.077 64.6825 128.959 66.2622C127.842 67.842 127.089 69.6533 126.757 71.5636C122.629 92.1739 120.466 113.133 120.297 134.157Z' fill='black'/%3E%3Cpath d='M138.218 69.7848C140.679 69.2432 143.14 72.0286 144.679 73.3439C146.217 74.6592 185.058 107.542 201.902 149.478C195.658 164.553 192.468 180.73 192.519 197.061C192.304 205.254 193.885 213.393 197.147 220.901H160.662C158.901 219.755 157.196 218.511 155.556 217.172C146.41 209.71 139.7 199.658 136.295 188.318C131.322 170.706 128.887 152.466 129.065 134.158C128.733 114.554 130.486 94.971 134.295 75.7424C134.757 73.6534 135.757 70.3264 138.218 69.7848Z' fill='black'/%3E%3Cpath d='M202.671 3.32198C203.671 1.85192 204.524 0.923462 205.985 0.923462V137.02C195.726 116.677 182.16 98.1495 165.983 82.1638C174.864 54.4339 187.19 27.9436 202.671 3.32198Z' fill='black'/%3E%3Cpath d='M175.444 34.502C169.137 29.2407 149.909 13.9985 147.14 11.9868C146.423 11.2704 145.547 10.7355 144.584 10.4261C143.621 10.1167 142.599 10.0417 141.602 10.2073C139.679 10.2073 138.372 12.3737 137.449 14.8496C137.449 14.8496 133.295 28.6217 128.988 48.661C139.674 56.3296 149.944 64.5686 159.754 73.3426C164.072 60.0417 169.315 47.0628 175.444 34.502V34.502Z' fill='black'/%3E%3Cpath d='M40.9992 143.056C50.1238 138.539 59.4677 134.484 68.9956 130.908C66.9215 117.957 65.7649 104.874 65.5345 91.7581C52.1723 90.3447 38.7448 89.6474 25.3089 89.6691C21.3863 90.1333 19.848 90.9844 18.6174 92.7639C17.688 94.6838 17.3659 96.844 17.6945 98.9537C18.079 103.364 22.1554 118.838 40.9992 143.056V143.056Z' fill='black'/%3E%3Cpath d='M70.6112 139.805C73.8532 157.831 79.9835 175.208 88.7627 191.257C94.9485 202.855 103.521 212.954 113.874 220.901H79.6924C59.9378 217.617 42.8666 212.835 29.078 206.113C3.23519 193.346 -0.14899 186.151 0.00483691 182.901C0.158663 179.652 1.62001 177.098 6.7732 173.617C26.7122 159.953 48.1286 148.61 70.6112 139.805Z' fill='black'/%3E%3C/svg%3E%0A");
    background-size: rem(206px);
    background-position: right bottom;
    background-repeat: no-repeat;

    .nsw-banner--dark & {
      background-image: url("data:image/svg+xml,%3Csvg width='206' height='221' viewBox='0 0 206 221' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M206 220.396C202.114 212.677 200.499 203.989 201.364 195.358C201.054 184.161 202.627 173.022 205.987 162.404L206 220.396Z' fill='white'/%3E%3Cpath d='M120.297 134.157C119.944 153.449 122.538 172.681 127.988 191.18C131.574 202.541 137.949 212.761 146.471 220.923H130.78C117.452 214.757 105.636 203.07 96.3767 186.847C78.0713 154.661 74.1487 114.273 73.6103 85.0263C72.9181 51.3695 75.5332 43.555 76.4561 40.228C77.3791 36.901 78.7635 35.6631 81.6093 35.6631C87.0701 35.8178 110.759 45.644 133.218 62.4337C131.532 63.3743 130.077 64.6825 128.959 66.2622C127.842 67.842 127.089 69.6533 126.757 71.5636C122.629 92.1739 120.466 113.133 120.297 134.157Z' fill='white'/%3E%3Cpath d='M138.218 69.7848C140.679 69.2432 143.14 72.0286 144.679 73.3439C146.217 74.6592 185.058 107.542 201.902 149.478C195.658 164.553 192.468 180.73 192.519 197.061C192.304 205.254 193.885 213.393 197.147 220.901H160.662C158.901 219.755 157.196 218.511 155.556 217.172C146.41 209.71 139.7 199.658 136.295 188.318C131.322 170.706 128.887 152.466 129.065 134.158C128.733 114.554 130.486 94.971 134.295 75.7424C134.757 73.6534 135.757 70.3264 138.218 69.7848Z' fill='white'/%3E%3Cpath d='M202.671 3.32198C203.671 1.85192 204.524 0.923462 205.985 0.923462V137.02C195.726 116.677 182.16 98.1495 165.983 82.1638C174.864 54.4339 187.19 27.9436 202.671 3.32198Z' fill='white'/%3E%3Cpath d='M175.444 34.502C169.137 29.2407 149.909 13.9985 147.14 11.9868C146.423 11.2704 145.547 10.7355 144.584 10.4261C143.621 10.1167 142.599 10.0417 141.602 10.2073C139.679 10.2073 138.372 12.3737 137.449 14.8496C137.449 14.8496 133.295 28.6217 128.988 48.661C139.674 56.3296 149.944 64.5686 159.754 73.3426C164.072 60.0417 169.315 47.0628 175.444 34.502V34.502Z' fill='white'/%3E%3Cpath d='M40.9992 143.056C50.1238 138.539 59.4677 134.484 68.9956 130.908C66.9215 117.957 65.7649 104.874 65.5345 91.7581C52.1723 90.3447 38.7448 89.6474 25.3089 89.6691C21.3863 90.1333 19.848 90.9844 18.6174 92.7639C17.688 94.6838 17.3659 96.844 17.6945 98.9537C18.079 103.364 22.1554 118.838 40.9992 143.056V143.056Z' fill='white'/%3E%3Cpath d='M70.6112 139.805C73.8532 157.831 79.9835 175.208 88.7627 191.257C94.9485 202.855 103.521 212.954 113.874 220.901H79.6924C59.9378 217.617 42.8666 212.835 29.078 206.113C3.23519 193.346 -0.14899 186.151 0.00483691 182.901C0.158663 179.652 1.62001 177.098 6.7732 173.617C26.7122 159.953 48.1286 148.61 70.6112 139.805Z' fill='white'/%3E%3C/svg%3E%0A");
    }
  }
}
