---
title: Hero banner
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Use hero banners to:</p>
<ul>
	<li>introduce and give context to the product or service </li>
	<li>communicate and drive users to a specific call to action</li>
</ul>
<p>Do:</p>
<ul>
	<li>use simple and concise messaging</li>
	<li>use descriptive call to actions so the user is aware of the action they are performing </li>
	<li>ensure call to actions are relevant to your users </li>
	<li>only use text and visual elements that support your primary message and do not detract from it </li>
</ul>

<h3>Hero banner variants</h3>
<p>The Hero banner can be styled in different ways to effectively communicate the purpose of the product or service.</p>
<ul>
	<li><strong>Headline and copy</strong> -  Displays a headline and description. Use to introduce and give further context to the service or product. This option may feature an image where it is relevant and impactful.</li>
	<li><strong>Call to action</strong> -  Introduces a primacy call to action button. Use to highlight the primary task or piece of information, and allow the user to take quick action. This option may feature an image where it is relevant and impactful.</li>
	<li><strong>Featured list</strong> - Displays a list of linked content. Use to surface high priority information that is relevant and valuable to the user in order for them to access quickly. Can be used when a product or service has multiple high priority goals. List title is optional and can be removed when not required. Images and call to action buttons should not be featured with this option so the list content stands out as the main point of focus for the user. Only use with white background to ensure link style and highlight bar are readable and stand out against the background. </li>
</ul>

<h3>When to avoid</h3>
<p>Do not use:</p>
<ul>
	<li>for sites or products with large volumes of content where users may search for a variety of options, consider Hero search </li>
	<li>for sites or products where the primary navigation of your users is via search, consider Hero Search </li>
	<li>for landing, category or content pages within a site, consider H1 and Intro text typography styles</li>
</ul>

<h2>How this component works</h2>
<p><strong>Using images</strong></p>
<p>When using images incorrectly, it can misguide users by detracting their attention from the main product or service goal. Test your visual elements carefully and ensure you:</p>
<ul>
	<li>test banner without an image and only add where it adds value to the user </li>
	<li>use images that are relevant and impactful </li>
	<li>use images with a vertical and horizontal centre focal point so it is always visible. Ensure the image’s focal point remains visible on large and small screens</li>
</ul>
<p>Do not: </p>
<ul>
	<li>add for decorative purposes only </li>
</ul>
<p><strong>Dark and light versions</strong></p>
<p>By default, the background of the hero banner is NSW Brand Blue to visually separate the component from the surrounding content and draw the users attention. If the NSW Brand Blue is too heavy or creates too much visual noise, the light version can be used. </p>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>
