---
title: Hero banner
guidance: https://digitalnsw.github.io/nsw-design-system-docs/components/banner/index.html
blank: true
---

<h3>Headline and copy</h3>

{{#>_docs-example}}
{{>_banner 
	wide=true 
	dark=true 
	heading="Helping you deliver great government services" 
	copy="Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance"
}}
{{/_docs-example}}

{{#>_docs-example separated="true"}}
{{>_banner 
	wide=true 
	dark=false 
	heading="Helping you deliver great government services" 
	copy="Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance"
}}
{{/_docs-example}}

<h3>Headline and copy - with image</h3>

{{#>_docs-example}}
{{>_banner 
	wide=false 
	dark=true 
	heading="Helping you deliver great government services" 
	copy="Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance"
  img="https://picsum.photos/id/237/2000/1250"
}}
{{/_docs-example}}

{{#>_docs-example separated="true"}}
{{>_banner 
	wide=false 
	dark=false 
	heading="Helping you deliver great government services" 
	copy="Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance"
  img="https://picsum.photos/id/237/2000/1250"
}}
{{/_docs-example}}

<h3>Call to action</h3>

{{#>_docs-example}}
{{>_banner 
	wide=true 
	dark=true 
	heading="Helping you deliver great government services" 
	copy="Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance"
  cta="View Digital Service Toolkit"
}}
{{/_docs-example}}

{{#>_docs-example separated="true"}}
{{>_banner 
	wide=true 
	dark=false 
	heading="Helping you deliver great government services" 
	copy="Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance"
  cta="View Digital Service Toolkit"
}}
{{/_docs-example}}

<h3>Call to action - with image</h3>

{{#>_docs-example}}
{{>_banner 
	wide=false 
	dark=true 
	heading="Helping you deliver great government services" 
	copy="Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance"
  cta="View Digital Service Toolkit"
  img="https://picsum.photos/id/237/2000/1250"
}}
{{/_docs-example}}

{{#>_docs-example separated="true"}}
{{>_banner 
	wide=false 
	dark=false 
	heading="Helping you deliver great government services" 
	copy="Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance"
  cta="View Digital Service Toolkit"
  img="https://picsum.photos/id/237/2000/1250"
}}
{{/_docs-example}}

<h3>Featured list</h3>

{{#>_docs-example}}
{{>_banner 
	wide=false 
	dark=false 
	heading="Helping you deliver great government services" 
	copy="Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance"
  links-title="Key coronavirus links"
  links=(split "COVIDSafe App;Current COVID-19 case locations;Travel to and from NSW;Health and wellbeing;Business and work;COVID-19 testing centres")
}}
{{/_docs-example}}
