<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Global alert</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="/nsw-design-system/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/nsw-design-system/docs/css/docs.css">
</head>

<body class="nsw-body-content">

<div class="nsw-sitewide-message js-sitewide-message" role="alert">
  <div class="nsw-sitewide-message__wrapper">
    <div class="nsw-sitewide-message__content">
      <h2 class="nsw-sitewide-message__title">State of Emergency for NSW</h2>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area.</p>
    </div>
    <a href="#" class="nsw-button">More information</a>
    <button type="button" class="nsw-sitewide-message__close">
      <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</i>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>
<div class="nsw-sitewide-message nsw-sitewide-message--light js-sitewide-message" role="alert">
  <div class="nsw-sitewide-message__wrapper">
    <div class="nsw-sitewide-message__content">
      <h2 class="nsw-sitewide-message__title">State of Emergency for NSW</h2>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area.</p>
    </div>
    <a href="#" class="nsw-button">More information</a>
    <button type="button" class="nsw-sitewide-message__close">
      <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</i>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>
<div class="nsw-sitewide-message nsw-sitewide-message--critical js-sitewide-message" role="alert">
  <div class="nsw-sitewide-message__wrapper">
    <div class="nsw-sitewide-message__content">
      <h2 class="nsw-sitewide-message__title">State of Emergency for NSW</h2>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area.</p>
    </div>
    <a href="#" class="nsw-button">More information</a>
    <button type="button" class="nsw-sitewide-message__close">
      <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</i>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>
<div class="nsw-sitewide-message js-sitewide-message" role="alert">
  <div class="nsw-sitewide-message__wrapper">
    <div class="nsw-sitewide-message__content">
      <h2 class="nsw-sitewide-message__title">State of Emergency for NSW</h2>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area. <a href="#" class="nsw-sitewide-message__link">More information</a></p>
    </div>
    <button type="button" class="nsw-sitewide-message__close">
      <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</i>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>
<div class="nsw-sitewide-message nsw-sitewide-message--light js-sitewide-message" role="alert">
  <div class="nsw-sitewide-message__wrapper">
    <div class="nsw-sitewide-message__content">
      <h2 class="nsw-sitewide-message__title">State of Emergency for NSW</h2>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area. <a href="#" class="nsw-sitewide-message__link">More information</a></p>
    </div>
    <button type="button" class="nsw-sitewide-message__close">
      <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</i>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>
<div class="nsw-sitewide-message nsw-sitewide-message--critical js-sitewide-message" role="alert">
  <div class="nsw-sitewide-message__wrapper">
    <div class="nsw-sitewide-message__content">
      <h2 class="nsw-sitewide-message__title">State of Emergency for NSW</h2>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area. <a href="#" class="nsw-sitewide-message__link">More information</a></p>
    </div>
    <button type="button" class="nsw-sitewide-message__close">
      <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</i>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>

  <script src="/nsw-design-system/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
</body>
</html>
