name: build-deploy-surge-backup
on:
  push:
    branches:
      - 'master'
  workflow_dispatch:
jobs:
  build-staging:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 16
      - run: npm install
      - run: npm run starterkit:build
      - uses: actions/upload-artifact@v6
        with:
          name: dist
          path: |
            dist
  deploy-staging:
    needs: build-staging
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - run: npm install -g surge
      - uses: actions/download-artifact@v7
        with:
          name: dist
          path: |
            dist
      - run: surge ./dist ${{ secrets.SURGE_DOMAIN_BACKUP }} --token ${{ secrets.SURGE_TOKEN }}
