name: publish-package
on:
  workflow_dispatch:
    inputs:
      semver:
        description: 'major, minor or patch'
        required: true
        default: 'patch'

permissions:
  id-token: write
  contents: write

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'
      - run: . ./build-script/verify-branch.sh ${GITHUB_REF##*/}
      - run: |
          npm ci
          npm run release:${{ github.event.inputs.semver }}
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git config --global user.name ${{ github.actor }}
          npm run commit && npm run git-tag
      - run: npm publish --provenance --access public
