.nsw-form-label {
  @include font-size('sm');
  font-weight: var(--nsw-font-bold);
  display: block;

  &-small {
    font-weight: normal;
  }

  + input,
  + textarea,
  + select {
    margin-top: rem(4px);
  }
}

*:not(legend) + .nsw-form-label {
  @include nsw-spacing(margin-top, md);
}

.nsw-form-required {
  &::after {
    content: ' *';
    color: var(--nsw-notification-error-red);
  }
}

.nsw-form-input,
.nsw-form-select {
  @include font-size('sm');
  @include nsw-spacing(padding, sm md);
  border-radius: var(--nsw-border-radius);
  font-family: var(--nsw-font-family);
  background-color: var(--nsw-shade-light);
  color: var(--nsw-text-dark);
  border: 1px solid var(--nsw-shade-dark-20);
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
  width: 100%;

  &:hover {
    @include nsw-hover;
  }

  &:focus {
    @include nsw-focus;
  }

  &:disabled {
    background-color: var(--nsw-shade-light-5);
    border-color: var(--nsw-shade-light-20);
    color: var(--nsw-shade-light-20);
    cursor: not-allowed;
  }


  &[aria-invalid='true'],
  &.has-error {
    border-color: var(--nsw-notification-error-red);
    border-width: 2px;

    &:hover {
      background-color: var(--nsw-notification-error-red-bg);
    }
  }
}

.nsw-form-date {
  padding: 0;
  margin: 0;
  border: 0;

  &-wrapper {
    display: flex;
    float: left;
    width: 100%;
    margin: 0 rem(-8px);

    > div {
      padding: 0 rem(8px);
    }
  }

  &-small {
    width: rem(74px);
  }

  &-large {
    width: rem(116px);
  }
}

.nsw-form-select {
  @include background-svg(chevron-down, var(--nsw-primary-dark));
  @include nsw-spacing(padding-right, xxl);
  background-repeat: no-repeat;
  background-position: right rem(16px) center;
  background-size: rem(16px) auto;

  &:disabled {
    @include background-svg(chevron-down, var(--nsw-shade-light-20));
  }

  option {
    background-color: var(--nsw-shade-light);
  }
}

.nsw-form-checkbox,
.nsw-form-radio {
  clear: left;
}

.nsw-form-checkbox__input,
.nsw-form-radio__input {
  position: absolute;
  opacity: 0;

  &:hover + .nsw-form-checkbox__label::before,
  &:hover + .nsw-form-radio__label::before {
    @include nsw-hover;
  }

  &:checked + .nsw-form-checkbox__label::after {
    @include background-svg(tick, var(--nsw-text-light));
    background-color: var(--nsw-primary-dark);
  }

  &:checked + .nsw-form-radio__label::after {
    background-color: var(--nsw-primary-dark);
  }

  &:disabled {
    + .nsw-form-checkbox__label,
    + .nsw-form-radio__label {
      cursor: not-allowed;
    }

    + .nsw-form-checkbox__label::before,
    + .nsw-form-radio__label::before {
      border-color: var(--nsw-shade-light-20);
      background-color: var(--nsw-shade-light-5);
    }

    &:checked + .nsw-form-checkbox__label::after,
    &:checked + .nsw-form-radio__label::after {
      background-color: var(--nsw-shade-light-20);
    }
  }

  &:focus + .nsw-form-checkbox__label::before {
    @include nsw-focus;
  }

  &:focus + .nsw-form-radio__label::before {
    box-shadow: 0 0 0 3px var(--nsw-text-light), 0 0 0 6px var(--nsw-text-active);
  }

  &[aria-invalid='true'] + .nsw-form-checkbox__label,
  &.has-error + .nsw-form-checkbox__label {
    &:hover::before {
      background-color: var(--nsw-notification-error-red-bg);
    }

    &::before {
      border-width: 2px;
      border-color: var(--nsw-notification-error-red);
    }
  }
}

.nsw-form-checkbox__label,
.nsw-form-radio__label {
  @include font-size('sm');
  @include nsw-spacing(margin-top, md);
  @include nsw-spacing(padding-left, xxl);
  @include nsw-spacing(padding-top, xs);
  @include nsw-spacing(padding-bottom, xs);
  min-height: rem(32px);
  display: block;
  position: relative;

  &::before {
    @include nsw-spacing(margin-right, md);
    content: '';
    width: rem(32px);
    height: rem(32px);
    border: 1px var(--nsw-shade-dark-20) solid;
    background-color: var(--nsw-shade-light);
    top: 50%;
    margin-top: rem(-16px);
    left: 0;
    display: inline-block;
    vertical-align: middle;
    background-color: var(--nsw-shade-light);
    position: absolute;
  }

  &::after {
    content: '';
    position: absolute;
    width: rem(22px);
    height: rem(22px);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: rem(16px) auto;
    left: rem(5px);
    top: 50%;
    margin-top: rem(-11px);
  }
}

.nsw-form-checkbox__label {
  &::before {
    border-radius: var(--nsw-border-radius);
  }
}

.nsw-form-radio__label {
  &::before {
    border-radius: 50%;
  }

  &::after {
    border-radius: 50%;
  }
}

.nsw-form-helper {
  @include font-size('xs');
  display: block;
  margin-bottom: rem(4px);

  &--error {
    @include background-svg(error, var(--nsw-notification-error-red));
    @include nsw-spacing(padding, xs md xs xl);
    @include nsw-spacing(margin-top, xs);
    font-weight: var(--nsw-font-bold);
    background-repeat: no-repeat;
    background-position: left rem(8px) center;
    background-size: 1rem auto;
    background-color: var(--nsw-notification-error-red-bg);
  }
}

.nsw-form-fieldset {
  @include nsw-spacing(margin, none);
  @include nsw-spacing(padding, md none);
  border: 0;
  position: relative;

  legend {
    @include nsw-spacing(padding, none none md none);
    width: 100%;
    display: block;
    float: left;
  }

  &::after {
    @include z-index('below');
    border-radius: var(--nsw-border-radius);
    content: none;
    width: calc(100% + 18px);
    height: 100%;
    border: solid 2px var(--nsw-notification-error-red);
    position: absolute;
    top: 0;
    left: -9px;
  }

  &[aria-invalid='true'],
  &.has-error {
    &::after {
      content: '';
    }
  }

  @include breakpoint('md') {
    &[aria-invalid='true'],
    &.has-error {
      @include nsw-spacing(padding, md);

      &::after {
        content: '';
      }
    }

    &::after {
      width: 100%;
      left: 0;
    }
  }
}

.nsw-form-legend-text {
  @include font-size('lg');
  font-weight: var(--nsw-font-bold);
  width: 100%;
  display: block;
}

* + .nsw-form-group {
  @include nsw-spacing(margin-top, md);
  border: 0;
}

.nsw-form-search {
  display: flex;
  position: relative;

  &__input {
    @include font-size('sm');
    @include nsw-spacing(padding, sm md);
    border-radius: var(--nsw-border-radius);
    background-color: var(--nsw-shade-light);
    color: var(--nsw-text-dark);
    border: 1px solid var(--nsw-shade-dark-20);
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    vertical-align: middle;
    appearance: none;
    width: 100%;

    &:focus {
      @include nsw-focus($offset: false);
      @include z-index;
    }

    &:hover {
      @include nsw-hover;
    }
  }

  &__submit {
    @include nsw-spacing(padding, none sm);
    border-radius: var(--nsw-border-radius);
    border: 1px solid var(--nsw-shade-dark-20);
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    align-items: center;

    &:focus {
      @include nsw-focus($offset: false);
    }

    &:hover {
      @include nsw-hover;
    }
  }
}
