.nsw-form {
  @include nsw-spacing(margin-top, xxl);
  font-family: var(--nsw-font-family);

  &:first-child {
    margin-top: 0;
  }

  button,
  input,
  textarea,
  textfield,
  select {
    font-family: var(--nsw-font-family);
  }

  a {
    @include link;
  }

  &__group {
    @include nsw-spacing(margin-top, md);

    &:first-child {
      margin-top: 0;
    }
  }

  &__helper {
    @include font-size('xs');
    display: block;
    margin-bottom: rem(4px);

    &--error,
    &--valid {
      @include nsw-spacing(padding, xs md xs xl);
      @include nsw-spacing(margin-top, xs);
      font-weight: var(--nsw-font-bold);
      background-repeat: no-repeat;
      background-position: left rem(8px) top rem(8px);
      background-size: 1rem auto;
    }

    &--error {
      @include background-svg(error, var(--nsw-status-error-red));
      background-color: var(--nsw-status-error-red-bg);
    }

    &--valid {
      @include background-svg(tick, var(--nsw-status-info-blue));
      background-color: var(--nsw-status-info-blue-bg);
    }
  }

  &__label {
    @include font-size('sm');
    font-weight: var(--nsw-font-bold);
    display: block;

    &--small {
      font-weight: var(--nsw-font-normal);
    }

    + input,
    + textarea,
    + select {
      margin-top: rem(4px);
    }
  }

  &__required {
    &::after {
      content: ' *';
      color: var(--nsw-status-error-red);
    }
  }

  &__input,
  &__select {
    @include font-size('sm');
    @include nsw-spacing(padding, sm md);
    border-radius: var(--nsw-border-radius);
    font-family: var(--nsw-font-family);
    background-color: var(--nsw-shade-light);
    color: var(--nsw-text-dark);
    border: 1px solid var(--nsw-shade-dark-20);
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
    width: 100%;

    &:hover {
      @include nsw-hover;
    }

    &:focus {
      @include nsw-focus;
    }

    &:disabled {
      background-color: var(--nsw-shade-light-5);
      border-color: var(--nsw-shade-light-20);
      color: var(--nsw-shade-light-20);
      cursor: not-allowed;
    }


    &[aria-invalid='true'],
    &.has-error {
      border-color: var(--nsw-status-error-red);
      border-width: 2px;

      &:hover {
        background-color: var(--nsw-status-error-red-bg);
      }
    }
  }

  &__select {
    @include background-svg(chevron-down, var(--nsw-primary-dark));
    @include nsw-spacing(padding-right, xxl);
    background-repeat: no-repeat;
    background-position: right rem(16px) center;
    background-size: rem(16px) auto;

    &:disabled {
      @include background-svg(chevron-down, var(--nsw-shade-light-20));
    }

    option {
      background-color: var(--nsw-shade-light);
    }
  }

  &__input-group {
    display: flex;

    .nsw-form__input {
      border-right-width: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .nsw-button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 rem(36px);
      margin: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-width: 1px;
      white-space: nowrap;
    }

    .nsw-material-icons {
      display: block;
      color: var(--nsw-primary-dark);
    }

    &--icon {
      .nsw-button {
        padding: 0;
        min-width: rem(50px);
        border-color: var(--nsw-shade-dark-20);
        border-left-width: 0;

        &:hover {
          @include nsw-hover;
        }
      }
    }

    &--large {
      .nsw-form__input {
        @include nsw-spacing(padding, md);
      }

      .nsw-button {
        min-width: rem(58px);
      }
    }
  }

  &__predictive {
    position: relative;
  }

  &__predictive-list {
    @include z-index;
    border-radius: var(--nsw-border-radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: var(--nsw-shade-light);
    box-shadow: 0 4px 12px 0 rgba(var(--nsw-shade-dark-rgb), 0.15);
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: rem(50px);
    right: 0;
    left: 0;
    overflow: hidden;

    &--large {
      top: rem(58px);
    }

    li {
      padding: 0;
      margin: 0;
    }

    a:not([class]) {
      display: block;
      padding: rem(10px);
      color: var(--nsw-text-dark);

      &:hover {
        outline: none;
      }

      &:focus {
        outline-offset: -3px;
      }

      span {
        font-weight: var(--nsw-font-bold);
      }
    }
  }


  &__date {
    padding: 0;
    margin: 0;
    border: 0;

    &-wrapper {
      display: flex;
      width: 100%;
      margin: 0 rem(-8px);

      > div {
        padding: 0 rem(8px);
      }
    }

    &-input {
      width: rem(74px);

      &--large {
        width: rem(116px);
      }
    }
  }

  &__fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    /* autoprefixer: ignore next */
    display: contents;

    legend {
      @include nsw-spacing(margin, none none md none);
      padding: 0;
      display: block;
    }
  }

  &__legend {
    @include font-size('sm');
    font-weight: var(--nsw-font-bold);
    width: 100%;
    display: block;
  }

  &__checkbox-input,
  &__radio-input {
    position: absolute;
    opacity: 0;

    &:first-child + .nsw-form__checkbox-label,
    &:first-child + .nsw-form__radio-label {
      margin-top: 0;
    }

    &:hover + .nsw-form__checkbox-label::before,
    &:hover + .nsw-form__radio-label::before {
      @include nsw-hover;
    }

    &:checked + .nsw-form__checkbox-label::after {
      @include background-svg(tick, var(--nsw-text-light));
      background-color: var(--nsw-primary-dark);
    }

    &:checked + .nsw-form__radio-label::after {
      background-color: var(--nsw-primary-dark);
    }

    &:disabled {
      + .nsw-form__checkbox-label,
      + .nsw-form__radio-label {
        cursor: not-allowed;
      }

      + .nsw-form__checkbox-label::before,
      + .nsw-form__radio-label::before {
        border-color: var(--nsw-shade-light-20);
        background-color: var(--nsw-shade-light-5);
      }

      &:checked + .nsw-form__checkbox-label::after,
      &:checked + .nsw-form__radio-label::after {
        background-color: var(--nsw-shade-light-20);
      }
    }

    &:focus + .nsw-form__checkbox-label::before {
      @include nsw-focus;
    }

    &:focus + .nsw-form__radio-label::before {
      box-shadow: 0 0 0 3px var(--nsw-text-light), 0 0 0 6px var(--nsw-text-active);
    }

    &[aria-invalid='true'] + .nsw-form__checkbox-label,
    &.has-error + .nsw-form__checkbox-label {
      &:hover::before {
        background-color: var(--nsw-status-error-red-bg);
      }

      &::before {
        border-width: 2px;
        border-color: var(--nsw-status-error-red);
      }
    }
  }

  &__checkbox-label,
  &__radio-label {
    @include font-size('sm');
    @include nsw-spacing(margin, md none none none);
    padding: rem(4px) 0 rem(4px) rem(48px);
    min-height: rem(32px);
    display: block;
    position: relative;

    &::before {
      @include nsw-spacing(margin-right, md);
      content: '';
      width: rem(32px);
      height: rem(32px);
      border: 1px var(--nsw-shade-dark-20) solid;
      background-color: var(--nsw-shade-light);
      top: 0;
      left: 0;
      display: inline-block;
      vertical-align: middle;
      background-color: var(--nsw-shade-light);
      position: absolute;
    }

    &::after {
      content: '';
      position: absolute;
      width: rem(22px);
      height: rem(22px);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: rem(16px) auto;
      left: rem(5px);
      top: rem(5px);
    }
  }

  &__checkbox-label {
    &::before {
      border-radius: var(--nsw-border-radius);
    }
  }

  &__radio-label {
    &::before {
      border-radius: 50%;
    }

    &::after {
      border-radius: 50%;
    }
  }
}
