---
title: Header
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>The Masthead displays across the top of all NSW Government sites and clearly identifies your site as part of the NSW Government.</p>
<p>Depending on your Brand classification there are rules for which Masthead should be used:</p>

<h3>Masterbrand Level 1 and 2</h3>
<p>Masterbrand Level 1 and 2 must use the Default Masthead (Blue 01) to maintain a strong and consistent connection to NSW Government.</p>

<h3>Masterbrand Level 3 and Co-brand</h3>
<p>Masterbrand Level 3 and Co-brand is preferred to use the Default, however a Light Masthead (Off-white) is available if Blue 01 is not suitable to use with your Brand Colours.</p>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>
