---
title: Header
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>The Masthead displays across the top of all NSW Government sites and clearly identifies your site as part of the NSW Government. The Masthead component includes a Skip Link accessibility feature that allows users to jump to the main content of the page.</p>

<p>Depending on your Brand classification there are rules for which Masthead should be used:</p>

<h3>Masterbrand corporate</h3>
<p>Masterbrand corporate must use the Default Masthead (Blue 01) to maintain a strong and consistent connection to NSW Government.</p>

<h3>Masterbrand non-corporate and co-brand</h3>
<p>Masterbrand non-corporate and co-brand is preferred to use the Default, however a Light Masthead (Off-white) is available if Blue 01 is not suitable to use with your Brand Colours.</p>

<h3>Skip Link</h3>

<p>The Skip Link component helps keyboard-only and screen-reader users skip to the main content on a page, this includes skipping over the header and navigation. The Skip Link is visually hidden until a keyboard press focuses and activates it.</p>

<p><strong>Important:</strong> The Skip Link component should be at the top of the page as the first interactive child. There is no special logic to make the skip link the first focussable element. This comes from its position in the DOM.</p>

<p>The component becomes visible when in focus. To display it, press the Tab key (or swipe right if you've enabled the accessibility features of your phone).</p>

<h2>Accessibility</h2>
<p>All components are responsive and designed to comply with WCAG 2.2 AA accessibility standards, except where compliance is achieved through correct usage and configuration.</p>
