@use 'sass:map';
@use '../../global/scss/base/mixins' as mixins;
@use '../../global/scss/base/functions' as functions;
@use '../../global/scss/settings/palette' as palette;

.nsw-skip {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  a {
    background-color: var(--nsw-brand-dark);
    color: var(--nsw-white);
    width: 100%;
    text-decoration: none;
    padding: functions.rem(8px) functions.rem(16px);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-101%);

    @include mixins.z-index('middle');
    @include mixins.font-size('xxs');
    
    &:focus {
      transform: translateY(0);
      outline: none;

      span {
        @include mixins.nsw-focus($color: var(--nsw-white));
      }
    }

    @include mixins.breakpoint('lg') {
      text-align: left;
    }
  }

  &--light {
    a {
      background-color: var(--nsw-off-white);
      color: var(--nsw-palette-grey-900);

      &:focus span {
        @include mixins.nsw-focus();
      }
    }
  }
}

.nsw-masthead {
  padding: functions.rem(8px) 0;
  background-color: var(--nsw-brand-dark);
  color: var(--nsw-white);

  @include mixins.font-size('xxs');

  &--light {
    background-color: var(--nsw-off-white);
    color: var(--nsw-palette-grey-900);
  }
}
