{{#unless simple}}
<nav class="nsw-skipto{{#if masthead-theme}} nsw-skipto--{{masthead-theme}}{{/if}}" aria-label="Skip to links">
  <a class="nsw-skipto__link" href="{{#if nav}}{{nav}}{{/if}}"><span>Skip to navigation</span></a>
  <a class="nsw-skipto__link" href="{{#if content}}{{content}}{{/if}}"><span>Skip to content</span></a>
</nav>
{{/unless}}
<div class="nsw-masthead{{#if masthead-theme}} nsw-masthead--{{masthead-theme}}{{/if}}">
  <div class="nsw-container">
    <p>A NSW Government website</p>
  </div>
</div>
