@use 'sass:map';
@use '../../global/scss/tools' as nsw;

.nsw-skip {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;

  a {
    background-color: var(--nsw-brand-dark);
    color: var(--nsw-white);
    inline-size: 100%;
    text-decoration: none;
    padding: nsw.rem(8px) nsw.rem(16px);
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    transform: translateY(-101%);

    @include nsw.z-index('middle');
    @include nsw.font-size('xxs');
    
    &:focus {
      transform: translateY(0);
      outline: none;

      span {
        @include nsw.nsw-focus($color: var(--nsw-white));
      }
    }

    @include nsw.breakpoint('lg') {
      text-align: start;
    }
  }

  &--light {
    a {
      background-color: var(--nsw-off-white);
      color: var(--nsw-text-dark);

      &:focus span {
        @include nsw.nsw-focus();
      }
    }
  }
}

.nsw-masthead {
  padding: nsw.rem(8px) 0;
  background-color: var(--nsw-brand-dark);
  color: var(--nsw-white);

  @include nsw.font-size('xxs');

  &--light {
    background-color: var(--nsw-off-white);
    color: var(--nsw-text-dark);
  }
}
