---
title: Masthead
tabs: true
directory: masthead
core: true
intro: The NSW Government network masthead displays across the top of all NSW Government sites. It helps users see which service they are using. 
figma: https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=21298%3A22123
react: https://digitalnsw.github.io/nsw-design-system-react/?path=/docs/templates-header--without-search
meta-description: The NSW Government network masthead displays across the top of all NSW Government sites. It helps users see which service they are using.
meta-index: true
---

<h3>Default</h3>
{{#>_docs-example}}{{>_masthead content="#" nav="#"}}{{/_docs-example}}
<h3>Light</h3>
{{#>_docs-example}}{{>_masthead content="#" nav="#" masthead-theme="light"}}{{/_docs-example}}